/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2015, 1:11:17 PM
    Author     : Roni Pinili
*/
@import "utilities";
.fl-new-request-form{
    
    .fl-generic-control {
        position: fixed;
        top: 90px;
        left: 0px;
        z-index: 2;
    }

    .fl-content {
        top: 85px; //!important
    }

    .fl-user-navigation-wrapper {
        top:85px !important;
        z-index: 2;
    }

}
.fl-submitted-view-request-form {
    
    .fl-generic-control {
        position: fixed;
        top: 124px;
        left: 0px;
        z-index: 2;
    }

    .fl-user-navigation-wrapper {
        top:120px !important;
        z-index: 2;
    }

    .fl-content {
        top: 120px; //!important
    }
}

.fl-generic-control {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #CFDBE2;


    .fl-generic-control-innner {
        @include padding(5px, 5px, 5px, 5px);
        @extend %box_sizing_border_box;
        @extend %fL;
        @include pos-rel(auto, auto, auto, auto);
        border-right:1px solid #CFDBE2;
        height:45px;
        overflow: hidden;
    }

    #fl-default-action {
        width: 255px;
        #fl-default-action-inner {
            li {
                @extend %fL;
                @include margin(0px, 6px, 4px, 6px);
                a {
                    color:#222;
                }
            }
        }
    }

    #fl-links-option-inner {
        li {
            @include margin(0px, 6px, 4px, 0px);
            border-bottom: 1px dashed #CFDBE2;
            padding-bottom: 3px;
            a {
                color:#222;

            }
        }
    }

}


