 body {
font: 13px/20px "open_sansregular", Tahoma, Verdana, sans-serif;
color: #404040;
-webkit-font-smoothing: antialiased;
font-size: 14px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(240,237,240,1)), color-stop(100%, rgba(209,207,209,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cfd1', GradientType=1 );

}


.container {
margin: 80px auto;
width: 640px;
}

.login {
position: relative;
margin: 0 auto;
padding: 20px 20px 20px;
width: 310px;
background: white;
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
content: '';
position: absolute;
top: -8px;
right: -8px;
bottom: -8px;
left: -8px;
z-index: -1;
background: rgba(0, 0, 0, 0.08);
border-radius: 4px;
}
.login h1 {
margin: -20px -20px 21px;
line-height: 40px;
font-size: 19px;
font-weight: bold;
color: #555;
text-align: center;
text-shadow: 0 1px white;
background: #f3f3f3;
border-bottom: 1px solid #cfcfcf;
border-radius: 3px 3px 0 0;
background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
-webkit-box-shadow: 0 1px whitesmoke;
box-shadow: 0 1px whitesmoke;
}
.login p {
margin: 20px 0 0;
}
.login p:first-child {
margin-top: 0;
}
.login input[type=text], .login input[type=password] {
width: 278px;
}
.login p.remember_me {
float: left;
line-height: 31px;
}
.login p.remember_me label {
font-size: 12px;
color: #777;
cursor: pointer;
}
.login p.remember_me input {
position: relative;
bottom: 1px;
margin-right: 4px;
vertical-align: middle;
}
.login p.submit {
text-align: right;
}



.login-help {
margin: 20px 0;
font-size: 11px;
color: white;
text-align: center;
text-shadow: 0 1px #2a85a1;
}
.login-help a {
color: #cce7fa;
text-decoration: none;
}
.login-help a:hover {
text-decoration: underline;
}

:-moz-placeholder {
color: #c9c9c9 !important;
font-size: 13px;
}

::-webkit-input-placeholder {
color: #ccc;
font-size: 13px;
}

input {
font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
font-size: 14px;
}


input[type=text], input[type=password] {
height: 25px;
border-radius: 3px;
background-color: #ececec;
padding-left: 5px;
-webkit-box-shadow: inset 0px 1px 2px #bbbbbb;
box-shadow: inset 0px 1px 2px #bbbbbb;
border: none !important;
margin-bottom: 12px;
width:98%;
}

input[type=submit] {
 margin-top: 10px; 
padding: 0 18px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: #527881;
text-shadow: 0 1px #e3f1f1;
background: #cde5ef;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 5px;
outline: 0;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
background: #cde5ef;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
line-height: 34px;
}

label {
font-size: 12px;
font-weight: bold;
} 

#header-wrapper {
    width: 100%; height: 100px; background-color: #1f1f1f; border-bottom: 2px solid #1A1919; 
}

#logo-wrapper {
     height: 100%;
     width: 300px;
     background-image: url(images/logoblue.jpg);
     margin: 0 auto !important;
     float: none;
}

#footer{
     width: 100%;
height: 30px;
background-color: #1F1F1F;
border-top: 2px solid #1A1919;
text-align: center;
font-size: 12px;
line-height: 30px;
position: fixed;
bottom: 0px;
color: #ffffff;
}

.effect6 {
     position: relative;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after {
content: "";
position: absolute;
z-index: -1;
-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
-moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
box-shadow: 0 0 20px rgba(0,0,0,0.8);
top: 50%;
bottom: 0;
left: 10px;
right: 10px;
-moz-border-radius: 100px / 10px;
border-radius: 100px / 10px;
}

#active_d_wrapper {
     height: 200px;
     width: 420px;
     background-color:#ffffff;
     margin: 0 auto;
     border-radius: 10px;
     -webkit-border-radius:10px;
     -moz-border-radius:10px;
}

#active_d_wrapper h3 {
     font-size: 19px;
     text-align: center;
     color: #ffffff;
     background-color: #1f1f1f;
     padding: 10px;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-top-right-radius: 10px;
     -moz-border-top-left-radius: 10px;
     -moz-border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}

#guest_password {
     background: #62f700;
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
     background: -moz-linear-gradient(top, #62f700 0%, #53a000 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62f700), color-stop(100%,#53a000));
     background: -webkit-linear-gradient(top, #62f700 0%,#53a000 100%);
     background: -o-linear-gradient(top, #62f700 0%,#53a000 100%);
     background: -ms-linear-gradient(top, #62f700 0%,#53a000 100%);
     background: linear-gradient(to bottom, #62f700 0%,#53a000 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62f700', endColorstr='#53a000',GradientType=0 );
     color: #ffffff;
     box-shadow: none;
     padding: 5px;
     height: 34px;
     width: 100px;
     float: right;
     cursor: pointer;
     font-size: 15px;
      border-radius: 3px;
     -webkit-border-radius:3px;
     -moz-border-radius:3px;
}

 #ad_reg, #ad_cancel{
  background: #62f700; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyZjcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2EwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #62f700 0%, #53a000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62f700), color-stop(100%,#53a000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #62f700 0%,#53a000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #62f700 0%,#53a000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #62f700 0%,#53a000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #62f700 0%,#53a000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62f700', endColorstr='#53a000',GradientType=0 ); /* IE6-8 */
  color: #ffffff;
  box-shadow: none;
  padding: 5px;
  height: 34px;
  width: 100px;
  float: right;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px;
}