

.annotation-bg{
        position: absolute;
    z-index: 11;
        background-color: #6E6E77;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.wPaint-menu{
	background-color: #4AB1B8;
}

.wPaint-theme-standard .wPaint-menu-select{
	    background-color: #4AB1B8;
}
.wPaint-menu-name-text .active{
	background-color: #8B8B92;
}
    