body {
	/*overflow-x:hidden;
	overflow-y:auto;*/
	font-family: droid_sansregular;
	overflow:hidden;
}

#fl-ui-login-header-wrapper {
	width: 100%;
	height: auto;
	background-color:#1f1f1f;
	border-bottom:2px solid #1A1919;
}

.fl-ui-login-banner {
	width: 100%;
	height: 349px;
	background-position: 524px 0px;
	background-color: #2f2f2f;
	background-repeat: no-repeat;

}



.fl-ui-login-inner {
	max-width: 1024px;
	margin: 0 auto;	
	color:#ffffff;
}

#automate {
	font-size: 21px;
	font-style: italic;
	font-family: droid_sansregular;
}

#simpleForms {
	color: #ffffff;
}

#businessAuto li {
  	margin-top: 8px;
  	line-height: 17px;
  	font-size: 14px;
}

#businessAuto li:before {
	content: "•";
	color: #FC6B08;
	margin-right: 8px;
}

.theme-color-orange {
	color: #FC6B08;
}

#fl-ui-login-header-inner, #banner-content-wrapper, #registration-content-wrapper{
	max-width: 1024px;
	height: 100%;
	margin: 0 auto; 
	font-size: 14px;
	line-height: 20px;
	position: relative;
/*	padding-top: 10px;
	padding-bottom: 10px;*/
	box-sizing:border-box;
}

/* reset from defaut styling */
.fl-ui-login-input-wrapper  input[type="text"], .fl-ui-login-input-wrapper input[type="password"], .fl-ui-login-input-wrapper input[type="submit"] {
	width: auto;
	height: auto;
	border:none;
	padding: 0px;
	float: none;

}

.fl-ui-login-input-wrapper  input[type="text"]{
	width: 100%;
  	padding: 5px;
}
.fl-ui-login-input-wrapper input[type="password"]  {
	width: 77%;
  	padding: 5px;
}

.fl-ui-login-input-wrapper input[type="submit"] {
	padding: 3px;
	border-radius: 3px;
	width: 21%;
}

.fl-ui-login-input-wrapper p {
	font-size: 12px;
	color:#ffffff !important;
	margin-top: 3px;
}

 .fl-ui-login-input-wrapper a {
 	color: #4f4f4f !important;
 	font-size: 12px;
 }

.login-banner-img {
	width: 564px;
 	height: 444px;
 	opacity: 0;
 	background-image: url('images/loginupdatebanner2.png');
}

.logo-large {
	  margin-top: 60px;
}

@media only screen and (max-width: 1024px) {
	.login-banner-img, #fl-ui-login-banner-gs3-display, .login-logo {
		display: none;
	}

	.fl-ui-login-inner, .login-logo {
		text-align: center;
	}



/*	.fl-ui-login-input-wrapper input[type="submit"] {
		width: 22%;
	}*/

}

@media only screen and (max-width: 768px){
	#businessAuto li {
		font-size: 11px;
	}

	.fl-ui-login-banner {
		padding: 10px;
		box-sizing:border-box;
	}

	.logo-large {
	  margin-top: 0px;
}

}


#fl-ui-login-footer-wrapper {
	  width: 100%;
  height: 30px;
  background-color: #1F1F1F;
  border-top: 2px solid #1A1919;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  position: fixed;
  bottom: 0px;
  color: #ffffff;
}

#fl-ui-login-footer-wrapper p {
	margin: 0 auto;
}


#fl-ui-login-banner-gs3-display {
	background-image: url(images/logodisplay2.png);
	width: 655px;
	height: 174px;
	opacity: 0;
}

/* Register user*/

#registration-wrapper {
	width: 100%;
	height: 281px;
	background-color: #ffa300;
	margin-top: 165px;
	border-top: 5px solid #2f2f2f;
	background-image: url(images/radialbg-orange.png);
	background-position: 264px 0px;
	background-repeat: no-repeat;
}

#registration-content-wrapper h2 {
	font-size: 40px;
	font-family: calibri;
	font-style: italic;
	font-weight: bold;
	background-color: #2f2f2f;
	padding: 14px 14px;
	max-width: 520px;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: -36px;
	color: #ffffff;
	text-shadow: 1px 1px 0px #222222;
	/*cursor: pointer;*/
	text-decoration: none;
}

#registration-content-wrapper > h2 > a {
	text-decoration: none;
	color: #ffffff;
}

#registration-content-wrapper > h2 > a:hover {
	color: #ffbd00;
}

#registration-fullheight-wrapper {
	height: 580px;
	/*display: none;*/
}

#sign-up-form-wrapper {
	width: 420px;
	height: 300px;
	background-image: url(images/landing-page-formbg.png);
	margin: 0 auto;
	/*margin-top: 30px;*/
	padding: 25px 25px;
}

#sign-up-form-wrapper h3 {
	font-size: 25px;
	text-align: center;
	color: #ffbd00;
}

#sign-up-form-wrapper form {
	padding-top: 45px;
	color: #222;
	font-family: calibri, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#sign-up-form-wrapper input {
	height: 25px;
	width: 98%;
	border-radius: 3px;
	background-color: #ececec;
	padding-left: 5px;
	-webkit-box-shadow: inset 0px 1px 2px #bbbbbb;
	box-shadow: inset 0px 1px 2px #bbbbbb;
	border:none;
	margin-bottom: 12px;
}

#company_name {
	width: 98.8% !important;
}

#sign-up-form-wrapper #inputs-left  {
	width: 205px;
	float: left;
}

#sign-up-form-wrapper #inputs-right  {
	width: 205px;
	float: right;
}

#sign-up-form-wrapper #regUser {
	background: #62f700; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyZjcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2EwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #62f700 0%, #53a000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62f700), color-stop(100%,#53a000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #62f700 0%,#53a000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #62f700 0%,#53a000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #62f700 0%,#53a000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #62f700 0%,#53a000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62f700', endColorstr='#53a000',GradientType=0 ); /* IE6-8 */
	color: #ffffff;
	box-shadow: none;
	padding: 10px;
	height: 40px;
	width: 100px;
	float: right;
	cursor: pointer;
	font-size: 16px;

}

#sign-up-form-wrapper #regUser:hover {
	-webkit-box-shadow: inset 0px 1px 2px #222222;
	box-shadow: inset 0px 1px 1px #222222;
	color: #222222;
}

.required-field {
	color: #f00;
}