.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}
/* formalistics styles */

body {


	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(240,237,240,1)), color-stop(100%, rgba(209,207,209,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(240,237,240,1) 47%, rgba(209,207,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cfd1', GradientType=1 );
	font-family:arial, sans-serif !important;
	color: #ffffff;*/
}

html, body {
  height: 100%;
}

#body-wrapper {
	width:100%;
	height: 100%;
}


#custom-login-header-wrapper {
	
	height: 90px;
	width: 100%;	

	
	height: 100px;
	  background: #972e3f;
	
	border-bottom:2px solid #cccccc;

}

#main-wrapper {
	/*min-height: 100%;
	margin-bottom: 30px;*/
}

#main-wrapper:after {
	content: "";
}


/*// ervinne - removed p (#custom-login-header-content-wrapper, p)*/
#custom-login-header-content-wrapper{
	max-width: 1024px;
	height: 100%;
	margin: 0 auto; 
	font-size: 14px;
	/*line-height: 20px;*/
	position: relative;
}

.custom-login-banner {
	background: url(customloginimages/eton/etonloginbg.jpg) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /* background-position: 0px -200px; */
  /* background-position: 1px -130px; */
  width: 100%;
  height: 350px;
  height: 543px;
  background-color: #ffffff;
}

#custom-login-logo-wrapper {
	height: 100%;
	width: 300px; 
	background-image: url("customloginimages/eton/eton.png");
	background-repeat: no-repeat;
	float: left;

}

#custom-login-login-wrapper {
	width: 450px;
	float: right;
	font-family: calibri, arial, sans-serif;
	font-size: 14px;
	color: #ffffff;

	padding-top: 18px;

	line-height: normal;

}


#custom-login-login-email-wrapper {
	width: 190px;
	height: 100%;
	float: left;
}

#custom-login-login-email-wrapper p, #custom-login-login-pw-wrapper p {

	color:#ffffff;

}

#custom-login-login-email-wrapper input, #custom-login-login-pw-wrapper input {
	width: 178px;
	height: 25px;
	border-radius: 3px;
	border: none; margin-top: 5px;
	padding-left: 5px;
	float: left;
	font-size: 10px;
	outline: none;
	-webkit-box-shadow: inset 0px 1px 2px #222222;
	box-shadow: inset 0px 1px 2px #222222;

}


#custom-login-login-pw-wrapper .submit {
	
	
	
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 70px;
  height: 29px;
  float: right;
  color: #fff;
  margin-left: 2px;
  background: #722323;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #722323 0%, #9e314a 50%, #aa3448 57%, #96515b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#722323), color-stop(50%,#9e314a), color-stop(57%,#aa3448), color-stop(100%,#96515b));
  background: -webkit-linear-gradient(top, #722323 0%,#9e314a 50%,#aa3448 57%,#96515b 100%);
  background: -o-linear-gradient(top, #722323 0%,#9e314a 50%,#aa3448 57%,#96515b 100%);
  background: -ms-linear-gradient(top, #722323 0%,#9e314a 50%,#aa3448 57%,#96515b 100%);
  background: linear-gradient(to bottom, #722323 0%,#9e314a 50%,#aa3448 57%,#96515b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722323', endColorstr='#96515b',GradientType=0 );
  border: 1px solid #722323;
  padding: 0px;
  cursor: pointer;
  outline: none!important;
  margin-top: 4px;
  box-shadow: none;
  line-height: 1px;


}

#custom-login-login-pw-wrapper .submit:hover {
		
	background: #a83434;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #a83434 0%, #ad3535 50%, #843f36 51%, #722323 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a83434), color-stop(50%,#ad3535), color-stop(51%,#843f36), color-stop(100%,#722323));
  background: -webkit-linear-gradient(top, #a83434 0%,#ad3535 50%,#843f36 51%,#722323 100%);
  background: -o-linear-gradient(top, #a83434 0%,#ad3535 50%,#843f36 51%,#722323 100%);
  background: -ms-linear-gradient(top, #a83434 0%,#ad3535 50%,#843f36 51%,#722323 100%);
  background: linear-gradient(to bottom, #a83434 0%,#ad3535 50%,#843f36 51%,#722323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a83434', endColorstr='#722323',GradientType=0 );
  border: 1px solid #722323;
}

}

#forgot-pw a, #forgot-pw a {
	float: right;
	margin: 4px;
	color: #ffffff !important;
	font-size: 13px;
	text-decoration: none;	
}

input:focus, select:focus, textarea:focus {
    outline-style: none !important ;
    outline-color: none !important;
    outline-width: none !important;
}	



#custom-login-footer {
	width: 100%;
	height: 30px;
	background-color: #972E3F;
  border-top: 2px solid #972E3F;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	position: fixed;
	bottom: 0px;
}

#custom-login-footer, #main-wrapper:after {
	height: 30px;
}
.clear {
	clear:both;
}

.theme-color-orange {
	color:#36A9E1;
}


.textInfo {
	margin-top: 5px;
}



@media only screen and (max-width:568px) {
	#custom-login-logo-wrapper {
		float:none;
		margin: 0 auto;
	}



	body {
		background: #ffffff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		

	}

	#custom-login-login-wrapper {
		margin: 0 auto;
		margin-top: 30px;
		float:none;
	}
}


	#custom-login-header-content-wrapper {
		padding: 0px 20px;
	} 



 }

