/* Faq */


    .faq{ position: relative; padding: 10px;}
        .faq .item{border-bottom: 1px dashed #D5D5D5; border-top: 1px dashed #FFF; padding: 10px 5px;}
            .faq .item:first-child{border-top: 0px;}
            .faq .item:last-child{border-bottom: 0px;}
            
            .faq .item .title{font-size: 14px; color: #86a018; display: block; cursor: pointer; text-shadow: 1px 1px 0px #FFF; font-family: "open_sansregular" !important;}
            .faq .item .text{font-size: 12px; color: #333; padding-left: 10px; display: none; font-family: "open_sansregular" !important;}
                .faq .item .text p{margin: 5px 0px; font-family: "open_sansregular" !important; line-height: 19px;}
            .item:nth-child(odd) { background: #F1F1F1; }    
/* Faq */

/* Toolbar */
            .toolbar{padding: 3px 0px 3px; position: relative; border-bottom: 1px solid #D5D5D5;}
                .toolbar .left{float: left; display: block;}
                .toolbar .right{float: right; display: block;}
                .toolbar .pagination{margin: 2px 0px 0px; line-height: 16px;}
                .nm{margin: 0px !important;}
                .toolbar .note{margin-top: 3px; font-style: italic;}
            .bottom-toolbar{border-top: 1px solid #D5D5D5; border-bottom: 0px;}
            .nopadding-toolbar{padding: 0px;}
                .toolbar h4{background-color: #2C3A42; color: #ffffff; font-size: 15px; margin: 0px; padding: 8px 10px;}
                .toolbar.clear{border: 0px;}
            /* Toolbar */
            
                         .headInfo{background-color: #F1F1F1; border: 1px solid #D5D5D5; padding: 5px; position: relative;
                                          -moz-border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
                                          -moz-border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;}            
             .headInfo .arrow_down{width: 17px; height: 12px; position: absolute; left: 50%; margin-left: -9px; bottom: -12px; background: url('/images/themes/menu-arrow-down.png') left top no-repeat; z-index: 1;}            
                 .headInfo .image{margin: 0px 10px 5px 5px; float: left;}                
                     .headInfo .image a{display: block; font-weight: bold; text-align: center;}
                 .headInfo .info{float: left; font-size: 11px; color: #333;}
                     .headInfo .info address{margin-bottom: 0px;}                    
                     .headInfo .input-append{text-align: right;}                    
                     .headInfo .input-append,
                     .headInfo .input-append button{margin-bottom: 1px;}                                        
                     .headInfo .actions{text-align: right; margin: 5px 0px 0px;}
                         .headInfo .actions .btn-group .btn{margin: 0px;}
                         
/* LIST */
            .withList{padding-top: 5px;}
            ul.list{list-style: none; padding: 0px; margin: 0px; position: relative; float: none;}
                ul.list li{padding: 8px 5px 8px 45px; color: #333; border-top: 1px solid #FFF; border-bottom: 1px solid #D9D9D9; position: relative; font-size: 12px;}
                ul.list.nol li{padding: 8px 10px;}
                    ul.list li:first-child{border-top: 0px;}
                    ul.list li:last-child{border-bottom: 0px;}
                    ul.list li span.date{font-size: 11px; color: #666; display: block; position: absolute; left: 5px; top: 5px; width: 30px; line-height: 12px; text-align: center;}
                        ul.list li span.date b{color: #2E801E; display: block;}
                        
                                    .block,.block-fluid{border: 1px solid #ccc; border-top: 0px; background-color: #F9F9F9; margin-bottom: 20px;
                    -moz-border-bottom-left-radius: 3px; -moz-border-bottom-right-radius: 3px;
                    -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px;
                    -o-border-bottom-left-radius: 3px; -o-border-bottom-right-radius: 3px;
                    -ms-border-bottom-left-radius: 3px; -ms-border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
            .block-fluid.without-head,
            .block.without-head{-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border-top: 1px solid #ccc; border-bottom: 3px solid #D6D6D6; }
            .block{padding: 10px;}
.tar {
    padding: 10px 0px;
}            
