@import "annotation.css";
[print-form="true"] .loaded_form_content .getFields[readonly]{
    background-color: #ffffff !important;
}
[print-form="true"] .loaded_form_content .getFields{
    border: none !important;
    color: black !important;
    font-weight: bold;
}
[print-form="true"][print-form-id="141"] .loaded_form_content [data-type="createLine"].getFields:not([id="getFields_3785"]){
    height: 0.5px;
    border:none;
    border-top: 2px dashed black !important;
    border-bottom: 2px dashed black !important;
    background-color:initial !important;
}
[print-form="true"]{
    background-color: rgba(0,0,0,0) !important;
}
[print-form="true"] body{
    background-color: rgba(0,0,0,0) !important;
}
[print-form="true"] body .loaded_form_content{
    border: none !important;
}
/* UPGRADES ON THE NAVIGATION OF FORMALISTICS... THE NAVIGATION MUST NOT HIDE INSTANTLY */
ul.fl-infinite-nav-sub{
     display: block; 
    -webkit-transition: 1000ms ease;
    -moz-transition: 1000ms ease;
    -o-transition: 1000ms ease;
    transition: 1000ms ease;
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    width: 200px;
    top: -1px;
    left: 100%;
    opacity: 0;
}
#fl-infinite-nav li:hover > .fl-infinite-nav-sub{
    display: block; 
    position: absolute;
    width: 200px;
    top: -1px;
    left: 100%;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
}


/*.preview_content #frmrequest .loaded_form_content :not(.getFields),
.preview_content #frmrequest .loaded_form_content :not([contenteditable="true"]){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
/*.fl-main-container > .fl-user-wrapper{
	top:0px !important;
}*/

/* ===== General ===== */
.setObject .input_position_below input[data-type="double"], .setOBJ .input_position_below input[data-type="double"]{
    text-align: right;
}

/* ===== Lists ===== */

.list ul, .list ol { padding: 0; }
.list ul { margin: 0 0 0 15px; list-style-type: disc; }
.list ol { margin: 0 0 0 15px; list-style-type: decimal; }
.list ul ul, .list ol ul { list-style-type: circle; }
.minus-list li:before { content: '-'; display: inline-block; padding: 0 8px 0 0; color: #999; }
.arrow-list li { background: url(../img/elements/interface/list_arrow.png) no-repeat 0 7px; padding: 0 0 0 12px; }
.check-list li { background: url(../img/elements/interface/list_tip.png) no-repeat 0 5px; padding: 0 0 0 18px; }
.plus-list li:before { content: '+'; display: inline-block; float: left; padding: 0 8px 0 0; color: #999; }
.minus-list ul, .plus-list ul { margin-left: 12px; }
.list-font li [class^="icon-"], .list-font li [class*=" icon-"] { margin-top: 2px; }


.setOBJ[data-type="noteStyleTextarea"] .content-editable-field{
    word-wrap: break-word;
}
.setOBJ[data-type="noteStyleTextarea"] .cefb-corner-top-left{
    background-image: url(../../../images/icon/cornerBorder2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    -/*webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);*/
}
.setOBJ[data-type="noteStyleTextarea"] .cefb-corner-bottom-right{
    background-image: url(../../../images/icon/cornerBorder2.png);
    background-repeat: no-repeat;
    background-position: -3px -3px;
    width: 9px;
    height: 9px;
    position: absolute;
    right: -1px;
    bottom: -1px;
    z-index: 1;
    /*-webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);*/
}
.td-relative .setOBJ[fluid-container-cell="Yes"]{
    position: relative !important;
}

/*TAB PANEL DESIGN*/
.setObject[data-type="tab-panel"]{
    /*font:normal normal normal 15px/15.399999618530273px Verdana, Arial, sans-serif;*/
}
.setObject[data-type="tab-panel"] li.ui-state-active{
    border: 1px solid #cccccc !important;
    border-bottom-width: 0 !important;
}

.setOBJ[data-type="tab-panel"] .ui-tabs-panel[role="tabpanel"]{
    /*font-size: 13px;*/
    /*font:normal normal normal 15px/15.399999618530273px 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;*/
}
.setOBJ[data-type="tab-panel"] .ui-tabs-panel[role="tabpanel"]{
    /*font-size: 13px;*/
    /*font:normal normal normal 15px/15.399999618530273px 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;*/
}

.ui-tabs-nav > li[tab-name]{
    width: auto !important;
}

/*TAB PANEL SCROLLABLE NAV*/

.setOBJ[data-type="tab-panel"] .ui-tabs-nav li,
.setObject[data-type="tab-panel"] .ui-tabs-nav li{
    -/*o-border-top-left-radius: 10px !important;
    -o-border-top-right-radius: 10px !important;

    -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;

    -moz-border-top-left-radius: 10px !important;
    -moz-border-top-right-radius: 10px !important;

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;*/

}

.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"]{
    display:inline-block;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 19px;
    margin-right: 22px;
    height: 37px;
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%) !important; /* FF3.6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)) !important; /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%) !important; /* Chrome10,Safari5.1 */
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%) !important; /* Opera 11.10 */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%) !important; /* IE10 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ) !important; /* IE6-9 */

}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav li:not(.ui-tabs-active):not(.ui-state-active){
    background: rgba(0,0,0,0) !important;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav li.ui-tabs-active{
    outline: 1px solid #f2f2f2 !important;
    box-shadow: 0px 0px 1px black;
}


.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav li{
    float: none;
    text-align: left;
    display: inline-block;
    bottom: -4px;
    
}

.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .form-tabbable-pane[has-scroll="true"]  .ui-tabs-nav{
    margin-left: 19px;
    margin-right: 22px;
    overflow-x: hidden;
}
.setOBJ[data-type="tab-panel"] .ul-scroll-anchor{
    height: 0px;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor{
    position: absolute;
    width: calc(100% - 8px);
    height: 0px;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor .ul-scroll-anchor-bg{
    /*background-color: #6e6e6e;*/
    display: inline-block;
    height: 41px;
    width: 100%;
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%) !important;
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%) !important;
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%) !important;
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ) !important;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor .scroll-achor-left{
    width: 20px;
    height: 41px;
    background-color: rgba(0,0,0,0);
    /*background-color: #6e6e6e;*/
    float: left;
    display: none;
    padding: 13px 6px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    cursor: pointer;

}

.ul-scroll-anchor .scroll-achor-left > i, .ul-scroll-anchor .scroll-achor-right > i {
    font-size: 15px;
    color: rgb(146, 146, 146);
}
.ul-scroll-anchor .scroll-achor-left:hover > i, .ul-scroll-anchor .scroll-achor-right:hover > i{
    color: white;
    text-shadow: 0px 0px 5px black;
}

.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .form-tabbable-pane[has-scroll="true"] > .ul-scroll-anchor .scroll-achor-left{
    display:block;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor .scroll-achor-right{
    width: 20px;
    height: 41px;
    background-color: rgba(0,0,0,0);
    /*background-color: #6e6e6e;*/
    float: right;
    display: none;
    padding: 13px 5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    cursor: pointer;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .form-tabbable-pane[has-scroll="true"] > .ul-scroll-anchor .scroll-achor-right{
    display: block;
}

ul.ui-tabs-nav li.ui-state-active{
    /*height: 35px !important;
    background-color: red !important;*/
}

.display2{
    display: none !important;
}

.cursor{
    cursor: pointer;
}

input[class^="input-"],
input[class*="input-"]{
    /*color: black;*/
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    /*box-shadow: 0 0 0 2px #F4F4F4;
    -webkit-box-shadow: 0 0 0 2px #F4F4F4;
    -moz-box-shadow: 0 0 0 2px #f4f4f4;*/
    /*color: #656565;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #D5D5D5;
    padding: 7px;
}

.input-small {
    border: 1px solid #D5D5D5;
    height: 30px;
    width: 30%;
    overflow: hidden;
    resize: none;
    padding: 5px;
}

.hr {
    clear: both;
    padding: 0;
    margin: 0 0 1em;
    height: 6px;
    background: rgba(0, 0, 0, 0) url("/images/themes/hr-bg.gif") repeat-x 0 0;
}
/* ========== Dialog Box ========== */
#popup_container {
    height: auto!important;
    background: #F7F7F7;
    background: -moz-linear-gradient(top, #FFF 0%, #F7F7F7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F7F7F7));
    background: -webkit-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    background: -o-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    background: -ms-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    background: linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    font-family:'Lucida Grande',arial;
    /*#font-weight:bold;*/
    text-align:left;
    font-size: 12px;
    /*#width: 364px;*/
    width: 410px;
    -moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 5px solid rgba(0,0,0,0.3);
    overflow-y: auto;
    color: #000;
    /*overflow: hidden;*/
    overflow: visible;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

#popup_title {
    display:none;
}
#popup_message {
	padding: 15px;
    color: #222222;
}

#popup_panel {
    text-align: left;
	padding-left:15px;
	/*#margin-bottom: 5px;*/
	background-color: #E7E7E7;
	padding: 5px;
}

.display{
    display: none;
}

/* Post page
================================================== */
.post {
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-top-color: #E5E6E9;
    border-right-color: #DFE0E4;
    border-left-color: #DFE0E4;
    background-color: #F0F0F0;
    border-bottom:2px solid #D0D1D5;
    padding: 10px !important;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.reply {
   /* background-color: #E2DFDF;*/
    padding: 5px;
     border-radius: 3px;
    /*border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-top-color: #E5E6E9;
    border-right-color: #DFE0E4;
    border-left-color: #DFE0E4;
    border-bottom:2px solid #D0D1D5;*/
}

.reply > .message-body {
   /* background-color: #E2DFDF;*/
}
.post li,.reply li { /*position: relative;*/ min-height: 36px; margin-top: 20px; }
.post li:first-child,.reply li:first-child { margin-top: 0; }
.post > li.divider,.reply > li.divider { border-top: 1px solid #DFDFDF!important; margin: 20px 0 20px 0!important; min-height: 0; }
.post > li.divider > span,.reply > li.divider > span { background-color: #f5f5f5!important; }
.post .by-user > a, .post .by-me > a,
.reply .by-user > a, .reply .by-me > a{ position: absolute; top: 0; display: block; }
.post .by-user > a,.reply .by-user > a { left: 0; }
.post .by-me > a,.reply .by-me > a { right: 0; }
.post .by-user .arrow, .post .by-me .arrow,
.reply .by-user .arrow, .reply .by-me .arrow{ width: 8px; height: 9px;  position: absolute;  top: 12px; }
.post .by-user .arrow,
.reply .by-user .arrow{ background: url(/images/icons/messageArrow_left.png) no-repeat; left: -8px; }
.post .by-me .arrow,
.reply .by-me .arrow{ background: url(/images/icons/messageArrow_right.png) no-repeat; right: -8px; }
.post .by-user .area, .post .by-me .area,
.reply .by-user .area, .reply .by-me .area{ box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; padding: 8px 12px; position: relative; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid; }
.post .by-user .area,
.reply .by-user .area{ background: #fafeff; border-color: #b5cdd7; margin-left: 52px; } 
.post .by-me .area,
.reply .by-me .area{ background: #fff; border-color: #dcdcdc; margin-right: 52px; } 
.post .area > p,
.reply .area > p{ margin: 0; }
.by-user .pull-left > strong { color: #2c596d; }
.by-me .pull-left > strong { color: #393939; }
.info-row { font-size: 11px; color: #949494; margin-bottom: 4px; }
.info-row:after { content: ""; display: block; clear: both; }

.post,.reply { overflow: hidden; /*padding: 10px; border-bottom: 1px solid #ddd;*/ *zoom: 1; }
.post:first-child,
.reply:first-child{ padding-top: 0; }
.message-img { float: left; margin-right: 30px; overflow: hidden; }
.message p { margin: 0; }
.message-img img { display: block; width: 36px; height: 36px; }
.message-body { margin-left: 74px; /*background-color: #F0F0F0;*/}
.post .text,
.reply .text{ font-size:13px; position: relative; padding: 10px; /*border: 1px solid #e5e5e5;*/ border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #fff;word-break: break-word;}
.post .attribution,
.reply .attribution{ /*margin: 6px 0 0; */ font-size: 11px; color: #666; }

.timeline-messages, .post:first-child,
.reply:first-child{/*margin-top: 20px;*/}
.timeline-messages, .post, .reply { position: relative; margin-top: 5px;}/* add reply class if something disgusting happens.*/
.timeline-messages:before, .post:before, .post .text:before,
.reply:before, .reply .text:before{ content: ""; position: absolute; top: 4px; left: 72px; }
.timeline-messages:before { width: 2px; top: 0; bottom: 0; /*background: rgba(0,0,0,0.1);*/ left: 58px; }
.post:before{ width: 12px; height: 12px; border: 2px solid #fafafa; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; margin: 20px 0 0 -14px; background: #ccc; }
.reply:before{left: 58px; top: -6px; width: 12px; height: 12px; border: 2px solid #fafafa; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; margin: 20px 0 0 -4px; background: #ccc; }
.post:first-child:before,
.reply:first-child:before{ margin-top: 16px; }
.post:hover:before,
.reply:hover:before{ background: #fa9e0e; }
.openImageView:hover{cursor: pointer;}
.avatar_radius{border-radius: 50px;}
/* Enter message field  */

.enter-message { position: relative; margin-top: -2px; margin-bottom: 4px; }
.enter-message-divider { height: 0; border-top: 1px solid #ddd; margin: 20px -16px; }
.enter-message.for-messages { margin-top: 0; }
.message-actions { margin-bottom: -5px; }
.message-actions:after { content: ""; display: block; clear: both; }
.enter-message textarea { width: 100%; background: #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; display: block; border: 1px solid #d5d5d5;  box-shadow: 0 1px 1px #fafafa; -webkit-box-shadow: 0 1px 1px #fafafa; -moz-box-shadow: 0 1px 1px #fafafa; padding: 10px; color: #404040; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.send-button { display: block; float: right; margin-top: 15px; }
.send-button .attach-link, .send-button .attach-photo { opacity: .4; filter: alpha(opacity=40); display: block; float: left; margin: 9px 0 0 12px; }
.send-button .attach-link:hover, .send-button .attach-photo:hover { opacity: 1; filter: alpha(opacity=100); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.send-button .attach-link { width: 12px; height: 12px; background: url(../images/elements/other/link.png) no-repeat; }
.send-button .attach-photo { width: 14px; height: 11px; background: url(../images/elements/other/photo.png) no-repeat; }
.send-button input[type=submit] { float: left; display: block; margin: 0 0 0 12px; }
.user-is-typing { float: left; color: #999; font-size: 11px; font-style: italic; margin-top: 18px; white-space: nowrap; }
.user-is-typing > img { display: block; float: left; margin: 4px 8px 0 0; }


 /* Messages page
    ================================================== */
        .messagesOne {float: left;position: relative;width: 100%;height: auto;overflow: hidden;/*border-bottom: 1px solid #ddd;margin-bottom: 10px;*/}
        .messagesOne li { position: relative; min-height: 36px; margin: 0 18px 20px 18px; }
        .messagesOne li:first-child { margin-top: 20px; }
        .messagesOne > li.divider { border-top: 1px solid #DFDFDF!important; margin: 20px 0 20px 0!important; min-height: 0; }
        .messagesOne > li.divider > span { background-color: #f5f5f5!important; }
        .messagesOne .messageRow a { display: block; width: 37px; height: 36px; }
        
        .messagesOne .by_user > a, .messagesOne .by_me > a  { position: absolute; top: 0; display: block; }
        .messagesOne .by_user > a { left: 0; }
        .messagesOne .by_me > a { right: 0; }
        
        .messagesOne .by_user .aro, .messagesOne .by_me .aro { width: 8px; height: 9px;  position: absolute;  top: 12px; }
        .messagesOne .by_user .aro { background: url(/images/icons/messageArrow_left.png) no-repeat; left: -8px; }
        .messagesOne .by_me .aro { background: url(/images/icons/messageArrow_right.png) no-repeat; right: -8px; }
        
        .messagesOne .by_user .messageArea, .messagesOne .by_me .messageArea { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; padding: 8px 12px; position: relative; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid; }
        .messagesOne .by_user .messageArea { background: #fafeff; border-color: #b5cdd7; margin-left: 60px; } 
        .messagesOne .by_me .messageArea { background: #fefefe; border-color: #dcdcdc; margin-right: 60px; } 
        
        .by_user .name > strong { color: #2c596d; }
        .by_me .name > strong { color: #393939; }
        
        .infoRow { font-size: 11px; color: #949494; margin-bottom: 6px; margin-top: -2px; }
        .infoRow:after { content: ""; display: block; clear: both; }
        .infoRow > .time { float: right; }
        .infoRow > .name { float: left; }
        
        .messagesTwo li { position: relative; min-height: 36px; border-top: 1px solid #cdcdcd; }
        .messagesTwo li:first-child { border-top: none; }
        .messagesTwo li > a { margin: 14px; display: block; position: absolute; left: 0; top: 0; }
        .messagesTwo li .messageArea { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; padding: 10px 16px; position: relative; border-left: 1px solid #cdcdcd; margin-left: 65px; min-height: 64px; }
        .messagesTwo .by_user { background: #FEFEFE; }
        
        
        /* Enter message field  */
        .enterMessage { position: relative; margin-top: 20px;  }
        .enterMessage input[type=text] { width: 100%; height: 34px; background: #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; display: block; border: 1px solid #d5d5d5;  box-shadow: 0 1px 1px #fafafa; -webkit-box-shadow: 0 1px 1px #fafafa; -moz-box-shadow: 0 1px 1px #fafafa; padding: 10px 120px 10px 10px; color: #404040; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
    
            .msgNote{
                margin-top:100px;text-align:center;color:#ccc;
            }
                .msgNote > label{
                    font-size:15px;
                }
        .loadMsgList_hover{
            background-color:whiteSmoke;
        }
    /* Send Private Message
    ================================================== */
        .searchbox{
            width:100px;
            padding:3px;
            border: none;
            outline: none;
         }
         #display_search{
            display:none;
            border: 1px solid #ddd;
            overflow:hidden;
         }
         .display_box{
            padding:4px;
            border:solid 1px #dedede;
            border-top:none;
            font-size:12px; 
            height:36px;
         }
         .display_box > div{
            margin-left: 5px;margin-top: 5px;
         }
         .display_box:hover{
            background:#3b5998;
            color:#FFFFFF;
            cursor: pointer;
         }
         #shade{
            background-color:#00CCFF;
         }
         
         .recipient{
            float: left;padding: 5px;
            background-color: whiteSmoke;
            border-radius: 5px;
            margin-left: 2px;
            border: 1px solid #ddd;
            margin-top: 5px;
            font-size: 10px;
            font-family: arial;
         }
         .activeS {
            background-color: whiteSmoke;
         }

         .search_name {
            margin-left: 44px !important;
         }
    /*aaron*/
    .request-box:hover{
        background-color: #F0F0F0;
    }

.fl-margin-right {
    margin-right:5px!important;
}

.fl-margin-top {
    margin-top:4px;
}

.fl-margin-bottom {
    margin-bottom:5px;
}

.conversationTo {
    line-height: 30px;
    margin-left: 5px;
}

.imagePreviewUpload_1, .imagePreviewUpload {
    padding: 5px 10px 10px 5px!important;
     -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#moreLbl_97 {
    padding: 0!important;
    line-height: 40px!important;
}


.dashboard-placeholder{
	background-color: rgba(0,0,255,0.1);
    border: 1px solid black;
	height:400px;
}

#trackno_display, #requestor_display, #status_display, #processor_display {
    margin: 0px 5px;
}
.group-container{
    width:100%;height:55px;border-bottom:1px solid #CCC;
}
.group-container:hover {
    background-color: #F3F3F3;
}
.group-no-record{
    margin-top: 30px;
    text-align: center;
    color: #DFDCDC;
    font-size: 19px;
    font-weight: bold;
}
.group-container i{
    font-style: italic;
}
.step {
width: 100%;
}
.row-form {
border: 1px solid #DDD;
border-top-color: #FFF;
padding: 10px 15px;
vertical-align: baseline;
}
fieldset {
padding: 0;
margin: 0;
border: 0;
}
.step legend {
display: none;
}

legend {
display: block;
width: 100%;
padding: 0;
margin-bottom: 20px;
font-size: 21px;
line-height: 40px;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}

.wizard-buttons{
    margin: 0;
padding: 5px;
display: block;
border: 1px solid #DDD;
background: #EEE;
}
.wizard-buttons > a{
    width: 85px;
border: none;
color: #fff;
height: 31px;
line-height: 30px;
text-align: center;
/* padding: 1px 6px; */
background-color: #36a9e1 !important;
}
/* typography */
    .tour_title {
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    text-shadow: none;
    border-bottom: 1px solid #d6d6d6;
    }
    .tour_content {
    padding: 10px;
    font-size: 12px;
    line-height: 15px;
    text-shadow: none;
    }
    
    /* eof typography */

/* Attachment File
================================================== */
.attached_file_container{
    min-height: 30px;
}
    .attached_file_container > div{
        float:left;background-color:#fff;border:1px solid #D5D5D5;border-radius:3px;padding:4px;margin-left:3px;min-height:40px;
        box-shadow: 1px 1px 2px -1px rgba(122,115,122,1);
    }
        .attached_file_container > div > form > div{
            text-align: center;
        }
            .attached_file_container > div > form > div > input{
                opacity: 0;position: absolute;width: 10px;
            }
       /* .attached_file_container > div > form > a > div{
            float:left;width:30px;height:35px;border:transparent;
        }*/
            .attached_file_container > div > form > a > div > i{
                font-size: 30px;margin-left: 0px; margin-top:4px;
            }
            
            .attached_file_container > div > form > div > i{
                color:#222 !important;
            }
    .AFiles_only{
        float:left;width:30px;height:35px;border:transparent;
        text-align:center;
    }
    
    .fl-middleware-table tr td {
        border:  1px solid #222;
        padding: 5px;
        /*cursor: move;*/
    }

    .fl-middleware-table th {
        padding: 5px;
        background-color: #ededed;
        border:  1px solid #222;
    }

.input-announcement {
    width: 97.2% !important;
}

.fl-addcom-addfile-wrapper {
    margin-top: 10px;
}

.content-dialog .text, #logs-container .text {
    /*width:280px;*/
}

#logs-container .reply {width:auto !important;}

#logs-container .reply:first-child{ padding-top: 5px !important; }

#logs-container .reply .text p{ line-height:15px;}
#logs-container .reply .text  .attribution {margin-top: 6px !important;}

/*body .fl-user-header-wrapper{ 
    z-index:100; 
    position:relative; 
} */
body .form-name-title{ 
    position:relative;
    left:0; 
} 
body .display_form_status{ 
    position: relative;
    top: 0px;
    left:0; 
    width:100%; 
    background-color: #fff;
    border-bottom: 1px solid #cfdbe2;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
} 
body .bgs-header{ 
    position: fixed;
    top: 0px;  /*top: -50px;*/ 
    z-index: 99; 
    left:0; 
    width: 100%;
    height: auto; 
    background-color: rgba(255,255,255,0.9); 
    box-shadow: 0px 0px 5px #222; 
} 
.fl-content{ 
} 
body .form-action-navs{ 
    position: fixed;
    top: 50px; 
    z-index: 100; 
    margin:0px;
   /* background-color: #e0e0e0 !important;*/
    content: "";
    clear: both;
    display: table;
    width:100%;
   /* padding: 10px;*/
}
.fl-datatable-wrapper{
    /*HERE*/

}
.fl-table-wrapper table tbody tr:nth-child(1) {
  border-bottom: 1px solid #d6d6d6;   
}
.display_data .odd .td-sorted{
	 background-color: rgba(229, 229, 229, 0.66);
}
.display_data .even .td-sorted{
	 background-color: rgba(223, 223, 223, 0.25);
}
/* :root .fl-datatable-wrapper { height:400px; \0/IE9; }  IE9 + IE10pp4 */
input[type="file"] {
    cursor:pointer;
}


.fl-maintenance-bg {
    background-image: url(images/maintenance/under_maintenance_page.png);
    height:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}
/* Custom Navigation */
.nav-menu-li, .link-menu-li{
    padding-top:5px;
}
.nav-menu:hover, .link-menu:hover{
    border: 1px solid #9E9898;
}
.nav-menu,.link-menu{
    border: 1px solid #CCC;
    cursor:move;
    width:100%;
    height:auto;
    padding:13px;
    box-sizing:border-box;
    color: #6e6e6e;
}
.nav-menu .nav-settings i, .link-menu .link-settings i{
    right: 11px;
}
.nav-menu .nav-remove i, .link-menu .link-remove i{
    right: -5px;
}
.nav-menu i , .link-menu i{
    position: absolute;top: -3px;font-size: 14px;
}
.nav-menu .nav-menu-left, .link-menu .link-menu-left{
    float:left;font-weight:bold;width: 300px;
}
.nav-menu .nav-menu-right a ,.link-menu .link-menu-right a{
    float:right;position:relative;color: #CCC;font-size: 11px;  cursor: pointer;
    webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}
.nav-menu .nav-menu-right a:hover, .link-menu .link-menu-right a:hover{
    color: #3b5998;
    transform: scale(1.2,1.2);
}
.nav-menu .nav-menu-type, .link-menu .link-menu-type{
    margin-right: 10px;
}
.nav-menu .nav-menu-activate, .link-menu .link-menu-activate{
    background-color: #868686 !important;
    color: white !important;
}
.nav-menu-placeholder{
    margin-top: 5px;
    min-width: 359px;
    height: 39px;
    border: 1px dashed #CCC;
}

.app-view-border-right th, .app-view-border-right  td:not(:first-child):not(:last-child){
    border-right:1px solid rgb(224, 224, 224);
}


a[custom-data-tooltip]:before {
 content: attr(custom-data-tooltip);
  color: #222;
  background-color:#ffffff;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 1000000000000;
    left: 10px;
  font-size: 11px;
  bottom: -8px;
  visibility: hidden;
  box-shadow: 1px 1px 1px #4A4A4A;
}

.custom-data-tooltip {
    color: #222;
    background-color:#ffffff;
    background:#ffffff;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #4A4A4A;
}

.custom-data-tooltip-inner {
    background:transparent !important;
    color:#222222 !important;
}

a[custom-data-tooltip]:hover:before{
  visibility: visible;
  -webkit-transition: visibility 0s linear .3s;
  -moz-transition: visibility 0s linear .3s;
  -o-transition: visibility 0s linear .3s;
  transition: visibility 0s linear .3s;
}

.formbuilder-description-tooltip > .tooltip-arrow{
    display: none;
}



/*a[data-tooltip]:link, a[data-tooltip]:visited {
    position: relative;
    text-decoration: none;
    border-bottom: solid 1px;
}

a[data-tooltip]:before {
  content: "";
  position: absolute;
  border-top: 20px solid #0090ff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  visibility: hidden;
  top: -18px;
  left: -26px;
}

a[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  color: white;
  top: -35px;
  left: -26px;
  background: #0090ff;
  padding: 5px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
  visibility: hidden;
}

a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
  visibility: visible;
  -webkit-transition: visibility 0s linear .3s;
  -moz-transition: visibility 0s linear .3s;
  -o-transition: visibility 0s linear .3s;
  transition: visibility 0s linear .3s;
}*/

.noti-from-name{
    font-weight: bold;
    color: #000;
    display: inline;
}


input[type=checkbox]:disabled.css-checkbox + label.css-label {
  opacity: 0.3;
  cursor: not-allowed;
}

input[type=radio]:disabled.css-checkbox + label.css-label {
  opacity: 0.3;
  cursor: not-allowed;
}

input[type=submit]:disabled, input[type=button]:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/*navpage added by Carlo Medina 05/09/2015*/

.link-parent-ul > li:nth-child(1){
    /* padding-bottom: 20px; */
}
.link-parent-ul > li:nth-child(1) >a {
     font-size:26px;
    font-family: droid_sansregular_bold;
}
.link-parent-ul > .link-parent > a{ 
    font-size:15px;
    padding: 3px !important;
    display: block;
}

.link-parent-ul > .link-parent > ul li a{  
    padding: 4px !important;
    padding-bottom: 4px !important;
    display: inline-block;
    font-family: droid_sansregular_bold;
}

.link-parent-ul > .link-parent > a {
    padding: 4px !important;
    padding-bottom: 4px !important;
    display: inline-block;
    font-family: droid_sansregular_bold;
}

.link-parent-ul > .link-parent.nav-link-hover > a:hover {
    background-color: #6e6e6e;
    border-radius: 3px;
    color: #fff;
}

.link-parent-ul > .link-parent.link-parent-large > a:hover {
    background:transparent;
}


 .link-parent-ul > .link-parent.nav-link-hover > ul li a:hover {
    background-color: #6e6e6e;
    border-radius: 3px;
    color: #fff;
 }

.link-parent-ul > .link-parent{
    padding: 5px 0px 0px 0px;
}


/*.link-parent-ul > .link-parent, .link-parent-ul ul > li{
    padding: auto !important;
    margin: auto !important;
      text-align: -webkit-match-parent;
    list-style-type: circle !important;
    display:list-item !important;
    list-style: inherit !important;
}*/

.link-parent-ul{ 
   /*list-style-type: disc; */
   list-style-position: inside; 
}

.link-parent-ul ul{ 
   /*list-style-type: circle; */
   list-style-position: inside; 
   margin-left: 15px; 
}
.frequired-red{
    
    border: 1px solid #CC2A28 !important;
    
}
#fl-application-calendar table tr:hover {
  background-color: transparent !important;
}
#fl-reqcalendar table tr:hover {
  background-color: transparent !important;
}


.showReply {
    margin-right: 8px !important;
}
.notiCommentCounterContainer{
    position: absolute;
    color: white;
    padding: 3px;
    background-color: rgb(225, 54, 54);
    font-size: 8px;
    right: -8px;
    top: -5px;
    border-radius: 5px;
    border: 1px solid rgb(176, 4, 4);
}

.hasCommentNotification{
    color:rgb(225, 54, 54);
}
::-webkit-file-upload-button {
    cursor:pointer;
}

.plotband-color > .sp-replacer{
    width: 96%;
}

.plotband-color > .sp-replacer > .sp-preview {
    width: inherit;
}

.fl-modal-content-text-wrapper {

}

.fl-modal-content-text {
    padding:0px;
    margin:0px;
}

.fl-modal-content-text > h3 {
    font-size:16px;
    font-weight: bold;
    padding:6px;
    color:#ffffff;
}

.fl-modal-content-text > p {
    padding:6px;
    background-color: #ffffff;
    line-height: 16px;
    text-align: left;
}

.fl-ui-search > .fl-ui-search-button {
    position: absolute;
    right: 0px;
    width: auto;
    top: 0px;
}

.fl-ui-search > .fl-ui-search-button > li {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.fl-ui-search > .fl-ui-search-button > li:hover {

}

.fl-ui-search > .fl-ui-search-button > li:last-child {
    border-right: none;
}

.fl-ui-search > .fl-ui-search-button > li i.fa {
    color: #ffffff;
}

.fl-ui-search > input[type="text"] {
    width: 200px;
    padding-right: 84px;
}
.fl-ui-search > input[type="text"]:focus {
    border: 1px inset #cfdbe2 !important;
}

h1.fl-workspace-preview-title {

    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-bottom: 2px solid #D0D0D0;
    padding: 10px;
    text-align: center;
    font-size: 22px !important;
    line-height: 30px;
}

.fl-faq-content {
    margin-bottom: 5px;
}
    

.fl-faq-content h1 {
    background-color: #CFDBE2;
    padding: 5px;
    font-family: droid_sansregular_bold;
}

.fl-faq-content p {
    padding: 5px;
    line-height: 16px;
    border-bottom: dashed 1px #CFDBE2;
    border-left: dashed 1px #CFDBE2;
    border-right: dashed 1px #CFDBE2;
    color: #6E6E72;
}

#fl-ul-online-users > .fl-li-online-user > .fl-msg-wraper > .fl-online-user-avatar-wrapper > img, #fl-load-user-conversation > li > .fl-widget-user-conversation > .fl-avatar > img {
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}

#fl-mood-tab-wrapper > h3.ui-accordion-header > span.ui-accordion-header-icon {
    display:none !important;
}    

.a_key{
    line-height: 20px;
}

.c_key{
    background-color: #CDCED1 !important;
    border-radius: 5px;
        margin: 1px 0px 1px 1px;
}

.c_logo{
        height: 100px;
    background-image: url(/css/images/goforms.png?mos);
    background-repeat: no-repeat;
    float: left;
}

.c_key_text{
    line-height: 25px;
    color: red;
}

/*.select2-container {
    width: 100%;
    outline: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    text-align: left;
    border-radius: 3px
}
.select2-container[class*=border-] .select2-choice,
.select2-container[class*=border-].select2-dropdown-open.select2-drop-above .select2-choice,
.select2-container[class*=border-].select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: inherit
}
.select2-container.border-lg .select2-choice,
.select2-container.border-lg .select2-choices {
    border-width: 2px
}
.select2-container[class*=bg-] .select2-choice {
    background-color: inherit;
    border-color: inherit;
    color: #fff
}
.select2-container[class*=bg-] .select2-choice:hover,
.select2-container[class*=bg-].select2-dropdown-open .select2-choice {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset
}
.select2-container[class*=bg-].select2-container-disabled .select2-choice {
    -webkit-box-shadow: none;
    box-shadow: none
}
.select2-container.select2-container-disabled .select2-choice {
    cursor: not-allowed;
    background-color: #fafafa;
    color: #999;
    -webkit-box-shadow: none;
    box-shadow: none
}
.select2-container.select2-container-disabled .select2-choice abbr {
    cursor: not-allowed
}
.select2-container.select2-container-disabled[class*=bg-] {
    border-color: rgba(255, 255, 255, 0.4)
}
.select2-container.select2-container-disabled[class*=bg-] .select2-choice {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8)
}
.select2-choice {
    display: block;
    background-color: #fff;*/
    /*height: 36px;*/
 /*   padding: 7px 12px;
    padding-left: 11px;
    padding-right: 0;
    line-height: 1.5384616;
    position: relative;
    border: 1px solid #ddd;
    white-space: nowrap;
    border-radius: 3px;
    height: 20px !important;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.select2-choice,
.select2-choice:hover,
.select2-choice:focus {
    color: #333
}
.select2-choice:hover {
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.01) inset
}
.select2-dropdown-open .select2-choice {
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
    box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset
}
.select2-drop-above .select2-choice {
    border-radius: 0 0 3px 3px
}
.select2-choice .select2-chosen {
    margin-right: 28px;
    padding-left: 1px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto
}
.select2-choice .select2-chosen>i {
    margin-right: 10px
}
.select2-choice .select2-chosen>i.icon-undefined {
    margin-right: 0
}
.select2-choice abbr {
    display: none;
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -8px;
    border: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 3px;
    line-height: 1;
    opacity: .8;
    filter: alpha(opacity=80)
}
.select2-choice abbr:hover {
    opacity: 1
}
.select2-choice abbr:after {*/
    /*content: '\ed6b';*/
 /*   font-family: 'icomoon';
    display: inline-block;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.select2-container[class*=bg-] .select2-choice abbr,
.select2-container[class*=bg-] .select2-choice abbr:hover {
    color: #fff
}
.select2-allowclear .select2-choice abbr {
    display: inline-block
}
.select2-choice .select2-arrow:after {*/
    /*content: '\e9c5';*/
/*    font-family: 'Icomoon';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    text-align: right;
    margin-top: -8px;
    font-size: 16px;
    line-height: 1;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.select2-dropdown-open .select2-choice .select2-arrow:after {*/
    /*content: '\e9c6'*/
/*}
.select2-allowclear .select2-choice .select2-arrow:after {
    content: none
}
.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: 9998;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0)
}
.select2-drop {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-top-width: 0;
    border-radius: 0 0 3px 3px
}
.select2-drop-above {
    border-top-width: 1px;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0
}
.select2-drop-active {
    border-radius: 0 0 3px 3px
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-radius: 3px 3px 0 0
}
.select2-drop-auto-width {
    width: auto
}
.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.select2-search {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px;
    padding-bottom: 7px;
    position: relative;
    z-index: 10000;
    white-space: nowrap
}
.select2-search:after {*/
    /*content: '\e98e';*/
/*    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 24px;
    color: inherit;
    display: block;
    font-size: 12px;
    margin-top: -4px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .6;
    filter: alpha(opacity=60)
}
.select2-search input {*/
    /*width: 100%;*/
    /*height: 36px;*/
    /*padding: 7px 12px;*/
    /*padding-left: 36px;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: 0
}
.select2-drop[class*=bg-] .select2-search input {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: transparent;
    color: #fff
}*/
/*.select2-results {
    max-height: 250px;
    margin: 0;
    padding: 5px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.select2-results .select2-result-sub {
    margin: 0;
    padding-left: 0
}
.select2-results li {
    list-style: none;
    display: list-item
}
.select2-results li em {
    font-style: normal
}
.select2-results li.select2-result-with-children>.select2-result-label {
    font-size: 11px;
    line-height: 1.82;
    text-transform: uppercase;
    cursor: default;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px
}
.select2-results li.select2-result-with-children:first-child>.select2-result-label {
    margin-top: 0
}
.select2-results li.select2-result-with-children .select2-result>.select2-result-label {
    padding-left: 24px;
    padding-right: 24px
}
.select2-results .select2-more-results {
    background: #f8f8f8;
    display: list-item
}
.select2-results .select2-result-label {
    padding: 7px 12px;
    margin: 0;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.select2-results .select2-result-label>i {
    margin-right: 10px
}
.select2-results .select2-result-label>i.icon-undefined {
    display: none
}
.select2-results .select2-result-label>span {
    left: 10px
}
.select2-results .select2-highlighted {
    background-color: #f5f5f5
}
.select2-results .select2-highlighted ul {
    background-color: #fff;
    color: #333
}
.select2-results .select2-highlighted em {
    background-color: transparent
}
.select2-drop[class*=bg-] .select2-results .select2-highlighted {
    background-color: rgba(0, 0, 0, 0.1)
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background-color: #f8f8f8;
    padding: 7px 12px;
    color: #999;
    border-top: 1px solid #ddd;
    margin-bottom: -5px;
    border-radius: 0
}
.select2-drop[class*=bg-] .select2-results .select2-no-results,
.select2-drop[class*=bg-] .select2-results .select2-searching,
.select2-drop[class*=bg-] .select2-results .select2-selection-limit {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #fff
}
.select2-results .select2-disabled {
    color: #999;
    display: list-item
}
.select2-results .select2-disabled .select2-result-label {
    cursor: not-allowed
}
.select2-drop[class*=bg-] .select2-results .select2-disabled {
    color: #fff;
    opacity: .5;
    filter: alpha(opacity=50)
}
.select2-results .select2-selected {
    display: none
}
.select2-results ul ul>li .select2-result-label {
    padding-left: 24px
}
.select2-results ul ul ul>li .select2-result-label {
    padding-left: 36px
}
.select2-results ul ul ul ul>li .select2-result-label {
    padding-left: 48px
}
.select2-results ul ul ul ul ul>li .select2-result-label {
    padding-left: 60px
}
.select2-results ul ul ul ul ul ul>li .select2-result-label {
    padding-left: 72px
}
.select2-results ul ul ul ul ul ul ul>li .select2-result-label {
    padding-left: 84px
}
.select2-container-multi .select2-choices {
    margin: 0;
    border-radius: 3px;
    padding: 0 0 3px 0;
    position: relative;
    outline: 0;
    border: 1px solid #ddd;
    cursor: text;
    overflow: hidden;
    background-color: #fff
}
.select2-container-multi .select2-choices:after {
    content: '';
    display: table;
    clear: both
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none
}
.select2-container-multi .select2-choices.ui-sortable>li {
    cursor: move
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding: 7px 12px;
    margin-top: 3px;
    color: #333;
    outline: 0;
    border: 0;
    background: transparent !important
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 0 0 3px;
    position: relative;
    cursor: default;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
    margin-left: 0;
    margin-right: 3px
}
.select2-container-multi .select2-choices .select2-search-choice>div {
    border-radius: 3px;
    color: #fff;
    padding: 7px 12px;
    padding-right: 30px;
    background-color: #455a64
}
.select2-container-multi .select2-choices .select2-search-choice>div>i {
    margin-right: 10px
}
.select2-container-multi .select2-choices .select2-search-choice.select2-locked>div {
    padding: 7px 12px
}
.select2-container-multi .select2-choices .select2-search-choice[class*=bg-]>div {
    background-color: inherit
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default
}
.select2-container-multi .select2-choices .select2-search-choice-close {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -8px;
    line-height: 1;
    opacity: .6;
    filter: alpha(opacity=60)
}
.select2-container-multi .select2-choices .select2-search-choice-close:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 6px
}
.select2-container-multi .select2-choices .select2-search-choice-close:after {*/
    /*content: '\ed6b';*/
/*    font-family: 'icomoon';
    display: block;
    font-size: 16px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.select2-container-multi[class*=bg-] .select2-choices {
    background-color: inherit;
    border-color: inherit
}
.select2-container-multi[class*=bg-] .select2-choices .select2-search-choice>div {
    background-color: rgba(0, 0, 0, 0.3)
}
.select2-container-multi[class*=border-] .select2-choices {
    border-color: inherit
}
.select2-container-multi.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0
}
.select2-container-multi.select2-dropdown-open.select2-drop-above .select2-choices {
    border-radius: 0 0 3px 3px
}
.select2-container-multi .select2-default,
.select2-container-multi .select2-default:hover,
.select2-container-multi .select2-default:focus {
    color: #999
}
.select2-container-multi .select2-default .select2-arrow,
.select2-container-multi .select2-default:hover .select2-arrow,
.select2-container-multi .select2-default:focus .select2-arrow {
    color: #333
}
.select2-container-multi.select2-container-disabled .select2-choices {
    cursor: default;
    background-color: #f8f8f8
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    color: #fff;
    opacity: .6;
    filter: alpha(opacity=60)
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice>div {
    padding-right: 12px
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none
}
.select-lg .select2-choice {
    height: 40px;
    padding: 9px 15px;
    padding-right: 0;
    font-size: 14px
}
.select-lg .select2-choice abbr,
.select-lg .select2-choice .select2-arrow:after {
    right: 15px
}
.select-lg.select2-container-multi .select2-choices .select2-search-choice>div {
    padding: 9px 15px;
    padding-right: 37.5px;
    font-size: 14px
}
.select-lg.select2-container-multi .select2-choices .select2-search-choice-close {
    right: 12px
}*/
/*html[dir="rtl"] .select-lg.select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 12px
}
.select-lg.select2-container-multi .select2-choices .select2-search-field input {
    padding: 9px 15px
}
.select-sm .select2-choice {
    height: 34px;
    padding: 6px 11px;
    padding-right: 0
}
.select-sm .select2-choice abbr,
.select-sm .select2-choice .select2-arrow:after {
    right: 11px
}
.select-sm.select2-container-multi .select2-choices .select2-search-choice>div {
    padding: 6px 11px;
    padding-right: 27.5px
}
.select-sm.select2-container-multi .select2-choices .select2-search-choice-close {
    right: 8px
}
html[dir="rtl"] .select-sm.select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 8px
}
.select-sm.select2-container-multi .select2-choices .select2-search-field input {
    padding: 6px 11px
}
.select-xs .select2-choice {
    height: 32px;
    padding: 5px 10px;
    padding-right: 0;
    font-size: 12px;
    line-height: 1.6666667
}
.select-xs .select2-choice abbr,
.select-xs .select2-choice .select2-arrow:after {
    right: 10px
}
.select-xs.select2-container-multi .select2-choices .select2-search-choice>div {
    padding: 5px 10px;
    padding-right: 25px;
    font-size: 12px
}
.select-xs.select2-container-multi .select2-choices .select2-search-choice-close {
    right: 7px
}
html[dir="rtl"] .select-xs.select2-container-multi .select2-choices .select2-search-choice-close {
    right: auto;
    left: 7px
}
.select-xs.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px 10px;
    font-size: 12px
}
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline
}
.select2-offscreen,
.select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0 !important;
    top: 0 !important
}
.select2-display-none {
    display: none
}
.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll
}*/