html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.colorfff, .fl-btn, .fl-user-companyname, span.fl-user-name, .fl-user-name i.fa, .fl-user-guest-header-wrapper a, .fl-headerInfo-a-right ul li a i.fa, .fl-headerInfo-b h2, .fl-userpro-header {
  color: #ffffff !important;
}

.fl-theme-color-text {
  color: #33b5e5;
}

.fl-theme-color-bg, .fl-btn, .fl-headerInfo-b, .fl-userpro-header, .spinner > div {
  background-color: #33b5e5;
}

.fl-theme-color-border-left, .fl-guestreqview-wrapper, .fl-acct-details-wrap {
  border-style: solid;
  border-left-color: #33b5e5;
  border-left-width: 6px;
}

.fL, .fl-left-guest-wrapper, .fl-left-guest-wrapper-inner, .fl-user-company-avatar-wrapper, .fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper, .fl-user-companyname, span.fl-user-name, .fl-content-wrapper-guest .fl-left-guest-wrapper, .fl-nav ul li, .fl-headerInfo-a-left, .fl-headerInfo-a-right ul li, .fl-right-wrapper-btn ul li, div.guest-uploader span.filename, .spinner > div {
  float: left;
}

.fR, .fl-right-wrapper-btn, .fl-user-onlineuser-avatar-wrapper, .fl-content-wrapper-guest .fl-right-guest-wrapper, .fl-headerInfo-a-right, div.guest-uploader span.action, .fl-input-guest_position {
  float: right;
}

.fN {
  float: none;
}

.taC, .fl-copyright, .spinner {
  text-align: center;
}

.taL {
  text-align: left;
}

.taR {
  text-align: right;
}

.Ht100perc, .fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper, .fl-content-wrapper-guest .fl-left-guest-wrapper, .fl-content-wrapper-guest .fl-right-guest-wrapper, .fl-profile-wrapper {
  height: 100%;
}

.wH100perc, .fl-user-guest-header-wrapper, .fl-picture-wrapper, .fl-picture-wrapper .fl-pic-line, .fl-guest-tabs-wrapper, .fl-guestreqview-wrapper, .fl-acct-details-wrap {
  width: 100%;
}

.boxSizingBB, .fl-btn-white, .fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper, .fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper, .fl-left-guest-wrapper, .fl-right-guest-wrapper, .fl-picture-wrapper, .fl-guest-name, .fl-guest-from, .fl-copyright, .fl-nav ul li, .guest-tab-scroll, .guest-fl-search-wrapper input[type="text"], .fl-guestreqview-wrapper, .fl-acct-details-wrap, .fl-headerInfo-a-right ul li a, .fl-right-wrapper-btn ul li a, .fl-headerInfo-a, .fl-headerInfo-b, .fl-headerInfo-c, .fl-headerInfo-d, .fl-headerInfo-e, .fl-userpro-header, .fl-input-guest_position input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.borderR3, .fl-btn-white, .fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper, .fl-profile-wrapper, .fl-headerInfo-a-right ul li a, .fl-right-wrapper-btn ul li a, .fl-userpro-header, .fl-large-profile, .fl-large-profile img, .fl-input-guest_position input[type="text"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/*.fl-right-wrapper-btn ul {
  margin-top: 5px;
}
*/
.borderR2, .fl-user-avatar-company-wrapper a img, .fl-headerInfo-a-img-wrapper a img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.textTruncate, .fl-headerInfo-d p, .fl-headerInfo-details-a, div.guest-uploader span.filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.marginAuto, .fl-user-guest-header-wrapper .fl-user-header-max-width, .fl-content-wrapper-guest, .fl-picture {
  margin: 0 auto;
}

.darkAlink, .fl-guest-name a, .fl-guest-from a {
  color: #151515;
}

.lightAlink {
  color: #ffffff;
}

.cursorP, .fl-nav ul li, .guest-fl-search-wrapper input[type="button"], div.guest-uploader input {
  cursor: pointer;
}

.fl-button-press, .fl-btn-white, .fl-headerInfo-a-right ul li a, .fl-right-wrapper-btn ul li a {
  -webkit-box-shadow: #575757 0px 2px 1px;
  box-shadow: #575757 0px 2px 1px;
  -moz-box-shadow: #575757 0px 2px 1px;
}

.fl-button-press-hover, .fl-right-wrapper-btn a:hover, .fl-headerInfo-a-right ul li a:hover, .fl-right-wrapper-btn ul li a:hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

.trans-duration2, .fl-btn-white, .fl-headerInfo-a-right ul li a, .fl-right-wrapper-btn ul li a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.trans-duration3 {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.trans-duration5 {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.trans-timing, .fl-btn-white, .fl-headerInfo-a-right ul li a, .fl-right-wrapper-btn ul li a {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* @font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'open_sansregular', arial, helvetica;
  background-color: #FAF8F8;
}

.clearfix {
  clear: both;
}

/*a, span {
  text-decoration: none;
  font-size: 13px;
}*/

.fl-guest-fields span {
   font-size: 13px !important;
}

.fl-btn-white {
  color: #151515;
  background-color: #ffffff;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.fl-right-wrapper-btn-none {
  float: none;
}

p {
  font-size: 12px;
}

.fl-user-guest-header-wrapper {
  @includ pos-fix(auto, auto, auto, auto);
  background-color: #33b5e5;
  height: 50px;
}
.fl-user-guest-header-wrapper .fl-user-header-max-width {
  max-width: 1024px;
}

.fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper {
  padding: 5px;
}

.fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper {
  width: 40px;
  height: 40px;
  padding: 2px;
  background-color: #0099cc;
}

.fl-user-companyname, span.fl-user-name {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 38px;
  font-family: open_sansregular;
}

.fl-content-wrapper-guest {
  max-width: 1024px;
}
.fl-content-wrapper-guest .fl-left-guest-wrapper {
  width: 26%;
}

.fl-left-guest-wrapper-inner h2 {
  font-size: 16px;
  margin-top: 5px;
}

.fl-content-wrapper-guest .fl-right-guest-wrapper {
  width: 74%;
}

.fl-left-guest-wrapper, .fl-right-guest-wrapper {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.fl-profile-wrapper {
  -webkit-box-shadow: #cdced1 0px 3px 1px;
  -moz-box-shadow: #cdced1 0px 3px 1px;
  box-shadow: #cdced1 0px 3px 1px;
  background-color: #ffffff;
  border: 1px solid #cdced1;
}

.fl-picture-wrapper {
  padding-top: 11px;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  height: 102px;
}
.fl-picture-wrapper .fl-pic-line {
  top: 50px;
  right: auto;
  bottom: auto;
  left: auto;
  position: absolute;
  height: 3px;
  background-color: #cdced1;
}

.fl-picture {
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: #cdced1 0px 4px 1px;
  -moz-box-shadow: #cdced1 0px 4px 1px;
  box-shadow: #cdced1 0px 4px 1px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  height: 80px;
  width: 80px;
  background-color: #cdced1;
}
.fl-picture img {
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.fl-guest-name, .fl-guest-from {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #cdced1;
}

.fl-copyright {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.fl-copyright span {
  font-size: 10px;
}

.fl-nav {
  top: 1px;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  z-index: 1;
}
.fl-nav ul li {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #cdced1;
  border-left: 1px solid #cdced1;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 13px;
  background-color: #f6f6f6;
}
.fl-nav ul li.inactive {
  background-color: #f8f8f8;
}

.fl-guest-tabs-wrapper {
  -webkit-box-shadow: #cdced1 0px 4px 1px;
  -moz-box-shadow: #cdced1 0px 4px 1px;
  box-shadow: #cdced1 0px 4px 1px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #cdced1;
  background-color: #f6f6f6;
}

.guest-tab-scroll {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  height: 457px;
}

/*.icon {
  background: url('../images/icons.png?1406257169');
  background-repeat: no-repeat;
}

.search-icon {
  background-position: 2px -1px;
}*/

.guest-fl-search-wrapper {
  top: -3px;
  right: 0px;
  bottom: auto;
  left: auto;
  position: absolute;
}
.guest-fl-search-wrapper input[type="text"] {
  border: 1px solid #33b5e5 !important;
  padding: 5px;
  width: 210px;
}
.guest-fl-search-wrapper input[type="button"] {
  top: 3px;
  right: 1px;
  bottom: auto;
  left: auto;
  position: absolute;
  background-color: #33b5e5;
  height: 28px;
  border: none;
  width: 33px;
}

input:focus {
  outline: none;
}

@-moz-document url-prefix() {
  input[type="button"].search-icon {
    top: 1px;
    right: 1px;
    bottom: auto;
    left: auto;
    position: absolute;
  }
}

.fl-guestreqview-wrapper, .fl-acct-details-wrap {
  -webkit-box-shadow: #cdced1 0px 2px 1px;
  -moz-box-shadow: #cdced1 0px 2px 1px;
  box-shadow: #cdced1 0px 2px 1px;
  margin-top: auto !important;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto !important;
  height: auto;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.fl-headerInfo-a-left {
  width: 50%;
}

.fl-headerInfo-a-name-wrapper {
  line-height: 19px;
}

.fl-headerInfo-a-right {
  padding-top: 9px;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
}
.fl-headerInfo-a-right ul li {
  margin-right: 4px;
}
.fl-headerInfo-a-right ul li a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: inline-block;
}
.fl-headerInfo-a-right ul li:nth-child(2) {
  margin-right: 0px;
}

.fl-right-wrapper-btn ul li {
  margin-right: 4px;
}
.fl-right-wrapper-btn ul li a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: inline-block;
  background-color: #ffffff;
  color: #151515 !important;
}
.fl-right-wrapper-btn ul li a i.fa {
  color: #151515;
}
.fl-right-wrapper-btn ul li:nth-child(2) {
  display: none;
}
.fl-right-wrapper-btn ul li:nth-child(3) {
  margin-right: 0px;
  display: none;
}

.fl-headerInfo-a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.fl-headerInfo-b {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.fl-headerInfo-c {
  border-bottom: 1px solid #cdced1;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.fl-headerInfo-d {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #cdced1;
}
.fl-headerInfo-d p {
  line-height: 18px;
  font-size:12px !important;
}

.fl-headerInfo-e {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.fl-headerInfo-details-a {
  margin-top: auto !important;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 12% !important;
}
.fl-headerInfo-details-a span {
  font-weight: bold;
}


.fl-userpro-header {
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  z-index: 1;
}

.fl-acct-details-wrap {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  top: -3px;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
}

.fl-large-profile {
  -webkit-box-shadow: #cdced1 0px 3px 1px;
  -moz-box-shadow: #cdced1 0px 3px 1px;
  box-shadow: #cdced1 0px 3px 1px;
}

div.guest-uploader input {
  top: auto;
  right: auto;
  bottom: auto;
  left: 0px;
  position: absolute;
  width: 266px;
  opacity: 0;
  height: 30px;
}

div.guest-uploader {
  width: 138px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  background: #FFF;
  padding: 2px 2px 2px 8px;
}

div.guest-uploader span.filename {
  color: #777;
  max-width: 200px;
  font-size: 11px;
  line-height: 22px;
  display: block;
  cursor: default;
}

div.guest-uploader span.action {
  width: 22px;
  background: white url('/images/icon/addFiles.png') no-repeat 0 0;
  height: 22px;
  font-size: 11px;
  text-indent: -9999px;
  display: inline;
  overflow: hidden;
}

.spinner {
  width: 100px;
  height: 40px;
  font-size: 10px;
  margin: 10px 0px;
}

.spinner > div {
  margin-left: 3px;
  height: 100%;
  width: 6px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .bar2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .bar3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .bar4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .bar5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .bar6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .bar7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner .bar8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner .bar9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.spinner .bar10 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.fl-guest-fields {
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  height: 39px;
  line-height: 30px;
  padding-top: 10px;
}

.fl-guest-fields:first-child {
  padding-top: 0 !important;
}

.fl-input-guest_position {
  width: 78%;
}
.fl-input-guest_position label {
  font-size: 13px;
}
.fl-input-guest_position input[type="text"] {
  width: 99%;
  border: 1px solid #33b5e5 !important;
  padding: 3px;
}

.fl-guest-field {
  display: none;
}

.fl-headerInfo-b h2, .fl-headerInfo-c h2, .fl-headerInfo-d h2, .fl-headerInfo-e h2{ 
  font-size: 17px;
}