.mentionContainer_only .mention{
    /*position: absolute;*/
    width: 50%;
    height: 10px;
    background-color: #FFF;
    padding: 7px 5px 0px 5px;
    border: none;
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 14px;
    color: #838383;   
    cursor: text;
    resize : none !important;
    word-wrap: break-word;
    background-color: transparent;
    line-height: 20px;
    float: left;
    max-width: 385px;
    outline:none;
}
.mentionContainer_only .mentionSearchChoice{
    margin-top: 39px;
    width: 100%;
    position: absolute;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
}
.mentionContainer_only .mentionList{
    height:10px;width:97%;border-bottom:1px solid #CCC;padding: 5px 10px 15px 10px;
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 12px;
    color: #696767;
    cursor: pointer;
}
.mentionContainer_only .mentionActive{
    background-color: #C4C4C4 !important;
}
.mentionContainer_only .mentionList:nth-child(odd){
    background-color: #F0F0F0;
}
.mentionContainer_only .mentionList:nth-child(even){
    background-color: #F8F8F8;
}
.mentionContainer_only .mentionSelectedContainer{
    min-height: 42px;
    position: absolute;
    width: 97%;
    background-color: #FFF;
    padding: 7px 5px 0px 5px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 14px;
    /*color: transparent;   */
    cursor: text;
    word-wrap:break-word;
    line-height: 20px;
    /*white-space: pre-wrap;*/
}
.mentionContainer_only .mentionSelected{
    display: inline;float: left;margin-top: 6px;margin-right:3px;background-color: #A0CBF3;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}
.mentionContainer_only .mentionSelected{
    background-color: rgb(209, 209, 231);
    font-weight: bold;
    background: #d8dfea;
    background: -webkit-gradient(linear, center top, center bottom, from(#dce6f8), to(#bdcff1));
    background: -webkit-linear-gradient(#dce6f8, #bdcff1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px #a3bcea;
    font-weight: normal;
    font-size: 14px;
    margin-right: 5px;
    color: #5D5959;
}
.mentionContainer_only .activeRemove{
    background: -webkit-linear-gradient(#7394CE, #A1AEC5) !important;
}