.mentionContainer .mention{
    position: absolute;
    width: 270px;
    background-color: #FFF;
    padding: 7px 5px 0px 5px;
    border: none;
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 14px;
    color: #838383;   
    cursor: text;
    resize : none !important;
    word-wrap: break-word;
    background-color: transparent;
    line-height: 20px;
    -webkit-box-sizing: border-box;
}
.mentionSearchChoice{
    /*margin-top: 5px;*/
    position: absolute;
    z-index: 100012;
    background-color: #FFF;
}
.mentionSearchChoice .mentionList{
    height:25px;
    /*width:97%;*/
    border-bottom:1px solid #CCC;
    padding: 5px 10px 15px 10px;
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 12px;
    color: #696767;
    cursor: pointer;
}
.mentionActive{
    /*color: #fff !important;*/
}
.mentionSearchChoice .mentionList:nth-child(odd){
    background-color: #F0F0F0;
}
.mentionSearchChoice .mentionList:nth-child(even){
    background-color: #F8F8F8;
}
.mentionContainer .mentionSelectedContainer{
    min-height: 43px;
    position: absolute;
    /*width: 680px;
    background-color: #FFF;*/
    padding: 5px 5px 0px 8px;
    border: none;
    border-radius: 3px;
    font-family: 'pt sans', arial, helvetica, sans-serif;
    font-size: 14px;
    color: transparent;   
    cursor: text;
    word-wrap:break-word;
    line-height: 20px;
    white-space: pre-wrap;
    margin-left: 5px
}
.mentionContainer .mentionSelected{
    display: inline;float: left;margin-top: 6px;margin-right:3px;background-color: #A0CBF3;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}
.mentionContainer .mentionSelectedContainer .highlightBackground{
    background-color: rgb(209, 209, 231);
    font-weight: bold;
    background: #d8dfea;
    background: -webkit-gradient(linear, center top, center bottom, from(#dce6f8), to(#bdcff1));
    background: -webkit-linear-gradient(#dce6f8, #bdcff1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px #a3bcea;
    font-weight: normal;
}
.mentionList_txt{
    font-size: 12px;
    margin-bottom: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;

}
.cursor{
    cursor: pointer
}