.fl-notification-wrapper-scroll {
height: 222px;
width: 97%;
overflow: hidden;
/*position: absolute;*/
padding: 0px 10px;
}
.notification li:hover {
background-color: #f4f4f4;
}
.fl-no-record-found{
  color: #fff;
  background-color: #cc2a28;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.fl-notification-color {
color: #e13636 !important;
font-size: 15px;
}
.notification li {
padding: 10px;
height: 15px;
border-bottom: 1px solid #ccc;
width: 97.9%;
cursor:pointer;
}

.fl-status-and-type {
float: left;
}

.fl-from {
background-color: #dadada;
font-size: 12px;
padding: 2px;
border-radius: 2px;
margin: 0px 5px;
color: #000000;
}
.fl-notification-content {
width: 76%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
float: left;
padding: 1px 0px;
}
a {
color: $avatar-color;
text-decoration: none;
}
.fl-notification-del-time {
float: right;
}
.fl-delete {
color: #222222;
float: right;
opacity: 0;
cursor: pointer;
}
.time {
font-size: 11px;
color: #222222;
float: right;
}
.fl-starred-wrapper .time, .fl-notification-wrapper .time {
position: relative;
right: 15px;
top: 2px;
}