.orgchart_page{
    padding: 10px;
}
.node_wrapper{
   /* position: absolute;
    padding: 5px;
    border: 2px dotted #ddd;
    top:53px;left: 666px;
    min-height: 90px;
    min-width: 188px;*/
   position: absolute;
        width: 100px;
        text-align: center;
        border: 1px solid #c7c7c7;
        background-color: #ddddff;
        border-radius:5px;
}

    .node_container{
        /*float: left;
        box-shadow: 2px 2px 15px #AAA;
        -o-box-shadow: 2px 2px 15px #aaa;
        -webkit-box-shadow: 2px 2px 15px #AAA;
        -moz-box-shadow: 2px 2px 15px #aaa;
        width: 100px;
        padding: 20px;margin-left: 22px;
        min-height: 20px;border-radius:5px;border:1px solid #ddd;background-color: #fff;*/
         height: 40px;
            padding: 10px;
            cursor: move;
    }
    
    .drag_box{
       /* margin-top: 5px;border: 1px solid #ddd;height: 15px;width: 15px;background-color: #808080;*/
        width: 100%;
            height: 20px;
            background-color: white;
            cursor: pointer;border-radius:0px 0px 5px 5px;
    }
    
    .node_wrapper.ui-draggable-dragging { background-color: whiteSmoke; }
    .drag_box.ui-draggable-dragging { background-color: whiteSmoke; }
/*
    .item {
        position: absolute;
        width: 100px;
        text-align: center;
        border: 1px solid black;
        background-color: #ddddff;
        border-radius:5px;
    }
 
        .title {
            height: 40px;
            padding: 10px;
            cursor: move;
        }
          
        .connect {
            width: 100%;
            height: 20px;
            background-color: white;
            cursor: pointer;border-radius:0px 0px 5px 5px;
        }*/
      