body{
    margin: 0;
    padding: 0;
    /*--background-color: #fff;*/
    background: url('/images/themes_2/body.jpg');
    font-size: 12px;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    min-height: 100%;
    position: relative;
}
.loadBar{
    background:#fff url("/images/loader/load.gif") no-repeat right center;
}
a.imp:hover{
    text-decoration: underline;
}
.avatar{
    /*border: 2px solid #E9E9E9;
    border-radius: 5px;
    padding: 1px;*/
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}
.font-bold{
    font-weight: bold;
}
.display{
    display: none;
}
.display2{
    display: none !important;
}
.container_1{
    margin:0 auto;
    width: 800px;
}
.cursor{
    cursor: pointer;
}
.cursor_move{
    cursor: move;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.align_left{
    text-align: left;
}
.align_right{
    text-align: right;
}
/* Width */
.span12 {
    width: 940px;
}
.span11 {
    width: 860px;
}
.span10 {
    width: 780px;
}
.span9 {
    width: 700px;
}
.span8 {
    width: 620px;
}
.span7 {
    width: 540px;
}
.span6 {
    width: 460px;
}
.span5 {
    width: 380px;
}
.span4 {
    width: 300px;
}
.span3 {
    width: 220px;
}
.span2 {
    width: 140px;
}
.span1 {
    width: 60px;
}

.length12{
    width: 100%;
}
.length6{
    width: 60%;
}
.length3{
    width: 30%;
}
/* Margining */

.offsetTop1{
    margin: 50px;
}
.offsetTop2{
    margin: 40px;
}
.offsetTop3{
    margin: 30px;
}
.offsetTop4{
    margin: 20px;
}
.offsetTop5{
    margin: 10px;
}

/* Padding */
.padding_5{
    padding: 5px;
}


.active_vMsg{
    background-color: #5A9DBB;
}
/* Login Page */
.leftLogin{
    float: left;
    width: 55%;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 30px;
    background-color: #fff;
}
.rightLogin{
    float: right;
    width: 40%;
    padding: 10px;
    margin-top: 62px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Top Header */
    #topNav {
        height: 36px; display: block;
    } .wrapper{
        /*margin:0 4%;*/
        margin: 0px auto;
        width: 1240px;
    }
        .fixed{
            position: fixed; background:#416C9B url('/images/themes_2/header.jpg');
            width: 100%; color: #eeeeee; /*border-bottom: 1px solid #fff;*/ z-index:999;/*border-bottom: 3px solid #CC2A28;*/
            z-index: 10000;
        } .welcome {
            float: left;
        }
            .welcome .logo {
                float: left;padding: 20px 0px 3px 0px;
            }
            .welcome .userProfile {
                float: left; margin: 8px 8px 8px 0;
            }
                .welcome span {
                    padding: 8px 5px; display: block; white-space: nowrap;
                    float: left; font-size: 11px;
                }
        .userNav {
            float: right; z-index: 6000; position: relative; font-size: 11px;
        }
            /* Login Wrapper */
            .userNav > .loginWrapper{
                margin-top:7px;
            }
        
            .userNav .lastNav {
                width: 2px; height: 36px; background: url(../images/navSep.png) repeat-y; position: absolute; top: 0; right: 0;
            }
            .userNav ul {
                margin-right: 2px;
            }
            .userNav ul li {
                display: inline; float: left; position: relative; cursor: pointer; border-right: 1px solid #456588;
            }
            .userNav ul li:first-child {
                border-left: 1px solid #456588;
            }
            .userNav ul li a {
                color: #eeeeee; text-decoration: none; display: block; float: left;
            }
            .userNav ul li:hover, .selected {
                background: #456588;
            }
            .userNav ul li span {
                display: block; padding: 8px 14px 8px 8px; float: left;
            }
            .userNav ul li img {
                float: left; display: block; padding: 13px 2px 11px 14px;
            }
            
            .userNav ul li ul {
                position: absolute; left: -1px; display: none; top: 35px; margin-top: 0px; background: #456588; padding: 0 1px 1px 1px; border: 1px solid #708EAF; z-index: 100;
            }
            .userNav ul li ul li {
                display: block; float: none; /*border-top: 1px solid #708EAF; */background: #456588; border-right: none; border-bottom: 1px solid #708EAF;
            }
            .userNav ul li ul li:first-child {
                border-left: none!important;
            }
            .userNav ul li ul li a {
                width: 100px; padding: 6px 10px 7px 36px; font-size: 11px; text-transform: none;
                color: #c5c5c5; font-weight: normal; float: none;
            }
                .userNav ul li ul li a:hover {
                    font-weight: normal; color: #fff;
                }
                .userNav ul li ul li:hover {
                    background: #708EAF!important;
                }




/*.sAdd { background: url(../images/icons/topnav/subAdd.png) no-repeat 15px 13px; }*/
/*.sInbox { background: url(../images/icons/topnav/subInbox.png) no-repeat 14px 12px; }*/
/*.sOutbox { background: url(../images/icons/topnav/subOutbox.png) no-repeat 14px 11px; }*/
/*.sTrash { background: url(../images/icons/topnav/subTrash.png) no-repeat 14px 12px; }*/

/* === Dividers === */

.divider { height: 0; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #fff; position: relative; margin: 15px 0 0 0; }
.divider > span { position: absolute; left: 50%; margin-left: -21px; background:#FAFAFA url('/images/themes/widgetDiv.png') no-repeat 50%; width: 36px; padding: 0 3px; height: 9px; display: block; top: -4px; }


/* Number Notification */

.numberTop {
    margin: 10px 15px 10px -5px;
    padding: 1px 5px!important;
}

.numberTop, .numberMiddle {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 1px 5px;
    color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    float: right;
    margin: 10px 15px 10px -5px;
    font-size: 11px;
    line-height: 14px;
    background: #cc2a28;
    background: -moz-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea5050), color-stop(100%, #cc2a28));
    background: -webkit-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
    background: -o-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
    background: -ms-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
    background: linear-gradient(top, #ea5050 0%, #cc2a28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5050', endColorstr='#cc2a28',GradientType=0 );
}



input[class^="input-"],
input[class*="input-"]{
    width: 100%;
    font-size: 11px;
    color: #454545;
    padding: 0px 7px 0px;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    display: inline-block;
    background: #FDFDFD;
    height: 30px;
    margin: 0px;
    line-height: 24px;
}
    .input-select{
        width: 45%;
        margin-top: 5px;
        margin-right: 20px;
        background: #FFF;
        border: 1px solid #D5D5D5;
        padding: 7px;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .input-registration{
        border: 1px solid #D5D5D5;
        height: 30px;
        width: 100%;
        overflow: hidden;
        resize: none;
        padding: 5px;
    }
    .input-search{
        height: 30px;
        width: 100%;
        background:#fff url(/images/icons/search.png) right no-repeat;
        padding: 5px 30px 5px 5px;
        border: 1px solid #D5D5D5;
        overflow: hidden;
        resize: none;
    }
    .input-announcement, .input-replyMsg{
        border: 1px solid #D5D5D5;
        height: 50px;
        width: 99%;
        overflow: hidden;
        resize: none;
        padding: 5px;
        font-size: 12px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0 0 0 2px #F4F4F4;
        -webkit-box-shadow: 0 0 0 2px #F4F4F4;
        -moz-box-shadow: 0 0 0 2px #f4f4f4;
        color: #656565;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    .input-reply{
        border: 1px solid #D5D5D5;
        height: 25px;
        width: 94%;
        resize: none;
        padding: 5px 30px 5px 5px;
        color: black;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        box-shadow: 0 0 0 2px #F4F4F4;
        -webkit-box-shadow: 0 0 0 2px #F4F4F4;
        -moz-box-shadow: 0 0 0 2px #f4f4f4;
    }
    .input-medium{
        border: 1px solid #D5D5D5;
        height: 30px;
        width: 100%;
        overflow: hidden;
        resize: none;
        padding: 5px;
        
    }
    .input-small{
        border: 1px solid #D5D5D5;
        height: 30px;
        width: 30%;
        overflow: hidden;
        resize: none;
        padding: 5px;
        
    }
    .login-flds{
        border: 1px solid #D5D5D5;
        height: 24px;
        width: 150px;
        overflow: hidden;
        resize: none;
        padding: 5px;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        /*color: #656565;*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
input[class^="simple-text-"],
input[class*="simple-text-"]{
    /*color: black;*/
    background: #FFF;
    border: 1px solid #D5D5D5;
    padding: 7px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
    .simple-text-basic{
	min-width:80px;
	width:100%;
        height: 28px;
    }
    .simple-text-select{
	width:100%;
	margin-top: 5px;
	margin-right: 20px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	padding: 7px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    }
input[class^="btn-"]{
    font-size: 11px;
    font-weight: bold;
    padding: 8px 12px 7px 12px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    border-radius: 5px;
    
}

    .btn-blueBtn {
        display: inline-block;
        padding: 4px 14px;
        margin-bottom: 3px;
        font-size: 12px;
        line-height: 20px;
        color: #FFF;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        vertical-align: middle;
        cursor: pointer;
        background-color: #486B91;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5B7EA4), to(#486B91));
        background-image: -webkit-linear-gradient(top, #5B7EA4, #486B91);
        background-image: -o-linear-gradient(top, #5B7EA4, #486B91);
        background-image: linear-gradient(to bottom, #5B7EA4, #486B91);
        background-image: -moz-linear-gradient(top, #5B7EA4, #486B91);
        background-repeat: repeat-x;
        border: 1px solid #bbbbbb;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-color: #e6e6e6 #486B91 #bfbfbf;
        border-bottom-color: #a2a2a2;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5B7EA4', endColorstr='#486B91', GradientType=0);
        filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #2E5B85;
    }
    
        .btn-blueBtn:hover {
            opacity: 0.95;
            filter: alpha(opacity=95);
            -webkit-transition: opacity 0.2s ease-in-out;
            -moz-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
            cursor: pointer;
        }
    .btn-basicBtn {
        border: 1px solid #D5D5D5;
        color: #525252;
        background: #EFEFEF;
        background: -moz-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#EFEFEF));
        background: -webkit-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
        background: -o-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
        background: -ms-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
        background: linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
    }
        .btn-basicBtn:hover{
            -webkit-transition: box-shadow 0.05s ease-in-out;
            -moz-transition: box-shadow 0.05s ease-in-out;
            transition: box-shadow 0.05s ease-in-out;
            background: #F2F2F2;
            background: -moz-linear-gradient(top, #FBFBFB 0%, #F2F2F2 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#F2F2F2));
            background: -webkit-linear-gradient(top, #FBFBFB 0%,#F2F2F2 100%);
            background: -o-linear-gradient(top, #FBFBFB 0%,#F2F2F2 100%);
            background: -ms-linear-gradient(top, #FBFBFB 0%,#F2F2F2 100%);
            background: linear-gradient(top, #FBFBFB 0%,#F2F2F2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 );
        }
    .btn-primary{
        border: 1px solid #D5D5D5;
        color: #000;
        background: #FAFAFA;
        background-color: #FAFAFA;
        background-image: -moz-linear-gradient(top, #FEFEFE, #F2F2F2);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#F2F2F2));
        background-image: -webkit-linear-gradient(top, #FEFEFE, #F2F2F2);
        background-image: -o-linear-gradient(top, #FEFEFE, #F2F2F2);
        background-image: linear-gradient(to bottom, #FEFEFE, #F2F2F2);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

/* Set Fields */
.fields{
    float: left; min-height: 40px; width: 100%;position: relative;border-bottom: 1px solid #ddd;
}
    .label{
	float: left;margin-top: 10px;font-size: 12px; width: 30%;font-weight: bold;
    }
    .label_basic{
	float: left;margin-top: 10px;font-size: 12px; width: 30%;
    }
    .label_value{
	float: left;margin-top: 8px;font-size: 12px; width: 100%;
    }
	.label_1{
	    float: left;margin-top: 10px;font-size: 12px; font-weight: bold;  color: #000;width: 100%; text-align: left;
	}
    .input_position{
	float: left;width: 70%;
    }
    .input_position2{
	float: left;width: 100%;
    }
.fields_below{
    min-height: 40px;width: 100%;position: relative;
}
    .label_below{
	float: left;/*margin-left: 5px;*/margin-top: 5px;font-size: 12px; width: 100%;font-weight: bold;
    }
    .label_below2{
	   float: left;/*margin-left: 5px;*/margin-top: 5px; width: 100%;font-weight: bold;
    }
	.input_position_below{
	   width: 100%;
       clear: both;
       display: block;
    }
.hr {
    clear: both;
    padding: 0;
    margin: 0 0 1em;
    height: 6px;
    background: rgba(0, 0, 0, 0) url("/images/themes/hr-bg.gif") repeat-x 0 0;
}


div.uploader {
width: 240px;
float:left;
position: relative;
overflow: hidden;
border: 1px solid #D5D5D5;
background: #FFF;
padding: 2px 2px 2px 8px;
}

div.uploader input {
width: 266px;
opacity: 0;
filter: alpha(opacity:0);
position: absolute;
top: 0;
right: 0;
bottom: 0;
float: right;
height: 26px;
border: none;
cursor: pointer;
}

div.uploader span.filename {
color: #777;
max-width: 200px;
font-size: 11px;
line-height: 22px;
float: left;
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
cursor: default;
}

div.uploader span.action {
    width: 22px;
    background: #FFF url(/images/icons/addFiles.png) no-repeat 0 0;
    height: 22px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    text-indent: -9999px;
    display: inline;
    overflow: hidden;
    cursor: pointer;
}
.notification_wrapper
{
    float: left;width:100%;height:30px;margin-top: 10px;
}
    .notification-position
    {
        float:left;
        font-family:Arial;
        font-size:12px;
        color:#706851;
        padding: 5px;
        width: 90%;
    }
    .img-notification-position
    {
        float:left;
        font-family:Arial;
        font-size:12px;
        color:#706851;
        margin-top:5px;
    }
    .exclamation
    {
        background-color:#fdfbcb;
        border:1px solid #e5db55;
        float:left;width: 100%;
        /*padding: 5px;
        border-radius: 5px;*/
        
    }
    .warning
    {
        background-color:#d9e5ff;
        border:1px solid #a3b3ee;
        float:left;width: 100%;
        /*padding: 5px;
        border-radius: 5px;*/
    }
    .correct
    {
        background-color:#d5ffcf;
        border:1px solid #9adf8f;
        float:left;width: 100%;
        /*padding: 5px;
        border-radius: 5px;*/
    }
    .wrong
    {
        
        background-color:#ffcdce;
        border:1px solid #df8f90;
        float:left;width: 100%;
        /*padding: 5px;
        border-radius: 5px;*/
    }
/* Slide Show CSS Design */
#slideshow { 
    /*margin: 50px auto; */
    position: relative; 
    width: 100%; 
    height: 350px; 
    /*padding: 10px; */
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow_thumb{
    /*margin: 50px auto; */
    position: relative; 
    width: 100%; 
    height: 100px;
    padding: 5px;
    /*padding: 10px; */
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
.slideCaption{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


/* Home */
/*.logo {
    float: left;
    margin-top: 10px;
}
.middleNav {
    float: right;
    margin-right: 1px;
    margin: 23px 0;
}*/

/*===== Large round buttons =====*/

.round-buttons { width: 100%; /*text-align: center;*/ padding: 14px; font-size: 0; line-height: 1; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.round-buttons > li { margin: 4px 12px; position: relative; display: inline-block; text-align: center; width:80px; height:80px; border:1px solid #53769c; /*border-radius:50%;*/ position:relative; background: #fcfcfc; }

.depth { overflow: hidden; margin: 4px; width: 72px; height: 72px; /*border-radius: 50%;*/ background-color: #517398;
box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);

-webkit-transition: all 0.1s ease-in-out; 
   -moz-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
}
.depth:active { background: #cf6a59;
  box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
}
.depth > a { display: block; width: 62px; height: 62px; position: relative; text-align: center; /*border-radius: 50%;*/ cursor: pointer; margin: 5px;
  background: #f7f7f7; 
  background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); 
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 
  background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 
  background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 
  background: linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.depth > a:active { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background: #fafafa; }

.depth > a > i { font-size: 24px; margin: 19px 0; width: 24px; float: none; color: #676767; text-shadow: 0 1px 0 #ffffff; height: 24px;
  -webkit-transition: all 0.1s ease-in-out; 
     -moz-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.depth > a:hover { background: #fcfcfc; }
.depth > a:hover > i { color: #3d829c; }
.depth > a:active > i { color: #cf6a59; }

/*===== Application Forms =====*/

.appForm { overflow: hidden; margin: 4px; width: 72px; height: 72px; background-color: #7FC3DD;
box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);

-webkit-transition: all 0.1s ease-in-out; 
   -moz-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
}
.appForm:active { background: #cf6a59;
  box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
}
.appForm > a { display: block; width: 62px; height: 62px; position: relative; text-align: center;  cursor: pointer; margin: 5px;
  background: #f7f7f7; 
  background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); 
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 
  background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 
  background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 
  background: linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); 

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.appForm > a:active { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background: #fafafa; }

.appForm > a > i { font-size: 24px; margin: 19px 0; width: 24px; float: none; color: #676767; text-shadow: 0 1px 0 #ffffff; height: 24px;
  -webkit-transition: all 0.1s ease-in-out; 
     -moz-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.appForm > a:hover { background: #fcfcfc; }
.appForm > a:hover > i { color: #3d829c; }
.appForm > a:active > i { color: #cf6a59; }



/*===== Main navigation =====*/
.navigation {float: left;width: 100%;margin-top: 15px;}
.navigation > li { position: relative; margin-top: 1px; }
.navigation > li:first-child { margin-top: 0; }
.navigation > li > a, .navigation > li > .online { color: #333333; font-size: 11px; font-weight: bold; display: block; padding: 5px 5px 5px 5px; border: 1px solid #d5d5d5; 
  background: #f5f5f5;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}
.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:active, .navigation > li > a.subOpened, .navigation > li > a.subOpened:hover { color: #fff; vertical-align: middle; background: #5B9BB4; border-color: #47869E;

  background: url('/images/themes_2/header.jpg');

}
.navigation > li.active > a:hover > i, .navigation > li > a.subOpened:hover > i { color: #ffffff; }
.navigation > li.active > a > i, .navigation > li > a.subOpened > i { color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35); }
.navigation > li > a:hover { filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background: #fcfcfc; border-color: #ccc; color: #497b95; }
.navigation > li > a:active { background: #ffffff; color: #555555; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.navigation > li > a:hover > i { color: #497b95; }
.navigation > li > a > i, .navigation > li > a > b { color: #5C696F; font-size: 14px; display: block; float: left; margin-top: 3px; text-align: left; margin-right: 6px; }
.navigation > li.active a strong { background: #555; 
  box-shadow: 0 1px 2px #4A4A4A inset, 0 1px 2px rgba(255, 255, 255, 0.2); 
  -webkit-box-shadow: 0 1px 2px #4A4A4A inset, 0 1px 2px rgba(255, 255, 255, 0.2); 
  -moz-box-shadow: 0 1px 2px #4A4A4A inset, 0 1px 2px rgba(255, 255, 255, 0.2); cursor: default;
}
.navigation li a strong { float: right;font-family: Arial, Helvetica, sans-serif; padding: 5px 7px 4px 7px;color: #fff; line-height: 13px; text-shadow: none; /*position: absolute;*/ right: 10px; top: 11px; background: #5B6368; font-size: 11px; 
  border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2) inset; cursor: default;
}
.navigation > li > ul { background: #fff; }
.navigation > li > ul > li { position: relative; border: 1px solid #ddd; border-top: 0; }
.navigation > li > ul > li.current {  }
.navigation > li > ul > li:first-child { border-top: 1px solid #ddd; }
.navigation > li > ul > li.current > a, .navigation > li > ul > li.current > a:hover { color: #327394; margin-right: -1px; }
.navigation > li > ul > li > a { color: #5f5f5f; font-size: 11px; display: block; padding: 8px 12px; background: #fcfcfc;
  -webkit-transition: all 0.1s ease-in-out; 
     -moz-transition: all 0.1 ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.navigation > li > ul > li > a:hover { background: #fafafa; color: #B14131; padding: 8px 12px; }
.navigation > li > ul > li > a:before { content: ""; float: left; width: 5px; height: 5px; background: url(../img/elements/interface/plus.png) no-repeat; margin-right: 10px; margin-top: 7px; }
.navigation > li > ul > li > a:hover { box-shadow: -1px 0 0 #EF705B, 2px 0 0 #EF705B inset; -webkit-box-shadow: -1px 0 0 #EF705B, 2px 0 0 #EF705B inset; -moz-box-shadow: -1px 0 0 #EF705B, 2px 0 0 #EF705B inset; }
.navigation > li > a.expand { margin-bottom: 1px; }

.navigation > li > ul > li > ul { box-shadow: 1px 0 0 #b1b7bb, 0 1px 0 #b1b7bb, 0 -1px 0 #b1b7bb; -webkit-box-shadow: 1px 0 0 #b1b7bb, 0 1px 0 #b1b7bb, 0 -1px 0 #b1b7bb; -moz-box-shadow: 1px 0 0 #b1b7bb, 0 1px 0 #b1b7bb, 0 -1px 0 #b1b7bb; }
.navigation > li > ul > li > ul li { border-top: 1px solid #f2f2f2; }
.navigation > li > ul > li > ul li:first-child { border-top: 0; }
.navigation > li > ul > li > ul li a { padding: 8px 12px 8px 17px; color: #5f5f5f; font-size: 11px; display: block; 
  -webkit-transition: all 0.1s ease-in-out; 
     -moz-transition: all 0.1s ease-in-out;
       -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.navigation > li > ul > li > ul li a:hover, .navigation > li > ul > li > ul li a.current { background-color: #fdfdfd; color: #B14131; }
.navigation > li > ul > li > ul li a:before { content: ""; float: left; width: 5px; height: 5px; background: url(../img/elements/interface/plus_light.png) no-repeat; margin-right: 10px; margin-top: 7px; }

.navigation li ul li a.subOpened:before { float: left; width: 5px; height: 1px; background: url(../img/elements/interface/minus.png) no-repeat; margin-right: 10px; margin-top: 9px; }
.navigation li ul li a.subOpened, 
.navigation > li > ul > li > a.current { color: #2883b8; background-color: #fafafa; 
  box-shadow: -1px 0 0 #b1b7bb, 2px 0 0 #b1b7bb inset;
  -webkit-box-shadow: -1px 0 0 #b1b7bb, 2px 0 0 #b1b7bb inset;
  -moz-box-shadow: -1px 0 0 #b1b7bb, 2px 0 0 #b1b7bb inset; 
}





/* CSS Color */
.red{ color: #CC2A28; }
.green { color: #2A8827; }
.gray { color: #B2B2B2; }
.black {color: #000;}
.gray_bg { background-color: whiteSmoke;}
.white {color:#fff;}
.blue {color:#2b6893;}
/* CSS Border Color */
.frequired-red{border-color: #CC2A28 !important;
background-color: #E62C2A !important;
color: #FFF !important;}
.text_underline{
    text-decoration: underline;
    font-weight: bold;
}
.font_italic{
    font-style: italic;
}



/* Post page
================================================== */

.post li,.reply li { /*position: relative;*/ min-height: 36px; margin-top: 20px; }
.post li:first-child,.reply li:first-child { margin-top: 0; }
.post > li.divider,.reply > li.divider { border-top: 1px solid #DFDFDF!important; margin: 20px 0 20px 0!important; min-height: 0; }
.post > li.divider > span,.reply > li.divider > span { background-color: #f5f5f5!important; }
.post .by-user > a, .post .by-me > a,
.reply .by-user > a, .reply .by-me > a{ position: absolute; top: 0; display: block; }
.post .by-user > a,.reply .by-user > a { left: 0; }
.post .by-me > a,.reply .by-me > a { right: 0; }
.post .by-user .arrow, .post .by-me .arrow,
.reply .by-user .arrow, .reply .by-me .arrow{ width: 8px; height: 9px;  position: absolute;  top: 12px; }
.post .by-user .arrow,
.reply .by-user .arrow{ background: url(/images/icons/messageArrow_left.png) no-repeat; left: -8px; }
.post .by-me .arrow,
.reply .by-me .arrow{ background: url(/images/icons/messageArrow_right.png) no-repeat; right: -8px; }
.post .by-user .area, .post .by-me .area,
.reply .by-user .area, .reply .by-me .area{ box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; padding: 8px 12px; position: relative; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid; }
.post .by-user .area,
.reply .by-user .area{ background: #fafeff; border-color: #b5cdd7; margin-left: 52px; } 
.post .by-me .area,
.reply .by-me .area{ background: #fff; border-color: #dcdcdc; margin-right: 52px; } 
.post .area > p,
.reply .area > p{ margin: 0; }
.by-user .pull-left > strong { color: #2c596d; }
.by-me .pull-left > strong { color: #393939; }
.info-row { font-size: 11px; color: #949494; margin-bottom: 4px; }
.info-row:after { content: ""; display: block; clear: both; }

.post,.reply { overflow: hidden; /*padding: 10px; */border-bottom: 1px solid #ddd; *zoom: 1; }
.post:first-child,
.reply:first-child{ padding-top: 0; }
.message-img { float: left; margin-right: 30px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; overflow: hidden; }
.message p { margin: 0; }
.message-img img { display: block; width: 44px; height: 44px; }
.message-body { margin-left: 74px; }
.post .text,
.reply .text{ padding: 10px; border: 1px solid #e5e5e5; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #fff;word-break: break-word; }
.post .attribution,
.reply .attribution{ margin: 6px 0 0; font-size: 11px; color: #666; }

.timeline-messages, .post:first-child,
.reply:first-child{margin-top: 20px;}
.timeline-messages, .post, .reply { position: relative;margin-top: 5px;}
.timeline-messages:before, .post:before, .post .text:before,
.reply:before, .reply .text:before{ content: ""; position: absolute; top: 0; left: 65px; }
.timeline-messages:before { width: 2px; top: 0; bottom: 0; background: rgba(0,0,0,0.1); left: 58px; }
.post:before,
.reply:before{ width: 8px; height: 8px; border: 2px solid #fafafa; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; margin: 32px 0 0 -12px; background: #ccc; }
.post:first-child:before,
.reply:first-child:before{ margin-top: 16px; }
.post:hover:before,
.reply:hover:before{ background: #fa9e0e; }
.openImageView:hover{cursor: pointer;}
.avatar_radius{border-radius: 50px;}
/* Enter message field  */

.enter-message { position: relative; margin-top: -2px; margin-bottom: 4px; }
.enter-message-divider { height: 0; border-top: 1px solid #ddd; margin: 20px -16px; }
.enter-message.for-messages { margin-top: 0; }
.message-actions { margin-bottom: -5px; }
.message-actions:after { content: ""; display: block; clear: both; }
.enter-message textarea { width: 100%; background: #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; display: block; border: 1px solid #d5d5d5;  box-shadow: 0 1px 1px #fafafa; -webkit-box-shadow: 0 1px 1px #fafafa; -moz-box-shadow: 0 1px 1px #fafafa; padding: 10px; color: #404040; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.send-button { display: block; float: right; margin-top: 15px; }
.send-button .attach-link, .send-button .attach-photo { opacity: .4; filter: alpha(opacity=40); display: block; float: left; margin: 9px 0 0 12px; }
.send-button .attach-link:hover, .send-button .attach-photo:hover { opacity: 1; filter: alpha(opacity=100); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.send-button .attach-link { width: 12px; height: 12px; background: url(../images/elements/other/link.png) no-repeat; }
.send-button .attach-photo { width: 14px; height: 11px; background: url(../images/elements/other/photo.png) no-repeat; }
.send-button input[type=submit] { float: left; display: block; margin: 0 0 0 12px; }
.user-is-typing { float: left; color: #999; font-size: 11px; font-style: italic; margin-top: 18px; white-space: nowrap; }
.user-is-typing > img { display: block; float: left; margin: 4px 8px 0 0; }


/* Tables
================================================== */

/* ===== Static table ===== */

.sTable thead td { text-align: center; }
.sTable thead td { border-bottom: 1px solid #cbcbcb; border-left: 1px solid #cbcbcb; color: #878787; font-size: 11px; color: #878787; font-weight: normal; padding: 3px 8px 2px 8px; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
}

table thead td.sortCol > div { cursor: pointer; position: relative; }
table thead td span { background: url(../images/icons/sort.png) no-repeat 0; display: block; position: absolute; right: 3px; top: 2px; width: 16px; height: 16px; }
table thead td.headerSortUp span { background: url(../images/icons/sortUp.png) no-repeat 0; }
table thead td.headerSortDown span { background: url(../images/icons/sortDown.png) no-repeat 0; }

.sTable thead td a { color: #878787; }
.sTable thead td:first-child { border-left: none; }
.mTable tfoot tr { height: 50px; border-top: 1px solid #ddd; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
}

.fileInfo { font-size: 11px; text-align: center; }
.fileInfo span { display: block; }

.itemActions { float: left; margin: 12px; }
.itemActions label { float: left; margin: 4px 12px 0 4px; font-size: 11px; }
.itemActions .selector, .itemActions .selector span { width: 120px; }
.itemActions .selector select { width: 130px; }


.sTable .checker { margin: 0 auto; float: none; }

.sTable tbody tr { border-top: 1px solid #e4e4e4; }
.sTable tbody tr:nth-child(even) { background-color: #f6f6f6; }

.sTable tbody td { border-left: 1px solid #e4e4e4; padding: 8px 12px; vertical-align: middle; }
.sTable tbody td:first-child { border-left: none; }
.sTable tbody tr:first-child { border-top: none; }

.withCheck tbody tr td:first-child, .withCheck tbody tr th:first-child { padding: 11px; }
.withCheck thead tr td:first-child { vertical-align: middle; width: 37px!important; padding: 2px 0 0 0; }





/* Pagination
================================================== */

/* ===== Table pagination ===== */

.tPagination { float: right; display: block; text-align: center; margin: 16px 12px 0 5px; }
.tPagination ul li { display: inline-block; }
.tPagination ul li a { color: #595959; background: #fefefe url(../images/backgrounds/tPagination.png) repeat-x; padding: 3px 7px; border: 1px solid #ddd; font-size: 11px; }
.tPagination ul li.prev a { background: url(../images/icons/prev.png) no-repeat 0; border: none; }
.tPagination ul li.next a { background: url(../images/icons/next.png) no-repeat 100%; border: none; }	


/* ========== Content pagination ========== */

.pagination { margin: auto; width: auto; text-align: center; margin-top: 30px; }
.pages {  }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li {  display: inline-block; margin: 5px 2px; } 
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #666666; font-weight: bold; border: 1px solid #d5d5d5; font-size: 11px; 
background: #fafafc;
background: -moz-linear-gradient(top,  #fafafc 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafc), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafc 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafc 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafc 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafc 0%,#efefef 100%);

}
.pages li a:hover { background: #f6f6f6; }
.pages li .active { background: url(../images/backgrounds/sideGradient.png) repeat-x; color: #fff; border-color: #424852; }
.pages li .active:hover { background: #2a313d; }


/* Tabs */
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 38px;
    border-bottom: 1px solid #ddd;
    width: 100%;
        
}
ul.tabs > li:first-of-type {
    /*border-radius: 0px 5px 0px 0px;*/
    /*border-left: none;*/
}
ul.tabs > li{
        float: left;
        margin: 0;
        cursor: pointer;
        padding: 0px 21px ;
        height: 37px;
        line-height: 38px;
        border-left: 1px solid #ddd;
        /*border-left: none;*/
        overflow: hidden;
        position: relative;
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color: #555555;
        /*border-radius: 5px 5px 0px 0px;*/
}
ul.tabs > li:hover {
    color: #000;
    /*background: #d7ebff;*/
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #FFF 0%, #F5F5F5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F5F5F5));
    background: -webkit-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
    background: -o-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
    background: -ms-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
    background: linear-gradient(to bottom, #FFF 0%,#F5F5F5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}	
ul.tabs > li.active{
    /*border: 1px solid #ddd;*/
    border-left: 1px solid #ddd;
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #999999;
    display: block;
}
.tab_container {
    /*border: 1px solid #ddd;*/
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    height:100%;
    /*background-color:#ffffff;*/
    min-height: 300px;
}
.tab_content {
    font-size: 12px;
    display: none;
    height:100%;
    overflow:auto;
    padding: 5px; 
}




.scrollup {
    z-index: 1000;
    display: none;
    width: 40px;
    height: 40px;
    text-indent: -9999px; 
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 12px;
    cursor: pointer;
    display: none;
    background: url('/images/themes/icon_top.png') no-repeat;
}





    
    
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 0;
    font-size: 11px;
    list-style: none;
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dropdown-menu li {
    border-top: 1px solid #E5E5E5;
    position: relative;
    text-align: left;
    background: #F8F8F8;
    background: -moz-linear-gradient(top, #FEFEFE 0%, #F8F8F8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#F8F8F8));
    background: -webkit-linear-gradient(top, #FEFEFE 0%, #F8F8F8 100%);
    background: -o-linear-gradient(top, #FEFEFE 0%, #F8F8F8 100%);
    background: -ms-linear-gradient(top, #FEFEFE 0%, #F8F8F8 100%);
    background: linear-gradient(top, #FEFEFE 0%, #F8F8F8 100%);
}
.dropdown-menu li > a {
    display: block;
    padding: 8px 8px 7px 8px;
    clear: both;
    font-weight: normal;
    line-height: 21px;
    color: #333;
    white-space: nowrap;
}

/* ========== Dialog Box ========== */
#popup_container {
    background: #F7F7F7;
    background: -moz-linear-gradient(top, #FFF 0%, #F7F7F7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F7F7F7));
    background: -webkit-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    background: -o-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    background: -ms-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    background: linear-gradient(top, #FFF 0%,#F7F7F7 100%);
    font-family:'Lucida Grande',arial;
    /*#font-weight:bold;*/
    text-align:left;
    font-size: 12px;
    /*#width: 364px;*/
    width: 410px;
    -moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 8px solid rgba(0,0,0,0.3);
    overflow-y: auto;
    color: #000;
    border-radius: 8px;
    overflow: hidden;
}

#popup_title {
    display:none;
}
#popup_message {
	padding: 15px;
}

#popup_panel {
    text-align: left;
	padding-left:15px;
	/*#margin-bottom: 5px;*/
	background-color: #E7E7E7;
	padding: 5px;
}



/* ========== Breadcrumbs ========== */

.module:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
* html .module { height: 1%; overflow: visible; }
* + html .module { min-height: 1%; }

.breadCrumbHolder.module { border: solid 1px #D5D5D5; background: #FAFAFA; /*margin-top: 20px;*/ }
.breadCrumb { float: left; display: block; /*height: 21px;*/ overflow: hidden; width: 100%; padding: 5px; }
.breadCrumb ul { margin: 0; padding: 0; height: 21px; display: block; }
.breadCrumb ul li { display: block; float: left; position: relative; height: 21px; overflow: hidden; line-height: 21px; margin: 0px 6px 0px 0; padding: 0px 12px 0px 2px; font-size: .9167em; background: url(/images/icons/Chevron.gif) no-repeat 100% 0; }
.breadCrumb ul li div.chevronOverlay { position: absolute; right: 0; top: 0; z-index: 2; }
.breadCrumb ul li span { display: block; overflow: hidden; }
.breadCrumb ul li a { display: block; position: relative; height: 21px; line-height: 21px; overflow: hidden; float: left; }
.breadCrumb ul li.firstB a { height: 16px !important; text-indent:-1000em; width:16px; padding: 0; margin-top: 2px; overflow: hidden; background:url(/images/icons/IconHome.gif) no-repeat 0 0; }
.breadCrumb ul li.firstB a:hover { background-position: 0 -16px; }
.breadCrumb ul li.lastB { background: none; margin-right: 0; padding-right: 0; }

.chevronOverlay { display: none; background: url(../images/ChevronOverlay.png) no-repeat 100% 0; width: 13px; height: 20px; }













/* =================================
   =====  General styles =====
   ================================= */

.container{
    margin:0 auto;
    width: 1250px;
}

.contentHolder { float: left; position:relative;padding:0px; width: 100%; height: 467px; overflow: hidden; }

/* ========== Left Navigation Bar ========== */
    .leftBar{
        float: left;width:15%;padding: 10px;border: 1px solid #d5d5d5;min-height: 580px;background-color: #fff;/*background-color: #FAFAFA;*//*background: url(/images/themes/side.jpg);*/
    }
        .companyUserLogo{
            float: left;width: 95%;padding: 5px;border: 1px solid #ddd;border-bottom: none;background-color: #fff;
        }
        .companyUserMenu{
            float: left;width: 95%;padding: 5px;border: 1px solid #d5d5d5;border-bottom: none;cursor: pointer;background: #F7F7F7;
            background: -moz-linear-gradient(top, #FFF 0%, #F7F7F7 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F7F7F7));
            background: -webkit-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
            background: -o-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
            background: -ms-linear-gradient(top, #FFF 0%,#F7F7F7 100%);
            background: linear-gradient(top, #FFF 0%,#F7F7F7 100%);
        }
            .companyUserMenu > div > label{
                font-size: 11px;font-weight: bold;cursor: pointer;font-size: 11px;font-weight: bold;cursor: default;
            }
        .leftBar > span:nth-child(3){
            border-bottom: 1px solid #d5d5d5;
        }
    
    /* ========== Content Bar ========== */
    .contentBar{
        float: left;width:82%;border: 1px solid #d5d5d5;margin-left: 1px;background-color: #fff;margin-bottom: 200px;
    }
        .content_wrapper{
            float: left;width: 100%;min-height: 500px;margin-bottom: 20px;
        }
            .content_wrapper > div.mainContent{
                float: left;width: 70%;min-height:700px;
            }
                .content_wrapper > div.mainContent > div:first-child{
                    padding: 5px;
                }
            .content_wrapper > div.mainContent_widget{
                float: right;width: 30%;
            }
                .content_wrapper > div.mainContent_widget > div:first-child{
                    padding: 5px;
                }
    .headerContentBar{
        float: left;width: 100%;border-bottom: 1px solid #d5d5d5;
    }
    
    /*  Design to the header of every page*/
    .body_header_container{
        border-left:1px solid #D5D5D5;border-right:1px solid #D5D5D5;margin-bottom: 10px;
    }
/* ========== Workspace ========== */
    .workspace_form{
        border: 1px solid #ddd;background: url(/images/themes/workspace.jpg);min-height: 600px;
        padding: 5px;
    }
    
    /* ========== Widgets ========== */
        
        .widget {
            float: left;
            border: 1px solid #D5D5D5;
            display: block;
            background: #fff;
            border-top: none;
            width: 100%;
        }
        .widget .head h5 {
            font-weight: normal;
            padding: 9px 12px 9px 35px;
            float: left;
        }
        .widget .num {
            float: right;
            display: inline-block;
            text-align: center;
            margin: 9px 9px 0 0;
            font-size: 11px;
        }
        .widget .num a.redNum {
            background-position: 0 -57px;
            border: 1px solid #9D382F;cursor: default;
        }
        .widget .num a {
            background-color: #cc2a28;
            height: 19px;
            padding: 2px 5px;
            color: #FEFEFE;
        }
        .head {
            min-height: 38px;
            background: url('/images/themes_2/header.jpg');
            /*border-top: 1px solid #5AA8FD;
            border-bottom: 1px solid #5179CF;
            position: relative;
            background: #69AEF8;
            background: -moz-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69AEF8), color-stop(100%, #5179CF ));
            background: -webkit-linear-gradient(top, #69AEF8 0%, #5179CF 100%);
            background: -o-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
            background: -ms-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
            background: linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );*/
        }
            .head > .title_head{
                float: left;padding: 10px;font-weight: bold;color:#fff;
            }
            .head > .title_head_btn{
                float: left;padding: 5px;font-weight: bold;
            }
            .head > .right_bar_tab{
                float: right;font-weight: bold;
            }
            
            .head > div.right_bar_content{
                float: right; padding: 10px;font-weight: bold;
            }
            
            .head >  .right_bar_menu{
                float: right;padding: 10px;font-weight: bold;border-left: 1px solid #D5D5D5;border-bottom: 1px solid #D5D5D5;height: 18px;
            }
                .head > .right_bar_menu:hover{
                    cursor: pointer;
                    background: #D7EBFF;
                    background: #F5F5F5;
                    background: -moz-linear-gradient(top, #FFF 0%, #F5F5F5 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F5F5F5));
                    background: -webkit-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
                    background: -o-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
                    background: -ms-linear-gradient(top, #FFF 0%,#F5F5F5 100%);
                    background: linear-gradient(to bottom, #FFF 0%,#F5F5F5 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
                }
            .head > .right_bar_breadcrumbs{
                 float: right;padding: 5px;font-weight: bold;
            }
        
        .supTicket {
            padding: 12px 12px 15px 12px;
        }
        .nobg {
            background: none!important;
        }
        .supTicket .issueType {
            color: #515E70;
            clear: both;
            font-weight: bold;
            background: url(/images/themes/dashed.png) repeat-x 0;
        }
        .supTicket .issueType .issueInfo {
            float: left;
            display: block;
            background: #fff;
            padding-right: 5px;
        }
        .supTicket .issueType .issueNum {
            float: right;
            display: block;
            background: #fff;
            padding-left: 5px;
            padding-right: 1px;
        }
        .issueSummary {
            clear: both;
            padding-top: 14px;
        }
        .issueSummary img {
                border: 1px solid #D5D5D5;
        }
        .ticketInfo {
            margin-top: -3px;
            margin-bottom: -11px;
            margin-left: 50px;
        }
        .ticketInfo ul {
            width: 100%;
            margin-bottom: -6px;
        }
        .ticketInfo ul li {
            width: 50%;
            margin-top: -2px;
            display: inline-block;
            float: left;
            margin-bottom: 6px;
            padding: 0;
        }
        .ticketInfo ul li.even {
            text-align: right;
        }
    
    
    /* Announcement Design */
    
    .widget > div.postActions{
        float: left;margin-left:5px;
    }
    .widget > div.btn_post_holder{
        float: right;margin-top: 3px;margin-right: 10px;
    }
    
    /* Messages page
    ================================================== */
        .messagesOne {float: left;position: relative;width: 100%;height: 370px;overflow: hidden;border-bottom: 1px solid #ddd;margin-bottom: 10px;}
        .messagesOne li { position: relative; min-height: 36px; margin: 0 18px 20px 18px; }
        .messagesOne li:first-child { margin-top: 20px; }
        .messagesOne > li.divider { border-top: 1px solid #DFDFDF!important; margin: 20px 0 20px 0!important; min-height: 0; }
        .messagesOne > li.divider > span { background-color: #f5f5f5!important; }
        .messagesOne .messageRow a { display: block; width: 37px; height: 36px; }
        
        .messagesOne .by_user > a, .messagesOne .by_me > a  { position: absolute; top: 0; display: block; }
        .messagesOne .by_user > a { left: 0; }
        .messagesOne .by_me > a { right: 0; }
        
        .messagesOne .by_user .aro, .messagesOne .by_me .aro { width: 8px; height: 9px;  position: absolute;  top: 12px; }
        .messagesOne .by_user .aro { background: url(/images/icons/messageArrow_left.png) no-repeat; left: -8px; }
        .messagesOne .by_me .aro { background: url(/images/icons/messageArrow_right.png) no-repeat; right: -8px; }
        
        .messagesOne .by_user .messageArea, .messagesOne .by_me .messageArea { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; padding: 8px 12px; position: relative; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid; }
        .messagesOne .by_user .messageArea { background: #fafeff; border-color: #b5cdd7; margin-left: 60px; } 
        .messagesOne .by_me .messageArea { background: #fefefe; border-color: #dcdcdc; margin-right: 60px; } 
        
        .by_user .name > strong { color: #2c596d; }
        .by_me .name > strong { color: #393939; }
        
        .infoRow { font-size: 11px; color: #949494; margin-bottom: 6px; margin-top: -2px; }
        .infoRow:after { content: ""; display: block; clear: both; }
        .infoRow > .time { float: right; }
        .infoRow > .name { float: left; }
        
        .messagesTwo li { position: relative; min-height: 36px; border-top: 1px solid #cdcdcd; }
        .messagesTwo li:first-child { border-top: none; }
        .messagesTwo li > a { margin: 14px; display: block; position: absolute; left: 0; top: 0; }
        .messagesTwo li .messageArea { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; padding: 10px 16px; position: relative; border-left: 1px solid #cdcdcd; margin-left: 65px; min-height: 64px; }
        .messagesTwo .by_user { background: #FEFEFE; }
        
        
        /* Enter message field  */
        .enterMessage { position: relative; margin-top: 20px;  }
        .enterMessage input[type=text] { width: 100%; height: 34px; background: #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; display: block; border: 1px solid #d5d5d5;  box-shadow: 0 1px 1px #fafafa; -webkit-box-shadow: 0 1px 1px #fafafa; -moz-box-shadow: 0 1px 1px #fafafa; padding: 10px 120px 10px 10px; color: #404040; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
    
            .msgNote{
                margin-top:100px;text-align:center;color:#ccc;
            }
                .msgNote > label{
                    font-size:15px;
                }
        .loadMsgList_hover{
            background-color:whiteSmoke;
        }
    /* Send Private Message
    ================================================== */
        .searchbox{
            width:100px;
            padding:3px;
            border: none;
            outline: none;
         }
         #display_search{
            display:none;
            border: 1px solid #ddd;
            overflow:hidden;
         }
         .display_box{
            padding:4px;
            border:solid 1px #dedede;
            border-top:none;
            font-size:12px; height:30px;
         }
         .display_box > div{
            margin-left: 5px;margin-top: 5px;
         }
         .display_box:hover{
            background:#3b5998;
            color:#FFFFFF;
            cursor: pointer;
         }
         #shade{
            background-color:#00CCFF;
         }
         
         .recipient{
            float: left;padding: 5px;
            background-color: whiteSmoke;
            border-radius: 5px;
            margin-left: 2px;
            border: 1px solid #ddd;
            margin-top: 5px;
            font-size: 10px;
            font-family: arial;
         }
         .activeS {
            background-color: whiteSmoke;
         }
    /*aaron*/
    .request-box:hover{
        background-color: #F0F0F0;
    }

/* FeedBack on request comment
================================================== */

#feedback{
    width: 352px;
    position: fixed;
    top: 100px;
    display: none;
    z-index: 100000;
                    
}
#feedback .formdiv{
    width: 300px;
    float: left;
    background: #FAFAFA;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EFEFEF));
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
    background: linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
    border-radius:5px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    min-height:100px;
}
#feedback label{
    font:bold 11px arial;
    color: #ddd;
}
#feedback textarea{
    width: 290px;
    height: 100px;
    color: #000;
    font: normal 11px verdana;
    border: none;
    padding: 5px;
    background-color: #fff;
    border-top: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    resize: none;  /* disable extending textarea in chrome */
}
#feedback input[type="text"]{
    font: normal 11px verdana;
    padding: 3px;
    width: 200px;
    height: 25px;
    border: none;
    color: #000;
    background-color: #fff;
    border-top: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}
#feedback input[type="submit"]{
    background-color: #ffaffa;
    border: none;
    color: #6f115c;
    font:bold 11px arial;
    padding: 2px 6px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    cursor: pointer;
}
#feedback .left_btn,
#feedback .right_btn{
    width: 26px;
    height: 100px;
    float: left;
    cursor: pointer;
}

#feedback .feed_close{
    cursor: pointer;
    margin:-15px -5px 0px 0px;

}
            #error
            {
                color:#fff;
                padding:4px;
                font-size:11px;
            }
            .thankyou
            {
                text-align:center;
                display:none;
            
            }


.ui-datepicker-div { z-index: 10001; }

/* Attachment File
================================================== */
.attached_file_container{
    min-height: 30px;
}
    .attached_file_container > div{
        float:left;background-color:#fff;border:1px solid #D5D5D5;border-radius:5px;padding:5px;margin-left:5px;min-height:40px;
    }
        .attached_file_container > div > form > div{
            text-align: center;
        }
            .attached_file_container > div > form > div > input{
                opacity: 0;position: absolute;width: 10px;
            }
       /* .attached_file_container > div > form > a > div{
            float:left;width:30px;height:35px;border:transparent;
        }*/
            .attached_file_container > div > form > a > div > i{
                font-size: 30px;margin-left: 4px;
            }
    .AFiles_only{
        float:left;width:30px;height:35px;border:transparent;
    }

/* Groups
================================================== */
.group-container{
    width:100%;height:55px;border-bottom:2px dotted #CCC;
}
.group-container:hover {
    background-color: #F3F3F3;
}
.group-no-record{
    margin-top: 30px;
    text-align: center;
    color: #DFDCDC;
    font-size: 19px;
    font-weight: bold;
}
.post-privacy{
    width: auto;
    height: 19px;
    float: left;
    position: relative;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 5px 5px 5px;
    cursor: pointer;
    border: 1px ridge transparent;
    color : #A3A3A3 !important
}
.post-privacy:hover{
    border: 1px ridge rgba(170, 162, 162, 1);
    color : #615C5C !important
}
.post-privacy-active{
    border: 1px ridge rgba(170, 162, 162, 1) !important;
    color : #615C5C !important
}
.post-privacy-label-contaner{
    float: left;
    width: 100%;
}
.post-privacy-arrow{
     float: right;
    margin-top: -3px;
    color: rgb(120, 125, 180);
}
.postPrivacyChoice-container{
    background-color:#FFF;position: absolute;width:129px;height:auto;border:1px solid rgba(170, 162, 162, 1);margin-top:29px;z-index:1;display:none
}
.postPrivacyChoice-choices{
    height: 20px;
    border-bottom: 1px dotted #CCC;
    width: auto;
    padding: 3px 5px 3px 10px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
    font-size: 11px;
}
.postPrivacyChoice-choices:hover{
    background-color: #4E97E7;
    color: #FFF !important;

}
.postChoice-icon{
    float: left;width:15px;
}