@import "utilities";


// Classes
// .isDisplayNone {
// 	@extend .displayNone;
// }

.iswH100perc {
	@extend .wH100perc;
}

.iswH90perc {
	@extend .wH90perc;
}

.iswH80perc {
	@extend .wH80perc;
}

.iswH70perc {
	@extend .wH70perc;
}

.iswH60perc {
	@extend .wH60perc;
}

.iswH50perc {
	@extend .wH50perc;
}

.iswH40perc {
	@extend .wH40perc;
}

.iswH30perc {
	@extend .wH30perc;
}

.iswH20perc {
	@extend .wH20perc;
}


.iswH10perc {
	@extend .wH10perc;
}


// Classes


//Company announcement layout file

.Cac_fl-company-announcement-container {
	position: relative; 
	margin: 0px auto; 
	padding: 0px; 
	width: 100%; 
	height: 200px;
	overflow: hidden;
}

.Cac_fl-content-dialog {
	width: 95%;height: 
	auto;padding: 5px;
}

.Cac_fl-even-container {
	width: 100%;
}

.Cac_fl-post-event {
	word-break: break-word;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;padding: 5px;
}

.Cac_fl-posted {
	font-size: 11px;
	color: #666;
}

//Company announcement layout file

