@import "utilities";

.fl-user-navigation-wrapper-ui2 {
    @extend %fL;
    display:none;
    width:4%; 
    background-color:$mainNavbg;	

    &:before {
        top: 0px;
        right: auto;
        bottom: 0px;
        left: auto;
        position: fixed;
        content: "";
        display: block;
        width:4%;
        z-index: -1;
        background-color:$mainNavbg;
       
        @include bp(landscape1024) {
            width:5%;
        }

        @include bp(portrait768) {
            width:7%;
        }
        
        
        @include bp(portrait480) {
            width:7%;
        }
        
        @include bp(portrait320) {
            width:7%;
        }
        
    }

    ul.fl-mainmenu-ui2 {

        li {
            @extend %width_perc100;			
            border-bottom: 1px solid #d3d3d3;
            @include pos-rel(auto, auto, auto, auto);
            a.type-fa {
                @extend %taC;
            }

            a {
                // @include padding(8px, 8px, 8px, 8px);
                // @extend %box_sizing_border_box;
                // @extend %trans_duration5;
                display: block;
                height: auto;
                @extend %width_perc100;
                @extend %trans_duration5;
                @extend .elip;
                @extend %box_sizing_border_box;
                @include padding(13px, 5px, 13px, 5px);
                font-size:$primaryFontSize;
                color:#6e6e6e;

                i.fa {
                    @extend %trans_duration5;
                    font-size: 20px;
                    color:#6e6e6e;

                    @include bp(landscape1024) {
                        font-size: 16px;
                    }
                }



                &:hover {	
                    color:#ffffff !important;
                    background-color:$naminNavHoverbg;

                    i.fa {
                        @extend .colorfff;
                    }
                }

                &:hover i.fa { @include scale(1.1); }

                // &:hover ul.main-submenu-ui2 {
                // 	display:block;
                // 	z-index:99999;
                // } 	

            }

            // &:hover ul.main-submenu-ui2 {
            // 	display:block;
            // 	z-index:99999;
            // } 	

            ul.main-submenu-ui2 {

                @include pos-abs(0px, auto, auto, 100%);
                background-color:$mainNavbg;
                border-left: 2px solid #4d4949;
                display:none;
                z-index:999999;
                width:180px;

                li.fl-toggle-sub-ui2 {

                    a {	
                        @extend %taL;
                        @extend %width_perc100;
                        @extend .elip;
                        @include padding(13px, 5px, 13px, 5px);
                        @extend %box_sizing_border_box;
                        font-size:$primaryFontSize;
                        color:#6e6e6e;

                        i.fa {
                            font-size:$primaryFontSize;
                        }

                    }

                    ul.main-submenu-ui2  {
                        @include pos-abs(0px, auto, auto, 180px);

                        li {
                            a {
                                @extend %taL;
                                @extend .elip;
                                @include padding(13px, 5px, 13px, 5px);

                                i.fa {
                                    font-size:$primaryFontSize;
                                }
                            }
                        }

                    }
                }
            }


        }
    }

    #fl-infinite-nav {
        li {
            a.fl-admin-leftbar3-style {

                padding: 8px; 
                box-sizing: border-box;
                color:#6e6e6e;
                text-align:center;

                .fa-home, .fa-files-o, .fa-sitemap, .fa-list-alt, .fa-retweet, .fa-pie-chart, .fa-bullhorn, .fa-line-chart, .fa-line-chart, .fa-file-text-o, .fa-archive, .fa-trash-o, .fa-wrench, .fa-print, .fa-star-o, .fa-users, .fa-question-circle, .fa-bell-o, .fa-envelope-o {
                    font-size:18px;
                }
                
            }  

             a.fl-admin-leftbar3-style:hover {
                @extend .colorfff;
             } 

        }

        li:hover > a {
            @extend .colorfff;
        }
    }

    @include bp(portrait320){
        display:none !important;
    }

}

.fl-nav-view-sub li {

    position:relative;

    i.fa {
    position: absolute;
    right: 0px;
    top: 6px;
    }

}

.fl-subli-icon {	
    @include pos-abs(5px, 5px, auto, auto);
    @extend .colorfff;
    @extend %box_sizing_border_box;
    //@extend %taC;
}

.fl-onlineuser-nav-navui2 {
    position:relative;
    .fl-widget-head {
        .widget-icon-wrapper {
            .widget-title {
                .fa-users {
                @include pos-abs(-8px, auto, auto, -6px);
                margin-left: 3px;
                font-size: 16px;
                }
            }
        }
    }

    .fl-showUserdiv {
        .fl-onlineuser-nav {

                  position: absolute;
                  z-index: 1000000;
                  width: auto;
                  left: 100%;
                  top: 0px;
                  margin:0px !important;
                  width: 200px;
                 .fl-online-user-wrapper {
                      border-top: 1px solid rgb(207, 219, 226) !important;
                  }
        }
    }
}