#fl-faqField-wrapper {
    .fl-faqField {
        .faq_response {
            resize:vertical;
        }
    }
}

.fl-search-wrapper.fl-ui-search.fl-faq-search {
	input[type="text"] {
		height: 11px;
		width: 163px;
    	padding-right: 31px;
	}

	ul.fl-ui-search-button {
		li {
			padding:6px;
		}
	}
}