
<div 
    id="<?= $this->file_uploader_id ?>"
    click-trigger-class="<?= $this->click_trigger_class ?>"
    uploaded-filenames=""
    class="fl-file-uploader-widget">

    <!------------------------------------------------------------------------->
    <!--File Preview-->
    <div class="fl-file-resource-wrapper fl-scroll-overflow">
        <!--Preview of non image files go here-->
    </div>
    <div class="fl-file-images-wrapper fl-scroll-overflow">
        <!--Preview of images go here-->               
    </div>

    <!------------------------------------------------------------------------->
    <!--Templates--> 
    <div class="fl-file-uploader-widget-templates isDisplayNone">
        <div class="fl-file-template">
            <div class="fl-file">
                <i class="fa fa-file-text-o"></i>
                <span></span>
                <i class="fa fa-times fl-file-delete" style="cursor: default;"></i>
            </div>
        </div>
        <div class="fl-file-image-template">
            <div class="fl-file-image">
                <i class="fa fa-times fl-file-delete" style="cursor: default;"></i>
                <div class="fl-image-loading">
                    <i class="fa fa-rotate-right fl-Miniloader" ></i> 
                </div>
                <img src="" width="" height="" alt="" />
            </div>       
        </div>
    </div>

    <!------------------------------------------------------------------------->
    <!--Uploader-->

    <form class="uploader" 
          method="post" 
          enctype="multipart/form-data" 
          action='/file/upload_multiple' 
          style="display: none;">
        <input type="text" name="target_directory" value="<?= $this->target_directory ?>">
        <input type="file" 
               name="file[]"
               multiple="multiple" 
               class="generic-file-upload">
    </form>

</div>

<script src="/js/functions/file_uploader/file_uploader_event_registry.js" type="text/javascript" ></script>
<script src="/js/functions/file_uploader/UI_event_handlers.js" type="text/javascript" ></script>
<script src="/js/functions/file_uploader/backend_event_handlers.js" type="text/javascript" ></script>