/* line 5, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatLeft, .fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents, .fl-controls-controlformControlPanel, .fl-controls-controlUserInterface .fl-formImage, .fl-controls-genProperties .fl-textfield-type-opt label, #fl-tabs-formcontrolsv2, #fl-tabs-formcontrolsv2 li, .fl-worspace-headerv2, #fl-form-basic-options {
  float: left;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatRight {
  float: right;
}

/* line 23, ../../sass/_utilities.scss */
.isFloatNone, .fl-tab-wrapper-headFull .fl-controls-controlBasic {
  float: none;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignCenter {
  text-align: center;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignLeft {
  text-align: left;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignRight {
  text-align: right;
}

/* line 44, ../../sass/_utilities.scss */
.fl-workspace.fl-workspacev2, .fl-workspace.fl-workspacev2 .fl-drop-workspace {
  width: 100%;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansregular, #fl-workspace-controls {
  font-family: droid_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansbold, .font_droid_sansbold {
  font-family: droid_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensansregular {
  font-family: open_sanslight_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensanslight {
  font-family: open_sanslight;
}

/* line 102, ../../sass/_utilities.scss */
.protestantregular {
  font-family: protestant_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoregular {
  font-family: dustismo_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobold {
  font-family: dustismo_regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoromanregular {
  font-family: dustismo_romanregular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoitalic {
  font-family: dustismo_italic;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobolditalic {
  font-family: dustismobold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansregular {
  font-family: perspective_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbold {
  font-family: perspective_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansblackitalic {
  font-family: perspective_sans_blackitalic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbolditalic {
  font-family: perspective_sansbold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspective_sansitalic {
  font-family: perspective_sansitalic;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiregular {
  font-family: sansumiregular;
}

/* line 102, ../../sass/_utilities.scss */
.sansumibold {
  font-family: sansumiregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumisemibold {
  font-family: sansumi_demibold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiultralightregular {
  font-family: sansumi_ultralightregular;
}

/* line 102, ../../sass/_utilities.scss */
.traditionsansxlightregular {
  font-family: traditionsans_xlightregular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95regular {
  font-family: vera_humana_95regular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bold {
  font-family: vera_humana_95regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bolditalic {
  font-family: vera_humana_95bolditalic;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95italic {
  font-family: vera_humana_95italic;
}

/* line 102, ../../sass/_utilities.scss */
.weezerfontregular {
  font-family: weezerfontregular;
}

/* line 102, ../../sass/_utilities.scss */
.weblysleelight {
  font-family: weblysleeklight;
}

/* line 124, ../../sass/_utilities.scss */
.font-bold, .isFontWeightBold {
  font-weight: bold;
}

/* line 135, ../../sass/_utilities.scss */
.marginAuto {
  margin: 0 auto;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity0 {
  opacity: 0;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity1 {
  opacity: 1;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayBlock {
  display: block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayInlineBlock {
  display: inline-block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTable {
  display: table;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableCell {
  display: table-cell;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableRow {
  display: table-row;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayNone {
  display: none;
}

/* line 163, ../../sass/_utilities.scss */
.fl-positive-btn {
  background-color: #2ecc71 !important;
}

/* line 167, ../../sass/_utilities.scss */
.fl-negative-btn {
  background-color: #c0392b !important;
}

/* line 171, ../../sass/_utilities.scss */
.fl-default-btn {
  background-color: #abbac3 !important;
}

/* line 176, ../../sass/_utilities.scss */
.avatar-wrapper {
  height: 40px;
  padding: 5px;
}

/* line 181, ../../sass/_utilities.scss */
.avatar-profile-properties {
  font-size: 12px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* line 189, ../../sass/_utilities.scss */
.input-text {
  width: 190px;
  height: 18px;
  padding: 3px;
}

/* line 195, ../../sass/_utilities.scss */
.input-select {
  height: 32px;
  border: 1px solid #d6d6d6;
}

/* line 200, ../../sass/_utilities.scss */
.input-submit {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 207, ../../sass/_utilities.scss */
.input-button {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 214, ../../sass/_utilities.scss */
.input-type-file, .fl-controls-controlUserInterface #formImage, .fl-controls-controlGenerateBasic #formImage {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto !important;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0px;
  z-index: 999999;
}

/* line 228, ../../sass/_utilities.scss */
.bold-text {
  font-weight: bold;
}

/* line 232, ../../sass/_utilities.scss */
.colorfff, .fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black {
  color: #ffffff;
}

/* line 236, ../../sass/_utilities.scss */
.bgcolorfff {
  background-color: #ffffff !important;
}

/* line 246, ../../sass/_utilities.scss */
.isCursorNotAllowed {
  cursor: not-allowed;
}

/* line 246, ../../sass/_utilities.scss */
.font-bold, .isCursorPointer, .fl-controls-controlUserInterface .fl-formImage, #fl-tabs-formcontrolsv2 li, .fl-workspace-fullscreen, #fl-form-basic-options ul li {
  cursor: pointer;
}

/* line 252, ../../sass/_utilities.scss */
.fl-secondary-btn {
  border: 1px solid #d6d6d6 !important;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
}

/* line 262, ../../sass/_utilities.scss */
.fl-button-press {
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 267, ../../sass/_utilities.scss */
.fl-button-press-hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 279, ../../sass/_utilities.scss */
.trans_duration3, #fl-workspace-controls .tab-wrapper .section button, #fl-workspace-controls .tab-wrapper .fl-controls-controlBasic button, #fl-workspace-controls .tab-wrapper .fl-controls-controlUserInterface button, #fl-workspace-controls .tab-wrapper .fl-controls-controlFiles button, #fl-workspace-controls .tab-wrapper .fl-controls-controlContainer button, #fl-workspace-controls .tab-wrapper .fl-controls-controlFieldAccess button, #fl-workspace-controls .tab-wrapper .fl-controls-controlAccess button, #fl-workspace-controls .tab-wrapper .fl-controls-report-basic button, #fl-workspace-controls .tab-wrapper .fl-controls-controlTools button, #fl-workspace-controls .tab-wrapper .fl-controls-controlDept button, #fl-workspace-controls .tab-wrapper .fl-controls-genProperties button, #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper button, #fl-workspace-controls .tab-wrapper .fl-annotation-tools button {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 311, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-controlsv2-main-warpper, #fl-workspace-controls .tab-wrapper, .fl-workspace-control-wrapper .fl-workspace-button-wrapper, .tab_objects, .generate_objects, .appendObjectsHere, .fl-controls-controlUserInterface .fl-formImage, .fl-form-contr-hd, #fl-tabs-formcontrolsv2 li, #fl-form-basic-options {
  box-sizing: border-box;
}

/* line 322, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-controls-genProperties .fl-textfield-type-opt .sp-replacer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 332, ../../sass/_utilities.scss */
.rotateScale {
  -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
  -moz-transform: rotate(-30deg) scale(1.2, 1.2);
  -o-transform: rotate(-30deg) scale(1.2, 1.2);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* line 340, ../../sass/_utilities.scss */
.borderNone {
  border: none !important;
}

/* line 343, ../../sass/_utilities.scss */
.borderTopNone {
  border-top: none !important;
}

/* line 346, ../../sass/_utilities.scss */
.borderLeftNone {
  border-left: none !important;
}

/* line 349, ../../sass/_utilities.scss */
.borderBottomNone {
  border-bottom: none !important;
}

/* line 352, ../../sass/_utilities.scss */
.borderRightNone {
  border-right: none !important;
}

/* line 357, ../../sass/_utilities.scss */
.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 363, ../../sass/_utilities.scss */
.elip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../../sass/_utilities.scss */
.clearfloat {
  content: "";
  clear: both;
  display: table;
}

/* line 444, ../../sass/_utilities.scss */
.fl-Miniloader {
  color: #555555;
  -webkit-animation: Miniloader .7s infinite linear;
  -moz-animation: Miniloader .7s infinite linear;
  animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Miniloader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
/* line 469, ../../sass/_utilities.scss */
.fl-RevealLoader {
  -webkit-animation: RevealLoader .7s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes RevealLoader {
  0% {
    right: 0px;
  }
  100% {
    right: -75px;
  }
}
/* line 495, ../../sass/_utilities.scss */
.fl_badge_silver {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #C0C0C0;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SpringGreen {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #2ecc71;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Gold {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #FFD700;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_DarkRed {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #8B0000;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SteelBlue {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #4682B4;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Black {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #000000;
}

/* line 635, ../../sass/_utilities.scss */
.fl-form-prop-cont-wid {
  width: 49%;
}

/*
*
* RP responsive grid Framework v1
* Copyright 2014 { Roni Pinili }
* 
*/
/* line 7, ../../sass/rp-response/responsive.scss */
.font_family {
  font-family: arial;
}

/* line 11, ../../sass/rp-response/responsive.scss */
.box_ColorGreen {
  background-color: #32ce74 !important;
}

/* line 15, ../../sass/rp-response/responsive.scss */
.box_Reddish {
  background-color: #e74c3c !important;
}

/* line 19, ../../sass/rp-response/responsive.scss */
.box_sizing, .column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../../sass/rp-response/responsive.scss */
.section {
  clear: both;
  padding: 0;
  margin: 0;
}

/* line 31, ../../sass/rp-response/responsive.scss */
.column {
  display: block;
  float: left;
  margin: .5% 0 .5% .5%;
  padding: 5px;
}

@media (max-width: 568px) {
  /* line 40, ../../sass/rp-response/responsive.scss */
  .column {
    margin: .5% 0 .5% 0%;
  }
}
/* line 45, ../../sass/rp-response/responsive.scss */
.clearing:before,
.clearing:after {
  content: "";
  display: table;
}

/* line 51, ../../sass/rp-response/responsive.scss */
.clearing:after {
  clear: both;
}

/* line 55, ../../sass/rp-response/responsive.scss */
.clearing {
  zoom: 1;
  /* For IE 6/7 */
}

/* line 60, ../../sass/rp-response/responsive.scss */
.column:first-child {
  margin-left: 0;
}

/* line 64, ../../sass/rp-response/responsive.scss */
.div_1_of_1 {
  width: 100%;
}

/* == GRID OF 2 == */
/* line 69, ../../sass/rp-response/responsive.scss */
.div_1_of_2 {
  width: 49.75%;
}

@media (max-width: 568px) {
  /* line 73, ../../sass/rp-response/responsive.scss */
  .div_1_of_2 {
    width: 100%;
  }
}
/* == GRID OF 2 == */
/* == GRID OF 3 == */
/* line 80, ../../sass/rp-response/responsive.scss */
.div_1_of_3 {
  width: 33%;
}

@media (max-width: 568px) {
  /* line 84, ../../sass/rp-response/responsive.scss */
  .div_1_of_3 {
    width: 100%;
  }
}
/* line 89, ../../sass/rp-response/responsive.scss */
.div_2_of_3 {
  width: 66.5%;
}

@media (max-width: 568px) {
  /* line 94, ../../sass/rp-response/responsive.scss */
  .div_2_of_3 {
    width: 100%;
  }
}
/* line 100, ../../sass/rp-response/responsive.scss */
.div_3_of_3 {
  width: 100%;
}

/* == GRID OF 3 == */
/* == GRID OF 4 == */
/* line 107, ../../sass/rp-response/responsive.scss */
.div_1_of_4 {
  width: 24.625%;
}

@media (max-width: 1024px) {
  /* line 112, ../../sass/rp-response/responsive.scss */
  .div_1_of_4 {
    width: 100%;
  }
}
/* line 118, ../../sass/rp-response/responsive.scss */
.div_3_of_4 {
  width: 74.87%;
}

@media (max-width: 1024px) {
  /* line 123, ../../sass/rp-response/responsive.scss */
  .div_3_of_4 {
    width: 100%;
  }
}
/* line 128, ../../sass/rp-response/responsive.scss */
.div_4_of_4 {
  width: 100%;
}

/* == GRID OF 4 == */
/* == GRID OF 5 == */
/* line 135, ../../sass/rp-response/responsive.scss */
.div_1_of_5 {
  width: 19.6%;
}

@media (max-width: 568px) {
  /* line 140, ../../sass/rp-response/responsive.scss */
  .div_1_of_5 {
    width: 100%;
  }
}
/* line 146, ../../sass/rp-response/responsive.scss */
.div_4_of_5 {
  width: 79.9%;
}

@media (max-width: 568px) {
  /* line 151, ../../sass/rp-response/responsive.scss */
  .div_4_of_5 {
    width: 100%;
  }
}
/* line 157, ../../sass/rp-response/responsive.scss */
.div_5_of_5 {
  width: 100%;
}

/* == GRID OF 5 == */
/* == GRID OF 6 == */
/* line 164, ../../sass/rp-response/responsive.scss */
.div_1_of_6 {
  width: 16.25%;
}

@media (max-width: 568px) {
  /* line 170, ../../sass/rp-response/responsive.scss */
  .div_1_of_6 {
    width: 100%;
  }

  /* line 173, ../../sass/rp-response/responsive.scss */
  .div_5_of_6 {
    width: 100%;
  }
}
/* line 178, ../../sass/rp-response/responsive.scss */
.div_5_of_6 {
  width: 85.6%;
}

/* line 183, ../../sass/rp-response/responsive.scss */
.div_6_of_6 {
  width: 100%;
}

/* == GRID OF 6 == */
/* == GRID OF 7 == */
/* line 190, ../../sass/rp-response/responsive.scss */
.div_1_of_7 {
  width: 13.85%;
}

@media (max-width: 568px) {
  /* line 197, ../../sass/rp-response/responsive.scss */
  .div_1_of_7 {
    width: 100%;
  }
}
/* line 202, ../../sass/rp-response/responsive.scss */
.div_6_of_7 {
  width: 85.2%;
}

/* line 206, ../../sass/rp-response/responsive.scss */
.div_7_of_7 {
  width: 100%;
}

/* == GRID OF 7 == */
/* == GRID OF 8 == */
/* line 214, ../../sass/rp-response/responsive.scss */
.div_1_of_8 {
  width: 12.056%;
}

@media (max-width: 568px) {
  /* line 221, ../../sass/rp-response/responsive.scss */
  .div_1_of_8 {
    width: 100%;
  }
}
/* line 226, ../../sass/rp-response/responsive.scss */
.div_7_of_8 {
  width: 87.4%;
}

/* line 230, ../../sass/rp-response/responsive.scss */
.div_8_of_8 {
  width: 100%;
}

/* == GRID OF 8 == */
/* == GRID OF 9 == */
/* line 237, ../../sass/rp-response/responsive.scss */
.div_1_of_9 {
  width: 10.6656%;
}

@media (max-width: 568px) {
  /* line 242, ../../sass/rp-response/responsive.scss */
  .div_1_of_9 {
    width: 100%;
  }
}
/* line 248, ../../sass/rp-response/responsive.scss */
.div_8_of_9 {
  width: 88.4%;
}

/* line 252, ../../sass/rp-response/responsive.scss */
.div_9_of_9 {
  width: 100%;
}

/* == GRID OF 9 == */
/* line 258, ../../sass/rp-response/responsive.scss */
.div_1_of_10 {
  width: 9.55%;
}

@media (max-width: 568px) {
  /* line 263, ../../sass/rp-response/responsive.scss */
  .div_1_of_10 {
    width: 100%;
  }
}
/* line 269, ../../sass/rp-response/responsive.scss */
.div_1_of_11 {
  width: 8.635%;
}

@media (max-width: 568px) {
  /* line 274, ../../sass/rp-response/responsive.scss */
  .div_1_of_11 {
    width: 100%;
  }
}
/* line 280, ../../sass/rp-response/responsive.scss */
.div_1_of_12 {
  width: 7.87%;
}

@media (max-width: 568px) {
  /* line 285, ../../sass/rp-response/responsive.scss */
  .div_1_of_12 {
    width: 100%;
  }
}
/* line 291, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_2 {
  width: 49.8%;
}

@media (max-width: 568px) {
  /* line 296, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_2 {
    width: 100%;
  }
}
/* line 301, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_3 {
  width: 33.05%;
}

@media (max-width: 568px) {
  /* line 306, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_3 {
    width: 100%;
  }
}
/* line 312, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_4 {
  width: 24.67%;
}

@media (max-width: 568px) {
  /* line 317, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_4 {
    width: 100%;
  }
}
/* line 323, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_7 {
  width: 13.87%;
}

@media (max-width: 568px) {
  /* line 328, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_7 {
    width: 100%;
  }
}
/* line 334, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_8 {
  width: 12.1%;
}

@media (max-width: 568px) {
  /* line 339, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_8 {
    width: 100%;
  }
}
/* line 6, ../../sass/tab/tabcustom.scss */
.fl-controlsv2-main-warpper {
  top: 50px;
  right: auto;
  bottom: auto;
  left: 0px;
  position: fixed;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  z-index: 99999;
  width: 100%;
  background-color: #F5F7FA;
}

/* line 19, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls {
  border: 1px solid #cdced1;
  background-color: #fcfcfc;
  border-bottom: 2px solid #cdced1;
  height: 110px;
}
/* line 25, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper {
  position: relative;
  height: 100%;
}
/* line 32, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .section button, #fl-workspace-controls .tab-wrapper .fl-controls-controlBasic button, #fl-workspace-controls .tab-wrapper .fl-controls-controlUserInterface button, #fl-workspace-controls .tab-wrapper .fl-controls-controlFiles button, #fl-workspace-controls .tab-wrapper .fl-controls-controlContainer button, #fl-workspace-controls .tab-wrapper .fl-controls-controlFieldAccess button, #fl-workspace-controls .tab-wrapper .fl-controls-controlAccess button, #fl-workspace-controls .tab-wrapper .fl-controls-report-basic button, #fl-workspace-controls .tab-wrapper .fl-controls-controlTools button, #fl-workspace-controls .tab-wrapper .fl-controls-controlDept button, #fl-workspace-controls .tab-wrapper .fl-controls-genProperties button, #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper button, #fl-workspace-controls .tab-wrapper .fl-annotation-tools button {
  border: none !important;
  background: transparent;
  font-size: 12px;
}
/* line 54, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .section .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlBasic .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlUserInterface .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlFiles .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlContainer .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlFieldAccess .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlAccess .column p, #fl-workspace-controls .tab-wrapper .fl-controls-report-basic .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlTools .column p, #fl-workspace-controls .tab-wrapper .fl-controls-controlDept .column p, #fl-workspace-controls .tab-wrapper .fl-controls-genProperties .column p, #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .column p, #fl-workspace-controls .tab-wrapper .fl-annotation-tools .column p {
  font-size: 11px;
  margin-top: 4px !important;
  margin-right: 0px;
  margin-bottom: 4px;
  margin-left: 0px !important;
}
/* line 58, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .section .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlBasic .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlUserInterface .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlFiles .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlContainer .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlFieldAccess .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlAccess .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-report-basic .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlTools .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-controlDept .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-controls-genProperties .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .column p:first-child, #fl-workspace-controls .tab-wrapper .fl-annotation-tools .column p:first-child {
  margin-top: 0px !important;
}
/* line 61, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .section .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlBasic .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlUserInterface .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlFiles .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlContainer .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlFieldAccess .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlAccess .column label, #fl-workspace-controls .tab-wrapper .fl-controls-report-basic .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlTools .column label, #fl-workspace-controls .tab-wrapper .fl-controls-controlDept .column label, #fl-workspace-controls .tab-wrapper .fl-controls-genProperties .column label, #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .column label, #fl-workspace-controls .tab-wrapper .fl-annotation-tools .column label {
  font-size: 11px;
}
/* line 68, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper {
  float: none;
  display: inline-block;
  white-space: normal;
}
/* line 74, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_a {
  width: 123px;
}
/* line 78, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_a.fl-input-fields_a-safariB {
  width: 119px;
}
/* line 82, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_b {
  width: 98px;
}
/* line 86, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_c {
  width: 105px;
}
/* line 90, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_d {
  width: 140px;
}
/* line 94, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_d.fl-input-fields_d-safariB {
  width: 130px;
}
/* line 98, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_e {
  position: relative;
  left: 452px;
  top: -68px;
}
/* line 105, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .alignments-graphics_a {
  width: 73px;
}
/* line 109, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .alignments-graphics_b {
  width: 130px;
}
/* line 113, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-scan-and-identity_a {
  width: 162px;
}
/* line 117, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlAccess_a {
  width: 124px;
}
/* line 121, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlAccess_b {
  width: 136px;
}
/* line 125, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlsAccess_c {
  position: relative;
  left: 250px;
  top: -31px;
}
/* line 131, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_a {
  width: 155px;
}
/* line 135, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_b {
  width: 118px;
}
/* line 139, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_c {
  width: 122px;
}
/* line 147, ../../sass/tab/tabcustom.scss */
#fl-workspace-controls .tab-wrapper .fl-tab-bluebar {
  height: 22px;
  background-color: #cfdbe2;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #BAC3C8;
}

/* line 159, ../../sass/tab/tabcustom.scss */
#fl-workspace-tab-controls, #fl-workspace-tab-properties, #fl-workspace-tab-layout, #fl-workspace-tab-reqestview {
  overflow: hidden;
  white-space: nowrap;
}
/* line 163, ../../sass/tab/tabcustom.scss */
#fl-workspace-tab-controls .left-arrow-wrapper, #fl-workspace-tab-controls .right-arrow-wrapper, #fl-workspace-tab-properties .left-arrow-wrapper, #fl-workspace-tab-properties .right-arrow-wrapper, #fl-workspace-tab-layout .left-arrow-wrapper, #fl-workspace-tab-layout .right-arrow-wrapper, #fl-workspace-tab-reqestview .left-arrow-wrapper, #fl-workspace-tab-reqestview .right-arrow-wrapper {
  top: 23px;
  height: 77%;
}

/* line 171, ../../sass/tab/tabcustom.scss */
#fl-workspace-tab-reqestview .left-arrow-wrapper, #fl-workspace-tab-reqestview .right-arrow-wrapper {
  top: 23px;
  height: 66%;
}

/* line 179, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default, .fl-workspace-control-classic {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
}

/* line 184, ../../sass/tab/tabcustom.scss */
.fl-controlsv2-main-warpper-default.default-theme-dark #fl-form-basic-options {
  background-color: #4a4a4a;
  border-top: 1px solid #3B3B3C;
  border-left: 1px solid #3B3B3C;
  border-right: 1px solid #3B3B3C;
}

/* line 194, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark {
  background-color: #4a4a4a !important;
  border: 1px solid #3B3B3C !important;
}
/* line 201, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark button.hover-enabled span {
  top: 2px;
  right: auto;
  bottom: auto;
  left: 3px;
  position: relative;
  color: #A7A7A7;
}
/* line 205, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark button.hover-enabled span:hover {
  color: #ffffff !important;
}
/* line 212, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark button span {
  top: 2px;
  right: auto;
  bottom: auto;
  left: 3px;
  position: relative;
  color: #A7A7A7;
}
/* line 216, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark button span:hover {
  color: #ffffff !important;
}
/* line 224, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-tab-bluebar {
  top: 1px;
  background-color: #4a4a4a !important;
  border-bottom: 1px solid #3B3B3C !important;
}
/* line 232, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper label {
  color: #A4A7A7;
  font-size: 12px;
}
/* line 237, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd {
  background-color: #4a4a4a;
  border-bottom: 1px solid #3B3B3C;
}
/* line 240, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd span {
  color: #A4A7A7;
  font-family: droid_sansregular_bold;
}
/* line 247, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlBasic, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlUserInterface, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFiles, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlContainer, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlAccess, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-report-basic, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlPagelayout, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlTools, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFieldAccess, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlScanAndIdentities, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-genProperties, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformDesign, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-control-reportAccess, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlGenerateBasic, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-actions, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-tools, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformEvents, .fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformControlPanel {
  border-right: 1px solid #3B3B3C;
  height: 110px;
}
/* line 252, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper .fl-workspace-control-content-wrapper button {
  margin-bottom: 4px;
}
/* line 262, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_e {
  left: 463px;
  top: -93px;
}
/* line 269, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_a {
  width: 107px;
}
/* line 273, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
  width: 116px;
}
@-moz-document url-prefix() {
  /* line 279, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
    width: 133px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 286, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
    width: 122px;
  }
}
/* line 293, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlScanAndIdentities {
  border: none;
}
/* line 300, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlsAccess_c {
  top: -40px;
}
/* line 305, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools {
  width: 457px;
}
/* line 308, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_a {
  width: 165px;
}
@-moz-document url-prefix() {
  /* line 314, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_a {
    width: 170px;
  }
}
/* line 319, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_b {
  width: 136px;
}
/* line 322, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_c {
  width: 150px;
}
@-moz-document url-prefix() {
  /* line 329, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools {
    width: 470px;
  }
}
/* line 334, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties {
  width: 450px;
}
/* line 336, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .section {
  margin-top: 10px;
}
/* line 340, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties label {
  color: #A7A7A7;
  font-size: 12px;
}
/* line 345, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .sp-replacer, .fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties span.spanbutton {
  border: 1px solid #3B3B3C !important;
}
/* line 349, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .full-spectrum {
  background: transparent !important;
}
/* line 360, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-layout .fl-controls-controlformEvents, .fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-layout .fl-controls-controlformDesign {
  border: none;
}
/* line 367, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-dept .fl-controls-controlDept {
  width: 100%;
  height: 110px;
}
/* line 374, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-pagelayout .fl-controls-controlRuler {
  border-right: none;
}
/* line 380, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls-workflow-size .fl-controls-controlRuler {
  border-right: none;
}
/* line 386, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls-report-controls .fl-controls-control-reportAccess {
  border-right: none;
}
/* line 400, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls-controlHtmlValues .fl-controls-controlHtmlValues {
  width: 100%;
}
/* line 406, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-controls-generate-size .fl-controls-controlRuler {
  border-right: none;
}
/* line 412, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-reqestview .fl-workspace-control-wrapper {
  height: 65px;
}
/* line 416, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .tab-wrapper #fl-workspace-tab-reqestview .fl-annotation-tools {
  border-right: none;
}
/* line 422, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .left-arrow-wrapper {
  left: -1px;
}
/* line 426, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-dark .right-arrow-wrapper {
  right: -1px;
}

/* line 432, ../../sass/tab/tabcustom.scss */
.fl-controlsv2-main-warpper-default.default-theme-light #fl-form-basic-options {
  background-color: #E0E0E0;
  border-top: 1px solid #ADABAB;
  border-left: 1px solid #ADABAB;
  border-right: 1px solid #ADABAB;
}

/* line 441, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light {
  background-color: #e0e0e0 !important;
  border: 1px solid #ADABAB !important;
}
/* line 448, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light button span {
  top: 2px;
  right: auto;
  bottom: auto;
  left: 3px;
  position: relative;
  color: #4C4949;
}
/* line 452, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light button span:hover {
  color: #222222 !important;
}
/* line 460, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper .fl-tab-bluebar {
  top: 1px;
  background-color: #e0e0e0 !important;
  border-bottom: 1px solid #ADABAB !important;
}
/* line 468, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper label {
  color: #222222;
  font-size: 12px;
}
/* line 473, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd {
  background-color: #e0e0e0;
  border-bottom: 1px solid #ADABAB;
}
/* line 476, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd span {
  color: #6B6969;
  font-family: droid_sansregular_bold;
}
/* line 483, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlBasic, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlUserInterface, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFiles, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlContainer, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlAccess, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-report-basic, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlPagelayout, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlTools, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFieldAccess, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlScanAndIdentities, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-genProperties, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformDesign, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-control-reportAccess, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlGenerateBasic, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-actions, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-tools, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformEvents, .fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformControlPanel {
  border-right: 1px solid #ADABAB;
  height: 110px;
}
/* line 488, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper .fl-workspace-control-content-wrapper button {
  margin-bottom: 4px;
}
/* line 498, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_e {
  left: 463px;
  top: -93px;
}
/* line 505, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_a {
  width: 100px;
}
@-moz-document url-prefix() {
  /* line 510, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_a {
    width: 107px;
  }
}
/* line 515, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
  width: 116px;
}
@-moz-document url-prefix() {
  /* line 521, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
    width: 133px;
  }
}
/* line 528, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlScanAndIdentities {
  border: none;
}
/* line 536, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlsAccess_c {
  top: -40px;
}
/* line 541, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools {
  width: 457px;
}
/* line 543, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_a {
  width: 165px;
}
@-moz-document url-prefix() {
  /* line 549, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_a {
    width: 170px;
  }
}
/* line 554, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_b {
  width: 136px;
}
/* line 557, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_c {
  width: 150px;
}
@-moz-document url-prefix() {
  /* line 564, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools {
    width: 470px;
  }
}
/* line 569, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties {
  width: 450px;
}
/* line 571, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .section {
  margin-top: 10px;
}
/* line 575, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties label {
  color: #6B6969;
  font-size: 12px;
}
/* line 580, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .sp-replacer, .fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties span.spanbutton {
  border: 1px solid #ADABAB !important;
}
/* line 584, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .full-spectrum {
  background: transparent !important;
}
/* line 595, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-layout .fl-controls-controlformEvents, .fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-layout .fl-controls-controlformDesign {
  border: none;
}
/* line 601, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-dept .fl-controls-controlDept {
  width: 100%;
  height: 110px;
}
/* line 608, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-pagelayout .fl-controls-controlRuler {
  border-right: none;
}
/* line 614, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls-workflow-size .fl-controls-controlRuler {
  border-right: none;
}
/* line 620, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls-report-controls .fl-controls-control-reportAccess {
  border-right: none;
}
/* line 634, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls-controlHtmlValues .fl-controls-controlHtmlValues {
  width: 100%;
}
/* line 640, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-controls-generate-size .fl-controls-controlRuler {
  border-right: none;
}
/* line 646, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-reqestview .fl-workspace-control-wrapper {
  height: 65px;
}
/* line 650, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .tab-wrapper #fl-workspace-tab-reqestview .fl-annotation-tools {
  border-right: none;
}
/* line 656, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .left-arrow-wrapper {
  left: -1px;
}
/* line 660, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-default.default-theme-light .right-arrow-wrapper {
  right: -1px;
}

/* line 681, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-classic .tab-wrapper #fl-workspace-tab-reqestview .fl-workspace-control-wrapper {
  height: 65px;
}
/* line 685, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-classic .tab-wrapper #fl-workspace-tab-reqestview .fl-annotation-tools {
  border-right: none;
}

/* line 695, ../../sass/tab/tabcustom.scss */
.fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-controlRuler, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents, .fl-controls-controlformControlPanel {
  height: 100px;
  border-right: 1px solid #BAC3C8;
  position: relative;
}

/* line 703, ../../sass/tab/tabcustom.scss */
.fl-controls-controlBasic {
  /*  min-width: 447px; */
}

/* line 711, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-wrapper .fl-workspace-button-wrapper {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  height: 68px;
}

/* line 719, ../../sass/tab/tabcustom.scss */
.tab_objects, .generate_objects, .appendObjectsHere {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  height: 68px;
}
/* line 724, ../../sass/tab/tabcustom.scss */
.tab_objects button.getTabValue, .tab_objects button.getContainerValue, .generate_objects button.getTabValue, .generate_objects button.getContainerValue, .appendObjectsHere button.getTabValue, .appendObjectsHere button.getContainerValue {
  margin-top: 0px !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px !important;
  background-color: #CFDBE2 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
/* line 734, ../../sass/tab/tabcustom.scss */
.tab_objects button.showObjectFields, .tab_objects button.getContainerValue, .generate_objects button.showObjectFields, .generate_objects button.getContainerValue, .appendObjectsHere button.showObjectFields, .appendObjectsHere button.getContainerValue {
  margin-top: 0px !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #CFDBE2 !important;
  max-width: 100px;
}

/* line 746, ../../sass/tab/tabcustom.scss */
.fl-controls-controlUserInterface {
  min-width: 360px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 746, ../../sass/tab/tabcustom.scss */
  .fl-controls-controlUserInterface {
    min-width: 363px;
  }
}
/* line 753, ../../sass/tab/tabcustom.scss */
.fl-controls-controlUserInterface .fl-formImage {
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 63px;
  font-size: 12px;
}
/* line 765, ../../sass/tab/tabcustom.scss */
.fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 {
  padding-top: 0px;
  color: #A7A79E;
  margin-bottom: 5px;
}
/* line 769, ../../sass/tab/tabcustom.scss */
.fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 span {
  top: 2px;
  right: auto;
  bottom: auto;
  left: 3px;
  position: relative;
}
/* line 780, ../../sass/tab/tabcustom.scss */
.fl-controls-controlUserInterface .section .column .btn-wrapper-form-ctrl {
  display: inline-block;
}

/* line 788, ../../sass/tab/tabcustom.scss */
.fl-controls-controlFiles {
  width: 172px;
}

/* line 792, ../../sass/tab/tabcustom.scss */
.fl-controls-controlContainer {
  width: 182px;
}

/* line 797, ../../sass/tab/tabcustom.scss */
.fl-controls-report-basic {
  width: 300px;
}

/* line 801, ../../sass/tab/tabcustom.scss */
.fl-controls-controlAccess {
  /*  min-width: 384px; */
}

/* line 805, ../../sass/tab/tabcustom.scss */
.fl-controls-controlTools {
  width: 399px;
}

/* line 809, ../../sass/tab/tabcustom.scss */
.fl-controls-genProperties {
  width: 450px;
}

/* line 813, ../../sass/tab/tabcustom.scss */
.fl-annotation-actions {
  width: 530px;
}

/* line 821, ../../sass/tab/tabcustom.scss */
.fl-controls-genProperties .fl-textfield-type-opt label {
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
/* line 824, ../../sass/tab/tabcustom.scss */
.fl-controls-genProperties .fl-textfield-type-opt label select {
  margin-right: 0px;
  width: auto;
}
/* line 830, ../../sass/tab/tabcustom.scss */
.fl-controls-genProperties .fl-textfield-type-opt .sp-replacer {
  vertical-align: top;
  border: 1px solid #D5D5D5 !important;
  margin-left: 2px;
}
/* line 835, ../../sass/tab/tabcustom.scss */
.fl-controls-genProperties .fl-textfield-type-opt .sp-replacer .sp-preview {
  height: 9px;
}
/* line 840, ../../sass/tab/tabcustom.scss */
.fl-controls-genProperties .fl-textfield-type-opt .sp-replacer .sp-dd {
  line-height: 0px;
  height: auto;
}

/* line 849, ../../sass/tab/tabcustom.scss */
.fl-controls-controlPagelayout {
  width: 277px;
}
/* line 852, ../../sass/tab/tabcustom.scss */
.fl-controls-controlPagelayout label {
  font-size: 11px;
  padding-left: 5px;
}
/* line 857, ../../sass/tab/tabcustom.scss */
.fl-controls-controlPagelayout select {
  width: 74.5%;
  margin: 0px;
}
/* line 862, ../../sass/tab/tabcustom.scss */
.fl-controls-controlPagelayout select.fl-orgchart-size {
  width: 68%;
}
/* line 866, ../../sass/tab/tabcustom.scss */
.fl-controls-controlPagelayout select.fl-workflow-size {
  width: 67%;
}

/* line 872, ../../sass/tab/tabcustom.scss */
.fl-controls-controlRuler {
  width: 171px;
}
/* line 875, ../../sass/tab/tabcustom.scss */
.fl-controls-controlRuler p, .fl-controls-controlRuler label {
  padding-left: 5px;
  font-size: 11px;
}

/* line 883, ../../sass/tab/tabcustom.scss */
.fl-controls-controlformDesign label {
  padding-left: 5px;
  font-size: 11px;
}

/* line 896, ../../sass/tab/tabcustom.scss */
.fl-controls-controlGenerateBasic button[data-object-type="image"] {
  position: relative;
}

/* line 906, ../../sass/tab/tabcustom.scss */
.fl-controls-controlFieldAccess {
  width: 145px;
}

/* line 910, ../../sass/tab/tabcustom.scss */
.fl-controls-controlScanAndIdentities, .fl-annotation-tools {
  border: none;
}

/* line 917, ../../sass/tab/tabcustom.scss */
.fl-tab-wrapper-headFull .fl-controls-controlBasic {
  width: 100%;
  border: none;
}
/* line 923, ../../sass/tab/tabcustom.scss */
.fl-tab-wrapper-headFull .fl-controls-controlRuler {
  border: none;
}

/* line 929, ../../sass/tab/tabcustom.scss */
.fl-controls-control-reportAccess, .fl-controls-controlformEvents {
  border: none;
}

/* line 934, ../../sass/tab/tabcustom.scss */
.fl-form-contr-hd {
  background-color: #cfdbe2;
  border-bottom: 1px solid #BAC3C8;
  color: #778a96;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/* line 943, ../../sass/tab/tabcustom.scss */
.contentBar_workspace.fl-workspace2-wrapper {
  width: auto;
  border: 1px solid #cdced1 !important;
  border-bottom: 2px solid #cdced1;
}
/* line 948, ../../sass/tab/tabcustom.scss */
.contentBar_workspace.fl-workspace2-wrapper .fl-option-toolbar {
  background-color: #f6f6f6 !important;
}

/* line 953, ../../sass/tab/tabcustom.scss */
#fl-tabs-formcontrolsv2 {
  top: 1px;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
}
/* line 956, ../../sass/tab/tabcustom.scss */
#fl-tabs-formcontrolsv2 li {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 4px;
  border-top: 1px solid #cdced1;
  border-left: 1px solid #cdced1;
  font-size: 13px;
  background-color: #cfdbe2;
}

/* line 971, ../../sass/tab/tabcustom.scss */
.workspace.workspacev2 {
  border: none !important;
}

/* line 977, ../../sass/tab/tabcustom.scss */
.fl-workspace.fl-workspacev2 {
  background-color: #f6f6f6;
}
/* line 983, ../../sass/tab/tabcustom.scss */
.fl-workspace.fl-workspacev2 .fl-drop-workspace .leftPointerRuler-container {
  border: none;
  z-index: 9;
  height: 0px;
}
/* line 989, ../../sass/tab/tabcustom.scss */
.fl-workspace.fl-workspacev2 .fl-drop-workspace .topPointerRuler-container {
  border: none;
  z-index: 9;
}

/* line 1000, ../../sass/tab/tabcustom.scss */
.fl-input-form-settings {
  height: 20px !important;
}

/* line 1004, ../../sass/tab/tabcustom.scss */
select.fl-input-form-settings, input[type="text"].fl-input-form-settings {
  padding: 0px !important;
}

/* line 1008, ../../sass/tab/tabcustom.scss */
.border-right {
  border-right: 1px solid #ddd;
}

/* line 1012, ../../sass/tab/tabcustom.scss */
.border-bottom {
  border-bottom: 1px solid #ddd;
}

/* line 1016, ../../sass/tab/tabcustom.scss */
.border-top {
  border-top: 1px solid #ddd;
}

/* line 1024, ../../sass/tab/tabcustom.scss */
#fl-form-basic-options {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  top: 1px;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  height: 33px;
  background-color: #3A4B55;
  padding: 5px;
}
/* line 1037, ../../sass/tab/tabcustom.scss */
#fl-form-basic-options ul li {
  margin-top: 0px !important;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px !important;
  display: inline-block;
  padding: 0px;
  height: 23px;
  width: 30px;
  text-align: center;
}
/* line 1048, ../../sass/tab/tabcustom.scss */
#fl-form-basic-options ul li a i.fa {
  padding: 4px;
  color: #ffffff !important;
}
/* line 1054, ../../sass/tab/tabcustom.scss */
#fl-form-basic-options ul li:last-child {
  margin-right: 0px;
}

@-moz-document url-prefix() {
  /* line 1062, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls {
    height: 110px;
  }
  /* line 1068, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_a {
    width: 120px;
  }
  /* line 1072, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_b {
    width: 97px;
  }
  /* line 1076, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_c {
    width: 105px;
  }
  /* line 1080, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_d {
    width: 133px;
  }
  /* line 1084, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_e {
    left: 451px;
    top: -72px;
  }
  /* line 1091, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-scan-and-identity_a {
    width: 97px;
  }
  /* line 1095, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlAccess_b {
    width: 129px;
  }
  /* line 1103, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_a {
    width: 158px;
  }
  /* line 1107, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_b {
    width: 123px;
  }
  /* line 1111, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_c {
    width: 124px;
  }
  /* line 1122, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlBasic {
    min-width: 463px;
  }
  /* line 1126, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlUserInterface {
    width: 390px;
  }
  /* line 1131, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlFiles {
    width: 156px;
  }
  /* line 1134, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlAccess {
    /* min-width:255px; */
  }
  /* line 1138, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlTools {
    width: 411px;
  }

  /* line 1145, ../../sass/tab/tabcustom.scss */
  .fl-controls-controlContainer {
    width: 192px;
  }

  /* line 1149, ../../sass/tab/tabcustom.scss */
  .fl-controls-report-basic {
    width: 318px;
  }

  /* line 1153, ../../sass/tab/tabcustom.scss */
  #fl-form-basic-options, .fl-form-name-wrapper {
    top: 2px;
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
  }

  /* line 1157, ../../sass/tab/tabcustom.scss */
  #fl-workspace-tab-controls, #fl-workspace-tab-properties, #fl-workspace-tab-layout, #fl-workspace-tab-reqestview {
    overflow: hidden;
    white-space: nowrap;
  }
  /* line 1162, ../../sass/tab/tabcustom.scss */
  #fl-workspace-tab-controls .left-arrow-wrapper, #fl-workspace-tab-controls .right-arrow-wrapper, #fl-workspace-tab-properties .left-arrow-wrapper, #fl-workspace-tab-properties .right-arrow-wrapper, #fl-workspace-tab-layout .left-arrow-wrapper, #fl-workspace-tab-layout .right-arrow-wrapper, #fl-workspace-tab-reqestview .left-arrow-wrapper, #fl-workspace-tab-reqestview .right-arrow-wrapper {
    top: 23px;
    height: 77%;
  }

  /* line 1169, ../../sass/tab/tabcustom.scss */
  #fl-workspace-tab-reqestview .left-arrow-wrapper, #fl-workspace-tab-reqestview .right-arrow-wrapper {
    top: 23px;
    height: 66%;
  }

  /* line 1175, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default, .fl-workspace-control-classic {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
  }

  /* line 1179, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default {
    background-color: #4a4a4a !important;
    border: 1px solid #3B3B3C !important;
  }
  /* line 1187, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-tab-bluebar {
    top: 0px;
    background-color: #4a4a4a !important;
    border-bottom: 1px solid #3B3B3C !important;
  }
  /* line 1194, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper label {
    color: #A4A7A7;
    font-size: 12px;
  }
  /* line 1199, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd {
    background-color: #4a4a4a;
    border-bottom: 1px solid #3B3B3C;
  }
  /* line 1202, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd span {
    color: #A4A7A7;
    font-family: droid_sansregular_bold;
  }
  /* line 1209, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlBasic, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlUserInterface, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFiles, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlContainer, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlAccess, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-report-basic, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlPagelayout, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlTools, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFieldAccess, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlScanAndIdentities, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-genProperties, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformDesign, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-control-reportAccess, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlGenerateBasic, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-actions, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-tools, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformEvents {
    border-right: 1px solid #3B3B3C;
    height: 114px;
  }
  /* line 1214, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper button {
    margin-bottom: 4px;
  }
  /* line 1224, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_a {
    width: 128px;
  }
  /* line 1228, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_b {
    width: 100px;
  }
  /* line 1232, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_c {
    width: 111px;
  }
  /* line 1236, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_d {
    width: 145px;
  }
  /* line 1240, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_e {
    left: 475px;
    top: -93px;
  }
  /* line 1248, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_a {
    width: 105px;
  }
  /* line 1252, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_b {
    width: 135px;
  }
  /* line 1256, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
    width: 116px;
  }
  /* line 1260, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 {
    left: 4px;
    padding-top: 0px;
    color: #A7A79E;
    margin-bottom: 5px;
  }
  /* line 1265, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 span {
    top: 2px;
    right: auto;
    bottom: auto;
    left: 3px;
    position: relative;
  }
  @-moz-document url-prefix() {
    /* line 1272, ../../sass/tab/tabcustom.scss */
    .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 {
      left: 2px;
      width: 71px;
      padding-top: 0px;
      color: #A7A79E;
      margin-bottom: 5px;
    }
    /* line 1278, ../../sass/tab/tabcustom.scss */
    .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 span {
      top: 2px;
      right: auto;
      bottom: auto;
      left: 3px;
      position: relative;
    }
  }
  /* line 1287, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlFiles {
    width: 169px;
  }
  /* line 1291, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlScanAndIdentities {
    border-right: none;
  }
  /* line 1293, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlScanAndIdentities .fl-scan-and-identity_a {
    width: 145px;
  }
  /* line 1305, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlAccess_a {
    width: 128px;
  }
  /* line 1308, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlAccess_b {
    width: 144px;
  }
  /* line 1313, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlsAccess_c {
    top: -40px;
    left: 263px;
  }
  /* line 1321, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_a {
    width: 169px;
  }
  /* line 1324, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_b {
    width: 126px;
  }
  /* line 1327, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_c {
    width: 150px;
  }
  /* line 1333, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties {
    width: 450px;
  }
  /* line 1335, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .section {
    margin-top: 10px;
  }
  /* line 1339, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties label {
    color: #A7A7A7;
    font-size: 12px;
  }
  /* line 1344, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .sp-replacer, .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties span.spanbutton {
    border: 1px solid #3B3B3C !important;
  }
  /* line 1348, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .full-spectrum {
    background: transparent !important;
  }
  /* line 1359, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-layout .fl-controls-controlformEvents {
    border: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 1374, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls {
    height: 110px;
  }
  /* line 1380, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_a {
    width: 120px;
  }
  /* line 1384, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_b {
    width: 97px;
  }
  /* line 1388, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_c {
    width: 105px;
  }
  /* line 1392, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_d {
    width: 133px;
  }
  /* line 1396, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-input-fields_e {
    left: 451px;
    top: -72px;
  }
  /* line 1403, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .fl-scan-and-identity_a {
    width: 97px;
  }
  /* line 1407, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlAccess_b {
    width: 129px;
  }
  /* line 1415, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_a {
    width: 158px;
  }
  /* line 1419, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_b {
    width: 123px;
  }
  /* line 1423, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .tab-wrapper .fl-fb-wrapper .controlTools_c {
    width: 124px;
  }
  /* line 1430, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlBasic {
    min-width: 463px;
  }
  /* line 1434, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlUserInterface {
    width: 390px;
  }
  /* line 1439, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlFiles {
    width: 156px;
  }
  /* line 1442, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlAccess {
    /* min-width:255px; */
  }
  /* line 1446, ../../sass/tab/tabcustom.scss */
  #fl-workspace-controls .fl-controls-controlTools {
    width: 411px;
  }

  /* line 1453, ../../sass/tab/tabcustom.scss */
  .fl-controls-controlContainer {
    width: 192px;
  }

  /* line 1457, ../../sass/tab/tabcustom.scss */
  .fl-controls-report-basic {
    width: 318px;
  }

  /* line 1461, ../../sass/tab/tabcustom.scss */
  #fl-form-basic-options, .fl-form-name-wrapper {
    top: 2px;
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
  }

  /* line 1465, ../../sass/tab/tabcustom.scss */
  #fl-workspace-tab-controls, #fl-workspace-tab-properties, #fl-workspace-tab-layout, #fl-workspace-tab-reqestview {
    overflow: hidden;
    white-space: nowrap;
  }
  /* line 1470, ../../sass/tab/tabcustom.scss */
  #fl-workspace-tab-controls .left-arrow-wrapper, #fl-workspace-tab-controls .right-arrow-wrapper, #fl-workspace-tab-properties .left-arrow-wrapper, #fl-workspace-tab-properties .right-arrow-wrapper, #fl-workspace-tab-layout .left-arrow-wrapper, #fl-workspace-tab-layout .right-arrow-wrapper, #fl-workspace-tab-reqestview .left-arrow-wrapper, #fl-workspace-tab-reqestview .right-arrow-wrapper {
    top: 23px;
    height: 77%;
  }

  /* line 1477, ../../sass/tab/tabcustom.scss */
  #fl-workspace-tab-reqestview .left-arrow-wrapper, #fl-workspace-tab-reqestview .right-arrow-wrapper {
    top: 23px;
    height: 66%;
  }

  /* line 1483, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default, .fl-workspace-control-classic {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    position: relative;
  }

  /* line 1487, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default {
    background-color: #4a4a4a !important;
    border: 1px solid #3B3B3C !important;
  }
  /* line 1495, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-tab-bluebar {
    top: 0px;
    background-color: #4a4a4a !important;
    border-bottom: 1px solid #3B3B3C !important;
  }
  /* line 1502, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper label {
    color: #A4A7A7;
    font-size: 12px;
  }
  /* line 1507, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd {
    background-color: #4a4a4a;
    border-bottom: 1px solid #3B3B3C;
  }
  /* line 1510, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-fb-wrapper .fl-form-contr-hd span {
    color: #A4A7A7;
    font-family: droid_sansregular_bold;
  }
  /* line 1517, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlBasic, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlUserInterface, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFiles, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlContainer, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlAccess, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-report-basic, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlPagelayout, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlTools, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlFieldAccess, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlScanAndIdentities, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-genProperties, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformDesign, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlRuler, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-control-reportAccess, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlGenerateBasic, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-actions, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-annotation-tools, .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper .fl-controls-controlformEvents {
    border-right: 1px solid #3B3B3C;
    height: 114px;
  }
  /* line 1522, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper .fl-workspace-control-content-wrapper button {
    margin-bottom: 4px;
  }
  /* line 1532, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_a {
    width: 128px;
  }
  /* line 1536, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_b {
    width: 100px;
  }
  /* line 1540, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_c {
    width: 111px;
  }
  /* line 1544, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_d {
    width: 145px;
  }
  /* line 1548, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlBasic .fl-input-fields_e {
    left: 475px;
    top: -93px;
  }
  /* line 1556, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_a {
    width: 105px;
  }
  /* line 1560, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_b {
    width: 135px;
  }
  /* line 1564, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .alignments-graphics_c {
    width: 122px;
  }
  /* line 1568, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 {
    left: 4px;
    padding-top: 0px;
    color: #A7A79E;
    margin-bottom: 5px;
  }
  /* line 1573, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 span {
    top: 2px;
    right: auto;
    bottom: auto;
    left: 3px;
    position: relative;
  }
  @-moz-document url-prefix() {
    /* line 1580, ../../sass/tab/tabcustom.scss */
    .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 {
      left: 2px;
      width: 71px;
      padding-top: 0px;
      color: #A7A79E;
      margin-bottom: 5px;
    }
    /* line 1586, ../../sass/tab/tabcustom.scss */
    .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlUserInterface .fl-workspace-control-image-ctrl2 span {
      top: 2px;
      right: auto;
      bottom: auto;
      left: 3px;
      position: relative;
    }
  }
  /* line 1595, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlFiles {
    width: 169px;
  }
  /* line 1599, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlScanAndIdentities {
    border-right: none;
  }
  /* line 1601, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-controls .fl-controls-controlScanAndIdentities .fl-scan-and-identity_a {
    width: 145px;
  }
  /* line 1613, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlAccess_a {
    width: 128px;
  }
  /* line 1616, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlAccess_b {
    width: 144px;
  }
  /* line 1621, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlAccess .controlsAccess_c {
    top: -40px;
    left: 263px;
  }
  /* line 1629, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_a {
    width: 169px;
  }
  /* line 1632, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_b {
    width: 126px;
  }
  /* line 1635, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-controlTools .controlTools_c {
    width: 150px;
  }
  /* line 1641, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties {
    width: 450px;
  }
  /* line 1643, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .section {
    margin-top: 10px;
  }
  /* line 1647, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties label {
    color: #A7A7A7;
    font-size: 12px;
  }
  /* line 1652, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .sp-replacer, .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties span.spanbutton {
    border: 1px solid #3B3B3C !important;
  }
  /* line 1656, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-properties .fl-controls-genProperties .fl-textfield-type-opt .full-spectrum {
    background: transparent !important;
  }
  /* line 1667, ../../sass/tab/tabcustom.scss */
  .fl-workspace-control-default .tab-wrapper #fl-workspace-tab-layout .fl-controls-controlformEvents {
    border: none;
  }
}
/* line 1679, ../../sass/tab/tabcustom.scss */
.default-theme-dark-fl-workspace-control-default-active {
  border-top: 1px solid #3B3B3C !important;
  border-right: 1px solid #3B3B3C !important;
  border-left: 1px solid #3B3B3C !important;
  color: #ffffff;
  background-color: #4a4a4a !important;
}
/* line 1686, ../../sass/tab/tabcustom.scss */
.default-theme-dark-fl-workspace-control-default-active i.fa {
  color: #ffffff !important;
}

/* line 1692, ../../sass/tab/tabcustom.scss */
.default-theme-dark-fl-workspace-control-default-inactive {
  background-color: #7b7979 !important;
  color: #ffffff;
  border: none !important;
}

/* line 1698, ../../sass/tab/tabcustom.scss */
.default-theme-light-fl-workspace-control-default-active {
  border-top: 1px solid #ADABAB !important;
  border-right: 1px solid #ADABAB !important;
  border-left: 1px solid #ADABAB !important;
  color: #222222;
  background-color: #e0e0e0 !important;
}
/* line 1705, ../../sass/tab/tabcustom.scss */
.default-theme-light-fl-workspace-control-default-active i.fa {
  color: #222222 !important;
}

/* line 1711, ../../sass/tab/tabcustom.scss */
.default-theme-light-fl-workspace-control-default-inactive {
  background-color: #7b7979 !important;
  color: #ffffff;
  border: none !important;
}

/* line 1717, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-classic-active {
  border-top: 1px solid #cdced1;
  border-right: 1px solid #cdced1;
  border-left: 1px solid #cdced1;
  color: #4E4E4E;
  background-color: #cfdbe2 !important;
}

/* line 1726, ../../sass/tab/tabcustom.scss */
.fl-workspace-control-classic-inactive {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #CDCED1 !important;
  color: #ffffff;
}
