
/* line 15, ../sass/screen.scss */
.node-wrapper {
  /*float: right;*/
  /*max-width: 180px;
  width: 160px;*/
 /* float: right; */
  max-height: 46px;
  background-color: #343434;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
  position: relative;
  z-index: 1;
  min-width: 150px;
  float: right;
}

.node-wrapper.node-database-wrapper, .node-content-wrapper.node-database-content-wrapper {
  background-color:transparent;
  max-height: inherit;
}

.node-wrapper.node-database-wrapper, .node-content-wrapper.node-database-content-wrapper {
  height: 100%;
}


.node-workflow-icon-wrapper-circle{
  height: 20px;
  width: 20px;
  background-color: #0072ff;
  /*border: 1px solid #343434;*/
  position: relative;
  top: 4px;
  left: -16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  z-index: 1;
}
.node-workflow-icon-wrapper-circle img{
  height: 100%;
  width: 100%;
}

/* line 26, ../sass/screen.scss */
.node-content-wrapper {
/*  max-width: 180px;*/
  height: 30px;
  background-color: #fff;
  text-align: center;
  /*line-height: 46px;*/
  /*/*font-family: arial;*/*/
  font-weight: bold;
  font-size: 18px;
}

/* line 37, ../sass/screen.scss */
.node-dept-wrapper {
  height: 50%;
  width: 100%;
  background-color: #343434;
  text-align: center;
  /*/*font-family: arial;*/*/
  font-size: 11px;
  /*font-weight: bold;*/
  color: #ffffff;
  line-height: 11px;
  font-size: 11px
}

/* line 49, ../sass/screen.scss */
.node-name-wrapper {
  height: 50%;
  width: 80%;
  text-align: center;
  /*font-family: arial;*/
  font-size: 11px;
  color: #222222;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
.node-firstoption-wrapper {
  max-width: 180px;
  position: relative;
  margin:  0 auto;
}

/* line 65, ../sass/screen.scss */
.node-holder-avatar-wrapper {
  width: 44px;
  height: 44px;
  padding: 3px;
  background-color: #343434;
  margin: 0 auto;
}

/* line 74, ../sass/screen.scss */
.node-avatar-wrapper {
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px;
}

/* line 82, ../sass/screen.scss */
.node-settings-wrapper {
  width: 60px;
  height: 20px;
  background-color: #dfdfdf;
  border: 1px solid #969696;
  border-bottom: none;
  position: absolute;
  right: 0px;
  bottom: -21px;
  opacity: 0;
}

/* line 95, ../sass/screen.scss */
.node-dragtopoint-wrapper {
  width: 132px;
  height: 22px;
  background-color: #dfdfdf;
  border: 1px solid #969696;
  border-top: none;
  display: inline;
  float: right;
  padding: 2px 11px;
  top: -28px;
  position: relative;
  opacity: 0;
}

.node-database-node-dragtopoint-wrapper {
  width: 77px;
}

/* line 110, ../sass/screen.scss */
span.dragtext {
  /*font-family: arial;*/
  font-size: 11px;
  color: blue;
  text-align: center;
}

/* line 117, ../sass/screen.scss */
span.dragtext:before {
  content: url("../dragiconsmall.png");
  height: 15px;
  width: 16px;
  position: relative;
  top: 3px;
}

/* line 125, ../sass/screen.scss */
.node-drag-wrapper {
 /* width: 225px;*/
  /*height: 15%;*/
  /*height: auto;*/
  border: dotted 3px #cccccc;
  position: absolute;
  border-color: transparent;
  /*padding-top: 15px;*/
  /*padding-bottom: 40px;*/
}

/* line 136, ../sass/screen.scss */
.add-padding-node-workflow {
  /*padding-top: 35px;*/
}

/* line 140, ../sass/screen.scss */
.node-drag-holder-circle {
  margin: 0 auto;
  border: 3px dotted transparent;
  width: 100px;
}
.node-drag-holder {
  margin: 0 auto;
  border: 3px dotted transparent;
  /*width: 100px;*/
  min-width: 180px; /* to prevent the decreasing of width when resizing the workspace */
}

.node-drag-holder.node-database-node-drag-holder {
  min-width: 50px;
  width: 50px;
}
/* line 145, ../sass/screen.scss */
.node-drag-item-wrapper {
  width: 177px;
  height: 25px;
  border: dotted 3px #cccccc;
  border-bottom: none;
  /*position: absolute;*/
  top: -53px;
  margin: 0 auto;
  left: 11px;
  padding: 5px;
  border-color: transparent;
}

/* line 158, ../sass/screen.scss */
span.node-drag-text-wrapper {
  /*font-family: arial;*/
  font-size: 15px;
  color: #f00;
  display: none;
  cursor: move;
}

/* line 165, ../sass/screen.scss */
span.node-drag-text-wrapper:before {
  content: url("../dragiconbig.png");
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  cursor: move;
}

/*for workflow only */
/* line 175, ../sass/screen.scss */
.node-workflow-icon-wrapper {
  height: 20px;
  width: 20px;
/*  background-color: #0072ff;
  border: 1px solid #343434;*/
  position: relative;
  top: 6px;
  left: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  z-index: 1;
}

.node-workflow-icon-wrapper img{
  height: 100%;
  width: 100%;
  
}

/*for workflow circle node only */
/* line 189, ../sass/screen.scss */
.node-circle-wrapper {
  float: right;
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 2px solid #343434;
  /*margin: 0 auto;*/
}

/* line 198, ../sass/screen.scss */
.node-circle-title {
  background-color: #343434;
  padding: 5px;
  text-align: center;
  /*font-family: arial;*/
  font-size: 13px;
  color: #ffffff;
  margin-top: 22px;
  border-top-right-radius: 2px;
}

/* line 208, ../sass/screen.scss */
.node-circle {
  border-radius: 30px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  top: -28px;
}

/* line 217, ../sass/screen.scss */
.node-dragtopoint-wrapper {
  border-top: 1px solid #969696;
}

/* line 223, ../sass/screen.scss */
.node-circle-settings-wrapper {
  width: 60px;
  height: 20px;
  background-color: #dfdfdf;
  border: 1px solid #969696;
  border-bottom: none;
  position: absolute;
  right: 0px;
  bottom: -21px;
  opacity: 0;
}

/* line 236, ../sass/screen.scss */
.node-circle-dragtopoint-wrapper {
  width: 100px;
  height: 22px;
  background-color: #dfdfdf;
  border: 1px solid #969696;
  border-top: none;
  display: inline;
  float: right;
  padding: 2px 11px;
  top: -28px;
  position: relative;
  opacity: 0;
  left: -17px
}

/* line 250, ../sass/screen.scss */
.border-circle-node-top {
  border-top: 1px solid #969696;
}

/* line 255, ../sass/screen.scss */
.border-circle-node {
  border-bottom: 1px solid #969696;
}

.node-drag{
  cursor: move;
}
.borderTransparent{
  border-color: transparent !important;
}
.activateNode .node-drag-holder {
  border:rgb(139, 215, 139) dotted 2px !important
}

.node-circle-status{
  text-align: center; position: relative; top: 66px;text-align: center;/*font-family: arial;*/font-size: 11px;color: #222222;
}
.customLineText{
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.customLineTextActive{
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 5px;
  border-radius: 5px;
  z-index: 3px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.fl-condition-content {
    width:80px;
    height:80px;
    border: 2px solid #343434;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    text-align:center;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.fl-condition-inner {
    color:#fff;
    /*font-weight:bold;*/
    font-size:12px;
    text-align:center;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    width:80px;
    /*[B]*/
    height:80px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    
}
.fl-title-cond, .fl-label-cond, .fl-value-cond, .fl-operators-cond, .fl-fieldsCondition-cond {
    background-color:#343434;
    padding:3px;
    box-sizing:border-box;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 70px;
    margin: 0 auto;
}

.fl-title-cond {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    width: 90px;
    margin: 0 auto;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.fl-label-cond {
  border-top-left-radius:3px;
  border-top-right-radius:3px; 
  margin:0 auto;
}

.fl-condition-wrapper {
/* width: 100px;
height: 148px;*/
  width: 63px;
  height: 103px;
/*padding: 25px;*/
margin: 0 auto;
}

.fl-condition-wrapper .node-workflow-icon-wrapper {
    position: relative;
    top: 53px;
    left: -28px;
}

.diamond-L {
  background-color: #343434;
    height: 53px;
    width: 227px;
    position: absolute;
    transform: rotate(-45deg);
    display: table-cell;
    vertical-align: middle;
    top: 68px;
    left: -109px;
}

.diamond-R {
  background-color: #343434;
  height: 53px;
  width: 227px;
  position: absolute;
  transform: rotate(-45deg);
  display: table-cell;
  vertical-align: middle;
  top: 41px;
  right: -49px;
}


.wf-note-style{
  color : gray !important;
}

.fl-field-style {
    background-color: #EFEFEF;
    margin-bottom: 5px !important;
    border: 1px solid;
    border-color: #e9eaed #dfe0e4 #d0d1d5;
}
.isDisplayImportant{
  display:none !important;
}

.orgchart-node-color > .sp-replacer {
      width: 98.6%;
}

.orgchart-node-color > .sp-replacer > .sp-preview{
      width: 97%;
}

