/*
*
* RP responsive grid Framework v1
* Copyright 2014 { Roni Pinili }
* 
*/
.font_family {
    font-family: arial;
}

.box_ColorGreen {
    background-color: #32ce74 !important;
}

.box_Reddish {
    background-color: #e74c3c !important;
}

.box_sizing, .column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.column {
    //background-color: #34495e;
    display: block;
    float: left;
    margin: .5% 0 .5% .5%;
    padding: 5px;
}
@media (max-width: 568px) {

    .column {
        margin: .5% 0 .5% 0%;
    }
}

.clearing:before,
.clearing:after {
    content: "";
    display: table;
}

.clearing:after {
    clear: both;
}

.clearing {
    zoom: 1;
    /* For IE 6/7 */
}

.column:first-child {
    margin-left: 0;
}

.div_1_of_1 {
    width: 100%;
}

/* == GRID OF 2 == */
.div_1_of_2 {
    width: 49.75%;
}
@media (max-width: 568px) {
    .div_1_of_2 {
        width: 100%;
    }
}

/* == GRID OF 2 == */
/* == GRID OF 3 == */
.div_1_of_3 {
    width: 33%;
}
@media (max-width: 568px) {
    .div_1_of_3 {
        width: 100%;
    }
}

.div_2_of_3 {
    width: 66.5%;
}
@media (max-width: 568px) {

    .div_2_of_3 {
        width: 100%;
    }
}


.div_3_of_3 {
    width: 100%;
}

/* == GRID OF 3 == */
/* == GRID OF 4 == */

.div_1_of_4 {
    width: 24.625%;
}
@media (max-width: 1024px) {

    .div_1_of_4 {
        width: 100%;
    }
}


.div_3_of_4 {
    width: 74.87%;
}
@media (max-width: 1024px) {

    .div_3_of_4 {
        width: 100%;
    }
}

.div_4_of_4 {
    width: 100%;
}

/* == GRID OF 4 == */
/* == GRID OF 5 == */

.div_1_of_5 {
    width: 19.6%;
}
@media (max-width: 568px) {

    .div_1_of_5 {
        width: 100%;
    }
}


.div_4_of_5 {
    width: 79.9%;
}
@media (max-width: 568px) {

    .div_4_of_5 {
        width: 100%;
    }
}


.div_5_of_5 {
    width: 100%;
}

/* == GRID OF 5 == */

/* == GRID OF 6 == */
.div_1_of_6 {
    width: 16.25%;
}

@media (max-width: 568px) {

    .div_1_of_6 {
        width: 100%;
    }
    .div_5_of_6 { 
        width: 100%;
    }
}

.div_5_of_6 {
    width: 85.6%;
}


.div_6_of_6 {
    width: 100%;
}

/* == GRID OF 6 == */

/* == GRID OF 7 == */
.div_1_of_7 {
    width: 13.85%;
}


@media (max-width: 568px) {

    .div_1_of_7 {
        width: 100%;
    }
}

.div_6_of_7 {
    width: 85.2%;
}

.div_7_of_7 {
    width: 100%;
}

/* == GRID OF 7 == */


/* == GRID OF 8 == */
.div_1_of_8 {
    width: 12.056%;
}


@media (max-width: 568px) {

    .div_1_of_8 {
        width: 100%;
    }
}

.div_7_of_8 {
    width: 87.4%;
}

.div_8_of_8 {
    width: 100%;
}
/* == GRID OF 8 == */


/* == GRID OF 9 == */
.div_1_of_9 {
    width: 10.6656%;
}
@media (max-width: 568px) {

    .div_1_of_9 {
        width: 100%;
    }
}


.div_8_of_9 {
    width: 88.4%;
}

.div_9_of_9 {
    width: 100%;
}

/* == GRID OF 9 == */

.div_1_of_10 {
    width: 9.55%;
}
@media (max-width: 568px) {

    .div_1_of_10 {
        width: 100%;
    }
}


.div_1_of_11 {
    width: 8.635%;
}
@media (max-width: 568px) {

    .div_1_of_11 {
        width: 100%;
    }
}


.div_1_of_12 {
    width: 7.87%;
}
@media (max-width: 568px) {

    .div_1_of_12 {
        width: 100%;
    }
}


noindex:-o-prefocus, .div_1_of_2 {
    width: 49.8%;
}
@media (max-width: 568px) {

    noindex:-o-prefocus, .div_1_of_2 {
        width: 100%;
    }
}

noindex:-o-prefocus, .div_1_of_3 {
    width: 33.05%;
}
@media (max-width: 568px) {

    noindex:-o-prefocus, .div_1_of_3 {
        width: 100%;
    }
}


noindex:-o-prefocus, .div_1_of_4 {
    width: 24.67%;
}
@media (max-width: 568px) {

    noindex:-o-prefocus, .div_1_of_4 {
        width: 100%;
    }
}


noindex:-o-prefocus, .div_1_of_7 {
    width: 13.87%;
}
@media (max-width: 568px) {

    noindex:-o-prefocus, .div_1_of_7 {
        width: 100%;
    }
}


noindex:-o-prefocus, .div_1_of_8 {
    width: 12.1%;
}
@media (max-width: 568px) {

    noindex:-o-prefocus, .div_1_of_8 {
        width: 100%;
    }
}