/* line 23, ../../sass/_utilities.scss */
.fl-floatLeft, .fl-widget-head.fl-small-widgetv2 .widget-icon-wrapper {
  float: left;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatRight, .fl-wcheader .fl-wchdate {
  float: right;
}

/* line 23, ../../sass/_utilities.scss */
.isFloatNone, .fl-widget-starred-content-wrapperv2 .fl-wchdate {
  float: none;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignCenter {
  text-align: center;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignLeft {
  text-align: left;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignRight {
  text-align: right;
}

/* line 44, ../../sass/_utilities.scss */
.iswH10perc {
  width: 10%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH20perc {
  width: 20%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH30perc, .fl-modules-forms-details {
  width: 30%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH40perc {
  width: 40%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH50perc {
  width: 50%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH60perc {
  width: 60%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH70perc {
  width: 70%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH80perc {
  width: 80%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH90perc {
  width: 90%;
}

/* line 44, ../../sass/_utilities.scss */
.iswH100perc {
  width: 100%;
}

/* line 49, ../../sass/_utilities.scss */
.fl-widget-cpnyevnts-content-wrapperv2, .fl-widget-my-requests-content-wrapperv2, .fl-widget-starred-content-wrapperv2 {
  height: 100%;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansregular {
  font-family: droid_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansbold, .font_droid_sansbold {
  font-family: droid_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensansregular {
  font-family: open_sanslight_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensanslight {
  font-family: open_sanslight;
}

/* line 102, ../../sass/_utilities.scss */
.protestantregular {
  font-family: protestant_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoregular {
  font-family: dustismo_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobold {
  font-family: dustismo_regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoromanregular {
  font-family: dustismo_romanregular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoitalic {
  font-family: dustismo_italic;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobolditalic {
  font-family: dustismobold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansregular {
  font-family: perspective_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbold {
  font-family: perspective_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansblackitalic {
  font-family: perspective_sans_blackitalic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbolditalic {
  font-family: perspective_sansbold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspective_sansitalic {
  font-family: perspective_sansitalic;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiregular {
  font-family: sansumiregular;
}

/* line 102, ../../sass/_utilities.scss */
.sansumibold {
  font-family: sansumiregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumisemibold {
  font-family: sansumi_demibold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiultralightregular {
  font-family: sansumi_ultralightregular;
}

/* line 102, ../../sass/_utilities.scss */
.traditionsansxlightregular {
  font-family: traditionsans_xlightregular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95regular {
  font-family: vera_humana_95regular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bold {
  font-family: vera_humana_95regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bolditalic {
  font-family: vera_humana_95bolditalic;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95italic {
  font-family: vera_humana_95italic;
}

/* line 102, ../../sass/_utilities.scss */
.weezerfontregular {
  font-family: weezerfontregular;
}

/* line 102, ../../sass/_utilities.scss */
.weblysleelight {
  font-family: weblysleeklight;
}

/* line 124, ../../sass/_utilities.scss */
.font-bold, .isFontWeightBold, .fl-widget-head.fl-small-widgetv2 .widget-icon-wrapper span.fl-msg-name {
  font-weight: bold;
}

/* line 135, ../../sass/_utilities.scss */
.marginAuto {
  margin: 0 auto;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity0 {
  opacity: 0;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity1 {
  opacity: 1;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayBlock {
  display: block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayInlineBlock, .fl-field-style span {
  display: inline-block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTable {
  display: table;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableCell {
  display: table-cell;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableRow {
  display: table-row;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayNone {
  display: none;
}

/* line 163, ../../sass/_utilities.scss */
.fl-positive-btn {
  background-color: #2ecc71 !important;
}

/* line 167, ../../sass/_utilities.scss */
.fl-negative-btn {
  background-color: #c0392b !important;
}

/* line 171, ../../sass/_utilities.scss */
.fl-default-btn {
  background-color: #abbac3 !important;
}

/* line 176, ../../sass/_utilities.scss */
.avatar-wrapper {
  height: 40px;
  padding: 5px;
}

/* line 181, ../../sass/_utilities.scss */
.avatar-profile-properties {
  font-size: 12px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* line 189, ../../sass/_utilities.scss */
.input-text {
  width: 190px;
  height: 18px;
  padding: 3px;
}

/* line 195, ../../sass/_utilities.scss */
.input-select {
  height: 32px;
  border: 1px solid #d6d6d6;
}

/* line 200, ../../sass/_utilities.scss */
.input-submit {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 207, ../../sass/_utilities.scss */
.input-button {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 214, ../../sass/_utilities.scss */
.input-type-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto !important;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0px;
  z-index: 999999;
}

/* line 228, ../../sass/_utilities.scss */
.bold-text {
  font-weight: bold;
}

/* line 232, ../../sass/_utilities.scss */
.colorfff, .fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-widget-content:hover span, .fl-widget-content:hover a {
  color: #ffffff;
}

/* line 236, ../../sass/_utilities.scss */
.bgcolorfff {
  background-color: #ffffff !important;
}

/* line 246, ../../sass/_utilities.scss */
.isCursorNotAllowed {
  cursor: not-allowed;
}

/* line 246, ../../sass/_utilities.scss */
.font-bold, .isCursorPointer {
  cursor: pointer;
}

/* line 252, ../../sass/_utilities.scss */
.fl-secondary-btn {
  border: 1px solid #d6d6d6 !important;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
}

/* line 262, ../../sass/_utilities.scss */
.fl-button-press {
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 267, ../../sass/_utilities.scss */
.fl-button-press-hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 279, ../../sass/_utilities.scss */
.trans_duration3, .fl-widget-content.fl-widget-contentv2, .fl-widget-info, .fl-widget-content .fl-avatar > img {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 295, ../../sass/_utilities.scss */
.fl-widget-content.fl-widget-contentv2, .fl-widget-info, .fl-widget-content .fl-avatar > img {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 311, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-widget-content.fl-widget-contentv2, .fl-form-request-header, .fl-request-widget, .fl-modules-forms-details .fl-widget-wrapper-scroll, .fl-inner-content {
  box-sizing: border-box;
}

/* line 322, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .Cac_fl-post-event, .fl-widget-content:hover span.fl-request-id > a, .fl-widget-content:hover .starredtype-data, .fl-fa-btn, .fl-field-style {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 332, ../../sass/_utilities.scss */
.rotateScale, .fl-widget-content:hover .fl-avatar > img {
  -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
  -moz-transform: rotate(-30deg) scale(1.2, 1.2);
  -o-transform: rotate(-30deg) scale(1.2, 1.2);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* line 340, ../../sass/_utilities.scss */
.borderNone {
  border: none !important;
}

/* line 343, ../../sass/_utilities.scss */
.borderTopNone {
  border-top: none !important;
}

/* line 346, ../../sass/_utilities.scss */
.borderLeftNone {
  border-left: none !important;
}

/* line 349, ../../sass/_utilities.scss */
.borderBottomNone {
  border-bottom: none !important;
}

/* line 352, ../../sass/_utilities.scss */
.borderRightNone {
  border-right: none !important;
}

/* line 357, ../../sass/_utilities.scss */
.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 363, ../../sass/_utilities.scss */
.elip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../../sass/_utilities.scss */
.clearfloat {
  content: "";
  clear: both;
  display: table;
}

/* line 444, ../../sass/_utilities.scss */
.fl-Miniloader {
  color: #555555;
  -webkit-animation: Miniloader .7s infinite linear;
  -moz-animation: Miniloader .7s infinite linear;
  animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Miniloader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
/* line 469, ../../sass/_utilities.scss */
.fl-RevealLoader {
  -webkit-animation: RevealLoader .7s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes RevealLoader {
  0% {
    right: 0px;
  }
  100% {
    right: -75px;
  }
}
/* line 495, ../../sass/_utilities.scss */
.fl_badge_silver {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #C0C0C0;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SpringGreen {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #2ecc71;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Gold {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #FFD700;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_DarkRed {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #8B0000;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SteelBlue {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #4682B4;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Black {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #000000;
}

/* line 635, ../../sass/_utilities.scss */
.fl-form-prop-cont-wid {
  width: 49%;
}

/* line 56, ../../sass/widgets/widgets.scss */
.Cac_fl-company-announcement-container {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

/* line 65, ../../sass/widgets/widgets.scss */
.Cac_fl-content-dialog {
  width: 95%;
  height: auto;
  padding: 5px;
}

/* line 70, ../../sass/widgets/widgets.scss */
.Cac_fl-even-container {
  width: 100%;
}

/* line 74, ../../sass/widgets/widgets.scss */
.Cac_fl-post-event {
  word-break: break-word;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 5px;
}

/* line 82, ../../sass/widgets/widgets.scss */
.Cac_fl-posted {
  font-size: 11px;
  color: #666;
}

/* line 91, ../../sass/widgets/widgets.scss */
.fl-widget-head.fl-small-widgetv2 {
  background-color: #ffffff !important;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #cfdbe2;
  border-top: 2px solid #cfdbe2;
  border-bottom: none;
  box-shadow: 0 4px 10px -6px #cfdbe2;
  z-index: 1;
  position: relative;
}
/* line 103, ../../sass/widgets/widgets.scss */
.fl-widget-head.fl-small-widgetv2 .widget-icon-wrapper span.widget-title {
  color: #6e6e6e !important;
}

/* line 113, ../../sass/widgets/widgets.scss */
.fl-widget-head.fl-small-widgetv3 {
  padding: 0px;
  height: 34px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 119, ../../sass/widgets/widgets.scss */
.fl-widget-head.fl-small-widgetv3 .widgetv3-widget-title {
  position: relative;
  top: 10px;
  left: 4px;
}

/* line 126, ../../sass/widgets/widgets.scss */
.fl-widget-wrapper.fl-small-widgetwrapperv2, .fl-widget-wrapper-scroll {
  height: 200px;
  overflow: hidden;
  background-color: #ffffff !important;
  border: 1px solid #cfdbe2;
  border-top: none;
  border-bottom: 1px solid #cfdbe2;
  padding: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 136, ../../sass/widgets/widgets.scss */
.fl-widget-wrapper-not-scroll {
  height: auto;
  overflow: hidden;
  background-color: #ffffff !important;
  border: 1px solid #cfdbe2;
  border-top: none;
  border-bottom: 3px solid #cfdbe2;
  padding: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 147, ../../sass/widgets/widgets.scss */
.fl-widget-wrapper-not-scroll > .fl-list-of-app-record-wrapper > .fl-table-wrapper > #loadMyRequestTable_wrapper > .dataTables_info {
  padding: 12px !important;
}

/* line 151, ../../sass/widgets/widgets.scss */
.fl-widget-wrapper-not-scroll > .fl-list-of-app-record-wrapper > .fl-table-wrapper > #loadMyRequestTable_wrapper > .dataTables_paginate {
  margin: 12px !important;
}

/* line 156, ../../sass/widgets/widgets.scss */
.widget-icon-wrapper .cewv2 {
  top: -9px;
  right: auto;
  bottom: auto;
  left: -9px;
  position: relative;
  background-position: -40px -293px !important;
  width: 28px;
}

/* line 162, ../../sass/widgets/widgets.scss */
.widget-icon-wrapper .starredv2 {
  top: -9px;
  right: auto;
  bottom: auto;
  left: -9px;
  position: relative;
  background-position: -39px -257px !important;
  width: 32px;
}

/* line 168, ../../sass/widgets/widgets.scss */
.widget-icon-wrapper .messages {
  top: -9px;
  right: auto;
  bottom: auto;
  left: -9px;
  position: relative;
  background-position: -39px -156px;
  width: 28px;
}

/* line 174, ../../sass/widgets/widgets.scss */
.fl-widget-cpnyevnts-content-wrapperv2 {
  width: auto;
  min-height: 40px;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 5px;
  margin-left: 47px;
  word-break: break-word;
}

/* line 187, ../../sass/widgets/widgets.scss */
.fl-widget-content.fl-widget-contentv2 {
  border-bottom: 1px solid #cfdbe2;
  margin-top: 0% !important;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0% !important;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  width: 100% !important;
}

/* line 201, ../../sass/widgets/widgets.scss */
.fl-wcheader .fl-wchname {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}
/* line 207, ../../sass/widgets/widgets.scss */
.fl-wcheader .fl-wchdate {
  color: #33b5e5;
  font-size: 11px;
}

/* line 214, ../../sass/widgets/widgets.scss */
.fl-widget-my-requests-content-wrapperv2, .fl-widget-starred-content-wrapperv2 {
  width: auto;
  margin-left: 47px;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 5px;
}

/* line 224, ../../sass/widgets/widgets.scss */
.fl-widget-my-requests-content-wrapperv2 {
  margin-left: 0px;
}

/* line 230, ../../sass/widgets/widgets.scss */
.fl-widget-starred-content-wrapperv2 .fl-wchname {
  margin-bottom: 0px;
}
/* line 234, ../../sass/widgets/widgets.scss */
.fl-widget-starred-content-wrapperv2 .fl-wchdate {
  color: #33b5e5;
  font-size: 11px;
}

/* line 244, ../../sass/widgets/widgets.scss */
.fl-widget-starred-content-wrapperv2 i.fa-times {
  margin-right: 5px;
}

/* line 251, ../../sass/widgets/widgets.scss */
.fl-widget-cpnyevnts-content-wrapperv2 .fl-wcheader .fl-wchdate .timeago {
  margin-right: 6px;
}

/* line 259, ../../sass/widgets/widgets.scss */
.widget-icon-wrapper .my-requestsv2 {
  top: -9px;
  right: auto;
  bottom: auto;
  left: -9px;
  position: relative;
  background-position: -40px -225px !important;
  width: 28px;
}

/* line 265, ../../sass/widgets/widgets.scss */
.widget-icon-wrapper .custom-widget {
  top: -9px;
  right: auto;
  bottom: auto;
  left: -9px;
  position: relative;
  background-position: -80px -552px !important;
  width: 28px;
}

/* line 273, ../../sass/widgets/widgets.scss */
.fl-myrequest-container-users .fl-widget-info .fl-widget-contentv2 {
  padding: 0px;
}

/* line 279, ../../sass/widgets/widgets.scss */
.fl-widget-content:hover {
  background: rgba(22, 22, 22, 0.5);
}

/* line 284, ../../sass/widgets/widgets.scss */
.fl-widget-content:hover span.fl-request-id > a, .fl-widget-content:hover .starredtype-data {
  background: rgba(22, 22, 22, 0.5);
  padding: 0px 2px 0px 2px;
}

/* line 290, ../../sass/widgets/widgets.scss */
.fl-widget-content:hover a.fl-events-data {
  text-decoration: underline;
}

/* line 315, ../../sass/widgets/widgets.scss */
.fl-form-request-header {
  background-color: #cfdbe2;
  padding: 5px;
}
/* line 319, ../../sass/widgets/widgets.scss */
.fl-form-request-header span {
  color: #778a96 !important;
}

/* line 325, ../../sass/widgets/widgets.scss */
.fl-form-request-body {
  padding: 5px;
  line-height: 16px;
}

/* line 331, ../../sass/widgets/widgets.scss */
.div_1_of_2 .fl-widget-wrapper-scroll, .div_1_of_1 .fl-widget-wrapper-scroll {
  min-height: 440px;
}

/* line 337, ../../sass/widgets/widgets.scss */
.fl-request-widget {
  height: auto;
  margin-top: 2% !important;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0% !important;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  width: 100% !important;
}
/* line 345, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget-header {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px;
  background-color: #cfdbe2;
  border: 1px solid #D0D1D5;
}
/* line 353, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget-header span {
  color: #222;
}
/* line 358, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget-data {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid;
  border-color: #e9eaed #dfe0e4 #d0d1d5;
}
/* line 364, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget-data li {
  padding: 5px;
  word-break: break-all;
  line-height: 16px;
}
/* line 370, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget-data li:nth-child(odd) {
  background-color: #F5F5F5;
}
/* line 374, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget-data li:last-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 380, ../../sass/widgets/widgets.scss */
.fl-request-widget .fl-request-widget:last-child {
  padding-top: auto;
  padding-right: auto;
  padding-bottom: 5px;
  padding-left: auto;
}

/* line 386, ../../sass/widgets/widgets.scss */
.fl-wrapper-to-move {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  z-index: 2;
}

/* line 392, ../../sass/widgets/widgets.scss */
.fl-reveal-this-wrapper-btn {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
}

/* line 396, ../../sass/widgets/widgets.scss */
.fl-modules-forms-details {
  top: 47px;
  right: 0px;
  bottom: auto;
  left: auto;
  position: absolute;
  background-color: #FFF;
  border-bottom: 1px solid #CFDBE2;
  border-right: 1px solid #CFDBE2;
  border-left: 1px solid #CFDBE2;
  z-index: 1;
}
/* line 405, ../../sass/widgets/widgets.scss */
.fl-modules-forms-details .fl-widget-head {
  border: none;
}
/* line 409, ../../sass/widgets/widgets.scss */
.fl-modules-forms-details .fl-widget-wrapper-scroll {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}

/* line 415, ../../sass/widgets/widgets.scss */
.fl-inner-content {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* line 421, ../../sass/widgets/widgets.scss */
.fl-fa-btn {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: white;
}

/* line 427, ../../sass/widgets/widgets.scss */
.fl-field-style {
  background-color: #EFEFEF;
  margin-bottom: 5px !important;
  border: 1px solid;
  border-color: #e9eaed #dfe0e4 #d0d1d5;
}
/* line 434, ../../sass/widgets/widgets.scss */
.fl-field-style span {
  margin-bottom: 3px;
}
/* line 439, ../../sass/widgets/widgets.scss */
.fl-field-style input[type="text"], .fl-field-style textarea {
  padding: 7px;
}

/* line 445, ../../sass/widgets/widgets.scss */
#fl-widget-icon-set li {
  float: left;
  margin: 5px;
}
