<script type="text/ng-template" id="my-custom-template">
      <div class="feed-name-selection">
          <div class="left-panel pull-left" ng-show = "data.image">
            <img class="img-circle" ng-src="{{data.image}}" />
          </div>
          <div class="right-panel media-body">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
           <!--  <span>({{data.id}})</span> -->
            <!-- <span>{{data.text}}</span> -->
          </div>
      </div>
</script>


<div class="modal-header">
        <h3 class="modal-title">Save Dashboard Template</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" id="name" ng-model="templateName" placeholder="Template name here...">
    </div>
    <div class="form-group">
         <div class="form-group">
            <tags-input ng-model="users" placeholder="Add user" add-from-autocomplete-only="true" key-property="id" replace-sp aces-with-dashes=false  class="feed-readers">
                <auto-complete source="getUsers($query)"
                 min-length="0"
                 load-on-focus="true"
                 load-on-empty="false"
                 max-results-to-show="5"
                 debounce-delay="200"
                 template="my-custom-template">
                </auto-complete>
              </tags-input>
        </div>
        <div class="form-group">
            <tags-input ng-model="groups" placeholder="Add group" add-from-autocomplete-only="true" key-property="id" replace-sp aces-with-dashes=false  class="feed-readers">
                <auto-complete source="getGroups($query)"
                 min-length="0"
                 load-on-focus="true"
                 load-on-empty="false"
                 max-results-to-show="5"
                 debounce-delay="200"
                 template="my-custom-template">
                </auto-complete>
              </tags-input>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveTemplate()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    
</div>