

	<!-- <div> -->
		<ul>
			<li>
				<div class="list" perfect-scrollbar>
					<ul>
						<li class="list-item"><a href = "/user_view/account-settings">Edit Account</a></li>
						<li class="list-item"><a href="/user_view/organizational-chart">Organizational Chart</a></li>
						<li class="list-item"><a href="/user/logout">Logout</a></li>
					</ul>
				</div>
			</li>
		</ul>
<!-- </div>


 -->


 -->