

	<!-- <div> -->
		<ul ng-controller = "NotificationController as notifCtrl" >
			<li>
				<div class="title text-muted">
					Notifications
				</div>
				<div class="list" perfect-scrollbar >
					
					<ul ng-show = "!notifCtrl.loading">
						<li ng-hide = "notifCtrl.notifCount" class="list-item"><a>No Notifications Found.</a></li>
						<li ng-show = "notifCtrl.notifCount" ng-repeat = 'notif in notifCtrl.notifs' class="list-item">
							<a ng-if = "notif.notifType == 'request'" 
							href = "/user_view/workspace?view_type=request&formID={{notif.formID}}&requestID={{notif.requestID}}&trackNo={{notif.TrackNo}}">
								<div>
									<small>
										<i class = "fa fa-file-text-o"></i>
										Request
									</small>
								</div>
								<div ng-if = "notif.request_noti_message == ''" >
									<small> Request with track number {{notif.TrackNo}} is for processing of {{notif.name}}. 
									</small>
								</div>
								<div ng-if = "notif.request_noti_message != ''">
									<small>
									{{notif.name}} : Request with track number {{notif.TrackNo}}
									</small><br/>
									<small>
									{{notif.request_noti_message}}
									</small>
								</div>
								<div>
									<small class = "text-muted" title = "{{notif.date}}">{{notif.date|timeago}}</small>
								</div>
							</a>
							<a ng-if = "notif.notifType == 'like'">like</a>
							<a ng-if = "notif.notifType == 'comment'">comment</a>
							<a ng-if = "notif.notifType == 'task'">task</a>
							<a ng-if = "notif.notifType == 'post'">post</a>
						</li>
					</ul>
					
					<ul ng-show = "notifCtrl.loading">
						<li class="list-item"><a><i class="fa fa-spinner fa-spin"></i> Loading...</a></li>
					</ul>
				</div>
				<a class="footer text-muted" target="_blank" href="/user_view/notifications">
					View all notifications
				</a>
			</li>
		</ul>
<!-- </div>


 -->


 -->