<!-- <div> -->
		<ul ng-controller = "LinkController as linkCtrl">
			<li>
				<div class="title text-muted">
					Links
				</div>
				<div class="list" perfect-scrollbar >
					<ul ng-show = "!linkCtrl.loading">
						<li ng-hide = "linkCtrl.linkCount" class="list-item"><a>No Links Found.</a></li>
						<li ng-show = "linkCtrl.linkCount" ng-repeat = 'link in linkCtrl.links' class="list-item"><a href = 'link.url'>{{link.title}}</a></li>
					</ul>
					<ul ng-show = "linkCtrl.loading">
						<li class="list-item"><a><i class="fa fa-spinner fa-spin"></i> Loading...</a></li>
					</ul>
				</div>
			</li>
		</ul>
<!-- </div>


 -->