 
  <theme-style></theme-style> 
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          <a class="navbar-brand" href="#">{{::company_info.name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a title="Links" popover-placement="auto bottom-center" popover-class="header-drop-down-menu"  popover-trigger="outsideClick" uib-popover-template="'../templates/dropdown-links.html'" popover-trigger='click'>
                      <i class="fa fa-link"></i>
              </a>
            </li>
            <li><a title="Groups" href="/user_view/groups"><i class="fa fa-group"></i></a></li>
            <li><a title="Notification" popover-placement="auto bottom-center" popover-class="header-drop-down-menu"  popover-trigger="outsideClick" uib-popover-template="'../templates/dropdown-notifications.html'" popover-trigger='click'>
                      <i class="fa fa-bell-o"></i>
              </a></li>
            <li><a href="/user_view/account-settings">{{::current_user.display_name}}  </a></li>
            <li><a class="user-image" popover-placement="auto bottom-left" popover-class="header-drop-down-menu"  popover-trigger="outsideClick" uib-popover-template="'../templates/dropdown-user-menu.html'" popover-trigger='click'><img class="img-circle" on-error-src="/images/avatar/small.png" src="{{::current_user.image_url}} "/></a></li>
          </ul>
        </div>
      </div>
    </nav>