
<div class="container-mod">
  <!--SideBar Template!!!!!! col-sm-3 col-md-2-->
  <ng-include src="'/modules/dashboard/templates/main-ui-announcement-svg.html'"> </ng-include>
  <div class=" sidebar navigation {{isNav?'sidebar-show':''}}">
    <div class="navigation-toggle" ng-click="(isNav?isNav=false:isNav=true);navigation()"><i class="fa fa-navicon"></i></div>
    <ul class="nav nav-sidebar">
      <li><a href="/modules/dashboard/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li ng-show="config.navigation" class="nav-item-navigation"><a href="#"><i class="fa {{(isNavLoaded?'fa-tasks':'fa-circle-o-notch fa-spin')}}"></i><span>Navigation</span></a></li>
      <li ng-show="config.my-requests"><a href="/user_view/my-requests"><i class="fa fa-file-text"></i> <span>My Requests</span></a></li>
      <li ng-if="configProp.gs3_insights.properties.visibility!=true && configProp.gs3_insights.properties.user == current_user.level">
        <a href="#"><i class="fa fa-line-chart"></i> <span>Insights</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.organizational_charts.create_organizational_chart"><a href="/user_view/organizational_chart">Create Organizational Chart</a></li>
          <li ng-show="config.organizational_charts.list_organizational_chart"><a href="/user_view/organizational_chart_list">Organizational Chart List</a></li>
        </ul>
      </li>
      <li ng-show="config.print_form"><a href="/user_view/print_form_list"><i class="fa fa-print"></i> <span>Print Form</span></a></li>
      <!-- Administrative tools -->
      <li ng-if="configProp.organizational_charts.properties.visibility!=true && configProp.organizational_charts.properties.user == current_user.level">
        <a href="#"><i class="fa fa-group"></i> <span>Organizational Charts</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.organizational_charts.create_organizational_chart"><a href="/user_view/organizational_chart">Create Organizational Chart</a></li>
          <li ng-show="config.organizational_charts.list_organizational_chart"><a href="/user_view/organizational_chart_list">Organizational Chart List</a></li>
        </ul>
      </li>
      <li ng-if="configProp.forms.properties.visibility!=true && configProp.forms.properties.user == current_user.level">
        <a href="#"><i class="fa fa-files-o"></i> <span>Forms</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.forms.create_forms"><a href="/user_view/formbuilder?formID=0" class="">Create Form</a></li>
          <li ng-show="config.forms.list_forms"><a href="/user_view/form_list" class="">Form List</a></li>
        </ul>
      </li>
      <li ng-if="configProp.workflows.properties.visibility!=true && configProp.workflows.properties.user == current_user.level">
        <a href="#"><i class="fa fa-print"></i><span>Workflows</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.workflows.create_workflow"><a href="/user_view/workflow" class="">Create Workflow</a></li>
          <li ng-show="config.workflows.list_workflow"><a href="/user_view/workflow_list" class="">Workflow List</a></li>
        </ul>
      </li>
      <li ng-if="configProp.reports.properties.visibility!=true && configProp.reports.properties.user == current_user.level">
        <a href="#"><i class="fa fa-file-text"></i> <span>Reports</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.reports.create_reports"><a href="/user_view/report" class="">Create Report</a></li>
          <li ng-show="config.reports.list_reports"><a href="/user_view/report_list" class="">Report List</a></li>
        </ul>
      </li>
      <li ng-if="configProp.administer.properties.visibility!=true && configProp.administer.properties.user == current_user.level">
        <a href="#"><i class="fa fa-gears"></i> <span>Administer</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.administer.app_configuration==1"><a href="/user_view/app_configuration" class="">Application Configuration</a></li>
          <li ng-show="config.administer.form_category==1"><a href="/user_view/form_category" class="">Form Category</a></li>
          <li ng-show="config.administer.group_settings==1"><a href="/user_view/group_settings" class="">Group Settings</a></li>
          <li ng-show="config.administer.nav_settings==1"><a href="/user_view/nav_settings" class="">Navigation Settings</a></li>
          <li ng-show="config.administer.position_settings==1"><a href="/user_view/position_settings" class="">Position Settings</a></li>
          <li ng-show="config.administer.rule_settings==1"><a href="/user_view/rule_settings" class="">Rule Settings</a></li>
          <li ng-show="config.administer.suggestion_box_list==1"><a href="/user_view/suggestions" class="">Suggestion List Box</a></li>
          <li ng-show="config.administer.user_settings==1"><a href="/user_view/user_settings" class="">User Settings</a></li>
          <li ng-show="config.administer.delegation==1"><a href="/user_view/delegate" class="">Delegation</a></li>
          <li ng-show="config.administer.external_database==1"><a href="/user_view/external_database" class="">External Database</a></li>
          <li ng-show="config.administer.link_maintenance==1"><a href="/user_view/link_maintenance" class="">Link Maintenance</a></li>
          <li ng-show="config.administer.system_logs==1"><a href="/user_view/user_settings" class="">System Logs</a></li>
        </ul>
      </li>
      <li ng-show="config.suggestion_box"><a href="#"><i class="fa fa-dropbox"></i> <span>Suggestion Box</span></a></li>
      <li ng-if='config.trash_bin!=0'><a href="#"><i class="fa fa-trash-o"></i> <span>Trash Bin</span></a></li>
    </ul>
  </div>
  <div class="dashboard-config {{isConfig?'dashboard-config-show':''}}">
    <div class="dashboard-config-toggle" ng-click="isConfig?isConfig=false:isConfig=true"><i class="fa fa-gear"></i></div>
    <div class="config-title"><span>Dashboard Configuration</span></div>
    <div class="config-containter">
      <div class="list-group">
        <a class="list-group-item" ng-click="addRemoveFeedWidget()">
        <span class="conf-item-control"><i class="fa fa-circle{{ShowFeed?'':'-o'}}"></i></span><label>Widget Feed</label>
        </a>
        <a  class="list-group-item" ng-click="addRemoveStarredWidget()">
        <span class="conf-item-control" ><i class="fa fa-circle{{ShowStarred?'':'-o'}}"></i></span><label>Widget Starred</a></label>
        <a  class="list-group-item">
        <span class="conf-item-control"><i class="fa fa-circle-o"></i></span><label>Widget My Request</a></label>
        <a  class="list-group-item"  ng-click="addWidget()">
        <span class="conf-item-control"><i class="fa fa-plus"></i></span><label>Widget Apps</a></label>
        <a  class="list-group-item" ng-click="openSelectViews()">
        <span class="conf-item-control"><i class="fa fa-plus"></i></span><label>Widget View</a></label>
        <a class="list-group-item"  ng-click="addWidgetGanttChart()">
        <span class="conf-item-control"><i class="fa fa-plus"></i></span><label>Widget Gantt Chart</label></a>
      </div>
      <div ng-if = "current_user.level == 'admin'"class="list-group">
        <a class="list-group-item">
        <span class="conf-item-control"></span><label>Edit Dashboard Templates</label>
        </a>
        <a ui-sref="createdesign()" ng-show = "!isDesignMode" class="list-group-item" >
        <span class="conf-item-control" ></span><label>Create Dashboard Template</a></label>
      </div>
    </div>
  </div>
  <div class="row row-offcanvas row-offcanvas-right">
    <!--  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      </div>  -->
    <!--BODY START-->
    <!-- <div> 
      <a class="btn btn-primary" ng-click="addWidget()" href="#">Add Widget</a>
      </div> -->
    <!--  {{widgets}} -->
    <div class="layout-controls text-muted">
      <!--   <span ng-switch-when = "false" ng-click = "editLayout()" >Edit</span> -->
      <span  ng-if="isChanged && !isDesignMode" ng-click ="saveLayout()" >Save</span>
      <span  ng-if="isDesignMode" ng-click ="saveTemplate()" >Save Template</span>
      <!-- <span ng-click="navigation()">Navigation</span> -->
      <!--   <span ng-switch-when = "true" ng-click = "cancelEditLayout()" >Cancel</span> -->
    </div>
    <div gridstack class="grid-stack grid1" on-drag-stop="onDragStop(event,ui)" on-resize-stop="onResizeStop(event,ui)" options="options">
      <div gridstack-item ng-repeat="w in widgets track by w.id" ng-switch="w.type" id="w.id" data-id="w.id" data-type="w.type" data-gs-min-height="3" data-gs-min-width="3" ng-animate="'animate'" class="grid-stack-item repeated-item"  gs-item-x="w.x" gs-item-y="w.y"
        gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="0" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
        <!-- APPS Widget-->
        
        <widget-apps ng-switch-when="widgetApps" data-app-id="{{::w.id}}" remove-widget="removeWidget(w)" class="grid-stack-item-content">
          <a class="btn btn-danger pull-right remove-widget"  ng-click="removeWidget(w)" href="#">X</a>
        </widget-apps>
        <!-- Gantt Chart Widget -->
        <widget-gantt-chart ng-switch-when="widgetGanttChart" data-app-id="{{::w.id}}" remove-widget="removeWidget(w)" class="grid-stack-item-content" parent="w">
        </widget-gantt-chart>
        <!-- Feeds Widget-->
        <widget-feeds ng-switch-when="widgetFeeds"  view-type='{{viewType}}' remove-widget="removeWidget(w)" class="grid-stack-item-content">
          <!--  <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a> -->
        </widget-feeds>
        <!-- View Widget-->
        <widget-view ng-switch-when="widgetView" parent="w" remove-widget="removeWidget(w)" on-resize-stop="onResizeStop(event,ui)" class="grid-stack-item-content">
          <!--   <div class="ibox-title">
            <h5>
              <span>{{w.object_form_name}}</span>
            </h5> 
            <div class="pull-right">
              <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
            </div>
            </div>
            <div class="container-fluid ibox-content scrollable">
            
            </div> -->
          <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
        </widget-view>
        <!-- View Starred-->
        <widget-starred ng-switch-when="widgetStarred" parent="w" remove-widget="removeWidget(w)" on-resize-stop="onResizeStop(event,ui)" class="grid-stack-item-content">
          <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
        </widget-starred>
        <!-- Empty-->
        <div ng-switch-when="undefined" class="grid-stack-item-content">
          <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
        </div>
      </div>
    </div>
    <!--BODY END-->
    <!-- <widget-apps></widget-apps> -->
  </div>
</div>