<div class="modal-header">
    <h3 class="modal-title">Select Views</h3>
</div>
<div class="modal-body">
    <input type="text" class="form-control" ng-model="search.display_name" placeholder="Search">
<div class="list">
    <div class="checkbox repeated-item" ng-repeat="v in views | filter:search">
      <label>
        <input type="checkbox" ng-model="v.selected" value="">
        {{v.display_name}}
      </label>
    </div>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>