<!-- <i class="fa fa-circle-o-notch fa-spin" ng-show="node.busy"></i> -->
<i class="fa fa-smile-o"></i>
<!-- <i class="fa {{(node.user_mood == null?'fa-smile-o':'')}}">

		
	<svg ng-repeat="mood in moods" title="{{mood.text}}" ng-show="mood.text==node.user_mood" class="icon-svg icon-svg-announcement btn-mood-icon {{mood.icon}} tip" viewBox="0 -10 100.264 100.597">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#' + mood.icon}}"></use>
 	</svg>
			            	
</i>  -->
										
<!-- <span ng-if="getMoodCount()>0">
	{{getMoodCount()}} 
</span>  -->Moods