



<!-- <div  ng-controller = "WidgetAppsController"> -->
	<div class="ibox-title">
        <h5 ng-switch="widgetApps.isSortable">
        	<input ng-switch-when = "true" class="widget-app-name" placeholder="Enter text here." type = "text" ng-model = "widgetApps.name"></input>
        	<span ng-switch-when = "false">{{widgetApps.name}}</span>
        </h5> <!-- <div loading></div>TESTTTT -->
        <div ng-switch="widgetApps.isSortable" class = "widget-apps-heading-actions">
        	<a ng-switch-when = "false" ng-click = "widgetApps.toggle(false)" class="btn btn-white" title="Edit">
        		Edit <!-- <i class="fa fa-edit"></i> -->
        	</a>
        	<a ng-switch-when = "true" ng-click = "widgetApps.toggle(true)" class="btn btn-white" title="Save">
        		Save
        	</a>
        	<a ng-switch-when = "true" ng-click = "widgetApps.toggle(false)" class="btn btn-white" title="Cancel">
        		Cancel
        	</a>

        	<a class="btn remove-widget" ng-click="removeWidget()" title="Remove"><i class="fa fa-close"></i></a>
					<!-- <span ng-switch-when = "false" ng-click = "widgetApps.toggle(false)" >Edit</span> -->
				<!-- 	<span ng-switch-when = "true" ng-click = "widgetApps.toggle(true)" >Save</span>
					<span ng-switch-when = "true" ng-click = "widgetApps.toggle(false)" >Cancel</span> -->
					<!-- <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a> -->
		</div>       
    </div>
	<div class="container-fluid widget-apps-main-container ibox-content scrollable">
			<div as-sortable="sortableOptions" class = "row" ng-model="widgetApps.data" id="sortable-container" is-disabled = "!widgetApps.isSortable" >
				
				<div ng-repeat = "datum in widgetApps.data" as-sortable-item class="ui-app-shortcut repeated-item">
					<div data-as-sortable-item-handle>
						<div class="widget-apps-icon-container">
							<svg class= "widget-apps-icon" viewBox="-1 -1 91.264 90.597">                
		                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{datum.portal_icon}}">
		                        </use>
		                     </svg>
		                     <div class= "widget-apps-action-container" ng-switch="widgetApps.isSortable">
		                     	<div ng-switch-when="false" class="widget-apps-action-set">
					    			<a target="_blank" class="widget-apps-action widget-app-action-create" href="/user_view/workspace?view_type=request&formID={{datum.form_id}}&requestID=0" title="Create New {{datum.form_name}}">
					    				<i class="fa fa-file"></i>
					    				
					    			</a>
					    			<a target="_blank"class="widget-apps-action widget-app-action-view" href="/user_view/application?id= {{datum.form_id_encrypted}}" title="View Requests">
					    				<i class="fa fa-search"></i>
					    			</a>
				    			</div>
				    			<div ng-switch-when="true" class="widget-apps-action-set">
				    				
					    			<a target="_blank"class="widget-apps-action widget-app-action-remove" ng-if = "datum.user_preference_visible" ng-click = "widgetApps.removeFromPreferences($index)">
					    				<i class="fa fa-circle"></i>
					    			</a>
					    			<a target="_blank"class="widget-apps-action widget-app-action-add" ng-if = "!datum.user_preference_visible" ng-click = "widgetApps.addToPreferences($index)">
					    				<i class="fa fa-circle-o"></i>
					    			</a>
					    			
				    			</div>
			    			</div>
		                </div>
						<div ng-show="widgetApps.data.length == 0 && widgetApps.isSortable"></div>
		    			<div class="widget-apps-label">{{datum.form_name}}</div>
			    	
		    		</div>
		    	</div>
		    	<center><div ng-show="widgetApps.data.length ==0 && widgetApps.isSortable">No application available</div></center>
			</div>
		<!-- </div> -->
<!-- 	</div>  -->
</div>