<div class="list-group">
    <button type="button" class="list-group-item" ng-click="editPost(post)"><i class="fa fa-edit"></i>  Edit</button>
    <button type="button" class="list-group-item" ng-click="removePost(post)"><i class="fa fa-close"></i>  Remove</button>
</div>