



<!-- <div  ng-controller = "WidgetAppsController"> -->

	<div class="ibox-title">
        <h5>
        	My Requests
        </h5> 
        <input ng-model = "searchText" type = "text" placeHolder = "Search">
		</input>
    </div>

	<div class="ibox-content scrollable">
		<div class = "row" ng-model="request" style= "padding: 200px">
			<div ng-repeat = "request in requests | filter: searchText">
				<a target="_blank" href="/user_view/workspace?view_type=request&formID={{request.form_id}}&requestID={{request.request_id}}">
					<strong  class="list-header">
						{{request.TrackNo}}
					</strong>
					<div class = "list-body">
						<small>{{request.category_name}} -</small>
						<small>{{request.form_name}} -</small>
						<small>{{request.Status}} -</span>
						<small>{{request.DateCreated}}</small>
						<span></span>
					</div>
				</a>
	    	</div>
			<div ng-show="!(requests | filter: searchText).length">
				No Results Found.
			</div>
		</div>
	</div>


	<style>
		

		
	</style>