<div class="ibox-title create-feed " slide-toggle="#widget-feed-container">
        <div class="pull-left">
        	<h5 ng-if="!isCreatingPost" class="ibox-title-text">Feeds</h5>
        	<a ng-if="isCreatingPost" ng-click="Post()" class="btn btn-white" title="Post">
        		Post
        	</a>
        </div>

        <div class="pull-right">
        	<a ng-if="!isCreatingPost" class="btn btn-white" ng-click="isCreatingPostF(true)" title="Create Post">
        		<i class="fa fa-edit"></i>
        	</a>
        	<a ng-if="isCreatingPost" class="btn btn-white btn-create-feed-cancel" ng-click="isCreatingPostF(false)" title="Cancel">
        		Cancel
        	</a>
        </div>


</div>


		<div class="feed-body">	
        	<div contenteditable="true" id="feedBodytext" class="feed-body-text" placeholder="What's on your mind?">	</div>
        	<div class="feed-body-images" id="feed-body-images"></div>

        	<ul ng-hide="postType!='Survey'" class="feed-survey-responses" id="feedSurveyResponses">
        		<small class="text-muted "><input type="checkbox" class="form-control">allow multiple response</small>	
        		<li ng-repeat="resp in postSurveyResponses" class="input-group input-group-sm" >
        			<input type="text" class="form-control input-survey-option" ng-focus="addNewResponse($last)" placeholder="Add an option..." ng-model="resp.text"/>
        		</li>
        	</ul>
        </div>
        


        <div class="widget-feed-tools">
        	<div class="section pull-left">
	        	<a class="btn btn-xs btn-white text-muted" upload-image title="Upload images">
	        		<i class="fa fa-camera"></i>
	        	</a>
	        	<input id="image-browse" type="file" accept="image/*" multiple ng-hide="true">
	        	<select ng-model="postType" class="form-control widget-feed-post-type">
				    <option selected>Announcement</option>
				    <option>Survey</option>
			  	</select>
        	</div>

        	<div class="section pull-right">
	       <!--  	<a class="btn btn-xs btn-white text-muted" title="Post">
	        		<i class="fa fa-check"></i> 
	        	</a>
	        	<a class="btn btn-xs btn-white btn-create-feed-cancel text-muted" title="Cancel">
	        		<i class="fa fa-close"></i> 
	        	</a> -->
       	 	</div>
        </div>
	

<div class="container-fluid widget-feeds-main-container ibox-content ui-widget-feed" data-feed-creating="{{isCreatingPost}}" class="slideable" id="widget-feed-container">

			<div class="feed-content feed-activity-list"  infinite-scroll='posts.loadMore();'  infinite-scroll-parent="true">
					<div class="feed-element repeated-item" ng-repeat="n in posts.posts" data-post-id="{{n.id}}" ng-switch="{{n.type}}">
						
					</div>
				<center style="margin-bottom:10px;">
					<h5 ng-if="posts.busy"><i class="fa fa-spinner fa-spin"></i> Loading...</h5>
				</center>
			</div>
	</div>