<div class="ibox-title">
	<div class="pull-left">
  <h5>
    <span>{{::view.parent.object_form_name}}</span>
    <span class="text-muted" ng-show="view.busy">&nbsp&nbsp&nbsp&nbsp<i class="fa fa-spinner fa-spin "></i> Saving action...</span>
  </h5> <!-- <div loading></div>TESTTTT -->
  </div>
  <div class="pull-right">
  	<a class="btn" title="Import" ng-click="view.showImport?view.showImport=false:view.showImport=true"><i class="fa fa-download"></i></a>
    <a class="btn remove-widget" ng-click="view.removeWidget(view.parent)" title="Unpin View"><i class="fa fa-thumb-tack"></i></a>
  </div>
</div>
<div class="container-fluid ibox-content scrollable">
		
		<div class="row datatable-form-actions">

		        <a ng-href="/user_view/workspace?view_type=request&formID={{::view.parent.object_id}}&requestID=0" target="_blank" type="button" class="btn btn-info view-form-action">
		            {{view.vDetails.workspace_buttonName==null?'Create Request':view.vDetails.workspace_buttonName}}
		        </a>
		       <!--  <button ng-click="showCase.dtInstance.changeData(showCase.newPromise)" type="button" class="btn btn-info">
		            Import
		        </button> -->
		        <button ng-click="view.reloadData()" type="button" class="btn btn-info view-form-action">
		            Refresh View
		        </button>
		       
		        <select ng-show="view.actionButtons.length>0" ng-model="view.selectedAction" class="form-control view-form-action">
				    <option value="" disabled selected>Select action</option>
				    <option ng-repeat="actb in view.actionButtons" value="{{actb.button_name}}">{{actb.button_name}}</option>
				</select>
				<!-- <div class="pull-right"><a href="">Action</a></div> -->
	    		

	    </div>
		<table datatable="" dt-options="view.dtOptions" dt-instance="view.dtInstance" dt-columns="view.dtColumns" class="table table-striped table-bordered table-hover">
		 <!--    <thead>
		    <tr>
		        <th>ID</th>
		        <th>First name</th>
		        <th>Last name</th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr>
		        <td>1</td>
		        <td>Foo</td>
		        <td>Bar</td>
		    </tr>
		    <tr>
		        <td>123</td>
		        <td>Someone</td>
		        <td>Youknow</td>
		    </tr>
		    <tr>
		        <td>987</td>
		        <td>Iamout</td>
		        <td>Ofinspiration</td>
		    </tr>
		    </tbody> -->
		</table>
</div>

<div class="ibox-content scrollable widget-view-import {{view.showImport?'wvi-show':''}}">
	<div class="wvi-dropzone ">
		<h3 class="text-muted">Drag and Drop file here.</h3>
		<h5 class="text-muted">(Sorry this is not yet functional)</h5><!-- or click this box to select a file.  -->
	</div>
	<div class="pull-left">
		<a ng-href="/ajax/request_import_template?form_id={{::view.parent.object_id}}">Download Template</a>
	</div>

	<div class="pull-right">
		<input type="button" class="btn btn-info" value="Import"/>
		
	</div>
	<div class="clearfix"></div>
	<!-- <input type="button" class="btn btn-primary" value="Import"/> -->
	<!-- <div>asdasd</div> -->
<!-- 	<div class="checkbox">
		  <label><input type="checkbox" value="">Validate Existing Document(s)</label>
		</div> -->

</div>


<!-- <div class="container-fluid ibox-content scrollable" ng-show="view.isLoadingWidget">
	<center><img ng-src="/images/dashboard/hex-loader2.gif"></img><p><h2 class="text-muted">Loading...</h2></p></center>
</div> -->