<div>
		<div class="widget-feed-moods" ng-click="setMood(mood, post, comment)" ng-repeat="mood in moods" title="{{mood.text}}">
           <svg class="icon-svg icon-svg-announcement  {{mood.icon}} svg-mood-icon-select tip" viewBox="0 0 100.264 100.597">
	            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#'+mood.icon}}"></use>
	            </svg>

	    </div>	
</div>


