<div class="ibox-title create-feed " slide-toggle="#widget-feed-container">
	<!-- Feeds -->
		
        <div class="pull-left" ng-show="viewType=='Feeds'">
        	<h5 ng-if="!isCreatingPost" class="ibox-title-text">Feeds</h5>
        	<a ng-if="isCreatingPost" ng-click="Post()" class="btn btn-white" title="Post">
        		Post
        	</a>
        	<span ng-show="isCreatingPostBusy" class="text-muted">&nbsp<i class="fa fa-circle-o-notch fa-spin"></i></span>
        </div>

        <div class="pull-right" ng-show="viewType=='Feeds'">

        	<a ng-if="!isCreatingPost" class="btn feed-header-action btn-white" ng-click="refresh()" title="Refresh">
        		<i class="fa fa-refresh"></i>
        	</a>
        	<a ng-if="!isCreatingPost" class="btn feed-header-action btn-white" ng-click="isCreatingPostF(true)" title="Create Post">
        		<i class="fa fa-edit"></i>
        	</a>
        	<a ng-if="isCreatingPost" class="btn feed-header-action btn-white btn-create-feed-cancel" ng-click="isCreatingPostF(false)" title="Cancel">
        		Cancel
        	</a>
        </div>
        <!-- Comments -->
         <div class="pull-left" ng-show="viewType=='Comments'">
        	<a class="btn btn-white" ng-click="viewType='Feeds'" title="Create Post">
        		<i class="fa fa-chevron-left"></i>
        	</a>
        </div>

        <div class="pull-right" ng-show="viewType=='Comments'">
        	
        	<!-- <a ng-if="isCreatingPost" class="btn btn-white btn-create-feed-cancel" ng-click="isCreatingPostF(false)" title="Cancel">
        		Cancel
        	</a> -->

        </div>

         <!-- Moods -->
         <div class="pull-left" ng-show="viewType=='Moods'">
        	<a class="btn btn-white" ng-click="viewType='Feeds'" title="Create Post">
        		<i class="fa fa-chevron-left"></i>
        	</a>
        </div>

        <div class="pull-right" ng-show="viewType=='Moods'">
        	Moods
        	<!-- <a ng-if="isCreatingPost" class="btn btn-white btn-create-feed-cancel" ng-click="isCreatingPostF(false)" title="Cancel">
        		Cancel
        	</a> -->
        </div>


</div>

		
		<div class="feed-body">	
			<!-- Readers Here -->
			<script type="text/ng-template" id="my-custom-template">
			<div class="feed-name-selection">
		      <div class="left-panel pull-left">
		        <img class="img-circle" ng-src="{{data.image}}" />
		      </div>
		      <div class="right-panel media-body">
		        <span ng-bind-html="$highlight($getDisplayText())"></span>
		       <!--  <span>({{data.id}})</span> -->
		        <!-- <span>{{data.text}}</span> -->
		      </div>
		  </div>
		    </script>


			<tags-input ng-model="followers" placeholder="Add a reader" add-from-autocomplete-only="true" key-property="id" replace-spaces-with-dashes=false visibility-type="{{postVisibilityType}}" class="feed-readers">
				<auto-complete source="loadNames($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="false"
                     max-results-to-show="5"
                     debounce-delay="200"
                     template="my-custom-template"></auto-complete>
				<!-- <span class="text-muted">Readers</span> -->
			</tags-input>
			<div class="feed-header-user-info feed-element">
					<a class="pull-left">
						<img class="img-circle author-image" on-error-src="/images/avatar/small.png" ng-src="{{current_user.image_url}}"/>
					</a> 


					<div class="media-body section" >

					  <!--   <small class="pull-right text-muted">{{post.date_posted|timeago}}</small> -->
					    
					    <strong>{{current_user.display_name}}</strong>
						<small class="text-muted"> post a</small>
						<select ng-model="postType" class="form-control widget-feed-post-type">
						    <option selected>Announcement</option>
						    <option >Survey</option>
					  	</select>
						<br> <!-- posted a new blog. -->

					    <small class="section text-muted"> 
					    	 <!-- <i class="fa fa-building"></i> -->
					    	<select ng-model="postVisibilityType" class="form-control widget-feed-post-visibility-type">
							    <option value='2' selected>Company</option>
							    <option value='3'>Custom</option>
						  	</select>
					    </small>
					</div>
			</div>
			<!-- {{tags}}	 -->
        	<div contenteditable="true" id="feedBodytext" ng-model="feedBodyText" class="feed-body-text" placeholder="What's on your mind?">
        	</div>
        	<div class="feed-body-images" id="feed-body-images"></div>

        	<ul ng-hide="postType!='Survey'" class="feed-survey-responses" id="feedSurveyResponses">
        		<!-- <small class="text-muted "><input type="checkbox" class="form-control" /> allow multiple response</small>	 -->
        		<div class="checkbox">

        			<label>
        				<small>
        					<input type="checkbox" ng-model="multipleResponse">allow multiple response
        				</small>
        			</label>
        			
        		</div>
        		<li ng-repeat="resp in postSurveyResponses" class="input-group input-group-sm" >
        			<input type="text" class="form-control input-survey-option" ng-focus="addNewResponse($last)" placeholder="Add an option..." ng-model="resp.text"/>
        		</li>
        	</ul>
        </div>
        


        <div class="widget-feed-tools">
        	<div class="section pull-left">
	        	<a class="btn btn-xs btn-white text-muted" upload-image title="Upload images">
	        		<i class="fa fa-camera"></i>
	        	</a>
	        	<input id="image-browse" type="file" accept="image/*" multiple ng-hide="true">
	        	<!-- <select ng-model="postType" class="form-control widget-feed-post-type">
				    <option selected>Announcement</option>
				    <option>Survey</option>
			  	</select> -->
        	</div>

        	<div class="section pull-right">
        		<!-- <a class="btn btn-xs btn-white text-muted" upload-image title="Company">
	        		<i class="fa fa-building"></i>
	        	</a> -->
	        <!-- 	<a class="btn btn-xs btn-white text-muted" upload-image title="Custom">
	        		<i class="fa fa-users"></i>
	        	</a> -->
        		<!-- <select ng-model="postVisibilityType" class="form-control widget-feed-post-visibility-type">
				    <option selected> <i class="fa fa-building"></i> Company</option>
				    <option> <i class="fa fa-users"></i> Custom</option>
			  	</select> -->
	       <!--  	<a class="btn btn-xs btn-white text-muted" title="Post">
	        		<i class="fa fa-check"></i> 
	        	</a>
	        	<a class="btn btn-xs btn-white btn-create-feed-cancel text-muted" title="Cancel">
	        		<i class="fa fa-close"></i> 
	        	</a> -->
       	 	</div>
        </div>
	
<!-- Feeds -->
<div class="container-fluid widget-feeds-main-container ibox-content ui-widget-feed slideable" data-feed-creating="{{isCreatingPost}}"  id="widget-feed-container">
			<div class="feed-content feed-activity-list"  infinite-scroll='posts.loadMore();'  infinite-scroll-parent="true">
					<!-- widget-feed-post post='n' -->
				<div widget-feed-post  class="feed-element repeated-item" post='post' posts='posts' ng-repeat="post in posts.posts track by post.id"  data-post-id="{{post.id}}" ng-switch="{{post.type}}">
					
				</div>

				
				<center style="margin-bottom:10px;">
					<h5 ng-if="posts.busy"><i class="fa fa-spinner fa-spin"></i> Loading...</h5>
				</center>
			</div>
	</div>


<!-- Comments -->

	<div  class="container-fluid  widget-feeds-main-container ibox-content widget-feed-container ui-widget-feed widget-feed-container-viewer  slideable"  data-feed-creating="{{isCreatingPost}}" id="widget-feed-container-comment-viewer">
			<div class="feed-content feed-activity-list">
				<div widget-feed-post  class="feed-element repeated-item" post='post' posts='posts' ng-repeat="post in PostCommentViewer track by post.id"  data-post-id="{{post.id}}" ng-switch="{{post.type}}">
					
				</div> 

				
				<center style="margin-bottom:10px;">
					<h5 ng-if="posts.busy"><i class="fa fa-spinner fa-spin"></i> Loading...</h5>
				</center>
			</div>
	</div>
<!-- moods -->
	<div  class="container-fluid widget-feeds-main-container ibox-content widget-feed-container ui-widget-feed widget-feed-container-viewer  slideable"  data-feed-creating="{{isCreatingPost}}" id="widget-feed-container-mood-viewer">
			<div class="feed-content feed-activity-list">
				
				<div class="user-moods-item" ng-repeat="um in tempMoods">
					<a class="pull-left">
						<img class="img-circle feed-author-image" ng-src="{{um.image_url}}"/>
					</a> 
								
								<div class="media-body">
									<strong>{{um.display_name}}</strong>
					<a class="pull-right">
							<svg ng-repeat="mood in moods" title="{{mood.text}}" ng-show="mood.text==um.mood" class="icon-svg icon-svg-announcement {{mood.icon}} svg-mood-icon-select tip " viewBox="0 -10 100.264 100.597">
			            		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="{{'#' + mood.icon}}"></use>
			            	</svg>
					</a>
								
				</div>
			</div>
				<center style="margin-bottom:10px;">
					<h5 ng-if="tempMoods.length==0"><i class="fa fa-spinner fa-spin"></i> Loading...</h5>
				</center>
				<center style="margin-bottom:10px;">
					<h5 ng-if="tempMoods==undefined">No results</h5>
				</center>
				
			</div>
	</div>

	<!-- MOODS -->
 <!-- 	<script type="text/ng-template" id="postOptions.html">

		<div class="list-group">
		  <button type="button" class="list-group-item"><i class="fa fa-edit"></i>  Edit</button>
		  <button type="button" class="list-group-item"><i class="fa fa-close"></i>  Remove</button>
		</div>
    </script> 
    -->