<div class="ibox-title">
	<div class="pull-left">
  <h5>
    <span>{{title}}</span>
    <!-- <span class="text-muted" ng-show="view.busy">&nbsp&nbsp&nbsp&nbsp<i class="fa fa-spinner fa-spin "></i> Saving action...</span> -->
  </h5> 
  </div>
  <div class="pull-right">
  	
  </div>
</div>
<div class="container-fluid ibox-content scrollable">
		<canvas id="pie" class="chart chart-doughnut" width="100%" height="100%"
  chart-data="data" chart-labels="labels" chart-options="options" chart-legend="true" chart-colors="colors">
</canvas> 
		
</div>
