<a class="pull-left">
						<img class="img-circle" ng-src="{{post.author_image_url}}"/>
					</a> 


					<div class="media-body" >

					  <!--   <small class="pull-right text-muted">{{post.date_posted|timeago}}</small> -->
					    
					    <strong>{{post.author_display_name}}</strong>
						<small class="text-muted" ng-if="post.type==1">posted an Announcement.</small>
						<small class="text-muted" ng-if="post.type==2">posted a Survey.</small>
						<span ng-show="post.busy" class="text-muted">&nbsp<i class="fa fa-circle-o-notch fa-spin"></i></span>
						<!-- POST OPTION -->
						<small class="pull-right">
							<a ng-if="post.author_id == current_user.id" class="btn btn-white btn-xs btn-post-option" popover-placement="bottom-right" popover-class="feed-post-options" outside-click uib-popover-template="'../templates/widget-feeds-option.html'" popover-trigger='click'>
					        	<i class="fa fa-chevron-down"/>
					        </a>
					    </small>
						<br> <!-- posted a new blog. -->

					    <small ng-switch="{{post.visibility_type_id}}" class="text-muted" title="{{post.date_posted}}"> {{post.date_posted|timeago}} &nbsp
					    	<i class="fa fa-building" ng-switch-when="2"></i>
							<i class="fa fa-users" ng-switch-when="3"></i>
					    </small>
					</div>
						<!-- Post Content -->

					<div class="post-body">
						<div class="post-content" ng-bind-html="post.announcement"  ng-if="post.type==1"></div>
						<div class="post-content" ng-bind-html="post.survey_question"  ng-if="post.type==2"></div>

						<div class="post-image-view {{'post-image-'+ (post.images.length>4? 'more':post.images.length)}}">
							<div ng-repeat="src in post.images"  style="background-image: url({{src}});"  > 
								<a href="{{src}}" target="_blank"></a><!-- <img ng-src="{{src}}"/>  -->
							</div>
						</div>
						
						<ul ng-switch-when="2" class="survey_responses" ng-show="post.survey_my_responses==null || post.is_survey_edit">
							<li ng-repeat="resp in post.survey_selectable_responses" class="survey_response_item repeated-item">
								<div  class="{{post.enable_multiple_responses==0?'radio':'checkbox'}}" >
								  <label>
									<!-- checked="{{(post.survey_my_responses.indexOf(resp.id)>=0?resp.ischecked=true:resp.ischecked=false)}}" -->
								  	<input ng-if="post.enable_multiple_responses==0" type="radio" ng-model="post.Response" name="{{resp.survey_id + '_response'}}"  value="{{resp.id}}">
								  	<input ng-if="post.enable_multiple_responses!=0" type="checkbox" ng-model="resp.ischecked" name="{{resp.survey_id + '_response'}}"  value="{{resp.id}}">
								  	{{resp.text}}</label>
								</div>
							</li>
						</ul>
						<ul ng-switch-when="2" widget-feeds-survey-results class="survey_responses" ng-if="post.survey_my_responses!=null && !post.is_survey_edit">	
						</ul>

						<!-- Details -->

						<div class="feed-details" ng-show="post.comment_count>0 || getMoodCount(post)>0">
							<div class="pull-left" >
								<small title="See other's mood" class="text-muted feed-moods-details" ng-show="getMoodCount(post)>0" ng-click="moodsPreview(post)">
									<!-- ng-show="mood.text==post.user_mood" -->
									<span class="feed-moods-details-icons">
<!-- 	 -->
										<svg ng-repeat="mood in moods" title="{{mood.text}}" ng-show="post[mood.property_count]>0||post.user_mood==mood.text"  class="icon-svg icon-svg-announcement btn-mood-icon {{mood.icon}} tip" viewBox="0 -10 100.264 100.597">
											<use xmlns:xlink="http://www.w3.org/1999/xlink"  xlink:href="" ng-href="{{'#' + mood.icon}}" ></use>
											
									 	</svg>
								 	</span>
								 	<span class="feed-moods-details-count">{{getMoodCount(post)}}</span>
							 	</small>
							</div>

							<div class="pull-right">
								<small class="text-muted feed-comment-details" title="View comments" ng-show="post.comment_count>0" ng-click="post.comments.length==0||post.comments==undefined?commentsPreview(post,3):commentsPreview(post,0)">{{post.comment_count}} Comments </small>

							</div>
						</div>


						<!-- TOOLS -->
						<div class="feed-tools">
							<div class="pull-right">
								<!-- <widget-feeds-moods>

								</widget-feeds-moods> -->
								<a moods='moods' node='post' class="btn btn-xs btn-white text-muted btn-mood" popover-append-to-body="'.container'" popover-class='widget-mood' outside-click popover-append-to-body='appendToBody' uib-popover-template="'../templates/widget-moods.html'" popover-trigger='outsideClick'>
										
									<i class="fa fa-smile-o"></i> Moods
										<!-- <i class="fa {{(post.user_mood == null?'fa-smile-o':'')}}">
											<svg ng-repeat="mood in moods" title="{{mood.text}}" ng-show="mood.text==post.user_mood" class="icon-svg icon-svg-announcement btn-mood-icon {{mood.icon}} tip" viewBox="0 -10 100.264 100.597">
							            		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#' + mood.icon}}"></use>
							            	</svg>
							            	
										</i> 
										
										<span ng-if="getMoodCount(post)>0">
											{{getMoodCount(post)}} 
										</span> Moods -->
								</a>

							

								<a class="btn btn-xs btn-white text-muted" ng-click="post.comments.length==0||post.comments==undefined?commentsPreview(post,3):commentsPreview(post,0)" title="Comments"><i class="fa fa-comment"></i> <!-- <span ng-if="post.comment_count>0">{{post.comment_count}}</span>  -->Comment</a>
							</div>

							<div class="feed-post-additional-tools" ng-show="post.type == 2">
								<a ng-show="post.survey_my_responses!=null && !post.is_survey_edit" ng-click="editSurvey(post)" class="btn btn-xs btn-white text-muted" title="Edit"><i class="fa fa-pencil"></i> Edit</a>

								<a ng-show="post.survey_my_responses==null || post.is_survey_edit" ng-click="submitSurvey(post)" class="btn btn-xs btn-white text-muted" title="Submit survey"><i class="fa fa-check"></i> Submit</a>
							</div>
						</div>
					</div>

					<!-- COMMENTS -->
					<div ng-show="post.isCommenting" class='feed-comment-body'>
						<div ng-hide="post.comments.length==post.comment_count" class="feed-comment-load-more">
							<a href="#" ng-click="posts.fetchPostComment(post,3)">View previous comments</a>
							<div class="pull-right text-muted">{{post.comments.length}} of {{post.comment_count}}</div>
						</div>
						<div class="feed-comment-list">
							<div class="feed-comment-item repeated-item" ng-repeat="comment in post.comments | orderBy:'-'">
								<a class="pull-left">
									<img class="img-circle feed-author-image" ng-src="{{comment.author_image_url}}"/>
								</a> 
								<div class="pull-right">
										<a ng-show="comment.author_id==current_user.id" class="btn btn-xs btn-white btn-remove-comment text-muted" title="Delete">
											<i class="fa fa-close"></i>
										</a>
									</div>
								<div class="media-body">
									<strong>{{comment.author_display_name}}</strong>
									<span ng-show="comment.id==null" class="text-muted">
										&nbsp
										<i class="fa fa-circle-o-notch fa-spin"></i>
									</span>
									<p>
										{{comment.text_content}}
									</p>


						<div class="feed-details" ng-show="getMoodCount(comment)>0">
							<div class="pull-left" >
								<small title="See other's mood" class="text-muted feed-moods-details" ng-show="getMoodCount(comment)>0" ng-click="moodsPreview(comment)">
									<!-- ng-show="mood.text==post.user_mood" -->
									<span class="feed-moods-details-icons">
<!-- 	 -->
										<svg ng-repeat="mood in moods" title="{{mood.text}}" ng-show="comment[mood.property_count]>0||comment.user_mood==mood.text"  class="icon-svg icon-svg-announcement btn-mood-icon {{mood.icon}} tip" viewBox="0 -10 100.264 100.597">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-href="{{'#' + mood.icon}}"></use>
											
									 	</svg>
								 	</span>
								 	<span class="feed-moods-details-count">{{getMoodCount(comment)}}</span>

							 	</small>
							</div>

						
						</div>

									<small class="text-muted" title="{{comment.date_posted}}">
										{{comment.date_posted|timeago}}</small>	


									<a moods='moods' node='comment' ng-hide="comment.id==null" class="btn btn-xs btn-white text-muted btn-mood" popover-append-to-body="'.container'" popover-class='widget-mood' outside-click popover-append-to-body='appendToBody' uib-popover-template="'../templates/widget-moods.html'" popover-trigger='outsideClick'>
										<i class="fa fa-smile-o"></i> Moods
										<!-- <i class="fa fa-circle-o-notch fa-spin" ng-show="comment.busy"></i>
										<i class="fa {{(comment.user_mood == null?'fa-smile-o':'')}}">

												
											<svg ng-repeat="mood in moods" title="{{mood.text}}" ng-show="mood.text==comment.user_mood" class="icon-svg icon-svg-announcement btn-mood-icon {{mood.icon}} tip" viewBox="0 -10 100.264 100.597">
							            		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{'#' + mood.icon}}"></use>
							            	</svg>
							            	
										</i> 
										
										<span ng-if="getMoodCount(comment)>0">
											{{getMoodCount(comment)}} 
										</span> Moods -->
								</a>


									<!-- <a ng-hide="comment.id==null" class="btn btn-xs btn-white text-muted" outside-click popover-append-to-body="'.container'" popover-class='widget-mood' uib-popover-template="'../templates/widget-moods.html'" popover-trigger='outsideClick' title="Moods">
										<i class="fa fa-smile-o"></i> 
										<span ng-if="post.moods_count>0">
											{{post.moods_count}} 
										</span> Moods
									</a> -->
									
								</div>
							</div>
						</div> 

						<div class="feed-comment-create">
							<a class="pull-left">
								<img class="img-circle feed-author-image" ng-src="{{current_user.image_url}}"/>
							</a> 
							
							<div class="media-body">
								<div contenteditable=true ng-model="commentText" ng-enter="createComment(commentText)" class="feed-comment-create-text" placeholder="Write a comment..."></div>
							</div>
						</div>
					</div>