
	<li ng-repeat="resp in post.survey_results | filter : {Option:'!!'}" title="{{resp.Count}} Votes" class="survey_response_item repeated-item">
		
		<span class="response-text" >
			{{resp.Option}} <!-- <span> - {{post.survey_results_total}} Votes</span> -->
			<div class="progress">
				<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="10" style="width:{{((resp.Count / post.survey_results_total) *100) + '%'}}">
			    	<span class="sr-only">200 Votes</span>
			 	</div>
			 </div>
		 </span>
	</li>
