



<!-- <div  ng-controller = "WidgetAppsController"> -->

	<div class="ibox-title">
        <h5 style= "padding: 10px">
        	My Pinned Reports
        </h5> 
        <input ng-model = "searchText" type = "text" placeHolder = "Search">
		</input>
    </div>

	<div class="ibox-content scrollable">
		<div class = "row" style= "padding: 10px">
			<div ng-repeat = "report in reports| filter: searchText">
				<a target="_blank" href="/ajax/generateReport?id={{report.reportId}}&form_id={{report.form_id}}&type=1&Date[]=10/11/2016">
					<strong  class="list-header">
						{{report.object_id}}
					</strong>
					<div class = "list-body">
						<small>{{report.generatedBy}}</small>
						<small>{{report.dateGenerated}}</small>
						<small ng-repeat = "param in report.params">
							{{param.column}} : {{param.value}}
						</small>
					</div>

				</a>
				<a ng-click = "unpinReport(report)">
					Unpin
				</a>
	    	</div>
			<div ng-show="!(reports | filter: searchText).length">
				No Results Found.
			</div>
		</div>
	</div>


	<style>
		

		
	</style>