



<!-- <div  ng-controller = "WidgetAppsController"> -->

	<div class="ibox-title">
        <h5>
        	My Starred
        </h5> 
        <div class="pull-right">
        	 
			<a class="btn btn-white" ng-click="refresh(0)" title="Refresh">
        		<i class="fa fa-refresh"></i>
        	</a>
        </div>
       
    </div>

	<div class="ibox-content container-fluid scrollable"  ng-model="request">
		<div class="row search-panel" >
			<input ng-model = "searchText" class="search-text" type = "text" placeHolder = "Search"/>
		</div>
		<div class="row starred-list" infinite-scroll='refresh(requests.length)'  infinite-scroll-parent="true">

			<div ng-repeat = "request in requests | filter: searchText" class="starred-item repeated-item">
				
				<a class="pull-left strarred-image">
					<img class="img-circle" ng-src="{{request.image_url}}"/>
				</a>
				<div class="media-body">
					<a class="starred-item-header" target="_blank" href="/user_view/workspace?view_type=request&formID={{request.ws_id}}&requestID={{request.ID}}">
					<strong>{{request.TrackNo}}</strong>
					<small> - {{request.Status}}</small>
					</a>
					<div class="pull-right" class="starred-actions">
						<a class="btn btn-white unstarred" ng-click="unmark(request)" title="Unstarred">
							<i class="fa fa-star"></i>

						</a>
					</div>
					<p class="starred-item-details">
						<small>{{request.form_name}} - </small>
						<small class="text-muted">{{request.DateCreated}}</small> 
						
					</p>

				</div>
				<!-- <a target="_blank" ng-href="/user_view/workspace?view_type=request&formID={{request.form_id}}&requestID={{request.request_id}}">
					<strong  class="list-header">
						{{request.TrackNo}}
					</strong>
					<a class = "list-body">
						<small>{{request.category_name}} -</small>
						<small>{{request.form_name}} -</small>
						<small>{{request.Status}} -</span>
						<small>{{request.DateCreated}}</small>
						<span></span>
					</a>
				<a ng-click = "unmark(request)">
					Unpin
				</a> -->
	    	</div>
			<!-- <div ng-show="!(requests | filter: searchText).length">
				No Results Found.
			</div> -->

			<center style="margin-bottom:10px;">
					<h5 ng-if="busy"><i class="fa fa-spinner fa-spin"></i> Loading...</h5>
				</center>
			<center style="margin-bottom:10px;">
				<h5 ng-if="!(requests | filter: searchText).length && !busy">No results</h5>
			</center>
		</div>
	</div>


	<style>
		

		
	</style>