@import "utilities";

.fl-timer {
	@extend %taC;
	@extend .colorfff;
	@extend %box_sizing_border_box;
	//@extend .droid_sansregular;
	font-family:"HelveticaNeue_Medium";
	@include padding(10px, 10px, 10px, 10px);
	background-color: #3A4B55;
	line-height: 20px;
	font-size: 30px;
}

.fl-timer-icon {
	@extend .colorfff;
	width: 40px;
	height: 40px;
	float: left;
	text-align:center;
	display:table;

	i.fa {
		display:table-cell;
		vertical-align:middle;
		font-size:30px;
	}

}

.fl-timer-start {
	@extend .colorfff;
	@extend %cursor_pointer;
	@extend %trans_duration3;
	float: right;
	height: 40px;
	width: 40px;
	background-color:#2C3A42;
	text-align: center;
	display: table;

	i.fa {
		display:table-cell;
		vertical-align:middle;
		font-size:20px;
	}

}

