/*
Sass::SyntaxError: ".iswH100perc" failed to @extend ".wH100perc".
The selector ".wH100perc" was not found.
Use "@extend .wH100perc !optional" if the extend should be able to fail.


Backtrace:
C:/wamp/www/project/formalistics2k16/css/user_css/sass/layout/layout.scss:10
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/util/subset_map.rb:106:in `block in each_value'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/util/subset_map.rb:106:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/util/subset_map.rb:106:in `each_value'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:16:in `visit'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:39:in `css_tree'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/engine.rb:268:in `render'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".iswH100perc\" failed to @extend \".wH100perc\".\A The selector \".wH100perc\" was not found.\A Use \"@extend .wH100perc !optional\" if the extend should be able to fail.\A "; }
