<?php
if($_SERVER['REQUEST_METHOD'] == "POST"){
    $username = $_POST['username'];
    $password = $_POST['password'];
    
    if(ALLOW_ACTIVE_DIRECTORY == "1"){
        $ldapMan = LDAPManager::getInstance();
        $ldapMan->setHost(AD_IP_ADDRESS);
        $results = $ldapMan->login($username, $password);
        
        print_r($results);
    }
}


?>
<div class="container_1">
    <form action="/ad" method="POST">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="Login">
    </form>
</div>

<?php
if($_SERVER['REQUEST_METHOD'] == "POST"){
    $fs = new functions();
    $mail = $fs->sendEmail_smtp($_POST['body'], array($_POST['email']=>"Test"), '', '', "samuel282@gmail.com", "", "Sam", $_POST['title']);
    echo $mail;
}
?>
<div class="container_1">
    <form action="/ad" method="POST">
        <input type="text" name="email">
        <input type="text" name="title">
        <input type="text" name="body">
        <input type="submit" value="Login">
    </form>
</div>

<form action="/ad" method="POST" enctype="multipart/form-data"> 
    <input type="file" name="csv">
    <input type="submit" value="Login">
</form>
<?php
if($_SERVER['REQUEST_METHOD'] == "POST"){
$db = new Database();
    if($_FILES['csv']['error'] == 0){
            $name = $_FILES['csv']['name'];
            $get_extention = explode(".",$_FILES['csv']['name']);
        
            
            $ext = strtolower($get_extention[count($get_extention) -1]);
            $type = $_FILES['csv']['type'];
            $tmpName = $_FILES['csv']['tmp_name'];
        
            // check the file is a csv
            if($ext === 'csv'){
          if(($handle = fopen($tmpName, 'r')) !== FALSE) {
              // necessary if a large csv file
              set_time_limit(0);
        
              $row = 0;
        
              while(($data = fgetcsv($handle, 1000, ',')) !== FALSE) {
            // number of fields in the csv
            //$num = count($data);
            $db->update("tbuser",array("username"=>$data[1]),array("email"=>$data[0]));
            //var_dump($data);
              }
          $row++;
			    }
			    fclose($handle);
            }
    }
}
?>
