@import "compass/css3";
@import "base";

// .note-control-selection {
// 	width:100% !important; // forcing editable to width 100%
// }

.note-editable {
	background-color:#ffffff;
	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-top-right-radius:3px;

	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-left-radius:3px;

	
	ul {
		  padding: 10px;

		  li {
		list-style-type: disc;
		}
	}

	ol {

		//padding:10px;
		li {
			list-style-type: decimal;
			list-style-type: decimal !important;
  			list-style-position: inside !important;
		}
	}

	

}

.fl-ui-announment-editor-wrapper .note-editor {
	border: 1px solid #d3d3d3 !important;
}

.note-editor .note-toolbar {
  border-bottom: 1px solid #d3d3d3 !important;

}

.note-toolbar.btn-toolbar {
	
}

.note-style.btn-group.open .note-fontsize.btn-group.open, .note-color.btn-group.open, .note-para.btn-group.open, .note-height.btn-group.open, .note-table.btn-group.open {
	.btn.dropdown-toggle  {
		background-color:#ebebeb !important;
	}
}

.div_1_of_2.fl-ui-announcement-writer-column-wrapper {
	margin-top:0px;
	width: 40.75%;

	@include bp(landscape568){
        width: 100%;
    }

    @include bp(landscape1024){
    	float:none;
        width:100%;
        margin-left:0px;
    }

}	

.div_1_of_2.fl-ui-announcement-posted-column-wrapper {
	width: 58.75%;
	margin-top:0px !important;
	@include bp(landscape568){
        width: 100%;
    }
    @include bp(landscape1024){
    	float:none;
        width:100%;
        margin-left:0px;
    }

}


#fl-ui-announcment-post-wrapper {
	position:relative;
}

.ui-announcements-bottom-wrapper {
	//@include padding(8px, 8px, 8px, 8px);
	@extend %box_sizing_border_box;
	height:31px;
	background-color:#f5f5f5;
	border: 1px solid #d3d3d3;
	border-top: none;
	-webit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;

	-webit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;

	@include bp(portrait320){
		height: 23px;
	}
}

.ui-announcement-post-visibility, .ui-announcement-post-type {
	//margin-right:5px;

	select {
		// border-radius: 3px;
  // 		border: 1px solid #CCC;
	  border-left: none;
	  border-right: none;
	  border: none;
	  height: 100%;
	  border-radius: 0px;
	  border-right: 1px solid #D3D3D3;
	  @include bp(portrait320){
	  	font-size:8px;
	  }
	}

}

.ui-announcement-post-visibility {
	select {
	-webit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
		
		@include bp(portrait320){
			font-size: 8px;
		}

	}
}

.note-image-dialog, .note-link-dialog {
	.modal-dialog {
		  padding-top: 80px
	}
}

#fl-ui-announcement-graph-wrapper {
	//margin-top:10px;
}

.fl-ui-announcement-graph-content-wrapper {
	 //min-height: 430px !important;
    background-color:#ffffff !important;
    border: 1px solid #cfdbe2;
    border-top:none;
    border-bottom: 1px solid #cfdbe2;
    padding:0px;
    padding-top:5px;

    .fl-request-widget {
    	margin-top:0px !important;
    } 

    .fl-request-widget-data {
    	  border-bottom-left-radius: 0px;
		  border-bottom-right-radius: 0px;
		  border-bottom: none;
    }

    .survey-post-option-wrapper {
		  background-color: #EAEFF6;
		  margin-bottom: 5px;
		  border: 1px solid #DFE0E4;
		  border-bottom-left-radius: 3px;
		  border-bottom-right-radius: 3px;

		  .survey_total_responses {
		  	position:relative;
		  	top:5px;
	
			@include bp(portrait320){
				font-size:9px;
			}

		  }
	} 
}


.fl-ui-announcement-post-action {
	
	input[type="button"]#fl-btn-post {
		// height: 20px;
	 //  	margin-right: 5px;
	 //  	margin-top: 4px;
	 @extend .trans_duration3;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 1px solid #D3D3D3;
	float: left;

	@include bp(portrait320){
		font-size:8px;
		width: 32px;
    	height: 21px;
	}

	}

	input[type="button"]#fl-btn-clear {
		@extend .trans_duration3;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-bottom-right-radius: 3px;
		border-bottom-right-radius: 3px;
		@include bp(portrait320){
			font-size:8px;
			width: 32px;
    		height: 21px;
		}
	}	
}


.fl-ui-announcement-posted-wrapper {
	@extend %display_block;
	border-bottom: 1px solid #EAEFF6;
	width:100%;
	padding: 5px 0px 5px 0px;
	box-sizing:border-box;

	.fl-action-display-comments {
		//margin-left:40px;
	}
}

.fl-ui-announcement-avatar-wrapper {
	// width:9%;
	position:relative;
	// &:before {
	// 	width:12px;
	// 	height:12px;
	// 	border-radius: 100%;
	// 	background-color:rgb(146, 148, 150);
	// 	content: "";
	// 	position: absolute;
 //  		top: 9px;
 //  		left:0px;
	// }
}

.fl-ui-announcement-avatar-inner {
	@extend %border_radius3;
	width:32px;
	height:32px;
	padding:2px;
	float:left;
	background-color: rgb(211, 211, 211);
	//margin-left: 17px;
	img {
		@extend %border_radius3;
	}

}

.ui-announcements-survey-wrapper {

	background-color: #fff;
	box-shadow: 1px 2px 10px #D3D3D3;
	border: 1px solid #d3d3d3;
	border-top:none;
	-webit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;

	-webit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;

	//position: absolute;
	z-index: 1000;
	//width: 100%;
	.ui-survey-options {
		padding:5px;
		border-bottom: 1px solid #d3d3d3;
	}

	.ui-survey-response-list {
		
		
		.ui-survey-response {
			border-bottom: 1px solid #d3d3d3;
			//border-left: 1px solid #d3d3d3;
			//border-right: 1px solid #d3d3d3;
			padding: 5px;
			
			input[type="text"] {

				@include bp(portrait320){
					width:87% !important;
				}
			}	

		}

		.ui-survey-response:last-child {
			-webit-border-bottom-left-radius: 3px;
			-moz-border-bottom-left-radius: 3px;
			border-bottom-left-radius: 3px;

			-webit-border-bottom-right-radius: 3px;
			-moz-border-bottom-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}



.fl-ui-announcement-icon-and-name-inner {
	margin-left: 40px;
  	background-color: #fff;
	position:relative;

	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
 	padding: 5px;
  	box-sizing: border-box;
  	border-top: 1px solid #EAEFF6;
  	border-left: 1px solid #EAEFF6;
  	border-right: 1px solid #EAEFF6;
	.fl-ui-announcement-name-wrapper{
		font-size: 10px;
		display:inline-block;
		//float:left;
		//margin-top:4px;

		.fl-table-ellip {
			width: auto;
			max-width:260px;
			float:left;

			.fl-post-date-updated {
				margin-top: 5px;
			}
		}

		.fl-ui-announcement-badge-wrapper {
			float:left;
			display:inline-block;
			margin-left: 5px;
		}

	}
}

.ui-portal-badge-default.fl-ui-announcement-badge-wrapper, .ui-portal-badge-important.fl-ui-announcement-badge-wrapper {
	border: 1px solid #6E6E6E;
	border-radius: 4px;
	padding: 1px;
	color: #222;

	div {
		margin-top: 2px;
	  height: inherit;
	  display: inline-block;
	  margin-right: 2px;

	}

	.icon-svg {
		float:left;
	}
}


.fl-ui-announcement-posted-body-wrapper {

	//letter-spacing: 1px;
  	line-height: 14px;
  	//border-top-left-radius: 3px;
  	//border-top-right-radius: 3px;
  	padding: 6px;
  	padding-bottom:10px;
  	//box-shadow: 1px 1px 1px #E7EDF5;
  	//width: 86%;
 	//margin-left: 40px;
 	//margin-top:-10px;
  	font-size: 11px;
  	background-color:#ffffff;
  	border-left: 1px solid #EAEFF6;
  	border-top: 1px solid #eaeff6;
  	border-right: 1px solid #eaeff6;

  	.fl-post-text-contents {

		ul { 
		   list-style-type: disc !important; 
		   list-style-position: inside !important; 
		}
		ol { 
		   list-style-type: decimal !important; 
		   list-style-position: inside !important; 
		}
		ul ul, ol ul { 
		   list-style-type: circle !important; 
		   list-style-position: inside !important; 
		   margin-left: 15px !important; 
		}
		ol ol, ul ol { 
		   list-style-type: lower-latin !important; 
		   list-style-position: inside !important; 
		   margin-left: 15px; 
		}
	}	


}

.fl-ui-announcement-posted-body-wrapper.survey_question {
	
	//border: dashed 1px #CFDBE2;

	ul.fl-ui-announcement-posted-type-survey {
	  	background-color: rgb(234, 239, 246); 
	  	padding: 1px;
	  	border-radius: 3px;
	  	margin-top:4px;
	 	
	 	inputp[type="submit"]{
	 		@extend .trans_duration3;
	 	}		

	}

	.fl-ui-announcement-posted-field-wrapper {
		padding: 4px; 
		background-color: white; 
		//border-radius: 3px;
		margin-bottom:1px;
	}

	input[type="submit"] {
		border-radius: 3px;
		height: 26px;
		width: 60px;
		margin:5px;
	}

	.fl-post-text-contents {

		ul { 
		   list-style-type: disc !important; 
		   list-style-position: inside !important; 
		}
		ol { 
		   list-style-type: decimal !important; 
		   list-style-position: inside !important; 
		}
		ul ul, ol ul { 
		   list-style-type: circle !important; 
		   list-style-position: inside !important; 
		   margin-left: 15px !important; 
		}
		ol ol, ul ol { 
		   list-style-type: lower-latin !important; 
		   list-style-position: inside !important; 
		   margin-left: 15px; 
		}
	}


}

ul.fl-ui-announcement-posted-type-survey  li.fl-ui-announcement-posted-field-wrapper:first-child {
	border-top-left-radius:3px;
	border-top-right-radius:3px; 
}

ul.fl-ui-announcement-posted-type-survey  li.fl-ui-announcement-posted-field-wrapper:last-child { 
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}


.fl-ui-announcement-icon-and-name-wrapper {
	//margin-bottom:3px;
}

.fl-ui-announcement-posted-content-wrapper {
	//position:relative;
}

.fl-ui-announcement-header-action {
	display:flex;
	position:absolute;
	top: 10px;
  	right: 5px;
  	z-index:1;
	ul {
		li {
			svg {
				cursor:pointer;
			}
		}
	}
}

.fl-ui-announcement-header-action-sub {
	display:none;
}


.fl-widget-name-selector {
    padding: 5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: white;
    border: 1px solid #D5D5D5;
    border-top: none;
   position: relative;
    width: 100%;
    //z-index: 1000;
    background-color: #fff;
    box-shadow: 1px 2px 10px #D3D3D3;

    .label-readers {
    	float:left;
    	margin-top: 9px;
    }

    .fl-selected-names-container {

    }            
}

.fl-autocomplete-input{
    border: 0 !important;
}

.fl-autocomplete-loading {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	box-sizing: border-box;
          
}

.fl-ui-selectable-name{
	@extend .trans_duration3;
    background-color:#F0F0F0;
    border-bottom: 1px solid #d3d3d3;
    height: 34px;
    padding: 2px;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

.fl-ui-selectable-name:hover {
    background-color: #cfdbe2;
}

.fl-ui-selectable-name-avatar-wrapper {
    float: left;
}

.fl-ui-selectable-name-avatar-wrapper {
    width: 30px;
    height: 30px;
    text-align:center;
    border-radius: 100%;
    background-color:#B6BABF;

    svg {
    	margin: 4px 0px 0px 3px;
    }
}

.fl-ui-selectable-name-avatar-wrapper > img {
    width: 30px;
    height: 30px;
}

.fl-ui-selectable-name-data-wrapper {
    float:left;  
    padding-top: 6px; 
    padding-left: 5px;
}

.fl-ui-announcement-posted-column {
	//height:500px;
}

.fl-ui-announcement-posted-column-wrapper {
	position:relative;
  // background-color: #F5F5F5;
  // border-radius: 3px;
  // border: 1px solid #D3D3D3;

}

.fl-ui-announcement-posted-column-header {
	height:34px; 
	width:100%; 
	margin:5px 0px 5px 0px;
	//box-shadow: 0 4px 10px -6px #d6d6d6;
	//padding: 10px;
	background-color: #fff;
	box-sizing: border-box;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	.ui-announcement-posted-column-header-label {
		color: #808080;
		position: relative;
  		top: 9px;
  		left: 7px;
	}

	// .fl-posted-item-hidden {
	// 	background-color: rgb(245, 247, 250);
	//   	position: absolute;
	//   	width: 100%;
	//   	height: 13px;
	//   	left: 0px;
	//   	top: -13px;
	// }
	
	.icon-svg {
		float:left;
	}
}

.ui-announcement-filter-posted-view {
	select {
		padding: 7px;
	    border: none;
	    border-left: 1px solid #EAEFF6;
	}
}

.note-editor .note-editable {
	min-height:40px;
}

.fl-widget-name-selector-result {
	border: 1px solid #D3D3D3;
}


.fl-widget-name-selector-result-inner {
	height:286px;
}

// comment ui

.fl-ui-comment-posted-wrapper {

	//width:93%;
	//float:right;
	margin-bottom: 8px;
	
	.fl-ui-comment-posted-names-wrapper {
		  height: 10px;
		  background-color: #fff;
		  padding: 4px;
		  border-top-right-radius: 3px;
		  border-top-left-radius: 3px;
		  font-size:10px;
		  position:relative;
		 .fl-ui-comment-posted-action {
		 	background-color:rgb(141, 142, 144);
		 	  position: absolute;
			  top: 0px;
			  right: 0px;
			  padding: 4px;
			  border-top-right-radius: 3px;
			  cursor:pointer;
			  i.fa-times {
			  	color:#fff;
			  }
		 }

	}

	.fl-ui-announcement-avatar-wrapper {
		.fl-ui-announcement-avatar-inner {
			//float:none;
		}
	}

	.fl-ui-comment-posted-body-wrapper {
		background-color: #f2f9fd;
		  border: 1px solid #EAEFF6;
		margin-left: 45px;
		border-radius: 3px;

		.fl-post-text-contents {
			//padding:6px;
			// border-top: 1px solid #ECF1F4;

			ul { 
			   list-style-type: disc !important; 
			   list-style-position: inside !important; 
			}
			ol { 
			   list-style-type: decimal !important; 
			   list-style-position: inside !important; 
			}
			ul ul, ol ul { 
			   list-style-type: circle !important; 
			   list-style-position: inside !important; 
			   margin-left: 15px !important; 
			}
			ol ol, ul ol { 
			   list-style-type: lower-latin !important; 
			   list-style-position: inside !important; 
			   margin-left: 15px; 
			}

		}
	}

}

.fl-post-text-contents.note-editor {
	border:none !important;
	word-break:break-word;
	line-height:1;
}

.fl-post-text-contents {
	//padding:6px;
	// border-top: 1px solid #ECF1F4;

	ul { 
	   list-style-type: disc !important; 
	   list-style-position: inside !important; 
	}
	ol { 
	   list-style-type: decimal !important; 
	   list-style-position: inside !important; 
	}
	ul ul, ol ul { 
	   list-style-type: circle !important; 
	   list-style-position: inside !important; 
	   margin-left: 15px !important; 
	}
	ol ol, ul ol { 
	   list-style-type: lower-latin !important; 
	   list-style-position: inside !important; 
	   margin-left: 15px; 
	}
}	

.fl-ui-comment-add-comment-wrapper {
	//margin-left: 40px;
	padding: 5px;
	position:relative;
  background-color: rgb(242, 249, 253);
  // margin-bottom: 5px;
  border-bottom: 1px solid #EAEFF6;
  border-left: 1px solid #EAEFF6;
  border-right: 1px solid #EAEFF6;
  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  border-top: 1px solid #EAEFF6;
	textarea.fl-ui-comment-add-comment-field {
	  	min-height: 20px;
	  	border-bottom-right-radius: 3px;
	  	border-bottom-left-radius: 3px;
	    border: 1px solid #EAEFF6;
	    width: 99%;
	    resize:none;
	}

	i.fa-caret-up {
		position: absolute;
	  top: -15px;
	  color: #EAEFF6;
	  font-size: 20px;
	}

	input[type="submit"].fl-ui-comment-btn {
		@extend %trans_duration3;
		margin-top: 5px; 
		float: right; 
		border-radius: 3px; 
		height: 28px; width: 60px;
		display:none;
	}
}

.fl-comments-container {
	background-color: #fff;
	margin-left: 40px;
	padding: 7px;
	padding-bottom:0px;
	border-radius: 3px;
	margin-top: 5px;
	border: 1px solid #EAEFF6;
	.fl-ui-comment-posted-wrapper {
		.fl-ui-comment-posted-body-wrapper {
			.fl-post-text-contents {
				padding:3px;
				word-break:break-word;
			}
		}

		.fl-action-display-comments-wrapper {
			border:none;
		}

	}
}

//Animation

.flickerAnimation {
	-webkit-animation: flickerAnimation 1s infinite;
	-moz-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}


#ui-loading-wrapper {
	width: 200px;
  	margin: 0 auto;
 	 text-align: center;
  	margin-top: 30px;

  	i.fa-refresh {
  		margin: 0 auto;
	  text-align: center;
	  margin-top: 30px;
	  margin-bottom: 9px;
	  font-size:20px;
	  color:#6e6e6e;
  	}

  	.ui-loading-text {
  		color:#6e6e6e;
  	}

}

.fl-action-display-comments-wrapper {
	// width: 135px;
	height: 24px;
	//margin-left: 40px;
	line-height: 24px;
	font-size: 11px;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: #EAEFF6 1px solid;
    border-top: none;
    background-color:#fff;
	
	a {
		color: #6E6E6E;
		@extend .trans_duration3;
		@extend .fl-floatLeft;

		.icon-svg {
			float:left;
		} 
	}

	.fl-action-like-comment-wrapper {
		@extend .fl-floatLeft;
		margin-left: 5px;
	}

	ul.fl-action-mood-wrapper {
		
		li.fl-action-mood-inner {
			float:left;
			position:relative;
			padding-left:21px;
			margin-right:2px;
			a{
				float:none;
			}

			.icon-svg.icon-svg-announcement {
				position:absolute;
			}

			ul.fl-action-mood-options-wrapper {
				box-shadow: 1px 1px 1px #bbb;
				background-color:#e0e0e0;
				display:none;
				position:absolute;
				z-index:1;
				left:0px;
				width:90px;
				
				li {
					float:none;
					    border-bottom: 1px solid #D3D3D3;
					a {
						float:none;
						display: block;
						padding-left:22px;

						&:hover {
							background-color:#8D8D8D;
							color:#ffffff !important;
						}
					}

					&:last-child {
						border-bottom:none;
					}


				}
			}
		}

		li.fl-others-mood-inner {
			padding-left:0px;
			positio:relative;

			ul.fl-others-mood-wrapper {
				position:absolute;
				width: 228px;
			}

		}

	}

	ul.fl-action-mood-reply-comment-wrapper {
		margin-left:5px;
	}

	ul.fl-action-mood-wrapper li:hover > ul.fl-action-mood-options-wrapper {
		display:block;
	}


}

.survey-post-option-wrapper {
	padding:5px;
}

.fl-action-your-mood{
	background-color:#8D8D8D;
	a {
		color:#ffffff !important;
	}
}




/// apps 

#fl-ui-announcement-apps-wrapper {
	

	.fl-option-toolbar {

		border-top: 2px solid #EAEFF6;
		border-left: 1px solid #EAEFF6;
		border-right: 1px solid #EAEFF6;
		border-bottom: 1px solid #EAEFF6;


		.fl-toolbar-left-wrapper {
			span {
				position: relative;
  				top: 10px;
			}
		}

	    .fl-toolbar-right-wrapper {
	        .fl-search-wrapper {
	            // width:361px !important;

	            #appSearch {
	                @extend %fR;
	                padding-right: 36px;
	            }
	        }

	    }
	}

	.fl-search-icon-list {
	    @extend %cursor_pointer;
	    position:absolute;
	    top:auto;
	    right:0px;
	    bottom:auto;
	    left:auto;
	    width:36px;
	    display:block;
	}

	#fl-ui-app-wrapper {
		// background-color:#ffffff;

		.fl-ui-app-content li {
			width:75px;
			height:75px;
			float:left;
			margin:10px 13px 0px 0px;
			padding-bottom:16px;
			cursor:move;
		}

	}

	.fl-filtered-selectable-forms-container {

		.fl-ui-app-content li {
			width:75px;
			height:75px;
			float:left;
			margin:10px 14px 0px 0px;
			padding-bottom:16px;
		}

	
	}

}


.fl-ui-announcment-navs-wrapper {
  	-webkit-border-top-right-radius:3px;
	-moz-border-top-right-radius:3px;
	border-top-right-radius:3px;

	-webkit-border-top-left-radius:3px;
	-moz-border-top-left-radius:3px;
	border-top-left-radius:3px;
  	background-color:#E0E0E0;


	ul  {

		border-bottom-left-radius:3px;
		border-top-right-radius:3px;

		li {
			@extend %fL;
			@extend %cursor_pointer;
			padding:5px;
			color:#6E6E6E;
			&:first-child {
				-webkit-border-top-left-radius:3px;
				-moz-border-top-left-radius:3px;
				border-top-left-radius:3px;
			  	background-color:#E0E0E0;
			}
			
			&:hover {
				background-color:#8D8D8D;
				color:#ffffff;
			}
		}

		li{
			border-right:1px solid #D3D3D3;
		}
	}
}

.fl-tab-selected {
	color:#fff !important;
	background-color:#8D8D8D !important;
}


//ui request app fixing

.ui_portal_loaded_form_content, .ui_portal_fl_user_wrapper {
	top:0px !important;
}
.fl-workspace-control-container.ui_portal_fl_workspace_control_container {
	//position:static;
}

.fl-report-wrapper-content.ui_portal_fl_report_wrapper_content {
	padding:0px;
}

.fl-widget-head.ui_portal_fl_widget_head {
	margin-bottom:10px;
}

.fl-widget-head {
	.icon-svg {
		float:left;
	}
}

.fl-portal-section {
	position:relative;
}


#ui-portal-loading {
	position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;	 
	  background-color: #6e6e6e;
	  .ui-portal-loading-innner-wrapper {
	  	display:table;
	  	width: 100%;
	    height: 100%;
	    text-align:center;
	  	 .ui-portal-loading-innner {
	  	 	display:table-cell;
	  	 	vertical-align:middle;
	  	 	.ui-app-portal-display {
	  	 		i.fa-refresh {color:#ffffff}
	  	 	}
	  	 }
	  	
	  }
}

// Online user css

#fl-ui-announcement-online-users-content {

	.fl-ui-announcement-online-users-reminder {
		background-color: #fff;
	    padding: 5px;
	    margin-bottom: 5px;
	    color: #6e6e6e;
	    font-size: 11px;
	}

	ul {
		li {
			background-color:#fff;
			border-bottom:dashed 1px #e0e0e0;
			.user-online-name {
				background-color: #E0E0E0;
    			padding: 3px;
    			color: #6e6e6e;
			}

			.user-online-actions {
				margin-top:8px;

				a {
				    color: #6e6e6e;
				    font-size: 10px;
				    &:hover {
				    	//background-color: #3778B2;
				    	border-bottom: 1px solid #6e6e6e;
				    }
				}
			}

		}
	}
}

#online-users-message {
	background-color: rgba(255, 0, 0, 0.81);
    padding: 5px;
    color: #fff;

}

#fl-action-display-more-posts-wrapper {
	margin-top:6px;
	a {
		color:#ffffff;
		padding:3px;
		display: inline-block;
	    width: 100%;
	    text-align: center;
	    box-sizing: border-box;
	}
}

@-moz-document url-prefix(){
 
 .note-editor .note-editable {
 	min-height:33px;
 
 }

}

