svg.icon-svg.user-dropdown-menu-svg, svg.icon-svg.fl-top-nav-svg {
	fill:#ffffff;
}

svg.icon-svg.fl-top-nav-svg.svg-icon-link {
	padding-left:10px;
}

svg.icon-svg.fl-top-nav-svg.svg-icon-groups {
   	padding-top:3px;
    padding-bottom:2px;
    width:22px;
}

svg.icon-svg.fl-top-nav-svg.svg-icon-faq {
  	position: relative;
  	top:3px;	
}

svg.icon-svg.fl-top-nav-svg.svg-icon-message {
	padding-top:2px;
    padding-bottom:3px;
}

svg.icon-svg.icon-svg-modal.svg-icon-group-settings, svg.icon-svg.icon-svg-modal.svg-icon-position-settings {
	padding-top: 4px;
}

svg.icon-svg.icon-fl-toolbar-svg.svg-icon-group-settings {
	margin-top: 10px !important;
}

svg.icon-svg-main-nav-sub-nav.svg-icon-group-settings {
	margin-top:1px;
}
svg.icon-svg-main-nav-sub-nav.svg-icon-position-settings {
	margin-top:3px;
}

.svg-icon-wf-database-st0{fill:#FFFFFF;}
.svg-icon-wf-database-st1{fill:#FFA500;}
.svg-icon-wf-database-st2{fill:#65A8DF;}
.svg-icon-wf-database-st3{fill:#33A457;}

.svg-icon-workspace-control-button-st0{opacity:0.75;}
.svg-icon-workspace-control-button-st1{fill:#373737;}
.svg-icon-workspace-control-button-st2{fill:#50B6FE;}

.svg-icon-workspace-control-checkbox-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-checkbox-st1{fill:#CBCBCB;}
.svg-icon-workspace-control-checkbox-st2{fill:#DB0000;}

.svg-icon-workspace-control-date-picker-st0{opacity:0.75;}
.svg-icon-workspace-control-date-picker-st1{fill:#373737;}
.svg-icon-workspace-control-date-picker-st2{fill:#6B7FE9;}
.svg-icon-workspace-control-date-picker-st3{fill:#747CF8;}

.svg-icon-workspace-control-date-time-picker-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-date-time-picker-st1{fill:#29E8FF;}
.svg-icon-workspace-control-date-time-picker-st2{fill:#C1F238;}

.svg-icon-workspace-control-note-style-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-note-style-st1{fill:#F1F1DF;}
.svg-icon-workspace-control-note-style-st2{fill:#D9B68A;}
.svg-icon-workspace-control-note-style-st3{fill:#4C4C4C;}
.svg-icon-workspace-control-note-style-st4{fill:#29E8FF;}
.svg-icon-workspace-control-note-style-st5{opacity:0.9;fill:#59595B;}

.svg-icon-workspace-control-names-st0{opacity:0.75;}
.svg-icon-workspace-control-names-st1{fill:#373737;}
.svg-icon-workspace-control-names-st2{fill:#B3FFAA;}

.svg-icon-workspace-control-pick-list-st0{opacity:0.75;}
.svg-icon-workspace-control-pick-list-st1{fill:#373737;}
.svg-icon-workspace-control-pick-list-st2{fill:#F2CE7A;}
.svg-icon-workspace-control-pick-list-st3{fill:#DB0000;}

.svg-icon-workspace-control-radio-button-st0{opacity:0.75;}
.svg-icon-workspace-control-radio-button-st1{fill:#373737;}
.svg-icon-workspace-control-radio-button-st2{fill:#CBCBCB;}
.svg-icon-workspace-control-radio-button-st3{fill:#C1F238;}

.svg-icon-workspace-control-select-many-st0{opacity:0.75;}
.svg-icon-workspace-control-select-many-st1{fill:#373737;}
.svg-icon-workspace-control-select-many-st2{fill:#E6E6E7;}
.svg-icon-workspace-control-select-many-st3{fill:none;stroke:#CC2229;stroke-width:2.5;stroke-miterlimit:10;stroke-dasharray:4;}
.svg-icon-workspace-control-select-many-st4{fill:#50B6FE;}


.svg-icon-workspace-control-time-picker-st0{fill:#E63DEE;}
.svg-icon-workspace-control-time-picker-st1{opacity:0.75;}
.svg-icon-workspace-control-time-picker-st2{fill:#373737;}

.svg-icon-workspace-control-textarea-st0{opacity:0.75;}
.svg-icon-workspace-control-textarea-st1{fill:#373737;}
.svg-icon-workspace-control-textarea-st2{fill:#50B6FE;}
.svg-icon-workspace-control-textarea-st3{fill:#E6E6E7;}

.svg-icon-workspace-control-textbox-st0{opacity:0.75;}
.svg-icon-workspace-control-textbox-st1{fill:#373737;}
.svg-icon-workspace-control-textbox-st2{fill:#F2CE7A;}
.svg-icon-workspace-control-textbox-st3{fill:#4E4E4E;}

.svg-icon-workspace-control-accordion-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-accordion-st1{fill:#373737;}
.svg-icon-workspace-control-accordion-st2{fill:#76A2D4;}
.svg-icon-workspace-control-accordion-st3{opacity:0.7;fill:#FFFFFF;}

.svg-icon-workspace-control-label-st0{opacity:0.75;}
.svg-icon-workspace-control-label-st1{fill:#373737;}
.svg-icon-workspace-control-label-st2{fill:#EAA7C8;}
.svg-icon-workspace-control-label-st3{fill:#BC0C92;}

.svg-icon-workspace-control-table-st0{opacity:0.75;}
.svg-icon-workspace-control-table-st1{fill:#373737;}
.svg-icon-workspace-control-table-st2{fill:#F5D713;}

.svg-icon-workspace-control-embedded-view-st0{fill:#8C6614;}
.svg-icon-workspace-control-embedded-view-st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-embedded-view-st2{fill:#F2CB9A;}

.svg-icon-workspace-control-line-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-line-st1{fill:#29E8FF;}

.svg-icon-workspace-control-image-st0{fill:#F2CB2F;}
.svg-icon-workspace-control-image-st1{opacity:0.75;fill:#373737;}

.svg-icon-workspace-control-tab-panel-st0{fill:#F1F1DF;}
.svg-icon-workspace-control-tab-panel-st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-tab-panel-st2{fill:#373737;}
.svg-icon-workspace-control-tab-panel-st3{fill:#91795C;}
.svg-icon-workspace-control-tab-panel-st4{fill:#F2CB9A;}

.svg-icon-workspace-control-multiple-attachment-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-multiple-attachment-st1{fill:#C1F238;}
.svg-icon-workspace-control-multiple-attachment-st2{fill:#50B6FE;}

.svg-icon-workspace-control-single-attachment-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-single-attachment-st1{fill:#50B6FE;}

.svg-icon-workspace-control-request-image-st0{fill:#E37F1D;}
.svg-icon-workspace-control-request-image-st1{opacity:0.75;}
.svg-icon-workspace-control-request-image-st2{opacity:0.75;fill:#373737;}

.svg-icon-workspace-control-computed-st0{fill:#F2CB9A;}
.svg-icon-workspace-control-computed-st1{opacity:0.75;}
.svg-icon-workspace-control-computed-st2{fill:#373737;}
.svg-icon-workspace-control-computed-st3{fill:#6D6E70;}
.svg-icon-workspace-control-computed-st4{fill:#29E8FF;}

.svg-icon-workspace-control-editor-support-st0{fill:#F2CB9A;}
.svg-icon-workspace-control-editor-support-st1{opacity:0.75;}
.svg-icon-workspace-control-editor-support-st2{fill:#373737;}
.svg-icon-workspace-control-editor-support-st3{fill:#5A7CEA;}
.svg-icon-workspace-control-editor-support-st4{fill:#29E8FF;}

.svg-icon-workspace-control-reader-support-st0{fill:#F2CB9A;}
.svg-icon-workspace-control-reader-support-st1{opacity:0.75;}
.svg-icon-workspace-control-reader-support-st2{fill:#373737;}
.svg-icon-workspace-control-reader-support-st3{fill:#29E8FF;}

.svg-icon-workspace-control-barcode-st0{opacity:0.75;}
.svg-icon-workspace-control-barcode-st1{fill:#373737;}
.svg-icon-workspace-control-barcode-st2{fill:#BCD0FF;}

.svg-icon-workspace-control-qrcode-st0{opacity:0.75;}
.svg-icon-workspace-control-qrcode-st1{fill:#373737;}
.svg-icon-workspace-control-qrcode-st2{fill:#C9EF30;}

.svg-icon-workspace-control-smart-barcode-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-smart-barcode-st1{fill:#C9EF30;}
.svg-icon-workspace-control-smart-barcode-st2{fill:#85C3C3;}

.svg-icon-workspace-control-form-category-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-category-st1{fill:none;stroke:#D35B30;stroke-width:3.2;stroke-miterlimit:10;}
.svg-icon-workspace-control-form-category-st2{fill:#8C6614;}
.svg-icon-workspace-control-form-category-st3{fill:#F2CB9A;}

.svg-icon-workspace-control-form-admin-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-admin-st1{fill:#8C6614;}
.svg-icon-workspace-control-form-admin-st2{fill:#F2CB9A;}
.svg-icon-workspace-control-form-admin-st3{fill:#29E8FF;}
.svg-icon-workspace-control-form-admin-st4{fill:#4A4A4A;}

.svg-icon-workspace-control-form-authors-st0{fill:none;stroke:#5A7CEA;stroke-width:1.4;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
.svg-icon-workspace-control-form-authors-st1{fill:#5A7CEA;}
.svg-icon-workspace-control-form-authors-st2{fill:#29E8FF;}
.svg-icon-workspace-control-form-authors-st3{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-authors-st4{fill:#F2CB9A;}
.svg-icon-workspace-control-form-authors-st5{fill:#373737;}

.svg-icon-workspace-control-form-users-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-users-st1{fill:#8C6614;}
.svg-icon-workspace-control-form-users-st2{fill:#29E8FF;}
.svg-icon-workspace-control-form-users-st3{fill:#F2CB9A;}

.svg-icon-workspace-control-form-viewers-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-viewers-st1{fill:#8C6614;}
.svg-icon-workspace-control-form-viewers-st2{fill:#29E8FF;}
.svg-icon-workspace-control-form-viewers-st3{fill:#F2CB9A;}

.svg-icon-workspace-control-customized-print-st0{fill:#F6F6F6;}
.svg-icon-workspace-control-customized-print-st1{opacity:0.75;}
.svg-icon-workspace-control-customized-print-st2{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-customized-print-st3{fill:#BF1661;}

.svg-icon-workspace-control-delete-access-st0{fill:#E37F1D;}
.svg-icon-workspace-control-delete-access-st1{fill:#CC2229;}
.svg-icon-workspace-control-delete-access-st2{opacity:0.75;fill:#373737;}

.svg-icon-workspace-control-view-settings-st0{fill:#43B7DC;}
.svg-icon-workspace-control-view-settings-st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-view-settings-st2{fill:#CBCBCB;}

.svg-icon-workspace-control-middleware-sequence-st0{fill:#BCD0FF;}
.svg-icon-workspace-control-middleware-sequence-st1{opacity:0.75;fill:#373737;}

.svg-icon-workspace-control-request-url-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-request-url-st1{fill:#BF1661;}
.svg-icon-workspace-control-request-url-st2{fill:#FFFFFF;}

.svg-icon-workspace-control-calendar-view-st0{opacity:0.75;}
.svg-icon-workspace-control-calendar-view-st1{fill:#373737;}
.svg-icon-workspace-control-calendar-view-st2{fill:#6B7FE9;}
.svg-icon-workspace-control-calendar-view-st3{fill:#FFFFFF;}

.svg-icon-workspace-control-data-source-st0{fill:#373737;}
.svg-icon-workspace-control-data-source-st1{fill:#65A8DF;}

.svg-icon-workspace-control-related-info-st0{fill:#373737;}
.svg-icon-workspace-control-related-info-st1{fill:#4B89DC;}

.svg-icon-workspace-control-default-action-st0{fill:#6FB353;}
.svg-icon-workspace-control-default-action-st1{opacity:0.75;}
.svg-icon-workspace-control-default-action-st2{fill:#373737;}
.svg-icon-workspace-control-default-action-st3{fill:#B3FFAA;}

.svg-icon-workspace-control-landing-page-st0{fill:#F2CB2F;}
.svg-icon-workspace-control-landing-page-st1{opacity:0.75;fill:#373737;}

.svg-icon-workspace-control-dropdown-list-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-dropdown-list-st1{fill:#C1F238;}
.svg-icon-workspace-control-dropdown-list-st2{fill:#E0922F;}

.svg-icon-workspace-control-form-events-onload-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-events-onload-st1{fill:#8BC275;}
.svg-icon-workspace-control-form-events-onload-st2{fill:#6FB353;}
.svg-icon-workspace-control-form-events-onload-st3{fill:#B7D9A9;}

.svg-icon-workspace-control-form-events-postsave-st0{fill:#373737;}
.st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-events-postsave-st2{fill:#83DCDC;}
.svg-icon-workspace-control-form-events-postsave-st3{fill:#AAE797;}

.svg-icon-workspace-control-form-events-presave-st0{fill:#373737;}
.svg-icon-workspace-control-form-events-presave-st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-events-presave-st2{fill:#ADE1D4;}
.svg-icon-workspace-control-form-events-presave-st3{fill:#AAE797;}

.svg-icon-workspace-control-save-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-save-st1{fill:#F6F6F6;}

.svg-icon-workspace-control-create-workflow-st0{opacity:0.75;fill:#373737;enable-background:new;}
.svg-icon-workspace-control-create-workflow-st1{fill:#F6F6F6;}

.svg-icon-workspace-control-previewform-st0{opacity:0.75;fill:#373737;enable-background:new    ;}
.svg-icon-workspace-control-previewform-st1{fill:#F6F6F6;}

.svg-icon-workspace-control-mobilityview-st0{opacity:0.75;fill:#373737;enable-background:new    ;}
.svg-icon-workspace-control-mobilityview-st1{fill:#F6F6F6;}

.svg-icon-workspace-control-actionredo-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-actionredo-st1{fill:#F6F6F6;}

.svg-icon-workspace-control-actionundo-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-actionundo-st1{fill:#F6F6F6;}

.svg-icon-workspace-control-actiongofullscreen-st0{opacity:0.75;}
.svg-icon-workspace-control-actiongofullscreen-st1{fill:#373737;}
.svg-icon-workspace-control-actiongofullscreen-st2{fill:#F6F6F6;}

.svg-icon-workspace-control-home-st0{opacity:0.75;fill:#373737;enable-background:new    ;}
.svg-icon-workspace-control-home-st1{fill:#F6F6F6;}
.svg-icon-workspace-control-listofform-st0{fill:#F6F6F6;}
.svg-icon-workspace-control-listofform-st1{opacity:0.75;fill:#373737;enable-background:new    ;}

.svg-icon-workspace-control-form-events-formulalist-st0{fill:#373737;}
.svg-icon-workspace-control-form-events-formulalist-st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-form-events-formulalist-st2{fill:#83DCDC;}
.svg-icon-workspace-control-form-events-formulalist-st3{fill:#AAE797;}

.svg-icon-workspace-control-detailspanel-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-detailspanel-st1{fill:#8C6614;}
.svg-icon-workspace-control-detailspanel-st2{fill:#F2CB9A;}
.svg-icon-workspace-control-detailspanel-st3{fill:#F6F6F6;}
.svg-icon-workspace-control-detailspanel-st4{fill:#CC2229;}

.svg-icon-workspace-control-chooseicon-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-chooseicon-st1{fill:#CC2229;}
.svg-icon-workspace-control-chooseicon-st2{fill:#9C7B53;}
.svg-icon-workspace-control-chooseicon-st3{fill:#F2CB9A;}

//.svg-icon-workspace-control-deptorgchart-st0{fill:#FC6B08;}
//.svg-icon-workspace-control-deptorgchart-st1{fill:#D25A2C;}

.svg-icon-workspace-control-startnode-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-startnode-st1{fill:#FFFFFF;}
.svg-icon-workspace-control-startnode-st2{fill:#00CC99;}

.svg-icon-workspace-control-conditionalnode-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-conditionalnode-st1{fill:#FFFFFF;}
.svg-icon-workspace-control-conditionalnode-st2{fill:#5A7CEA;}
.svg-icon-workspace-control-conditionalnode-st3{fill:#F2AD3C;}

.svg-icon-workspace-control-endnode-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-endnode-st1{fill:#FFFFFF;}
.svg-icon-workspace-control-endnode-st2{fill:#FF0000;}

.svg-icon-workspace-control-processnode-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-processnode-st1{fill:#FFFFFF;}
.svg-icon-workspace-control-processnode-st2{fill:#049BE6;}

.svg-icon-workspace-control-databasenode-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-databasenode-st1{fill:#FFFFFF;}
.svg-icon-workspace-control-databasenode-st2{fill:#FFA500;}
.svg-icon-workspace-control-databasenode-st3{fill:#65A8DF;}
.svg-icon-workspace-control-databasenode-st4{fill:#33A457;}

.svg-icon-workspace-control-report-addcolumn-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-report-addcolumn-st1{fill:#0DB6D5;}
.svg-icon-workspace-control-report-addcolumn-st2{fill:#C1F238;}
.svg-icon-workspace-control-report-addcolumn-st3{fill:#5D5D5D;}

.svg-icon-workspace-control-report-addparameter-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-report-addparameter-st1{fill:#969696;}
.svg-icon-workspace-control-report-addparameter-st2{fill:#C1F238;}
.svg-icon-workspace-control-report-addparameter-st3{fill:#5D5D5D;}
.svg-icon-workspace-control-report-addparameter-st4{fill:#CACAC9;}

.svg-icon-workspace-control-report-addplotband-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-report-addplotband-st1{fill:#8FE66A;}
.svg-icon-workspace-control-report-addplotband-st2{fill:#C1F238;}
.svg-icon-workspace-control-report-addplotband-st3{fill:#5D5D5D;}

.svg-icon-workspace-control-report-setreportuser-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-report-setreportuser-st1{fill:#E8AE4A;}
.svg-icon-workspace-control-report-setreportuser-st2{fill:#4285F4;}

.svg-icon-workspace-control-requestview-addannotation-st0{fill:#00A2DC;}
.svg-icon-workspace-control-requestview-addannotation-st1{fill:#9FC54D;}
.svg-icon-workspace-control-requestview-addannotation-st2{opacity:0.75;fill:#373737;}

.svg-icon-workspace-control-requestview-bucket-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-bucket-st1{fill:#FF6964;}

.svg-icon-workspace-control-requestview-circle-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-circle-st1{fill:#F69E0D;}


.svg-icon-workspace-control-requestview-clearannotation-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-clearannotation-st1{fill:#00A2DC;}
.svg-icon-workspace-control-requestview-clearannotation-st2{fill:#FF0000;}

.svg-icon-workspace-control-requestview-eraser-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-eraser-st1{fill:#B7BF00;}

.svg-icon-workspace-control-requestview-line-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-line-st1{fill:#52ACFA;}

.svg-icon-workspace-control-requestview-pencil-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-pencil-st1{fill:#B8996E;}

.svg-icon-workspace-control-requestview-rectangle-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-rectangle-st1{fill:#00D1AC;}

.svg-icon-workspace-control-requestview-redo-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-redo-st1{fill:#9FC54D;}

.svg-icon-workspace-control-requestview-saveannotation-st0{fill:#00A2DC;}
.svg-icon-workspace-control-requestview-saveannotation-st1{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-saveannotation-st2{fill:#9FC54D;}
.svg-icon-workspace-control-requestview-saveannotation-st3{fill:#4675B8;}

.svg-icon-workspace-control-requestview-text-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-text-st1{fill:#4AB1B8;}

.svg-icon-workspace-control-requestview-undo-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-undo-st1{fill:#FF0000;}

.svg-icon-workspace-control-requestview-cancelannotation-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-requestview-cancelannotation-st1{fill:#00A2DC;}
.svg-icon-workspace-control-requestview-cancelannotation-st2{fill:#FF0000;}

.svg-icon-workspace-control-field-tab-index-st0{opacity:0.75;fill:#373737;}
.svg-icon-workspace-control-field-tab-index-st1{fill:#ECFF62;}
.svg-icon-workspace-control-field-tab-index-st2{fill:#29E8FF;}

.svg-icon-erp-acct-payable-st0{fill:#1D2B4F;}
.svg-icon-erp-acct-payable-st1{fill:#F1CF75;}

.svg-icon-erp-acct-receivable-st0{fill:#1D2B4F;}
.svg-icon-erp-acct-receivable-st1{fill:#F1CF75;}

.svg-icon-erp-budgetsetupcontrol-st0{fill:#1D2B4F;}
.svg-icon-erp-budgetsetupcontrol-st1{fill:#F1CF75;}

.svg-icon-erp-generalledger-st0{fill:#1D2B4F;}
.svg-icon-erp-generalledger-st1{fill:#F1CF75;}

.svg-icon-erp-reporting-st0{fill:#1D2B4F;}
.svg-icon-erp-reporting-st1{fill:#F1CF75;}

.svg-icon-erp-setupchartacct-st0{fill:#1D2B4F;}
.svg-icon-erp-setupchartacct-st1{fill:#F1CF75;}

.svg-icon-erp-aftersale-st0{fill:#1D2B4F;}
.svg-icon-erp-aftersale-st1{fill:#F1CF75;}

.svg-icon-erp-closingsale-st0{fill:#1D2B4F;}
.svg-icon-erp-closingsale-st1{fill:#F1CF75;}

.svg-icon-erp-collection-st0{fill:#1D2B4F;}
.svg-icon-erp-collection-st1{fill:#F1CF75;}

.svg-icon-erp-commissionprocess-st0{fill:#1D2B4F;}
.svg-icon-erp-commissionprocess-st1{fill:#F1CF75;}

.svg-icon-erp-proddevt-st0{fill:#1D2B4F;}
.svg-icon-erp-proddevt-st1{fill:#F1CF75;}

.svg-icon-erp-productdelivery-st0{fill:#1D2B4F;}
.svg-icon-erp-productdelivery-st1{fill:#F1CF75;}

.svg-icon-erp-salesprocess-st0{fill:#1D2B4F;}
.svg-icon-erp-salesprocess-st1{fill:#F1CF75;}

.svg-icon-mood-happy-v2-st0{fill:#E8AE4A;}
.svg-icon-mood-happy-v2-st1{fill:#FFFFFF;}


.svg-icon-mood-inspired-v2-st0{fill:#59A052;}
.svg-icon-mood-inspired-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-sad-v2-st0{fill:#4675B8;}
.svg-icon-mood-sad-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-angry-v2-st0{fill:#D60002;}
.svg-icon-mood-angry-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-annoyed-v2-st0{fill:#D5652C;}
.svg-icon-mood-annoyed-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-dont-care-st0{fill:#663399;}
.svg-icon-mood-dont-care-st1{fill:#FFFFFF;}