svg.icon-svg {
	width:20px;
	height:20px;
	transition:ease 0.3s;
}

svg.icon-svg.adminbar-svg {
	float:none !important;
	height:78px;
	width:80px;
}

svg.icon-svg.user-dropdown-menu-svg {
	width:16px;
	height:16px;
	margin-top:3px;
    float:left;
    margin-left:3px;
}

svg.icon-svg.user-dropdown-menu-svg.svg-icon-change-nav-view {
	margin-top:7px;
}

svg.icon-svg.fl-top-nav-svg {
	width:16px;
	height:16px;
}

svg.icon-svg-main-nav, svg.icon-svg-main-nav-sub-nav {
float:left;
//height:38px; 
width:21px;
height:21px;
margin: -4px 5px 0px 15px;
transition:ease 0.3s;
}

svg.icon-svg-main-nav-sub-nav {
	//position:absolute;
}


svg.icon-svg-main-nav.adminbar-svg {
float:none !important;
height:78px;
width:80px;
}


svg.icon-svg-main-nav, svg.icon-svg, svg.icon-svg-main-nav-icon-only, svg.icon-svg-main-nav-sub-nav {
	fill:#6E6E6E;
}

.icon-svg.icon-modal-svg {
	fill:#ffffff;
	float:left;
	margin-top: 3px;
    margin-right: 8px;
    margin-left: 3px;
}

svg.icon-svg-main-nav-icon-only {
	height:22px;
  	width:23px;
	float:left;
	transition:ease 0.3s;
  	margin-right:5px;
  	margin-left:5px;
}

svg.icon-svg.svg-icon-wf-database {
	width: 100px;
	float:right;
}

.icon-svg.icon-svg-workspace,.icon-svg.icon-svg-modal {
	float:left;
}

svg.icon-svg.icon-svg-modal {
	fill:#ffffff;
}


svg.icon-svg.icon-svg-node {
	width:33px;
	height:33px;
}

svg.icon-svg.icon-svg-node-processor {
	width:26px;
	height:33px;
}

svg.svg-icon.icon-svg-erp {
	width:179px;
	height:179px;
}

svg.icon-svg.widget-icon-wrapper-svg {
	
}