@import "utilities";

.fl-erp-main-wrapper {

	.fl-tab-wrapper.fl-tab-wrapper-nav-erp {
		@extend %fN;
		ul {
				@extend %fL;
			    width: auto !important;
			    border-top-right-radius: 10px;

			li {
					a {
						border-top-right-radius: 10px;
						font-family: droid_sansregular_bold;    
					}
				}
			}
		}

	.fl-head-title-wrapper {
		margin-bottom:0px;
		 background-color: transparent;
	}

	.tab-container {

		margin-top:0px;
		width:auto;
		background-image:url('/css/images/axiom-pattern.png');
		border-bottom:2px solid #222222;
	
		.fl-erp-main-content-wrapper {
			
			// display:table;
			// margin:0 auto;
			// width:auto;
			
			.fl-core-poc-nav {
				// display:table-cell;
				// vertical-align:middle;
				//padding: 50px;
				
				ul {
					margin-left:0px;
					text-align:center;
					li {
						@extend %fL;
						a {
							color:#ffffff;
							display:inline-block;
							padding:18px;
							position:relative;
							&:hover {
								@extend %border_radius3;
								box-shadow: 2px 7px 4px #464646;
							}
							
							.fl-erp-nav-title {
								@extend %trans_duration3;
								@extend %box_sizing_border_box;
								font-family: droid_sansregular_bold;
								position:absolute;
								left:0px;
								width:100%;
							}

							&:hover .fl-erp-nav-title{
								padding:3px;
								background: #fff;
	    						color: #222;
							}

						}
					}
				}
				
			}
		}

		.fl-ui-announcement-online-users-wrapper {
			#fl-ul-online-users {
				margin-left:0px;
				
				li {
					margin-left:0px;
				}

			}
		}
		
	}

}

