   <!-- Content Bar Header -->
      <?php
      //userQueries::userLevel("1");
      $auth = Auth::getAuth('current_user');
         if($auth['user_level_id']=="2"){
            echo $this->setInclude("contentHeader",null,null,null);
         }
      ?>
<div class="content_wrapper">
   <div class="padding_5">
      <div class="widget">
         
         <div class="head">
             <div class="title_head">
               Suggestion
            </div>
         </div>
         <div class="tab_container">
            <table class="table_data display_data dataTable"  id="loadSuggestion" style="width:100%;">
              <thead>
                 <tr>
                    <th width="150">Subject</th>
                    <th>Message</th>
                    <th width="150">DateTime</th>
                    <th width="150">Status</th>
                    <!-- <th width="50">Action</th> -->
                 </tr>
              </thead>
              <tbody></tbody>
           </table>
            
         </div>
     </div>
   </div>
</div>