@import "_partial/base";


html, body {
	height:100%;
}


#wrapper {
	@include box-sizing(border-box);
}

#ide {
	@include border-radius(5px);
	margin:0 auto;
}


.autocomplete{
	list-style-type: none;
	border: 1px solid black;
	width: 150px;
	height: 150px;
	padding: 0;
	overflow: scroll;
	background-color: white;
}

#selected{
	background-color: #00CC8B;
	font-family: monospace;
}

#menu {

	border-bottom: 1px solid #14202C;
	margin-bottom:20px;

	ul {
		li {
			//@include box-sizing(border-box);
			@extend .droidsans_reg;
			@include transition-duration(.3s);
			font-size: $primaryFontSize;
			cursor:pointer;
			display:inline-block;
			padding:7px;
			color:#fff;
			border-right: 1px solid #34495e;
			position:relative;
			&:hover {
				background-color:#95a5a6 !important;
			}
			// &:last-child {
			// 	border-right: none;
			// }

			i.fa {
				margin-right:3px;
			}

			//Drop down		

			ul {

				position:absolute;
				top: 26px;
				left: 0px;
				box-shadow: 3px 1px 7px #222;
			
				li {
					@include transition-duration(.3s);
					display:none;
					border-right:none;
					border-bottom:1px solid #848A8B;
					width:120px;
					background-color:#95a5a6 !important;
				}
			}

		}

		li:hover ul li {
			display:block;
		}
	}

}

.num_line {
	border-bottom: dotted 1px #615D5D;
}

#numbering {
	div {
		color:#3D3939;
	}
}

