/* line 1, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg.icon-svg-announcement {
  height: 25px;
  width: 30px;
}

/* line 9, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg.icon-svg-announcement.svg-icon-seeall-comment, .icon-svg.icon-svg-announcement.svg-icon-like-post, .icon-svg.icon-svg-announcement.svg-icon-dislike-post {
  height: 25px;
  width: 20px;
}

/* line 16, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg.icon-svg-announcement.svg-icon-mood-happy-gray, .icon-svg.icon-svg-announcement.svg-icon-mood-happy, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired, .icon-svg.icon-svg-announcement.svg-icon-mood-sad, .icon-svg.icon-svg-announcement.svg-icon-mood-angry, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care, .icon-svg.icon-svg-announcement.svg-icon-mood-mood-nav {
  position: absolute;
  left: 4px;
  float: none;
  height: 25px;
  width: 15px;
}

/* line 24, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg.icon-svg-announcement.svg-icon-mood-happy, .icon-svg.icon-svg-announcement.svg-icon-mood-happy-gray, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired, .icon-svg.icon-svg-announcement.svg-icon-mood-sad, .icon-svg.icon-svg-announcement.svg-icon-mood-angry, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care, .icon-svg.icon-svg-announcement.svg-icon-mood-mood-nav, .icon-svg.icon-svg-announcement.svg-icon-mood-default, .icon-svg.icon-svg-announcement.svg-icon-mood-happy-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-sad-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-angry-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care-v2 {
  left: 4px;
  float: none;
  height: 25px;
  width: 15px;
}

/* line 32, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg.svg-icon-fbuilder, .icon-svg.fl-selectable-form-svg {
  float: none;
  margin: 0px;
  box-shadow: 1px 1px 1px #514A4A;
  border-radius: 5px;
}

/* line 43, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-wrapper .custom_icon_wrapper {
  padding: 3px;
}

/* line 48, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.fl-selected-box-border {
  border-radius: 3px;
}

/* line 53, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg-announcement.svg-icon-bullhorn-portal, .icon-svg-announcement.svg-icon-survey-graph-portal {
  height: 24px;
  background-color: #6e6e6e;
  margin-left: 0px;
  padding: 5px;
  border-top-left-radius: 3px;
}

/* line 62, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg-announcement.svg-icon-survey-graph-portal {
  height: 27px;
  padding: 3px;
}

/* line 68, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg-announcement.svg-icon-bullhorn-portal-small {
  height: 13px;
  padding: 1px;
  width: 21px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #6e6e6e;
  margin-left: 0px;
  margin-right: 4px;
}

/* line 82, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg-announcement.svg-icon-survey-portal, .icon-svg-announcement.svg-icon-survey-portal-dark {
  margin-right: 0px;
  height: 14px;
  width: 17px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #6e6e6e;
  margin-left: 0px;
  margin-right: 4px;
}

/* line 93, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg.icon-svg-announcement-header-action {
  width: 30px;
  margin-right: 0px;
}

/* line 98, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-user-user-election-st0, .svg-icon-dept-user-selection-st0, .svg-icon-position-user-selection-st0, .svg-icon-group-user-selection-st0 {
  fill: #929496;
}

/* line 103, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-caret-down-header-action-st0, .svg-icon-caret-up-header-action-st0 {
  fill: #8D8E90;
}

/* line 107, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-caret-down-header-action-st1, .svg-icon-caret-up-header-action-st1 {
  fill: #FFFFFF;
}

/* line 111, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-edit-post-header-action-st0 {
  fill: #FFFFFF;
}

/* line 116, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.icon-svg-announcement-header-action {
  height: 17px !important;
}

/* line 120, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-user-user-election-st0, .svg-icon-dept-user-selection-st0, .svg-icon-position-user-selection-st0, .svg-icon-group-user-selection-st0 {
  fill: #929496;
}

/* line 124, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-bullhorn-portal-st0, .svg-icon-starred-st0 {
  fill: #F1F1F2;
}

/* line 127, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-survey-portal-st0 {
  fill: rgba(255, 215, 0, 0.99);
}

/* line 128, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-survey-portal-st1 {
  fill: #6e6e6e;
}

/* line 130, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-survey-portal-dark-st0 {
  fill: #ffffff;
}

/* line 131, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-survey-portal-dark-st1 {
  fill: #6e6e6e;
}

/* .svg-icon-custom-post-portal-st0{fill:#8D8E90;}
.svg-icon-company-post-portal-st0{fill:#8D8E90;} */
/* line 136, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-survey-graph-portal-st0 {
  fill: #F1F1F1;
}

/* line 139, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-seeall-comment-st0 {
  fill: #8D8E90;
}

/* line 140, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-seeall-comment-st1 {
  fill: #F1F1F2;
}

/* line 142, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-like-post-st0 {
  fill: #8D8E90;
}

/* line 143, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-dislike-post-st0 {
  fill: #8D8E90;
}

/* line 145, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-01-st0 {
  fill: #B8996E;
}

/* line 146, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-01-st1 {
  fill: #F1F1F2;
}

/* line 147, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-01-st2 {
  opacity: 0.2;
  fill: #272525;
}

/* line 150, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-02-st0 {
  fill: #D682CA;
}

/* line 151, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-02-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 152, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-02-st2 {
  fill: #700090;
}

/* line 154, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-03-st0 {
  fill: #9B25B0;
}

/* line 155, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-03-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 156, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-03-st2 {
  fill: #DCBD6E;
}

/* line 158, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-04-st0 {
  fill: #B92DA5;
}

/* line 159, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-04-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 160, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-04-st2 {
  fill: #FFFFFF;
}

/* line 162, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-05-st0 {
  fill: #6CBE94;
}

/* line 163, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-05-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 164, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-05-st2 {
  fill: #333B8C;
}

/* line 166, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-06-st0 {
  fill: #9FC54D;
}

/* line 167, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-06-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 168, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-06-st2 {
  fill: #333B8C;
}

/* line 170, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-07-st0 {
  fill: #7FBF4F;
}

/* line 171, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-07-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 172, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-07-st2 {
  fill: #333B8C;
}

/* line 174, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-08-st0 {
  fill: #B1FE3C;
}

/* line 175, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-08-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 176, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-08-st2 {
  fill: #333B8C;
}

/* line 178, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-09-st0 {
  fill: #B9DF8F;
}

/* line 179, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-09-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 180, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-09-st2 {
  fill: #333B8C;
}

/* line 182, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-10-st0 {
  fill: #90FFFF;
}

/* line 183, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-10-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 184, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-10-st2 {
  fill: #02007D;
}

/* line 186, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-11-st0 {
  fill: #00ACEC;
}

/* line 187, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-11-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 188, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-11-st2 {
  fill: #333B8C;
}

/* line 190, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-12-st0 {
  fill: #333B8C;
}

/* line 191, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-12-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 192, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-12-st2 {
  fill: #B8996E;
}

/* line 194, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-13-st0 {
  fill: #7394E9;
}

/* line 195, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-13-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 196, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-13-st2 {
  fill: #2B3CB6;
}

/* line 198, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-14-st0 {
  fill: #487FFB;
}

/* line 199, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-14-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 200, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-14-st2 {
  fill: #FFFFFF;
}

/* line 201, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-14-st3 {
  fill: #272525;
}

/* line 203, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-15-st0 {
  fill: #5D78D2;
}

/* line 204, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-15-st1 {
  opacity: 0.5;
  fill: #2E3698;
}

/* line 205, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-15-st2 {
  fill: #C2FFCB;
}

/* line 206, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-15-st3 {
  fill: #272525;
}

/* line 208, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-16-st0 {
  fill: #3253B6;
}

/* line 209, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-16-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 210, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-16-st2 {
  fill: #FFFFFF;
}

/* line 212, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-17-st0 {
  fill: #FFF22D;
}

/* line 213, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-17-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 214, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-17-st2 {
  fill: #D35B30;
}

/* line 216, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-18-st0 {
  fill: #DA9A29;
}

/* line 217, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-18-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 218, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-18-st2 {
  fill: #FEFACE;
}

/* line 220, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-19-st0 {
  fill: #8F2E2E;
}

/* line 221, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-19-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 222, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-19-st2 {
  fill: #F5EC4A;
}

/* line 224, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-20-st0 {
  fill: #DB2906;
}

/* line 225, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-20-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 226, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-20-st2 {
  fill: #F5EC4A;
}

/* line 227, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-20-st3 {
  fill: #F1F1F2;
}

/* line 229, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-21-st0 {
  fill: #C52F50;
}

/* line 230, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-21-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 231, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-21-st2 {
  fill: #F5EC4A;
}

/* line 233, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-22-st0 {
  fill: #C64439;
}

/* line 234, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-22-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 235, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-22-st2 {
  fill: #FFFFFF;
}

/* line 236, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-22-st3 {
  fill: #272525;
}

/* line 238, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-23-st0 {
  fill: #570014;
}

/* line 239, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-23-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 240, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-23-st2 {
  fill: #FFFFFF;
}

/* line 242, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-24-st0 {
  fill: #80001E;
}

/* line 243, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-24-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 244, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-24-st2 {
  fill: #F5EC4A;
}

/* line 245, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-24-st3 {
  fill: #8F2E2E;
}

/* line 247, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-25-st0 {
  fill: #A9233C;
}

/* line 248, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-25-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 249, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-25-st2 {
  fill: #F5EC4A;
}

/* line 251, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-26-st0 {
  fill: #B1FE3C;
}

/* line 252, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-26-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 253, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-26-st2 {
  fill: #055E00;
}

/* line 255, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-27-st0 {
  fill: #DAC8E8;
}

/* line 256, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-27-st1 {
  opacity: 0.25;
  fill: #3E295E;
}

/* line 257, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-27-st2 {
  opacity: 0.25;
  fill: #272525;
}

/* line 258, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-27-st3 {
  fill: #580EA0;
}

/* line 260, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-28-st0 {
  fill: #580EA0;
}

/* line 261, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-28-st1 {
  opacity: 0.3;
  fill: #272525;
}

/* line 262, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-28-st2 {
  fill: #DAC8E8;
}

/* line 264, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-29-st0 {
  fill: #EAA627;
}

/* line 265, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-29-st1 {
  fill: #3C2E1F;
}

/* line 266, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-29-st2 {
  opacity: 0.2;
  fill: #272525;
}

/* line 268, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-30-st0 {
  fill: #90D4EC;
}

/* line 269, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-30-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 270, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-30-st2 {
  fill: #2A2760;
}

/* line 272, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-31-st0 {
  fill: #2F59C1;
}

/* line 273, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-31-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 274, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-31-st2 {
  fill: #BCCEEE;
}

/* line 276, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-32-st0 {
  fill: #DF5D16;
}

/* line 277, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-32-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 278, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-32-st2 {
  fill: #46266F;
}

/* line 279, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-32-st3 {
  fill: #D5652C;
}

/* line 280, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-32-st4 {
  fill: #FFFFFF;
}

/* line 282, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-33-st0 {
  fill: #67A82D;
}

/* line 283, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-33-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 284, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-33-st2 {
  fill: #BDFFAC;
}

/* line 285, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-33-st3 {
  fill: #272525;
}

/* line 287, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-34-st0 {
  fill: #CB0C00;
}

/* line 288, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-34-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 289, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-34-st2 {
  fill: #FFDDCA;
}

/* line 291, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-35-st0 {
  fill: #580EA0;
}

/* line 292, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-35-st1 {
  opacity: 0.2;
  fill: #E3D4ED;
}

/* line 293, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-35-st2 {
  fill: #E3D4ED;
}

/* line 295, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-36-st0 {
  fill: #7F1B3C;
}

/* line 296, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-36-st1 {
  opacity: 0.4;
  fill: #272525;
}

/* line 297, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-36-st2 {
  fill: #FFDCE9;
}

/* line 299, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-37-st0 {
  fill: #C72C82;
}

/* line 300, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-37-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 301, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-37-st2 {
  fill: #FFFFFF;
}

/* line 303, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-38-st0 {
  fill: #DA3B73;
}

/* line 304, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-38-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 305, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-38-st2 {
  fill: #FFFFFF;
}

/* line 307, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-39-st0 {
  fill: #DA3B73;
}

/* line 308, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-39-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 309, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-39-st2 {
  fill: #FFFFFF;
}

/* line 311, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-40-st0 {
  fill: #D470AB;
}

/* line 312, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-40-st1 {
  opacity: 0.15;
  fill: #272525;
}

/* line 313, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-40-st2 {
  fill: #FFFFFF;
}

/* line 315, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-41-st0 {
  fill: #B00051;
}

/* line 316, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-41-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 317, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-41-st2 {
  fill: #ECCACD;
}

/* line 319, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-42-st0 {
  fill: #B00051;
}

/* line 320, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-42-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 321, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-42-st2 {
  fill: #ECCACD;
}

/* line 323, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-43-st0 {
  fill: #C3FA55;
}

/* line 324, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-43-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 325, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-43-st2 {
  fill: #333B8C;
}

/* line 327, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-44-st0 {
  fill: #580E9D;
}

/* line 328, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-44-st1 {
  opacity: 0.4;
  fill: #281655;
}

/* line 329, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-44-st2 {
  fill: #E8AE4A;
}

/* line 331, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-45-st0 {
  fill: #FF8247;
}

/* line 332, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-45-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 333, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-45-st2 {
  fill: #FFFFFF;
}

/* line 335, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-46-st0 {
  fill: #80D443;
}

/* line 336, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-46-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 337, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-46-st2 {
  fill: #33348E;
}

/* line 339, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-47-st0 {
  fill: #1A1A1A;
}

/* line 340, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-47-st1 {
  fill: #627C2D;
}

/* line 341, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-47-st2 {
  opacity: 0.3;
  fill: #272525;
}

/* line 342, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-47-st3 {
  fill: #BDEC8F;
}

/* line 344, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-48-st0 {
  fill: #580EA1;
}

/* line 345, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-48-st1 {
  opacity: 0.4;
  fill: #281655;
}

/* line 346, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-48-st2 {
  fill: #F4D732;
}

/* line 348, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-49-st0 {
  fill: #E8B6B5;
}

/* line 349, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-49-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 350, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-49-st2 {
  fill: #71180F;
}

/* line 352, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-50-st0 {
  fill: #8E8F90;
}

/* line 353, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-50-st1 {
  fill: #CD8162;
}

/* line 354, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-50-st2 {
  opacity: 0.25;
  fill: #272525;
}

/* line 355, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-50-st3 {
  fill: #FFFFFF;
}

/* line 357, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-51-st0 {
  fill: #5700C7;
}

/* line 358, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-51-st1 {
  opacity: 0.4;
  fill: #000035;
}

/* line 359, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-51-st2 {
  fill: #FFFFFF;
}

/* line 361, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-52-st0 {
  fill: #DAC8E8;
}

/* line 362, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-52-st1 {
  opacity: 0.25;
  fill: #3E295E;
}

/* line 363, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-52-st2 {
  opacity: 0.25;
  fill: #272525;
}

/* line 364, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-52-st3 {
  fill: #580EA0;
}

/* line 366, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-53-st0 {
  fill: #5B36FA;
}

/* line 367, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-53-st1 {
  opacity: 0.5;
  fill: #000035;
}

/* line 368, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-53-st2 {
  fill: #FFFFFF;
}

/* line 370, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-54-st0 {
  fill: #A3E3F7;
}

/* line 371, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-54-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 372, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-54-st2 {
  fill: #2E3698;
}

/* line 374, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-55-st0 {
  fill: #4DD1F2;
}

/* line 375, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-55-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 376, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-55-st2 {
  fill: #2E3698;
}

/* line 378, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-56-st0 {
  fill: #C76114;
}

/* line 379, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-56-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 380, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-56-st2 {
  fill: #FFFFFF;
}

/* line 382, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-57-st0 {
  fill: #2B45A9;
}

/* line 383, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-57-st1 {
  opacity: 0.6;
  fill: #1C284F;
}

/* line 384, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-57-st2 {
  fill: #D9E6ED;
}

/* line 386, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-58-st0 {
  fill: #FFD548;
}

/* line 387, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-58-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 388, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-58-st2 {
  fill: #3C2E1F;
}

/* line 390, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-59-st0 {
  fill: #EFBE2C;
}

/* line 391, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-59-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 392, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-59-st2 {
  fill: #434244;
}

/* line 394, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-60-st0 {
  fill: #FFFF3C;
}

/* line 395, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-60-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 396, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-60-st2 {
  fill: #3C2E1F;
}

/* line 398, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-61-st0 {
  fill: #8600C1;
}

/* line 399, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-61-st1 {
  opacity: 0.25;
  fill: #000035;
}

/* line 400, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-61-st2 {
  fill: #FFFFFF;
}

/* line 402, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-62-st0 {
  fill: #E08E29;
}

/* line 403, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-62-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 404, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-62-st2 {
  fill: #272525;
}

/* line 405, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-62-st3 {
  fill: #A6A8AA;
}

/* line 407, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-63-st0 {
  fill: #6E007C;
}

/* line 408, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-63-st1 {
  opacity: 0.25;
  fill: #000035;
}

/* line 409, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-63-st2 {
  fill: #F3EAB1;
}

/* line 410, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-63-st3 {
  fill: #A6A8AA;
}

/* line 412, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-64-st0 {
  fill: #E08E29;
}

/* line 413, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-64-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 414, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-64-st2 {
  fill: #FBF4D8;
}

/* line 416, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-65-st0 {
  fill: #5D78D2;
}

/* line 417, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-65-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 418, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-65-st2 {
  fill: #FFFFFF;
}

/* line 420, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-66-st0 {
  fill: #A0522D;
}

/* line 421, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-66-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 422, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-66-st2 {
  fill: #FFFFFF;
}

/* line 424, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-67-st0 {
  fill: #429DE8;
}

/* line 425, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-67-st1 {
  opacity: 0.25;
  fill: #272525;
}

/* line 426, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-67-st2 {
  fill: #D5F2F9;
}

/* line 428, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-68-st0 {
  fill: #F1E8D0;
}

/* line 429, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-68-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 430, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-68-st2 {
  fill: #45727E;
}

/* line 432, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-69-st0 {
  fill: #F4D8B9;
}

/* line 433, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-69-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 434, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-69-st2 {
  fill: #384174;
}

/* line 436, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-70-st0 {
  fill: #3B7CD8;
}

/* line 437, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-70-st1 {
  opacity: 0.6;
  fill: #1C284F;
}

/* line 438, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-70-st2 {
  fill: #D5F2F9;
}

/* line 440, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-71-st0 {
  fill: #00FFFF;
}

/* line 441, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-71-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 442, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-71-st2 {
  fill: #333B8C;
}

/* line 444, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-72-st0 {
  fill: #FFC2AE;
}

/* line 445, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-72-st1 {
  opacity: 0.3;
  fill: #272525;
}

/* line 446, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-72-st2 {
  fill: #6A223C;
}

/* line 448, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-73-st0 {
  fill: #8B4513;
}

/* line 449, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-73-st1 {
  opacity: 0.3;
  fill: #272525;
}

/* line 450, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-73-st2 {
  fill: #FFFFFF;
}

/* line 452, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-74-st0 {
  fill: #8A360F;
}

/* line 453, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-74-st1 {
  opacity: 0.3;
}

/* line 454, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-74-st2 {
  fill: #272525;
}

/* line 455, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-74-st3 {
  fill: #FFFFFF;
}

/* line 457, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-75-st0 {
  fill: #FFD8A6;
}

/* line 458, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-75-st1 {
  opacity: 0.3;
  fill: #272525;
}

/* line 459, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-75-st2 {
  fill: #792935;
}

/* line 461, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-76-st0 {
  fill: #DF5DFB;
}

/* line 462, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-76-st1 {
  fill: #8E8F90;
}

/* line 463, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-76-st2 {
  opacity: 0.3;
  fill: #272525;
}

/* line 464, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-76-st3 {
  fill: #FFFFFF;
}

/* line 466, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-77-st0 {
  fill: #CA61CF;
}

/* line 467, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-77-st1 {
  opacity: 0.2;
  fill: #272525;
}

/* line 468, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-77-st2 {
  fill: #FFFFFF;
}

/* line 470, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-78-st0 {
  fill: #EAA627;
}

/* line 471, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-78-st1 {
  fill: #EDB92B;
}

/* line 472, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-78-st2 {
  opacity: 0.2;
  fill: #272525;
}

/* line 473, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-78-st3 {
  fill: #5C0015;
}

/* line 475, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-79-st0 {
  fill: #8925EA;
}

/* line 476, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-79-st1 {
  opacity: 0.25;
  fill: #000035;
}

/* line 477, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-fbuilder-79-st2 {
  fill: #FFFFFF;
}

/* line 479, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-happy-st0 {
  fill: #F5C343;
}

/* line 480, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-happy-st1 {
  fill: #FFFFFF;
}

/* line 482, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-happy-gray-st0 {
  fill: #cccccc;
}

/* line 483, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-happy-gray-st1 {
  fill: #FFFFFF;
}

/* line 485, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-inspired-st0 {
  fill: #8EB840;
}

/* line 486, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-inspired-st1 {
  fill: #FFFFFF;
}

/* line 488, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-sad-st0 {
  fill: #083C6B;
}

/* line 489, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-sad-st1 {
  fill: #FFFFFF;
}

/* line 491, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-angry-st0 {
  fill: #CC2229;
}

/* line 492, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-angry-st1 {
  fill: #FFFFFF;
}

/* line 494, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-annoyed-st0 {
  fill: #D35F2D;
}

/* line 495, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-annoyed-st1 {
  fill: #FFFFFF;
}

/* line 497, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-dont-care-st0 {
  fill: #434343;
}

/* line 498, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-dont-care-st1 {
  fill: #FFFFFF;
}

/* line 499, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-dont-care-st2 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* line 501, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-mood-nav-st0 {
  fill: #F5C343;
}

/* line 502, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-mood-nav-st1 {
  fill: #D35F2D;
}

/* line 503, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-mood-nav-st2 {
  fill: #CC2229;
}

/* line 504, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-mood-nav-st3 {
  fill: #76BECA;
}

/* line 505, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-mood-nav-st4 {
  fill: #FFFFFF;
}

/* line 507, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-default-st0 {
  fill: #8D8E90;
}

/* line 508, ../../sass/svg_icons/main_announcement_svg_icon.scss */
.svg-icon-mood-default-st1 {
  fill: #FFFFFF;
}
