<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">

        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font-awesome.min.css" />
        <link href="/css/bootstrap/bootstrap3.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/dashboard/gridstack.min.css" />
        <link rel="stylesheet" href="/css/scrollbar/perfect-scrollbar.min.css" />
        
        <link rel="stylesheet" href="/css/dashboard/ng-sortable.css">
        <link rel="stylesheet" href="/css/dashboard/ng-sortable.style.css">
        <link rel="stylesheet" href="/css/dashboard/svg.css">
        <link rel="stylesheet" href="/css/dashboard/angular-datatables.css" />
         <link rel="stylesheet" href="/css/dashboard/buttons.dataTables.css" />
        
        <link rel="stylesheet" href="/css/dashboard/datatables.bootstrap.min.css" />
         <link rel="stylesheet" href="/css/dashboard/dataTables.responsive.css" />
          <link rel="stylesheet" href="/css/dashboard/dataTables.colReorder.css" />
         
		  <link rel="stylesheet" href="/css/dashboard/ng-tags-input.min.css" />
          <link rel="stylesheet" href="/css/dashboard/ng-tags-input.bootstrap.min.css" />
         <!-- <link rel="stylesheet" href="/css/dashboard/dataTables.fixedColumns.css" /> -->
         <link href="/css/dashboard/dashboard.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/dashboard/widget-apps.css">
        <link rel="stylesheet" href="/css/dashboard/widget-feed.css" />
         <link rel="stylesheet" href="/css/dashboard/widget-view.css" />
        <link rel="stylesheet" href="/css/dashboard/widget-starred.css" />
		<link rel="stylesheet" href="/css/dashboard/widget-charts.css" />
        <link rel="stylesheet" href="/css/dashboard/widget-gantt-chart-template.css" />

         <!---ANGULAR GANTT -->
  <link rel="stylesheet" href="/js/functions/gantt/lib/angular-gantt/assets/angular-gantt.css">
  <link rel="stylesheet" href="/js/functions/gantt/lib/angular-gantt/assets/angular-gantt-plugins.css">
  <link rel="stylesheet" href="/js/functions/gantt/lib/angular-ui-tree/angular-ui-tree.min.css">




<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>  
<script src="/js/library/jqueryLib/jquery-ui.js"></script>
<script src="/js/library/bootstrap/bootstrap.js"></script>
<script src="/js/library/scrollbar/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/library/dashboard/jquery.dataTables.min.js"></script>  
<script src="/js/library/dataTables_ColReorder/ColReorder.js"></script>  
<script src="/js/library/dashboard/dataTables.responsive.js"></script>
<script src="/js/library/dashboard/dataTables.buttons.js"></script>
<!-- <script src="/js/library/dashboard/dataTables.fixedColumns.js"></script> -->
<!-- <script type="text/javascript" src="/js/library/gi/jquery.sparkline.min.js"></script>-->
<script src="/js/library/dashboard/gridstack/lodash.min.js"></script>
<script src="/js/library/dashboard/angular.min.js"></script>
<script src="/js/library/angular/angular-ui-router.min.js"></script>    
<script src="/js/library/bootstrap/ui-bootstrap-tpls-1.3.1.min.js"></script>



 

  <!---ANGULAR GANTT -->
    <!---angular files here... -->
    <script src="/js/functions/gantt/lib/angular-perfect-scrollBar/angular-perfect-scrollbar.js"></script>
    <script src="/js/functions/gantt/lib/angular-moment/moment.js"></script>
    <script src="/js/functions/gantt/lib/angular-moment/angular-moment.js"></script>
    <script src="/js/functions/gantt/lib/jsPlumb/jsPlumb-2.1.2.js"></script>
    <script src="/js/functions/gantt/lib/angular-ui-tree/angular-ui-tree.min.js"></script>
    <script src="/js/functions/gantt/lib/css-element-queries/src/ElementQueries.js"></script>
    <script src="/js/functions/gantt/lib/css-element-queries/src/ResizeSensor.js"></script>

    <!---angular-gantt files here... -->
    <script src="/js/functions/gantt/lib/angular-gantt/assets/angular-gantt.js"></script>
    <script src="/js/functions/gantt/lib/angular-gantt/assets/angular-gantt-plugins.js"></script>

    <!-- include source files here... -->
    <script src="/js/functions/gantt/app.js"></script>
    <script src="/js/functions/gantt/component/job_selector/JobService.js"></script>
    <script src="/js/functions/gantt/component/job_selector/JobTaskService.js"></script>
    <script src="/js/functions/gantt/shared/util/FormattingService.js"></script>
    <script src="/js/functions/gantt/component/widget_gantt/GanttChartDataService.js"></script>
    <script src="/js/functions/gantt/component/widget_gantt/GanttChartPreferencesService.js"></script>
    <script src="/js/functions/gantt/component/widget_gantt/GanttChartController.js"></script>


<!-- Angular PlugIns -->
<script src="/js/library/dashboard/ngtimeago.js"></script> 
<script src="/js/library/dashboard/ng-infinite-scroll.js"></script> 
<script src="/js/library/dashboard/angular-sanitize.js"></script>   
<script src="/js/library/dashboard/angular-animate.min.js"></script>  
<script src="/js/library/dashboard/gridstack.js"></script>
 <!-- <script src="/js/library/dashboard/gridstack-angular.min.js"></script>-->
<script src="/js/library/dashboard/gridstack.controller.js"></script>
<script src="/js/library/dashboard/gridstack.directive.js"></script>
<script src="/js/library/dashboard/gridstackitem.directive.js"></script>   
<script src="/js/library/dashboard/ng-sortable.min.js"></script>


<script src="/js/library/dashboard/angular-datatables.js"></script>
<script src="/js/library/dashboard/angular-datatables.min.js"></script>
<script src="/js/library/dashboard/angular-datatables.buttons.min.js"></script>
<script src="/js/library/dashboard/angular-datatables.colreorder.min.js"></script>
<script src="/js/library/dashboard/ng-tags-input.min.js"></script>


<script src="/js/library/dashboard/Chart.min.js"></script>
<script src="/js/library/dashboard/angular-chart.min.js"></script>
<!-- <script src="/js/library/dashboard/dataTables.responsive.js"></script> -->

<!-- <script src="/js/library/dashboard/angular-datatables.fixedcolumns.min.js"></script>
 -->
<script src="/js/library/dashboard/angular-datatables.bootstrap.min.js"></script>
<!-- Angular PlugIns -->


<script src="/js/functions/dashboard_new/utilities-module.js"></script>
<script src="/js/functions/dashboard_new/widget-feeds.js"></script> 
<script src="/js/functions/dashboard_new/widget-apps-module.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/dashboard-header.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/links/LinksService.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/links/LinkController.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/notifications/NotificationService.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/notifications/NotificationController.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/theme/ThemeService.js"></script>
<script src="/js/functions/dashboard_new/dashboard_components/theme/ThemeDirective.js"></script>


<script src="/js/functions/dashboard_new/dashboard-models.js"></script>
  <script src="/js/functions/dashboard_new/dashbaord-module.js"></script>


    </head>

  <body ng-app="myApp" ng-controller="Gridcontent">
<!--     <?php
    // echo '<input type="hidden" value="' . htmlspecialchars($data) . '" />'."\n";
    ?> -->
    <ng-include src="'/modules/dashboard/templates/main-ui-announcement-svg.html'"> </ng-include>

    <!-- <ng-include src="'/modules/dashboard/templates/header.html'"> </ng-include> -->
   <?php include("../templates/header.html");?>
   
    <theme-style></theme-style>
    <div class="container-mod" ui-view >
          
          <!--SideBar Template!!!!!! col-sm-3 col-md-2-->
        <div class=" sidebar navigation {{isNav?'sidebar-show':''}}"> 
          <div class="navigation-toggle" ng-click="(isNav?isNav=false:isNav=true);navigation()"><i class="fa fa-navicon"></i></div>
          
          <ul class="nav nav-sidebar">
            <li><a href="/modules/dashboard/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li ng-show="config.navigation" class="nav-item-navigation"><a href="#"><i class="fa {{(isNavLoaded?'fa-tasks':'fa-circle-o-notch fa-spin')}}"></i><span>Navigation</span></a></li>
            <li ng-show="config.my-requests"><a href="/user_view/my-requests"><i class="fa fa-file-text"></i> <span>My Requests</span></a></li>

            <li ng-if="configProp.gs3_insights.properties.visibility!=true && configProp.gs3_insights.properties.user == current_user.level">
              <a href="#"><i class="fa fa-line-chart"></i> <span>Insights</span></a>
              <ul class="fl-infinite-nav-sub">
                <li ng-show="config.organizational_charts.create_organizational_chart"><a href="/user_view/organizational_chart">Create Organizational Chart</a></li>
                <li ng-show="config.organizational_charts.list_organizational_chart"><a href="/user_view/organizational_chart_list">Organizational Chart List</a></li>
              </ul>
            </li>

            <li ng-show="config.print_form"><a href="/user_view/print_form_list"><i class="fa fa-print"></i> <span>Print Form</span></a></li>
            
           
            <!-- Administrative tools -->
            <li ng-if="configProp.organizational_charts.properties.visibility!=true && configProp.organizational_charts.properties.user == current_user.level">
              <a href="#"><i class="fa fa-group"></i> <span>Organizational Charts</span></a>
              <ul class="fl-infinite-nav-sub">
                <li ng-show="config.organizational_charts.create_organizational_chart"><a href="/user_view/organizational_chart">Create Organizational Chart</a></li>
                <li ng-show="config.organizational_charts.list_organizational_chart"><a href="/user_view/organizational_chart_list">Organizational Chart List</a></li>
              </ul>
            </li>
            <li ng-if="configProp.forms.properties.visibility!=true && configProp.forms.properties.user == current_user.level">
              <a href="#"><i class="fa fa-files-o"></i> <span>Forms</span></a>
              <ul class="fl-infinite-nav-sub">
                <li ng-show="config.forms.create_forms"><a href="/user_view/formbuilder?formID=0" class="">Create Form</a></li>
                <li ng-show="config.forms.list_forms"><a href="/user_view/form_list" class="">Form List</a></li>
              </ul>
            </li>
            <li ng-if="configProp.workflows.properties.visibility!=true && configProp.workflows.properties.user == current_user.level">
              <a href="#"><i class="fa fa-print"></i><span>Workflows</span></a>
              <ul class="fl-infinite-nav-sub">
                <li ng-show="config.workflows.create_workflow"><a href="/user_view/workflow" class="">Create Workflow</a></li>
                <li ng-show="config.workflows.list_workflow"><a href="/user_view/workflow_list" class="">Workflow List</a></li>
              </ul>
            </li>
            <li ng-if="configProp.reports.properties.visibility!=true && configProp.reports.properties.user == current_user.level">
              <a href="#"><i class="fa fa-file-text"></i> <span>Reports</span></a>
              <ul class="fl-infinite-nav-sub">
                <li ng-show="config.reports.create_reports"><a href="/user_view/report" class="">Create Report</a></li>
                <li ng-show="config.reports.list_reports"><a href="/user_view/report_list" class="">Report List</a></li>
              </ul>
            </li>
            
            <li ng-if="configProp.administer.properties.visibility!=true && configProp.administer.properties.user == current_user.level">
              <a href="#"><i class="fa fa-gears"></i> <span>Administer</span></a>
              <ul class="fl-infinite-nav-sub">
                <li ng-show="config.administer.app_configuration==1"><a href="/user_view/app_configuration" class="">Application Configuration</a></li>
                <li ng-show="config.administer.form_category==1"><a href="/user_view/form_category" class="">Form Category</a></li>
                <li ng-show="config.administer.group_settings==1"><a href="/user_view/group_settings" class="">Group Settings</a></li>
                <li ng-show="config.administer.nav_settings==1"><a href="/user_view/nav_settings" class="">Navigation Settings</a></li>
                <li ng-show="config.administer.position_settings==1"><a href="/user_view/position_settings" class="">Position Settings</a></li>
                <li ng-show="config.administer.rule_settings==1"><a href="/user_view/rule_settings" class="">Rule Settings</a></li>
                <li ng-show="config.administer.suggestion_box_list==1"><a href="/user_view/suggestions" class="">Suggestion List Box</a></li>
                <li ng-show="config.administer.user_settings==1"><a href="/user_view/user_settings" class="">User Settings</a></li>
                <li ng-show="config.administer.delegation==1"><a href="/user_view/delegate" class="">Delegation</a></li>
                <li ng-show="config.administer.external_database==1"><a href="/user_view/external_database" class="">External Database</a></li>
                <li ng-show="config.administer.link_maintenance==1"><a href="/user_view/link_maintenance" class="">Link Maintenance</a></li>
                <li ng-show="config.administer.system_logs==1"><a href="/user_view/user_settings" class="">System Logs</a></li>
                
              </ul>
            </li>

            <li ng-show="config.suggestion_box"><a href="#"><i class="fa fa-dropbox"></i> <span>Suggestion Box</span></a></li>
            <li ng-if='config.trash_bin!=0'><a href="#"><i class="fa fa-trash-o"></i> <span>Trash Bin</span></a></li>
            
          </ul>
        </div>

        <div class="dashboard-config {{isConfig?'dashboard-config-show':''}}">
          <div class="dashboard-config-toggle" ng-click="isConfig?isConfig=false:isConfig=true"><i class="fa fa-gear"></i></div>
          <div class="config-title"><span>Dashboard Configuration</span></div>
          <div class="config-containter">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-click="addRemoveFeedWidget()">
                  <span class="conf-item-control"><i class="fa fa-circle{{ShowFeed?'':'-o'}}"></i></span><label>Widget Feed</label>
                </a>
                <a href="#" class="list-group-item" ng-click="addRemoveStarredWidget()">
                  <span class="conf-item-control" ><i class="fa fa-circle{{ShowStarred?'':'-o'}}"></i></span><label>Widget Starred</a></label>
                <a href="#" class="list-group-item">
                  <span class="conf-item-control"><i class="fa fa-circle-o"></i></span><label>Widget My Request</a></label>
                <a href="#" class="list-group-item"  ng-click="addWidget()">
                  <span class="conf-item-control"><i class="fa fa-plus"></i></span><label>Widget Apps</a></label>
                <a href="#" class="list-group-item"  ng-click="addWidgetGanttChart()">
                  <span class="conf-item-control"><i class="fa fa-plus"></i></span><label>Widget Gantt Chart</label></a>
               
            </div>
            <div ng-if = "current_user.level == 'admin'"class="list-group">
                <a ui-sref="test()" class="list-group-item">
                  <span class="conf-item-control"></span><label>Select Dashboard Template</label>
                </a>
                <a ui-sref="designer()" class="list-group-item" >
                  <span class="conf-item-control" ></span><label>Create Dashboard Template</a></label>
            </div>
          </div>
        </div>

      <div class="row row-offcanvas row-offcanvas-right">

       <!--  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
       
        </div>  -->

        <!--BODY START-->
       <!-- <div> 
            <a class="btn btn-primary" ng-click="addWidget()" href="#">Add Widget</a>
        </div> -->
     <!--  {{widgets}} -->
         <div class="layout-controls text-muted">
         <!--   <span ng-switch-when = "false" ng-click = "editLayout()" >Edit</span> -->
            <span  ng-if="isChanged" ng-click ="saveLayout()" >Save</span>
            <!-- <span ng-click="navigation()">Navigation</span> -->
          <!--   <span ng-switch-when = "true" ng-click = "cancelEditLayout()" >Cancel</span> -->
        </div>       

         <div gridstack class="grid-stack grid1" on-drag-stop="onDragStop(event,ui)" on-resize-stop="onResizeStop(event,ui)" options="options">
                    
                    <div gridstack-item ng-repeat="w in widgets track by w.id" ng-switch="w.type" id="w.id" data-id="w.id" data-type="w.type" data-gs-min-height="3" data-gs-min-width="3" ng-animate="'animate'" class="grid-stack-item repeated-item"  gs-item-x="w.x" gs-item-y="w.y"
                         gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="0" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                         

                            <!-- APPS Widget-->
                            
                            <widget-apps ng-switch-when="widgetApps" data-app-id="{{::w.id}}" remove-widget="removeWidget(w)" class="grid-stack-item-content">
                                <a class="btn btn-danger pull-right remove-widget"  ng-click="removeWidget(w)" href="#">X</a>
                            </widget-apps>

                            <!-- Gantt Chart Widget -->
                             <widget-gantt-chart ng-switch-when="widgetGanttChart" data-app-id="{{::w.id}}" remove-widget="removeWidget(w)" class="grid-stack-item-content" parent="w">
                            </widget-gantt-chart>


                            <!-- Feeds Widget-->
                            <widget-feeds ng-switch-when="widgetFeeds"  view-type='{{viewType}}' remove-widget="removeWidget(w)" class="grid-stack-item-content">
                               <!--  <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a> -->
                            </widget-feeds>

                            <!-- View Widget-->
                            <widget-view ng-switch-when="widgetView" parent="w" remove-widget="removeWidget(w)" on-resize-stop="onResizeStop(event,ui)" class="grid-stack-item-content">

                            
                            <!--   <div class="ibox-title">
                                  <h5>
                                    <span>{{w.object_form_name}}</span>
                                  </h5> 
                                  <div class="pull-right">
                                    <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
                                  </div>
                              </div>
                              <div class="container-fluid ibox-content scrollable">
    
                              </div> -->
                              <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
                            </widget-view>

                            <!-- View Starred-->
                            <widget-starred ng-switch-when="widgetStarred" parent="w" remove-widget="removeWidget(w)" on-resize-stop="onResizeStop(event,ui)" class="grid-stack-item-content">
                             <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>
                            </widget-starred>

                            <!-- Empty-->
                            <div ng-switch-when="undefined" class="grid-stack-item-content">
                                <a class="btn btn-danger pull-right remove-widget" ng-click="removeWidget(w)" href="#">X</a>

                            </div>

                    </div>

                    


                </div>

        <!--BODY END-->
        <!-- <widget-apps></widget-apps> -->
      </div>

    </div>

     
   
      

   
    <script src="/js/functions/dashboard_new/widget-lists.js"></script>

<script src="/js/library/dashboard/ng-sortable.min.js"></script>
<script src="/js/functions/dashboard_new/utilities-module.js"></script>
<script src="/js/functions/dashboard_new/widget-apps-module.js"></script>
<script src="/js/functions/dashboard_new/widget-lists.js"></script>
<script src="/js/functions/dashboard_new/widget-view-module.js"></script>
<script src="/js/functions/dashboard_new/widget-chart-module.js"></script>
<script src="/js/functions/dashboard_new/dashboard-models.js"></script>

  



</body></html>