
<script src="/js/library/angular/angular.min.js"></script> 	

<div ng-app = "OtherModule"  >
    wefsfsf
    <div ng-controller = "AnnAppController">
        <div ng-repeat = "(key,value) in data" >
            {{key}}
        </div>
    </div>
    <div ng-controller = "WidgetAppController">
        <div ng-repeat = "(key,value) in data" >
            {{key}}
        </div>
    </div>
      wefsfsfqwqwqwqwqwqwqw
   

</div>




