
<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>
<script src="/js/library/angular/angular.min.js"></script>
<script src="/js/library/dashboard/ng-sortable.min.js"></script>
<script src="/js/functions/dashboard/utilities-module.js"></script>
<script src="/js/functions/dashboard/widget-lists.js"></script>
<script src="/js/functions/dashboard/dashboard-models.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/dashboard/ng-sortable.css">
<link rel="stylesheet" href="/css/dashboard/ng-sortable.style.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dashboard/widget-apps.css">

<div ng-app = "WidgetListsModule">
	
	<!-- <div class="container-fluid widget-apps-main-container">
		<div class= "row">
			<div class = "widget-apps-heading">
				<div class = "widget-apps-heading-title">Apps</div>
				
				<div ng-switch="widgetApps.isSortable" class = "widget-apps-heading-actions">
					<span ng-switch-when = "false" ng-click = "widgetApps.toggle(false)" >Edit</span>
					<span ng-switch-when = "true" ng-click = "widgetApps.toggle(true)" >Save</span>
					<span ng-switch-when = "true" ng-click = "widgetApps.toggle(false)" >Cancel</span>
				</div>
			</div>
		</div>
		<div>
			<div as-sortable="sortableOptions" class = "row" ng-model="widgetApps.data" id="sortable-container" is-disabled = "!widgetApps.isSortable" >
				<div loading></div>
				<div ng-repeat = "datum in widgetApps.data" as-sortable-item >
					<div data-as-sortable-item-handle>
						<div class="widget-apps-icon-container">
							<svg class= "widget-apps-icon" viewBox="-1 -1 91.264 90.597">                
		                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{datum.portal_icon}}">
		                        </use>
		                     </svg>
		                     <div class= "widget-apps-action-container" ng-switch="widgetApps.isSortable">
		                     	<div ng-switch-when = "false">
					    			<a target="_blank" class="widget-apps-action" href="/user_view/workspace?view_type=request&formID={{datum.form_id}}&requestID=0" > 
					    				Create New {{widgetApps.isSortable}}
					    			</a>
					    			<a target="_blank"class="widget-apps-action" href="/user_view/application?id= {{datum.form_id_encrypted}}"> View Requests </a>
				    			</div>
				    			<div  ng-switch-when = "true">
				    				
					    			<a target="_blank"class="widget-apps-action" ng-if = "datum.user_preference_visible" ng-click = "widgetApps.removeFromPreferences($index)"> Remove </a>
					    			<a target="_blank"class="widget-apps-action" ng-if = "!datum.user_preference_visible" ng-click = "widgetApps.addToPreferences($index)">Add</a>
					    			
				    			</div>
			    			</div>
		                </div>
					
		    			<div class="widget-apps-label">{{datum.form_name}}</div>
			    	
		    		</div>
		    	</div>
			</div>
		</div>
	</div> -->
  		
	<!-- <div class="container-fluid">
        <div class="row">
                <div id="sortable-container2">
                    <div  as-sortable="sortableOptions" ng-model="data">
                        <div ng-repeat="datum in data" as-sortable-item=""  >
                            <div as-sortable-item-handle="">{{datum.form_name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
     <!-- <widget-requests>
	</widget-requests> -->
	<widget-pinned-reports>
</widget-pinned-reports>

</div>

