

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font-awesome.min.css" />

<link rel="stylesheet" href="/css/bootstrap/bootstrap3.min.css" />
<link rel="stylesheet" href="/css/scrollbar/perfect-scrollbar.min.css" />

<link rel="stylesheet" href="/css/dashboard/widget-feed.css" />


<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script> 	

<script src="/js/library/angular/angular.min.js"></script> 	
<script src="/js/library/dashboard/angular-sanitize.js"></script> 	

<script src="/js/library/dashboard/ngtimeago.js"></script> 
<script src="/js/library/scrollbar/perfect-scrollbar.jquery.min.js"></script> 


<script src="/js/library/dashboard/ng-infinite-scroll.js"></script> 



<script src="/js/functions/dashboard/dashboard-models.js"></script> 	
<script src="/js/functions/dashboard/widget-feeds.js"></script> 





<body id="body" ng-app="WidgetFeedsModule" >
	<div class="ui-widget-feed" id="widget-feed-container" ng-controller='WidgetFeedsController'>
<!-- 		<div > -->
			<!-- <div ng-repeat="app in apps">{{app.Name}} </div> -->
			<div class="feed-content feed-activity-list"  infinite-scroll='posts.loadMore();'  infinite-scroll-parent="true">
				<!-- infinite-scroll-container="'#widget-feed-container'" -->
				<!-- <div class="feed-activity-list"> -->
			<!-- <input type="search" class="" ng-model="fil"> -->
					<div class="feed-element" ng-repeat="n in posts.posts">
						<a class="pull-left">
							<img class="img-circle" ng-src="{{n.author_image_url}}"/>
						</a> 

					
						<div class="media-body" ng-switch="{{n.type}}">
		                    <small class="pull-right">{{n.date_posted|timeago}}</small>
		                    <strong>{{n.author_display_name}}</strong>
                    		<small ng-switch-when="1">posted an Announcement.</small>
                    		<small ng-switch-when="2">posted a Survey.</small>
	                    	<br> <!-- posted a new blog. -->

		                    <small ng-switch="{{n.visibility_type_id}}" class="text-muted"> {{n.date_posted}} &nbsp
		                    	<i class="fa fa-building" ng-switch-when="2"></i>
		            			<i class="fa fa-users" ng-switch-when="3"></i>

		                    </small>
		            
		              		
		            		<!-- Post Content -->
		           			<div class="well" ng-bind-html="n.announcement"  ng-switch-when="1"></div>
		           			<div class="well" ng-bind-html="n.survey_question"  ng-switch-when="2"></div>
		                   	
	                    	<ul ng-switch-when="2" class="survey_responses">

	                    		<li ng-repeat="resp in n.survey_selectable_responses" class="survey_response_item">

	                    			<!-- {{n.survey_my_responses}} -->
	                    			<span ng-if="n.survey_my_responses==null">
		                    			<input ng-if="n.enable_multiple_responses==0" type="radio" name="{{resp.survey_id}}" value="{{resp.id}}" class=""></input>
		                    			<input ng-if="n.enable_multiple_responses==1" name="{{resp.survey_id}}" type="checkbox" value="{{resp.id}}" class=""></input>
	                    			</span>
	                    			<span>{{resp.text}}
	                    				<div class="progress" ng-if="n.survey_my_responses!=null">
										  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
										  aria-valuemin="0" aria-valuemax="10" style="width:70%">
										    <span class="sr-only">200 Votes</span>
										  </div>
									</div>

	                    			</span>
	                    			
	                    		</li>
	                    	</ul>
	                    	
		                   

		                </div>
		                <div class="section pull-right">
		                	
		                	<a class="btn btn-xs btn-white text-muted" title="Moods"><i class="fa fa-smile-o"></i> <span ng-if="n.comment_count>0">{{n.comment_count}} </span> Moods</a>
		                	<a class="btn btn-xs btn-white text-muted" title="Comments"><i class="fa fa-comment"></i> <span ng-if="n.comment_count>0">{{n.comment_count}}</span> Comments</a>
		                </div>
		               <div class="section pull-left">
		                	
		                	<a ng-if="n.type == 2" class="btn btn-xs btn-white text-muted" title="Moods"><i class="fa fa-pencil"></i> Edit</a>
		                </div>
					</div>
					

				<!-- </div> -->
				<center style="margin-bottom:10px;">
					<h5 ng-if="posts.busy"><i class="fa fa-spinner fa-spin"></i> Loading...</h5>
				</center>
			</div>
			
<!-- <div style="clear:both;"></div> -->
			
			<!-- <h1  ng-if="result.length ==0">No results</h1> -->
		<!-- </div> -->
	</div>
	
</body>


<script>



(function(){
	$("#widget-feed-container").perfectScrollbar();

})()


</script>
