.left-arrow-wrapper, .right-arrow-wrapper {
	z-index:100000;
	background-color:#B5C1C8;
	width:12px;
	color:#ffffff;
	height:inherit;
  	position:absolute;
	cursor:pointer;
	@extend .trans_duration3;
	
	.isDisplayTable {

		height:100%;
		width:100%;
		.isDisplayTableCell {
	  		vertical-align: middle;
		  	text-align: center;
		  	font-size: 20px;
  		}
	}

	&:hover {
		background-color:#3A4B55;
		color: #ffffff;
	}

}

.left-arrow-wrapper {
	left:0px;
	top:0px;
	border-top-right-radius: 10px;
  	border-bottom-right-radius: 10px;

}

.right-arrow-wrapper {
	right:0px;
	top:0px;
	border-top-left-radius: 10px;
  	border-bottom-left-radius: 10px;
}

.fl-links-option-category.safariBrowser {
	vertical-align:top;
}