<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);

if($mod['others']['edit_account'] == "1"){

?>

<?php
   $db = new Database();
   $auth = Auth::getAuth('current_user');
   $userCompany = new userQueries();
   $company = $userCompany->getCompany($auth['company_id']);
   $User_Settings_Functions = new User_Settings_Functions();
   //functions::landing_page($auth);
?>
<div class="fl-option-toolbar">
    <div class="account-settings icon"></div>
    <div class="fl-toolbar-left-wrapper">
      <h1>Account Settings</h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
        <!-- <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
       
    </div>
     <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
  <br/>
<div class="fl-account-settings">
<div class="fl-head-title-wrapper">
  <div class="fl-tab-wrapper" style="float: right;">
      <ul id="tabs">
          <li class="accountInfo_basicInformation"><a id="tab1" class="active">Basic Information</a></li>
          <li class="accountInfo_username"><a id="tab2">Change Your Username</a></li>
          <li class="accountInfo_password"><a id="tab3">Change Your Password</a></li>
          <?php
             if($auth['user_level_id']=="2"){
                echo '<li class="accountInfo_password"><a id="tab4">Company Information</a></li>';
             }
          ?>
          <li class="accountInfo_logs"><a id="tab5">Logs Settings</a></li>
      </ul>
  </div>
  <h2>General Account Settings</h2> 
</div>
     
  <div class="tab-container" id="tab1C"><span><i class="fa fa-pencil-square-o"></i> Change Basic Information</span>
  <div class="fl-edit-profile-wrapper">
      <div class="section clearing">
          <div class="column div_1_of_4">
                <div class="large-avatar-wrapper">
               <?php echo $userCompany->avatarPic("companyUser",$auth['id'],"240","230","large"," userPhoto personalPhoto"); ?>
            </div><Br/>
            <form action="/ajax/upload" method="POST" class="uploadingProfilePic" id="personal_photo" enctype="multipart/form-data">
              <div class="pull-left">
                 <div id="uniform-fileInput" class="uploader">
                    <input type="file" data-action-id="2" value="upload" name="userProfilePic" id="uploadForm" data-action-type="userPhoto" size="24" class="upfile isOpacity0">
                       <input type="hidden" value="companyUser" name="userType" />
                       <span id="uploadFilename_2" class="filename">No file selected</span>
                       <span class="action">Choose File</span>
                 </div>
              </div>
           </form>
            
               <div class="spinner  loaderUploadProfile Acs_fl-loading isDisplayNone">
                 <div class="bar1"></div>
                 <div class="bar2"></div>
                 <div class="bar3"></div>
                 <div class="bar4"></div>
                 <div class="bar5"></div>
                 <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
              </div>
              <br><br>
              <!--<div class="fl-fields" style="border-bottom:none;"><span class="theme-font-color">Choose name to display</span></div>
            <div class="fl-fields" style="border-bottom:none;margin-top:-15px;">
               <?php
               //$user_info = json_decode($auth['json_tbl'],true);
               //
               //   if($user_info['display_name'] == "Account name"){
               //      $checked = "checked=checked";
               //   }else{
               //      $checked = "";
               //   }
               //   if($user_info['display_name'] == "Full Name"){
               //      $checked_1 = "checked=checked";
               //   }else{
               //      $checked_1 = "";
               //   }
               ?>
               <input type="radio" name="set_display_name" <?php //echo $checked; ?> value="<?php //echo "Account name"; ?>" />
                  Account name
               <input type="radio" name="set_display_name" <?php //echo $checked_1; ?> value="<?php //echo "Full Name"; ?>" />
                  Full Name
               <div class="fl-fields">
                  <input type="button" data-type="set_display" class="btn-blueBtn fl-btn-left fl-margin-right save_set_display  fl-default-btn"  id="save_set_display" value="Save" style="width:85px!important; margin-top:5px;">
               </div>   
            </div>-->
             </div>
              <div class="column div_3_of_4">
                  <form class="personal_info" method="POST">
           <?php
              //if($auth['display_name']!=""){
           ?>
           <div class="fl-fields"><span class="theme-font-color">Account Name</span>:
             <div class="fl-input_position">
               <label class="uInfo_lbl label_value " id=""><?php echo $auth['display_name'];?></label>
               <!--<label class="uInfo_lbl label_value uInfo_<?php echo $auth['id'];?>" id="uInfo_displayName<?php echo $auth['id'];?>"><?php echo $auth['display_name'];?></label>-->
                <!--<input type="text" id="eInfo_<?php //echo $auth['id'];?>" name="displayName" class="uInfo_lbl isDisplayNone Asc_fl-iditablefld eInfo_<?php //echo $auth['id'];?>" value="<?php //echo $auth['display_name'];?>">-->
      
              </div>
           </div>
           <?php
              if(ALLOW_ACTIVE_DIRECTORY == "1"){
           ?>
           <div class="fl-fields"><span class="theme-font-color">Username</span>:
             <div class="fl-input_position">
               <label class="uInfo_lbl label_value " id=""><?php echo $auth['username'];?></label>
               <!--<label class="uInfo_lbl label_value uInfo_<?php echo $auth['id'];?>" id="uInfo_displayName<?php echo $auth['id'];?>"><?php echo $auth['display_name'];?></label>-->
                <!--<input type="text" id="eInfo_<?php //echo $auth['id'];?>" name="displayName" class="uInfo_lbl isDisplayNone Asc_fl-iditablefld eInfo_<?php //echo $auth['id'];?>" value="<?php //echo $auth['display_name'];?>">-->
      
              </div>
           </div>
           <?php
              }
           ?>
           <?php
              //}
              //if($auth['first_name']!=""){
           ?>
           <div class="fl-fields"><span class="theme-font-color">First Name</span>:
             <div class="fl-input_position">
			  <label class="uInfo_lbl label_value "><?php echo $auth['first_name'];?></label>
               <!--label class="uInfo_lbl label_value uInfo_<?php //echo $auth['id'];?>" id="uInfo_firstName<?php //echo $auth['id'];?>"><?php //echo $auth['first_name'];?></label-->
               <!--input type="text" id="eInfo_<?php echo $auth['id'];?>" name="firstName" class="uInfo_lbl isDisplayNone Asc_fl-iditablefld input-medium eInfo_<?php //echo $auth['id'];?> efInfo_<?php //echo $auth['id'];?>" value="<?php //echo $auth['first_name'];?>"-->
             </div>
           </div>
           <?php
              //}
              //if($auth['middle_name']!=""){
           ?>
           <!--div class="fl-fields"><span class="theme-font-color">Middle Name</span>:
             <div class="fl-input_position"> 
               <label class="uInfo_lbl label_value " ><?php echo $auth['middle_name'];?></label>
               <!--label class="uInfo_lbl label_value uInfo_<?php echo $auth['id'];?>" id="uInfo_middleName<?php //echo $auth['id'];?>"><?php //echo $auth['middle_name'];?></label-->
               <!--input type="text" id="eInfo_<?php echo $auth['id'];?>" name="middleName" class="uInfo_lbl isDisplayNone Asc_fl-iditablefld input-medium eInfo_<?php //echo $auth['id'];?>" value="<?php //echo $auth['middle_name'];?>"-->
             <!--/div>
           </div-->
           <?php
              //}
              //if($auth['last_name']!=""){
           ?>
           <div class="fl-fields"><span class="theme-font-color">Last Name</span>:
             <div class="fl-input_position">
               <label class="uInfo_lbl label_value "><?php echo $auth['last_name'];?></label>
               <!--label class="uInfo_lbl label_value uInfo_<?php //echo $auth['id'];?>" id="uInfo_lastName<?php //echo $auth['id'];?>"><?php //echo $auth['last_name'];?></label-->
               <!--input type="text" id="eInfo_<?php echo $auth['id'];?>" name="lastName" class="uInfo_lbl isDisplayNone Asc_fl-iditablefld input-medium eInfo_<?php //echo $auth['id'];?> elInfo_<?php //echo $auth['id'];?>" value="<?php //echo $auth['last_name'];?>"-->
             </div>
           </div>
           <?php
              //}
              //if($auth['contact_number']!=""){
           ?>
           <div class="fl-fields"><span class="theme-font-color">Contact Number</span>:
             <div class="fl-input_position">
               <label class="uInfo_lbl label_value uInfo_<?php echo $auth['id'];?>" id="uInfo_contactNumber<?php echo $auth['id'];?>"><?php echo "0".$auth['contact_number']; ?></label>
               <input type="text" id="eInfo_<?php echo $auth['id'];?>" name="contactNumber" class="uInfo_lbl isDisplayNone Asc_fl-iditablefld input-medium eInfo_<?php echo $auth['id'];?>" value="<?php echo "0".$auth['contact_number']; ?>">
             </div>
           </div>
           <?php
              //}
              //if($auth['position']!=""){
              if($auth['user_level_id'] != "4"){
           ?>
           <div class="fl-fields"><span class="theme-font-color">Position</span>:
             <div class="fl-input_position">
               <!-- <label class="uInfo_lbl label_value" id="uInfo_<?php //echo $auth['id'];?>"><?php //echo $auth['position'];?></label> -->
               <?php
                $db = new Database();
                $getPosition = $db->query("SELECT position FROM tbpositions WHERE id = '". $auth['position'] ."'","row");
               ?>
               <label class="uInfo_lbl label_value" id="uInfo_<?php echo $auth['id'];?>"><?php echo $getPosition['position'];?></label>
               
             </div>
           </div>
           <?php
              }
              //}
              //if($auth['date_registered']!=""){
           ?>
           <div class="fl-fields"><span class="theme-font-color">Date Registered</span>:
             <div class="fl-input_position">
               <label class="uInfo_lbl label_value" id="uInfo_<?php echo $auth['id'];?>"><?php echo $auth['date_registered'];?></label>
             </div>
           </div>
           <?php
              //}
           ?>
          <div class="fl-fields">
            <div class="fl-input_position">
              <label class="label_value uInfo_211"></label>
              
              <input type="button" data-action-type="personal_info" class="btn-blueBtn fl-btn-left fl-margin-right edit_personalInfo uInfo_<?php echo $auth['id'];?>" data-id="<?php echo $auth['id'];?>" id="edit_personalInfo" value="Edit" style="width:85px!important; margin-top:5px;">
              <input type="button" data-action-type="personal_info" class="btn-blueBtn fl-margin-right save_personalInfo eInfo_<?php echo $auth['id'];?> display" data-id="<?php echo $auth['id'];?>" id="save_personalInfo" value="Save">
              <input type="button" data-action-type="personal_info" class="fl-buttonEffect fl-margin-right btn-basicBtn cancel_personalInfo eInfo_<?php echo $auth['id'];?> display" data-id="<?php echo $auth['id'];?>" id="cancel_personalInfo" value="Cancel">
            </div>
          </div>
          </form>
              </div>
      </div>
  </div>
  </div>
  <div class="tab-container" id="tab2C"><span><i class="fa fa-pencil-square-o"></i> Change Your Username</span>
         <div class="fl-fields">
          <span class="theme-font-color">Your Email</span>:
          <div class="fl-input_position">
            <input type="text" style="margin-top:5px; height:32px;" id="" name="" class="oldUsername isFloatNone" disabled="disabled" value="<?php echo $auth['email']; ?>">
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="fl-fields">
        <span class="theme-font-color">New Email</span>:
        <div class="fl-input_position">
             <input type="text" style="margin-top:5px; width:84.6%" id="" name="" class="newUsername input-medium isFloatNone" value="">
        </div>
        <div class="clearfix"></div>
      </div>
         <div class="fl-fields">
        <div class="fl-input_position">
          <label class="label_value uInfo_211"></label>
          <input type="button" class="btn-blueBtn updateUsername fl-positive-btn isFloatNone" value="Update">
          
        </div>
      </div>
    </div>
    <div class="tab-container" id="tab3C"><span><i class="fa fa-pencil-square-o"></i> Change Your Password</span>
       <div class="fl-fields">
          <span class="theme-font-color">Current</span>:
          <div class="fl-input_position">
            <input type="password" style="margin-top:5px;" name="" class="oldPassword input-medium" id="oldPassword">
          </div>
          <div class="clearfix"></div>
        </div>
         <div class="fl-fields">
          <span class="theme-font-color">New</span>:
          <div class="fl-input_position">
            <input type="password" style="margin-top:5px;" name="" class="newPassword input-medium" id="newPassword" value="">
          </div>
          <div class="clearfix"></div>
        </div>
         <div class="fl-fields">
          <span class="theme-font-color">Retype-New</span>:
          <div class="fl-input_position">
            <input type="password" style="margin-top:5px;" name="" class="ReTypePassword input-medium" id="retypePassword" value="">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="fl-fields">
          <div class="fl-input_position">
            <label class="label_value uInfo_211"></label>
            <input type="button" class="btn-blueBtn updatePassword fl-positive-btn" value="Update">
          </div>
        </div>
    </div>
    <div class="tab-container" id="tab4C"><span><i class="fa fa-pencil-square-o"></i> Change Company Information</span>
     <div class="fl-edit-profile-wrapper">
      <div class="two-columns col">             
      </div>
      <div class="two-columns fl-edit-info-width">
      
      </div>
      <div class="clearfix"></div>
      <div class="section clearing">
          <div class="column div_1_of_4">

              <div class="large-avatar-wrapper">
                   <?php echo $userCompany->avatarPic("companyAdmin",$company['id'],"240","230","large"," companyPhoto"); ?>
              </div><Br/>
                  <form action="/ajax/upload" method="POST" class="uploadingProfilePic" id="company_photo" enctype="multipart/form-data">
                    <div class="pull-left">
                       <div id="uniform-fileInput" class="uploader">
                          <input type="file" data-action-id="3" value="upload" name="userCompanyPic" id="uploadForm" data-action-type="companyPhoto" size="24" class="upfile isOpacity0">
                          <input type="hidden" value="companyAdmin" name="userType" />
                             <span id="uploadFilename_3" class="filename">No file selected</span>
                             <span class="action">Choose File</span>
                       </div>
                    </div>
                 </form>
                   <div class="spinner Acs_fl-loading loaderUploadCompany isDisplayNone">
                     <div class="bar1"></div>
                     <div class="bar2"></div>
                     <div class="bar3"></div>
                     <div class="bar4"></div>
                     <div class="bar5"></div>
                     <div class="bar6"></div>
                    <div class="bar7"></div>
                    <div class="bar8"></div>
                    <div class="bar9"></div>
                    <div class="bar10"></div>
                  </div> 

          </div><!-- END 1 OF 4 -->
          <div class="column div_3_of_4">
               <form class="companyPersonal_info" method="POST">
           <div class="fl-fields"><span class="theme-font-color">Company Name:<font color="red">*</font></span>
             <div class="fl-input_position">
                <label class="label_value uCInfo_<?php echo $company['id'];?>" id="uCInfo_companyName<?php echo $company['id'];?>"><?php echo $company['name'];?></label>
               <input type="text" id="eInfo_<?php echo $company['id'];?>" name="companyName" class="isDisplayNone Asc_fl-iditablefld input-medium eCInfo_<?php echo $company['id'];?>" value="<?php echo $company['name'];?>">
      
              </div>
           </div>
           <div class="fl-fields"><span class="theme-font-color">Company Code:<font color="red">*</font></span>
             <div class="fl-input_position">
               <label class="label_value uCInfo_<?php echo $company['id'];?>" id="uCInfo_companyCode<?php echo $company['id'];?>"><?php echo $company['code'];?></label>
                  <input type="text" id="eInfo_<?php echo $company['id'];?>" name="companyCode" class="isDisplayNone Asc_fl-iditablefld input-medium eCInfo_<?php echo $company['id'];?>" value="<?php echo $company['code'];?>">
             </div>
           </div>

           <div class="fl-fields"><span class="theme-font-color">Company Contact Number:<font color="red">*</font></span>
             <div class="fl-input_position"> 
               <label class="label_value uCInfo_<?php echo $company['id'];?>" id="uCInfo_companyNumber<?php echo $company['id'];?>"><?php echo $company['contact_number'];?></label>
                  <input type="text" id="eCInfo_<?php echo $company['id'];?>" name="companyNumber" class="isDisplayNone Asc_fl-iditablefld fl-company-contact input-medium eCInfo_<?php echo $company['id'];?>" value="<?php echo $company['contact_number'];?>">
             </div>
           </div>
     
           <!-- <div class="fl-fields"><span class="theme-font-color">Position:</span>
             <div class="fl-input_position">
               <label class="label_value" id="uCInfo_<?php //echo $company['id'];?>"><?php //echo $company['position'];?></label> -->
                  <!-- <input type="text" id="eInfo_<?php //echo $company['id'];?>" name="companyEmail" class="display input-medium eInfo_<?php //echo $company['id'];?>" value="<?php //echo $company['position'];?>"> -->
             <!-- </div>
           </div> -->
          
           <div class="fl-fields"><span class="theme-font-color">Date Registered:</span>
             <div class="fl-input_position">
                <label class="label_value" id="uCInfo_<?php echo $company['id'];?>"><?php echo $company['date_registered'];?></label>
                <!--<input type="text" id="eInfo_<?php echo $company['id'];?>" name="companyEmail" class="display input-medium eInfo_<?php $company['id'];?>" value="<?php echo $company['date_registered'];?>">-->
             </div>
           </div>
         
          <div class="fl-fields">
            <div class="fl-input_position">
              <label class="label_value uInfo_211"></label>
              
              <input type="button" data-action-type="company_info" class="btn-blueBtn edit_personalInfo uCInfo_<?php echo $company['id'];?>" data-id="<?php echo $company['id'];?>" id="edit_personalInfo" value="Edit">
               <input type="button" data-action-type="company_info" class="btn-blueBtn fl-margin-right save_personalCInfo eCInfo_<?php echo $company['id'];?> isDisplayNone" data-id="<?php echo $company['id'];?>" id="save_personalInfo" value="Save">
                 <input type="button" data-action-type="company_info" class="fl-buttonEffect btn-basicBtn cancel_personalCInfo eCInfo_<?php echo $company['id'];?> isDisplayNone" data-id="<?php echo $company['id'];?>" id="cancel_personalInfo" value="Cancel">
            </div>
          </div>
          </form>
          </div><!-- END OF 3 OF 4 -->
      </div>
       <iframe id="google_map" width="100%" height="350" src="https://maps.google.co.uk?output=embed" scrollbar="no"></iframe>
    </div>
       </div>
    <div class="tab-container" id="tab5C"><span></span>
         <div>
               <div class="fl-app-config-block header-info">
                  <div class="fl-app-config toggleParent">
                    <div class="fl-widget-head">
                      <span class="widget-title">Set Landing Page</span>
                      <div class="fl-toolbar-right-wrapper">
                           <div class="fl-toolbar-icon-wrap">
                               <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide this"></i>
                           </div>
                       </div>
                    </div>
                    <div class="section group" toggleupdown="down">
                      <div class="fl-list-like-bordered">
                        <span>Page Keywords:</span>
                        <div class="fl-right">
                           <select class="frequired-red set_smtp_frequired-red form-text" name="page_set">
                           <?php
                              $set_page = $db->query("SELECT * FROM page_settings WHERE userID = {$db->escape($auth['id'])}","row");
                              echo $User_Settings_Functions->set_landing_page($db,$set_page,'',$set_page['type']);   
                           ?>
                           </select>
                        </div>
                        <div class="clearfix"></div>	
                      </div>
                      <?php
          // echo $User_Settings_Functions->set_landing_page($db,$set_page,'',$set_page['type']);   
                      ?>
                     <div class="fl-list-like-bordered" id="other_page" style="display:none;">
                        <span>Paste preferred page here:</span>
                        <div class="fl-right">
                        <?php //echo $set_page['page']; ?>
                           <input type="text" name="other_page" value="<?php echo $set_page['page']; ?>"  class=" form-text" placeholder="http://eforms.gs3.com.ph/" />	
                           <br>
                           <i style="color:red;font;font-style: italic;font-size:10px;">Note: Valid url format (http://eforms.gs3.com.ph/ OR /user_view/account-settings)</i>
                        </div>
                        
                        <div class="clearfix"></div>	
                     </div>
                      
                      <div class="fl-list-like-bordered">
                        <input type="button" class="btn-basicBtn fl-buttonEffect setting_landing_page fl-positive-btn" value="Save">
                      </div>
                    </div>
                  </div>	
              </div>
               <div class="fl-app-config-block header-info">
                  <div class="fl-app-config toggleParent">
                    <div class="fl-widget-head">
                      <span class="widget-title">Page Logs</span>
                      <div class="fl-toolbar-right-wrapper">
                           <div class="fl-toolbar-icon-wrap">
                               <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide this"></i>
                           </div>
                       </div>
                    </div>
                    <div class="section group" toggleupdown="down">
                      <div class="fl-list-like-bordered">
                        <div>
                           <span class="widget-title">Last Page Visit</span>
                           <?php
                              echo '<ul id="enable-module-nav">';
                                 
                                    $query = $db->query("SELECT * FROM tb_page_logs WHERE visit_by = {$db->escape($auth['id'])} AND
                                    company_id = {$db->escape($auth['company_id'])} ORDER BY date_last_visit DESC LIMIT 10","array");
                                    $row = $db->query("SELECT * FROM tb_page_logs WHERE visit_by = {$db->escape($auth['id'])} AND
                                    company_id = {$db->escape($auth['company_id'])}
                                    AND page != {$db->escape('/user_view/account-settings')}
                                    AND page != {$db->escape('/user_view/home')}
                                    AND page != {$db->escape('/user_view/index')} ORDER BY date_last_visit DESC","row");
                                    
                                       echo $User_Settings_Functions->last_page($row);
                              echo '</ul>';
                           ?>
                           <span class="widget-title">Recent Page Visit</span>
                           <?php
                              echo $User_Settings_Functions->recent_page($query);
                           ?>
                        </div>
                        <div class="clearfix"></div>	
                      </div>
                      
                    </div>
                  </div>	
              </div>
               
            </div>
         </div>
         
      
    </div>
    <!--COMPANY INFO -->
 
</div>
  

<?php }else{ $this->setInclude('error'); }  ?>