<div class="fl-admindashboard-wrapper">
    <Br/>
     <h1>Admin Dashboard</h1>
   <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <span><input type="checkbox" class="setting_landing_page"></span>-->
      <!--      <span style="position: relative; top: -3px; left: -3px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <div class="fl-admindashboard-icons-wrapper">
      <ul>
         <li><a href="/user_view/user_settings">
              <div align="center"><i class="fa fa-user"></i></div>
              <div class="fl-admin-icon-name">Users</div>
            </a>
         </li>
         <li><a href="/user_view/organizational_chart">
            <div align="center"><i class="fa fa-sitemap"></i></div>
            <div class="fl-admin-icon-name">Create Organizational Chart</div>
            </a>
         </li>
         <li><a href="/user_view/formbuilder">
            <div align="center"><i class="fa fa-list-alt"></i></div>
            <div class="fl-admin-icon-name">Create Form</div>
            </a>  
         </li>
         <li><a href="/user_view/workflow">
            <div align="center"><i class="fa fa-retweet"></i></div>
            <div class="fl-admin-icon-name">Create Workflow</div>
            </a>
         </li>
         <li><a href="/user_view/report">
            <div align="center"><i class="fa fa-bar-chart-o"></i></div>
            <div class="fl-admin-icon-name">Create Report</div>
            </a>  
         </li>
         <div class="clearfix"></div> 
      </ul> 
   </div>
</div>
      