<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['administer']['app_configuration'] == "1"){

?>

<div class="fl-app-config-warpper">
	<div class="fl-option-toolbar">
		<div class="fl-toolbar-left-wrapper">
			<h1><i class="fa fa-cogs"></i> Application Configuration</h1>
		</div>
	</div>
	<div class="section group">
		<div class="col two-columns">
			<div class="section group">
				<div class="fl-app-config-block">
					<div class="fl-widget-head"><span class="widget-title">Enable Modules Navigation</span></div>
					<div class="fl-app-config">
					<?php
							$arrs = $mod;
							echo '<div style="width:300px;">';
							echo '<div class="list">';
							foreach($arrs as $arr_first=>$arr_vals){
								echo '<ul>';
								    echo '<li>' . $arr_first;
									if(!is_array($arr_vals)){
										if($arr_vals == "1"){
											$val = "1";
											$checked = "checked=checked";
										}else{
											$val = "0";
											$checked = "";
										}
										echo "<input value='" . $val . "'  name='set_options' data-name='". $arr_first ."' type='checkbox' class='fl-right' $checked>";
									}
								    echo '</li>';
								    echo '<ul>';
									foreach($arr_vals as $arr_vals_first=>$arr_vals_vals){
										
											echo '<li>'.$arr_vals_first;
											if($arr_vals_vals == "1"){
												$val = "1";
												$checked = "checked=checked";
											}else{
												$val = "0";
												$checked = "";
											}
											echo "<input value='" . $val . "'  name='set_options' data-name='". $arr_vals_first ."' type='checkbox' class='fl-right' $checked>";
											echo '</li>';
										
									}echo '</ul>';
								    echo '</li>';
								echo '</ul>';
							}
							echo '</div>';
							echo '</div>';
					?>
						<div class="fl-list-like-bordered">
							<input type="button"  class="btn-basicBtn fl-buttonEffect app_configuration" data-type="checkbox" id="set_options" data-action="save_options" data-set="set_options" value="Save"/>
						</div>
					</div>		
				</div><!-- end of yes or no options -->
				<div class="fl-app-config-block">
					<div class="fl-widget-head"><span class="widget-title">Adding Options</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="col two-columns fl-app-cofig-field">
								<span>Not Allowed Leftbar</span>
								<div class="input_position_below fl-pos-below-app-config">
									<div class="fl-add-btn app_configuration" data-type="text" id="set_no_leftbar" data-action="save_no_leftbar" data-set="set_no_leftbar"><i class="fa fa-plus"></i></div>
									<!--<input type="text" class="form-text"/>-->
									<select class="form-text" name="set_no_leftbar" data-name="not_allowed_leftbar">
									<?php
									//path to directory to scan
									$path = "modules/user_view/view/";
									$dir = new DirectoryIterator($path);
									foreach ($dir as $fileinfo) {
									    if (!$fileinfo->isDot()) {
										//$ret .= $fileinfo->getFilename().'<br>';
										echo '<option value="' . $fileinfo->getFilename(). '">';
										echo $fileinfo->getFilename();
										echo '</option>';
									    }
									}
									?>
									</select>
									<div class="fl-append-data">
									</div><!-- append data here -->
								</div>
							</div><!-- not allowed leftbar field -->
							<div class="col two-columns fl-app-cofig-field">
								<span>Allowed Folder</span>
								<div class="input_position_below fl-pos-below-app-config">
									<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
									<select class="form-text" name="set_login" data-name="login_folder_list">
									<?php
									//path to directory to scan
									$path = "modules/user_view/view/";
									$dir = new DirectoryIterator($path);
									foreach ($dir as $fileinfo) {
									    if (!$fileinfo->isDot()) {
										//$ret .= $fileinfo->getFilename().'<br>';
										echo '<option value="' . $fileinfo->getFilename(). '">';
										echo $fileinfo->getFilename();
										echo '</option>';
									    }
									}
									?>
									</select>
									<div class="fl-append-data">
									</div><!-- append data here -->
								</div>
							</div><!-- not allowed leftbar field -->
						</div><!-- end left to right fields -->	
						<div class="section group">
							<div class="col two-columns fl-app-cofig-field">
								<span>Not Allowed Chat</span>
								<div class="input_position_below fl-pos-below-app-config">
									<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
									<select class="form-text" name="set_login" data-name="login_folder_list">
									<?php
									//path to directory to scan
									$path = "modules/user_view/view/";
									$dir = new DirectoryIterator($path);
									foreach ($dir as $fileinfo) {
									    if (!$fileinfo->isDot()) {
										//$ret .= $fileinfo->getFilename().'<br>';
										echo '<option value="' . $fileinfo->getFilename(). '">';
										echo $fileinfo->getFilename();
										echo '</option>';
									    }
									}
									?>
									</select>
									<div class="fl-append-data">
									</div><!-- append data here -->
								</div>
							</div><!-- not allowed leftbar field -->
							<div class="col two-columns fl-app-cofig-field">
								<span>Valid File Extensions</span>
								<div class="input_position_below fl-pos-below-app-config">
									<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
									<input type="text" class="form-text"/>
									<div class="fl-append-data">
									</div><!-- append data here -->
								</div>
							</div><!-- not allowed leftbar field -->
						</div><!-- end left to right fields -->
						<div class="section group">
							<div class="col two-columns fl-app-cofig-field">
								<span>Valid Images Extensions</span>
								<div class="input_position_below fl-pos-below-app-config">
									<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
									<input type="text" class="form-text"/>
									<div class="fl-append-data">
									</div><!-- append data here -->
								</div>
							</div><!-- not allowed leftbar field -->
							
						</div><!-- end left to right fields -->		
					</div>	
				</div><!-- end of adding options -->
				<div class="fl-app-config-block set-url">
					<div class="fl-widget-head"><span class="widget-title">Set URL</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<!--<div class="fl-list-like-bordered">
								<span>User View:</span>
								<div class="fl-right">
									<input type="text" class="form-text" placeholder="/userview/"/>	
								</div>
								<div class="clearfix"></div>	
							</div>-->
							<div class="fl-list-like-bordered">
								<span>Main Page:</span>
								<div class="fl-right">
									<input type="text" name="set_url" data-name="main_page" class="form-text" placeholder="http://eforms.gs3.com.ph/"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Cookie URL:</span>
								<div class="fl-right">
									<input type="text" name="set_url" data-name="cookie_url" class="form-text" placeholder="eforms.gs3.com.ph"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>External Image Link:</span>
								<div class="fl-right">
									<input type="text" name="set_url" data-name="image_link" class="form-text" placeholder="http://formalistics.gs3.com.ph/"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_url" data-action="save_url" data-set="set_url" value="Save"/>
							</div>
						</div>
					</div>	
				</div><!-- end of set URL -->
				<div class="fl-app-config-block set-smtp">
					<div class="fl-widget-head"><span class="widget-title">Set SMTP</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>SMTP Username:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="username" class="form-text" placeholder="quick.apps@gs3.com.ph"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP Password:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="password" class="form-text" placeholder="f0rm@115+15c"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP Port:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="port" class="form-text" placeholder="25"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP Host:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="host" class="form-text" placeholder="webmail.gs3.com.ph"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP Auth:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="auth" class="form-text" placeholder=""/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP Secure:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="secure" class="form-text" placeholder=""/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP From Name:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="from_name" class="form-text" placeholder="administrator"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>SMTP From email:</span>
								<div class="fl-right">
									<input type="text" name="set_smtp" data-name="fom_mail" class="form-text" placeholder="malayan@malayan.com.ph"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_smtp" data-action="save_smtp" data-set="set_smtp" value="Save"/>
							</div>
						</div>
					</div>	
				</div><!-- end of set SMTP -->
				
			</div>
		</div><!-- end left content -->
		<div class="col two-columns">
			<div class="fl-app-config-block">
				<div class="fl-widget-head"><span class="widget-title">Yes or No Options</span></div>
				<div class="fl-app-config">	
					<!--<div class="fl-list-like-bordered">
						<span>Allow User View</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="user_view" id="allowUserView" class="css-yes-no">
	         				 <label for="allowUserView" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div>-->
					<div class="fl-list-like-bordered">
						<span>Allow User Help</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="user_help" id="allowUserHelp" class="css-yes-no">
	         				 <label for="allowUserHelp" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<div class="fl-list-like-bordered">
						<span>Allow Admin Leftbar</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="admin_leftbar" id="allowAdminLeftbar" class="css-yes-no">
	         				 <label for="allowAdminLeftbar" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<div class="fl-list-like-bordered">
						<span>Allow User Admin</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="user_admin" id="allowUserAdmin" class="css-yes-no">
	         				 <label for="allowUserAdmin" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<div class="fl-list-like-bordered">
						<span>Allow Application Portal</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="applicant_portal" id="allowAppPortal" class="css-yes-no">
	         				 <label for="allowAppPortal" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<div class="fl-list-like-bordered">
						<span>Allow Processor Attachment</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="processor_attachment" id="allowProcessorAttachment" class="css-yes-no">
	         				 <label for="allowProcessorAttachment" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					
					
					<div class="fl-list-like-bordered">
						<span>Enable Rules</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="enable_rules" id="EnableRules" class="css-yes-no">
	         				 <label for="EnableRules" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<!--<div class="fl-list-like-bordered">
						<span>Chat Active</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="chat_active" id="ChatActive" class="css-yes-no">
	         				 <label for="ChatActive" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<!--<div class="fl-list-like-bordered">
						<span>Socket Active</span>
						<div class="fl-right">
							<input type="checkbox" name="set_options" data-name="socket_active" id="SocketActive" class="css-yes-no">
	         				 <label for="SocketActive" class="css-label-yes-no"></label>  
						</div>
						<div class="clearfix"></div>		
					</div><!-- Yes no template field -->
					<div class="fl-list-like-bordered">
						<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="checkbox" id="set_options" data-action="save_options" data-set="set_options" value="Save"/>
					</div>
				</div>		
			</div><!-- end of yes or no options -->
			<div class="fl-app-config-block set-database">
					<div class="fl-widget-head"><span class="widget-title">Set Active Directory</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>Allow Active Directory:</span>
								<div class="fl-right">
									<input type="checkbox" name="set_ad" data-name="allow_active_directory" id="ChatActive" class="css-yes-no">
								 <label for="ChatActive" class="css-label-yes-no"></label>  
								</div>
								<div class="clearfix"></div>		
							</div><!-- Yes no template field -->
							<div class="fl-list-like-bordered">
								<span>AD IP Address:</span>
								<div class="fl-right">
									<input type="text" name="set_ad" data-name="ad_ip" class="form-text" placeholder="192.168.0.63"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>DC:</span>
								<div class="fl-right">
									<input type="text" name="set_ad" data-name="ad_dc" class="form-text" placeholder="DC=gs3,DC=com,DC=ph"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							
							<div class="fl-list-like-bordered">
								<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_ad" data-action="save_ad" data-set="set_ad" value="Save"/>
							</div>
						</div>
					</div>	
			</div><!-- end of set Active Directory -->
			<div class="fl-app-config-block set-database">
					<div class="fl-widget-head"><span class="widget-title">Set Login</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>Company Logo URL:</span>
								<div class="fl-right">
									<input type="text" name="set_login" data-name="company_logo_url" class="form-text" placeholder="/css/images/logo/logoblue.jpg"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Company Login Style:</span>
								<div class="fl-right">
									<select class="form-text" name="set_login" data-name="login_folder_list">
									<?php
									//path to directory to scan
									$path = "layout/clients";
									$dir = new DirectoryIterator($path);
									foreach ($dir as $fileinfo) {
									    if ($fileinfo->isDir() && !$fileinfo->isDot()) {
										//$ret .= $fileinfo->getFilename().'<br>';
										echo '<option value="' . $fileinfo->getFilename(). '">';
										echo $fileinfo->getFilename();
										echo '</option>';
									    }
									}
									?>
									</select>
									<!--<input type="text" name="set_ad" data-name="ad_dc" class="form-text" placeholder="DC=gs3,DC=com,DC=ph"/>	-->
								</div>
								<div class="clearfix"></div>	
							</div>
							
							<div class="fl-list-like-bordered">
								<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_login" data-action="save_login" data-set="set_login" value="Save"/>
							</div>
						</div>
					</div>	
			</div><!-- end of set Login -->
			<div class="fl-app-config-block set-database">
					<div class="fl-widget-head"><span class="widget-title">Set Database</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>Database Hostname:</span>
								<div class="fl-right">
									<input type="text" name="set_db" data-name="hostname" class="form-text" placeholder="localhost"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Database Username:</span>
								<div class="fl-right">
									<input type="text" name="set_db" data-name="username" class="form-text" placeholder="root"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Database Password:</span>
								<div class="fl-right">
									<input type="text" name="set_db" data-name="password" class="form-text" placeholder="password"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Database Name:</span>
								<div class="fl-right">
									<input type="text" name="set_db" data-name="db_name" class="form-text" placeholder="eformsGS3"/>	
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_db" data-action="save_db" data-set="set_db" value="Save"/>
							</div>
						</div>
					</div>	
			</div><!-- end of set Database -->
			<div class="fl-app-config-block header-info">
					<div class="fl-widget-head"><span class="widget-title">Header Information</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>Page Keywords:</span>
								<div class="fl-right">
									<textarea name="set_header_info" data-name="page_keywords" class="form-textarea" placeholder="Formalistics, Formbuilder, Workflow, Organizational Chart"></textarea>
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Page Description:</span>
								<div class="fl-right">
									<textarea name="set_header_info" data-name="page_description" class="form-textarea" style="height:137px;" placeholder="Business Automations and Process Mapping and Monitoring. Full Blown Software Application in less than 5 days. Access (submit and approve) from anywhere with or without   Internet Connection using your favorite Web Browser."></textarea>
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Page Title:</span>
								<div class="fl-right">
									<input type="text" name="set_header_info" data-name="page_title" class="form-text" placeholder="Formalistics">
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<span>Page Author:</span>
								<div class="fl-right">
									<input type="text" name="set_header_info" data-name="page_author" class="form-text" placeholder="Samuel Pulta">
								</div>
								<div class="clearfix"></div>	
							</div>
							<div class="fl-list-like-bordered">
								<input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="checkbox" id="set_header_info" data-action="save_header_info" data-set="set_header_info" value="Save"/>
							</div>
						</div>
					</div>	
			</div><!-- end of header information -->
			<div class="fl-app-config-block for-delegation">
					<div class="fl-widget-head"><span class="widget-title">For Delegation</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>Days Pending:</span>
								<div class="fl-right">
									<input type="text" class="form-text" placeholder="3">
								</div>
								<div class="clearfix"></div>	
							</div>
						</div>
					</div>	
			</div><!-- end of for delegation -->
			<div class="fl-app-config-block sms-sever">
					<div class="fl-widget-head"><span class="widget-title">SMS Server</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>SMS Server:</span>
								<div class="fl-right">
									<input type="text" class="form-text" placeholder="tcp://127.0.0.1.3014">
								</div>
								<div class="clearfix"></div>	
							</div>
						</div>
					</div>	
			</div><!-- end of for SMS server -->
			<div class="fl-app-config-block socket-server">
					<div class="fl-widget-head"><span class="widget-title">Socket Server</span></div>
					<div class="fl-app-config">
						<div class="section group">
							<div class="fl-list-like-bordered">
								<span>Socket Server:</span>
								<div class="fl-right">
									<input type="text" class="form-text" placeholder="http://127.0.0.1.3013">
								</div>
								<div class="clearfix"></div>	
							</div>
						</div>
					</div>	
			</div><!-- end of for SMS server -->
		</div><!-- end of right content -->	
	</div>
	<center><input type="button" class="btn-basicBtn fl-buttonEffect" value="Save"/></center>
</div><!-- end of app config wrapper -->


<?php }else{ $this->setInclude('error'); }  ?>