<?php
$auth = Auth::getAuth('current_user');
$fs = new functions;
$db = new Database();
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
$lite = unserialize(LITE_VERSION);
$homepage = file_get_contents('files/sam.json');
echo $homepage;

// $data = array();
// $data['email'] = "samuel.pulta07@gmail.com";
// $data['company_id'] = $auth['company_id'];
// var_dump($data);
// // echo powerForms::auto_register($db,$data);

// echo powerForms::get_guest_user_per_company($db,$data);


if (APP_CONFIGURATION_SETUP != "1") {
    ?>

    <div class="fl-app-config-warpper">
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
                <?php
                $json = array();
                $str_sql = "SELECT * FROM tb_app_configuration app
						LEFT JOIN tbcompany c ON app.app_id=c.id
						LEFT JOIN tbuser u ON app.app_user_id=u.id
						WHERE app.app_company_id={$db->escape($auth['company_id'])}";
                $get_app = $db->query($str_sql, "row");
                $Person = new Person($db, $get_app['updated_by']);
                $json = array("Created By" => $get_app['display_name'],
                    "Created Date" => $get_app['app_date'],
                    "Updated By" => $Person->display_name,
                    "Updated Date" => $get_app['app_date_modified']);

                //if($get_app['app_date'] != $get_app['app_date_modified']){
                //$json = array("Created By"			=>	$get_app['display_name'],	
                //						"Created Date"		=>	$get_app['app_date'],
                //						"Updated By"			=>	$Person->display_name,
                //						"Updated Date"		=>	$get_app['app_date_modified']);
                //}else{
                //$json = array("Created By"			=>	$get_app['display_name'],	
                //					"Created Date"		=>	$get_app['app_date']);
                //}


                if (count($json) > 0) {
                    $json = htmlentities(json_encode($json));
                }
                ?>
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-app-config"></use>
                    </svg>
                    Application Configuration</h1>
            </div>
            <div class="fl-toolbar-right-wrapper">
            <!-- <input type="button" class="btn-basicBtn fl-buttonEffect hide_config fl-positive-btn" data-type="hide_config" id="hide_config" data-action="hide_config" data-set="hide_config" value="Hide Config"> -->
                <ul class="fl-standard-btn">
                    <li class="fl-buttonEffect">
                        <a href="#" class="getDetailFn" json="<?php echo $json; ?>">Editor details</a>
                    </li>
                    <li class="fl-buttonEffect">
                        <a href="#" class="hide_config" data-original-title="" title="" data-type="hide_config" id="hide_config" data-action="hide_config" data-set="hide_config">Hide Configuration</a>
                    </li>
                    <?php if (GO_LITE == 0) { ?>
                        <li class="fl-buttonEffect">
                            <a href="#" class="activationKey">Activate Key</a>
                        </li>
                    <?php } ?>
                </ul>
            </div>
        </div>
        <?php
        $db = new Database();
        $company = $db->query("SELECT * FROM tbcompany WHERE id={$auth['company_id']}", "row");
        echo '<br/>';
        echo '<select id="get_company" class="form-text" style="display:none;">';
        // echo '<option value="0">--- Select Company ---</option>';
        // foreach($companies as $company){
        // 			$selected = "";
        // 			if($company['id'] == $auth['company_id']){
        $selected = "selected=selected";
        // 			}
        echo '<option value="' . $company['id'] . '" ' . $selected . '>' . $company['name'] . '</option>';
        // }
        echo '</select>';
        ?>
        <div class="fl-app-config-main-tab-wrapper">
            <div class="section clearing">
                <div class="fl-tab-wrapper fl-tab-wrapper-app-config clearfix column div_1_of_1">
                    <ul id="tabs">
                        <li class=""><a id="tab1" class="active">Basic Configuration</a></li>
                        <li class=""><a id="tab2" class="">Login Page Design</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-container tab-container-app-config" id="tab1C">
                <div class="section clearing">
                    <div class="column div_1_of_2">
                        <div class="section group">
                            <div class="fl-app-config-block">
                                <div class="fl-app-config toggleParent">
                                    <div class="fl-widget-head">
                                        <span class="widget-title">Enable Module Navigation</span>
                                        <div class="fl-toolbar-right-wrapper">
                                            <div class="fl-toolbar-icon-wrap">
                                                <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section group">
                                        <div class="fl-list-like-bordered">



                                            <?php
                                            $arrs = $mod;
                                            echo '<div style="">';
                                            echo '<div class="list">';
                                            foreach ($arrs as $arr_first => $arr_vals) {
                                                echo '<ul id="enable-module-nav">';
                                                echo '<li class="fl-list-like-bordered">' . str_replace("_", " ", $arr_first);
                                                if (!is_array($arr_vals)) {
                                                    if ($arr_vals == "1") {
                                                        $val = "1";
                                                        $checked = "checked=checked";
                                                    } else {
                                                        $val = "0";
                                                        $checked = "";
                                                    }
                                                    echo "<div class='fl-right'><input value='" . $val . "'  name='set_modules' data-name='" . $arr_first . "' type='checkbox' id='" . $arr_first . "' class='fl-right css-yes-no' $checked><label for='" . $arr_first . "' class='css-label-yes-no'></label></div><div class='clearfix'></div>";
                                                }
                                                echo '</li>';
                                                echo '<ul>';
                                                foreach ($arr_vals as $arr_vals_first => $arr_vals_vals) {

                                                    // Lite

                                                    if (in_array($arr_vals_first, $lite) && GO_LITE == 0) {
                                                        echo '<li class="fl-list-like-bordered">' . str_replace("_", " ", $arr_vals_first);
                                                    } else {
                                                        echo '<li class="fl-list-like-bordered">' . str_replace("_", " ", $arr_vals_first);
                                                    }
                                                    if ($arr_vals_vals == "1") {
                                                        $val = "1";
                                                        $checked = "checked=checked";
                                                    } else {
                                                        $val = "0";
                                                        $checked = "";
                                                    }

                                                    if (in_array($arr_vals_first, $lite) && GO_LITE == 0) {
                                                        echo "<div style='width:150px;float:right;'><label class='c_key_text'> (Available in Full Version)</label><div class='clearfix'></div>";
                                                        echo '</li>';
                                                    } else {
                                                        echo "<div class='fl-right'><input value='" . $val . "'  name='set_modules' data-name='" . $arr_vals_first . "' id='" . $arr_vals_first . "' type='checkbox'  class='fl-right css-yes-no' $checked><label for='" . $arr_vals_first . "' class='css-label-yes-no'></label></div><div class='clearfix'></div>";
                                                        echo '</li>';
                                                    }
                                                }echo '</ul>';
                                                echo '</li>';
                                                echo '</ul>';
                                            }
                                            echo '</div>';
                                            echo '</div>';
                                            ?>
                                            <div class="clearfix"></div>	
                                        </div>
                                        <div class="fl-list-like-bordered">
                                            <input type="button"  class="btn-basicBtn fl-buttonEffect app_configuration" data-type="checkbox" id="set_modules" data-action="save_modules" data-set="set_modules" value="Save"/>
                                        </div>
                                    </div>
                                </div>	
                            </div><!-- end of set SMTP -->
                        </div>

                        <!--<div class="fl-app-config-block">-->
                        <!--	<div class="fl-widget-head"><span class="widget-title">Adding Options</span></div>-->
                        <!--	<div class="fl-app-config">-->
                        <!--		<div class="section group">-->
                        <!--			<div class="col two-columns fl-app-cofig-field">-->
                        <!--				<span>Not Allowed Leftbar</span>-->
                        <!--				<div class="input_position_below fl-pos-below-app-config">-->
                        <!--					<div class="fl-add-btn app_configuration" data-type="text" id="set_no_leftbar" data-action="save_no_leftbar" data-set="set_no_leftbar"><i class="fa fa-plus"></i></div>-->
                        <!--					<!--<input type="text" class="form-text"/>-->
                        <!--					<select class="form-text" name="set_no_leftbar" data-name="not_allowed_leftbar">-->
                        <?php
                        //path to directory to scan
                        //$path = "modules/user_view/view/";
                        //$dir = new DirectoryIterator($path);
                        //foreach ($dir as $fileinfo) {
                        //    if (!$fileinfo->isDot()) {
                        //	//$ret .= $fileinfo->getFilename().'<br>';
                        //	echo '<option value="' . $fileinfo->getFilename(). '">';
                        //	echo $fileinfo->getFilename();
                        //	echo '</option>';
                        //    }
                        //}
                        ?>
                        <!--		</select>-->
                        <!--		<div class="fl-append-data">-->
                        <!--		</div><!-- append data here -->
                        <!--	</div>-->
                        <!--</div><!-- not allowed leftbar field -->
                        <!--<div class="col two-columns fl-app-cofig-field">-->
                        <!--	<span>Allowed Folder</span>-->
                        <!--	<div class="input_position_below fl-pos-below-app-config">-->
                        <!--		<div class="fl-add-btn"><i class="fa fa-plus"></i></div>-->
                        <!--		<select class="form-text" name="set_login" data-name="login_folder_list">-->
                        <?php
                        //path to directory to scan
                        //$path = "modules/user_view/view/";
                        //$dir = new DirectoryIterator($path);
                        //foreach ($dir as $fileinfo) {
                        //    if (!$fileinfo->isDot()) {
                        //	//$ret .= $fileinfo->getFilename().'<br>';
                        //	echo '<option value="' . $fileinfo->getFilename(). '">';
                        //	echo $fileinfo->getFilename();
                        //	echo '</option>';
                        //    }
                        //}
                        ?>
                        <!--			</select>-->
                        <!--			<div class="fl-append-data">-->
                        <!--			</div><!-- append data here -->
                        <!--		</div>-->
                        <!--	</div><!-- not allowed leftbar field -->
                        <!--</div><!-- end left to right fields -->	
                        <div class="section group">
                            <!--	<div class="col two-columns fl-app-cofig-field">-->
                            <!--		<span>Not Allowed Chat</span>-->
                            <!--		<div class="input_position_below fl-pos-below-app-config">-->
                            <!--			<div class="fl-add-btn"><i class="fa fa-plus"></i></div>-->
                            <!--			<select class="form-text" name="set_login" data-name="login_folder_list">-->
                            <?php
                            //path to directory to scan
                            //$path = "modules/user_view/view/";
                            //$dir = new DirectoryIterator($path);
                            //foreach ($dir as $fileinfo) {
                            //    if (!$fileinfo->isDot()) {
                            //	//$ret .= $fileinfo->getFilename().'<br>';
                            //	echo '<option value="' . $fileinfo->getFilename(). '">';
                            //	echo $fileinfo->getFilename();
                            //	echo '</option>';
                            //    }
                            //}
                            ?>
                            <!--					</select>-->
                            <!--					<div class="fl-append-data">-->
                            <!--					</div><!-- append data here -->
                            <!--				</div>-->
                            <!--			</div><!-- not allowed leftbar field -->
                            <!--			<div class="col two-columns fl-app-cofig-field">-->
                            <!--				<span>Valid File Extensions</span>-->
                            <!--				<div class="input_position_below fl-pos-below-app-config">-->
                            <!--					<div class="fl-add-btn"><i class="fa fa-plus"></i></div>-->
                            <!--					<input type="text" class="form-text"/>-->
                            <!--					<div class="fl-append-data">-->
                            <!--					</div><!-- append data here -->
                            <!--				</div>-->
                            <!--			</div><!-- not allowed leftbar field -->
                            <!--		</div><!-- end left to right fields -->
                            <!--		<div class="section group">-->
                            <!--			<div class="col two-columns fl-app-cofig-field">-->
                            <!--				<span>Valid Images Extensions</span>-->
                            <!--				<div class="input_position_below fl-pos-below-app-config">-->
                            <!--					<div class="fl-add-btn"><i class="fa fa-plus"></i></div>-->
                            <!--					<input type="text" class="form-text"/>-->
                            <!--					<div class="fl-append-data">-->
                            <!--					</div><!-- append data here -->
                            <!--				</div>-->
                            <!--			</div><!-- not allowed leftbar field -->
                            <!--			-->
                            <!--		</div><!-- end left to right fields -->		
                            <!--	</div>	-->
                            <!--</div><!-- end of adding options -->
                        </div>

                    </div><!-- end left content -->
                    <div class="column div_1_of_2">
                        <div class="fl-app-config-block for-others">
                            <div class="fl-app-config toggleParent">	
                                <!--<div class="fl-list-like-bordered">
                                        <span>Allow User View</span>
                                        <div class="fl-right">
                                                <input type="checkbox" name="set_options" data-name="user_view" id="allowUserView" class="css-yes-no">
                                         <label for="allowUserView" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                </div>-->
                                <div class="fl-widget-head">
                                    <div class="fl-toolbar-left-wrapper">
                                        <span class="widget-title">Others</span>
                                    </div>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="section group">
                                    <div class="fl-list-like-bordered">
                                        <span>Allow Processor Attachment</span>
                                        <div class="fR">
                                            <?php $processir_attachment = $fs->get_checked(ALLOW_PROCESSOR_ATTACHMENT); ?>
                                            <input type="checkbox" name="set_options" data-name="processor_attachment" id="allowProcessorAttachment" class="css-yes-no"<?php echo $processir_attachment['checked']; ?>>
                                            <label for="allowProcessorAttachment" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->

                                    <div class="fl-list-like-bordered">
                                        <span>Allow Record Deletion</span>
                                        <div class="fR">
                                            <?php $allowRecordDeletion = $fs->get_checked(ENABLE_DELETION); ?>
                                            <input type="checkbox" name="set_options" data-name="record_deletion" id="allowRecordDeletion" class="css-yes-no"<?php echo $allowRecordDeletion['checked']; ?>>
                                            <label for="allowRecordDeletion" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->
                                    <?php if (GO_LITE == 0) { ?>
                                        <div class="fl-list-like-bordered">
                                            <span>Allow Form Annotation</span>
                                            <div class="fR">
                                                <label class="c_key_text"> (Available in Full Version)</label>
                                            </div>
                                            <div class="clearfix"></div>        
                                        </div><!-- Yes no template field -->
                                    <?php } else { ?>
                                        <div class="fl-list-like-bordered">
                                            <span>Allow Form Annotation</span>
                                            <div class="fR">
                                                <?php $form_annotation = $fs->get_checked(ALLOW_FORM_ANNOTATION); ?>
                                                <input type="checkbox" name="set_options" data-name="form_annotation" id="allowFormAnnotation" class="css-yes-no"<?php echo $form_annotation['checked']; ?>>
                                                <label for="allowFormAnnotation" class="css-label-yes-no"></label>  
                                            </div>
                                            <div class="clearfix"></div>        
                                        </div><!-- Yes no template field -->
                                    <?php } ?>



                                    <!--div class="fl-list-like-bordered display">
                                            <span>Enable Soft Delete Comments</span>
                                            <div class="fR">
                                    <?php
                                    $enable_softdelete = $fs->get_checked(ENABLE_SOFT_DELETE_COMMENTS);
                                    if (ENABLE_SOFT_DELETE_COMMENTS == "1") {
                                        $class_esdc = "set_options_frequired-red";
                                        $d_true_esdc = "no";
                                    } else {
                                        $class_esdc = "";
                                        $d_true_esdc = "yes";
                                    }
                                    ?>
                                                            
                                                    <input type="checkbox"  data-hidden="toggle" data-true="<?php echo $d_true_esdc; ?>" data-set-name="soft_delete_days" name="set_options"  data-name="soft_delete" id="softdelete" class="css-yes-no"<?php echo $enable_softdelete['checked']; ?>>
                                             <label for="softdelete" class="css-label-yes-no"></label>  
                                            </div>
                                            <div class="clearfix"></div>		
                                    </div--><!-- Yes no template field -->

                                    <div class="fl-list-like-bordered soft_delete  <?php echo $enable_softdelete['hide']; ?> display">
                                        <span>Remove Soft Delete After Days:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_options" data-name="soft_delete_days"  class="<?php echo $class_esdc; ?> form-text" placeholder="100" value="<?php echo REMOVE_SOFT_DELETED_AFTER_DAYS; ?>">
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>

                                    <div class="fl-list-like-bordered">
                                        <span>Enable Document Locking</span>
                                        <div class="fR">
                                            <?php
                                            $enable_doc_lock = $fs->get_checked(DOCLOCK_ACTIVE);
                                            if (DOCLOCK_ACTIVE == "1") {
                                                $class_s = "set_options_frequired-red";
                                                $d_true_s = "no";
                                            } else {
                                                $class_s = "";
                                                $d_true_s = "yes";
                                            }
                                            ?>
                                            <input type="checkbox"  data-hidden="toggle" data-true="<?php echo $d_true_s; ?>" data-set-name="enable_document_locking" name="set_options" data-name="enable_document_locking" id="enable_document_locking" class="css-yes-no"<?php echo $enable_doc_lock['checked']; ?>>
                                            <label for="enable_document_locking" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->

                                    <div class="fl-list-like-bordered">
                                        <span>Enable Socket</span>
                                        <div class="fR">
                                            <?php
                                            $enable_socket = $fs->get_checked(SOCKET_ACTIVE);
                                            if (SOCKET_ACTIVE == "1") {
                                                $class_s = "set_options_frequired-red";
                                                $d_true_s = "no";
                                            } else {
                                                $class_s = "";
                                                $d_true_s = "yes";
                                            }
                                            ?>
                                            <input type="checkbox"  data-hidden="toggle" data-true="<?php echo $d_true_s; ?>" data-set-name="socket_server" name="set_options" data-name="enable_socket" id="enablesocket" class="css-yes-no"<?php echo $enable_socket['checked']; ?>>
                                            <label for="enablesocket" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->



                                    <div class="fl-list-like-bordered  enable_socket  <?php echo $enable_socket['hide']; ?> ">
                                        <span>Socket Server (Include HTTP):</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_options" data-name="socket_server" class="<?php echo $class_s; ?> form-text" placeholder="http://127.0.0.1.3013" value="<?php echo SOCKET_SERVER; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>

                                    <div class="fl-list-like-bordered">
                                        <span>Enable Forgot Password Change URL</span>
                                        <div class="fR">
                                            <?php
                                            $enable_fp = $fs->get_checked(ENABLE_FORGOT_PASSWORD_URL);
                                            if (ENABLE_FORGOT_PASSWORD_URL == "1") {
                                                $class_s = "set_options_frequired-red";
                                                $d_true_s = "no";
                                            } else {
                                                $class_s = "";
                                                $d_true_s = "yes";
                                            }
                                            ?>
                                            <input type="checkbox"  data-hidden="toggle" data-true="<?php echo $d_true_s; ?>" data-set-name="forgot_password_url" name="set_options" data-name="enable_fp" id="enable_fp" class="css-yes-no"<?php echo $enable_fp['checked']; ?>>
                                            <label for="enable_fp" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->

                                    <div class="fl-list-like-bordered  enable_fp  <?php echo $enable_fp['hide']; ?> ">
                                        <span>Forgot Password URL:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_options" data-name="forgot_password_url" class="<?php echo $class_s; ?> form-text" placeholder="http://127.0.0.1.3013" value="<?php echo FORGOT_PASSWORD_URL; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>


                                    <div class="fl-list-like-bordered">
                                        <span>Enable Reset Password Email</span>
                                        <div class="fR">
                                            <?php $enable_password = $fs->get_checked(ALLOW_EMAIL_PASSWORD); ?>
                                            <input type="checkbox"  name="set_options" data-name="enable_password_email" id="enablepassword" class="css-yes-no"<?php echo $enable_password['checked']; ?>>
                                            <label for="enablepassword" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>   
                                    </div><!-- Yes no template field -->


                                    <?php if (GO_LITE == 0) { ?>
                                        <div class="fl-list-like-bordered">
                                            <span>Enable Guest</span>
                                            <div class="fR">
                                                <label class="c_key_text"> (Available in Full Version)</label>
                                            </div>
                                            <div class="clearfix"></div>		
                                        </div><!-- Yes no template field -->
                                    <?php } else { ?>
                                        <div class="fl-list-like-bordered">
                                            <span>Enable Guest</span>
                                            <div class="fR">
                                                <?php $enable_guest = $fs->get_checked(ALLOW_GUEST); ?>
                                                <input type="checkbox"  name="set_options" data-name="enable_guest" id="enableguest" class="css-yes-no"<?php echo $enable_guest['checked']; ?>>
                                                <label for="enableguest" class="css-label-yes-no"></label>  
                                            </div>
                                            <div class="clearfix"></div>        
                                        </div><!-- Yes no template field -->
                                    <?php } ?>


                                    <?php if (GO_LITE == 0) { ?>
                                        <div class="fl-list-like-bordered">
                                            <span>Request Form Guest</span>
                                            <div class="fR">
                                                <label class="c_key_text"> (Available in Full Version)</label>
                                            </div>
                                            <div class="clearfix"></div>		
                                        </div><!-- Yes no template field -->
                                    <?php } else { ?>
                                        <div class="fl-list-like-bordered">
                                            <span>Request Form Guest</span>
                                            <div class="fR">
                                                <?php $enable_guest = $fs->get_checked(ALLOW_REQUEST_FORM_GUEST); ?>
                                                <input type="checkbox"  name="set_options" data-name="enable_form_request_guest" id="enableformguest" class="css-yes-no"<?php echo $enable_guest['checked']; ?>>
                                                <label for="enableformguest" class="css-label-yes-no"></label>  
                                            </div>
                                            <div class="clearfix"></div>        
                                        </div><!-- Yes no template field -->
                                    <?php } ?>
                                    <div class="fl-list-like-bordered">
                                        <span>Workspace Control UI</span>
                                        <div class="fl-right">
                                            <?php if (GO_LITE == 0) { ?>
                                                <select data-title="Workspace Control UI" disabled="disabled" class="form-text" name="" data-name="">
                                                    <option value="default-dark" <?php echo functions::setSelected("default-dark", WORKSPACE_CONTROL); ?>>Default - dark</option>
                                                </select>
                                            <?php } else { ?>
                                                <select data-title="Workspace Control UI" class="form-text" name="set_options" data-name="set_workspace_control">
                                                    <option value="default-dark" <?php echo functions::setSelected("default-dark", WORKSPACE_CONTROL); ?>>Default - dark</option>
                                                    <option value="default-light" <?php echo functions::setSelected("default-light", WORKSPACE_CONTROL); ?>>Default - light</option>
                                                </select>
                                            <?php } ?>

                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->
                                    <div class="fl-list-like-bordered">
                                        <span>Form Events</span>
                                        <div class="fR">
                                            <?php $enable_form_events = $fs->get_checked(ENABLE_FORMBUILDER_FORM_EVENTS); ?>
                                            <?php if (GO_LITE == 0) { ?>
                                                <label class="c_key_text"> (Available in Full Version)</label>
                                            <?php } else { ?>
                                                <input type="checkbox"  name="set_options" data-name="formbuilder_form_events" id="formbuilder_form_events" class="css-yes-no"<?php echo $enable_form_events['checked']; ?>>
                                                <label for="formbuilder_form_events" class="css-label-yes-no"></label>  
                                            <?php } ?>


                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->
                                    <div class="fl-list-like-bordered">
                                        <span>Formbuilder Object Layers</span>
                                        <div class="fR">
                                            <?php $slidemenuconfig = $fs->get_checked(SLIDEMENU); ?>
                                            <input type="checkbox"  name="set_options" data-name="formbuilder_slide_menu" id="formbuilder_slide" class="css-yes-no"<?php echo $slidemenuconfig['checked']; ?>>
                                            <label for="formbuilder_slide" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>Field Themes</span>
                                        <div class="fR">
                                            <?php $fieldthemesconfig = $fs->get_checked(FIELD_THEMES); ?>
                                            <?php if (GO_LITE == 0) { ?>
                                                <label class="c_key_text"> (Available in Full Version)</label>
                                            <?php } else { ?>
                                                <input type="checkbox"  name="set_options" data-name="field_themes" id="formbuilder_field_themes" class="css-yes-no"<?php echo $fieldthemesconfig['checked']; ?>>
                                                <label for="formbuilder_field_themes" class="css-label-yes-no"></label>  
                                            <?php } ?>

                                        </div>
                                        <div class="clearfix"></div>        
                                    </div>


                                    <!-- Redis -->

                                    <div class="fl-list-like-bordered">
                                        <span>Enable Redis</span>
                                        <div class="fR">
                                            <?php
                                            $enable_redis = $fs->get_checked(ENABLE_MEMCACHED);
                                            if (ENABLE_MEMCACHED == "1") {
                                                $class_s = "set_options_frequired-red";
                                                $d_true_s = "no";
                                            } else {
                                                $class_s = "";
                                                $d_true_s = "yes";
                                            }
                                            ?>
                                            <input type="checkbox"  data-hidden="toggle" data-true="<?php echo $d_true_s; ?>" data-set-name="redis_server" name="set_options" data-name="enable_redis" id="enableRedis" class="css-yes-no"<?php echo $enable_redis['checked']; ?>>
                                            <label for="enableRedis" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>        
                                    </div><!-- Yes no template field -->



                                    <div class="fl-list-like-bordered  enable_redis  <?php echo $enable_redis['hide']; ?> ">
                                        <span>Redis Server IP:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_options" data-name="redis_server" class="<?php echo $class_s; ?> form-text" placeholder="http://127.0.0.1" value="<?php echo MEMCACHED_SERVER_IP; ?>"/>    
                                        </div>
                                        <div class="clearfix"></div>    
                                    </div>







                                    <!-- <div class="fl-list-like-bordered">
                                        <span>Enable Redis</span>
                                        <div class="fR">
                                    <?php $slidemenuconfig = $fs->get_checked(ENABLE_MEMCACHED); ?>
                                            <input type="checkbox"  name="set_options" data-name="enable_memcached" id="enable_memcached" class="css-yes-no"<?php echo $slidemenuconfig['checked']; ?>>
                                            <label for="enable_memcached" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div> -->

                                    <!-- <div class="fl-list-like-bordered">
                                        <span>Redis Server IP</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_options" data-name="memcached_server" class="form-text" value="<?= MEMCACHED_SERVER_IP; ?>">
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div> -->
                                    <div class="fl-list-like-bordered">
                                        <span>Formalistics Chat</span>
                                        <div class="fR">
                                            <?php $formachatconfig = $fs->get_checked(FORMACHAT); ?>
                                            <?php if (GO_LITE == 0) { ?>
                                                <label class="c_key_text"> (Available in Full Version)</label>
                                            <?php } else { ?>
                                                <input type="checkbox"  name="set_options" data-name="formalistics_chat" id="forma_chat" class="css-yes-no"<?php echo $formachatconfig['checked']; ?>>
                                                <label for="forma_chat" class="css-label-yes-no"></label>  
                                            <?php } ?>
                                        </div>
                                        <div class="clearfix"></div>        
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>Mobile Home</span>
                                        <div class="fR">
                                            <?php $mobile_home = $fs->get_checked(ENABLE_MOBILE_HOME); ?>
                                            <input type="checkbox"  name="set_options" data-name="mobile_home" id="mobile_home" class="css-yes-no" <?php echo $mobile_home['checked']; ?>>
                                            <label for="mobile_home" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>        
                                    </div>
                                    <!-- <div class="fl-list-like-bordered">
                                        <span>Allow Company Selection on Login</span>
                                        <div class="fR">
                                    <?php $companyLogin = $fs->get_checked(COMPANY_LOGIN); ?>
                                            <input type="checkbox"  name="set_options" data-name="company_login" id="login" class="css-yes-no"<?php echo $companyLogin['checked']; ?>>
                                            <label for="login" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>        
                                    </div> -->
                                    <!-- -->
                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="checkbox" id="set_options" data-action="save_options" data-set="set_options" value="Save"/>
                                        <input type="button" class="btn-basicBtn fl-buttonEffect clear_memcache" data-type="checkbox" id="clear_cache" style="width:119px" data-action="save_options" data-set="set_options"  value="Clear Redis"/>
                                    </div>
                                </div>
                            </div>		
                        </div><!-- end of yes or no options -->

                        <!--    Set Guest User      -->
                        <div class="fl-app-config-block set-database">
                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">Guest Email To Use For Auto Login</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="section group">
                                    <div class="fl-list-like-bordered">
                                        <span>Guest Email:</span>
                                        <div class="fl-right">
                                            <!-- <input type="text" name="set_guest" data-name="guest_email" class="form-text" value=""> -->
                                            <?php if (GO_LITE == 0) { ?>
                                                <label class='c_key_text'> (Available in Full Version)</label>
                                            <?php } else { ?>
                                                <input type="hidden" name="set_guest" data-name="guest_email" id="guest_email" name="guest_email"  class="input-xlarge" value="<?php echo GUEST_ID; ?>" />
                                            <?php } ?>

                                        </div>
                                        <div class="clearfix"></div>        
                                    </div>

                                    <div class="fl-list-like-bordered">
                                        <?php if (GO_LITE == 0) { ?>
                                            <input type="button" class="btn-basicBtn fl-buttonEffect "  disabled="disabled" data-type="text"  value="Save"/>
                                        <?php } else { ?>
                                            <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_guest" data-action="save_guest" data-set="set_guest" value="Save"/>
                                        <?php } ?>
                                    </div>

                                </div>

                            </div>  
                        </div><!-- end of set Active Directory -->
                        <!--    // Set Guest User -->

                        <!--	Set Landing Page	  -->
                        <div class="fl-app-config-block set-database">
                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">Set Default Landing Page</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="section group">

                                    <div class="fl-list-like-bordered">
                                        <span>Landing Page:</span>
                                        <div class="fl-right">
                                            <select data-title="Set Page Landing" class="<?php //echo $required;     ?> form-text" name="set_page"  data-name="page" >
                                                <?php
                                                $User_Settings_Functions = new User_Settings_Functions();
                                                echo $User_Settings_Functions->set_landing_page($db, array('page' => MAIN_PAGE . 'user_view/' . APP_LANDING_PAGE), 'Ordinary', APP_LANDING);
                                                ?>
                                            </select>
                                                    <!--<textarea name="set_header_info" data-name="page_keywords" class="form-textarea" placeholder="Formalistics, Formbuilder, Workflow, Organizational Chart"><?php //echo PAGE_KEYWORD;   ?></textarea>-->
                                        </div>
                                        <div class="clearfix"></div>	

                                    </div>

                                    <div class="fl-list-like-bordered" id="other_page" style="display:none;">
                                        <span>Paste preferred page here:</span>
                                        <div class="fl-right">
                                            <?php //echo $set_page['page'];   ?>
                                            <input type="text" name="set_page" data-name="others" value="<?php echo APP_LANDING_PAGE; ?>"  class=" form-text" placeholder="http://sample.com.ph/" />	
                                            <br>
                                            <i style="color:red;font-style: italic;font-size:10px;">Note: Valid url format (http://sample.com.ph/ OR /user_view/app_configuration)</i>
                                        </div>

                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_page" data-action="save_page" data-set="set_page" value="Save"/>
                                    </div>
                                </div>
                            </div>	
                        </div><!-- end of set Active Directory -->
                        <!--	// Set Landing Page	-->
                        <div class="fl-app-config-block set-database">
                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">Set Active Directory</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="section group">
                                    <div class="fl-list-like-bordered">
                                        <?php
                                        $ad_options = $fs->get_checked(ALLOW_ACTIVE_DIRECTORY);
                                        if (ALLOW_ACTIVE_DIRECTORY == "1") {
                                            $class_ad = "set_ad_frequired-red";
                                            $d_true_ad = "no";
                                        } else {
                                            $class_ad = "";
                                            $d_true_ad = "yes";
                                        }
                                        ?>
                                        <span>Allow Active Directory:</span>
                                        <div class="fR">
                                            <input type="checkbox" data-hidden="toggle" data-true="<?php echo $d_true_ad; ?>" data-set-name="ad_ip" name="set_ad" data-name="allow_active_directory" <?php echo $ad_options['checked']; ?> id="ChatActive" class="css-yes-no">
                                            <label for="ChatActive" class="css-label-yes-no"></label>  
                                        </div>
                                        <div class="clearfix"></div>		
                                    </div><!-- Yes no template field -->
                                    <div class="fl-list-like-bordered allow_active_directory   <?php echo $ad_options['hide']; ?> ">
                                        <span>AD IP Address:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="AD IP Address" name="set_ad" data-name="ad_ip" class="<?php echo $class_ad; ?> form-text" value="<?php echo AD_IP_ADDRESS; ?>" placeholder="192.168.0.63"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered allow_active_directory   <?php echo $ad_options['hide']; ?> ">
                                        <span>DC:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="AD DC" name="set_ad"  data-name="ad_dc" class="<?php echo $class_ad; ?> form-text" value="<?php echo DC; ?>"  placeholder="DC=gs3,DC=com,DC=ph"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>

                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_ad" data-action="save_ad" data-set="set_ad" value="Save"/>
                                    </div>
                                </div>
                            </div>	
                        </div><!-- end of set Active Directory -->


                        <div class="fl-app-config-block header-info">
                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">Header Information</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="section group">
                                    <div class="fl-list-like-bordered">
                                        <span>Page Keywords:</span>
                                        <div class="fl-right">
                                            <textarea name="set_header_info" data-name="page_keywords" class="form-textarea" placeholder="Your Page Keywords"><?php echo PAGE_KEYWORD; ?></textarea>
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>Page Description:</span>
                                        <div class="fl-right">
                                            <textarea name="set_header_info" data-name="page_description" class="form-textarea" style="height:137px;" ><?php if (PAGE_DESC) echo "\n" . trim(PAGE_DESC); ?></textarea>
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>Page Title:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_header_info" data-name="page_title" class="form-text"  value="<?php echo PAGE_TITLE; ?>">
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div> 
                                    <div class="fl-list-like-bordered">
                                        <span>Page Author:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_header_info" data-name="page_author" class="form-text"  value="<?php echo PAGE_AUTHOR; ?>">
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="checkbox" id="set_header_info" data-action="save_header_info" data-set="set_header_info" value="Save"/>
                                    </div>
                                </div>
                            </div>	
                        </div><!-- end of header information -->
                        <!--div class="fl-app-config-block for-delegation">

                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">For Days</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="section group">
                                    <div class="fl-list-like-bordered">
                                        <span>Days Pending:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_days" data-name="days_pending"  class="form-text"  value="<?php echo DAYS_PENDING; ?>">
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>

                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_days" data-action="save_days" data-set="set_days" value="Save"/>
                                    </div>
                                </div>
                            </div>	
                        </div--><!-- end of for delegation -->

                        <!--<div class="fl-app-config-block socket-server">-->
                        <!--		<div class="fl-widget-head"><span class="widget-title">Socket Server</span></div>-->
                        <!--		<div class="fl-app-config">-->
                        <!--			<div class="section group">-->
                        <!--				<div class="fl-list-like-bordered">-->
                        <!--					<span>Socket Server:</span>-->
                        <!--					<div class="fl-right">-->
                        <!--						<input type="text" class="form-text" placeholder="http://127.0.0.1.3013">-->
                        <!--					</div>-->
                        <!--					<div class="clearfix"></div>	-->
                        <!--				</div>-->
                        <!--			</div>-->
                        <!--		</div>	-->
                        <!--</div><!-- end of for SMS server -->
                        <div class="fl-app-config-block set-smtp">

                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">Set SMTP</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <?php
                                if (SMTP_AUTH == "true") {
                                    $selected_true = "selected=selected";
                                    $required = "frequired-red set_smtp_frequired-red";
                                } elseif (SMTP_AUTH == "false") {
                                    $selected_false = "selected=selected";
                                    $required = "";
                                } else {
                                    $selected = "";
                                    $required = "";
                                }
                                ?>
                                <div class="section group">
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP Username:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="SMTP Username" name="set_smtp" data-name="username" class="<?php echo $required; ?> form-text"  value="<?php echo SMTP_USERNAME; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP Password:</span>
                                        <div class="fl-right">
                                            <input type="password" data-title="SMTP Password" name="set_smtp" data-name="password" class="<?php echo $required; ?> form-text"  value="<?php echo SMTP_PASSWORD; ?>" style="width: 100%;"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP Port:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="SMTP Port" name="set_smtp" data-name="port" class="<?php echo $required; ?> form-text"  value="<?php echo SMTP_PORT; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP Host:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="SMTP Host" name="set_smtp" data-name="host" class="<?php echo $required; ?> form-text"  value="<?php echo SMTP_HOST; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP Auth:</span>
                                        <div class="fl-right">

                                            <select data-title="SMTP Auth" class="<?php echo $required; ?> form-text" name="set_smtp"  data-name="auth" >
                                                <option value="" <?php echo $selected; ?>></option>
                                                <option value="true" <?php echo $selected_true; ?>>True</option>
                                                <option value="false" <?php echo $selected_false; ?>>False</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP Secure:</span>
                                        <div class="fl-right">
                                            <?php
                                            if (SMTP_SECURE == "ssl") {
                                                $selected_ssl = "selected=selected";
                                            } elseif (SMTP_SECURE == "tls") {
                                                $selected_tls = "selected=selected";
                                            } else {
                                                $selected_none = "";
                                            }
                                            ?>
                                            <select data-title="SMTP Secure" class="<?php echo $required; ?> form-text" name="set_smtp"  data-name="secure" >
                                                <option value="" <?php echo $selected_none; ?>></option>
                                                <option value="ssl" <?php echo $selected_ssl; ?>>SSL</option>
                                                <option value="tls" <?php echo $selected_tls; ?>>TLS</option>
                                            </select>
                    <!--<input type="text" name="set_smtp" data-name="secure" class="form-text" placeholder="SSL/TLS" />	-->
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP From Name:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="SMTP From Name" name="set_smtp" data-name="from_name" class="<?php echo $required; ?> form-text"  value="<?php echo SMTP_FROM_NAME; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMTP From email:</span>
                                        <div class="fl-right">
                                            <input type="text" data-title="Your SMTP SENDER" name="set_smtp" data-name="fom_mail" class="<?php echo $required; ?> form-text"  value="<?php echo SMTP_FROM_EMAIL; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_smtp" data-action="save_smtp" data-set="set_smtp" value="Save"/>
                                    </div>
                                </div>
                            </div>	
                        </div><!-- end of set SMTP -->
                        <div class="fl-app-config-block set-url">

                            <div class="fl-app-config toggleParent">
                                <div class="fl-widget-head">
                                    <span class="widget-title">Set URL</span>
                                    <div class="fl-toolbar-right-wrapper">
                                        <div class="fl-toolbar-icon-wrap">
                                            <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="section group">
                                    <!--<div class="fl-list-like-bordered">
                                            <span>User View:</span>
                                            <div class="fl-right">
                                                    <input type="text" class="form-text" placeholder="/userview/"/>	
                                            </div>
                                            <div class="clearfix"></div>	
                                    </div>-->
                                    <!--<div class="fl-list-like-bordered">
                                            <span>Main Page:</span>
                                            <div class="fl-right">
                                                    <input type="text" name="set_url" data-name="main_page" class="frequired-red set_url_frequired-red form-text" placeholder="http://eforms.gs3.com.ph/" value="<?php //echo MAIN_PAGE;    ?>"/>	
                                            </div>
                                            <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                            <span>Cookie URL:</span>
                                            <div class="fl-right">
                                                    <input type="text" name="set_url" data-name="cookie_url" class="frequired-red set_url_frequired-red form-text" placeholder="eforms.gs3.com.ph" value="<?php //echo COOKIE_URL;    ?>"/>	
                                            </div>
                                            <div class="clearfix"></div>	
                                    </div>-->
                                    <div class="fl-list-like-bordered">
                                        <span>External Image Link:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_url" data-name="image_link" class="frequired-red set_url_frequired-red form-text" placeholder="http://formalistics.gs3.com.ph/" value="<?php echo DIR_EXTERNAL_IMG; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>SMS Server:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_url" data-name="sms_server" class=" form-text" placeholder="tcp://127.0.0.1.3014" value="<?php echo SMS_SERVER; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>

                                    <div class="fl-list-like-bordered">
                                        <span>Guest Main Page URL:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_url" data-name="guest_main" class=" form-text" placeholder="http://guest.gs3.com.ph/" value="<?php echo GUEST_MAIN_PAGE; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <span>Admin Guest Main Page URL:</span>
                                        <div class="fl-right">
                                            <input type="text" name="set_url" data-name="guest_admin_main" class=" form-text" placeholder="http://eforms.gs3.com.ph/" value="<?php echo GUEST_MAIN_PAGE_1; ?>"/>	
                                        </div>
                                        <div class="clearfix"></div>	
                                    </div>
                                    <div class="fl-list-like-bordered">
                                        <input type="button" class="btn-basicBtn fl-buttonEffect app_configuration" data-type="text" id="set_url" data-action="save_url" data-set="set_url" value="Save"/>
                                    </div>

                                </div>
                            </div>	
                        </div><!-- end of set URL -->
                    </div><!-- end of right content -->	
                </div>
            </div>
            <div class="tab-container tab-container-app-config" id="tab2C">

                <form id="login_page" action="/ajax/app_configuration" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="action" value="login_theme"  class="form-text">

                    <div class="section clearing">

                        <div class="column div_1_of_1">
                            <div class="section group">
                                <div class="fl-app-config-block">
                                    <div class="fl-app-config toggleParent fl-header-style">
                                        <div class="fl-widget-head">
                                            <div class="fl-toolbar-left-wrapper">
                                                <span class="widget-title">Customized login page</span>
                                            </div>
                                            <div class="fl-toolbar-right-wrapper">
                                                <div class="fl-toolbar-icon-wrap">
                                                    <i class="fa fa-times tip cancel_login_data" data-placement="top" data-original-title="Cancel edit"></i>
                                                </div>
                                                <div class="fl-toolbar-icon-wrap">
                                                    <i class="fa fa-check tip save_login_data" data-placement="top" data-original-title="Save login page"></i>
                                                </div>
                                                <div class="fl-toolbar-icon-wrap">
                                                    <i class="fa fa-arrow-circle-up fl-toggleUpDown tip" data-placement="top" data-original-title="Hide This"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section clearing group">
                                            <div class="column div_1_of_1">
                                                <div class="fl-list-like-bordered"><h2>HEADER</h2></div>
                                            </div>
                                        </div>
                                        <div class="section clearing group">
                                            <div class="column div_1_of_2">
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span>Header background color:</span>
                                                    <div class="fl-right">
                                                        <input type="text" name="set_login_page_ui" data-name="header_background_color" class="form-text header_background_color" placeholder="" value="<?php echo HEADER_BG_COLOR ?>">	
                                                    </div>
                                                </div>
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span>Header button color:</span>
                                                    <div class="fl-right">
                                                        <input type="text" name="set_login_page_ui" data-name="header_button_color" class="form-text header_button_color" placeholder="" value="<?php echo HEADER_BTN_COLOR ?>">	
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column div_1_of_2">
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span style="position:relative;">Header Logo:
                                                        <span style="font-size: 9px; position: absolute; top: 12px; left: 0px;width: 128px; font-family: droid_sansregular_bold">Width:300px x Height:100px</span>
                                                    </span>
                                                    <div class="fl-right">
                                                        <input type="file" name="header_logo" data-name="header_logo"  class="form-text header_logo">   

                                                        <!-- <form id="header_logo_upload" action="/ajax/app_configuration" method="POST" "multipart/form-data">
                                                            <input type="file" name="header_logo" data-name="header_logo"  class="form-text header_logo">	
                                                            <input type="hidden" name="action" value="theme" data-name="header_logo_path" class="form-text header_logo">
                                                            <input type="hidden" name="parameters" value="header_logo" data-name="header_logo_path" class="form-text header_logo">
                                                            <input type="hidden" name="set_login_page_ui" data-id="header_logo_path" data-name="header_logo_path" class="form-text header_logo" value="<?php echo HEADER_LOGO_PATH ?>">
                                                        </form>
                                                        <div>
                                                            <div style="font-family: droid_sansregular_bold; margin:5px 0px 5px 0px;">Currently used image:</div>
                                                            
                                                        </div>   -->
                                                        <?php echo HEADER_LOGO_PATH; ?>
                                                        <input type="hidden" name="parameters" value="header_logo" data-name="header_logo_path" class="form-text header_logo">
                                                        <input type="hidden" name="set_login_page_ui" data-id="header_logo_path" data-name="header_logo_path" class="form-text header_logo" value="<?php echo HEADER_LOGO_PATH ?>">

                                                    </div>
                                                </div>
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span>Header label color:</span>
                                                    <div class="fl-right">
                                                        <input type="text" name="set_login_page_ui" data-name="header_label_color" class="form-text header_label_color" placeholder="" value="<?php echo HEADER_LABEL_COLOR ?>">	
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section clearing group">
                                            <div class="column div_1_of_2">
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span>Header border color:</span>
                                                    <div class="fl-right">
                                                        <input type="text" name="set_login_page_ui" data-name="header_border_color" class="form-text header_border_color" placeholder="" value="<?php echo HEADER_BORDER_COLOR ?>">	
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column div_1_of_2"></div>
                                        </div>
                                        <div class="section clearing group">
                                            <div class="column div_1_of_1">
                                                <div class="fl-list-like-bordered"><h2>BODY AND FOOTER</h2></div>
                                            </div>
                                        </div>
                                        <div class="section clearing group">
                                            <div class="column div_1_of_2">
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span style="position:relative;">Body Wallpaper:
                                                        <span style="font-size: 9px; position: absolute; top: 12px; left: 0px;width: 128px; font-family: droid_sansregular_bold">Width:1024px x Height:560px</span>
                                                    </span>
                                                    <div class="fl-right">
                                                        <input type="file" name="body_wallpaper" data-name="body_wallpaper" class="form-text body_wallpaper">
                                                        <?php echo BODY_WALLPAPER_PATH; ?>
                                                        <input type="hidden" name="parameters" value="body_wallpaper" data-name="body_wallpaper_path" class="form-text body_wallpaper">
                                                        <input type="hidden" name="set_login_page_ui" data-name="body_wallpaper_path" data-id="body_wallpaper_path" class="form-text body_wallpaper" value="<?php echo BODY_WALLPAPER_PATH ?>">
                                                        <input type="hidden" name="set_login_page_ui" data-name="body_wallpaper_height" data-id="body_wallpaper_height" class="body_wallpaper_height" value="<?php echo BODY_WALLPAPER_HEIGHT ?>"> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column div_1_of_2">
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span>Footer background color:</span>
                                                    <div class="fl-right">
                                                        <input type="text" name="set_login_page_ui" data-name="footer_background_color" class="form-text footer_background_color" value="<?php echo FOOTER_BG_COLOR ?>">	
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="section clearing group">
                                            <div class="column div_1_of_2">
                                                <div class="fl-list-like-bordered clearfix">
                                                    <span>Footer font color:</span>
                                                    <div class="fl-right">
                                                        <input type="text" name="set_login_page_ui" data-name="footer_font_color" class="form-text footer_font_color" value="<?php echo FOOTER_FONT_COLOR ?>">	
                                                    </div>
                                                </div>
                                                <div class="fl-list-like-bordered">
                                                    <input type="button" class="isDisplayNone btn-basicBtn fl-buttonEffect app_configuration fl-positive-btn" data-type="checkbox" id="set_login_page_ui" data-action="save_login_page_ui" data-set="set_login_page_ui" value="Save">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="section clearing">

                    <div class="column div_1_of_1">
                        <div class="section group">
                            <div class="fl-app-config-block">
                                <div class="fl-app-config toggleParent">
                                    <div class="fl-widget-head">
                                        <div class="fl-toolbar-left-wrapper">
                                            <span class="widget-title"><h2>PREVIEW LOGIN PAGE</h2></span>
                                            <?php include_once "layout/login_preview_default_css.phtml" ?>
                                        </div>
                                        <div class="fl-toolbar-right-wrapper">
                                            <div class="fl-toolbar-icon-wrap">
                                                <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide This"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section clearing group">
                                        <div class="column div_1_of_1">
                                            <div class="fl-list-like-bordered clearfix">
                                                <?php include_once "layout/login_preview_default.phtml" ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>			
                    </div>
                </div>
            </div>
        </div>
        <!--<center><input type="button" class="btn-basicBtn fl-buttonEffect" value="Save"/></center>-->
    </div><!-- end of app config wrapper -->


    <?php
} else {
    $this->setInclude('error');
}
?>