<div class="fl-app-config-warpper">
	<div class="fl-option-toolbar">
		<div class="fl-toolbar-left-wrapper">
			<h1><i class="fa fa-cogs"></i> Application Configuration</h1>
		</div>
	</div>
	<div class="section group">
		<div class="col two-columns">
			<div class="fl-widget-head"><span class="widget-title">Adding Options</span></div>
			<div class="fl-app-config">
				<div class="section group">
					<div class="col two-columns fl-app-cofig-field">
						<span>Not Allowed Leftbar</span>
						<div class="input_position_below fl-pos-below-app-config">
							<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
							<input type="text" class="form-text"/>
							<div class="fl-append-data">
							</div><!-- append data here -->
						</div>
					</div><!-- not allowed leftbar field -->
					<div class="col two-columns fl-app-cofig-field">
						<span>Allowed Folder</span>
						<div class="input_position_below fl-pos-below-app-config">
							<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
							<input type="text" class="form-text"/>
							<div class="fl-append-data">
							</div><!-- append data here -->
						</div>
					</div><!-- not allowed leftbar field -->
				</div><!-- end left to right fields -->	
				<div class="section group">
					<div class="col two-columns fl-app-cofig-field">
						<span>Not Allowed Chat</span>
						<div class="input_position_below fl-pos-below-app-config">
							<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
							<input type="text" class="form-text"/>
							<div class="fl-append-data">
							</div><!-- append data here -->
						</div>
					</div><!-- not allowed leftbar field -->
					<div class="col two-columns fl-app-cofig-field">
						<span>Valid File Extensions</span>
						<div class="input_position_below fl-pos-below-app-config">
							<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
							<input type="text" class="form-text"/>
							<div class="fl-append-data">
							</div><!-- append data here -->
						</div>
					</div><!-- not allowed leftbar field -->
				</div><!-- end left to right fields -->
				<div class="section group">
					<div class="col two-columns fl-app-cofig-field">
						<span>Valid Images Extensions</span>
						<div class="input_position_below fl-pos-below-app-config">
							<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
							<input type="text" class="form-text"/>
							<div class="fl-append-data">
							</div><!-- append data here -->
						</div>
					</div><!-- not allowed leftbar field -->
					<div class="col two-columns fl-app-cofig-field">
						<span>Enable Selected Navigation</span>
						<div class="input_position_below fl-pos-below-app-config">
							<div class="fl-add-btn"><i class="fa fa-plus"></i></div>
							<input type="text" class="form-text"/>
							<div class="fl-append-data">
							</div><!-- append data here -->
						</div>
					</div><!-- not allowed leftbar field -->
				</div><!-- end left to right fields -->		
			</div>	
		</div><!-- end of adding options -->
		<div class="col two-columns">
			<div class="fl-widget-head"><span class="widget-title">Yes or No Options</span></div>
			<div class="fl-app-config">	
				<div class="fl-list-like-bordered">
					<span>Allow User View</span>
					<div class="fl-right">
						<input type="checkbox" name="allowUserView" id="allowUserView" class="css-yes-no">
         				 <label for="allowUserView" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div>
				<div class="fl-list-like-bordered">
					<span>Allow Admin Leftbar</span>
					<div class="fl-right">
						<input type="checkbox" name="allowAdminLeftbar" id="allowAdminLeftbar" class="css-yes-no">
         				 <label for="allowAdminLeftbar" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Allow Application Portal</span>
					<div class="fl-right">
						<input type="checkbox" name="allowAppPortal" id="allowAppPortal" class="css-yes-no">
         				 <label for="allowAppPortal" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Allow Processor Attachment</span>
					<div class="fl-right">
						<input type="checkbox" name="allowProcessorAttachment" id="allowProcessorAttachment" class="css-yes-no">
         				 <label for="allowProcessorAttachment" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Allow User Help</span>
					<div class="fl-right">
						<input type="checkbox" name="allowUserHelp" id="allowUserHelp" class="css-yes-no">
         				 <label for="allowUserHelp" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Allow User Admin</span>
					<div class="fl-right">
						<input type="checkbox" name="allowUserAdmin" id="allowUserAdmin" class="css-yes-no">
         				 <label for="allowUserAdmin" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Enable Rules</span>
					<div class="fl-right">
						<input type="checkbox" name="EnableRules" id="EnableRules" class="css-yes-no">
         				 <label for="EnableRules" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Chat Active</span>
					<div class="fl-right">
						<input type="checkbox" name="ChatActive" id="ChatActive" class="css-yes-no">
         				 <label for="ChatActive" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->
				<div class="fl-list-like-bordered">
					<span>Socket Active</span>
					<div class="fl-right">
						<input type="checkbox" name="SocketActive" id="SocketActive" class="css-yes-no">
         				 <label for="SocketActive" class="css-label-yes-no"></label>  
					</div>
					<div class="clearfix"></div>		
				</div><!-- Yes no template field -->														
			</div>		
		</div><!-- end of yes or no options -->	
	</div>	
</div><!-- end of app config wrapper -->