<?php
$mod = unserialize(ENABLE_COMPANY_MOD);
$fs = new functions;

if($mod['dashboard'] == "1"){

?>
<?php
$auth = Auth::getAuth('current_user');
$db = new Database();
$user_id = $auth['id'];
$company_id = $auth['company_id'];
$search = new Search();
$fs = new functions;
$form_id = $fs->base_encode_decode("decrypt", $_GET['id']);
$ri_key = '';
if(isset($_GET['ri_key'])){
    if(ALLOW_EXTERNAL_LINKS == 1){
        $ri_key= $_GET['ri_key'];
    }
}
if(isset($_GET['return_fields'])){
    $getfields = urldecode($_GET['return_fields']);
    // if(strpos($getfields,'{') !== false){
    //     $get_json_fields = json_decode($getfields);
    // }fl-revealWrapperTrigger
    // else{
    //     $get_array_fields = explode(" ", $getfields);
    // }
    // echo "<script>alert('" + $get_array_fields + "');</script>";
    // echo "<script>alert('" + $get_json_fields + "');</script>";
}
$forms = $db->query("SELECT * FROM tb_workspace WHERE id = {$db->escape($form_id)} AND is_delete = 0", "row");
$display_import = $forms['display_import'];
// $form_json = json_decode($forms['form_json']);
// $include_calendar = $form_json->{'form_json'}->include_calendar;
// $calendar_view = $form_json->{'form_json'}->calendar_view;
// $default_view = ($calendar_view->default_view!=""?$calendar_view->default_view:0);
// $fields_headerObj = $form_json->{'form_json'}->{'collected_data_header_info'}->{'listedchoice'};
// $fields_headerObjType = $form_json->{'form_json'}->{'headerInfoType'};
// $fields_headerObjType_allowReorder = $form_json->{'form_json'}->{'allowReorder'};
// $fieldDefaultSort = $form_json->{'form_json'}->{'fieldDefaultSort'};
// $fieldDefaultSortType = $form_json->{'form_json'}->{'fieldDefaultSortType'};
$application_id = $_COOKIE['application'];
// $user_id = $auth['id'];
// // Set form customized print
// $form_json = json_decode($forms['form_json'], true);
// $form_json_customized_print = $search->getFormPrivacyUsers(json_encode($form_json['form_json']['customized-print']));
// //get active fields
$active_fields = explode(",", $forms['active_fields']);
// $btn = "";
// $saved_details_panel = $form_json['form_json']['saved_details_panel'];

// //var_dump($form_json['form_json']['workspace_buttonName']);
// if(isset($form_json['form_json']['workspace_buttonName'])){
//     $btn = ucfirst($form_json['form_json']['workspace_buttonName']);
// }else{
//     $btn = ucfirst("Create Request");
// }

// $isJunctionFields = $db->query("SELECT * FROM tbfields where form_id = $form_id","numrows");
// if($isJunctionFields>0){
//     $fields_headerObj_array = array();
//     $fields_headerObj = json_decode(json_encode($fields_headerObj),true);
//     foreach ($fields_headerObj as $key => $value) {
//         $field_name = str_replace("[]", "", $value['field_name']);
//         $getFieldsData = $db->query("SELECT * FROM tbfields where form_id = $form_id AND field_name = '". $field_name ."'","row");
//         if($getFieldsData['id']>0){
//             $getFieldsData['field_label'] = $getFieldsData['data_field_label'];
//             array_push($fields_headerObj_array, $getFieldsData);
//         }else{
//             array_push($fields_headerObj_array, $value);
//         }
//     }
//     $fields_headerObj = $fields_headerObj_array;
// }

?>

<?php
$form_name = str_replace(" ", "_",$forms['form_name']);
// $formPrivacy_authors = $search->getFormPrivacyUsers($forms['form_authors']);
$formPrivacy_authors = $search->getModulesByAuthor(" AND tbw.id = $form_id");
$formPrivacy_print_authors = $search->getModulesByPrintAuthor(" AND tbw.id = $form_id");
?>
<?php
    if(isset($_GET['return_fields'])){
        echo '<input type="text" class="display get-returned-values" value=\'' . $_GET['return_fields'] . '\' />';
    }
    include 'layout/application_table_view.phtml';
?>

<?php }else{ $this->setInclude('error'); }  ?>

