<!-- include 'layout/adminbar2.php' -->
<?php include "layout/main-nav-v2-svg.phtml";?>
<?php include "layout/main-app-icons.phtml";?>
<!-- <script src="/js/library/angular/angular.min.js"></script>
<script src="/js/functions/user_view/icons.js"></script> -->
<div class="section clearing" ng-app="iconSet"> 
    <div class="column div_1_of_1">
        
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Icons<a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div>
        <div class="fl-widget-wrapper-not-scroll" style="background-color:#4a4a4a !important;">
            <div class="fl-inner-content" ng-controller="IconSetCtrl">
                <ul id="fl-widget-icon-set" class="clearfix">
                    <li  ng-repeat="icon in icons">
                         <svg class="icon-svg" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{icon.id}}"></use>
                        </svg>
                        <span style="color:#ffffff;">{{icon.name}}</span>
                        <span style="color:#ffffff;">{{icon.id}}</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</div>
<div class="section clearing">
    <div class="column div_1_of_2">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Left<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll">
            <div class="fl-inner-content">
                <div class="your-main-wrap">
                    <div class="fL"><h1 style="font-size: 17px;">Your label</h1></div>
                    <div class="fR"><i class="icon-plus-sign fa fa-plus cursor fl-fa-btn"></i> <i class="icon-plus-sign fa fa-minus cursor fl-fa-btn"></i></div>
                    <div class="section clearing fl-field-style">
                        <div class="column div_1_of_1">
                            <span class="">Your field label:</span>
                            <input type="text" class="form-text"/>
                        </div> 
                    </div>
                    <div class="section clearing fl-field-style">
                        <div class="column div_1_of_1">
                            <span class="">Your field label:</span>
                            <input type="text" class="form-text"/>
                        </div> 
                    </div>
                </div>
                <div class="your-main-wrap">
                    <div class="fL"><h1 style="font-size: 17px;">Your label (different section)</h1></div>
                    <div class="fR"><i class="icon-plus-sign fa fa-plus cursor fl-fa-btn"></i> <i class="icon-plus-sign fa fa-minus cursor fl-fa-btn"></i></div>
                    <div class="section clearing fl-field-style">
                        <div class="column div_1_of_1">
                            <span class="">Your field label:</span>
                            <input type="text" class="form-text"/>
                        </div> 
                    </div>
                    <div class="section clearing fl-field-style">
                        <div class="column div_1_of_1">
                            <span class="">Your field label:</span>
                            <input type="text" class="form-text"/>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column div_1_of_2">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Right<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll">
            <div class="fl-inner-content">
                <div class="fl-search-wrapper fl-ui-search">
                    <input type="text" placeholder="Search Something" class="">
                    <ul class="fl-ui-search-button">
                        <li style="float: left;"><i class="fa fa-caret-up"></i></li>
                        <li style="float: left;"><i class="fa fa-caret-down"></i></li>
                        <li style="float: left;"><i class="fa fa-search"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section clearing">
    <div class="column div_1_of_2">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Fonts<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll">
            <div class="fl-inner-content">

                <!-- <div id="fl-reqcalendar" style="display:block;"></div> --><!-- end of full calendar -->
                <h1 style="font-family: formaregular">formalistics regular</h1>
                <h1 style="font-family: formabold">formalistics bold</h1>

                <h1 class="opensanslight">opensans light</h1>
                <h1 class="opensansregular">opensans bold</h1>
                <br/>
                <h1 class="droidsansregular">formalistics regular (droidsans)</h1>
                <h1 class="droidsansbold">formalistics bold (droidsans)</h1>
                <br/>
                <h1 class="protestantregular">protestant regular</h1>
                <br/>
                <h1 class="dustismoregular">dustismo regular</h1>
                <h1 class="dustismoromanregular">dustismo romanregular</h1>
                <h1 class="dustismoitalic">dustismo italic</h1>
                <h1 class="dustismobolditalic">dustismo bold italic</h1>
                <h1 class="dustismobold">dustismo bold</h1>
                <br/>
                <h1 class="perspectivesansblackitalic">perspectivesans black italic</h1>
                <h1 class="perspectivesansbolditalic">perspectivesans bold italic</h1>  
                <h1 class="perspectivesansregular">perspectivesans regular</h1>  
                <h1 class="perspectivesansbold">perspectivesans bold</h1>
                <h1 class="perspectivesansitalic">perspective sansitalic</h1> 
                <br/>
                <h1 class="sansumiregular">sansumi regular</h1>
                <h1 class="sansumibold">sansumi bold</h1>
                <h1 class="sansumisemibold">sansumi semibold</h1>
                <h1 class="sansumiultralightregular">sansumi ultralight regular</h1>
                <br/>
                <h1 class="traditionsansxlightregular">traditionsans xlightregular</h1>
                <br/>
                <h1 class="verahumana95regular">vera humana95regular</h1>
                <h1 class="verahumana95bold">vera humana95bold</h1>
                <h1 class="verahumana95bolditalic">vera humana95bolditalic</h1>
                <h1 class="verahumana95italic">vera humana95italic</h1>  
                <br/>
                <h1 class="weezerfontregular">weezerfont regular</h1>  
            </div>
        </div>
    </div>
    <div class="column div_1_of_2">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Pinned Request<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-scroll fl-scroll-overflow">
            <div class="fl-request-widget">
                <div class="fl-request-widget-header">
                    <span>Form Name: Developer Profile</span>
                </div>
                <ul class="fl-request-widget-data">
                    <li>Developer Name : John Doe</li>
                    <li>Contact : 0927987398</li>
                    <li>Address : #6 H Pinagbuhatan pasig city</li>
                    <li>Languages : Java, C#, PHP</li>
                    <li>Shift : Day Shift</li>
                    <li>Position : Junior Developer</li>
                </ul>
            </div>
            <div class="fl-request-widget">
                <div class="fl-request-widget-header">
                    <span>Form Name: Developer Profile</span>
                </div>
                <ul class="fl-request-widget-data">
                    <li>Developer Name : John Doe</li>
                    <li>Contact : 0927987398</li>
                    <li>Address : #6 H Pinagbuhatan pasig city</li>
                    <li>Languages : Java, C#, PHP</li>
                    <li>Shift : Day Shift</li>
                    <li>Position : Junior Developer</li>
                </ul>
            </div>
            <div class="fl-request-widget">
                <div class="fl-request-widget-header">
                    <span>Form Name: Developer Profile</span>
                </div>
                <ul class="fl-request-widget-data">
                    <li>Developer Name : John Doe</li>
                    <li>Contact : 0927987398</li>
                    <li>Address : #6 H Pinagbuhatan pasig city</li>
                    <li>Languages : Java, C#, PHP</li>
                    <li>Shift : Day Shift</li>
                    <li>Position : Junior Developer</li>
                </ul>
            </div>        
        </div>
    </div>
</div><!-- 2 COLUMN WIDGET -->
<div class="section clearing">
    <div class="column div_1_of_3">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon cewv2"></span><span class="widget-title">Company Events<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-scroll fl-small-widgetwrapperv2 eventsUserWidgetWrapper">
            <div class="fl-events-container-users eventsUserWidget">
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-cpnyevnts-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchdate">15 days ago</div>
                                <div class="fl-wchname">John Doe</div>                                              
                            </div>
                            There are many variations of passages of Lorem Ipsum available, 
                            but the majority have suffered alteration in some form
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-cpnyevnts-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchdate">15 days ago</div>
                                <div class="fl-wchname">John Doe</div>                                              
                            </div>
                            There are many variations of passages of Lorem Ipsum available, 
                            but the majority have suffered alteration in some form
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-cpnyevnts-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchdate">15 days ago</div>
                                <div class="fl-wchname">John Doe</div>                                              
                            </div>
                            There are many variations of passages of Lorem Ipsum available, 
                            but the majority have suffered alteration in some form
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-cpnyevnts-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchdate">15 days ago</div>
                                <div class="fl-wchname">John Doe</div>                                              
                            </div>
                            There are many variations of passages of Lorem Ipsum available, 
                            but the majority have suffered alteration in some form
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-cpnyevnts-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchdate">15 days ago</div>
                                <div class="fl-wchname">John Doe</div>                                              
                            </div>
                            There are many variations of passages of Lorem Ipsum available, 
                            but the majority have suffered alteration in some form
                        </div>  
                    </div>
                </div><!-- info template -->
            </div>
            <!-- all about loading -->
            <div class="fl-see-all display seeAllEvent">
                <a href=""><span>See all <i class="fa fa-hand-o-right"></i></span></a>
            </div> 
            <div class="fl-widget-wrapper-center-content display load_pevent">
                <!-- for loading congtent -->
                <div class="fl-loading-content">
                    <div align="center"><img src="/images/icon/loading.gif"></div>
                    <p>Loading Content...</p>
                </div> 
                <!-- for loading congtent -->
                <!-- for no data -->
                <!--<div class="fl-no-data-found">
                    <span><i class="fa fa-files-o"></i> No Data Found.</span>
                 </div> -->
                <!-- for no data -->
            </div>
            <!-- all about loading --> 
        </div>
    </div><!-- END OF 1 OF 3 -->
    <div class="column div_1_of_3">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="my-requestsv2 icon"></span><span class="widget-title">My Requests<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-scroll fl-small-widgetwrapperv2 myRequestUserWidgetWrapper">
            <div class="fl-myrequest-container-users myRequestUserWidget">
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-widget-my-requests-content-wrapperv2 theme-font-color">
                            <div class="fl-form-request-header">
                                <span>Form Category:</span>
                                <span class="request-data theme-font-color"> Mobile Developer Form</span>
                            </div>
                            <div class="fl-form-request-body">
                                <span>Form:</span>
                                <span class="request-data theme-font-color"> Developer Profile</span><br/>
                                <span>Request ID:</span>
                                <span class="request-data theme-font-color"> dev0010</span><br/>
                                <span>Status:</span>
                                <span class="request-data request-status theme-font-color"> Active Profile</span>
                            </div>
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-widget-my-requests-content-wrapperv2 theme-font-color">
                            <div class="fl-form-request-header">
                                <span>Form Category:</span>
                                <span class="request-data theme-font-color"> Mobile Developer Form</span>
                            </div>
                            <div class="fl-form-request-body">
                                <span>Form:</span>
                                <span class="request-data theme-font-color"> Developer Profile</span><br/>
                                <span>Request ID:</span>
                                <span class="request-data theme-font-color"> dev0010</span><br/>
                                <span>Status:</span>
                                <span class="request-data request-status theme-font-color"> Active Profile</span>
                            </div>
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-widget-my-requests-content-wrapperv2 theme-font-color">
                            <div class="fl-form-request-header">
                                <span>Form Category:</span>
                                <span class="request-data theme-font-color"> Mobile Developer Form</span>
                            </div>
                            <div class="fl-form-request-body">
                                <span>Form:</span>
                                <span class="request-data theme-font-color"> Developer Profile</span><br/>
                                <span>Request ID:</span>
                                <span class="request-data theme-font-color"> dev0010</span><br/>
                                <span>Status:</span>
                                <span class="request-data request-status theme-font-color"> Active Profile</span>
                            </div>
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-widget-my-requests-content-wrapperv2 theme-font-color">
                            <div class="fl-form-request-header">
                                <span>Form Category:</span>
                                <span class="request-data theme-font-color"> Mobile Developer Form</span>
                            </div>
                            <div class="fl-form-request-body">
                                <span>Form:</span>
                                <span class="request-data theme-font-color"> Developer Profile</span><br/>
                                <span>Request ID:</span>
                                <span class="request-data theme-font-color"> dev0010</span><br/>
                                <span>Status:</span>
                                <span class="request-data request-status theme-font-color"> Active Profile</span>
                            </div>
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-widget-my-requests-content-wrapperv2 theme-font-color">
                            <div class="fl-form-request-header">
                                <span>Form Category:</span>
                                <span class="request-data theme-font-color"> Mobile Developer Form</span>
                            </div>
                            <div class="fl-form-request-body">
                                <span>Form:</span>
                                <span class="request-data theme-font-color"> Developer Profile</span><br/>
                                <span>Request ID:</span>
                                <span class="request-data theme-font-color"> dev0010</span><br/>
                                <span>Status:</span>
                                <span class="request-data request-status theme-font-color"> Active Profile</span>
                            </div>
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <div class="fl-widget-my-requests-content-wrapperv2 theme-font-color">
                            <div class="fl-form-request-header">
                                <span>Form Category:</span>
                                <span class="request-data theme-font-color"> Mobile Developer Form</span>
                            </div>
                            <div class="fl-form-request-body">
                                <span>Form:</span>
                                <span class="request-data theme-font-color"> Developer Profile</span><br/>
                                <span>Request ID:</span>
                                <span class="request-data theme-font-color"> dev0010</span><br/>
                                <span>Status:</span>
                                <span class="request-data request-status theme-font-color"> Active Profile</span>
                            </div>
                        </div>  
                    </div>
                </div><!-- info template -->
            </div>
        </div>
    </div><!-- END OF 1 OF 3 -->
    <div class="column div_1_of_3">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon starredv2"></span><span class="widget-title">Starred<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-scroll starredUserWidgetWrapper">
            <div class="fl-starred-container-users starredUserWidget">
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <i class="fl-delete fa fa-times removeStarred_user_widget"></i>
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-starred-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchname">John Doe</div>     
                                <div class="fl-wchdate">2014-09-30 09:09:44</div>                                               
                            </div>
                            Company Events
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <i class="fl-delete fa fa-times removeStarred_user_widget"></i>
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-starred-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchname">John Doe</div> 
                                <div class="fl-wchdate">2014-09-30 09:09:44</div>                                                   
                            </div>
                            Company Events
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <i class="fl-delete fa fa-times removeStarred_user_widget"></i>
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-starred-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchname">John Doe</div> 
                                <div class="fl-wchdate">2014-09-30 09:09:44</div>                                               
                            </div>
                            Company Events
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <i class="fl-delete fa fa-times removeStarred_user_widget"></i>
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-starred-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchname">John Doe</div>   
                                <div class="fl-wchdate">2014-09-30 09:09:44</div>                                                                           
                            </div>
                            Company Events
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <i class="fl-delete fa fa-times removeStarred_user_widget"></i>
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-starred-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchname">John Doe</div> 
                                <div class="fl-wchdate">2014-09-30 09:09:44</div>                                               
                            </div>
                            Company Events
                        </div>  
                    </div>
                </div><!-- info template -->
                <div class="fl-widget-info">
                    <div class="fl-widget-content fl-widget-contentv2">
                        <i class="fl-delete fa fa-times removeStarred_user_widget"></i>
                        <div class="fl-avatar">
                            <?php
                            echo userQueries::avatarPic("tbuser", $event['postedBy'], "30", "30", "small", "avatar");
                            ?>
                        </div>
                        <div class="fl-widget-starred-content-wrapperv2 theme-font-color">
                            <div class="fl-wcheader">
                                <div class="fl-wchname">John Doe</div>    
                                <div class="fl-wchdate">2014-09-30 09:09:44</div>                                           
                            </div>
                            Company Events
                        </div>  
                    </div>
                </div><!-- info template -->
            </div>  
        </div>
    </div><!-- END OF 1 OF 3 -->
</div><!-- 3 COLUMN WIDGET -->

<div class="section clearing">
    <div class="column div_1_of_4">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Status Badge<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll"> 
            <div class="fl-inner-content">
                <span>Status</span><Br/><Br/>
                <span class="fl_badge_SpringGreen">Active</span><Br/><Br/>
                <span class="fl_badge_DarkRed">Not Active</span>
                <Br/><Br/>
                <hr/>
                <span>Form Type</span><Br/><Br/>
                <span class="fl_badge_SpringGreen">Publish</span><Br/><Br/>
                <span class="fl_badge_Gold">Template</span>
                <Br/><Br/>
                <hr/>
                <span>Version</span><Br/><Br/>
                <span class="fl_badge_SteelBlue">Staging</span><Br/><Br/>
                <span class="fl_badge_SpringGreen">Production</span>
                <Br/><Br/>
                <hr/>
                <span>Badge Classes</span><Br/><Br/>
                <span class="fl_badge_silver">Default</span><Br/><Br/>
                <span class="fl_badge_SpringGreen">Success</span><Br/><Br/>
                <span class="fl_badge_Gold">Warning</span><Br/><Br/>
                <span class="fl_badge_DarkRed">Important</span><Br/><Br/>
                <span class="fl_badge_SteelBlue">Information</span><Br/><Br/>
                <span class="fl_badge_Black">Inverse</span>
            </div>
        </div>
    </div>
    <div class="column div_1_of_4">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">4 Column widget<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll">          
        </div>
    </div>
    <div class="column div_1_of_4">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">4 Column widget<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll">          
        </div>
    </div>
    <div class="column div_1_of_4">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">4 Column widget<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll">          
        </div>
    </div>
</div><!-- 4 COLUMN WIDGET -->
<div class="section clearing">
    <div class="column div_1_of_3">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">1 of 3 Column widget<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
    </div>
    <div class="column div_2_of_3">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">2 of 3 Column widget<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
    </div>
</div>
