<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);

if($mod['administer']['delegation'] == "1"){

?>

<?php if(GO_LITE != 0){ ?>
<div class="fl-list-of-app-record-wrapper">

  <div class="fl-option-toolbar">
      
      <div class="fl-toolbar-left-wrapper">
          <h1>
            <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-delegation"></use>
            </svg>
            Delegation</h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <?php include 'layout/adminbar.php';?>
   <div class="fl-main-app-view" style="position:relative">
      <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
        <ul class="fl-standard-btn">
          <li class="fl-buttonEffect" id="addDelagateModal">
              <a class="primary-btn">Add Delegation</a>
          </li>
      </ul>
      </div>
      <div class="fl-toolbar-right-wrapper">
        <div class="fl-search-wrapper">
          <input type="text" placeholder="Search Delegation" id="txtSearchRuleDatatable" style="float:right"> 
              <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchDelagateDatatable">
          <select class="fl-input-select" id="searchDelagateLimitPerPage" style="float:left;">
              <option value="10">Show Entries</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
          </select>
        </div>
        <!-- div class="fl-search-wrapper" style="width:370px;">
          
          <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable" style="float:right;"> 
              <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
        </div>
          <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
      </div>
        <div class="clearfix"></div>
      </div><!-- end of option toolbar -->
      <div class="fl-datatable-wrapper">  
     <table class="table_data display_data dataTable"  id="loadDelagate">
        <thead class="fl-header-tbl-wrapper">
           <tr>
              <th field_name="delegate_user" style="width:20% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div>User</div></div></th>
              <th field_name="delegate_to_user" style="width:20% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div>Delegate</div></div></th>
           <th field_name="start_date" style="width:15% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div>Start Date</div></div></th>
              <th field_name="end_date" style="width:15% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div>End Date</div></div></th>
              <th field_name="remarks" style="width:20% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div>Reason for delegation</div></div></th>
              <!-- <th field_name="date_created" style="width:10% !important"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Date Created</div></div></th> -->
              <!-- <th field_name="date_updated" style="width:10% !important"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Date Updated</div></div></th> -->
              <th style="width:10% !important">Action</th>
           </tr>
        </thead>
        <tbody></tbody>
     </table>
      </div> 
      <div class="dataTable_widget"></div>
   </div>
</div>
<?php
$search = new Search();
$auth = Auth::getAuth('current_user');
//get users
$getUsers = $search->getAllUsers(" AND user_level_id != 4 AND display_name!=''");
echo "<div class='display' id='users-list'>" . json_encode($getUsers) . "</div>";

?>
<?php }else{ $this->setInclude('error'); }  ?>
<?php }else{ $this->setInclude('error'); }  ?>