<div class="fl-erp-main-wrapper">
	<div class="fl-head-title-wrapper clearfix fl-head-title-wrapper-erp">
		<div class="fl-tab-wrapper fl-tab-wrapper-nav-erp isDisplayNone">
		  <ul id="tabs">
		      <li class=""><a id="tab1" class="active">FINANCIAL</a></li>
		      <li class=""><a id="tab2" class="">NON-FINANCIAL</a></li>
		      <li class=""><a id="tab3" class="">ONLINE USERS</a></li>
		  </ul>
		</div>
	</div>
	<div class="tab-container fl-tab-container-erp" id="tab1C">
		<div class="fl-erp-main-content-wrapper">
			<div class="fl-core-poc-nav">
				<ul class="clearfix">
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-setupchartacct"></use>
							</svg>
							<div class="fl-erp-nav-title">Set-up Chart of Accounts</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-budgetsetupcontrol"></use>
							</svg>
							<div class="fl-erp-nav-title">Budget Set-up and Control</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-acct-payable"></use>
							</svg>
							<div class="fl-erp-nav-title">Accounts Payable</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-acct-receivable"></use>
							</svg>
							<div class="fl-erp-nav-title">Accounts Receivable</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-generalledger"></use>
							</svg>
							<div class="fl-erp-nav-title">General Ledger</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-reporting"></use>
							</svg>
							<div class="fl-erp-nav-title">Reporting</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab-container fl-tab-container-erp" id="tab2C">
		<div class="fl-erp-main-content-wrapper">
			<div class="fl-core-poc-nav">
				<ul class="clearfix">
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-proddevt"></use>
							</svg>
							<div class="fl-erp-nav-title">Product Development</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-salesprocess"></use>
							</svg>
							<div class="fl-erp-nav-title">Sales Process</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-closingsale">
									
								</use>
							</svg>
							<div class="fl-erp-nav-title">Closing of the Sale</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-productdelivery"></use>
							</svg>
							<div class="fl-erp-nav-title">Product Delivery</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-collection"></use>
							</svg>
							<div class="fl-erp-nav-title">Collection</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-aftersale"></use>
							</svg>
							<div class="fl-erp-nav-title">After Sales</div>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="svg-icon icon-svg-erp" viewBox="0 0 90 90">
								<use xlmmns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-erp-commissionprocess"></use>
							</svg>
							<div class="fl-erp-nav-title">Commission Process</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	<div class="tab-container fl-tab-container-erp" id="tab3C">
            <div class="fl-ui-announcement-online-users-wrapper div_1_of_1">
		 		<?php
                    $this->renderAsPartialView("/modules/portal/controller/online_users.php", null);
                ?>
            </div>
	</div>
            
</div>

<script src="../../../js/functions/portal/portal_online_users.js"></script>