<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['administer']['external_database'] == "1"){

?>
<?php if(GO_LITE != 0){ ?>

<link rel="stylesheet" href="/css/jquery-ui.css" />
<div class="fl-list-of-app-record-wrapper">
  <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
          <h1>
            <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-database"></use>
            </svg>
            External Database 
          </h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <?php include 'layout/adminbar.php';?>
   <div class="fl-main-app-view" style="position:relative">
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
            <ul class="fl-standard-btn">
                <li class="fl-buttonEffect" id="create-new-DBConnection">
                    <a class="primary-btn">Add Connection</a>
                </li>
            </ul>
            </div>
            <div class="fl-toolbar-right-wrapper">
              
            <div class="fl-search-wrapper">
                <select class="fl-input-select searchDBConnectionLimitPerPage" id="" >
                  <option value="10">Show Entries</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
              </select>
              <input type="text" placeholder="Search Connection" style="float:right" id="txtSearchDBConnectionDatatable"> 
                  <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchDBConnectionDatatable">
            </div>
                <!-- div class="fl-search-wrapper" style="width:370px;">
              
                    <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable" style="float:right;"> 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
                </div>
                <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
            </div>
            <div class="clearfix"></div>
      </div><!-- end of option toolbar -->
    <div class="fl-datatable-wrapper">  
     <table class="table_data display_data dataTable loadDBConnection"  id="loadDBConnection" style="width:100% !important;">
        <thead class="fl-header-tbl-wrapper">
           <tr>
                <th field_name="connection_name" style="width:200px !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Connection name</div></div></th>
                <th field_name="db_type_name" style="width:35% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Database Server</div></div></th>
                <th field_name="is_active" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                <th field_name="created_by" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Created By</div></div></th>
                <th field_name="date_created" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Created Date</div></div></th>
                <th field_name="updated_by" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Updated By</div></div></th>
                <th field_name="date_updated" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Updated Date</div></div></th>
                <th field_name="" style="width:10% !important;cursor: auto;"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Actions</div></div></th>
           </tr>
        </thead>
        <tbody></tbody>
     </table>
    </div> 
     <div class="dataTable_widget"></div>
  </div>
</div>
<?php }else{ $this->setInclude('error'); }  ?>
<?php }else{ $this->setInclude('error'); }  ?>