<?php 
$auth = Auth::getAuth('current_user');
$db = new Database;
$fs = new functions;
$user_level_id = $auth['user_level_id'];
//var_dump($fs->getFaqDetails());
$getFaqDetail = $fs->getFaqDetails(0);

$tbfaqdetails = $db->query("SELECT * FROM tbfaqdetails LIMIT 0,1", "array"); //numrows
//print_r($user_level_id);
//print_r(count($tbfaqdetails));
$display = "";

?>

<?php if($user_level_id == 2 || $user_level_id == 1) { ?>
    <div class="fl-faq-container section clearing">
        <div class="column div_1_of_1 toggleParent">
            <div class="fl-widget-head fl-small-widgetv2">
                <div class="fl-toolbar-left-wrapper">
                    <svg class="icon-svg widget-icon-wrapper-svg svg-icon-faq" viewBox="0 0 90 90">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-faq"></use>
                    </svg>
                    &nbsp;<span>Create Frequently asked questions</span>    
                </div>

                <div class="fl-toolbar-right-wrapper">
                    <div class="fl-toolbar-icon-wrap">
                        <i class="fa fa-floppy-o tip save_faq" data-placement="top" data-original-title="Save FAQ"></i>
                    </div>
                    <div class="fl-toolbar-icon-wrap">
                        <i class="fa fa-plus add_faq tip" data-placement="top" data-original-title="Add FAQ"></i>
                    </div>
                    <div class="fl-toolbar-icon-wrap">
                        <i class="fa fa-minus remove_faq tip" data-placement="top" data-original-title="Remove FAQ"></i>
                    </div>
                    <div class="fl-toolbar-icon-wrap">
                        <i class="fa fl-toggleUpDown tip fa-arrow-circle-up" data-placement="top" data-original-title="Hide This"></i>
                    </div>
                    <div class="fl-search-wrapper fl-ui-search fl-faq-search">
                        <input type="text" placeholder="Search Created FAQ" class="fl-search-field">
                        <ul class="fl-ui-search-button">
                            <li style="float: left;"><i class="fa fa-search"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!-- END OF HEADER WIDGET -->
            <div class="fl-widget-wrapper-not-scroll group">
              <div id="fl-faqField-wrapper" class="fl-inner-content">

                <?php if(count($tbfaqdetails) == 0){ ?>
                <div class="fl-faqField">
                    <div class="section clearing fl-field-style">
                        <div class="column div_1_of_1">
                            <input type="text" class="form-text faq_question" name="faq_question" placeholder="Question">
                        </div>
                    </div>
                    <div class="section clearing fl-field-style">
                        <div class="column div_1_of_1">
                            <textarea class="form-textarea faq_response" name="faq_response" placeholder="Response"></textarea>
                        </div>
                    </div>
                </div>
                <?php } ?>
                <!-- <div class="fl-faq-wrapper">
                    <h1>Can we blah blah blah</h1>
                    <p>Lorem ipsum dolor amet wie can see onrle asd?</p>
                </div> -->
                <div class="fl-no-match"></div>
              </div>
            </div>
        </div>
    </div>
<?php } ?>

<div class="fl-faq-container section clearing">
    
    <div class="column div_1_of_1 toggleParent">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="fl-toolbar-left-wrapper">
                <svg class="icon-svg widget-icon-wrapper-svg svg-icon-faq" viewBox="0 0 90 90">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-faq"></use>
                </svg>
                &nbsp;<span>Frequently asked questions</span>    
            </div>

            <div class="fl-toolbar-right-wrapper">
                <div class="fl-toolbar-icon-wrap">
                    <i class="fa fl-toggleUpDown tip fa-arrow-circle-up" data-placement="top" data-original-title="Hide This"></i>
                </div>
                <?php if ($user_level_id == 3) { ?>

                    <div class="fl-search-wrapper fl-ui-search fl-faq-search">
                        <input type="text" placeholder="Search FAQ" class="fl-search-field">
                        <ul class="fl-ui-search-button">
                            <li style="float: left;"><i class="fa fa-search"></i></li>
                        </ul>
                    </div>
                <?php }?>
                
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div class="fl-widget-wrapper-not-scroll group">
          <div class="fl-inner-content fl-return-view-faq">
            <div class="fl-no-match"></div>
          </div>
        </div>
    </div>
</div>

