<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['forms']['list_forms'] == "1") {
    ?>

    <div class="fl-list-of-app-record-wrapper">
  
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-list-form"></use>
                    </svg>
                    List of Forms</h1>
            </div>
            <!--<div class="fl-toolbar-right-wrapper">-->
            <!--  <div class="fl-default-page-wrapper">-->
            <!--    <label>-->
            <!--     <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
            <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
            <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
            <!--    </label>-->
            <!--  </div>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
        <?php include 'layout/adminbar.php'; ?>
        <div class="fl-main-app-view" style="position:relative">
            <div class="fl-option-toolbar">
                <div class="fl-toolbar-left-wrapper">
                </div>
                <div class="fl-toolbar-right-wrapper">

                    <div class="fl-search-wrapper">
                        <select class="fl-input-select searchFormLimitPerPage" id="" >
                            <option value="10">Show Entries</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <input type="text" placeholder="Search Form" class="" id="txtSearchFormDatatable"> 
                        <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchFormDatatable">
                    </div>
                    <!-- 	        <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
                </div>
                <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-datatable-wrapper">
                <table class="display_data dataTable_form fl-form-list" >
                    <thead class="fl-header-tbl-wrapper">
                        <tr>
                    <th ><div class='fl-table-ellip'></div></th> <!-- style='width:100px !important' -->
                    <th field_name="form_name" ><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Title</div></div></th>
                    <th style='' field_name="category_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Category</div></div></th>
                    <th style='' field_name="form_alias"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Form Alias</div></div></th>
                    <th style='' field_name="is_active"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                    <th style='' field_name="allow_portal"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Allow in Portal</div></div></th>
                    <!-- <th style='' field_name="date_created"><div class='fl-table-ellip'><span class='sortable-image' style='position:absolute'></span><span style="margin-left:10px">Date Created</span></div></th>
                    <th style='' field_name="date_updated"><div class='fl-table-ellip'><span class='sortable-image' style='position:absolute'></span><span style="margin-left:10px">Date Updated</span></div></th> -->
                    <!--<th style='' field_name="form_type"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Form Type</div></div></th>-->
                    <?php
                    if (ENABLE_STAGING == "1") {
                        ?>
                        <th style='' field_name="workspace_version"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Version</div></div></th>
                        <?php
                    }
                    ?>    
                    <th style='' field_name="workflow_id"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Workflow</div></div></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>  
            <div class="dataTable_widget"></div>  
        </div>
    </div>
<?php } else {
    $this->setInclude('error');
} ?>