
		<div id="online_count" class="online_count">
				<span class="chattext"> Online(<span id="onlineUsersCount">0</span>)</span>
		</div>
		<div class="forma-online-list" hidden>
			<div id="chat_header" class=""  style="background-color:<?php echo $themeStyle['dark_color'] ?>;">
			<span class="chattext">Chat</span>
			</div>
		<div id="list_container">	
			<div id="online_list">
				<?php
			    	$this->renderAsPartialView("/modules/portal/controller/forma_online_users.php", null);
			            ?>
			  
			    <div class="online-group-title droidsansbold">Groups:</div>
				<?php
			    	$this->renderAsPartialView("/modules/portal/controller/forma_group.php", null);
			            ?>

			</div>
		</div>	
			<div class="send_new_message" style="">
				<span><a class="user-online" data-msg-type="New">Send New Message</a></span>
			<div hidden id="recipients_chat">
				<div id="fl-selected-name-template">
					<div class="fl-selected-name recipient listRecipient1">
					    <span style="margin-right:5px;"></span>
					    <icon class="cursor removeTag_listRecipient1">X</icon>
					</div>
				</div>
			</div>
			</div>
			<div id="online_search">
				<input type="text" placeholder="Search user" class="fl-input-text" id="txt-search-user">		            
			</div>
		</div>

 <div id="test_window_chat">


     

</div>
	<div hidden class="more_dudes more_hide">
		<span class="chattext">More</span>
		<div hidden class="more_users">
			<ul id="more_users">
			</ul>
			<div>
		<div>