  <?php
  $auth = Auth::getAuth('current_user');
  $db = new Database();
  $company_id = $auth['company_id'];
  $search = new Search();
  if($auth['user_level_id']==2){
    $getcategory = $db->query("SELECT * FROM tbform_category WHERE company_id = $company_id AND is_delete = 0", "array");
    array_push($getcategory,array("id"=>"0","category_name","Others"));
  }else{
    if(ALLOW_APPLICATION_PORTAL==0){
      $getcategory = $db->query("SELECT * FROM tbform_category WHERE company_id = $company_id AND is_delete = 0", "array");
    }else{
      $category_id = $_COOKIE['application'];
      $getcategory = $db->query("SELECT * FROM tbform_category WHERE company_id = $company_id AND is_delete = 0", "array");
    }
    if($category_id==0){
      array_push($getcategory,array("id"=>"0","category_name","Others"));
    }
  }

//getModules
$getModules = $search->getModules("");

//loop forms here
foreach ($getModules as $key_category => $value_category) {
  $category_name = $key_category;
    ?>
      <div class="fl-option-toolbar">
        <div class="modules icon"></div>
          <div class="fl-toolbar-left-wrapper">
            <h1><?php echo $category_name; ?></h1>
          </div>
          <div class="fl-toolbar-right-wrapper">
              <!-- <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
          </div>
          <div class="clearfix"></div>
      </div><!-- end of option toolbar -->
      <div class="fl-module-category-wrapper">   
        <ul class="fl-module-icon grid">
            <?php
                foreach ($value_category as $key => $value) {
                    $formID = $value['form_id'];
                    $formName = $value['form_name'];
                    ?>
                        <li>
                        <a href="/user_view/application?id=<?php echo functions::base_encode_decode("encrypt",$formID); ?>">
                        <figure>
                          <div align="center"><img src="/images/icon/acct-icon/salesbook.png" alt=""></div>
                            <figcaption>
                              <div class="fl-icon-button">
                                <br/>
                                <!-- <h3><?php echo $formName; ?></h3> -->
                                 <br/>
                                <!-- <a href="/user_view/application?id=<?php echo functions::base_encode_decode("encrypt",$formID); ?>">View</a> -->
                              </div>
                            </figcaption>
                        </figure>
                        <div class="fl-mod-title"><?php echo $formName; ?></div>
                        </a>
                       </li>
                    <?php
                }
            ?>
          <div class="clearfix"></div>
        </ul>
      </div>
    <?php
}
?>