<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['others']['edit_account'] == "1"){
  $db = new Database();
  $auth = Auth::getAuth('current_user');
  $userCompany = new userQueries();
  $company = $userCompany->getCompany($auth['company_id']);
  $User_Settings_Functions = new User_Settings_Functions();
  //functions::landing_page($auth);
?>
<div class="fl-option-toolbar">
  <div class="account-settings icon"></div>
    <div class="fl-toolbar-left-wrapper">
      <h1>Form Deletion</h1>
    </div>
    <div class="fl-toolbar-right-wrapper"></div>
  <div class="clearfix"></div>
</div>
<?php include 'layout/adminbar.php'; ?>
<div class="section clearing" ng-app="iconSet">
  <div class="column div_1_of_1">
    <div class="fl-widget-head fl-small-widgetv2">
      <div class="widget-icon-wrapper">
        <span class="icon custom-widget"></span>
        <span class="widget-title">
          <div class="fl-toolbar-left-wrapper" style="width: 50px;margin-top: 5px;">Configuration </div>
        </span>
      </div>
      <div class="fl-toolbar-right-wrapper">
        <ul class="fl-standard-btn">
          <li class="tip btn-basicBtn fl-buttonEffect btnFormDeletionHistory" data-original-title="History">
            <a href="#">
              <i class="fa fa-history"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="fl-toolbar-right-wrapper">
        <ul class="fl-standard-btn">
          <li class="tip btn-basicBtn fl-buttonEffect btnbulk" data-original-title="Bulk">
            <a href="#">
              <i class="fa fa-history"></i>
            </a>
          </li>
        </ul>
      </div> -->
    </div>
    <div class="fl-widget-wrapper-not-scroll">
      <div class="fl-inner-content">   	
				<div class="section group" toggleupdown="down">
					<!-- ACTION TYPE FORM DELETION -->
          <div class="fl-list-like-bordered">
            <span class="font-bold">Actions: <font color="red">*</font></span>
            <br>
            <label class="fl-margin-right">
              <input class="form_deletion_action_type css-checkbox" name="fd_action_type" type="radio" value="delete_form" id="delete_form" checked="checked">
              <label for="delete_form" class="css-label font-bold"></label> Delete form
            </label>
            <label class="fl-margin-right">
              <input class="form_deletion_action_type css-checkbox" name="fd_action_type" type="radio" value="form_cleanup" id="form_cleanup">
              <label for="form_cleanup" class="css-label font-bold" ></label> Form clean-up
            </label>
            <label class="fl-margin-right">
              <input class="form_deletion_action_type css-checkbox" name="fd_action_type" type="radio" value="workflow_cleanup" id="workflow_cleanup">
              <label for="workflow_cleanup" class="css-label font-bold"></label> Workflow clean-up
            </label>
          </div>
          <!-- FORM LIST DROPDOWN -->
					<div class="fl-list-like-bordered">
						<span class="font-bold">Form List: <font color="red">*</font></span>
              <br>
							<select class="form-text" name="form_list" style="width:500px"><!-- content inside --></select>
              <br><br>
              <div class="fl-toolbar-left-wrapper">
                <ul class="fl-standard-btn">
                  <li class="fl-buttonEffect btnDelete">
                    <a class="primary-btn">Execute</a>
                  </li>
                </ul>
              </div>
              <br><br>
              <label>&nbsp;</label>
						<div class="clearfix"></div>		
					</div>
					<!-- STATUS -->
					<div class="fl-list-like-bordered">
            <div class="fl-widget-wrapper-not-scroll">
              <div class="fl-inner-content">
                <span><font id="processColor" color="grey" data-original-title="">PROCESS<b></b></font></span>
                <br>
    						<span>Status:<font id="statusColor" color="grey"> <b>Idle</b></font></span>
                <br>
    						<div name="form_deletion_process">
    							<!-- APPEND INSIDE PROCESS -->
    						</div>	
    						<div class="clearfix"></div>
              </div>
            </div>
					</div>
          <!-- DELETE BUTTON -->
					<!--<div class="fl-list-like-bordered">
						<input type="button" class="fl-positive-btn fl-buttonEffect" id="btnDelete" value="Delete">
						<div class="clearfix"></div>		
					</div>-->
				</div>
      </div>
    </div>
 	</div>
</div>
<script type="text/javascript" src="/js/functions/form_deletion.js"></script>
<?php }else{ $this->setInclude('error'); }  ?>
<!-- Ver. 2.0 -->