<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
echo ($_GET["formID"] != 0 && $mod['forms']['list_forms'] != 0) . "-Sam-" . $mod['forms']['list_forms'];
if (($mod['forms']['create_forms'] == "1") || ($_GET["formID"] != 0 && $mod['forms']['list_forms'] != 0)) {
    
    ?>


    <?php
    $db = new Database();
    $auth = Auth::getAuth('current_user');
    $userCompany = new userQueries();
    $company = $userCompany->getCompany($auth['company_id']);
    $form_id = $_GET['formID'];
    $workspace_version = "0";
    $form = $db->query("SELECT * FROM tb_workspace WS 
                            WHERE WS.id={$db->escape($form_id)} AND is_delete = 0 ", "row");

    if ($form_id == 0) {
        $category_id = $_GET['category_id'];
    } else {
        $category_id = $form['category_id'];
        $workspace_version = $form['workspace_version'];
        $portal_icon = $form['portal_icon'];
    }

    ?>

    <div class="form-workspace-mobility-json display"><?php echo htmlentities($form['MobileContent']); ?></div>
    <div class="login-expire-security-id"><?php echo $auth["id"]; ?></div>
    <div class="fl-create-forms-wrapper">

        <?php
        $workspace_control = "";
        if (WORKSPACE_CONTROL == 'default' || WORKSPACE_CONTROL == 'default-light' || WORKSPACE_CONTROL == 'default-dark') {
            $workspace_control = "default";
            if(WORKSPACE_CONTROL == 'default-light'){
                $workspace_control_var = "default-theme-light";
                $theme_radio = 'light';
            }else if(WORKSPACE_CONTROL == 'default-dark'){
                $workspace_control_var = "default-theme-dark";
                $theme_radio = 'dark';
            }
        }else {
            $workspace_control = WORKSPACE_CONTROL;
        }

            include_once 'layout/form_controls['.$workspace_control.'].php'; 
        ?>
        <div class="svg-return">
            <?php include_once 'layout/main-ui-announcement-svg.phtml'; ?> 
        </div>
        <div class="contentBar_workspace fl-workspace2-wrapper">
            <div class="fl-workspace-wrapper">
                <!-- <div class="fl-option-toolbar">
                        <div class="fl-toolbar-left-wrapper">
                                <i class="fa fa-list-alt"></i> <span>Form Builder</span>
                        </div>
                        <div class="fl-toolbar-right-wrapper">
                                <ul class="fl-breadcrums">
                                        <li><a href="/"><div class="home icon"></div> <i class="fa fa-caret-right"></i></a></li> 
                                        <li><a href="/user_view/organizational_chart">Organizational Chart <i class="fa fa-caret-right"></i></a></li> 
                                        <li><a href="/user_view/formbuilder">Form Builder <i class="fa fa-caret-right"></i></a></li> 
                                        <li><a href="/user_view/workflow">Workflow</a></li>
                                </ul>
                        </div>
                </div> -->
                <div class="fl-option-toolbar">
                    <div class="formbuilder_page_btn btn_content">
                        <?php
                        if ($form_id != 0) {
                            // $form = $db->query("SELECT * FROM tb_workspace 
                            //    WHERE id={$db->escape($form_id)} AND is_delete = 0 ", "row");
                            echo $form['button_content'];
                        }
                        ?>
                    </div>
                    <?php
                    if ($form_id == 0) {
                        ?>
                        <div class="ws_btn_label  ">
                            Add your button here.


                        </div>
                        <?php
                    }
                    ?>
                                    



                </div>
                <div class="fl-workspace fl-workspacev2">
                    <div class="fl-drop-workspace  isDisplayTable fl-set-ruler border-top">
                        <div class="isDisplayTableRow">
                            <div class="isDisplayTableCell"></div>
                            <div class="isDisplayTableCell topPointerRuler-container" style="padding:2px; padding-bottom:0px;">
                                <i class="fa fa-arrows-h topPointerRuler-tip" style=" width: 16px; height:17px;"></i>
                            </div>
                        </div>
                        <div class="isDisplayTableRow">
                            <div class="isDisplayTableCell leftPointerRuler-container" style="padding:1px;">
                                <i class="fa fa-arrows-v leftPointerRuler-tip" style=" width: 16px; height:16px;"></i>
                            </div>
                            <div class="isDisplayTableCell">
                                <div class="workspacev2 workspace formbuilder_ws" style="z-index:10" data-click-size="false">
                                
                                 
                                       <!-- Objects -->
                                    <?php
                                    //error_reporting(E_ALL);
                                    // new Formula("");
                                    //  $fromula_doc = new Formula('@LookupWhere("TEST_CHILD_EMBED", "TrackNo", "Requestor", "=", "240")');
                                    // echo "result ".($fromula_doc->evaluate());
                                    // echo "<br/><br/>";
                                    // echo json_encode($fromula_doc->getEvaluatedRawDataFormID(),JSON_PRETTY_PRINT);
                                    // error_reporting(E_ALL);
                                    // print_r(StrFind("ako si michael esp as michael", "michael", "all_index"));
                                    // $string_val = "ako si michael";
                                    // $string_search2 = "/i/";
                                    // preg_match_all($string_search2 , $string_val , $stringArray , PREG_OFFSET_CAPTURE );
                                    // var_dump($stringArray);
                                    // $subject = "abcdef";
                                    // $pattern = '/^def/g';
                                    // preg_match($pattern, $subject, $matches, PREG_OFFSET_CAPTURE);
                                    // print_r($matches);
                                    // error_reporting(E_ALL);
                                    // $ctr = 0;
                                    // test_rf1:{
                                    // 	$ctr++;
                                    // 	function harhar(){
                                    // 		goto test_rf1;
                                    // 	}
                                    // 	if($ctr <= 2){
                                    // 		goto harhar;
                                    // 	}
                                    // $outing = "";
                                    // $outing  = shell_exec("C:/wamp/bin/php/php5.5.12/php.exe -cli C:/wamp/www/ProjectsJulySync/eformalistics/modules/ajax/controller/Runner.php");
                                    // var_dump($outing);
                                    // if(strpos($outing,'Fatal')){
                                    // 	echo "MAY FATAL";
                                    // }else{
                                    // 	echo (include 'C:/wamp/www/ProjectsJulySync/eformalistics/modules/ajax/controller/Runner.php');
                                    // 	echo "WALANG FATAL";
                                    // }
                                    // var_dump(fopen("C:/wamp/www/ProjectsJulySync/eformalistics/library/Runner.php"));
                                    // var_dump((include 'C:/wamp/www/ProjectsJulySync/eformalistics/library/Runner.php'));
                                    //('php -f C:/wamp/www/ProjectsJulySync/eformalistics/library/Runner.php');//
                                    // try{
                                    // 	echo "BBB";
                                    // 	echo $newR = new Runner();
                                    // }catch(Exception $er){
                                    // }
                                    // echo "AAA";
                                    // }	
                                    // echo "aaaa" | "bbbb";
                                    // echo '<br/>';
                                    // echo include('C:\wamp\www\ProjectsJulySync\eformalistics\library\Runner.php');
                                    // echo file_exists('C:\wamp\www\ProjectsJulySync\eformalistics\library\Runner.php');
                                    // echo is_readable('C:\wamp\www\ProjectsJulySync\eformalistics\library\Runner.php');
                                    // echo fopen('C:\wamp\www\ProjectsJulySync\eformalistics\library\Runner.php', MODE_IS_NOT_OPTIONAL);
                                    //echo "PASSED";
                                    // echo "SABOG";
                                    // error_reporting(0);
                                    // echo "BROOM";
                                    // echo gettype(array());	
                                    // error_reporting(E_ALL);
                                    // echo "ADE";
                                    // $formulaSrt = '@StrConcat("Aba","a","all_index")';
                                    // $formuleObject = new Formula($formulaSrt);
                                    // echo json_encode($formuleObject->evaluate(), JSON_PRETTY_PRINT);
                                    // echo ($formuleObject->evaluate());
                                    // var_dump(stddev($formuleObject->evaluate()));
                                    if ($form_id != 0) {
                                        echo $form['form_content'];
                                    } else {
                                        echo $form['form_content'];
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div><!-- /end of display table -->
                    <div class="display">
                        <input type="text" name="FormId" id="FormId" relForm = "form_id" value="<?php echo $form_id; ?>" />
                    </div>
                </div><!-- /end of fl-workspace -->
                <!-- <div class="fl-form-properties-wrapper">
                        <div class="fl-widget-head">
                                <span class="widget-title"><i class="fa fa-cogs"></i> properties</span>
                                <div class="fl-form-properties-toggle">
                                        <i class="fa fa-chevron-right"></i>
                                </div>
                        </div>
                        <div class="fl-props-container">
                                <div class="fl-form-setting-wrapper">
                                        <div class="fl-widget-head">
                                            <span class="widget-title">Form Settings</span>
                                            <span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-plus"></i></span>
                                        </div>
                                        <div class="fl-form-setting-content fl-for-scroll">
                                                <label>Custom Form Size</label>
                                                <div class="fl-option-form-wrapper">
                                                        <input type="text" name="" class="form-text form_set_size form_size_width" style="width: 49%;" placeholder="Width" value="1030">
                                                        <input type="text" name="" class="form-text form_set_size form_size_height" style="width: 49%;" placeholder="Height" value="600">
                                                        <div class="clearfix"></div>
                                                </div>
                                                <div class="fl-option-form-wrapper">
                                                        <label>Form Size</label>
                                                        <select class="form-select form_size">
                                                            <option value="8.5x11">Letter(8.5in x 11in)</option> 
                                                            <option value="8.5x14">Legal(8.5in x 14in)</option> 
                                                            <option value="7.25x10.5">Executive(7.25in x 10.5in)</option> 
                                                            <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
                                                            <option value="33.11x46.61">A0(33.11in x 46.61in)</option> 
                                                            <option value="23.39x33.11">A1(23.39in x 33.11in)</option> 
                                                            <option value="16.53x23.39">A2(16.53in x 23.39in)</option> 
                                                            <option value="11.69x16.53">A3(11.69in x 16.53in)</option> 
                                                            <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
                                                        </select>	
                                                </div>
                                                <div class="fl-option-form-wrapper">
                                                        <label>Show Ruler</label><Br/>
                                                        <label>Yes: <input type="radio" class="f-show-ruler" value="yes" name="show-form-ruler-select"/></label>
                                                        <label>No: <input type="radio" class="f-show-ruler" checked="checked" value="no" name="show-form-ruler-select"/></label>
                                                </div>
                                        </div>
                                </div>
                                <div class="fl-form-actions-wrapper">
                                        <div class="fl-widget-head">
                                                <span class="widget-title">Form Actions</span>
                                                <span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-plus"></i></span>
                                        </div>
                                        <div class="fl-form-actions-content fl-for-scroll">
                                                <button class="btn-basicBtn padding_5 cursor save_workspace fl-command-btn tip" data-original-title="Save Form" data-workspace="Formbuilder" data-form-type="formbuilder"><i class="fa fa-save"></i> Save</button>
                                                <button class="btn-basicBtn padding_5 cursor clear_all_formbuilder_workspace fl-command-btn tip" data-original-title="Clear Workspace"><i class="fa fa-times"></i> Clear All</button>
                                                <button class="btn-basicBtn padding_5 cursor preview_form fl-command-btn tip" data-original-title="Preview Form" data-form-type="formbuilder"><i class="fa fa-search"></i> Preview</button>
                                                <button class="btn-basicBtn padding_5 cursor mobility-setup fl-command-btn tip" data-original-title="Mobility" data-form-type=""><i class="fa fa-mobile"></i> Mobility</button>
                                                <button class="btn-basicBtn padding_5 cursor form-authors tip fl-command-btn" data-original-title="Set Authors" data-form-type=""><i class="fa fa-pencil-square"></i> Authors</button>
                                                <button class="btn-basicBtn padding_5 cursor form-readers tip fl-command-btn" data-original-title="Set Viewers" data-form-type=""><i class="fa fa-folder-open"></i> Viewers</button>
                                                <button class="btn-basicBtn padding_5 cursor form-admin tip fl-command-btn" data-original-title="Form Admin" data-form-type=""><i class="fa fa-user"></i> Form Admin</button>
                                                <button class="btn-basicBtn padding_5 cursor form-header-info tip fl-command-btn" data-original-title="Set Header Info." data-form-type=""><i class="fa fa-info-circle"></i> Header Info.</button>
                                                <button class="btn-basicBtn padding_5 cursor form-customized tip fl-command-btn" data-original-title="Set Customized Author" data-form-type=""><i class="fa fa-print"></i> Customize Print</button>	
    <?php
    $getWorkflow = $db->query("SELECT * FROM tbworkflow WHERE form_id = {$db->escape($_GET['formID'])} AND is_active=1 AND is_delete = 0", "array");
    if (count($getWorkflow) == 1) {
        $wfPath = "workflow?view_type=edit&form_id=" . $_GET['formID'] . "&id=" . $getWorkflow[0]['id'] . "";
        ?>
                                <a href="<?php echo $wfPath; ?>" class="tip cursor" data-original-title="Active Workflow" data-placement="top" id="" data-form-id="1" style=""><button class="btn-basicBtn padding_5 cursor fl-command-btn" style=""><i class="fa fa-retweet"></i> Workflow</button></a>
        <?php
    }
    ?>
                                        </div>
                                </div>/......
                                <div class="fl-form-controls-wrapper fl-for-scroll">
                                        <div class="fl-widget-head">
                                                <span class="widget-title">Form Controls</span>
                                                <span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-plus"></i></span>
                                        </div>
                                        <div class="fl-form-controls-content" style="overflow:hidden;position: relative;">
                                                 <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Label"  data-object-type="labelOnly" data-drop="workspace"><i class="fa fa-font"></i> Label Only</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Tab" data-object-type="tabPanel" data-drop="workspace" ><i class="fa fa-share-square"></i> Tab Panel</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="TextBox"  data-object-type="textbox" data-drop="workspace"><i class="fa fa-square-o"></i> TextBox</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="TextArea" data-object-type="textarea" data-drop="workspace"><i class="fa fa-square-o"></i> Text Area</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Checkbox" data-object-type="checkbox" data-drop="workspace"><i class="fa fa-check-square-o"></i> CheckBox</button>
                                                                       <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Radio Button" data-object-type="radioButton" data-drop="workspace"><i class="fa fa-dot-circle-o"></i> Radio Button</button>	
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Dropdown" data-object-type="dropdown" data-drop="workspace"><i class="fa fa-caret-square-o-down"></i> Dropdown</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Select Many" data-object-type="selectMany" data-drop="workspace"><i class="fa fa-list-ul"></i> Select Many</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Date Time" data-object-type="dateTime" data-drop="workspace"><i class="fa fa-clock-o"></i> Date Time</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Date Picker" data-object-type="datepicker" data-drop="workspace"><i class="fa fa-calendar"></i> Date Picker</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Table" data-object-type="table" data-drop="workspace"><i class="fa fa-table"></i> Table</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Line" data-object-type="line" data-drop="workspace"><i class="fa fa-ellipsis-h"></i> Add Line</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Button" data-object-type="button" data-drop="formbuilder_page_btn"><i class="fa fa-square"></i> Button</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Names" data-object-type="listNames" data-drop="workspace"><i class="fa fa-th-list"></i> Names</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Computed" data-object-type="computed" data-drop="workspace"><i class="fa fa-file-text"></i> Computed</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Image" data-object-type="image" data-drop="workspace">
                                                    <form id="getformImage" method="post" enctype="multipart/form-data" action="/ajax/formUpload">
                                                        <input type="file" data-action-id="2" value="upload" name="image" id="formImage" size="24" data-action-type="postImageForm" style="opacity: 0;position: absolute;" class=""><i class="fa fa-picture-o"></i> Image
                                                    </form>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Embed View" data-object-type="embedView" data-drop="workspace"><i class="fa fa-eye"></i> Embed View</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Pick List" data-object-type="pickList" data-drop="workspace"><i class="fa fa-calendar"></i> Pick List</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Request Image" data-object-type="requestImage" data-drop="workspace"><i class="fa fa-picture-o"></i> Request Image</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Bar Code Scanner" data-object-type="barCodeScanner" data-drop="workspace"><i class="fa fa-qrcode"></i> Bar Code</button>
                                                <button class="btn-basicBtn padding_5 cursor getObjects tip fl-command-btn" data-original-title="Time" data-object-type="time" data-drop="workspace"><i class="fa fa-clock-o"></i> Time</button>                              
                                        </div>
                                </div>
                        </div>
                </div> --><!-- /end of fl-form-properties -->
                <div class="clearfix"></div>
            </div>
        </div>	
    </div>
          
<?php if(SLIDEMENU == 1 ){ ?>
            <!-- Slide Menu -->
    <div id="slide_Menu" class="closed">
                <!-- Content-->
        <Select hidden id="selec" size="1" >
                                    </select>
              <div class="fl-widget-head fl-small-widgetv1" style="box-shadow: rgb(34, 34, 34) 0px 4px 10px -6px; position: relative;height:32px;border-top-width: 0px;border-right-width: 0px;padding-bottom: 7px">
                <div class="fl-search-wrapper fl-ui-search">
                    <input type="text" placeholder="Search Object" class="" id="txtSearchLayerObj" style="padding-right: 30px;height:20px">
                    <ul class="fl-ui-search-button">
                        <li id="searchPreviousLayerObj" data-original-title="Previous" style="float: left;"><i class="fa fa-caret-up tip"></i></li>
                        <li id="searchNextLayerObj" data-original-title="Previous"  style="float: left;"><i class="fa fa-caret-down tip"></i></li>
                        <li id="cancelSearchNextPreviousLayerObj" data-original-title="Previous" style="float: left;"><i class="fa fa-times tip"></i></li>
                    </ul>
                </div>
            </div><!-- END OF HEADER WIDGET -->
        <div class="slideContainerScroll" style="height:338px;position:relative">
            <div  class=" fl-starred-container-users starredUserWidget" style="padding-top: 0px;overflow-x: hidden">
                <ul id="layer_sortable" class="ui-sortable layerContainer" style="
    padding-top: 0px;
">
                <!-- Layers Go here-->

            </ul>
            </div>  
        </div>
        <a style="top:50px; left:-29px;padding-left: 9px;" href="#" class="toggleBtn tip"  data-original-title="Click to Open Search Panel" id="slide_menu_button"><i id="slide_arrow" class="fa fa-arrow-left" style="color:white;"></i></a>
    </div>
<?php }   ?>
    <!-- end of Slide Menu -->

    <input type="text" class="display" id="category_id" value="<?php echo $category_id; ?>">
    <input type="text" class="display" id="saved_portal_icon" value="<?php echo $portal_icon; ?>">
    <input type="text" class="display" id="workspace_version" value="<?php echo $workspace_version; ?>">
    <!-- Added by Japhet Morada -->
    <input type="text" class="display" id="config_external_link" value="<?php echo ALLOW_EXTERNAL_LINKS; ?>">
    <input type="text" class="display" id="config_default_actions" value="<?php echo ALLOW_DEFAULT_ACTIONS; ?>">
    <?php
    $search = new Search();

// //get departments
// $getAllDepartment = $search->getAllDepartment();
// echo "<div class='departments display'>" . json_encode($getAllDepartment) . "</div>";
// //get positions
// $getPosition = $search->getAllPosition();
// echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";
// //get users
// $getUsers = $search->getAllUsers("");
// echo "<div class='users display'>" . json_encode($getUsers) . "</div>";
// //get all admin users
// $getUsersAdmin = $search->getAllUsers("AND user_level_id = 2 AND id != '". $auth['id'] ."'");
// echo "<div class='users-admin display'>" . json_encode($getUsersAdmin) . "</div>";


    /*
      SET CHOICES FROM FORM CATEGORY
     */
    if ($category_id != 0) {
        //get departments
        $querydepartments = "select * FROM vwget_form_category_departments WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id GROUP BY user";


        $getDepartments = $db->query($querydepartments, "array");
        //get positions
        $querypositions = "select * FROM vwgetform_category_positions WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id GROUP BY position";
        $getPosition = $db->query($querypositions, "array");
        //get groups
        $queryGroups = "select * FROM vwgetform_category_groups WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id GROUP BY group_name";
        $getFormGroups = $db->query($queryGroups, "array");

        //get users
        $queryusers = "select * FROM vwgetform_category_users WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id";
        $getUsers = $db->query($queryusers . " AND access_type = 2 GROUP BY id", "array");
        //get admin of form category
        $getUsersAdmin = $db->query($queryusers . " AND access_type = 1 AND id!='" . $auth['id'] . "' AND user_level_id = 2 GROUP BY id", "array");
    } else {
        $getDepartments = $search->getAllDepartmentV2();
        $getPosition = $search->getAllPositionV2();
        $getFormGroups = $search->getFormGroups();
        $getUsers = $search->getAllUsers("");
        $getUsersAdmin = $search->getAllUsers(" AND user_level_id = '2'");
    }

//departments
    echo "<div class='departments display'>" . json_encode($getDepartments) . "</div>";

//positions
    echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

//groups
    echo "<div class='form_group display'>" . json_encode($getFormGroups) . "</div>";
//users
    echo "<div class='users display'>" . json_encode($getUsers) . "</div>";

//admin of form category
    $getUsersAdmin = $db->query($queryusers . " AND access_type = 1 AND id!='" . $auth['id'] . "' AND user_level_id = 2", "array");
    echo "<div class='users-admin display'>" . json_encode($getUsersAdmin) . "</div>";



    /*
      SET SAVED


     */

// $queryGetFormUsers = "SELECT *, fcu.id as fcuID FROM tbform_users fu LEFT JOIN tbform_category_users fcu ON fu.user = fcu.user AND fu.user_type = fcu.user_type WHERE fcu.form_category_id = '$category_id' AND fu.form_id = '$form_id'";
    $queryGetFormUsers = "SELECT * FROM tbform_users fu WHERE  fu.form_id = '$form_id'";

//author
    $getAuthor = $db->query($queryGetFormUsers . " AND fu.action_type = 1", "array");
    $authors = compressToOldJsonFormat($getAuthor);

    echo "<div class='form-user-authors display'>" . $authors . "</div>";
    echo "<div class='form-user-authors_original display'>" . $authors . "</div>";

//viewer
    $getViewers = $db->query($queryGetFormUsers . " AND fu.action_type = 2", "array");
    $viewers = compressToOldJsonFormat($getViewers);

    echo "<div class='form-user-viewers display'>" . $viewers . "</div>";
    echo "<div class='form-user-viewers_original display'>" . $viewers . "</div>";

//user
    $getFormUsers = $db->query($queryGetFormUsers . " AND fu.action_type = 3", "array");
    $formUsers = compressToOldJsonFormat($getFormUsers);

    echo "<div class='form-user-accessor display'>" . $formUsers . "</div>";
    echo "<div class='form-user-accessor_original display'>" . $formUsers . "</div>";

//users with others in form category
//$queryGetFormUsersWithOthers = "SELECT * FROM tbform_users fu  WHERE fu.form_id = '$form_id'";
//customized print
    $getFormCustomPrintUsers = $db->query($queryGetFormUsers . " AND fu.action_type = 5", "array");
    $formCustomPrintUsers = compressToOldJsonFormat($getFormCustomPrintUsers);

    echo "<div class='form-custom-print-users display'>" . $formCustomPrintUsers . "</div>";
    echo "<div class='form-custom-print-users_original display'>" . $formCustomPrintUsers . "</div>";

//delete access
    $getFormDeleteAccess = $db->query($queryGetFormUsers . " AND fu.action_type = 6", "array");
    $formDeleteAccess = compressToOldJsonFormat($getFormDeleteAccess);

    echo "<div class='form-delete-access-json display'>" . $formDeleteAccess . "</div>";
    echo "<div class='form-delete-access-json_original display'>" . $formDeleteAccess . "</div>";

//nav access
// $getFormNavAccess = $db->query($queryGetFormUsers." AND fu.action_type = 7","array");
// $formNavAccess = compressToOldJsonFormat($getFormNavAccess);
// echo "<div class='form-nav-access display'>" . $formNavAccess . "</div>";
// echo "<div class='form-nav-access_original display'>" . $formNavAccess . "</div>";
//admin
    $getAdmin = $db->query($queryGetFormUsers . " AND fu.action_type = 4 AND fu.user!='" . $auth['id'] . "'", "array");
    $admin = compressToOldJsonFormat($getAdmin);

    echo "<div class='form-user-admin display'>" . $admin . "</div>";
    echo "<div class='form-user-admin_original display'>" . $admin . "</div>";

// $array_data_forms = $search->getCompaniesFormV2("",['id as "wsID"', 'active_fields', 'form_name']);
// echo "<div class='user-forms display'>" . htmlentities(json_encode($array_data_forms)). "</div>";

    $getForms = json_encode($search->getAllActiveForms());
    echo "<div class='user-forms display'>" . htmlentities($getForms) . "</div>";

    $getAllCategory = json_encode($search->getAllCategory());
    echo "<div class='form_categories display'>" . $getAllCategory . "</div>";






    $getCompaniesForm = $search->getCompaniesForm("");

    echo "<div class='company_form_list display'>" . json_encode($getCompaniesForm) . "</div>";

    $externalDB = new ExternalDatabase($db);

    $getExternalConn = $externalDB->getExternalDB(" AND tbe_d.is_active = 1 ","","",$auth['company_id'],"array");


    echo '<div class="display" id="external-connections-list">'.htmlentities(json_encode($getExternalConn)).'</div>';
    ?>





<?php } else {
    $this->setInclude('error');
} ?>

<script type="text/html" id="fl-icon-selection-dialog-template">
    <?php $this->renderAsPartialView("/modules/portal/controller/form_icon_selection_dialog.php", null); ?>
</script>
