
<?php
   $db = new Database();
   $auth = Auth::getAuth('current_user');
   $userCompany = new userQueries();
   $company = $userCompany->getCompany($auth['company_id']);
   $form_id = $_GET['formID'];
   if($_GET['view_type']=="edit"){
      $form = $db->query("SELECT * FROM tb_workspace WS 
                            WHERE WS.id={$db->escape($form_id)} AND is_delete = 0 ","row");
      $type = "new";
   }else{
      $form = $db->query("SELECT * FROM tb_generate WS 
                            WHERE WS.id={$db->escape($form_id)}","row");
      $type = "update";
   }

  	if($form_id==0){
   		$category_id = $_GET['category_id'];
   	}else{
   		$category_id = $form['category_id'];
   	}
   
?>

<div class="fl-generate-print-wrapper">
	<?php 
		$workspace_control = "";
        if (WORKSPACE_CONTROL == 'default' || WORKSPACE_CONTROL == 'default-light' || WORKSPACE_CONTROL == 'default-dark') {
            $workspace_control = "default";
            if(WORKSPACE_CONTROL == 'default-light'){
                $workspace_control_var = "default-theme-light";
                $theme_radio = 'light';
            }else if(WORKSPACE_CONTROL == 'default-dark'){
                $workspace_control_var = "default-theme-dark";
                $theme_radio = 'dark';
            }
        }else {
            $workspace_control = WORKSPACE_CONTROL;
        }

        include_once 'layout/form_controls['.$workspace_control.'].php'; 
	?>
	<div class="contentBar_workspace fl-workspace2-wrapper">
	    <div class="fl-workspace-wrapper">
			<!-- <div class="fl-option-toolbar">
				<div class="fl-toolbar-left-wrapper">
					<i class="fa fa-list-alt"></i> <span>Generate</span>
				</div>
				<div class="fl-toolbar-right-wrapper">
					<ul class="fl-breadcrums">
						<li><a href="/"><div class="home icon"></div> <i class="fa fa-caret-right"></i></a></li> 
						<li><a href="/user_view/organizational_chart">Organizational Chart <i class="fa fa-caret-right"></i></a></li> 
						<li><a href="/user_view/formbuilder">Form Builder <i class="fa fa-caret-right"></i></a></li> 
						<li><a href="/user_view/workflow">Workflow</a></li>
					</ul>
				</div>
			</div> -->
			<!-- <div class="fl-option-toolbar">
			 <div class="formbuilder_page_btn btn_content">
		       
        	</div> -->
			<div class="fl-workspace fl-workspacev2">
				 <div class="fl-drop-workspace isDisplayTable fl-set-ruler">
	         <div class="isDisplayTableRow">
	            <div class="isDisplayTableCell"></div>
	            <div class="topPointerRuler-container">
	                  <i class="fa fa-arrows-h topPointerRuler-tip" style="width:14px;height:19px;"></i>
	            </div>
	         </div>
	         <div class="isDisplayTableRow">
	            <div  class="leftPointerRuler-container">
	                  <i class="fa fa-arrows-v leftPointerRuler-tip" style="width:14px;height:14px;"></i>
	            </div>
	            <div class="isDisplayTableCell">
		     <div class="form-workspace-form-name display"><?php echo $form['form_name'];?></div>
			<div class="form-workspace-json display"><?php echo htmlentities($form['form_json']);?></div>
			<div class="form-workspace-json-button display"><?php echo $form['form_buttons'];?></div>
	              <div class="workspace workspacev2 formbuilder_ws">
					<?php
					   if($form_id!=0){
					      echo $form['form_content'];
					   }else{
					      echo $form['form_content'];
					   }
					?>
				     </div>
	            </div>
	         </div>
	      </div><!-- /end of display table -->
		<div class="display">
		    <input type="text" name="FormId" id="FormId" value="<?php echo $form_id; ?>" />
		</div>
			</div><!-- /end of fl-workspace -->
			<!--?php include 'layout/form_controls.php' ?>-->
			<!-- <div class="fl-form-properties-wrapper">
				<div class="fl-widget-head">
					<span class="widget-title"><i class="fa fa-cogs"></i> properties</span>
					<div class="fl-form-properties-toggle">
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
				<div class="fl-props-container">
					<div class="fl-form-setting-wrapper">
						<div class="fl-widget-head">
						    <span class="widget-title">Form Settings</span>
						    <span class="fl-min-max-properties2" fl-show-opt="true"><i class="fa fa-plus"></i></span>
						</div>
						<div class="fl-form-setting-content fl-for-scroll">
							<label>Custom Form Size</label>
							<div class="fl-option-form-wrapper">
								<input type="text" name="" class="form-text form_set_size form_size_width" style="width: 49%;" placeholder="Width" value="1030">
								<input type="text" name="" class="form-text form_set_size form_size_height" style="width: 49%;" placeholder="Height" value="600">
								<div class="clearfix"></div>
							</div>
							<div class="fl-option-form-wrapper">
								<label>Form Size</label>
								<select class="form-select form_size">
								    <option value="8.5x11">Letter(8.5in x 11in)</option> 
								    <option value="8.5x14">Legal(8.5in x 14in)</option> 
								    <option value="7.25x10.5">Executive(7.25in x 10.5in)</option> 
								    <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
								    <option value="33.11x46.61">A0(33.11in x 46.61in)</option> 
								    <option value="23.39x33.11">A1(23.39in x 33.11in)</option> 
								    <option value="16.53x23.39">A2(16.53in x 23.39in)</option> 
								    <option value="11.69x16.53">A3(11.69in x 16.53in)</option> 
								    <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
								</select>	
							</div>
							<div class="fl-option-form-wrapper">
								<label>Show Ruler</label><Br/>
								<label>Yes: <input type="radio" class="f-show-ruler" value="yes" name="show-form-ruler-select"/></label>
								<label>No: <input type="radio" class="f-show-ruler" checked="checked" value="no" name="show-form-ruler-select"/></label>
							</div>
						</div>
					</div>
					<div class="fl-form-actions-wrapper">
						<div class="fl-widget-head">
							<span class="widget-title">Form Actions</span>
							<span class="fl-min-max-properties2" fl-show-opt="true"><i class="fa fa-plus"></i></span>
						</div>
						<div class="fl-form-actions-content fl-for-scroll">
							<button class="btn-basicBtn fl-command-btn padding_5 cursor save_workspace" data-workspace="Customize Report" data-form-type="generate" style="width: 49%;font-size: 11px;"><i class="icon-save"></i> Save</button>
							<button class="btn-basicBtn fl-command-btn padding_5 cursor clear_all_formbuilder_workspace" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>
							<button class="btn-basicBtn fl-command-btn padding_5 cursor preview_form" data-form-type="generate" style="width: 49%;font-size: 11px;"><i class="icon-search"></i> Preview</button>
						</div>
					</div>
					
					<div class="fl-form-objects-wrapper">
						<div class="fl-widget-head">
							<span class="widget-title">Objects</span>
							<span class="fl-min-max-properties2" fl-show-opt="true"><i class="fa fa-plus"></i></span>
						</div>
						<div class="generate_objects  fl-form-objects-content fl-for-scroll">
							                              
						</div>
					</div>

					<div class="fl-form-htmlvalue-wrapper">
						<div class="fl-widget-head">
							<span class="widget-title">Html Value</span>
							<span class="fl-min-max-properties2" fl-show-opt="true"><i class="fa fa-plus"></i></span>
						</div>
						<div class="tab_objects fl-form-htmlvalue-content fl-for-scroll">
							                              
						</div>
					</div>
				</div>
			</div> --><!-- /end of fl-form-properties -->
			<div class="clearfix"></div>
			<div class="display">
                  <input type="text" name="saveType" id="saveType" value="<?php echo $type; ?>" />
                  <input type="text" name="FormId" id="FormIdPrint" value="<?php echo $form['form_id']; ?>" />
                  <input type="text" name="FormId" id="FormId" value="<?php echo $form_id_a; ?>" />
                  <input type="text" name="FormId" id="requestID" value="<?php echo $_GET['requestID']; ?>" />
                  <input type="text" name="FormId" id="trackNo" value="<?php echo $_GET['trackNo']; ?>" />
               </div>
		</div>
	</div>	
</div>

<input type="text" class="display" id="category_id" value="<?php echo $category_id; ?>">
<?php
$search = new Search();

// //get departments
// $getAllDepartment = $search->getAllDepartment();
// echo "<div class='departments display'>" . json_encode($getAllDepartment) . "</div>";

// //get positions
// $getPosition = $search->getAllPosition();
// echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

// //get users
// $getUsers = $search->getAllUsers("");
// echo "<div class='users display'>" . json_encode($getUsers) . "</div>";

// //get all admin users
// $getUsersAdmin = $search->getAllUsers("AND user_level_id = 2 AND id != '". $auth['id'] ."'");
// echo "<div class='users-admin display'>" . json_encode($getUsersAdmin) . "</div>";


/*
	SET CHOICES FROM FORM CATEGORY
*/
//get departments
$querydepartments = "select * FROM vwget_form_category_departments WHERE company_id = '". $auth['company_id'] ."' AND form_category_id = $category_id";
$getDepartments = $db->query($querydepartments,"array");

echo "<div class='departments display'>" . json_encode($getDepartments) . "</div>";

//get positions
$querypositions = "select * FROM vwgetform_category_positions WHERE company_id = '". $auth['company_id'] ."' AND form_category_id = $category_id GROUP BY position";
$getPosition = $db->query($querypositions,"array");
echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

//get users
$queryusers = "select * FROM vwgetform_category_users WHERE company_id = '". $auth['company_id'] ."' AND form_category_id = $category_id";
$getUsers = $db->query($queryusers." AND access_type = 2","array");
echo "<div class='users display'>" . json_encode($getUsers) . "</div>";

//get admin of form category
$getUsersAdmin = $db->query($queryusers." AND access_type = 1 AND id!='". $auth['id'] ."'","array");
echo "<div class='users-admin display'>" . json_encode($getUsersAdmin) . "</div>";



/*
	SET SAVED


*/

$queryGetFormUsers = "SELECT *, fcu.id as fcuID FROM tbform_users fu LEFT JOIN tbform_category_users fcu ON fu.user = fcu.user AND fu.user_type = fcu.user_type WHERE fcu.form_category_id = '$category_id' AND fu.form_id = '$form_id'";

//author
$getAuthor = $db->query($queryGetFormUsers." AND fu.action_type = 1 AND fcu.access_type = 2","array");
$authors = compressToOldJsonFormat($getAuthor);

echo "<div class='form-user-authors display'>" . $authors . "</div>";

//viewer
$getViewers = $db->query($queryGetFormUsers." AND fu.action_type = 2 AND fcu.access_type = 2","array");
$viewers = compressToOldJsonFormat($getViewers);

echo "<div class='form-user-viewers display'>" . $viewers . "</div>";

//user
$getFormUsers = $db->query($queryGetFormUsers." AND fu.action_type = 3 AND fcu.access_type = 2","array");
$formUsers = compressToOldJsonFormat($getFormUsers);

echo "<div class='form-user-accessor display'>" . $formUsers . "</div>";

//admin
$getAdmin = $db->query($queryGetFormUsers." AND fu.action_type = 4 AND fcu.access_type = 1 AND fu.user!='". $auth['id'] ."'","array");
$admin = compressToOldJsonFormat($getAdmin);

echo "<div class='form-user-admin display'>" . $admin . "</div>";

// $array_data_forms = $search->getCompaniesFormV2("",['id as "wsID"', 'active_fields', 'form_name']);
// echo "<div class='user-forms display'>" . htmlentities(json_encode($array_data_forms)). "</div>";

$getForms = json_encode($search->getAllActiveForms());
echo "<div class='user-forms display'>" . htmlentities($getForms). "</div>";


?>