<?php

?>
<link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/jquery-te/jquery-te-1.4.0.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<link rel="stylesheet" href="/css/gi/gi-get.css" />
<!-- <link rel="stylesheet" href="/css/gi/gi-workspace.css" /> -->
<link rel="stylesheet" href="/css/gi/gi-objects.css" />
<link rel="stylesheet" href="/css/gi/gi-tab-container.css" />
<link rel="stylesheet" href="/css/gi/wysiwyg/wysiwyg-editor.css"/>
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />

<script type="text/javascript" src="/js/library/gi/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/library/gi/jquery.contextMenu.js"></script>

<script src="/js/library/jqueryLib/jquery.linq.min.js"></script> 	
<script src="/js/library/math/big.min.js"></script>
<script src="/js/library/math/numeral.min.js"></script>
<script src="/js/library/jquery-te/jquery-te-1.4.0.min.js"></script>



<script type="text/javascript" src="/js/library/gi/giLayoutTable.js"></script>
<script type="text/javascript" src="/js/library/gi/giTabContainer.js"></script>
<script type="text/javascript" src="/js/library/gi/giShapes.js"></script>
<script type="text/javascript" src="/js/library/gi/giPage.js"></script>
<script type="text/javascript" src="/js/library/gi/giPieChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giOtherObjects.js"></script>
<script type="text/javascript" src="/js/library/gi/giTableChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giColumnGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giLineGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giAreaGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giWebPage.js"></script>

<script type="text/javascript" src="/js/library/gi/giExpressionTree.js"></script>	


<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script>
<style>
  body {background-color:#ffffff!important}
  .fl-content{background-color:#ffffff!important}
</style>

<input type="text" id='report_id' value="<?php echo $_GET['id'];?>" style="display:none">
<div class="fl-main-content-wrapper" style="left: 0px; opacity: 1;">                        
	<div id="gi-content">
		<div id="content"></div>
</div>
</div>




<Script type="text/javascript">	
	
    giController.getSavedData(<?php echo $_GET['id'];?>,function(result){
		giReport.Load(result, function(){
			//alert("ready")
		});
    });
    $('.fl-content').css('background-color','#ffffff!important')
   //$('.fl-content').css('background-color','#ACACAC')
   
</script>