<?php

?>

<div id="expCtx1" style="position:relative;">
	<div class="giExp"></div>
</div>
<br/>
<button id="convert">Convert</button>
<br/>
<b>JSON:</b>
<div id="json"></div>
<b>SQL:</b>
<div id="sql"></div>

<div id="chart1"></div>
<div id="shape2"></div>
<div id="shape1"></div>

<link href="/css/gi/gi-global.css" rel="stylesheet" />
<link href="/css/gi/gi-charts.css" rel="stylesheet" />
<link href="/css/gi/gi-get.css" rel="stylesheet" />
<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>
<script src="/js/library/jqueryLib/jquery.gs3.js"></script>
<script src="/js/library/math/big.min.js"></script>
<script src="/js/library/gi/svgHelpers.js"></script>
<script src="/js/library/gi/giLayoutTable.js"></script>
<script src="/js/library/gi/giCoreChartInversedProto.js"></script>
<script src="/js/library/gi/giTableChartProto.js"></script>
<script src="/js/library/gi/giPieChartInversedProto.js"></script>
<script src="/js/library/gi/giColumnGraphInversedProto.js"></script>
<script src="/js/library/gi/giBarGraphInversedProto.js"></script>
<script src="/js/library/gi/giAreaGraphInversedProto.js"></script>
<script src="/js/library/gi/giLineGraphInversedProto.js"></script>
<script src="/js/library/gi/giShapes.js"></script>
<script src="/js/library/gi/giExpressionTree.js"></script>

<script>

	$(function(){
		
		giExpTree1 = new GiExpressionTree({
			htmlContext: $("#expCtx1"),
			objects: [{displayText: "E1_alias.f1", namespaces: ["E1_alias"], objectName: "f1"}, {displayText: "E1_alias.f2", namespaces: ["E1_alias"], objectName: "f2"}]
		});
		giExpTree1.initialize();
		
		$("#convert").on("click", function(e){
			var json = giExpTree1.htmlToJson($("#expCtx1").children(".giExp"));
			$("#json").text(JSON.stringify(json));
			
			$.ajax({
			  type: "POST",
			  url: "/ajax/gi-dp-exp-to-sql",
			  data: {giq: 
				  {
					  fields: [{exp:json, alias:"x"}],
					  aggregates: [{exp:json, alias:"x"}],
					  groupings: [{exp:json}],
					  optionalGroupings: [{exp:json}],
					  filters: [{exp:json}],
					  entities: [{
							entityName:"tbl_t", 
							formName:"T Form", 
							alias:"T Form 1",
							relationships:[{
									refEntityAlias:"T Form 2",
									refEntityName:"tbl_t",
									refAttributeName:"real_field_name",
									attributeName:"real_field_name"
								}]
						}]
				  }
			  },
			  success: function(result){
				  $("#sql").text(result);
			  }
			});
		});
	});
</script>
