<?php

?>
<link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/jquery-te/jquery-te-1.4.0.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />
<link rel="stylesheet" href="/css/gi/gi-get.css" />
<link rel="stylesheet" href="/css/gi/gi-workspace.css" />
<link rel="stylesheet" href="/css/gi/gi-objects.css" />
<link rel="stylesheet" href="/css/gi/gi-tab-container.css" />
<link rel="stylesheet" href="/css/gi/wysiwyg/wysiwyg-editor.css"/>
<link rel="stylesheet" href="/css/gi/ruler.css"/>


<script src="/js/library/jqueryLib/jquery.linq.min.js"></script> 	

<script src="/js/library/math/big.min.js"></script>
<script src="/js/library/math/numeral.min.js"></script>
<script src="/js/library/jquery-te/jquery-te-1.4.0.min.js"></script>



<script type="text/javascript" src="/js/library/gi/jquery.ruler.js"></script>
<script type="text/javascript" src="/js/library/gi/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/library/gi/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/js/library/gi/wysiwyg/wysiwyg.js"></script>
<script type="text/javascript" src="/js/library/gi/wysiwyg/wysiwyg-editor.js"></script>

<script type="text/javascript" src="/js/library/gi/giLayoutTable.js"></script>
<script type="text/javascript" src="/js/library/gi/giTabContainer.js"></script>
<script type="text/javascript" src="/js/library/gi/giShapes.js"></script>
<script type="text/javascript" src="/js/library/gi/giPage.js"></script>
<script type="text/javascript" src="/js/library/gi/giPieChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giOtherObjects.js"></script>
<script type="text/javascript" src="/js/library/gi/giTableChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giColumnGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giLineGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giAreaGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giWebPage.js"></script>

<script type="text/javascript" src="/js/library/gi/giExpressionTree.js"></script>	
<script type="text/javascript" src="/js/library/gi/giEditors.js"></script>

<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-rd-workspace.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script>

<!--Edited By Rowi-->

<input type="text" id='report_id' value="<?= $_GET['id']?>" style="display:none">
<input type="text" id='dev_mode' value="<?= $_GET['dev']?>" style="display:none">

<div id='gi-content'>
    <div id='gi-actionbar' class=""> <!-- embed_newRequest -->
    	<div class="gi-header-container gi-header-left"><span id="report_name">New Report</span><span style='display:none' id="report_mod_notifier">-<i style="font-style:italic">unsaved</i><span></div>
    	<div class="gi-header-container gi-header-right">
    		<div class="header-button" id="save_report_button" title="Save"><i class="fa fa-save"></i></div>
    		<div class="header-button" id="new_report_button" title="New Report"><i class="fa fa-file-o"></i></div>
    		<div class="header-button" id="report_list_button" title="Report List"><i class="fa fa-list"></i></div>
    		<div class="header-button" id="report_print_button" title="Print Report"><i class="fa fa-print"></i></div>
    		<div class="header-button" id="shared_object_button" title="Shared Objects"><i class="fa fa-cube"></i></div>
    		<div class="header-button" id="dashboard_config_button" >
    			<i class="fa fa-dashboard" title="Dashboard Settings"></i>
    			<ul>
    				<li id="dashboard-assign-button">Assign</li>
    				<li id="dashboard-preview-button" class="last-menu-item">Preview</li>
    			</ul>
    		</div>
    		<div class="header-button" title="Report Properties"><i class="fa fa-gears"></i></div>
    	</div>
    </div>
    <div id="workspace-content">
    	<iframe src="/user_view/gi-report?view_type=standalone" id="printForm" name="printForm"></iframe>
        <div id="workspace">
            <div class='tb-row'>
                <div class='tb-column bar'>
                    <div class='bar-content lef-bar'>
                        <?php include 'layout/gi/gi_left_bar.php' ?>
                    </div>
                </div>
                <div class='tb-column'>
                    <div id='content'>
                       
                    </div>
                </div>
                <div class='tb-column bar'>
                    <div class='bar-content right-bar'>
                        <?php include 'layout/gi/gi_right_bar.php' ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>

	<div class="ui-dialog-container">
	    <div id="query-window">
	    	<div class="qw-partition qwp-left">
	    		<div class="panel-head">
	    			<select class="panel-head-input ui-datasource-select"></select>
	    		</div>
	    		<div class="gi-scrollable ui-entity-box panel-content ">
	    			<div class="ui-obj-category ui-entity-add-button">Add Entity +</div>
	    			<ul class='ui-entity-list'></ul>
	    		</div>
	    	</div>

	    	<div class="qw-partition qwp-right">
		    	<div class="panel-head">
					<span class="panel-title">Areas</span>
				</div>
				<div class="panel-content gi-scrollable">

					<!-- Compute -->
					<div class="ui-obj-list">
						<div class="panel-head ui-area-header">
							<span class="panel-title">Compute</span>
							<span class="pull-right" fl-show-opt="true">
								<i class="fa fa-caret-down"></i>
							</span>
						</div>
						<div class="area-list-panel ui-areas" data-area="aggregates">
							<table class="ui-area-table">
								<thead>
									<tr>
										<!-- <th class="area-col-head header-toggle "></th> -->
						    			<th class="area-col-head">Value</th>
						    			<th class="area-col-head column-alias-width">Alias</th>
						    			<th class="area-col-head column-tools-width"></th>
									</tr>
								</thead>
							</table>
							<ul class='ui-area-list-attribute'></ul>
						</div>
					</div>

				
					<div class="ui-obj-list">
						<div class="panel-head ui-area-header">
							<span class="panel-title">Group By</span>
							<span class="pull-right" fl-show-opt="true">
								<i class="fa fa-caret-down"></i>
							</span>
						</div>
						<div class="area-list-panel ui-areas" data-area="groupings">
							<table class="ui-area-table">
								<thead>
									<tr>
										<!-- <th class="area-col-head header-toggle "></th> -->
						    			<th class="area-col-head column-group-sort-value-width">Group/Sort Value</th>
						    			<th class="area-col-head column-display-value-width">Display Value</th>
						    			<th class="area-col-head column-alias-width">Alias</th>
						    			<th class="area-col-head column-tools-width"></th>
									</tr>
								</thead>
							</table>
							<ul class='ui-area-list-attribute'></ul>
						</div>
					</div>
					<!-- Compute -->


					<!-- Drill-down(additional groupings) -->
					<div class="ui-obj-list">
						<div class="panel-head ui-area-header">
							<span class="panel-title">Drill-down(additional groupings)</span>
							<span class="pull-right" fl-show-opt="true">
								<i class="fa fa-caret-down"></i>
							</span>
						</div>
						<div class="area-list-panel ui-areas" data-area="optionalGroupings">
							<table class="ui-area-table">
								<thead>
									<tr>
										<!-- <th class="area-col-head header-toggle "></th> -->
						    			<th class="area-col-head column-group-sort-value-width">Group/Sort Value</th>
						    			<th class="area-col-head column-display-value-width">Display Value</th>
						    			<th class="area-col-head column-alias-width">Alias</th>
						    			<th class="area-col-head column-tools-width"></th>
									</tr>
								</thead>
							</table>
							<ul class='ui-area-list-attribute'></ul>
						</div>
					</div>
					<!-- Drill-down(additional groupings) -->


					<!-- Filters -->
					<div class="ui-obj-list">
						<div class="panel-head ui-area-header">
							<span class="panel-title">Filters</span>
							<span class="pull-right" fl-show-opt="true">
								<i class="fa fa-caret-down"></i>
							</span>
						</div>
						<div class="area-list-panel ui-areas" data-area="filters">
							<table class="ui-area-table">
								<thead>
									<tr>
										<!-- <th class="area-col-head header-toggle "></th> -->
						    			<th class="area-col-head">Value</th>
						    			<th class="area-col-head column-tools-width"></th>
									</tr>
								</thead>
							</table>
							<ul class='ui-area-list-attribute'></ul>
						</div>
					</div>
					<!-- Filters -->




				</div>
			</div>
	    </div>
	    <div id="dashboard-window">
			<table>
				<tr>
					<td class="db-column"><!-- <span>Departments</span> -->
						<div class="panel-head"><!-- <span>Departments</span> --><input class="panel-head-input" id="search_department" placeholder="Search Department" type="text"></div>
						<div id="db-department-column" class="db-box-list gi-scrollable">
							<ul ><li><input type='checkbox' class="select_all_department" value='Select All'> (Select All)</li></ul>
							<ul class='ui-departments'></ul>
						</div>
					</td>
					<td class="db-column"><!-- <span>Positions</span> -->
						<div class="panel-head"><!-- <span>Positions</span> --><input class="panel-head-input" id="search_position" placeholder="Search Positions" type="text"></div>
						<div id="db-position-column" class="db-box-list gi-scrollable">
							<ul ><li><input type='checkbox' class="select_all_position" value='Select All'> (Select All)</li></ul>
							<ul class='ui-positions'></ul>
						</div>
					</td>
					<td class="db-column"><!-- <span>Groups</span> -->
						<div class="panel-head"><!-- <span>Groups</span> --><input class="panel-head-input" id="search_group" placeholder="Search Groups" type="text"></div>
						<div id="db-group-column" class="db-box-list gi-scrollable">
							<ul ><li><input type='checkbox' class="select_all_group" value='Select All'> (Select All)</li></ul>
							<ul class='ui-groups'></ul>
						</div>
					</td>
				</tr>
			</table>
	    </div>
	    <div id="giSharedObject">
	    	<!-- <div class="bar-panel"> -->
				<div class="panel-head">
					<span class="panel-title"><input type="text" class="panel-head-input" id="gso-search" placeholder="Search"/></span>
					
				</div>
				<div class="panel-content gi-report-shared-objects gi-scrollable">
					<ul class="ui-obj-list" id='shared-object-list'>
					</ul>
				</div>
	    </div>
	    <div id="giAddSharedObject">
	    	<a class="label">Name : </a><input id="shared-object-name-input" value=""/>
	    </div>
	    <div id="giDialogs">
	    	
	    </div>

	    <div id="ui-entity-picklist-box" class='ui-entity-picklist-box'>
			<div class="panel-head">
				<span class="panel-title">
					<input type='text' placeholder='Search' class='ui-entity-picklist-search panel-head-input'/>
				</span>
			</div>
			<div class="panel-content gi-scrollable">
				<ul class='ui-entity-picklist'></ul>
			</div>
			
		</div>

		<div id="qw-entity-config">
			<!-- <div class="panel-head"> -->
				<table class="ui-relationship-table">
					<tbody>
						<tr>
							<th class="panel-head"><b>Attribute<b></b></b></th>
							<th class="panel-head"><b>Reference Entity<b></b></b></th>
							<th class="panel-head"><b>Reference Attribute<b></b></b></th>
						</tr>
					</tbody>
				</table>
			<!-- </div> -->
			<div class="panel-content gi-scrollable">
				<table id="tbl-relationship" class="ui-relationship-table">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>