<?php
   $db = new Database();
   $auth = Auth::getAuth('current_user');
   $userCompany = new userQueries();
   $company = $userCompany->getCompany($auth['company_id']);
  
?>
<div class="fl-main-content-wrapper" style="left: 0px; opacity: 1;">                        
	<br>   
	<h1>Reports List</h1>
	<div class="fl-table-wrapper fl-list-of-app-record-wrapper" form_id="106">
		<div class="fl-option-toolbar">
			<div class="fl-toolbar-left-wrapper">
				<ul>
					<li class="tour_button_create_request"><a class="primary-btn" href="/user_view/gi-report-designer" data-original-title="" title="">Create Report</a></li>
				</ul>
			</div>
			<div class="fl-toolbar-right-wrapper">
				<!--<a class="pinit icon dataTip dashboard_pin" fl-data-application-id="0" fl-data-type="request" fl-data-object-id="106" data-placement="left" data-original-title="Pin this to Dashboard"></a>-->
			</div>
			<div class="clearfix"></div>
			</div><!-- end of option toolbar -->
		
			<script type="text/javascript" src="/js/functions/gi/gi-rd-report-list.js"></script>
			<table class="display_data dataTable_report" style="">
				  <thead class="fl-header-tbl-wrapper">
					  <tr>
						<th style='width:70px !important;'><div class='fl-table-ellip'></div></th>
						<th style=''><div class='fl-table-ellip'>Report Name</div></th>
						<th style=''><div class='fl-table-ellip'>Creator</div></th>
						<th style=''><div class='fl-table-ellip'>Date Modified</div></th>
						<th style=''><div class='fl-table-ellip'>Date Created</div></th>
					  </tr>
				  </thead>
				  <tbody></tbody>
			</table>
		
	</div>
</div>