<?php

?>

<input type="text" id='report_id' value="<?php echo $_GET['id'];?>" style="display:none">

<!-- <link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>
<script src="/js/library/math/big.min.js"></script>
<link rel="stylesheet" href="/css/gi/gi-report-designer.css" />
<link rel="stylesheet" href="/css/gi/gi-objects.css" />
<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script> -->

<link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/jquery-te/jquery-te-1.4.0.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />
<link rel="stylesheet" href="/css/gi/gi-get.css" />
<link rel="stylesheet" href="/css/gi/gi-objects.css" />
<link rel="stylesheet" href="/css/gi/gi-tab-container.css" />
<link rel="stylesheet" href="/css/gi/wysiwyg/wysiwyg-editor.css"/>

<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>  

<script src="/js/library/math/big.min.js"></script>
<script src="/js/library/math/numeral.min.js"></script>
<script src="/js/library/jquery-te/jquery-te-1.4.0.min.js"></script>

<script type="text/javascript" src="/js/library/gi/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/library/gi/jquery.contextMenu.js"></script>



<script type="text/javascript" src="/js/library/gi/giLayoutTable.js"></script>
<script type="text/javascript" src="/js/library/gi/giTabContainer.js"></script>
<script type="text/javascript" src="/js/library/gi/giShapes.js"></script>
<script type="text/javascript" src="/js/library/gi/giPage.js"></script>
<script type="text/javascript" src="/js/library/gi/giPieChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giOtherObjects.js"></script>
<script type="text/javascript" src="/js/library/gi/giTableChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giColumnGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giLineGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giAreaGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giWebPage.js"></script>

<script type="text/javascript" src="/js/library/gi/giExpressionTree.js"></script>   


<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script>

<style>
	.fl-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  position: absolute;
  margin-bottom: 0px;
  background-color: #ffffff!important;
  width: 100%;
}
.contentBar_workspace{
	  /*margin-top: 0px;*/
  /* margin-left: 10px; */
  width: 100%;
}
#content{
	background: white;
}
</style>

<div class="fl-create-workflow-wrapper" >
	<div class="contentBar_workspace" style="margin-top:34px;">
	    <div class="fl-workspace-wrapper">
			
			<div class="fl-option-toolbar">
				
				<div class="fl-toolbar-left-wrapper" style="float:left;">
					<div class='report_name'>Report Name</div>
					
				</div>
				
				
				<div class="fl-toolbar-right-wrapper" style="float:right;">
					<div class="fl-toobox-hide-show" fl-widget-pos="right">
						<!--<span class='fa fa-navicon'></span>-->
				
				<ul>
					<li class="print_report"><a class="primary-btn" data-original-title="" title="">Print</a></li>
					<li class="gi_request_dashboard_pin"><a class="primary-btn" data-original-title="" title="">Pin</a></li>
					
				</ul>

						<!---->
					</div>
				</div>
				
			</div>		
			
			<?php //include 'layout/form_controls.php' ?>
			
			<!-- 	<div class="fl-workspace">
				
					<div class="fl-workspace-container">
			
					<div class="workspace" data-report-type="viewer style="width:auto;height:auto"">
						<iframe frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'  style="width:100%;height:100%" id="printableReportFrame" name="printableReportFrame" src="/user_view/gi-report?id=<?php echo $_GET['id'];?>&view_type=standalone"></iframe>
					</div>

					</div>
				</div> -->


				<div class="fl-main-content-wrapper" style="left: 0px; opacity: 1;">  
				    <div id="gi-content">
				        <div id="content" style="height:auto;background: white;"></div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-dialog-container"></div>
<!-- </div> -->

<iframe style="display:none;width:100%;height:100%" id="printableReportFrame" name="printableReportFrame" src="/user_view/gi-report?id=<?php echo $_GET['id'];?>"></iframe>

<Script type="text/javascript">
	
	var includeCss = '<link rel="stylesheet" href="/css/jquery-ui.css" />'+
  '<link rel="stylesheet" href="/css/jquery-te/jquery-te-1.4.0.css" />'+
  '<link rel="stylesheet" href="/css/gi/gi-charts.css" />'+
  '<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />'+
  '<link rel="stylesheet" href="/css/gi/gi-get.css" />'+
  '<link rel="stylesheet" href="/css/gi/gi-objects.css" />'+
  '<link rel="stylesheet" href="/css/gi/gi-tab-container.css" />'+
  '<link rel="stylesheet" href="/css/gi/wysiwyg/wysiwyg-editor.css"/>'

  var includeJs = '<script type="text/javascript" src="/js/library/gi/giLayoutTable.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giTabContainer.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giShapes.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giPage.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giPieChart.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giOtherObjects.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giTableChart.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giColumnGraph.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giLineGraph.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giAreaGraph.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giBarGraph.js"/>'+
  '<script type="text/javascript" src="/js/library/gi/giWebPage.js"/>'

   $('.fl-content').css('background-color','#ACACAC')
   
  $('body').on('click','.print_report',function(){
		window.frames["printableReportFrame"].focus();
		window.frames["printableReportFrame"].print();
      // printDiv("gi-content");
	})
    function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML = 
              "<html><head><title></title></head><body>" + 
              includeCss +
              divElements + "</body>";

            //Print Page
            window.print();
            document.location.reload(true);
            //Restore orignal HTML
           // document.body.innerHTML = oldPage;

          
        }
 // function resizeIframe(obj) {
 // 	var height = $(obj.contentWindow.document.body).find('#content').height()
 //    obj.style.height = height + 'px';
 //    $('.workspace').css({height:obj.contentWindow.document.body.height})
 //   	alert(height)
 //  }


  giController.getSavedData(<?php echo $_GET['id'];?>,function(result){
        giReport.Load(result, function(){
           
        });
    });
   
        //request pin

  //       $('body').on('click', '.gi_request_dashboard_pin', function() {

  //           ui.block();

  //           var content = [];
  //           content.push({
		// object_type: "report",
  //               object_id: $('.report_name').text(),
  //               formId: "2",
  //               reportId:  $('#report_id').val(),
  //               url: String(window.location).replace('gi-report-viewer','gi-report')
  //           });

  //           pin.save({
  //               application_id: "false",
  //               content: JSON.stringify(content)
  //           }, function(result) {
  //               console.log(result);

  //               ui.unblock();
  //               showNotification({
  //                   message: "Content has been pinned.",
  //                   type: "success",
  //                   autoClose: true,
  //                   duration: 3
  //               });

  //           });
  //       });
</script>