<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['others']['group'] == "1"){

?>

<?php if(GO_LITE != 0){ ?>
<div class="fl-option-toolbar">
    
    <div class="fl-toolbar-left-wrapper">
       <h1>
            <svg class="icon-svg" viewBox="0 0 90 90" style="margin-top:9px;">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-groups"></use>
          </svg>
            Groups
        </h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
       <!--  <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
    </div>
     <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
<div class="fl-message-wrapper">
 
   <?php
      $auth = Auth::getAuth('current_user');
      $userCompany = new userQueries();
   ?>
   <div class="fl-left-wrapper">
      <div class="fl-head-title-wrapper fl-head-for-2-col">
           <p class="fl-list-of-groups-title">List of Groups <strong class="counter groupCount">0</strong></p>
      </div>
      <div class="scrollbarM fl-left-wrapper-content">
         <div class="fl-inbox-item-wrapper">
            <!-- <div class="scrollbarM contentHolder"> -->
               <ul class="group_lists">
                  <center>
                   <!--  <img src="/images/loader/loader.gif" class="display load_m offsetTop5" />-->
                     <div class="spinner">
                         <div class="bar1"></div>
                         <div class="bar2"></div>
                         <div class="bar3"></div>
                         <div class="bar4"></div>
                         <div class="bar5"></div>
                         <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                        <div class="bar9"></div>
                        <div class="bar10"></div>
                   </div>
                 </center> 

               </ul>
            <!--</div> -->
         </div>
      </div>    
   </div>
    <div class="fl-right-wrapper">
       <div class="fl-head-title-wrapper fl-head-for-2-col">
          <label class="conversationTo">Create Group</label>
          <div class="fl-head-menu-wrapper">
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="fl-no-conversation-wrapper " class="msg_container">
        <ul class="scrollbarP messagesOne contentHolder pull-left fl-box-sizing fl-group-ul">
          <div id="" class="fl-groups-border-field">
            <div class="fl-groups-border-field-name">Name: <font color="red">*</font></div>
            <input type="text" id="" class="input-small gName">
          </div>
          <div id="userList" class="fl-group-user-list">
             <div class="fl-groups-border-field-name">
                Members: <font color="red">*</font>
             </div>
                <input type="text" id="listRecipient1" class="input-small msgBoxTo" data-tag-id="0">
          </div>
          <div class="fl-group-display-user">
               <div id="displayUser1"></div>
          </div> 
          <input type="button" class="btn-basicBtn pull-right cancel_update fl-default-btn fl-buttonEffect" value="Cancel">
          <input type="button" class="btn-blueBtn pull-right addGroup" value="Save">      
        </ul>
        <Br/><Br/>
      </div><!-- end of no conversation -->
      <div class="clearfix"></div>
    </div><!-- end of fl-right -->
      <div class="clearfix"></div>
</div>
<?php }else{ $this->setInclude('error'); }  ?>
<?php }else{ $this->setInclude('error'); }  ?>