<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['administer']['group_settings'] == "1"){

?>

<div class="fl-list-of-app-record-wrapper">

  <div class="fl-option-toolbar">

      <div class="fl-toolbar-left-wrapper">
          <h1>
              <svg class="icon-svg icon-fl-toolbar-svg svg-icon-group-settings" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-group-settings"></use>
            </svg>
            Groups</h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <?php include 'layout/adminbar.php';?>
   <div class="fl-main-app-view" style="position:relative">
      <div class="fl-option-toolbar">
          <div class="fl-toolbar-left-wrapper">
            <!-- <input type="button" class="btn-blueBtn addGroupsModal fl-margin-right" value="Add Group"> -->
            <ul class="fl-standard-btn">
                <li class="fl-buttonEffect addGroupsModal">
                    <a class="primary-btn">Add Group</a>
                </li>
            </ul>
          </div>
          <div class="fl-toolbar-right-wrapper">
           
            <div class="fl-search-wrapper">
                 <select class="fl-input-select searchGroupsLimitPerPage" id="">
                  <option value="10">Show Entries</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
              </select>
              <input type="text" placeholder="Search Groups" style="float:right" id="txtSearchGroupsDatatable"> 
                  <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchGroupsDatatable">
            </div>
            <!-- div class="fl-search-wrapper" style="width:370px;">
              
              <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable" style="float:right;"> 
                  <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
            </div>
              <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
          </div>
          <div class="clearfix"></div>
      </div><!-- end of option toolbar -->
    <div class="fl-datatable-wrapper">  
     <table class="table_data display_data dataTable"  id="loadGroups">
        <thead class="fl-header-tbl-wrapper">
           <tr>
              <th field_name="group_name" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Group Name</div></div></th>
              <th field_name="description" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Description</div></div></th>
              <th field_name="creator" style="width:10% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Created By</div></div></th>
              <th field_name="date_created" style="width:10% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Created Date</div></div></th>
              <th field_name="editor" style="width:10% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Updated By</div></div></th>
              <th field_name="date_updated" style="width:10% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Updated Date</div></div></th>
              <th style="width:10% !important">Action</th>
           </tr>
        </thead>
        <tbody></tbody>
     </table>
    </div> 
     <div class="dataTable_widget"></div>
  </div>
</div>
<?php
$search = new Search();
//get users
$getUsers = $search->getAllUsers(" AND user_level_id != 4");
echo "<div class='users_list display'>" . json_encode($getUsers) . "</div>";
?>

<?php }else{ $this->setInclude('error'); }  ?>