<br/>
<!-- <div class="fl-option-toolbar">
    <div class="fl-toolbar-left-wrapper">
      <h1><?php echo $_GET['hashTag']; ?></h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
        <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a>
    </div>
     <div class="clearfix"></div>
  </div> --><!-- end of option toolbar -->
   <div class="fl-announcment-wrapper">
     <!--  <span class="fl-notes">Note. If you didn't select any type of post,it will be considered as a company announcement.</span> -->
      
      <textarea placeholder="What's the update?" name="getPost" class="input-announcement getPost" style="width: 97%;overflow: hidden; word-wrap: break-word; resize: none; height: 50px;"><?php echo "#".$_GET['hashTag']; ?></textarea>
      <div class="fl-post-option"> 
      <!-- <select class="fl-showPostChoices fl-post-privacy fl-updates_settings">
         <option>Public</option>
         <option>Group</option>
         <option>Department</option>
         <option>Position</option>
      </select> -->
      <img src="/images/loader/load.gif" class="loading fl-announcement-post-loading isDisplayNone">
      <input type="submit" class="btn-blueBtn ceatepost fl-btn-right" data-get-file="imagePost"  data-location="postUpload"  data-file="imagePreviewUpload" value="POST">
      <div class="post-privacy-container">
          <div class="showPostChoices post-privacy updates_settings">
             <span class="post-privacy-label-contaner">
                <span class="postChoice-icon-selected">
                   <i class="icon-globe fa fa-globe"></i>
                </span>
                <span class="" id="selectedPostChoice" value="0" postIDs="">Public</span>
                <span class="post-privacy-arrow" style=""><i class="icon-sort-down"></i>
                </span>
             </span>
          </div>
          <div class="postPrivacyChoice postPrivacyChoice-container">
             <div class="postPrivacyChoice-choices">
                <span class="postChoice-icon">
                   <i class="icon-globe fa fa-globe"></i>
                </span>
                <span class="postChoice" value="0">Public</span>
             </div>
             <div class="postPrivacyChoice-choices">
                <span class="postChoice-icon">
                   <i  class="icon-lock fa fa-lock"></i>
                </span>
                <span class="postChoice" value="1">Group</span>
             </div>
             <div class="postPrivacyChoice-choices">
                <span class="postChoice-icon">
                   <i  class="icon-sitemap fa fa-sitemap"></i>
                </span>
                <span class="postChoice" value="2">Department</span>
             </div>
             <div class="postPrivacyChoice-choices">
                <span  class="postChoice-icon">
                   <i class="icon-user fa fa-user"></i>
                </span>
                <span class="postChoice" value="3">Position</span>
             </div>
          </div>
       </div>
       <select class="fl-input-select announcementType fl-floatRight">
         <!-- <option value="0">Select Type of Post</option> -->
         <option value="1">Company Announcement</option>
         <option value="2">Event Post</option>
      </select>
       <form id="postFile" method="post" enctype="multipart/form-data" action="/ajax/uploadFile">
         <div class="postActions">
            <div id="uniform-fileInput" class="uploader">
               <input type="file" data-action-id="2" value="upload" name="postFile" id="uploadForm" size="24" data-get-file="imagePost" data-show="imagePreviewUpload" data-form="postFile" data-location="previewImagePostUpload" data-action-type="postFile" style="opacity: 0;" class="postFile">
               <span id="uploadFilename_2" class="filename">No file selected</span>
               <span class="action">Choose File</span>
               <input type="hidden" value="postFileUpload" name="uploadType">
               <input type="hidden" value="postUpload" name="uploadFolder">
            </div>
           <!--  <img src="/images/loader/loader.gif" class="postFileLoad pull-left display" style="margin-left: 5px;margin-top:6px;"/> -->
         </div>
      </form>
   </div>
   </div> 
   <br><br><br>
   <div class="fl-seperator"></div>
   <div class="fl-main-wrapper">
      <div class="section group">
         <br/>
         <center>
            <img src="/images/loader/loader.gif" class="display load_p"/>
         </center>
         <!--post-message-->
          <div class="timeline-messages hashTag_post"></div>
            <div class="updates"></div>
         <!-- End Announcement -->
      </div>
      
   </div>
   
      <!--<div class="widget">
         <div class="head">
            <div class="title_head">
               <i class="icon-file"></i> Announcement
            </div>
            <div class="right_bar_content">
                  <img src="/images/loader/load.gif" class="loading display" style="margin-right:10px;"/>  
            </div>
         </div>
         <br />
            <div class="pull-left" style="margin-left: 5px;font-size: 10px;">
               Note. <em>If you didn't select any type of post,it will be considered as a company announcement.</em>
            </div>
            <div class="pull-right">
               <select style="margin-top: -10px;width: 200px;margin-right: 5px;" class="input-select announcementType">
                  <option value="0">Select Type of Post</option>
                  <option value="1">Company Announcement</option>
                  <option value="2">Event Post</option>
               </select>
            </div>
            
         <br /><br />
            <textarea placeholder="What's the update?" name="getPost" class="input-announcement getPost"></textarea>
         
         <form id="postFile" method="post" enctype="multipart/form-data" action='/ajax/uploadFile'>
            <div class="postActions" style="margin-left: 5px;margin-top: 5px;">
               <div id="uniform-fileInput" class="uploader">
                  <input type="file" data-action-id="2" value="upload"
                     name="postFile" id="uploadForm" size="24" data-get-file="imagePost" data-show="imagePreviewUpload" data-form="postFile" data-location="previewImagePostUpload" data-action-type="postFile" style="opacity: 0;" class="postFile">
                  <span id="uploadFilename_2" class="filename">No file selected</span>
                  <span class="action">Choose File</span>
                  <input type="hidden" value="postFileUpload" name="uploadType">
                  <input type="hidden" value="postUpload" name="uploadFolder">
               </div>
               <img src="/images/loader/loader.gif" class="postFileLoad pull-left display" style="margin-left: 5px;margin-top:6px;"/>
            </div>
         </form>
         <div class="btn_post_holder">
            <div class="post-privacy-container" style="display:inline">
               <div class="showPostChoices post-privacy updates_settings" style="">
                  <span class="post-privacy-label-contaner">
                     <span class="postChoice-icon-selected" style="float: left;margin-right: 5px;">
                        <i class="icon-globe" style=""></i>
                     </span>
                     <span class="" id="selectedPostChoice" value="0" postIDs="" style="margin-right: 7px;float: left;">Public</span>
                     <span class="post-privacy-arrow" style=""><i class="icon-sort-down" style="font-size: 15px;"></i>
                     </span>
                  </span>
               </div>
               <div class="postPrivacyChoice postPrivacyChoice-container" style="">
                  <div class="postPrivacyChoice-choices" style="">
                     <span class="postChoice-icon" style="">
                        <i class="icon-globe" style=""></i>
                     </span>
                     <span class="postChoice" value="0" style="float: left;">Public</span>
                  </div>
                  <div class="postPrivacyChoice-choices" style="">
                     <span class="postChoice-icon" style="">
                        <i  class="icon-lock" style=""></i>
                     </span>
                     <span class="postChoice" value="1" style="float: left;">Group</span>
                  </div>
                  <div class="postPrivacyChoice-choices" style="">
                     <span class="postChoice-icon" style="">
                        <i  class="icon-sitemap" style=""></i>
                     </span>
                     <span class="postChoice" value="2" style="float: left;">Department</span>
                  </div>
                  <div class="postPrivacyChoice-choices" style="">
                     <span  class="postChoice-icon"style="">
                        <i class="icon-user" style=""></i>
                     </span>
                     <span class="postChoice" value="3" style="float: left;">Position</span>
                  </div>
               </div>
            </div>
            <input type="submit" class="btn-blueBtn ceatepost" data-get-file="imagePost"  data-location="postUpload"  data-file="imagePreviewUpload" value="POST">
         </div>
         <!--  Post Selected Photos -->
         <!--<div style="padding: 5px;">
            <div class="imagePreviewUpload display" style="float: left;width: 100%;border: 1px solid #D5D5D5;margin-top:10px;background-color: #fff;"> 
               <div style="padding: 5px;" class="previewImagePostUpload">
   
               </div>
            </div>
         </div>
         
         <div class="pull-left length12">
            <div class="padding_5">
               <div class="divider"><span></span></div>
            </div>
         </div>
        
         <div class="pull-left length12" style="min-height: 1000px;">
            <div class="padding_5">
            <!-- Announcement -->
            
            <!--<br>
               <center>
                  <img src="/images/loader/loader.gif" class="display load_p"/>
               </center>
               <!--post-message-->
              <!-- <div class="timeline-messages post-message"></div>
               <div class="updates"></div>-->
            <!-- End Announcement -->
           <!-- </div>
         </div>
      </div>-->
  
</div>  <!-- end of section group -->    
</div><!-- end of fl-main-wrapper --> 