<?php
// Validate if page is not accessible
	 $mod = unserialize(ENABLE_COMPANY_MOD);
	 if($mod['gs3_insights']['gi-report-designer'] == "0" || $mod['gs3_insights']['gi-report-designer-list'] == "0"){
	 
$auth = Auth::getAuth('current_user');
$db = new Database();
$search = new Search();
$fs = new functions();
$user_id = $auth['id'];
$application_id = $_COOKIE['application'];
$applicationDoc = new Application($db, $application_id);
$strSqlGetEvents = "SELECT *,p.id as postID  FROM tbpost p
                LEFT JOIN tbuser u on p.postedBy=u.id
                WHERE p.is_active={$db->escape(1)}
                AND p.post_type={$db->escape(2)}
                AND (
                    CASE 
                    WHEN p.postPrivacyType = 1 THEN
                        EXISTS (SELECT * FROM (select g.id from tbgroups g WHERE g.id IN
                        (SELECT 
                         CASE 
                         WHEN FIND_IN_SET(u.id, g.Members)>0
                         THEN g.id
                         ELSE ''
                         END
                         FROM tbuser u WHERE u.id={$auth['id']})) A
                        WHERE A.id IN (SELECT 
                        CASE WHEN FIND_IN_SET(A.ID, p1.postPrivacyIDs)>0 THEN
                          A.id
                        ELSE 
                          ''
                        END               
                        FROM tbpost p1 WHERE p1.ID = p.id))
                    WHEN p.postPrivacyType = 2 THEN
                        FIND_IN_SET({$db->escape($auth['department_id'])},p.postPrivacyIDs)
                    WHEN p.postPrivacyType = 3 THEN
                        FIND_IN_SET({$db->escape($auth['position'])},p.postPrivacyIDs)
                    else
                        u.company_id={$db->escape($auth['company_id'])}
                   END
                    )
                OR p.is_active={$db->escape(1)}
				      AND p.post_type={$db->escape(2)}
                                    AND
                                    u.id = {$db->escape($auth['id'])} 
                ORDER BY p.id DESC";
// echo $strSqlGetEvents;
$getEvent = $db->query($strSqlGetEvents . " LIMIT 20", "array");
// $countEvent = $db->query($strSqlGetEvents, "numrows");
?>
<div class="dashboard_wrapper">
    <h1><?php echo $applicationDoc->category_name; ?> <!--Dashboard--></h1>
    <?php
    $dashboards = functions::getDashboards(" WHERE UserID = {$auth['id']} AND ApplicationID = {$application_id}");
    foreach ($dashboards as $dashboardDoc) {
        $dashboard_objects = json_decode($dashboardDoc->content, true);
    }

    $dashboard_objects = functions::my_array_unique($dashboard_objects);
    $widget_count = 0;
    foreach ($dashboard_objects as $dashboard_object_doc) {
        if ($dashboard_object_doc["object_type"] == 'request') {
            $form_id = $dashboard_object_doc["object_id"];

            //if not form user
            $getModules = $search->getModules(" AND tbw.id = $form_id");
    	    if($auth['user_level_id'] != "4"){
        		if(count($getModules)==0){
        		    continue;
        		}
    	    }

            $active_fields = functions::getFormFields($form_id);
            $forms = $db->query("SELECT * FROM tb_workspace WHERE id = {$db->escape($form_id)} AND is_delete = 0 ", "row");
            $display_import = $forms['display_import'];
            $formsCount = $db->query("SELECT * FROM tb_workspace WHERE id = {$db->escape($form_id)} AND is_delete = 0 ", "numrows");
            if($auth['user_level_id'] != "4"){
        		if($formsCount==0){
        		    continue;
        		}
	       }

           //table view
	       include 'layout/application_table_view.phtml';
            
        }

        if ($dashboard_object_doc["object_type"] == 'report') {
            ?>
            <div class="fl-table-wrapper  toggleParent fl-home-object" fl-data="dashboard" fl-data-application-id="<?php echo $application_id; ?>" fl-data-type="report" fl-data-object-id="<?php echo $dashboard_object_doc["object_id"]; ?>" fl-data-url="<?php echo $dashboard_object_doc["url"]; ?>" fl-data-report-id="<?php echo $dashboard_object_doc["reportId"] ?>" fl-data-form-id="<?php echo $dashboard_object_doc["formId"] ?>">
                <div class="fl-widget-head">
                    <div class="widget-icon-wrapper">
                        <span class="reports icon"></span><span class="widget-title"><?php echo $dashboard_object_doc["object_id"]; ?></span>
                        <div class="fl-toolbar-right-wrapper">
                             <?php include "layout/option_toolbar_buttons.php"; ?>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fl-report-wrapper-content" fl-data-report-id="<?php echo $dashboard_object_doc["reportId"] ?>" fl-data-form-id="<?php echo $dashboard_object_doc["formId"] ?>">
                    <div align="center" style="width:100%;height: 400px">
                        <iframe style="width:100%;height: 400px" src="<?php echo $dashboard_object_doc["url"]; ?>">
                        <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                </div>
            </div>  
            <?php
        }

        if ($dashboard_object_doc["object_type"] == 'request_form') {
            
            ?>
            <div class="fl-table-wrapper toggleParent fl-home-object" fl-data="dashboard" fl-data-application-id="<?php echo $application_id; ?>" fl-data-type="request_form" fl-data-object-id="<?php echo $dashboard_object_doc["object_id"]; ?>" fl-data-url="<?php echo $dashboard_object_doc["url"]; ?>" fl-data-form-id="<?php echo $dashboard_object_doc["formId"] ?>" fl-data-request-id="<?php echo $dashboard_object_doc["requestId"] ?>">
                <div class="fl-widget-head">
                    <div class="widget-icon-wrapper">
                        <span class="modules icon"></span><span class="widget-title"><?php echo $dashboard_object_doc["object_id"]; ?></span>
                        <div class="fl-toolbar-right-wrapper">
                             <?php include "layout/option_toolbar_buttons.php"; ?>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="fl-report-wrapper-content " fl-data-form-id="<?php echo $dashboard_object_doc["formId"] ?>" fl-data-request-id="<?php echo $dashboard_object_doc["requestId"] ?>">
                    <div align="center" style="width:100%;height: 400px">
                        <iframe id="request_form" style="width:100%;height: 400px" src="<?php echo $dashboard_object_doc["url"]; ?>">
                        <p>Your browser does not support iframes.</p>
                        </iframe>
                    </div>
                </div>
            </div>  
            <?php
        }
        if ($dashboard_object_doc["object_type"] == 'widget') {
            ?>

            <div class="fl-table-wrapper toggleParent fl-widgets-wrapper fl-home-object"  fl-data="dashboard" fl-data-application-id="<?php echo $application_id; ?>" fl-data-type="widget" fl-data-object-id="widget">
                <div class="fl-widget-head">
                    <div class="fl-toolbar-left-wrapper">
                      <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-widgets"></use>
                        </svg>
                        <span>
                            Widgets
                        </span>
                    </div>    
                     <div class="fl-toolbar-right-wrapper">
                        <?php include "layout/option_toolbar_buttons.php"; ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="section group">
                    <!-- end of company events -->

                    <?php
                        if($mod['my-requests'] == "1"){
                    ?>
                        <div class="col fl-widget home-wigdet">
                            <div class="fl-widget-head fl-small-widgetv2">
                                <div class="fl-toolbar-left-wrapper">
                                    
                                        <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-my-request"></use>
                                        </svg>
                                        <span>
                                            My Requests
                                        </span>
                                </div>
                            </div>
                            <div class="fl-widget-wrapper myRequestUserWidgetWrapper">
                                <div class="fl-myrequest-container-users myRequestUserWidget">
                                    <!-- <div class="fl-widget-content">
                                       <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                       <div class="fl-widget-my-requests-content-wrapper">
                                        <span>Request:</span> <span class="request-data theme-font-color"><a href="#">Discussion</a></span><br/>
                                         <span>Request ID:</span> <span class="request-data theme-font-color">dis0115</span><br/>
                                         <span>Request Status:</span> <span class="request-data request-status theme-font-color">Active</span> </div>
                                      <span class="request-time">2014-01-02 09:20:11</span>   
                                       <div class="clearfix"></div>
                                       <div align="center"><img src="images/icon/loading.gif"></div>
                                    </div>
                                    <div class="fl-widget-content">
                                       <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                       <div class="fl-widget-my-requests-content-wrapper">
                                        <span>Request:</span> <span class="request-data theme-font-color">Discussion</span><br/>
                                         <span>Request ID:</span> <span class="request-data theme-font-color">dis0115</span><br/>
                                         <span>Request Status:</span> <span class="request-data request-status theme-font-color">Active</span> </div>
                                       <span class="request-time">2014-01-02 09:20:11</span>   
                                       <div class="clearfix"></div>
                                    </div> -->
                                </div>
                                <!-- all about loading -->
                                <!-- <div class="fl-see-all">
                                  <a href="/user_view/my-requests"><span>See all <i class="fa fa-hand-o-right"></i></span></a>
                                </div>  -->
                                <div class="fl-widget-wrapper-center-content display">
                                    <!-- for loading congtent -->
                                    <div class="fl-loading-content display">
                                        <div align="center"><img src="/images/icon/loading.gif"></div>
                                        <p>Loading Content...</p>
                                    </div>
                                    <!-- for loading congtent -->
                                    <!-- for no data -->
                                    <div class="fl-no-data-found display">
                                        <span><i class="fa fa-files-o"></i> No Data Found.</span>
                                    </div>
                                    <!-- for no data -->
                                </div>
                                <!-- all about loading --> 
                            </div>
                        </div>  <!-- end of request -->
                        
                    <?php
                    }
                    if ($mod['others']['starred'] == "1") {
                        ?>
                    <div class="col fl-widget home-wigdet">
                        <div class="fl-widget-head fl-small-widgetv2">
                            <div class="fl-toolbar-left-wrapper">
                                    
                                <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-starred"></use>
                                </svg>
                                <span>
                                    My Starred
                                </span>
                            </div>
                        </div>
                        <div class="fl-widget-wrapper starredUserWidgetWrapper">
                            <div class="fl-starred-container-users starredUserWidget">
                                <!-- <div class="fl-widget-content">
                                    <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                    <div class="fl-widget-starred-content-wrapper">
                                      <span class="fl-delete">x</span>
                                      <span class="starredtype-data theme-font-color">Announcement</span><br/>
                                      <span class="starredname-data">Bruce Lee</span><br/>
                                      <span class="starreddate-data">2014-01-02 09:20:11</span>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="fl-widget-content">
                                    <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                    <div class="fl-widget-starred-content-wrapper">
                                      <span class="fl-delete">x</span>
                                      <span class="starredtype-data theme-font-color">Announcement</span><br/>
                                      <span class="starredname-data">Bruce Lee</span><br/>
                                      <span class="starreddate-data">2014-01-02 09:20:11</span>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <div class="fl-widget-content">
                                    <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                    <div class="fl-widget-starred-content-wrapper">
                                      <span class="fl-delete">x</span>
                                      <span class="starredtype-data theme-font-color">Announcement</span><br/>
                                      <span class="starredname-data">Bruce Lee</span><br/>
                                      <span class="starreddate-data">2014-01-02 09:20:11</span>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div> -->
                            </div>
                            <!-- all about loading -->
                            <div class="fl-widget-wrapper-center-content display">
                                <!-- for loading congtent -->
                                <div class="fl-loading-content display">
                                    <div align="center"><img src="/images/icon/loading.gif"></div>
                                    <p>Loading Content...</p>
                                </div>
                                <!-- for loading congtent -->
                                <!-- for no data -->
                                <div class="fl-no-data-found display">
                                    <span><i class="fa fa-files-o"></i> No Data Found.</span>
                                </div>
                                <!-- for no data -->
                            </div> 
                            <!-- all about loading --> 
                        </div>  
                    </div>  
                    <?php
                    }
                    ?>
                </div><!-- end of starred -->

                <div class="section group">
                    <!--<div class="col fl-widget">
                        <div class="fl-widget-head">
                            <div class="widget-icon-wrapper">
                                <?php
                                $userCompany = new userQueries();
                                $usersOnline = $userCompany->onlineUser($auth['company_id'], $auth['id']);
                                ?>
                                <span class="online-user icon"></span><span class="widget-title">Online Users  <strong class="counter countUOnline fl-counter-dashboard">
                                        <?php echo $usersOnline[0]['countUserOnline']; ?></strong></a>
                                    </strong></span>

                            </div>
                        </div>
                        <div class="fl-online-user-wrapper">
                            <div class="fl-widget-content onlineUsers">
                                <div id="online-users-container" 
                                     class="online onlineUsers" 
                                     data-socket-active="<?php echo SOCKET_ACTIVE ?>" 
                                     data-socket-server="<?php echo SOCKET_SERVER; ?>"
                                     >
                                         <?php
                                         if ($usersOnline[0]['countUserOnline'] == "0") {
                                             echo "<b>No Users Online.</b>";
                                         } else {
                                             echo $usersOnline[0]['images'];
                                         }
                                         ?>
                                </div>
                            </div>               
                        </div>
                    </div>--><!-- end of company events --> 

                </div>
            </div>
            <?php
        }
    }

    if (count($dashboards) == 0) {
        //no existing dashboard
        ?>
        <div class="fl-table-wrapper toggleParent"  fl-data="dashboard" fl-data-application-id="<?php echo $application_id; ?>" fl-data-type="widget" fl-data-object-id="widget">
        <div class="fl-widget-head">
                <div class="fl-toolbar-left-wrapper">
                    
                </div>    
                 <div class="fl-toolbar-right-wrapper">
                    <div class="fl-toolbar-icon-wrap">
                        <i class="fa fa-arrow-circle-up fl-toggleUpDown dataTip" data-placement="top" data-original-title="Hide this"></i>
                    </div>
                    <div class="fl-toolbar-icon-wrap">
                        <i class="fa fa-arrows dataTip handle_dashboard" data-placement="top" data-original-title="Drag Here"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="section group">
               <!-- end of company events -->

                <?php
                if($mod['my-requests'] == "1"){
                    ?>
                <div class="col fl-widget home-wigdet">
                    <div class="fl-widget-head fl-small-widgetv2">
                        <div class="widget-icon-wrapper">
                            <span class="my-requests icon"></span><span class="widget-title">My Requests<a href="#"><!-- <strong class="counter my_request_count fl-counter-dashboard">20</strong> --></a></span>
                        </div>
                    </div>
                    <div class="fl-widget-wrapper myRequestUserWidgetWrapper">
                        <div class="fl-myrequest-container-users myRequestUserWidget">
                            <!-- <div class="fl-widget-content">
                               <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                               <div class="fl-widget-my-requests-content-wrapper">
                                <span>Request:</span> <span class="request-data theme-font-color"><a href="#">Discussion</a></span><br/>
                                 <span>Request ID:</span> <span class="request-data theme-font-color">dis0115</span><br/>
                                 <span>Request Status:</span> <span class="request-data request-status theme-font-color">Active</span> </div>
                              <span class="request-time">2014-01-02 09:20:11</span>   
                               <div class="clearfix"></div>
                               <div align="center"><img src="images/icon/loading.gif"></div>
                            </div>
                            <div class="fl-widget-content">
                               <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                               <div class="fl-widget-my-requests-content-wrapper">
                                <span>Request:</span> <span class="request-data theme-font-color">Discussion</span><br/>
                                 <span>Request ID:</span> <span class="request-data theme-font-color">dis0115</span><br/>
                                 <span>Request Status:</span> <span class="request-data request-status theme-font-color">Active</span> </div>
                               <span class="request-time">2014-01-02 09:20:11</span>   
                               <div class="clearfix"></div>
                            </div> -->
                        </div>
                        <!-- all about loading -->
                        <!-- <div class="fl-see-all">
                          <a href="/user_view/my-requests"><span>See all <i class="fa fa-hand-o-right"></i></span></a>
                        </div>  -->
                        <div class="fl-widget-wrapper-center-content">
                            <!-- for loading congtent -->
                            <div class="fl-loading-content display">
                                <div align="center"><img src="/images/icon/loading.gif"></div>
                                <p>Loading Content...</p>
                            </div>
                            <!-- for loading congtent -->
                            <!-- for no data -->
                            <div class="fl-no-data-found display">
                                <span><i class="fa fa-files-o"></i> No Data Found.</span>
                            </div>
                            <!-- for no data -->
                        </div>
                        <!-- all about loading --> 
                    </div>
                </div>  <!-- end of request -->
                <?php
                    }
                    if ($mod['others']['starred'] == "1") {
                    ?>

                <div class="col fl-widget home-wigdet">
                    <div class="fl-widget-head fl-small-widgetv2">
                        <div class="widget-icon-wrapper">
                            <span class="starred icon"></span><span class="widget-title">Starred<a href="#"></a></span>
                        </div>
                    </div>
                    <div class="fl-widget-wrapper starredUserWidgetWrapper">
                        <div class="fl-starred-container-users starredUserWidget">
                            <!-- <div class="fl-widget-content">
                                <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                <div class="fl-widget-starred-content-wrapper">
                                  <span class="fl-delete">x</span>
                                  <span class="starredtype-data theme-font-color">Announcement</span><br/>
                                  <span class="starredname-data">Bruce Lee</span><br/>
                                  <span class="starreddate-data">2014-01-02 09:20:11</span>
                                </div>
                                <div class="clearfix"></div>
                             </div>
                             <div class="fl-widget-content">
                                <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                <div class="fl-widget-starred-content-wrapper">
                                  <span class="fl-delete">x</span>
                                  <span class="starredtype-data theme-font-color">Announcement</span><br/>
                                  <span class="starredname-data">Bruce Lee</span><br/>
                                  <span class="starreddate-data">2014-01-02 09:20:11</span>
                                </div>
                                <div class="clearfix"></div>
                             </div>
                             <div class="fl-widget-content">
                                <div class="fl-avatar"><img src="images/avatar/avatar.png"></div>
                                <div class="fl-widget-starred-content-wrapper">
                                  <span class="fl-delete">x</span>
                                  <span class="starredtype-data theme-font-color">Announcement</span><br/>
                                  <span class="starredname-data">Bruce Lee</span><br/>
                                  <span class="starreddate-data">2014-01-02 09:20:11</span>
                                </div>
                                <div class="clearfix"></div>
                             </div> -->
                        </div>
                        <!-- all about loading -->
                        <div class="fl-widget-wrapper-center-content">
                            <!-- for loading congtent -->
                            <div class="fl-loading-content display">
                                <div align="center"><img src="/images/icon/loading.gif"></div>
                                <p>Loading Content...</p>
                            </div>
                            <!-- for loading congtent -->
                            <!-- for no data -->
                            <div class="fl-no-data-found display">
                                <span><i class="fa fa-files-o"></i> No Data Found.</span>
                            </div>
                            <!-- for no data -->
                        </div> 
                        <!-- all about loading --> 
                    </div>  
                </div>  
                <?php
                }
                ?>
            </div><!-- end of starred -->

            <div class="section group">
                <!--<div class="col fl-widget">
                    <div class="fl-widget-head fl-small-widgetv2">
                        <div class="widget-icon-wrapper">
                            <?php
                            $userCompany = new userQueries();
                            $usersOnline = $userCompany->onlineUser($auth['company_id'], $auth['id']);
                            ?>
                            <span class="online-user icon"></span><span class="widget-title">Online Users  <strong class="counter countUOnline fl-counter-dashboard">
                                    <?php echo $usersOnline[0]['countUserOnline']; ?></strong></a>
                                </strong></span>

                        </div>
                    </div>
                    <div class="fl-online-user-wrapper">
                        <div class="fl-widget-content onlineUsers">
                            <div id="online-users-container" 
                                 class="online onlineUsers" 
                                 data-socket-active="<?php echo SOCKET_ACTIVE ?>" 
                                 data-socket-server="<?php echo SOCKET_SERVER; ?>"
                                 >
                                     <?php
                                     if ($usersOnline[0]['countUserOnline'] == "0") {
                                         echo "<b>No Users Online.</b>";
                                     } else {
                                         echo $usersOnline[0]['images'];
                                     }
                                     ?>
                            </div>
                        </div>               
                    </div>
                </div>--><!-- end of company events --> 

            </div>
        </div>
        <?php
    }
    ?>

</DIV>
<script>
    
    $(document).ready(function(){
        
        var iframe_document = $('#request_form').eq(0);
        iframe_document.load(function(){
            iframe_document[0].contentWindow.$('html').addClass('view-embed-iframe');
        });
    });

</script>
<?php }else{ $this->setInclude('error'); }  ?>
