<div class="fl-inmail-notifications-compose-wrapper">
    <div class="clearfix"></div> 
        <div class="fl-head-title-wrapper">
             <div class="fl-tab-wrapper">
                  <ul id="tabs">
                      <li class="fl-check-all-item">
                        <input type="checkbox" class="css-checkbox" id="checkall-inmail-msg"/><label for="checkall-inmail-msg" class="css-label checkall-inmail-msg"></label>
                        <!-- <input type="checkbox" class="css-checkbox" id="checkall-inmail-noti"/><label for="checkall-inmail-noti" class="css-label checkall-inmail-noti"></label> -->
                      </li>
                      <li class="fl-inmail-messagebtn"><a id="tab1" data-original-title="Message"><i class="fa fa-envelope-o"></i></a></li>
                      <li class="fl-inmail-notificationbtns"><a id="tab2" data-original-title="Notifications"><i class="fa fa-bell-o"></i></a></li>
                      <li class="fl-inmail-composebtn"><a id="tab3" data-original-title="Compose Message"><i class="fa fa-pencil"></i></a></li>
                 </ul>
                 <div class="fl-back-to-inbox"><a href="#" data-original-title="Back to inbox"><i class="fa fa-long-arrow-left"></i></a></div>
             </div>
        </div>
        <div class="tab-container" id="tab1C">           
            <div class="fl-inmail-notifications-compose-opt-wrapper">
                <i class="fa fa-trash-o"> <span>Delete</span></i>|
                <i class="fa fa-caret-down fl-drop-inmail-option"> <span>More</span></i>
                
             </div>
             <ul class="fl-inmail-more-option">
                <li><i class="fa fa-bookmark"></i> &nbsp;&nbsp;<span>Mark as important</span></li>
                <li><i class="fa fa-bookmark-o"></i> &nbsp;&nbsp;<span>Mark as not important</span></li>
             </ul>
            <ul class="fl-inmail-notifications-compose-content-wrapper">
                <!-- <div align="center"><img src="/images/icon/loading.gif"></div> -->
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg1"/><label for="id_for_msg1" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg2"/><label for="id_for_msg2" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li></span> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg3"/><label for="id_for_msg3" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg4"/><label for="id_for_msg4" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg5"/><label for="id_for_msg5" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg6"/><label for="id_for_msg6" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>  
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg7"/><label for="id_for_msg7" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg8"/><label for="id_for_msg8" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg9"/><label for="id_for_msg9" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg10"/><label for="id_for_msg10" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg11"/><label for="id_for_msg11" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> 
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-msg-single" id="id_for_msg12"/><label for="id_for_msg12" class="css-label"></label><div class="fl-opt-type"><i class="fa fa-bookmark-o" data-original-title="Mark as important"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Geraldine Aligno</a> and <a href="#">Samuel G. Pulta</a> commented on a post you are following in <a href="#">Sirkulo ng GS3</a>. 11:57am ajslkdjas ljaslkdj lajlskdj ljaiwlkasfj lajksd;lja lojasldjlas l;ajsdljwlkajsldkjow ;akjs;djasd</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>                 
            </ul><!-- end of view all message -->
            <div class="fl-inmail-msg-wrapper">
               <div class="fl-inmail-msg-content-wrapper">
                   <div class="fl-inmail-msg-header">
                        <div class="fl-inmail-msg-from">
                            <strong>From:</strong> <span>George Harrisson</span>
                        </div>
                        <div class="fl-inmail-msg-to-date-wrapper">
                            <div class="fl-inmail-msg-to" style="float:left">
                                <strong>To:</strong><span>Me</span>
                            </div>
                            <div class="fl-inmail-msg-date" style="float:right">
                                <span>2014-01-02 09:20:11</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                   </div>
                   <div class="fl-inmail-msg-body">
                        <p>Message,</p><br/>

                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                        <p>have suffered alteration in some form, by injected humour.</p>
                        <p>Thanks Reqards,</p>
                   </div>
               </div><!-- end of message content -->
               <div class="fl-inmail-msg-content-wrapper">
                   <div class="fl-inmail-msg-header">
                        <div class="fl-inmail-msg-from">
                            <strong>From:</strong> <span>John Lennon</span>
                        </div>
                        <div class="fl-inmail-msg-to-date-wrapper">
                            <div class="fl-inmail-msg-to" style="float:left">
                                <strong>To:</strong><span>Me</span>
                            </div>
                            <div class="fl-inmail-msg-date" style="float:right">
                                <span>2014-01-02 09:20:11</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                   </div>
                   <div class="fl-inmail-msg-body">
                        <p>Message,</p><br/>

                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                        <p>have suffered alteration in some form, by injected humour.</p>
                        <p>Thanks Reqards,</p>
                   </div>
               </div><!-- end of message content -->
               <div class="fl-inmail-msg-compose-reply">
                    <div class="fl-inmail-add-a-recipient-wrapper">
                        <i class="fa fa-mail-reply"></i>
                        <div class="fl-inmail-add-a-recipient" id="userList">
                            <div class="fl-inmail-left-text">To:</div>
                            <div class="fl-inmail-show-CC">CC</div>
                            <input type="text" id="listRecipient1" class="input-small msgBoxTo" data-tag-id="0">     
                        </div>
                        <div class="clearfix"></div>
                        <div id="displayUser1"></div>
                        <!-- CC -->
                        <div class="fl-inmail-add-a-recipient fl-inmail-cc" id="userList2" style="margin-top:5px;">
                            <div class="fl-inmail-left-text">CC:</div>
                            <div class="fl-inmail-hide-CC">Hide CC</div>
                            <div class="fl-inmail-show-BCC">BCC</div>
                            <input type="text" id="listRecipient2" class="input-small msgBoxCC" data-tag-id="1">
                        </div>
                        <div class="clearfix"></div>
                        <div id="displayUser2"></div>
                        <!-- BCC -->
                        <div class="fl-inmail-add-a-recipient fl-inmail-bcc" id="userList3" style="margin-top:5px;">
                            <div class="fl-inmail-left-text">BCC:</div>
                            <div class="fl-inmail-hide-BCC">Hide BCC</div>
                            <input type="text" id="listRecipient3" class="input-small msgBoxBCC" data-tag-id="2">
                        </div>
                        <div class="clearfix"></div>
                        <div id="displayUser3"></div>
                    </div>
                    <div class="fl-inmail-attach-file">     
                    </div>
               </div> <!--  end of compose reply -->
                    <div class="fl-inmail-input-msg">
                        <textarea></textarea>
                    </div>
                    <input type="button" class="btn-blueBtn" value="Send" />
                    <i class="fa fa-paperclip"> <strong class="fontFam" style="font-size:12px;">Attach File</strong></i>
            </div>
            <div class="clearfix"></div>
        </div> <!-- MESSAGES -->
        <div class="tab-container" id="tab2C">
            <div class="fl-inmail-notifications-opt-wrapper">
                <i class="fa fa-trash-o"> <span>Delete</span></i>
             </div>
           <ul class="fl-inmail-notifications-compose-content-wrapper noti-only-wrapper">
                <div class="noti-only">

                </div>
                <!-- <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-noti-single" id="id_fornoti_1"/><label for="id_fornoti_1" class="css-label"></label><div class="fl-opt-type"><i data-original-title="Company Announcement" class="fa fa-comments-o"></i><i data-original-title="Public" class="fa fa-globe"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Samuel Pulta</a> mentioned you in a comment.</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-noti-single" id="id_fornoti_2"/><label for="id_fornoti_2" class="css-label"></label><div class="fl-opt-type"><i data-original-title="Events" class="fa fa-calendar"></i><i data-original-title="Group" class="fa fa-users"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Michael Espano</a> Commented on your post.</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-noti-single" id="id_fornoti_3"/><label for="id_fornoti_3" class="css-label"></label><div class="fl-opt-type"><i data-original-title="Company Announcement" class="fa fa-comments-o"></i><i data-original-title="Department" class="fa fa-sitemap"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Aron Tolentino</a> Liked your post.</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li>
                <li><div class="fl-status-and-type"><input type="checkbox" class="css-checkbox in-mail-noti-single" id="id_fornoti_4"/><label for="id_fornoti_4" class="css-label"></label><div class="fl-opt-type"><i data-original-title="Events" class="fa fa-calendar"></i><i data-original-title="Position" class="fa fa-user"></i><i data-original-title="Delete" class="fa fa-trash-o"></i></div></div><div class="fl-inmail-notifications-compose-content"><a href="#">Aron Tolentino</a> Liked your post.</div><div class="fl-notification-del-time"><span class="time">2014-01-02 09:20:11</span></div>
                <div class="clearfix"></div>
                </li> -->
            </ul><!-- end of view all message -->
        </div>
        <div class="tab-container" id="tab3C">              
           <div class="fl-inmail-msg-compose">
                <div class="fl-inmail-add-a-recipient-wrapper">
                    <div class="fl-inmail-subject">
                        <input type="text" name="fl-inmail-subject" placeholder="Subject">
                    </div>
                    
                    <div class="fl-inmail-add-a-recipient" id="userList4">
                        <div class="fl-inmail-left-text">To:</div>
                        <div class="fl-inmail-show-CC">CC</div>
                        <input type="text" id="listRecipient4" class="input-small msgBoxTo" data-tag-id="0">
                    </div>
                    <div class="clearfix"></div>
                    <div id="displayUser4"></div>
                    <!-- CC -->
                    <div class="fl-inmail-add-a-recipient fl-inmail-cc" id="userList5" style="margin-top:5px;">
                        <div class="fl-inmail-left-text">CC:</div>
                        <div class="fl-inmail-hide-CC">Hide CC</div>
                        <div class="fl-inmail-show-BCC">BCC</div>
                        <input type="text" id="listRecipient5" class="input-small msgBoxCC" data-tag-id="1">
                    </div>
                    <div class="clearfix"></div>
                    <div id="displayUser5"></div>
                    <!-- BCC -->
                    <div class="fl-inmail-add-a-recipient fl-inmail-bcc" id="userList6" style="margin-top:5px;">
                        <div class="fl-inmail-left-text">BCC:</div>
                        <div class="fl-inmail-hide-BCC">Hide BCC</div>
                        <input type="text" id="listRecipient6" class="input-small msgBoxBCC" data-tag-id="2">
                    </div>
                    <div class="clearfix"></div>
                    <div id="displayUser6"></div>

                </div>
                <div class="fl-inmail-attach-file">     
                </div>
            </div> <!--  end of compose reply -->
            <div class="fl-inmail-input-msg">
                <textarea></textarea>
            </div>
            <input type="button" class="btn-blueBtn" value="Send" />
            <i class="fa fa-paperclip"> <strong class="fontFam" style="font-size:12px;">Attach File</strong></i>        
        </div> 
</div>

<div class="clearfix"></div> 