<div class="fl-list-of-app-record-wrapper">
  <Br/>
  <div class="fl-option-toolbar">
      <div class="fl-keywords-icon icon"></div>
      <div class="fl-toolbar-left-wrapper">
          <h1>List of Keywords</h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <?php include 'layout/adminbar.php';?>
   <Br/><Br/>
  <div class="fl-option-toolbar">
	    <div class="fl-toolbar-left-wrapper">
        <ul class="fl-standard-btn">
          <li class="fl-buttonEffect" onclick="keyword.showDialog(0)">
              <a class="primary-btn">Add Keyword</a>
          </li>
      </ul>
	    </div>
	    <div class="fl-toolbar-right-wrapper">
	    	<div class="fl-search-wrapper">
          <select class="fl-input-select searchKeywordLimitPerPage" id="">
              <option value="10">Show Entries</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
          </select>
		    	<input type="text"  placeholder="Search Keywords" class="" id="txtSearchKeywordDatatable" style="float:right"> 
	            <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchFormDatatable">
	    	</div>
	        <!-- <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
	    </div>
	    <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
 <!-- <table>
 	<tr>
 		<th><div class="fl-table-ellip">Actions</div></th>
 		<th><div class="fl-table-ellip">Form Name</div></th>
 		<th><div class="fl-table-ellip">Description</div></th>
 		<th><div class="fl-table-ellip">Status</div></th>
 		<th><div class="fl-table-ellip">Date Created</div></th>	
 	</tr>
 	<tr>
 		<td>
 			<a href="#"><i class="fa fa-pencil-square-o tip" data-placement="top" data-original-title="Edit"></i></a>
 			<a href="#"><i class="fa fa-globe tip" data-placement="top" data-original-title="Deactivate"></i></a>
 			<a href="#"><i class="fa fa-trash-o tip" data-placement="top" data-original-title="Delete"></i></a>
 		</td>
 		<td><div class="fl-table-ellip">data2</div></td>
 		<td><div class="fl-table-ellip">data3</div></td>
 		<td><div class="fl-table-ellip">data4</div></td>
 		<td><div class="fl-table-ellip">data5</div></td>		
 	</tr>
 	<tr>
 		<td>
 			<a href="#"><i class="fa fa-pencil-square-o tip" data-placement="top" data-original-title="Edit"></i></a>
 			<a href="#"><i class="fa fa-globe tip" data-placement="top" data-original-title="Deactivate"></i></a>
 			<a href="#"><i class="fa fa-trash-o tip" data-placement="top" data-original-title="Delete"></i></a>
 		</td>
 		<td><div class="fl-table-ellip">data2</div></td>
 		<td><div class="fl-table-ellip">data3</div></td>
 		<td><div class="fl-table-ellip">data4</div></td>
 		<td><div class="fl-table-ellip">data5</div></td>		
 	</tr>
 	<tr>
 		<td>
 			<a href="#"><i class="fa fa-pencil-square-o tip" data-placement="top" data-original-title="Edit"></i></a>
 			<a href="#"><i class="fa fa-globe tip" data-placement="top" data-original-title="Deactivate"></i></a>
 			<a href="#"><i class="fa fa-trash-o tip" data-placement="top" data-original-title="Delete"></i></a>
 		</td>
 		<td><div class="fl-table-ellip">data2</div></td>
 		<td><div class="fl-table-ellip">data3</div></td>
 		<td><div class="fl-table-ellip">data4</div></td>
 		<td><div class="fl-table-ellip">data5</div></td>		
 	</tr>
 </table> -->
 <div class="fl-datatable-wrapper">  
 <table class="display_data dataTable_keyword fl-keyword-list">
      <thead class="fl-header-tbl-wrapper">
          <tr>
            <th><div class='fl-table-ellip'></div></th>
            <th field_name='code'><div class='fl-table-ellip'>Code</div></th>
            <th field_name='description'><div class='fl-table-ellip'>Description</div></th>
            <th field_name='is_active'><div class='fl-table-ellip'>Status</div></th>
            <th field_name='date_created'><div class='fl-table-ellip'>Date Created</div></th>
            <th field_name='date_updated'><div class='fl-table-ellip'>Date Updated</div></th>
          </tr>
      </thead>
      <tbody></tbody>
  </table>
  </div> 
 <div class="dataTable_widget"></div>
</div>
