


<?php
$db = new Database();
$auth = Auth::getAuth('current_user');
$userID = $auth['id'];
$company_id = $auth['company_id'];
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
$getLinkMaintenance = $db->query("SELECT 
                                    menu.*, maintentance.date_created, maintentance.date_updated,
                                     tb_created.display_name as created_display_name, tb_updated.display_name as updated_display_name
                                     FROM tblink_maintenance maintentance 
                                     LEFT JOIN tblink_menu menu 
                                     ON maintentance.id = menu.link_maintenance_id 
                                     LEFT JOIN tbuser tb_created 
                                     ON tb_created.id = maintentance.created_by 
                                     LEFT JOIN tbuser tb_updated 
                                     ON tb_updated.id = maintentance.updated_by 
                                     WHERE maintentance.company_id = '". $company_id ."'","array");

$jsonDetails = array(
                "Created By"=>$getLinkMaintenance[0]['created_display_name']?:"none",
                "Created Date"=>$getLinkMaintenance[0]['date_created']?:"none",
                "Updated By"=>$getLinkMaintenance[0]['updated_display_name']?:"none",
                "Updated Date"=>$getLinkMaintenance[0]['date_updated']?:"none");

$jsonDetails = htmlentities(json_encode($jsonDetails));
if(count($getLinkMaintenance)>0){
    $displayNoNav = "isDisplayNone";
}
if ($mod['administer']['link_maintenance'] == "1") {
// if (ERP_MODULES_VISIBILITY == "1") {
    ?>
<?php if(GO_LITE != 0){ ?>
   

    <div class="fl-list-of-app-record-wrapper">
   
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-link-maintenance"></use>
                    </svg>
                    Link Maintenance
                </h1>
            </div>
            <div class="fl-toolbar-right-wrapper">
                <ul class="fl-standard-btn">
                    <li class="fl-buttonEffect">
                        <a href="#" class="getDetailFn" json="<?= $jsonDetails; ?>" data-original-title="" title="">Editor details</a>
                    </li>
                    <!-- <li class="fl-buttonEffect">
                        <a href="#" class="hide_config" data-original-title="" title="" data-type="hide_config" id="hide_config" data-action="hide_config" data-set="hide_config">Hide Configuration</a>
                    </li> -->
                </ul>
            <!--  <div class="fl-default-page-wrapper">-->
            <!--    <label>-->
            <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
            <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
            <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
            <!--    </label>-->
            <!--  </div>-->
            </div>
            <div class="clearfix"></div>
        </div>
        <?php //include 'layout/adminbar.php'; ?>
        <div class="section clearing link-menu-container">
            <div class="column div_1_of_1">
                <div class="fl-option-toolbar">
                    <div class="fl-toolbar-left-wrapper">
                        <!-- <span class="icon custom-widget"></span><span class="widget-title">Menu Preview<a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span> -->
                        <div class="widget-icon-wrapper isDisplayNone">
                            <span class="icon custom-widget"></span><span class="widget-title widget-link-title"><?= $getNav[0]['nav_title'] ?><a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span>
                        </div>
                         <ul class="fl-standard-btn">
                            <!-- <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="link-createNew">Create New</a>
                            </li> -->
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="link-newEntry">Add Link</a>
                            </li>
                            <!-- <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="link-indent">Indent</a>
                            </li>
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="link-outdent">Outdent</a>
                            </li> -->
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="link-open-save-dialog" action="<?= $action; ?>" link-id="<?= $getNav[0]['nav_id'] ?>">Save</a>
                            </li>
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="link-reset">Clear All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fl-toolbar-right-wrapper">
                    </div>
                </div><!-- END OF HEADER WIDGET -->
                <div class="fl-widget-wrapper-scroll fl-scroll-overflow" style=""> 
                    <div class="fl-inner-content">
                        
                        <ul class="link-menu-ul">
                            <?php
                                foreach ($getLinkMaintenance as $key => $value) {
                                    if($value['title']){
                                    ?>
                                        <li class="link-menu-li" json-data="">
                                            <div class="">
                                                <div style="float:left" class="link-menu" title="<?= $value['title']; ?>" data-link-title="<?= $value['title']; ?>" data-url-val="<?= $value['url']; ?>">
                                                    <div class="link-menu-left link-title fl-table-ellip"><?= $value['title']; ?></div>
                                                    <div class="link-menu-right">
                                                        <span class="link-menu-type" style=""></span>
                                                        <a class="link-remove cursor">
                                                            <i class="fa fa-trash"></i>
                                                        </a> 
                                                        <a class="link-settings cursor">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    <?php
                                    }
                                }
                            ?>
                        </ul>
                        <div class="no-nav <?= $displayNoNav; ?>">Add link items.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="navInfo display">
    <div id="link-info-title"><?= $getNav[0]['nav_title'] ?></div>
    <div id="link-info-desc"><?= $getNav[0]['nav_desc'] ?></div>
</div>


<?php } else {
    $this->setInclude('error');
} ?>

 <?php 
} else {
    $this->setInclude('error');
} 
?>