

<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);

if($mod['others']['edit_account'] == "1"){

?>

<?php
   $db = new Database();
   $auth = Auth::getAuth('current_user');
   $userCompany = new userQueries();
   $company = $userCompany->getCompany($auth['company_id']);
   $User_Settings_Functions = new User_Settings_Functions();
   //functions::landing_page($auth);
?>
<div class="fl-option-toolbar">
  <div class="account-settings icon"></div>
    <div class="fl-toolbar-left-wrapper">
      <h1>Lot View</h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
    <!-- <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->

    </div>
  <div class="clearfix"></div>
</div><!-- end of option toolbar -->
<br/>
<button class="view-lot-modal">View Modal</button>
<div class="section clearing" ng-app="iconSet">
    <div class="column div_1_of_1">
        
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">
                  <div class="fl-toolbar-left-wrapper" style="width: 50px;margin-top: 5px;">Legend: </div>

                  <div class="fl-toolbar-right-wrapper" style="">
                    <?php
                      $tbl_name = "tbl_legends";
                      $legend = $db->query("SELECT * FROM {$tbl_name}","array");

                      foreach ($legend as $value) {
                        
                    ?>
                    <p style="float:left;margin-top: 5px;margin-left: 10px;">
                      <?php echo $value['legend_name']; ?> 
                    </p>
                    <div data-legend-name="<?php echo $value['legend_name']; ?>" data-legend-color="<?php echo $value['legend_color']; ?>" style="float: left;width: 15px;height: 15px;border-color:purple;background-color:<?php echo $value['legend_color']; ?>;margin-left: 5px;margin-top: 5px;">
                    </div>
                    <?php } ?>
                  </div>

                </span>
            </div>
        </div>
        <div class="fl-widget-wrapper-not-scroll">
            <div class="fl-inner-content">
              <div class="lot-area" id="lot-area-ws" style="position: relative;    height: 725px;
                background-size: 100%;background-image:url('/images/custom-client-images/cfic/map/LotBMP.gif');">
              </div>
            </div>
        </div>

    </div>
</div>



<?php }else{ $this->setInclude('error'); }  ?>