
<?php
$thread_id = filter_input(INPUT_GET, "threadId");
if (!$thread_id) {
    $thread_id = 0;
}

$auth        = Auth::getAuth('current_user');
$userCompany = new userQueries();
?>

<div class="section clearing">
    <div class="column div_1_of_3">
        <div class="fl-widget-head fl-small-widgetv2">
            <div class="fl-widget-head-actions">
                <ul>
                    <li class="fl-buttonEffect fl-default-btn"><i class="fa fa-cog"></i> More</li>
                </ul>
            </div>
            <div class="widget-icon-wrapper">
                <span class="messages icon"></span><span class="widget-title">Inbox</span>
            </div>
        </div><!-- END OF HEADER WIDGET -->
        <div id="fl-current-user-thread-list-widget-wrapper">
            <div class="fl-widget-wrapper-scroll fl-scroll-overflow fl-widget-user-conversations-wrapper">
                <ul id="fl-load-user-conversation">
                    <!--Render - current user thread list-->
                    <?php
                    $this->renderAsPartialView("/modules/messaging/controller/current_user_thread_list.php", array(
                        "thread_fetch_start_index" => 0,
                        "thread_fetch_count" => 10
                    ));
                    ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="column div_2_of_3">

        <!-- Messages Header -->
        <div class="fl-widget-head fl-small-widgetv2">
            <!-- <div class="fl-widget-head-actions">
                <ul>
                    <li id="fl-btn-compose-new-message" class="fl-buttonEffect fl-positive-btn"><i class="fa fa-plus"></i> New Message</li>
                    <li id="fl-btn-message-actions" class="fl-buttonEffect fl-default-btn"><i class="fa fa-cog"></i> Actions</li>
                </ul>
            </div> -->
            <div class="widget-icon-wrapper">
                <span class="messages icon"></span>
                <span id="fl-span-thread-title" class="widget-title">[Thread Title]</span>
            </div>
        </div>
        <div id="fl-thread-messages-widget-wrapper">

            <!--Render - thread messages-->
            <?php
            $this->renderAsPartialView("/modules/messaging/controller/thread_messages.php", array(
                "thread_id" => $thread_id));
            ?>
        </div>

        <!--Actions and new message text area-->
        <div class="fl-widget-compose-wrapper" attachment-file-names="">
            <!--Attachments-->
            <?php
            $this->renderAsPartialView("/modules/file/controller/file_uploader_widget.php", array(
                "file_uploader_id" => "fl-message-upload",
                "click_trigger_class" => "fl-file-upload-btn",
                "target_directory" => "message_attachments"
            ));
            ?>
            <!-- <div class="fl-widget-compose-reply">
                <form>
                    <textarea id="fl-textarea-reply" placeholder="Type your reply..."></textarea>
                </form>
                <div  class="fl-widget-compose-attach">
                    <ul id="fl-msg-right-nav"> -->
                        <!--  <li>
                         </li>   --> 
                    <!-- </ul>
                    <ul id="fl-msg-left-nav">
                        <li>
                            <div class="fl-file-upload-btn" >
                                <i class="fa fa-paperclip"></i>
                                <span>Upload File</span> -->
                                <!--<form><input type="file" class="msg-file-upload"></form>-->                                                            
                            <!-- </div>
                        </li>
                        <li id="fl-btn-send-reply" class="fl-msg-other-btn">
                            <i class="fa fa-location-arrow"></i>
                            <span>Send</span>
                        </li>    
                    </ul>
                </div>
            </div> -->
            <!-- END OF COMPOSE REPLY WIDGET -->
            <div class="fl-widget-compose-message">
                <div class="fl-widget-compose-names-wrapper">
                    <div id="fl-widget-compose-message-to">To :</div> 
                    <input type="text" id="listRecipient1" class="input-small msgBoxTo" data-tag-id="0">
                </div>
                <div id="fl-widget-compose-type-message-wrapper">
                    <div id="fl-display-user-wrapper">
                        <div id="displayUser1"></div>
                    </div>
                    <form>
                        <textarea id="fl-textarea-new-message" placeholder="Type your message..."></textarea>
                    </form>
                </div>    
                <div class="fl-widget-compose-attach">
                    <ul id="fl-msg-right-nav">
                        <!--  <li>
                         </li>   --> 
                    </ul>
                    <ul id="fl-msg-left-nav">
                        <li>
                            <div class="fl-file-upload-btn">
                                <i class="fa fa-paperclip"></i>
                                <span>Upload File</span>
                                <!--<input type="file" class="msg-file-upload">-->
                            </div>
                        </li>
                        <li id="fl-btn-send-composed-message" class="fl-msg-other-btn">
                            <i class="fa fa-location-arrow"></i>
                            <span>Send</span>
                        </li>    
                    </ul>
                </div>
            </div><!-- END OF COMPOSE MESSAGE WIDGET -->
        </div><!-- MSG COMPOSE WRAPPER -->        
    </div>
</div>

<script src="../../../js/library/template.js"></script>
<script src="../../../js/functions/message_app/custom_logger.js"></script>
<script src="../../../js/functions/message_app/message_backend.js"></script>
<script src="../../../js/functions/message_app/message_ui.js"></script>
<script src="../../../js/functions/message_app/message_socket_events.js"></script>