
   <?php
       /* For user login if wrong redirect to index/login */
       if($_SERVER['REQUEST_METHOD'] == "POST")
       {
          if(!$login)
          {
            ?>
            <script type="text/javascript">
               showNotification({
                            message: "Invalid username & Password, Try to login again.",
                            type: "error",
                            autoClose: true,
                            duration: 2
                        });
            </script>
            <?php
          }
       }
       
   ?>
   <Br/>
<h1>Messages</h1>
<br/><br/>
<div class="fl-message-wrapper">
 

   <div class="fl-left-wrapper">
      <div class="fl-head-title-wrapper">
         <p>Inbox <strong class="counter" style="position:absolute; top:7px;">2</strong></p>
      </div>
      <div class="fl-left-wrapper-content">
         <div class="fl-inbox-item-wrapper loadMsgList">
           
         </div>
      </div>    
   </div>
    <div class="fl-right-wrapper">
       <div class="fl-head-title-wrapper">
        <div class="fl-head-menu-wrapper">
         <ul class="fl-head-menu">
            <li id="fl-create-btn"><i class="fa fa-envelope-o"></i> Create Message</li>   
            <li id="fl-action-btn"><i class="fa fa-cog"></i>  Actions</li> 
         </ul>
         <ul id="fl-action-option">
            <li><i class="fa fa-trash-o"></i> Delete Conversation</li>
             <li><i class="fa fa-plus"></i> Add People</li>
          </ul>
       </div>
      <div class="clearfix"></div>
        </div>
        <div id="fl-no-conversation-wrapper">
        <p style="text-align: center; margin-top: 50px; color:#ccc;">No Conversation Selected Select message from the left side to view your conversation.</p>
        <Br/><Br/>
        <div class="fl-reply-message-wrapper">
         <form id="postFile" method="post" enctype="multipart/form-data" action='/ajax/uploadFile'>
               <div class="postActions">
                  <div id="uniform-fileInput" class="uploader" style="float:none;margin-left: 10px;
margin-bottom: 10px;">
                     <input type="file" data-action-id="2" value="upload"
                        name="postFile" id="uploadForm" size="24" data-get-file="imagePost" data-show="imagePreviewUpload" data-form="postFile" data-location="previewImagePostUpload" data-action-type="postFile" style="opacity: 0;" class="postFile">
                     <span id="uploadFilename_2" class="filename">No file selected</span>
                     <span class="action">Choose File</span>
                     <input type="hidden" value="postFileUpload" name="uploadType">
                     <input type="hidden" value="postUpload" name="uploadFolder">
                  </div>
                 <!--  <img src="/images/loader/loader.gif" class="postFileLoad pull-left display" style="margin-left: 5px;margin-top:6px;"/> -->
               </div>
            </form>
        <textarea placeholder="Reply..." class="fl-input-replyMsg fl-replyMsg_conversation" data-id="" style="" data-get-file="imagePost" data-location="messageUpload" data-file="imagePreviewUpload"></textarea>
        </div>
      </div><!-- end of no conversation -->
        <div id="fl-send-msg-form">
          <h2>New Message</h2><br/>
            <form>
                <label>To:</label>
               <input type="text" id="listRecipient1" class="input-small msgBoxTo" data-tag-id="0" style="margin-left:12px;"><Br/>
               <label>Title:</label>
               <input type="text" id="title" class="input-small"><Br/>
               <textarea id="msgBox" style="margin-left:37px;"></textarea>
                <form id="postFile" method="post" enctype="multipart/form-data" action='/ajax/uploadFile'>
               <div class="postActions fl-post-action">
                  <div id="uniform-fileInput" class="uploader  fl-file-upload">
                     <input type="file" data-action-id="2" value="upload"
                        name="postFile" id="uploadForm" size="24" data-get-file="imagePost" data-show="imagePreviewUpload" data-form="postFile" data-location="previewImagePostUpload" data-action-type="postFile" style="opacity: 0;" class="postFile">
                     <span id="uploadFilename_2" class="filename">No file selected</span>
                     <span class="action">Choose File</span>
                     <input type="hidden" value="postFileUpload" name="uploadType">
                     <input type="hidden" value="postUpload" name="uploadFolder">
                  </div>
                 <!--  <img src="/images/loader/loader.gif" class="postFileLoad pull-left display" style="margin-left: 5px;margin-top:6px;"/> -->
                  <input type="button" class="btn-blueBtn newMsg" datatitle="title" datamessage="msgBox" datatagid="listRecipient1" value="SEND" data-get-file="imagePost_1" data-location="messageUpload" data-file="imagePreviewUpload_1" style="width: 85px; height: 30px;">
                  <div class="clearfix"></div>
               </div>

            </form>
             <div class="clearfix"></div>
            </form>
        </div>
    </div><!-- end of fl-right -->
      <div class="clearfix"></div>
</div>