
<?php
error_reporting(E_ERROR);

$database = new Database();
$fields   = $database->query("SELECT * FROM gs3_eforms.tbfields WHERE form_id = 742");
?>

<div class="section clearing">

    <div class="column div_1_of_2">
        column 1

        <?php foreach ($fields AS $field): ?>
            <div class="mobile-field">
                <div class="mobile-label">
                    <?= $field["data_field_label"] ?>
                </div>
                <div class="mobile-field">
                    <input type="text">
                </div>
            </div>
        <?php endforeach; ?>
    </div>

    <div class="column div_1_of_2">
        column 2
    </div>

</div>
