<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['my-requests'] == "1") {
    ?>



    <?php
    /* For user login if wrong redirect to index/login */
    if ($_SERVER['REQUEST_METHOD'] == "POST") {
        if (!$login) {
            ?>
            <script type="text/javascript">
                showNotification({
                    message: "Invalid username & Password, Try to login again.",
                    type: "error",
                    autoClose: true,
                    duration: 2
                });
            </script>
            <?php
        }
    }
    ?>
    <div class='fl-list-of-app-record-wrapper'>
        <div class="fl-option-toolbar">
    
            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-my-request"></use>
                    </svg>
                   My Requests
                </h1>
            </div>
            <div class="fl-toolbar-right-wrapper">

                <div class="fl-search-wrapper fl-my-request-search">
                    <select class="fl-input-select searchMyRequestLimitPerPage" id="">
                        <option value="10">Show Entries</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    <input type="text"  placeholder="Search your request.." class="" id="txtSearchMyRequestDatatable" > 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchMyRequestDatatable" style="">
                </div>
                <div class="fl-toolbar-icon-wrap">
                    <i id="swicthingreq" class="fa fa-toggle-off tip" data-original-title="Switch to Calendar View" data-placement="left" view="table-view"></i>
                </div> 
            </div>
            <div class="clearfix"></div>
        </div><!-- end of option toolbar -->
        <div class="fl-table-wrapper">
            <div class="fl-datatable-wrapper">
                <table class="display_data dataTable"  id="loadMyRequestTable">
                    <thead class="fl-header-tbl-wrapper">
                        <tr>
                            <th field_name="form_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Form Name</div></div></th>
                    <th field_name="TrackNo"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Tracking Number</div></div></th>
                    <th field_name="Status"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                    <th field_name="DateCreated"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Created</div></div></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div><!-- end of table-->
        <div class="dataTable_widget"></div>
        <div id="fl-reqcalendar">
        </div><!-- end of full calendar -->
    </div>

<?php } else {
    $this->setInclude('error');
} ?>