<style type="text/css">
<?php
for ($i=0; $i <100 ; $i++) { 
    ?>
    .nav-menu-placeholder-<?= $i; ?>{
        margin-left: <?= $i*30; ?>px;
    }
    .nav-menu-placeholder-<?= $i; ?> .to-transfer{
        margin-left: -<?= $i*30; ?>px;
    }
    <?php
}
?>
</style>



<?php
$db = new Database();
$auth = Auth::getAuth('current_user');
$userID = $auth['id'];
$company_id = $auth['company_id'];
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);

$navigation = new Navigation();
$getNav = $navigation->getActiveNav();
$action = "saveNavigation";
if(count($getNav)==0){
    $action = "addNavigation";
}
// $ret = "<ul>";
// $ctrOpen = 0;
// foreach ($getNav as $key => $value) {
//     $address = $value['address'];
//     if($getNav[$key+1]['address']){
//         $nextAddress = $getNav[$key+1]['address'];   
//     }else{
//         $nextAddress = 0;
//     }
    

//     if($nextAddress>$address){
//         $ret .= "<li>";
//         $ret .= "<a>$address</a>";
//         $ret .= "<ul>{";
//         // $ctrOpen+=1;
//     }else if($nextAddress==$address){
//         $ret .= "<li><a>$address</a></li>";
//     }else{
//         $ret .= "<li><a>$address</a></li>";
//         for($b=$nextAddress;$b<$address;$b++){
//             $ret .= "</li>";
//             $ret .= "</ul>}";
//         }
        
//         // $ctrOpen = 0;
//     }
// }
// $ret.="</ul>";
// echo $ret;
// return false;

$displayNoNav = "";
if(count($getNav)>0){
    $displayNoNav = "display";
}
// if ($mod['administer']['position_settings'] == "1") {
// if (ERP_MODULES_VISIBILITY == "1") {
    ?>

   

    <div class="fl-list-of-app-record-wrapper">
        <div class="fl-option-toolbar">

            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-navigation-settings"></use>
                    </svg>
                    Navigation Settings</h1>
            </div>
            <!--<div class="fl-toolbar-right-wrapper">-->
            <!--  <div class="fl-default-page-wrapper">-->
            <!--    <label>-->
            <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
            <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
            <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
            <!--    </label>-->
            <!--  </div>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
        <?php //include 'layout/adminbar.php'; ?>
        <div class="section clearing nav-menu-container">
            <div class="column div_1_of_2">
                <div class="fl-option-toolbar">
                    <div class="fl-toolbar-left-wrapper">
                        <div class="widget-icon-wrapper">
                            <span class="icon custom-widget"></span><span class="widget-title">Navigation List<a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span>
                        </div>
                    </div>
                    <div class="fl-toolbar-right-wrapper">
                        <ul class="fl-standard-btn">
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-createNew">New Navigation</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- <div class="widget-icon-wrapper">
                        <span class="icon custom-widget"></span><span class="widget-title">Menu Preview<a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span>
                    </div> -->
                </div><!-- END OF HEADER WIDGET -->
                <div class="fl-widget-wrapper-scroll fl-scroll-overflow" style=""> 
                    <div class="fl-inner-content">
                        <div class="fl-list-of-app-record-wrapper">
                            <div class="fl-option-toolbar"></div>
                            <div class="fl-datatable-wrapper"> 
                                <table class="display_data dataTable_nav fl-report-list">
                                    <thead class="fl-header-tbl-wrapper">
                                        <tr>
                                            <th><div class='fl-table-ellip'></div></th>
                                            <th style='' field_name=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Title</div></div></th>
                                            <th style='' field_name=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Description</div></div></th>
                                            <th style='' field_name=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>  
                            <div class="dataTable_widget"></div>  
                        </div>
                    </div>
                </div>
            </div>
            <?php  $savedHeight = json_decode($getNav[0]['nav_json_data'],true);
                $savedHeight = $savedHeight[0]['height'];
                $saveHeightNumber = (int) preg_replace('/px/', '', $savedHeight);
                $linkContainerNewHeight = ($saveHeightNumber - 488 + 441).'px';
            ?>
            <div class="column div_1_of_2 nav-settings-container">
                <div class="fl-option-toolbar">
                    <div class="fl-toolbar-left-wrapper" style="width:60%">
                        <!-- <span class="icon custom-widget"></span><span class="widget-title">Menu Preview<a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span> -->
                        <?php
                           
                            
                            $information = array("Title"=>$getNav[0]['nav_title'],
                                                "Created By"=>$getNav[0]['created_display_name'],
                                                "Created Date"=>$getNav[0]['date_created'],
                                                "Updated By"=>$getNav[0]['updated_display_name'],
                                                "Updated Date"=>$getNav[0]['date_updated']);
                        ?>
                        <div class="widget-icon-wrapper getDetailFn isCursorPointer tip" title="Click to see more details" json="<?= htmlentities(json_encode($information)); ?>">
                            <div class="fl-table-ellip" style="width:100%"><span class="icon custom-widget"></span><span class="widget-title widget-nav-title"><?= $getNav[0]['nav_title'] ?><a href="#" data-original-title="" title=""><strong class="counter fl-counter-dashboard display"></strong></a></span></div>
                        </div>
                    </div>
                    <div class="fl-toolbar-right-wrapper">
                        <ul class="fl-standard-btn">
                            <!-- <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-createNew">Create New</a>
                            </li> -->
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-newEntry">Add Menu</a>
                            </li>
                            <!-- <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-indent">Indent</a>
                            </li>
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-outdent">Outdent</a>
                            </li> -->
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-open-save-dialog" action="<?= $action; ?>" nav-id="<?= $getNav[0]['nav_id'] ?>">Save</a>
                            </li>
                            <li class="fl-buttonEffect">
                                <a style="cursor:pointer" id="nav-reset">Clear All</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- END OF HEADER WIDGET -->
                <div class="fl-search-wrapper fl-ui-search" style="width: 100%;margin: 0px;">
                    <input type="text" placeholder="Search Menu" class="" style="width: 80%;border:1px solid #cfdbe2;" id="searchNextPreviousNav">
                    <ul class="fl-ui-search-button">
                        <li style="float: left;" id="searchPreviousNav"><i class="fa fa-caret-up"></i></li>
                        <li style="float: left;" id="searchNextNav"><i class="fa fa-caret-down"></i></li>
                        <li style="float: left;" id="cancelSearchNav"><i class="fa fa-times"></i></li>
                    </ul>
                </div>
                <div class="fl-widget-wrapper-scroll fl-scroll-overflow" style="min-height: 410px;height:410px;width:100%">
                    <div class="fl-inner-content">
                        
                        <ul class="nav-menu-ul">
                            <?php
                                foreach ($getNav as $value) {
                                    //print_r($value);
                                    echo $navigation->navMenuTemplate($value['address'],$value['data_id'],$value['title'],$value,$value['menu_id']);
                                }
                            ?>
                        </ul>
                        <div class="no-nav <?= $displayNoNav; ?>">Add menu items.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="navInfo display">
    <div id="nav-info-title"><?= $getNav[0]['nav_title'] ?></div>
    <div id="nav-info-desc"><?= $getNav[0]['nav_desc'] ?></div>
</div>
<div class="display nav-menu-li-model">
    <?php
        echo $navigation->navMenuTemplate(0,0,"Title","",0);
    ?>
</div>
<?php
$search = new Search();
$getDepartments = $search->getAllDepartmentV2();
$getPosition = $search->getAllPositionV2();
$getFormGroups = $search->getFormGroups();
$getUsers = $search->getAllUsers(" AND user_level_id != '4'");
$getUsersAdmin = $search->getAllUsers(" AND user_level_id = '2'");

//departments
echo "<div class='departments display'>" . json_encode($getDepartments) . "</div>";

//positions
echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

//groups
echo "<div class='form_group display'>" . json_encode($getFormGroups) . "</div>";
//users
echo "<div class='users display'>" . json_encode($getUsers) . "</div>";

$getForms = json_encode($search->getAllActiveForms());

echo '<div class="company_forms display">' . htmlentities($getForms) . ' </div>';

?>



<?php //} else {
    //$this->setInclude('error');
//} ?>