<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['others']['notification'] == "1") {

?>
<div class="fl-option-toolbar">
     <div class="notifications icon"></div>
    <div class="fl-toolbar-left-wrapper">
      <h1>Notification</h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
        <!-- <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="starred" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
    </div>
     <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
<!-- <script type="text/javascript" src="/js/functions/user_view/starred.js"></script> -->
<div class="fl-starred-wrapper fl-notification-wrapper">
   <div class="starred-notif display" >
   <div class="fl-no-record-found display">
      <h1><i class="fa fa-files-o "></i> No Record Found</h1>
       <!-- for loading congtent -->
          
       <!-- for loading congtent -->
   </div>
   <div class="fl-loading-content display">
      <!-- <div align="center"><img src="/images/icon/loading.gif"></div>
      <p>Loading Content...</p> -->
    </div>
 </div>
  <ul class="notification">
    
      <div class="fl-widget-wrapper-scroll fl-scroll-overflow" style="height:490px;">
        <ul class="noti-only-wrapper">
            <div class="noti-only"></div>
        </ul>  
      </div>
    
     <div class="clearfix"></div>
  </ul> 
  <div class="clearfix"></div>
</div>
<?php }else{ $this->setInclude('error'); }  ?>