<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['organizational_charts']['list_organizational_chart'] == "1") {
    ?>

    <div class="fl-list-of-app-record-wrapper">
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-list-orgchart"></use>
                    </svg>
                    List of Organizational Chart</h1>
            </div>
            <!--<div class="fl-toolbar-right-wrapper">-->
            <!--  <div class="fl-default-page-wrapper">-->
            <!--    <label>-->
            <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
            <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
            <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
            <!--    </label>-->
            <!--  </div>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
        <?php include 'layout/adminbar.php'; ?>
        <div class="fl-main-app-view" style="position:relative">
            <div class="fl-option-toolbar">
                <div class="fl-toolbar-left-wrapper">
                </div>
                <div class="fl-toolbar-right-wrapper">

                    <div class="fl-search-wrapper">

                        <select class="fl-input-select searchOrgchartLimitPerPage" id="">
                            <option value="10">Show Entries</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <input type="text"  placeholder="Search Orgchart" class="" id="txtSearchOrgchartDatatable"> 
                        <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchOrgchartDatatable">
                    </div>
                    <!-- <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
                </div>
                <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-datatable-wrapper"> 
                <table class="display_data dataTable_orgchart" style="">
                    <thead class="fl-header-tbl-wrapper">
                        <tr>
                     <th style='width:85px !important;cursor:auto'><div class='fl-table-ellip'></div></th>
                    <th style='' field_name="title"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Title</div></div></th>
                    <th style='' field_name="description"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Description</div></div></th>
                    <th style='' field_name="status"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                    <th style='' field_name="date"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Created</div></div></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>    
            <div class="dataTable_widget"></div>
        </div>
    </div>

<?php } else {
    $this->setInclude('error');
} ?>