<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['others']['user_org_chart'] == "1"){

?>

<?php
$auth = Auth::getAuth('current_user');
$db = new Database();
$company_id = $auth['company_id'];
$search = new Search();
$orgchart = $search->getActiveOrgchart();
$orgchart_id = $orgchart[0]['id'];
$userCompany = new userQueries();
   $company = $userCompany->getCompany($auth['company_id']);
?>
   <Br/>
<div class="fl-option-toolbar">
    <div class="fl-toolbar-left-wrapper">
      <h1>
      <svg class="icon-svg" viewBox="0 0 100.264 100.597">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-org-chart"></use>
      </svg>
      List of Organizational Chart
    </h1>
       
    </div>   
    <div class="fl-toolbar-right-wrapper">
      <ul class="fl-standard-btn">
        <li class="fl-buttonEffect"><a id="reset-pan" class="btn-basicBtn fl-buttonEffect">Reset Pan</a></li>
        <li class="fl-buttonEffect"><a class="zoom-in btn-basicBtn fl-buttonEffect" custom-data-tooltip="Zoom In"><i class=" fa fa-plus"></i></a></li>
        <li class="fl-buttonEffect"><a class="zoom-out btn-basicBtn fl-buttonEffect" custom-data-tooltip="Zoom Out"><i class=" fa fa-minus"></i></a></li>

        <li id="pan" style="display:none;"><a>Pan</a></li>
        
        <?php
          if($auth['user_level_id']==2){
            ?>
              <li class="fl-buttonEffect"><a  custom-data-tooltip="Edit" href="/user_view/organizational_chart?view_type=edit&id=<?php echo $orgchart_id; ?>" class="btn-basicBtn fl-buttonEffect"><i class="fa fa-pencil-square-o"></i></a></li>
            <?php
          }
        ?>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
<div id="pageContent">
  <div id="positionButtonDiv" class="isDisplayNone">
<p ><span> <img id="zoomInButton" style="width:23px; height:23px;" class="zoomButton" src="/images/themes/zoomIn.png" title="zoom in" alt="zoom in" /> <img id="zoomOutButton"  style="width:23px; height:23px;" class="zoomButton" src="/images/themes/zoomOut.png" title="zoom out" alt="zoom out" /> </span> </p>
<p> <span class="positionButtonSpan">
<name="positionMap" class="positionMapClass">
<area id="topPositionMap" shape="rect" coords="20,0,40,20" title="move up" alt="move up"/>
<area id="leftPositionMap" shape="rect" coords="0,20,20,40" title="move left" alt="move left"/>
<area id="rightPositionMap" shape="rect" coords="40,20,60,40" title="move right" alt="move right"/>
<area id="bottomPositionMap" shape="rect" coords="20,40,40,60" title="move bottom" alt="move bottom"/>
</map>
<!-- <img src="images/themes/position.png" usemap="#positionMap" style="width:23px; height:23px;" /> </span> --> </p>
</div>
<div id="imgContainer" style="position:static !important; overflow: initial !important;">
  <!-- <img id="imageFullScreen" src="images/themes/zoomFullScreen.jpg"/> </div> -->
  <!-- <div style="display:table-cell"> -->
  <div id="imageFullScreen" class="workspace orgchart_ws" style="position:relative;width:2000px;height:200px;border: none;
background: none;">
      <!-- Node -->
   </div>
<!-- </div> -->

</div>
<?php
      
      //$orgchart_id = functions::getMethod_replace($id,"-","+");
      
      // if(isset($id)){
         
         //Get orgchart information and nodes query
        
         
         $orgchart_nodes_array = $db->query("SELECT *, tbo.json as tbo_json FROM tborgchart tbo LEFT JOIN tborgchartobjects tboo
                                     on tbo.id = tboo.orgChart_id 
                                     WHERE tbo.id = {$db->escape($orgchart_id)} and tbo.is_active = 1 AND tbo.is_delete = 0","array");
         if(count($orgchart)==0){
            header("location:/");
         }
         // if($orgchart[0]['']){
         //    // header("location:/");
         // }
         $ws_size = json_decode($orgchart_nodes_array[0]['tbo_json'],true);
         $ws_height = $ws_size['height'];
         $ws_width = $ws_size['width'];
         //node array
         $nodes_json = array();
         //extract nodes and add to array
         foreach($orgchart_nodes_array as $orgchart_nodes){
            $getUserOrgchart = json_decode($orgchart_nodes['json'],true);
            $userID = $getUserOrgchart['orgchart_user_head'][0];

            $getUserData = $db->query("SELECT * FROM tbuser WHERE id = $userID","row");
            // $getUserOrgchart['head_name'] = $getUserData['first_name']." ".$getUserData['last_name'];
            $getUserOrgchart['head_name'] = $getUserData['display_name'];
            $oldPic = $getUserOrgchart['status'];

            if($getUserData['extension']){
              $getUserOrgchart['status'] = $userCompany->avatarPic("tbuser",$userID,"20","20","small","avatar");
            }else{
              $getUserOrgchart['status'] = '<img data-placement="bottom" data-original-title="" src="/js/functions/create_flowchart/adminnodes/avatardefault.jpg" width="20" height="20" class="avatar userAvatar" onerror="this.src='. BROKEN_IMAGE .'" style="width: 100%; height: 100%; padding: 0px;">';
            }

            $getUserOrgchart['orgchart_dept_code'] = $orgchart_nodes['department_code'];
            $getUserOrgchart['orgchart_dept_code_existing'] = $orgchart_nodes['department_code'];
            $getUserOrgchart['orgchart_dept_status'] = 1;
            $getUserOrgchart['orgchart_dept_code_type'] = 1;
            // echo $oldPic." = ".$getUserOrgchart['head_name']."<br />";

            $getUserOrgchart = json_encode($getUserOrgchart);
            array_push($nodes_json,$getUserOrgchart);
         }
         //convert array to json array
         $nodes_json =  htmlspecialchars(json_encode($nodes_json));
         
         //Get orgchart lines query
         $orgchart_lines_array = $db->query("SELECT * FROM tborgchartline 
                                     WHERE orgChart_id = {$db->escape($orgchart_id)}","array");
         $orchart_numrows = $db->query("SELECT * FROM tborgchartline 
                                     WHERE orgChart_id = {$db->escape($orgchart_id)}","numrows");
         if($orchart_numrows>0){
            //echo "1";
         }
         //lines array
         $lines_json = array();
         //extract lines and add to array
         foreach($orgchart_lines_array as $orgchart_lines){
            array_push($lines_json,$orgchart_lines['json']);
         }
         $lines_json = json_encode($lines_json);
            
      // }
      ?>
      <input type="text" class="userLevel display" value="<?php echo $auth['user_level_id']; ?>">
      <div id="orgchart_nodes" class="display"><?php echo $nodes_json; ?></div>
      <div id="orgchart_lines" class="display"><?php echo $lines_json; ?></div>
      <div id="orgchart_height" class="display"><?php echo $ws_height; ?></div>
      <div id="orgchart_width" class="display"><?php echo $ws_width; ?></div>
      
<?php }else{ $this->setInclude('error'); }  ?>