<script src="/js/functions/port/port.js" type="text/javascript"></script>
<?php
$auth = Auth::getAuth('current_user');
$db = new Database();
$company_id = $auth['company_id'];
DEFINE("TBVELCOWORKSPACE","25_tbl_Velco");

$getWorkspace = $db->query("SELECT * FROM tb_workspace WHERE form_table_name ='". TBVELCOWORKSPACE ."'","row");
$getWorkspaceJson = json_decode($getWorkspace['form_json'],true);
?>
<div class="fl-option-toolbar">
    <div class="orgchart icon"></div>
    <div class="fl-toolbar-left-wrapper">
      <h1>Port Yard</h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
        <!-- <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
        <!--<select class="form-select set-view-type">
            <option value="getAvailableSlot">Available Slots</option>
            <option value="getOwnContainer">Own Containers</option>
        </select>-->
        <div class="fl-list-like-bordered" style="border:none;width: 165px;">
            <span>View Legend:</span>
            <div class="fl-right">
               <input type="checkbox" name="allowLegend" id="allowUserView" class="css-yes-no allowLegend" checked="checked">
                   <label for="allowUserView" class="css-label-yes-no"></label>  
            </div>
            <div class="clearfix"></div>		
         </div>
    </div>
    <div class="clearfix"></div>
</div><!-- end of option toolbar -->
<div class="port-container" style="height:<?php echo $getWorkspaceJson['WorkspaceHeight']; ?>;width:<?php echo $getWorkspaceJson['WorkspaceWidth']; ?>;border:1px solid #CCC;position: relative;background: url(/images/themes/workspace.jpg);">
<?php
print_r($getWorkspace['form_content']);
?>
</div>


<!-- Start Legend Div -->

<div class="legend-div" style="z-index:5;height:120px;width:200px;position:fixed;bottom:50px;border:1px solid #B0B0B0;right:50px;background-color:#FFF;box-shadow: 4px 4px 10px #9D9B9B;">
    <div class="legend-div-holder" style="cursor:move;height: 25px;width: 100%;background-color: black;color: white;text-align: center;padding-top: 5px;font-weight:bold">
        <div style="padding-top: 5px;">Legend</div>
    </div>
    <div style="padding:10px;font-size:10px">
        <div class="fl-floatLeft" style="width:75%;margin-bottom:5px">Own Reservation: </div><div class="fl-floatLeft" style="width:20%"><div id="color1" style="background-color:green"></div></div>
        <div class="fl-floatLeft" style="width:75%;margin-bottom:5px">Other Reservation: </div><div class="fl-floatLeft" style="width:20%"><div id="color1" style="background-color:orange"></div></div>
        <div class="fl-floatLeft" style="width:75%;margin-bottom:5px">Open Slot: </div><div class="fl-floatLeft" style="width:20%"><div id="color1" style="background-color:blue"></div></div>
        <div class="fl-floatLeft" style="width:75%;margin-bottom:5px">Full Slot: </div><div class="fl-floatLeft" style="width:20%"><div id="color1" style="background-color:red"></div></div>
    </div>
</div>

<!-- End Legend-->