<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['administer']['position_settings'] == "1") {
    ?>

    <div class="fl-list-of-app-record-wrapper">
    
        <div class="fl-option-toolbar">
           
            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-position-settings"></use>
                    </svg>
                    Position Settings</h1>
            </div>
            <!--<div class="fl-toolbar-right-wrapper">-->
            <!--  <div class="fl-default-page-wrapper">-->
            <!--    <label>-->
            <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
            <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
            <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
            <!--    </label>-->
            <!--  </div>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
        <?php include 'layout/adminbar.php'; ?>
        <div class="fl-main-app-view" style="position:relative">
            <div class="fl-option-toolbar">
                <div class="fl-toolbar-left-wrapper">
                    <ul class="fl-standard-btn">
                        <li class="fl-buttonEffect">
                            <a href="#" class="addPositionModal">Add Position</a>
                        </li>
                        <li class="fl-buttonEffect">
                            <a href="#" class="batchPosUpload">Batch Position Upload</a>
                        </li> <!-- BATCH POSITION BUTTON -->
                    </ul>
                </div>
                <div class="fl-toolbar-right-wrapper">

                    <div class="fl-search-wrapper">
                        <select class="fl-input-select searchPositionsLimitPerPage" id="">
                            <option value="10">Show Entries</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <input type="text"  placeholder="Search Position" id="txtSearchPositionDatatable"> 
                        <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchPositionDatatable">
                    </div>
                    <!-- div class="fl-search-wrapper" style="width:370px;">
              
                            <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable" style="float:right;"> 
                        <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
                    </div>
                    <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
                </div>
                <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <!-- <div style="padding: 5px;float: right;">
                 <form action="/ajax/position" id="batchPositionUpload" method="POST" enctype="multipart/form-data">
                                 <label for="file">Batch Position Upload:</label>
                                 <input type="file" name="csv" id="file" multiple/>
                                 <input type="hidden" name="action" value="batch"/> 
                                 <input type="submit" value="Submit" />
                   </form> 
          </div>-->
            <div class="fl-datatable-wrapper">   
                <table class="table_data display_data dataTable"  id="loadPosition">
                    <thead class="fl-header-tbl-wrapper">
                        <tr>
                            <th style='width:20% !important;' field_name="position"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Position Name</div></div></th>
                    <th style='width:20% !important;' field_name="position"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Description</div></div></th>
                    <th style='width:13% !important;' field_name="createdBy"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Created By</div></div></th>
                    <th style='width:12% !important;' field_name="createdDate"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Created</div></div></th>
                    <th style='width:13% !important;' field_name="updatedBy"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Updated By</div></div></th>
                    <th style='width:12% !important;' field_name="updatedDate"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Updated</div></div></th>
                    <th style='width:5% !important;cursor: auto !important;'>Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>  
            <div class="dataTable_widget"></div>
        </div>
    </div>
    <?php
// $search = new Search();
// $auth = Auth::getAuth('current_user');
// //get departments
// $getAllDepartment = $search->getAllDepartmentV2();
// echo "<div class='departments display'>" . json_encode($getAllDepartment) . "</div>";
// //get positions
// $getPosition = $search->getAllPositionV2();
// echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";
// //get users
// $getUsers = $search->getAllUsers("");
// echo "<div class='users display'>" . json_encode($getUsers) . "</div>";
// $getAdmin = $search->getAllUsers("AND user_level_id = 2 AND id != '". $auth['id'] ."'");
// echo "<div class='users-admin display'>" . json_encode($getAdmin) . "</div>";
// //get available logo
// echo "<div class='categoryLogo display'>".json_encode((upload::getAllfiles_fromDirectory("images/icon/app-logo")))."</div>";
    ?>

<?php } else {
    $this->setInclude('error');
} ?>