<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);

if ($mod['print_form'] == "1") {
    ?>


    <div class="fl-list-of-app-record-wrapper">
  
        <div class="fl-option-toolbar">
           
            <div class="fl-toolbar-left-wrapper">
                <h1> 
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-print-form"></use>
                    </svg>
                    List of Print Forms</h1>
            </div>
            <!--<div class="fl-toolbar-right-wrapper">-->
            <!--  <div class="fl-default-page-wrapper">-->
            <!--    <label>-->
            <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
            <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
            <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
            <!--    </label>-->
            <!--  </div>-->
            <!--</div>-->
            <div class="clearfix"></div>
        </div>
        <?php include 'layout/adminbar.php'; ?>
        <div class="fl-main-app-view" style="position: relative">
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">	        
            </div>
            <div class="fl-toolbar-right-wrapper">

                <div class="fl-search-wrapper">
                    <select class="fl-input-select searchPrintFormLimitPerPage" id="">
                        <option value="10">Show Entries</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    <input type="text"  placeholder="Search Form" class="" id="txtSearchCustomReportDatatable" style="float:right;"> 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchCustomReportDatatable">
                </div>
                <!--  <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
            </div>
            <div class="clearfix"></div>
        </div><!-- end of option toolbar -->

        <script type="text/javascript" src="/js/functions/user_view/getData.js"></script>
        <div class="fl-datatable-wrapper">
            <table class="display_data dataTable_custom_report" style="">
                <thead class="fl-header-tbl-wrapper">
                    <tr>
                        <th style='width:70px !important;'><div class='fl-table-ellip'></div></th>
                <th field_name="form_name" style=''><div class='fl-table-ellip'><div class='sortable-image fl-module-tbl-arrow'></div> Title</div></th>
                <th field_name="form_description" style=''><div class='fl-table-ellip'><div class='sortable-image fl-module-tbl-arrow'></div> Description</div></th>
                <th field_name="is_active" style=''><div class='fl-table-ellip'><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></th>
                <th field_name="date_created" style=''><div class='fl-table-ellip'><div class='sortable-image fl-module-tbl-arrow'></div> Date Created</div></th>
                <th field_name="date_updated" style=''><div class='fl-table-ellip'><div class='sortable-image fl-module-tbl-arrow'></div> Date Updated</div></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="dataTable_widget"></div>
    </div>
    </div>
<?php } else {
    $this->setInclude('error');
} ?>