<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['reports']['create_reports'] == "1" || $_GET["id"] != 0) {
    ?>

    <?php
    $auth = Auth::getAuth('current_user');
    $db = new Database();
    $userCompany = new userQueries();
    $company = $userCompany->getCompany($auth['company_id']);
    $report_id = $_GET['id'];
    $form_id = $_GET['form_id'];
    $search = new search();
    $newForm = new Form($db, $form_id);
    $reportDoc = new Report($db, $report_id);
    ?>
    <script type="text/javascript" src="/js/functions/report/report.js"></script>
    <div class="fl-create-reports-wrapper">
        <?php 
            $workspace_control = "";
            if (WORKSPACE_CONTROL == 'default' || WORKSPACE_CONTROL == 'default-light' || WORKSPACE_CONTROL == 'default-dark') {
                $workspace_control = "default";
                if(WORKSPACE_CONTROL == 'default-light'){
                    $workspace_control_var = "default-theme-light";
                }else if(WORKSPACE_CONTROL == 'default-dark'){
                    $workspace_control_var = "default-theme-dark";
                }
            }else {
                $workspace_control = WORKSPACE_CONTROL;
            }

            include_once 'layout/form_controls['.$workspace_control.'].php'; 
         ?>
        <div class="contentBar_workspace fl-workspace2-wrapper">
            <div class="fl-workspace-wrapper">
                <!-- <div class="fl-option-toolbar">
                    <div class="fl-toolbar-left-wrapper">
                        <i class="fa fa-bar-chart-o"></i> <span>Dynamic Test Report</span>
                    </div>
                    <div class="fl-toolbar-right-wrapper">
                        <ul class="fl-breadcrums">
                            <li><a href="/"><div class="home icon"></div> <i class="fa fa-caret-right"></i></a></li> 
                            <li><a href="/user_view/organizational_chart">Organizational Chart <i class="fa fa-caret-right"></i></a></li> 
                            <li><a href="/user_view/formbuilder">Form Builder <i class="fa fa-caret-right"></i></a></li> 
                            <li><a href="/user_view/workflow">Workflow</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="fl-datatable-wrapper">
                <div class="padding_5">
                    <div class="workspacev2 report_ws" style="width:100% !important">
                        <!-- Node -->
                        <div class="fields_below">
                            <!-- <div class="label_below">Parameters: </div> -->
                            <div class="fl-option-toolbar">
                                <div class="fl-toolbar-left-wrapper"><span class="widget-title"><i class="fa fa-sliders"></i>  Parameter</span></div>
                                <div class="fl-toolbar-right-wrapper"></div>
                                <div class="clearfix"></div>
                            </div>
                            <input type="text" class="display" id="active_fields" value="<?php echo $newForm->active_fields; ?>">
                            <!-- <input type="button" class="btn-blueBtn fl-add-parameter-btn" action="append_parameter" value="Add Parameter"> -->
                            <div class="input_position_below fl-add-param">
                                <div style="height: auto; margin-bottom:20px; width: 100%;">
                                    <table data="data-parameter" class="table_data display_data dataTable">
                                        <thead class="fl-header-tbl-wrapper">
                                            <tr>        
                                                <th>Label</th>
                                                <th>Field Name</th>
                                                <th>Operator</th>
                                                <th>Type</th>
                                                <th>Action</th>                                        
                                            </tr>
                                        </thead>
                                        <?php
                                        if ($reportDoc->id == 0) {
                                            //new report
                                            ?>
                                            <tr data-type="tr_parameters">
                                                <td style="vertical-align: top;"><input type="text" column="label" class="form-text"/></td>
                                                <td style="vertical-align: top;">
                                                    <label><input class="css-checkbox radio_fieldname" value="static" type="radio" checked="checked" name="radio_fieldname" id="fieldname_static" /><label for="fieldname_static" class="css-label"></label>Static </label>
                                                    <label><input class="css-checkbox radio_fieldname" value="computed" type="radio" name="radio_fieldname" id="fieldname_computed" /><label for="fieldname_computed" class="css-label"></label>Computed </label>
                                                    <select column="field" class="form-select">
                                                        <?php
                                                        $reserved_fiels = array(
                                                            "TrackNo",
                                                            "Requestor",
                                                            "Processor",
                                                            "Status"
                                                        );

                                                        $fields = explode(",", $newForm->active_fields);
                                                        $fields = array_merge($fields, $reserved_fiels);
                                                        natcasesort($fields);
                                                        foreach ($fields as $key => $value) {
                                                            ?>
                                                            <option  value="<?php echo $value; ?>">
                                                                <?php
                                                                echo $value;
                                                                ?>
                                                            </option>
                                                            <?php
                                                        }
                                                        ?>
                                                    </select>
                                                    <textarea class="fieldname_formula form-textarea obj_prop fl-remove-margin-top display" id="fieldname_formula" data-ide-properties-type="ide-report-fieldname"  style="resize:vertical; margin-bottom:10px;"></textarea>
                                                </td>
                                                <td style="vertical-align: top;">
                                                    <select column="operator" class="form-select">
                                                        <option value="=">Equal (==)</option>
                                                        <option value="<=">Less than equal (<=)</option>
                                                        <option value=">=">Greater than equal (>=)</option>
                                                        <option value=">">Greater than(>)</option>
                                                        <option value="<">Less than (<)</option>
                                                        <option value="!=">Not equal(!=)</option>
                                                        <option value="%">Contains(%)</option>
                                                        <option value="!%">Not Contains(!    %)</option>
                                                    </select>
                                                </td>
                                                <td style="vertical-align: top;">
                                                    <label><input class="css-checkbox type_radio" value="freetext" type="radio" checked="checked" name="type_radio" id="type_freetext" /><label for="type_freetext" class="css-label"></label>Free Text </label>
                                                    <label><input class="css-checkbox type_radio" value="computed" type="radio" name="type_radio" id="type_computed" /><label for="type_computed" class="css-label"></label>Computed </label>
                                                    <textarea class="type_formula form-textarea obj_prop fl-remove-margin-top display" id="type_formula" data-ide-properties-type="ide-report-fieldtype"  style="resize:vertical; margin-bottom:10px;"></textarea>
                                                </td>
                                                <td style="text-align: center;">
                                                    <div class="icon-trash fa fa-trash-o cursor deleteParameter" style="margin-left: auto;margin-right: auto" data-type="deactivate" data-user-id="1" data-original-title="Delete" ></div>
                                                    <div class="icon-trash fa fa-arrows cursor parameter_handle" style="margin-left: auto;margin-right: auto" data-original-title="Sort Parameters"></div>
                                                </td>
                                            </tr>   
                                            <?php
                                        } else {
                                            $parameter_arr = json_decode($reportDoc->parameters, true);
                                            foreach ($parameter_arr as $ctr => $parameter) {
                                                if ($parameter["RadioField"] == "computed") {
                                                    $radio_field_static = "";
                                                    $radio_field_computed = 'checked="checked"';
                                                    $field_select = "display";
                                                    $field_formula = "";
                                                } else {
                                                    $radio_field_static = 'checked="checked"';
                                                    $radio_field_computed = "";
                                                    $field_select = "";
                                                    $field_formula = "display";
                                                }

                                                if ($parameter["Type"] == "computed") {
                                                    $radio_type_static = "";
                                                    $radio_type_computed = 'checked="checked"';
                                                    $type_formula = "";
                                                } else {
                                                    $radio_type_static = 'checked="checked"';
                                                    $radio_type_computed = "";
                                                    $type_formula = "display";
                                                }
                                                ?>
                                                <tr data-type="tr_parameters">
                                                    <td style="vertical-align: top;"><input type="text" column="label" value="<?php echo $parameter['Column']; ?>" class="form-text"/></td>
                                                    <td style="vertical-align: top;">
                                                        <label><input class="css-checkbox radio_fieldname" value="static" type="radio" <?php echo $radio_field_static; ?> name="radio_fieldname_<?php echo $ctr; ?>" id="fieldname_static_<?php echo $ctr; ?>" /><label for="fieldname_static_<?php echo $ctr; ?>" class="css-label"></label>Static </label>
                                                        <label><input class="css-checkbox radio_fieldname" value="computed" type="radio" <?php echo $radio_field_computed; ?> name="radio_fieldname_<?php echo $ctr; ?>" id="fieldname_computed_<?php echo $ctr; ?>" /><label for="fieldname_computed_<?php echo $ctr; ?>" class="css-label"></label>Computed </label>
                                                        <select column="field" class="form-select <?php echo $field_select; ?>">
                                                            <?php
                                                            $reserved_fiels = array(
                                                                "TrackNo",
                                                                "Requestor",
                                                                "Processor",
                                                                "Status"
                                                            );

                                                            $fields = explode(",", $newForm->active_fields);
                                                            $fields = array_merge($fields, $reserved_fiels);
                                                            natcasesort($fields);
                                                            foreach ($fields as $key => $value) {
                                                                ?>
                                                                <option  value="<?php echo $value; ?>"
                                                                <?php
                                                                if ($parameter['Field'] == $value) {
                                                                    echo 'selected';
                                                                }
                                                                ?>
                                                                         >
                                                                             <?php
                                                                             echo $value;
                                                                             ?>
                                                                </option>
                                                                <?php
                                                            }
                                                            ?>
                                                        </select>
                                                        <textarea class="fieldname_formula form-textarea obj_prop fl-remove-margin-top <?php echo $field_formula; ?>" id="fieldname_formula" data-ide-properties-type="ide-report-fieldname"  style="resize:vertical; margin-bottom:10px;"><?php echo $parameter["FieldFormula"]; ?></textarea>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <select column="operator" class="form-select">
                                                            <?php
                                                            if ($parameter['Operator'] == '=') {
                                                                ?>
                                                                <option value="=" selected>Equal (==)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value="=">Equal (==)</option>
                                                                <?php
                                                            }

                                                            if ($parameter['Operator'] == '<=') {
                                                                ?>
                                                                <option value="<=" selected>Less than equal (<=)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value="<=">Less than equal (<=)</option>
                                                                <?php
                                                            }

                                                            if ($parameter['Operator'] == '>=') {
                                                                ?>
                                                                <option value=">=" selected>Greater than equal (>=)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value=">=">Greater than equal (>=)</option>
                                                                <?php
                                                            }

                                                            if ($parameter['Operator'] == '>') {
                                                                ?>
                                                                <option value=">" selected>Greater than(>)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value=">">Greater than(>)</option>
                                                                <?php
                                                            }

                                                            if ($parameter['Operator'] == '<') {
                                                                ?>
                                                                <option value="<" selected>Less than (<)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value="<">Less than (<)</option>
                                                                <?php
                                                            }

                                                            if ($parameter['Operator'] == '!=') {
                                                                ?>
                                                                <option value="!=" selected>Not equal(!=)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value="!=">Not equal(!=)</option>
                                                                <?php
                                                            }

                                                            if ($parameter['Operator'] == '%') {
                                                                ?>
                                                                <option value="%" selected>Contains(%)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value="%">Contains(%)</option>
                                                                <?php
                                                            }
                                                            if ($parameter['Operator'] == '!%') {
                                                                ?>
                                                                <option value="!%" selected>Not Contains(!%)</option>
                                                                <?php
                                                            } else {
                                                                ?>
                                                                <option value="!%">Not Contains(!%)</option>
                                                                <?php
                                                            }
                                                            ?>
                                                        </select>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <label><input class="css-checkbox type_radio" value="freetext" type="radio" <?php echo $radio_type_static; ?> name="type_radio_<?php echo $ctr; ?>" id="type_freetext_<?php echo $ctr; ?>" /><label for="type_freetext_<?php echo $ctr; ?>" class="css-label"></label>Free Text </label>
                                                        <label><input class="css-checkbox type_radio" value="computed" type="radio" <?php echo $radio_type_computed; ?> name="type_radio_<?php echo $ctr; ?>" id="type_computed_<?php echo $ctr; ?>" /><label for="type_computed_<?php echo $ctr; ?>" class="css-label"></label>Computed </label>
                                                        <textarea class="type_formula form-textarea obj_prop fl-remove-margin-top <?php echo $type_formula; ?>" id="type_formula_<?php echo $ctr; ?>" data-ide-properties-type="ide-report-fieldtype"  style="resize:vertical; margin-bottom:10px;"><?php echo $parameter["TypeFormula"]; ?></textarea>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <div class="icon-trash fa fa-trash-o cursor deleteParameter" style="margin-left: auto;margin-right: auto" data-type="deactivate" data-user-id="1" data-original-title="Delete" ></div>
                                                        <div class="icon-trash fa fa-arrows cursor parameter_handle" style="margin-left: auto;margin-right: auto" data-original-title="Sort Parameters"></div>
                                                    </td>
                                                </tr>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="fields_below">

                            <div class="fl-option-toolbar">
                                <div class="fl-toolbar-left-wrapper"><span class="widget-title"><i class="fa fa-columns"></i>  Columns <span style="color:red; font-size:11px;">You can sort column headers via drag and drop.</span></span></div>
                                <div class="fl-toolbar-right-wrapper"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="fl-datatable-wrapper">
                                <div class="dataTables_wrapper">
                                    <ul id="report_columns" class="sortableRow">
                                    </ul>
<!--                                     <table id="report_columns" class="display_data dataTable">
                                        <thead>
                                            <tr >
                                            </tr>
                                        </thead>
                                    </table>-->
                                </div>
                            </div>
                            <!-- <input type="button" class="btn-blueBtn fl-add-parameter-btn" action="add_column" value="Add Column"> -->      
<!--                            <div class="input_position_below" style="float:left">
                                <div style="height: 70px; margin-bottom:20px;  border: 1px Solid #ccc;overflow: auto;">
                                    <table id="report_columns" class="table_data" style="table-layout: fixed">
                                        <thead>
                                            <tr class="sortableRow">
                                            </tr>
                                        </thead>
                                    </table>
                                </div> width: 99%; 
                            </div>-->
                            <div class="clearfix"></div>
                        </div>
                        <div class="fields_below">
                            <div class="fl-option-toolbar">
                                <div class="fl-toolbar-left-wrapper"><span class="widget-title"><i class="fa fa-area-chart"></i>  Chart Settings </span></div>
                                <div class="fl-toolbar-right-wrapper">
                                    <?php
                                    if ($reportDoc->id == 0) {
                                        $y_axis_max = 10;
                                        $y_axis_min = 0;
                                        $y_axis_interval = 1;
                                    } else {
                                        $y_axis_max = $reportDoc->yaxis_max;
                                        $y_axis_min = $reportDoc->yaxis_min;
                                        $y_axis_interval = $reportDoc->yaxis_interval;
                                    }
                                    ?>
                                    <div class="fL">
                                        <div style="width:150px;">
                                            <label style="font-size:11px; line-height:30px;">Y-Axis Max:</label>
                                            <input style="width:10px;" class="form-text" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="<?php echo $y_axis_max; ?>" name="yAxisMax" id="yAxisMax"/>
                                        </div>
                                    </div>
                                    <div class="fL">
                                        <div style="width:150px;">
                                            <label style="font-size:11px; line-height:30px;">Y-Axis Min:</label>
                                            <input style="width:10px;" class="form-text" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="<?php echo $y_axis_min; ?>"  name="yAxisMin" id="yAxisMin"/>
                                        </div>
                                    </div>
                                    <div class="fL">
                                        <div style="width:160px;">
                                            <label style="font-size:11px; line-height:30px;">Y-Axis Interval:</label>
                                            <input style="width:10px;" class="form-text" type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="<?php echo $y_axis_interval; ?>"  name="yAxisInterval" id="yAxisInterval"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- <input type="button" class="btn-blueBtn fl-add-parameter-btn" action="add_plot_bond" value="Add Plot Band">  -->
                            <div class="input_position_below">
                                <div style="height: 100%; margin-bottom:20px; width: 100%;">
                                    <table id="report_chartPlotBands" class="table_data display_data dataTable" width="400px">
                                        <tr>
                                        <thead class="fl-header-tbl-wrapper">
                                        <th style="border-bottom: 1px solid #D6D6D6  !important;">Name</th>
                                        <th style="border-bottom: 1px solid #D6D6D6  !important;">From Type</th>
                                        <th style="border-bottom: 1px solid #D6D6D6  !important;">From</th>
                                        <th style="border-bottom: 1px solid #D6D6D6  !important;">To Type</th>
                                        <th style="border-bottom: 1px solid #D6D6D6  !important;">To</th>
                                        <th style="border-bottom: 1px solid #D6D6D6  !important;">Color</th>
                                        <th style="border-bottom: 1px solid #D6D6D6 !important;">Action</th>
                                        </thead>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="report_id" class="display" type="text" value="<?php echo $report_id ?>" />
                    <input id="form_id" class="display" type="text" value="<?php echo $form_id ?>" />
                    <input id="parameters" class="display" type="text" value='<?php echo $reportDoc->parameters ?>' />
                    <input id="columns" class="display" type="text" value='<?php echo $reportDoc->columns ?>' />
                    <input id="report_title" class="display" type="text" value='<?php echo $reportDoc->title ?>' />
                    <input id="report_description" class="display" type="text" value='<?php echo $reportDoc->description ?>' />
                    <div id="column-data" class="display">
                        <?php echo htmlentities($reportDoc->columns) ?>
                    </div>
                    <div id="plot-bands-data" class="display">
                        <?php echo $reportDoc->plotbands ?>
                    </div>
                    <div id="parameter-data" class="display">
                        <?php echo $reportDoc->parameters ?>
                    </div>
                </div>
            </div>	
        </div>


        <?php
        //user
        $queryGetFormUsers = "SELECT * FROM tbform_users fu WHERE  fu.form_id = '$form_id'";
        $getFormUsers = $db->query($queryGetFormUsers . " AND fu.action_type = 3", "array");
        $formUsers = compressToOldJsonFormat($getFormUsers);

        //report access
        $queryGetReportUsers = "SELECT * FROM tbreport_users fu WHERE  fu.report_id = '$report_id'";
        $getGetReportUsers = $db->query($queryGetReportUsers . " AND fu.action_type = 0", "array");
        $formReportUsers = compressToOldJsonFormat($getGetReportUsers);



        echo "<div class='form-report-users display'>" . $formReportUsers . "</div>";
        echo "<div class='form-user-accessor display'>" . $formUsers . "</div>";

        $category_id = $newForm->category_id;
        if ($newForm->category_id != 0) {
            //get departments
            $querydepartments = "select * FROM vwget_form_category_departments WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id GROUP BY user";


            $getDepartments = $db->query($querydepartments, "array");
            //get positions
            $querypositions = "select * FROM vwgetform_category_positions WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id GROUP BY position";
            $getPosition = $db->query($querypositions, "array");
            //get groups
            $queryGroups = "select * FROM vwgetform_category_groups WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id GROUP BY group_name";
            $getFormGroups = $db->query($queryGroups, "array");

            //get users
            $queryusers = "select * FROM vwgetform_category_users WHERE company_id = '" . $auth['company_id'] . "' AND form_category_id = $category_id";
            $getUsers = $db->query($queryusers . " AND access_type = 2", "array");
            //get admin of form category
            $getUsersAdmin = $db->query($queryusers . " AND access_type = 1 AND id!='" . $auth['id'] . "' AND user_level_id = 2", "array");
        } else {
            $getDepartments = $search->getAllDepartmentV2();
            $getPosition = $search->getAllPositionV2();
            $getFormGroups = $search->getFormGroups();
            $getUsers = $search->getAllUsers("");
            $getUsersAdmin = $search->getAllUsers(" AND user_level_id = '2'");
        }

        //departments
        echo "<div class='departments display'>" . json_encode($getDepartments) . "</div>";

        //positions
        echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

        //groups
        echo "<div class='form_group display'>" . json_encode($getFormGroups) . "</div>";
        //users
        echo "<div class='users display'>" . json_encode($getUsers) . "</div>";
    } else {
        $this->setInclude('error');
    }
    ?>