<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['reports']['list_reports'] == "1") {
    ?>
<div class="fl-list-of-app-record-wrapper">
    <Br/>
    <div class="fl-option-toolbar">
        <div class="reports icon"></div>
        <div class="fl-toolbar-left-wrapper">
            <h1>List of Reports</h1>
        </div>
        <!--<div class="fl-toolbar-right-wrapper">-->
        <!--  <div class="fl-default-page-wrapper">-->
        <!--    <label>-->
        <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
        <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
        <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
        <!--    </label>-->
        <!--  </div>-->
        <!--</div>-->
        <div class="clearfix"></div>
    </div>
    <Br/><Br/>
    <div class="fl-option-toolbar">
        <div class="fl-toolbar-left-wrapper">
        </div>
        <div class="fl-toolbar-right-wrapper">
            <div class="fl-search-wrapper">
                <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable"> 
                <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
            </div>
            <!-- <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
        </div>
        <div class="clearfix"></div>
    </div><!-- end of option toolbar -->
    <script type="text/javascript" src="/js/functions/user_view/getData.js"></script>
    <div class="fl-datatable-wrapper"> 
        <table class="display_data dataTable_report fl-report-list" style="">
            <thead class="fl-header-tbl-wrapper">
                <tr>
                    <th><div class='fl-table-ellip'></div></th>
            <th style='' field_name="title"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Title</div></div></th>
            <th style='' field_name="is_active"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Supported Form</div></div></th>
            <th style='' field_name="is_active"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Status</div></div></th>
            <th style='' field_name="date_created"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Date Created</div></div></th>
            <th style='' field_name="date_updated"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Date Updated</div></div></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="dataTable_widget"></div>  
    </div>
</div>
<?php

 } else {
        $this->setInclude('error');
    }
    ?>