<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['administer']['rule_settings'] == "1"){

?>
<link rel="stylesheet" href="/css/jquery-ui.css" />
<div class="fl-list-of-app-record-wrapper">
  <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
          <h1>
            <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-rule-settings"></use>
            </svg>
            Rule Settings 
          </h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <?php include 'layout/adminbar.php';?>
   <div class="fl-main-app-view" style="position:relative">
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
            <!-- <input type="button" class="btn-blueBtn create-new-rule" value="Add Rule" style="width:auto"> -->
            <ul class="fl-standard-btn">
                <li class="fl-buttonEffect create-new-rule">
                    <a class="primary-btn">Add Rule</a>
                </li>
            </ul>
            </div>
            <div class="fl-toolbar-right-wrapper">
              
            <div class="fl-search-wrapper">
                <select class="fl-input-select searchRuleLimitPerPage" id="" >
                  <option value="10">Show Entries</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
              </select>
              <input type="text" placeholder="Search Rule Settings" style="float:right" id="txtSearchRuleDatatable"> 
                  <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchRuleDatatable">
            </div>
                <!-- div class="fl-search-wrapper" style="width:370px;">
              
                    <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable" style="float:right;"> 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
                </div>
                <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
            </div>
            <div class="clearfix"></div>
      </div><!-- end of option toolbar -->
    <div class="fl-datatable-wrapper">  
     <table class="table_data display_data dataTable"  id="loadRuleSettings">
        <thead class="fl-header-tbl-wrapper">
           <tr>
                <th field_name="rulename" style="width:30% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Rule name</div></div></th>
                <th field_name="description" style="width:35% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Description</div></div></th>
                <th field_name="is_active" style="width:25% !important"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                <th field_name="" style="width:10% !important;cursor: auto;"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Actions</div></div></th>
           </tr>
        </thead>
        <tbody></tbody>
     </table>
    </div> 
     <div class="dataTable_widget"></div>
  </div>
</div>
<?php 
    $auth = Auth::getAuth('current_user');
    $db = new Database();
    // $getForms = $db->query("SELECT id,form_name FROM tb_workspace WHERE company_id={$db->escape($auth['company_id'])} AND is_active =1 AND is_delete = 0 ","array");
    // $getForm_properties = $db->query("SELECT * FROM tb_workspace WHERE id={$db->escape($form_id)} AND is_delete = 0 ", "row");
    $search = new Search();

    // $active_fields = functions::getFormFieldsData(" WHERE form_id = '". $form_id ."'");//functions::getFormFields($form_id);
    // $form_columns = array();
    // foreach ($active_fields as $value) {
    //     array_push($form_columns, $value['field_name']);
    // }
    $getForms = json_encode($search->getAllActiveForms());
    //form properties and others
    // echo '<input type="text" class="class form_buttons display" value="' . $getForm_properties['form_buttons'] . '">';
    // echo '<input type="text" class="class form_fields display" value=' . json_encode($form_columns) . ' />';
    echo '<div class="company_forms display">' .htmlentities($getForms) . ' </div>';
    // $getForms = $search->getForms();

    echo '<div class="json-data-forms" style="display:none;">';
        // echo htmlspecialchars(json_encode($getForms));
        echo htmlentities($getForms);
    echo '</div>';

    //get departments
    $getAllDepartment = $search->getAllDepartmentV2();
    echo "<div class='departments display'>" . json_encode($getAllDepartment) . "</div>";

    //get positions
    $getPosition = $search->getAllPositionV2();
    echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

    //get users
    $getUsers = $search->getAllUsers(" AND user_level_id != 4");
    echo "<div class='users display'>" . json_encode($getUsers) . "</div>";

    //get groups
    $getFormGroups = $search->getFormGroups();
    echo "<div class='all_groups display'>" . json_encode($getFormGroups) . "</div>";
?>

<?php }else{ $this->setInclude('error'); }  ?>