<?php
       /* For user login if wrong redirect to index/login */
       if($_SERVER['REQUEST_METHOD'] == "POST")
       {
          if(!$login)
          {
            ?>
            <script type="text/javascript">
               showNotification({
                            message: "Invalid username & Password, Try to login again.",
                            type: "error",
                            autoClose: true,
                            duration: 2
                        });
            </script>
            <?php
          }
       }
       
   ?>
<br/>   
   <h1>Salesbook</h1>
     <div class="fl-option-toolbar">
    <div class="fl-toolbar-left-wrapper">
      <ul>
        <li><a class="primary-btn" href="#">Create Request</a></li>
        <li><a class="primary-btn" href="#">Import</a></li>
        <li><a class="primary-btn" href="#">Update Print</a></li> 
      </ul>
    </div>
    <div class="fl-toolbar-right-wrapper">
        <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a>
    </div>
    <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
