<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['others']['starred'] == "1"){

?>

<div class="fl-option-toolbar">
     
    <div class="fl-toolbar-left-wrapper">
      <h1>
        <svg class="icon-svg" viewBox="0 0 90 90">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-starred"></use>
      </svg>
        Starred</h1>
    </div>
    <div class="fl-toolbar-right-wrapper">
        <!-- <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="starred" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
    </div>
     <div class="clearfix"></div>
  </div><!-- end of option toolbar -->
<!-- <script type="text/javascript" src="/js/functions/user_view/starred.js"></script> -->
<div class="fl-starred-wrapper">
   <div class="starred-notif display" >
   <div class="fl-no-record-found display">
      <h1><i class="fa fa-files-o "></i> No Record Found</h1>
       <!-- for loading congtent -->
          
       <!-- for loading congtent -->
   </div>
   <div class="fl-loading-content display">
      <!-- <div align="center"><img src="/images/icon/loading.gif"></div>
      <p>Loading Content...</p> -->
    </div>
 </div>
 <div class="fl-starred-scrollhere fl-scroll-overflow">
  <ul class="notification">
    <div class="" style="">
      <div class="fl-starred-wrapper-scroll starred-wrapper2">
          
      </div>
    </div>
     <div class="clearfix"></div>
  </ul> 
  </div>
  <div class="clearfix"></div>
</div>
     <?php
$auth = Auth::getAuth('current_user');
?> 
<input type="text" class="user_level_id display" value="<?php echo $auth['user_level_id']; ?>" />

<?php }else{ $this->setInclude('error'); }  ?>