<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['administer']['suggestion_box_list'] == "1"){

?>

<div class="fl-list-of-app-record-wrapper">

  <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
        <h1>
          <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-suggestions"></use>
            </svg>
          Suggestions</h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
   <?php include 'layout/adminbar.php';?>
<div class="fl-main-app-view" style="position:relative">
  <div class="fl-option-toolbar">
	    <div class="fl-toolbar-left-wrapper">
	      
	    </div>
	    <div class="fl-toolbar-right-wrapper">
        
	    	<div class="fl-search-wrapper">
                    <select class="fl-input-select searchSuggestionLimitPerPage" id="" >
              <option value="10">Show Entries</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
          </select>
		    	<input type="text"  placeholder="Search Suggestion" id="txtSearchSuggestionDatatable"> 
	            <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchSuggestionDatatable">
	    	</div>
	       <!--  <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
	    </div>
      <div class="clearfix"></div>
    </div>
    <div class="fl-datatable-wrapper">
       <table class="table_data display_data dataTable"  id="loadSuggestion">
              <thead class="fl-header-tbl-wrapper">
                 <tr>
                    <th field_name="display_name" style='width:150px !important'><div class='fl-table-ellip'><div><div><div class='sortable-image fl-module-tbl-arrow'></div> Suggested By</div></div></th>
                    <th field_name="title" style='width:150px !important'><div class='fl-table-ellip'><div><div><div class='sortable-image fl-module-tbl-arrow'></div> Subject</div></div></th>
                    <th field_name="message" style='width: 579px !important;'><div class='fl-table-ellip'><div><div><div class='sortable-image fl-module-tbl-arrow'></div> Message</div></div></th>
                    <th field_name="datetime" style='width:150px !important'><div class='fl-table-ellip'><div><div><div class='sortable-image fl-module-tbl-arrow'></div> DateTime</div></div></th>
                    <!-- <th width="50">Action</th> -->
                 </tr>
              </thead>
              <tbody></tbody>
           </table>
     </div>      
           <div class="dataTable_widget"></div>
    </div>
  </div><!-- end of option toolbar -->
 <!-- <table class="fl-suggestions-table">
 	<tr>
 		<th><div class="fl-table-ellip"></div></th>
    <th><div class="fl-table-ellip">Subject</div></th>  
 		<th><div class="fl-table-ellip">Message</div></th>
 		<th><div class="fl-table-ellip">Date Time</div></th>
 		<th><div class="fl-table-ellip">Status</div></th>
 	</tr>
 	<tr>
 		<td>
 			<a href="#"><i class="fa fa-trash-o tip" data-placement="top" data-original-title="Delete"></i></a>
 		</td>
 		<td><div class="fl-table-ellip">data2</div></td>
 		<td><div class="fl-table-ellip">data3</div></td>
 		<td><div class="fl-table-ellip">data4</div></td>
 		<td><div class="fl-table-ellip">data5</div></td>		
 	</tr>
 	<tr>
 		<td>
 		<a href="#"><i class="fa fa-trash-o tip" data-placement="top" data-original-title="Delete"></i></a>
 		</td>
 		<td><div class="fl-table-ellip">data2</div></td>
 		<td><div class="fl-table-ellip">data3</div></td>
 		<td><div class="fl-table-ellip">data4</div></td>
 		<td><div class="fl-table-ellip">data5</div></td>		
 	</tr>
 	<tr>
 		<td>
 			<a href="#"><i class="fa fa-trash-o tip" data-placement="top" data-original-title="Delete"></i></a>
 		</td>
 		<td><div class="fl-table-ellip">data2</div></td>
 		<td><div class="fl-table-ellip">data3</div></td>
 		<td><div class="fl-table-ellip">data4</div></td>
 		<td><div class="fl-table-ellip">data5</div></td>		
 	</tr>
 </table> -->
</div>

<?php }else{ $this->setInclude('error'); }  ?>