<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['others']['take_tour'] == "1"){

?>
   <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
        <h1><label class="tour_title_selected"><p style="font-size: 12px;"><label style="font-weight: bold;">Lets start the tour.</label>
         <font color="red">Click on any of the navigational controls in the panel located to the left.</font></p>
</label></h1>
      </div>
      <div class="fl-toolbar-right-wrapper">
          <!-- <a class="pinit icon dataTip" data-placement="left" data-original-title="Pin this to Dashboard"></a> -->
      </div>
       <div class="clearfix"></div>
    </div>
<form action="javascript:notify('Wizard','Form #wizard submited');" method="POST" id="wizard">
   

   <!--<fieldset title="Step 2">-->
   <!--   <legend>Fields</legend>-->
   <!--      <div class="row-form">-->
   <!--         <table>-->
   <!--            <tr>-->
   <!--               <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>-->
   <!--               <td style="vertical-align: baseline;">-->
   <!--                  <p class="tour_title">Choosing your application</p>-->
   <!--                  <p class="tour_content">This is the application portal section here you can choose your desired application. </p>-->
   <!--                  <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>-->
   <!--               </td>-->
   <!--            </tr>-->
   <!--         </table>-->
   <!--      </div>                             -->
   <!--</fieldset>-->
   <!---->
   <!--<fieldset title="Step 3">-->
   <!--   <legend>Fields</legend>-->
   <!--      <div class="row-form">-->
   <!--         <table>-->
   <!--            <tr>-->
   <!--               <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>-->
   <!--               <td style="vertical-align: baseline;">-->
   <!--                  <p class="tour_title">Choosing your application</p>-->
   <!--                  <p class="tour_content">This is the application portal section here you can choose your desired application. </p>-->
   <!--                  <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>-->
   <!--               </td>-->
   <!--            </tr>-->
   <!--         </table>-->
   <!--      </div>                             -->
   <!--</fieldset>-->
   <!---->
   <!--<fieldset title="Step 4">-->
   <!--   <legend>Fields</legend>-->
   <!--      <div class="row-form">-->
   <!--         <table>-->
   <!--            <tr>-->
   <!--               <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>-->
   <!--               <td style="vertical-align: baseline;">-->
   <!--                  <p class="tour_title">Choosing your application</p>-->
   <!--                  <p class="tour_content">This is the application portal section here you can choose your desired application. </p>-->
   <!--                  <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>-->
   <!--               </td>-->
   <!--            </tr>-->
   <!--         </table>-->
   <!--      </div>                             -->
   <!--</fieldset>-->
   <!--<input type="submit" class="btn btn-primary finish" value="Submit" />-->
</form>

<?php }else{ $this->setInclude('error'); }  ?>