<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if (ENABLE_DELETION == "1") {
    ?>

    <div class="fl-list-of-app-record-wrapper">
        <!-- <Br/> -->
        <div class="fl-option-toolbar">
            <div class="fl-toolbar-left-wrapper">
                <h1>
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-trash-bin"></use>
                    </svg>
                    Trash Bin
                </h1>
            </div>
        <div class="fl-toolbar-right-wrapper">
          <!-- <div class="fl-default-page-wrapper"> -->
            <!-- <label> -->
        <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
              <!-- <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>
              <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>
            </label> -->
          <!-- </div> -->
        </div>
        <div class="clearfix"></div>
        </div>
        <Br/>
        <div class="fl-option-toolbar">
            <!-- <div class="fl-administer-icon icon"></div-->
            <div class="fl-toolbar-left-wrapper">
                <ul class="fl-standard-btn" style="float:left">
                    <li class="fl-buttonEffect">
                      <a href="#" id="retrieveManyRecordsButton">Restore selected record(s)</a>
                    </li>
                    <li class="fl-buttonEffect">
                      <a href="#" id="deletTrashPermanentMany">Delete selected record(s)</a>
                    </li>
                </ul>
            </div>
            <div class="fl-toolbar-right-wrapper">
                <div class="fl-search-wrapper">
                    <select class="fl-input-select searchDeletedRecordLimitPerPage" id="searchDeletedRecordLimitPerPage">
                        <option value="10">Show Entries</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    <input type="text" placeholder="Search Record" id="txtSearchDeletedRecordDatatable"> 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchDeletedRecordDatatable">
                </div>
                <!-- div class="fl-search-wrapper" style="width:370px;">
                  
                  <input type="text"  placeholder="Search Report" id="txtSearchReportDatatable" style="float:right;"> 
                      <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchReportDatatable">
                </div>
                  <a class="pinit icon dataTip" fl-data-application-id="1" fl-data-type="widget" fl-data-object-id="notif" data-placement="left" data-original-title="pin this to Dashboard"></a> -->
            </div>
            <div class="clearfix"></div>
        </div><!-- end of option toolbar -->
        <div class="fl-main-app-view" style="position:relative">
        <div class="fl-datatable-wrapper">  
            <table class="table_data display_data dataTable"  id="loadTrashRecord">
                <thead class="fl-header-tbl-wrapper">
                    <tr>
                        <th style="width:10% !important">
                            <div class='fl-table-ellip' style='margin-left: 10px'>
                                <input type='checkbox' name='retrieveManyDeletedRecord' id='retrieveManyDeletedRecord' class='css-checkbox retrieveManyDeletedRecord' />
                                <label for='retrieveManyDeletedRecord' class='css-label'></label>
                            </div>
                        </th>
                        <th field_name="form_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Form Name</div></div></th>
                        <th field_name="TrackNo"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Tracking Number</div></div></th>
                        <th field_name="Status" ><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Status</div></div></th>
                        <th field_name="requestor"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Requestor</div></div></th>
                        <th field_name="DateCreated"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Created</div></div></th>
                        <th field_name="date_deleted"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Deleted</div></div></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div> 
        <div class="dataTable_widget"></div>
        </div>
    </div>

<?php } else {
    $this->setInclude('error');
} ?>