<?php
// Validate if page is not accessible
$db = new Database();
$auth = Auth::getAuth('current_user');
$users = $db->query("SELECT * FROM tbuser WHERE company_id={$db->escape($auth['company_id'])}","numrows");

$company = new Company($db,$auth['company_id']);
$mod = unserialize(ENABLE_COMPANY_MOD);
if($mod['administer']['user_settings'] == "1"){
    if(ALLOW_ACTIVE_DIRECTORY != "1"){
        $display = "display";
    }else{
        $display = "";
    }

?>

<script type="text/javascript" src="/js/functions/position.js"></script>
<div class="fl-adminusersettings-wrapper">

   <div class="fl-option-toolbar">
      <div class="fl-toolbar-left-wrapper">
         <h1>
          <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-user-settings"></use>
            </svg>
          User Settings</h1>
      </div>
      <!--<div class="fl-toolbar-right-wrapper">-->
      <!--  <div class="fl-default-page-wrapper">-->
      <!--    <label>-->
      <!--      <!--OLD CHECKBOX FOR SETTING LANDING PAGE <input type="checkbox" class="setting_landing_page">-->
      <!--      <span> <input type='checkbox' name='custom-checkbox' id='custom-checkbox' class='css-checkbox setting_landing_page' /><label for='custom-checkbox' class='css-label'></label></span>-->
      <!--      <span style="position: relative; top: 1px; left: -1px;">Make as default landing page?</span>-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="clearfix"></div>
   </div>
  <?php include 'layout/adminbar.php';?>
   <div class='fl-list-of-app-record-wrapper'>
     <div class="clearfix"></div> 
         <div class="fl-tab-wrapper">
              <ul id="tabs">
                  <li class=""><a id="tab1" class="active">User List</a></li>
                  <?php if($company->limit_users == "1"){
                    if($company->num_available >= $users ){ 
                        echo '<li class=""><a id="tab2">Add Users</a></li>';
                    }
                  }else{
                    echo '<li class=""><a id="tab2">Add Users</a></li>';
                  }?>
                  <li class=""><a id="tab3">Deactivated Users</a></li>
                  <li class="viewDeactivatedGuestUser"><a id="tab01">Deactivated Guest Users</a></li>
                  <li class="viewGuestUser"><a id="tab0">Guest User List</a></li>
             </ul>
        </div>
        <div class="fl-head-title-wrapper">
             <h2><br/></h2>
        </div>
        <div class="fl-main-app-view" style="position:relative">
          <div class="tab-container" id="tab1C">
            <div class="fl-option-toolbar">
              <div class="fl-toolbar-left-wrapper">
              </div>
              <div class="fl-toolbar-right-wrapper">
                
                 <div class="fl-search-wrapper">
                     <select class="fl-input-select searchActiveUserLimitPerPage" id="">
                    <option value="10">Show Entries</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                  <input type="text"  placeholder="Search active users." class="" id="txtActivatedUserDatatable" > 
                      <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchActivatedUserDatatable">
                </div>
              </div>
               <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-table-wrapper">
              <div class="fl-userlist-wrapper fl-datatable-wrapper">
                <table class="table_data display_data dataTable"  id="loadUser">
                    <thead class="fl-header-tbl-wrapper">
                       <tr>
                          <!--<th style="width:41px !important;cursor:auto"><!--<input type="checkbox" class="selectAll css-checkbox" id="selectAll" /><label for="selectAll" class="css-label"></label></th>-->
                          <th style="width:39px !important;cursor:auto; padding:6px;">Image</th>
                          <th style="width:169px !important" field_name="email"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Email</div></div></th>
                          <?php if(ALLOW_ACTIVE_DIRECTORY == "1"){ ?>
                          <th style="width:169px !important" field_name="username" class=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div>AD User Name</div></div></th>
                          <?php } ?>
                          <?php if(SHOW_ENCRYPTED_PASSWORD == "1"){ ?>
                          <th style="width:169px !important" field_name="password" class=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Password</div></div></th>
                          <?php } ?>
                          <th style="width:101px !important" field_name="display_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Account Name</div></div></th>
                          <th style="width:149px !important" field_name="first_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Full Name</div></div></th>
                          <th style="width:162px !important" field_name="position"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Position</div></div></th>
                          <th style="width:124px !important" field_name="department"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Department</div></div></th>
                          <th style="width:124px !important" field_name="form_group"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Groups</div></div></th>
                          <th style="width:115px !important" field_name="date_registered"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Registered</div></div></th>
                          <th style="width:48px !important;cursor:auto">Actions</th>
                       </tr>
                    </thead>
                    <tbody></tbody>
                 </table>
              </div> 
            </div>
            <div class="dataTable_widget"></div>
          </div>
          <?php if($company->limit_users == "1"){
              if($company->num_available >= $users ){ 
                  $style = "style = 'display:none';";
              }
            }else{
              $style = "";
          }?>
          <div class="tab-container display" id="tab2C" <?php echo $style; ?>>
            <div class="fl-option-toolbar">
              <div class="fl-toolbar-left-wrapper">
                <ul class="fl-standard-btn">
                    <li class="fl-buttonEffect">
                      <a href="#" class="addPositionSelectionUserRegister">Add Position</a>
                    </li>
                    <li class="fl-buttonEffect">
                      <a href="#" class="batchRegisterUpload" link-type="admin-import">Batch Register Upload</a>
                    </li> <!-- BATCH REGISTER BUTTON -->
                </ul>
              </div>
              <div class="fl-toolbar-right-wrapper">
                 <!-- <div class="fl-search-wrapper" style="width:250px;">
                  <input type="text"  placeholder="Search your request.." class="" id="txtActivatedUserDatatable" style="float:right;"> 
                      <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchActivatedUserDatatable" style="">
                </div> -->
              </div>
               <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-table-wrapper">
               <div class="fl-userlist-wrapper">
                  <div style="float: right;"><!-- padding: 5px; -->
                      <!-- <form action="/ajax/regUser" id="batchRegistration" method="POST" enctype="multipart/form-data">
                          <label for="file">Batch Register Upload:</label>
                          <input type="file" name="csv" id="file" multiple/>
                          <input type="hidden" name="action" value="batch"/> 
                          <input type="submit" value="Submit" />
                      </form> -->
                  </div>
                 <table class="table_data display_data dataTable">
                     
                        <thead class="fl-header-tbl-wrapper">
                          <tr>
                            <th>Email</th>
                            <th class="<?php echo $display; ?>">Username</th>
                            <th>Account Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                          
                      <tbody>
                       <?php
                       $search = new Search();
                       $getPosition = $search->getAllPositionV2();
                       for($a=1;$a<=10;$a++){
                       ?>
                       <form class="registerUser<?php echo $a; ?>" method="POST">
                          <tr class="registration_list">
                             <!--<td><input type="checkbox"/></td>-->
                             <td><input type="text" data-original-title="Input Valid Email" class="input-medium form-text  regUserField regUserField<?php echo $a; ?> tip" data-reg-id="<?php echo $a; ?>" id="regEmail<?php echo $a; ?>" placeholder="Email" /></td>
                             <td class="<?php echo $display; ?>"><input type="text" data-original-title="Input Username" class="input-medium form-text  regUserField regUserField<?php echo $a; ?> tip" data-reg-id="<?php echo $a; ?>" id="regUsername<?php echo $a; ?>" placeholder="Username" /></td>
                             <td><input type="text" data-original-title="Input Account Name" class="input-medium form-text regUserField regUserField<?php echo $a; ?> tip" data-reg-id="<?php echo $a; ?>" id="regDisplayName<?php echo $a; ?>" placeholder="Account Name" /></td>
                             <td><input type="text" data-original-title="Input First Name" class="input-medium form-text regUserField regUserField<?php echo $a; ?> tip" data-reg-id="<?php echo $a; ?>" id="regFname<?php echo $a; ?>" placeholder="First Name" /></td>
                             <td><input type="text" data-original-title="Input Last Name" class="input-medium form-text regUserField regUserField<?php echo $a; ?> tip" data-reg-id="<?php echo $a; ?>" id="regLname<?php echo $a; ?>" placeholder="Last Name" /></td>
                             <!-- <td><input type="text" data-original-title="Input Position" class="input-medium regUserField regUserField<?php echo $a; ?> tip" data-reg-id="<?php echo $a; ?>" id="regPosition<?php echo $a; ?>" placeholder="Position" /></td> -->
                             <td>
                                <select style="border: 1px solid #D5D5D5;" data-original-title="Select Position" class="simple-text-select form-select regUserField regUserField<?php echo $a; ?> tip userRegPosition" data-reg-id="<?php echo $a; ?>" id="regPosition<?php echo $a; ?>">
                                  <option value="">--Select Position--</option>
                                  <?php
                                    foreach ($getPosition as $value) {
                                      ?>
                                        <option value="<?php echo $value['id'] ?>"><?php echo $value['position'] ?></option>
                                      <?php
                                    }
                                  ?>
                                </select>
                                <i class="fa fa-question-circle cursor tip addPositionSelectionUserRegister display" title="If you want to add position in your selection, Click Here" style="vertical-align:super"></i>
                              </td>
                             <td><center><input type="button" class="btn-blueBtn regUser fl-buttonEffect" id="regUser<?php echo $a; ?>" data-user-action="registerUser" data-reg-id="<?php echo $a; ?>" value="Register"><img src="/images/loader/load.gif" class="loadRegUser display" id="loadRegUser<?php echo $a; ?>"/></center></td>
                          </tr>
                       </form>
                       <?php
                       }
                       ?>
                    </tbody>
                 </table>
                </div>
              </div>
          </div>
          <div class="tab-container" id="tab3C">
            <div class="fl-option-toolbar">
              <div class="fl-toolbar-left-wrapper">
                
              </div>
              <div class="fl-toolbar-right-wrapper">
                <div class="fl-search-wrapper">
                    <select class="fl-input-select searchInactiveUserLimitPerPage" id="">
                      <option value="10">Show Entries</option>
                      <option>10</option>
                      <option>20</option>
                      <option>50</option>
                      <option>100</option>
                  </select>
                    <input type="text"  placeholder="Search deactivated users.." class="" id="txtDeactivatedUserDatatable"> 
                     <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchDeactivatedUserDatatable" style="">
                  </div>
                
              </div>
               <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-table-wrapper fl-datatable-wrapper">
              <div class="fl-userlist-wrapper">
                    <table class="table_data display_data dataTable"  id="loadDeactivatedUser">
                      <thead class="fl-header-tbl-wrapper">
                         <tr>
                          <!--<th style="width:41px !important;cursor:auto"><!--<input type="checkbox" class="selectAll css-checkbox" id="selectAll2" /><label for="selectAll2" class="css-label"></label></th>-->
                          <th style="width:39px !important;cursor:auto; padding:6px;">Image</th>
                          <th style="width:169px !important" field_name="email"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Email</div></div></th>
                          <?php if(ALLOW_ACTIVE_DIRECTORY == "1"){ ?>
                          <th style="width:169px !important" field_name="username" class=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Username</div></div></th>
                          <?php } ?>
                          <th style="width:101px !important" field_name="display_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Account Name</div></div></th>
                          <th style="width:149px !important" field_name="first_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Full Name</div></div></th>
                          <th style="width:162px !important" field_name="position"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Position</div></div></th>
                          <th style="width:124px !important" field_name="department"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Department</div></div></th>
                          <th style="width:124px !important" field_name="form_group"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Groups</div></div></th>
                          <th style="width:115px !important" field_name="date_registered"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Registered</div></div></th>
                          <th style="width:48px !important;cursor:auto">Actions</th>
                       </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
              </div>
              <div class="dataTable_widget"></div>
          </div>
              
          <div class="tab-container" id="tab01C">
            <div class="fl-option-toolbar">
              <div class="fl-toolbar-left-wrapper">
                
              </div>
              <div class="fl-toolbar-right-wrapper">
                <div class="fl-search-wrapper">
                  <select class="fl-input-select searchInactiveGuestUserLimitPerPage" id="">
                      <option value="10">Show Entries</option>
                      <option>10</option>
                      <option>20</option>
                      <option>50</option>
                      <option>100</option>
                  </select>
                   
                    <input type="text"  placeholder="Search deactivated guest users.." class="" id="txtDeactivatedGuestUserDatatable"> 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchDeactivatedGuestUserDatatable">
                </div>
              </div>
               <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-table-wrapper">
              <div class="fl-userlist-wrapper">
                <table class="table_data display_data dataTable"  id="DeactivatedGuestloadUser">
                    <thead class="fl-header-tbl-wrapper">
                       <tr>
                          <!--<th style="width:41px !important;cursor:auto"><!--<input type="checkbox" class="selectAll css-checkbox" id="selectAll" /><label for="selectAll" class="css-label"></label></th>-->
                          <th style="width:39px !important;cursor:auto; padding:6px;">Image</th>
                          <th style="width:169px !important" field_name="email"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Email</div></div></th>
                          <?php if(ALLOW_ACTIVE_DIRECTORY == "1"){ ?>
                          <th style="width:169px !important" field_name="username" class=""><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Username</div></div></th>
                          <?php } ?>
                          <th style="width:101px !important" field_name="display_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Account Name</div></div></th>
                          <th style="width:149px !important" field_name="first_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Full Name</div></div></th>
                          <!--<th style="width:162px !important" field_name="position"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Position</div></div></th>-->
                          <!--<th style="width:124px !important" field_name="department"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Department</div></div></th>-->
                          <th style="width:115px !important" field_name="date_registered"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Registered</div></div></th>
                          <th style="width:115px !important" field_name="date_registered"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Expiration Date</div></div></th>
                          <th style="width:48px !important;cursor:auto">Actions</th>
                       </tr>
                    </thead>
                    <tbody></tbody>
                 </table>
              </div> 
            </div>
            <div class="dataTable_widget"></div>
          </div>
            
          <div class="tab-container" id="tab0C">
            <div class="fl-option-toolbar">
              <div class="fl-toolbar-left-wrapper">
                
              </div>
              <div class="fl-toolbar-right-wrapper">
                <div class="fl-search-wrapper">
                  <select class="fl-input-select searchActiveGuestUserLimitPerPage" id="">
                      <option value="10">Show Entries</option>
                      <option>10</option>
                      <option>20</option>
                      <option>50</option>
                      <option>100</option>
                  </select>
                   
                    <input type="text"  placeholder="Search guest users.." class="" id="txtGuestUserDatatable"> 
                    <input type="button" value="" class="search icon fl-search-icon-list" id="btnSearchGuestUserDatatable">
                </div>
              </div>
               <div class="clearfix"></div>
            </div><!-- end of option toolbar -->
            <div class="fl-table-wrapper">
              <div class="fl-userlist-wrapper">
                <table class="table_data display_data dataTable"  id="GuestloadUser" style="width:100%;">
                    <thead class="fl-header-tbl-wrapper">
                       <tr>
                          <!--<th style="width:41px !important;cursor:auto"><!--<input type="checkbox" class="selectAll css-checkbox" id="selectAll" /><label for="selectAll" class="css-label"></label></th>-->
                          <th style="width:39px !important;cursor:auto; padding:6px;">Image</th>
                          <th style="width:169px !important" field_name="email"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Email</div></div></th>
                          <?php if(ALLOW_ACTIVE_DIRECTORY == "1"){ ?>
                          <th style="width:101px !important" field_name="username" class=""><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Username</div></div></th>
                          <?php } ?>
                          <th style="width:101px !important" field_name="display_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Account Name</div></div></th>
                          <th style="width:149px !important" field_name="first_name"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Full Name</div></div></th>
                          <!--<th style="width:162px !important" field_name="position"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Position</div></div></th>-->
                          <!--<th style="width:124px !important" field_name="department"><div class='sortable-image fl-module-tbl-arrow'></div><div class='fl-table-ellip'><div>Department</div></div></th>-->
                          <th style="width:115px !important" field_name="date_registered"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Date Registered</div></div></th>
                          <th style="width:115px !important" field_name="date_registered"><div class='fl-table-ellip'><div><div class='sortable-image fl-module-tbl-arrow'></div> Expiration Date</div></div></th>
                          
                          <th style="width:48px !important;cursor:auto">Actions</th>
                       </tr>
                    </thead>
                    <tbody></tbody>
                 </table>
              </div> 
            </div>
            <div class="dataTable_widget"></div>
          </div>
        </div>
  </div>
  <div class="clearfix"></div> 
</div>
</div>

<?php }else{ $this->setInclude('error'); }  ?>