<link rel="stylesheet" href="/css/jquery-ui.css" />
<script type="text/javascript" src="/js/functions/groups.js"></script>
<input type="text" class="display" id="config_external_link" value="<?php echo ALLOW_EXTERNAL_LINKS; ?>">
<input type="text" class="display" id="config_default_actions" value="<?php echo ALLOW_DEFAULT_ACTIONS; ?>">
<?php
$db = new Database();
$auth = Auth::getAuth('current_user');
$fs = new functions();
$guest = new Guest_Account();
$search = new Search();
// Request Seen Logs
$request = new Request();
if($_GET['view_type'] == "request" && $_GET['formID'] != "0" && isset($_GET['requestID']) && isset($_GET['trackNo'])){
    $request->request_seen($_GET,$auth);
}

if (ALLOW_GUEST == "1") {

    $date = $fs->currentDateTime();
    $url = $fs->encode_decode_url($fs->curPageURL("module_parameter"), "decode");
    $query_str = parse_url($url, PHP_URL_QUERY);
    parse_str($query_str, $query_params);


    if (isset($query_params) && isset($query_params['authentication']) && isset($query_params['type']) && isset($query_params['log_type'])) {
        if ($query_params['authentication'] == "login" && $query_params['type'] == "guest" && $query_params['log_type'] == "user") {
            // Check Instance
            $guest_list = $db->query("SELECT * FROM tb_guest WHERE guest_type = {$db->escape('guest')} AND guest_formID = {$db->escape($query_params['formID'])} AND guest_user_id = {$db->escape($auth['id'])}", "numrows");
            if ($guest_list == "0") {
                // Send Email Confirmation
                // EMAIL();
                //echo $email->notify_user("regCompany","Formalistics",$userID,"company");


                $json_encode = json_encode(array("data_action" => "guest",
                    "guest_email" => $auth['email'],
                    "guest_url" => $url));

                $insert = array("guest_user_id" => $auth['id'],
                    "guest_json" => $json_encode,
                    "guest_type" => "guest",
                    "guest_date" => $date,
                    "guest_added_by" => $auth['id'],
                    "guest_formID" => $query_params['formID'],
                    "guest_requestID" => $query_params['requestID'],
                    "guest_trackNo" => "",
                    "guest_is_active" => "1");
                $db->insert("tb_guest", $insert);
                // Audit Logs
                $insert_audit_rec = array("user_id" => $query['id'],
                    "audit_action" => "1",
                    "table_name" => "tbcompany",
                    "record_id" => $query['id'],
                    "date" => $date,
                    "ip" => $_SERVER["REMOTE_ADDR"],
                    "is_active" => 1);
                $audit_log = $db->insert("tbaudit_logs", $insert_audit_rec);
            }
        }
    }
}


// Get Other Info
$other_user_info = new Other_User_Info($db, $auth['id']);

$userCompany = new userQueries();
$company = $userCompany->getCompany($auth['company_id']);
$upload = new upload();

$personDoc = new Person($db, $auth['id']);
$userDepartmentName = $personDoc->department->name;
$formDoc = new Form($db, $_GET['formID']);

$application_id = $_COOKIE['application'];

// $YEAH_FORMULA = new Formula("@Department[Requestor] + @TrackNo + @DEPARTMENTFIELD");
// print_r($YEAH_FORMULA->setSourceForm("DYNAMIC_TABLE_TESTING","*",array("TESTING3DIGIT"=>"JC000") ) );
// print_r($YEAH_FORMULA->getProccessedFormula());
// $YEAH_FORMULA = new Formula("@Lookup('DYNAMIC_TABLE_TESTING' , 'TrackNo')");
// print_r($YEAH_FORMULA->getProccessedFormula());
// $YEAH_FORMULA = new Formula("@Concat('DYNAMIC_TABLE_TESTING' , 'TrackNo','biscuites')");
// print_r($YEAH_FORMULA->getProccessedFormula());
// print_r(eval($YEAH_FORMULA->getProccessedFormula()));
$displayPreviewStyle = "";
if ($_GET['view_type'] == "preview") {
    $formWidth = $_GET['formWidth'];
    $formHeight = $_GET['formHeight'];
    $form_container = "style='margin: 0px auto;width:" . $formWidth . "px;'";
    $form_size = "style=' background-color: #fff;height:" . $formHeight . "px;'";
    $displayPreviewStyle = "display:none !important;";
} elseif ($_GET['view_type'] == "request" || $_GET['view_type'] == "report") {
    // Get Workspace Information
    $getID = $_GET['formID'];
    $requestID = $_GET['requestID'];
    $str = "SELECT WS.*, WFO.workflow_id, WFO.buttonStatus,WFO.fieldEnabled, WFO.fieldRequired, WFO.fieldHiddenValue FROM tb_workspace WS 
                           LEFT JOIN tbworkflow WF
                            ON WS.Id = WF.form_id 
                           LEFT JOIN tbworkflow_objects WFO
                            ON WFO.workflow_id = WF.id 
                            WHERE WS.id={$db->escape($getID)} AND WFO.type_rel = '1'  AND WF.Is_Active = '1' AND WS.is_delete = 0 AND WF.is_delete = 0 ";
    $form = $db->query($str, "row");

    $form_json = json_decode($form['form_json'], true);
    $query_condition = functions::setRelatedInfoConditions($form_json['form_json']['external_link']);
    $getModules = $search->getModules($query_condition);
    $form_container = "style='margin: 0px auto;width:" . $form_json['WorkspaceWidth'] . "px;'";
    $form_size = "style=' background-color: #fff;height:" . $form_json['WorkspaceHeight'] . "px;'";

    $fieldEnabled = $form['fieldEnabled'];
    $fieldRequired = $form['fieldRequired'];
    $fieldHiddenValues = $form['fieldHiddenValue'];
} elseif ($_GET['view_type'] == "update") {
    // Get Workspace Information
    $getID = $_GET['ID'];
    $requestID = $_GET['requestID'];

    $str = "SELECT WS.*, WFO.workflow_id, WFO.buttonStatus,WFO.fieldEnabled, WFO.fieldRequired, WFO.fieldHiddenValue FROM tb_generate WS 
                           LEFT JOIN tbworkflow WF
                            ON WS.form_id = WF.form_id 
                           LEFT JOIN tbworkflow_objects WFO
                            ON WFO.workflow_id = WF.id 
                            WHERE WS.id={$db->escape($getID)} AND WFO.type_rel = '1'  AND WF.Is_Active = '1' AND WF.is_delete = 0";
    $form = $db->query($str, "row");


    $form_json = json_decode($form['form_json'], true);
    $json_form = $form_json['form_json'];
    $form_container = "style='margin: 0px auto;width:" . $form_json['WorkspaceWidth'] . "px;'";
    $form_size = "style=' background-color: #fff;height:" . $form_json['WorkspaceHeight'] . "px;'";

    $fieldEnabled = $form['fieldEnabled'];
    $fieldRequired = $form['fieldRequired'];
    $fieldHiddenValues = $form['fieldHiddenValue'];
}
$request_view_datas = createRequestView($_GET);

// Get form name
$form_name = $form['form_table_name'];
$request_details = $db->query("SELECT * FROM " . $form_name . " WHERE ID={$db->escape($_GET['requestID'])}", "row");
$requestor_details = $db->query("SELECT * FROM tbuser WHERE id={$db->escape($request_details['Requestor'])}", "row");
$get_processor_details = $db->query("SELECT * FROM `tbuser` WHERE id IN (" . $request_view_datas["auth_id"] . ") AND is_active={$db->escape(1)}", "row");
$prev_form_id = $db->query("SELECT id FROM `tb_workspace` WHERE id < $getID ORDER BY id DESC LIMIT 1", "row");
$next_form_id = $db->query("SELECT id FROM `tb_workspace` WHERE id > $getID ORDER BY id ASC LIMIT 1", "row");

$form_link = $form_json['form_json']['external_link'];
$query_condition = functions::setRelatedInfoConditions($form_json['form_json']['external_link']);
//echo "form id: " . $getID . "previous: ". $prev_form_id['id'] . ", next: " . $next_form_id['id'];
?>
<style class="append-script-design"></style>

<div class=".bgs-header"></div>
<?php
if ($_GET['view_type'] == "preview") {
    echo "<h1 style='text-align:center;'>Workspace Preview </h1>";
}
?>

<h1 class="form-name-title"><?php echo $request_view_datas["form_name"]; ?></h1>
<br/>
<br/>
<div class="fl-form-wrapper" style="margin-top: -10px;height:auto; display:inline-table;">

    <div class="fl-head-title-wrapper" style="float: left;width: 100%; padding:5px; box-sizing:border-box;">
        <!-- ========== Attachmemt Files ========== -->
        <div class="padding_5 attached_file_container pr-nodes">

<?php
if (ALLOW_PROCESSOR_ATTACHMENT != "1") {
    if ($request_details['Requestor'] == $auth['id'] && $_GET['requestID'] != "0") {
        $display = "";
    } elseif ($request_details['Requestor'] != $auth['id'] && $_GET['requestID'] == "0") {
        $display = "";
    } else {
        $display = "display";
    }
} else {
    $display = "";
}

/* ========== Get Attachment files ========== */
$path = "images/attachment";
if (isset($_GET['trackNo'])) {
    $trackNo = $_GET['trackNo'];
} else {
    $trackNo = $request_details['TrackNo'];
}
$id_encrypt = md5(md5($trackNo));
$dir = $path . "/" . $id_encrypt;

/* ========== Get all files from the directory ========== */
$getAttachment = $upload->getAllfiles_fromDirectory($dir);

/* ========== List of files ========== */
foreach ($getAttachment as $files) {
    $get_extension = explode(".", $files);
    $extension = $get_extension[count($get_extension) - 1];
    /* ========== Determine if files is an image or not ========== */
    $formats = array("jpg", "png", "JPG", "PNG", "GIF", "gif");
    if (!in_array($extension, $formats)) {
        echo '<div>';
        echo '<form class="pull-left" method="POST" >';
        echo '<div>';
        echo '<input type="submit" class="cursor tip" data-original-title="Download Attachment"/><i class="fa fa-download"></i> ';
        echo '<i class="' . $display . ' fa fa-trash-o cursor tip removeFiles" data-original-title="Remove Attachment" data-file="' . $files . '" data-location="' . $dir . '/' . $files . '"></i>';
        echo '</div>';
        echo '<a class="download_attachment">';
        echo '<div data-name="' . $files . '" class="AFiles_only avatar AFiles tip" data-original-title="' . $files . '" title="' . $files . '"><i class="fa fa-file"></i></div>';
        echo '</a>';
        //echo '<input type="submit"/>';
        echo '<input type="hidden" value="' . $files . '" name="attachment_filename"/>';
        echo '<input type="hidden" value="' . $dir . '/' . $files . '" name="attachment_location"/>';

        echo '</form>';
        echo '</div>';
    } else {
        echo '<div style="float:left;background-color:#fff;border:1px solid #D5D5D5;border-radius:5px;padding:5px;margin-left:5px;min-height:40px;">';
        echo '<form class="pull-left" method="POST">';
        echo '<div style="text-align: center;">';
        echo '<input type="submit" style="opacity: 0;position: absolute;width: 10px;" class="cursor tip" data-original-title="Download Attachment"/><i class="fa fa-download"></i> ';
        echo '<i class="fa fa-trash-o cursor tip removeFiles" data-original-title="Remove Attachment" data-file="' . $files . '" data-location="' . $dir . '/' . $files . '"></i>';
        echo '</div>';
        echo '<a class="download_attachment">';
        echo '<img data-name="' . $files . '" src="/' . $dir . '/' . $files . '" width="25" height="25" class="AFiles imagetoPost avatar userPhoto personalPhoto userAvatar" onerror="this.src='. BROKEN_IMAGE .'"  data-original-title="' . $files . '" title="' . $files . '">';
        echo '</a>';
        //echo '<input type="submit"/>';
        echo '<input type="hidden" value="' . $files . '" name="attachment_filename"/>';
        echo '<input type="hidden" value="' . $dir . '/' . $files . '" name="attachment_location"/>';
        echo '</form>';
        echo '</div>';
    }
}
?>

        </div>
            <?php
//            if (count($getAttachment) != "0") {
//                echo '<br /><br />';
//            }
        ?>
    </div>
    <?php if ($_GET['view_type'] != "preview") { ?>

        <div class="fl-widget-head form-action-navs" style="width: 50%;left: 0;"> <!-- fl-head-title-wrapper  -->

            <div class="title_head_btn" style="margin:0px;">

                 <?php if (!isset($_GET['embed_type']) && $_GET['embed_type'] != "viewEmbedOnly") { ?>
        <?php if ($_GET['view_type'] != "update") {
            ?>
                    <div class="fl-head-menu-wrapper frm-submit-ws-req" style="<?php echo $displayPreviewStyle; ?>">
                        <ul class="fl-head-menu">
                            <li id="fl-action-btn" style="padding:4px; font-size:12px;" class=""><a href="#" style="color:white;"><i class="fa fa-hand-o-up"></i> Actions</a>
                                <ul id="fl-action-option" class="fl-action-option" style="z-index:1;">
                        <?php
                            $button_list = '';
                            if(ALLOW_DEFAULT_ACTIONS == "1"){
                                $button_list .= "<li class='default-action-btn' id='Functions'><a>Functions</a><ul class='sublist'>";
                                $button_list .=  $request_view_datas["action_buttons"];
                                $button_list .= "</ul></li>";
                                echo $button_list;
                            }
                            else{
                                 echo  $request_view_datas["action_buttons"];
                            }
                        ?>
                        </ul>
                            </li>
                            <?php
                            /* Added by Japhet Morada */
                            if(ALLOW_EXTERNAL_LINKS == "1"){
                                if($requestID != 0){
                                    if(count($form_json['form_json']['external_link']) > 0){

                            ?>
                                <li id="fl-links-btn" style="width:auto; padding:4px; font-size:12px;" class=""><a href="#" style="color:white;"><i class="fa fa fa-link"></i> Related Information</a>
                                <?php
                        if(ALLOW_EXTERNAL_LINKS == "1"){
                            if($requestID != 0){
                        ?>
                        <ul id="fl-links-option" class="fl-action-option" style="z-index:1;">
            <?php 
                print_r(count($getModules));
                foreach ($getModules as $key_category => $value_category) {
                    ?>
                    <?= "<li class='ext-btn'><a>&nbsp;". $key_category ."&nbsp;</a>"; ?>
                            <?php
                            ?>
                            <?= "<ul class='sublist'>"; ?>
                            <?php
                            foreach ($value_category as $key => $value) {
                                $get_form_id = functions::base_encode_decode("encrypt", $value['form_id']);
                                ?>
                                <?= "<li class='ext-links' form-id='" . $value['form_id'] . "'><a href='/user_view/application?id=" . $get_form_id . "'> " . $value['form_name'] . "</a></li>"; ?>
                                <?php
                                }
                                ?>
                                <?="</ul>";?>
                    <?php
                    ?>
                    <?="</li>";?>
                    <?php
                }
                ?>
                    </ul>
                <?php 
                   }
                }
                ?>
                                </li>
                            <?php
                                    }
                                }
                            }
                            ?>
                        </ul>
                        
                        
                    </div>
        <?php } ?>
    <?php } ?>
            <div class="clearfix"></div>
        </div>
        <?php } ?>
        <div id="here">
                
                <div class="btn-basicBtn fl-createViewreq show-menu-workspace fl-buttonEffect padding_5 cursor tip" show-menu-workspace="false" data-placement="bottom" data-original-title="show menu"><i class="fa fa-bars" style="color:#ffffff;"></i></div>

                <div class="btn-basicBtn  fl-backhistory fl-createViewreq fl-buttonEffect padding_5 cursor tip" data-placement="bottom" data-original-title="Go back"><i class="fa fa-reply" style="color:#ffffff;"></i></div>
    <?php
    if ($_GET['view_type'] != "update") {
        
        if ($_GET['requestID'] != 0) {
            echo '<div class="btn-basicBtn padding_5 fl-createViewreq fl-buttonEffect cursor showReply tip"  data-placement="bottom" data-type="1" data-f-id="' . $_GET['formID'] . '" data-id="' . $requestID . '" data-original-title="Add/View Comments"><i class="fa fa-comment"></i></div> ';
        }
        echo '<div style="' . $displayPreviewStyle . '  float:left;">';
        echo '<div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip viewAuditLogs" data-placement="bottom" data-original-title="View Logs"><i class="fa fa-book"></i></div> ';
        echo '<div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip printForm" data-placement="bottom" data-original-title="Print Form"><i class="fa fa-print"></i></div> ';

        if (!functions::getPinnedRequest($getID, $requestID)) {
            echo '<div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip request_dashboard_pin" fl-data-application-id="' . $application_id . '" data-placement="bottom" data-original-title="Pin this to dashboard"><i class="fa fa-thumb-tack"></i></div> ';
        }
        if(ALLOW_GUEST == "1"){
            if ($_GET['requestID'] != 0) {
                if ($auth['user_level_id'] != "4") {
                    echo '<div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip addGuest" data-placement="bottom" data-action="guest_selected_form" data-original-title="Add Guest on this form"><i class="fa fa-user"></i></div>';
                }
            }
        }
    }
    if ($_GET['view_type'] != "update") {
        echo '<span class="viewer_action"></span>';
        
        echo '<div class="' . $display . ' btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip uploadButtonRequest" 
                data-placement="bottom" data-original-title="Add Files">';
        echo '<form id="fille_attach" method="post" enctype="multipart/form-data" action="/ajax/request_attachment">';
        echo '<input type="file" data-action-id="2" value="upload" name="file" id="file" size="24" data-action-type="attachFile" style="width: 10px;opacity: 0;position:absolute;" class="cursor upfile">';
        echo '<input type="text" name="getFormID" id="getFormID" value="' . $_GET['formID'] . '" data-type="longtext" class="display getFields" />';
        echo '<input type="text" name="getID" id="getID" value="' . $_GET['requestID'] . '" data-type="longtext" class="display getFields" />';
        echo '<input type="text" name="getTrackNo" id="getTrackNo" value="' . $trackNo . '" data-type="longtext" class="display getFields" />';
        echo '<i class="fa fa-paperclip"></i>';
        echo '</form></div> ';
        echo '<img src="/images/loader/load.gif" class="display attachFiles"/>';

        echo '</div>';
    } else {
        echo '<div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip printForm" data-placement="bottom" data-original-title="Print Form"><i class="fa fa-print"></i></div> ';
    }
    
    ?>

    </div>
        
            </div>
           
            <?php 
            if (ALLOW_DEFAULT_ACTIONS == "1" && ALLOW_EXTERNAL_LINKS == "1") {
                include 'layout/generic-control.php';
            }
            ?>
    
            <div class="fl-widget-head form-action-navs" style="width: 50%;right: 0;">
                <?php if(ALLOW_FORM_ANNOTATION == "1"){ ?>
                <div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip addAnnotation" data-placement="bottom" data-original-title="Add Annotation"><i class="fa fa-pencil-square-o"></i></div>
                <div class="display hideAnnotation">
                    <div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip saveDraftAnnotation" data-placement="bottom" data-original-title="Save as Draft Annotation"><i class="fa fa-check"></i></div>
                    <div class="btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip cancelAnnotation" data-placement="bottom" data-original-title="Cancel Annotation"><i class="fa fa-times"></i></div>
                    <div data-type="undo" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Redo Annotation"><i class="fa fa-mail-reply"></i></div>
                    <div data-type="redo" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Undo Annotation"><i class="fa fa-mail-forward"></i></div>
                    <div data-type="clear" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Clear Annotation"><i class="fa fa-trash"></i></div>
                    <div data-type="rectangle" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Rectangle"><i class="fa fa-square"></i></div>
                    <div data-type="ellipse" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Ellipse"><i class="fa fa-circle"></i></div>
                    <div data-type="line" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Line"><i class="fa fa-minus"></i></div>
                    <div data-type="pencil" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Pencil"><i class="fa fa-pencil"></i></div>
                    <div data-type="text" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Text"><i class="fa fa-font"></i></div>
                    <div data-type="eraser" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Eraser"><i class="fa fa-eraser"></i></div>
                    <div data-type="bucket" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Bucket"><i class="fa fa-eyedropper"></i></div>
                    <!--<div data-type="fillStyle" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Fill Color"><i class="fa fa-circle"></i></div>-->
                    <!--<div data-type="lineWidth" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Stroke Width"><i class="fa fa-text-width"></i></div>-->
                    <!--<div data-type="strokeStyle" class="trigger_tools btn-basicBtn fl-createViewreq fl-buttonEffect padding_5 cursor tip " data-placement="bottom" data-original-title="Stroke Color"><i class="fa fa-circle"></i></div>-->
                
                
                
                </div>
                <?php } ?>
            </div>
            
            <!-- fl head title wrapper-->
            <!-- fl-header-menu-wrapper -->

    <div class="fl-body-content-wrapper preview_content">
        <form id="frmrequest" method="POST" action="/ajax/request" data-type="" style="display:inline-block;position:relative;width:100%;height:100%;">
            <div class="display">
                <!-- INPUT FIELD STANDARDS -->
                <input type="text" name="FormAuthEmail" id="FormAuthEmail" value="<?php echo $auth['email']; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="FormAuthID" id="FormAuthID" value="<?php echo $auth['id']; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="FormID" id="FormID" value="<?php echo $_GET['formID']; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="FormName" id="FormName" value="<?php echo $formDoc->form_name; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="FormJson" id="FormJson" value="<?php echo htmlentities($formDoc->form_json); ?>" data-type="longtext" class="getFields" />
<?php
functions::currentDateTime();
?>
                <input type="text" name="currentDateTime" id="currentDateTime" value="<?php echo date("F d, Y H:i:s"); ?>" data-type="longtext" class="getFields" />

                <input type="text" name="WorkflowId" id="WorkflowId" value="<?php echo $request_view_datas["workflow_id"]; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="ID" id="ID" value="<?php echo $_GET['requestID']; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="TrackNo" id="TrackNo" value="<?php echo $trackNo; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="Requestor" requestor-name="<?php echo $request_view_datas["auth_display_name"];/*$request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"];*/ ?>" value="<?php echo $request_view_datas["auth_id"]; ?>" id="Requestor" data-type="longtext" class="getFields" />
                <input type="text" name="CurrentUser" current-user-name="<?php echo $request_view_datas["auth_display_name"];/*$request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"];*/ ?>" value="<?php echo $request_view_datas["auth_id"]; ?>" id="CurrentUser" data-type="longtext" class="getFields" />
                <input type="text" name="Status" id="Status" value="<?php echo $request_details['status']; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="request_by" id="request_by" value="<?php echo $requestor_details['display_name']; ?>" data-type="longtext" class="getFields" />
                <input type="text" name="processor_by" id="processor_by" value="<?php echo $get_processor_details['display_name']; ?>" data-type="longtext" class="getFields" />

                <!-- Other Info -->
                <input type="text" name="other_info_user_location" id="other_info_user_location" value="<?php echo $other_user_info->location; ?>" data-type="longtext" class="getFields" />

                Processor
                <input type="text" name="Processor" value="<?php echo $request_view_datas["auth_id"]; ?>" processor-name="<?php echo $request_view_datas["auth_display_name"];/*$request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"];*/ ?>" id="Processor" data-type="longtext" class="getFields" />
                <input type="text" name="ProcessorType" value="<?php echo $request_view_datas["auth_id"]; ?>" processor-name="<?php echo $request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"]; ?>" id="ProcessorType" data-type="longtext" class="getFields" />
                <input type="text" name="ProcessorID" value="<?php echo $request_view_datas["auth_id"]; ?>" processor-name="<?php echo $request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"]; ?>" id="ProcessorID" data-type="longtext" class="getFields" />
				Dashboard page
				<input type="text" name="DashboardPage" value="<?php echo "/user_view/application?id=" . functions::base_encode_decode("encrypt", $formDoc->id); ?>" id="DashboardPage" />
                <input type="text" name="LastAction" id="LastAction" value='<?php echo $request_view_datas["buttonStatus"]; ?>' data-type="longtext" class="getFields" />
                <input type="text" name="DateCreated" id="DateCreated" data-type="longtext" class="getFields" />
                <input type="text" name="DateUpdated" id="DateUpdated" data-type="longtext" class="getFields" />
                <input type="text" name="CreatedBy" value="<?php echo $request_view_datas["auth_id"]; ?>" id="CreatedBy" data-type="longtext" class="getFields" />
                <input type="text" name="UpdatedBy" value="<?php echo $request_view_datas["auth_id"]; ?>" id="UpdatedBy" data-type="longtext" class="getFields" />
                <input type="text" name="Unread" id="Unread" data-type="longtext" class="getFields" />
                <input type="text" name="Node_ID" id="Node_ID" data-type="longtext" class="getFields" />
                <input type="text" name="status-embed" id="status-embed" data-type="longtext" class="getFields" />
                <input type="text" name="prop-emebed" id="prop-emebed" data-type="longtext" class="getFields" />
                <input type="text" name="Workflow_ID" id="Workflow_ID" data-type="longtext" class="getFields" />
                <input type="text" name="Mode" id="Mode" value="formApproval" data-type="longtext" class="getFields" />
                <input type="text" name="imported" id="imported" data-type="longtext" class="getFields" />
                <input type="text" name="computedFields" id="computedFields" />
                <input type="text" name="fieldEnabled" id="fieldEnabled" value=' <?php echo $request_view_datas["fieldEnabled"]; ?> ' data-type="longtext" class="getFields" />
                <input type="text" name="fieldRequired" id="fieldRequired" value=' <?php echo $request_view_datas["fieldRequired"]; ?> ' data-type="longtext" class="getFields" />
                <input type="text" name="KeywordsField" id="KeywordsField" data-type="longtext" class="" />
                <input type="text" name="Repeater_Data" value="<?php echo $request_view_datas["Repeater_Data"]; ?>" id="Repeater_Data" data-type="longtext" class="" />
                <input type="text" name="Department_Name" value="<?php echo $request_view_datas["userDepartmentName"]; ?>" id="Department_Name" data-type="longtext" class="" />
                <input type="text" name="Editor" value="<?php echo $request_view_datas["Editor"]; ?>" id="Editor" data-type="longtext" class="" />
                <input type="text" name="AdditionalEditors" value="" id="AdditionalEditors" data-type="longtext" class="" />
                <input type="text" name="AdditionalReaders" value="" id="AdditionalReaders" data-type="longtext" class="" />
                <input type="text" name="RequireComment" value="" id="RequireComment" data-type="longtext" class="" />


                Save and Cancel Formulas
                <input type="text" name="SaveFormula" value="" id="SaveFormula" data-type="longtext" class="" />
                <input type="text" name="CancelFormula" value="" id="CancelFormula" data-type="longtext" class="" />

                <!-- ========== GET FIELD ENABLED, FIELD REQUIRED AND FIELD HIDDEN VALUES ========== -->
                <div class="fieldEnabled"><?php echo $request_view_datas["fieldEnabled"]; ?></div>
                <div class="fieldRequired"><?php echo $request_view_datas["fieldRequired"]; ?></div>
                <div class="fieldHiddenValues"><?php echo $request_view_datas["fieldHiddenValues"]; ?></div>

                <div class="fieldEnabled_default"><?php echo $request_view_datas["fieldEnabled"]; ?></div>
                <div class="fieldRequired_default"><?php echo $request_view_datas["fieldRequired"]; ?></div>
                <div class="fieldHiddenValues_default"><?php echo $request_view_datas["fieldHiddenValues"]; ?></div>
                <input type="text" class="preview-nodes" value="<?php
                if (isset($_GET['type']) && $_GET['type'] == "flowchart" || $_GET['type'] == "orgchart") {
                    echo "true";
                } else {
                    echo "false";
                }
?>">
                <!-- ========== Files Json ========== -->
                <input type="text" name="attachment_files" id="view_attachment_files" />
            </div>
<?php
if ($_GET['requestID'] != "0") {
    $display_form_status = "display:block;";
} else {
    $display_form_status = "display:none;";
}
?>
            <div class="display_form_status" style="<?php echo $display_form_status; ?>width:auto;position:relative; padding:5px;<?php echo $displayPreviewStyle; ?>">
                <ul style="display:inline-block;width:100%;">
                    <li style="padding: 10px 0px;float:left;display:inline-block;"><label ><b>Tracking Number:</b><u><span id="trackno_display">______</span></u></label></li>
                    <li style="padding: 10px 0px;float:left;display:inline-block;"><label ><b>Requestor:</b><u><span id="requestor_display">______</span></u></label></li>
                    <li style="padding: 10px 0px;float:right;display:inline-block;"><label ><b>Processor:</b><u><span id="processor_display">______</span></u></label></li>
                    <li style="padding: 10px 0px;float:right;display:inline-block;"><label ><b>Status:</b><u><span id="status_display">______</span></u></label></li>
                </ul>
            </div>

            <div class="loaded_form_content" style="margin:0px auto;position:relative;width:<?php echo ( ($form_json['WorkspaceWidth'] ) ? $form_json['WorkspaceWidth'] : $request_view_datas["form_size"]["width"]); ?>px;height:<?php echo ( ($form_json['WorkspaceHeight']) ? $form_json['WorkspaceHeight'] : $request_view_datas["form_size"]["height"]); ?>px;background-color:#fff;border: 1px solid #ddd;">
<?php if (isset($_GET['embed_type']) && $_GET['embed_type'] == "viewEmbedOnly") { ?>
                    <div style="opacity: -0.5;  z-index: 500;background-color: #fff;width: 100%;height: 100%;position: absolute;"></div>
                <?php } ?>
                
                <!--      Annotation        -->
                <?php
                    $db_annotation = $db->query("SELECT * FROM tb_annotation WHERE Anno_UniqueID={$db->escape($_GET['annoID'])}","row");
                    
                    $loc = upload::getAllfiles_fromDirectory($db_annotation['Anno_location']);
                    $img = $loc[count($loc) - 1];
                    if($_GET['annoID'] != ""){
                    
                ?>
                
                    <div class="annotation-bg" style="background-image: url('<?php echo "/".$db_annotation['Anno_location'] . '/' . $img; ?>');"></div>
                <?php } ?>
                
                
                <script>
                    $(document).ready(function() {
                        var path_name = window.location.pathname;
                        //if (path_name == "/user_view/workspace" && getParametersName("view_type", pathname) == "update") {
                        var requestor_id = $("#request_by").val();
                        //var status = $("#Status").val();
                        //var trackNO = $("#TrackNo").val();
                        ////var requestor_id = $("#Requestor").attr('requestor-name');
                        //$("#requestor_display").html(requestor_id);
                        //$("#trackno_display").html(trackNO);
                        //$("#status_display").html(status);
                        //}
                    });
                    var pathname = window.location;
                    
                    if (getParametersName("view_type", pathname) == "preview" || getParametersName("view_type", pathname) == "report") {
                      
                        var pid = window.opener["pid"];
                        var parseJson_data = jQuery.parseJSON(pid);
                        // Btn Content
                        var workspace_btn = parseJson_data.BtnName;
                        var get_btn = workspace_btn.split(",");
                        for (var a = 0; a < get_btn.length; a++) {
                            $(".input-select").append("<option>" + get_btn[a] + "</option>");
                        }
                        // Form Content   
                        var workspace_content = parseJson_data.WorkspaceContent;
                        var content = workspace_content.replace(new RegExp("setObject cursor_move", "g"), "setOBJ form_upload_photos").replace(new RegExp('disabled="disabled"', 'g'), "");
                        //console.log(content)
                        // Append To content preview form
                        $(".loaded_form_content").append(content);
                        $(".formName").hide();
                        //$(".fl-content").css("width", "100%");
                    }
                    //});
                </script>
<?php
// ob_start();
echobig($request_view_datas["form_content"]);
// ob_flush();
?>
                <script>
                    $(document).ready(function() {
                        var path_name = window.location.pathname;
                        if (path_name == "/user_view/workspace" && getParametersName("view_type", pathname) == "update") {
                            $(".getFields").each(function() {
                                $(this).attr('disabled', true);
                            });
                        }
                    });
                </script>
            </div>
        </form>
    </div>
</div>

<ul class="defaultActionButton display">
    <?php
        echo functions::getDefaultActionButtons($form_json['form_json'],$requestID,$getID,"1");
    ?>
</ul>
<div class="externalLinks display">

</div>