<style type="text/css">
svg.icon-svg.svg-icon-wf-database{width: 90px;}
.svg-icon-wf-database-st0{fill:#FFFFFF;}
.svg-icon-wf-database-st1{fill:#343434;}
.svg-icon-wf-database-st2{fill:#343434;}
.svg-icon-wf-database-st3{fill:#343434;}
</style>
<?php
// Validate if page is not accessible
$mod = unserialize(ENABLE_COMPANY_MOD);
if ($mod['workflows']['create_workflow'] == "1" || $_GET["id"]) {
    ?>



    <?php
    $auth = Auth::getAuth('current_user');
    $userCompany = new userQueries();
    $company = $userCompany->getCompany($auth['company_id']);
    ?>
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <div class="fl-create-workflow-wrapper">
        <?php 
            $workspace_control = "";
            if (WORKSPACE_CONTROL == 'default' || WORKSPACE_CONTROL == 'default-light' || WORKSPACE_CONTROL == 'default-dark') {
                $workspace_control = "default";
                if(WORKSPACE_CONTROL == 'default-light'){
                    $workspace_control_var = "default-theme-light";
                    $theme_radio = 'light';
                }else if(WORKSPACE_CONTROL == 'default-dark'){
                    $workspace_control_var = "default-theme-dark";
                    $theme_radio = 'dark';
                }
            }else {
                $workspace_control = WORKSPACE_CONTROL;
            }

            include_once 'layout/form_controls['.$workspace_control.'].php'; 
         ?>
        <div class="contentBar_workspace fl-workspace2-wrapper">
            <div class="fl-workspace-wrapper">
                <!-- <div class="fl-option-toolbar">
                        <div class="fl-toolbar-left-wrapper">
                                <i class="fa fa-retweet"></i> <span>Workflow Chart</span>
                        </div>
                        <div class="fl-toolbar-right-wrapper">
                                <ul class="fl-breadcrums">
                                        <li><a href="/"><div class="home icon"></div> <i class="fa fa-caret-right"></i></a></li> 
                                        <li><a href="/user_view/organizational_chart">Organizational Chart <i class="fa fa-caret-right"></i></a></li> 
                                        <li><a href="/user_view/formbuilder">Form Builder <i class="fa fa-caret-right"></i></a></li> 
                                        <li><a href="/user_view/workflow">Workflow</a></li>
                                </ul>
                        </div>
                </div> -->
                <div class="fl-workspace fl-workspacev2">
                    <div class="fl-drop-workspace  isDisplayTable fl-set-ruler">
                        <div class="isDisplayTable">
                            <div class="isDisplayTableRow">
                                <div class="isDisplayTableCell"></div>
                                <div class="isDisplayTableCell topPointerRuler-container" style="padding-bottom:4px;">
                                    <i class="fa fa-arrows-h topPointerRuler-tip"></i>
                                </div>
                            </div>
                            <div class="isDisplayTableRow">
                                <div  class="isDisplayTableCell leftPointerRuler-container" style="padding-right: 9px;">
                                    <i class="fa fa-arrows-v leftPointerRuler-tip"></i>
                                </div>
                                <div class="isDisplayTableCell">
                                    <div class="workspace workspacev2 workflow_ws borderLeftNone" data-click-size="false">
                                        <!-- Node -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <?php
                        $db = new Database();
                        $workflow_id = 0;
                        $form_id = $_GET['form_id'];
                        $form = $db->query("SELECT category_id, active_fields FROM tb_workspace WS 
                            WHERE WS.id={$db->escape($form_id)} AND is_delete = 0 ", "row");
                        $category_id = $form['category_id'];
                        $active_fields = $form['active_fields'];
                        if (isset($_GET['id'])) {
                            $workflow_id = $_GET['id'];
                            //Get WORKFLOW information and nodes query
                            $workflow_nodes_array = $db->query("SELECT * FROM tbworkflow tbw LEFT JOIN tbworkflow_objects tbwo
                                     on tbw.id = tbwo.workflow_id 
                                     WHERE tbw.id = '" . $workflow_id . "' AND tbw.is_delete = 0", "array");
                            if (count($workflow_nodes_array) == 0) {
                                header("location:/");
                            }

                            $ws_size = json_decode($workflow_nodes_array[0]['tbw_json'], true);
                            $title = $workflow_nodes_array[0]['title'];
                            $description = $workflow_nodes_array[0]['description'];
                            $ws_height = $ws_size['height'];
                            $ws_width = $ws_size['width'];
                            $tpl_form_size = $ws_size['template_form_size'];
                            //node array
                            $nodes_json = array();
                            //extract nodes and add to array
                            foreach ($workflow_nodes_array as $workflow_nodes) {
                                $node_json = json_decode($workflow_nodes['json'], true);
                                if ($node_json['processorType'] == "2") {
                                    $getPosition = $db->query("SELECT position FROM tbpositions WHERE id = '" . $node_json['processor'] . "' AND is_active = 1", "row");
                                    $node_json['node_text'] = $getPosition['position'];
                                }
                                if(!$node_json['workflow_delegate_enabled']){
                                    $node_json['workflow_delegate_enabled'] = false;
                                }
                                $node_json = json_encode($node_json);
                                if ($node_json != "null") {
                                    array_push($nodes_json, $node_json);
                                }
                            }
                            //convert array to json array
                            $nodes_json = json_encode($nodes_json);

                            //Get WORKFLOW lines query
                            $workflow_lines_array = $db->query("SELECT * FROM tbworkflow_lines 
                                      WHERE workflow_id = '" . $workflow_id . "'", "array");
                            //lines array
                            $lines_json = array();
                            //extract lines and add to array
                            foreach ($workflow_lines_array as $workflow_lines) {
                                array_push($lines_json, $workflow_lines['json']);
                            }
                            $lines_json = json_encode($lines_json);
                        }
                        ?>
                        <div id="workflowID" class="display"><?php echo $workflow_id; ?></div>
                        <div id="workflow_title" class="display"><?php echo $title; ?></div>
                        <div id="workflow_description" class="display"><?php echo $description; ?></div>
                        <div id="workflow_nodes" class="display"><?php echo htmlentities($nodes_json); ?></div>
                        <div id="workflow_lines" class="display"><?php echo $lines_json; ?></div>
                        <div id="workflow_height" class="display"><?php echo $ws_height; ?></div>
                        <div id="workflow_width" class="display"><?php echo $ws_width; ?></div>
                        <div id="tpl_form_size" class="isDisplayNone"><?php echo $tpl_form_size; ?></div>
                        <input name="workflow_id" id="form_id" relForm = "form_id" class="display" type="text" value="<?php echo $form_id ?>" />
                        <input class="display userLevel" type="text" value="<?php echo $auth['user_level_id'] ?>" />
                        <div id="active_fields" class="display"><?php echo htmlentities($active_fields); ?></div>


                    </div>
                </div><!-- /end of display table -->
                <div class="clearfix"></div>
            </div><!-- /end of fl-workspace -->

    <?php
    $search = new Search();
    $fs = new functions();
    /* FOR EMAIL */
//get departments
    $getAllDepartment = $search->getAllDepartmentV2();
    echo "<div class='departments display'>" . json_encode($getAllDepartment) . "</div>";

//get positions
    $getPosition = $search->getAllPositionV2();
    echo "<div class='positions display'>" . json_encode($getPosition) . "</div>";

//get users
    $getUsers = $search->getAllUsers(" AND user_level_id != 4");
    echo "<div class='users display'>" . json_encode($getUsers) . "</div>";

//get groups
    $getFormGroups = $search->getFormGroups();
    echo "<div class='all_groups display'>" . json_encode($getFormGroups) . "</div>";


// print_r($getFormUsers);



    /* FOR USERS */

//get departments
    $getFormUsersByDepartments = $search->getFormUsersByDepartments(" AND fcu.form_category_id = '$category_id' AND fu.form_id = '$form_id'");

    echo "<div class='form_departments display'>" . json_encode($getFormUsersByDepartments) . "</div>";

//get positions
    $getFormUsersByPositions = $search->getFormUsersByPositions(" AND fcu.form_category_id = '$category_id' AND fu.form_id = '$form_id'");
    echo "<div class='form_positions display'>" . json_encode($getFormUsersByPositions) . "</div>";

//get users
    $getFormUsersByUsers = $search->getFormUsersByUsers(" AND fcu.form_category_id = '$category_id' AND fu.form_id = '$form_id'");
    echo "<div class='form_users display'>" . json_encode($getFormUsersByUsers) . "</div>";

//get groups
    $getFormUsersByGroups = $search->getFormUsersByGroups(" AND fcu.form_category_id = '$category_id' AND fu.form_id = '$form_id'");
    echo "<div class='form_group display'>" . json_encode($getFormUsersByGroups) . "</div>";



// $getForms = $db->query("SELECT id,form_name FROM tb_workspace WHERE company_id={$db->escape($auth['company_id'])} AND is_active =1 AND is_delete = 0 ","array");
    $getForms = json_encode($search->getAllActiveForms());
    $getForm_properties = $db->query("SELECT * FROM tb_workspace WHERE id={$db->escape($form_id)} AND is_delete = 0 ", "row");


    $active_fields = functions::getFormFieldsData(" WHERE form_id = '". $form_id ."'");//functions::getFormFields($form_id);
    $form_columns = array();
    $form_columnsV2 = array();
    foreach ($active_fields as $value) {
        array_push($form_columns, $value['field_name']);
    }
    sort($form_columns, SORT_NATURAL | SORT_FLAG_CASE);

//v2

    $getFieldsLabel = $fs->getFields("WHERE form_id = " . $form_id . " AND field_type NOT IN(" . $search->searchFieldNotIncluded() . ") ORDER BY data_field_label ASC");
    if (count($getFieldsLabel) > 0) {
        foreach ($getFieldsLabel as $value) {
            $label = $fs->removeSpecialChars($value->label); //preg_replace('/[^A-Za-z0-9\. -]/', '', $getFieldsLabel[0]->label);
            array_push($form_columnsV2, array("name" => $value->name, "label" => $label, "field_input_type" => $value->input_type, "data-type" => $value->type));
        }
    }
//form properties and others
    echo '<input type="text" class="class form_buttons display" value="' . $getForm_properties['form_buttons'] . '">';
    echo '<input type="text" class="class form_fields display" value=' . json_encode($form_columns) . ' />';
    echo '<div class="class form_fieldsV2 display">' . htmlentities(json_encode($form_columnsV2)) . '</div>';
    echo '<input type="text" class="class  display" id ="enable_deletion" value="' . $getForm_properties['enable_deletion'] . '" />';
    echo '<input type="text" class="class  display" id ="category_id" value=' . $category_id . ' />';
// echo '<div class="company_forms display">' . htmlspecialchars(json_encode($getForms)) . ' </div>';
    echo '<div class="company_forms display">' . htmlentities($getForms) . ' </div>';
    $module_linkss = WORKSPACE_AVAILABLE_REDIRECTION;

    $module_linkss = unserialize($module_linkss);
    ksort($module_linkss);

    if($mod['others']['notification']=="0"){
        unset($module_linkss['Notifications']);
    }
    if($mod['others']['message']=="0"){
        unset($module_linkss['Messages']);
    }
    echo '<div class="display" id="wf-landing_page">'.json_encode($module_linkss).'</div>';


    //get external connection

    $externalDB = new ExternalDatabase($db);

    $getExternalConn = $externalDB->getExternalDB(" AND tbe_d.is_active = 1","","",$auth['company_id'],"array");


    echo '<div class="display" id="wf-external-connections-list">'.htmlentities(json_encode($getExternalConn)).'</div>';
    ?>	

            <!-- <div class="fl-form-properties-wrapper">
                    <div class="fl-widget-head">
                            <span class="widget-title"><i class="fa fa-cogs"></i> properties</span>
                            <div class="fl-form-properties-toggle">
                                    <i class="fa fa-chevron-right"></i>
                            </div>
                    </div>
                    <div class="fl-props-container">
                            <div class="fl-form-setting-wrapper">
                                    <div class="fl-widget-head">
                                            <span class="widget-title">Form Settings</span>
                                            <span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="fl-form-setting-content fl-for-scroll">
                                            <label>Custom Form Size</label>
                                            <div class="fl-option-form-wrapper">
                                                    <input type="text" style="float:left;" placeholder="Width" value="1030">
                                                    <input type="text" style=" float:right;" placeholder="Width" value="600">
                                                    <div class="clearfix"></div>
                                            </div>
                                            <div class="fl-option-form-wrapper">
                                                    <label>Form Size</label>
                                                    <select class="form-select form_size">
                                <option value="8.5x11">Letter(8.5in x 11in)</option> 
                                <option value="8.5x14">Legal(8.5in x 14in)</option> 
                                <option value="7.25x10.5">Executive(7.25in x 10.5in)</option> 
                                <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
                                <option value="33.11x46.61">A0(33.11in x 46.61in)</option> 
                                <option value="23.39x33.11">A1(23.39in x 33.11in)</option> 
                                <option value="16.53x23.39">A2(16.53in x 23.39in)</option> 
                                <option value="11.69x16.53">A3(11.69in x 16.53in)</option> 
                                <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
                            </select>	
                                            </div>
                                            <div class="fl-option-form-wrapper">
                                                    <label>Show Ruler</label><Br/>
                                                    <label>Yes: <input type="radio" value="yes" class="f-show-ruler" name="show-form-ruler-select"></label>
                                                    <label>No: <input type="radio" value="no" checked="checked" class="f-show-ruler" name="show-form-ruler-select"></label>
                                                    
                                            </div>
                                    </div>
                            </div>
                            <div class="fl-form-actions-wrapper">
                                    <div class="fl-widget-head">
                                            <span class="widget-title">Form Actions</span>
                                            <span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="fl-form-actions-content fl-for-scroll">
                                             <button class="btn-basicBtn padding_5 cursor save_workspace tip fl-command-btn" data-original-title="Save Workflow" data-workspace="Workflow Chart" data-form-type="workflow"><i class="fa fa-floppy-o"></i> Save</button>
                                            <button class="btn-basicBtn padding_5 cursor clear_all_nodes fl-command-btn tip" data-original-title="Clear Workspace"><i class="fa fa-times"></i> Clear All</button>
                                            <button class="btn-basicBtn padding_5 cursor preview_form tip fl-command-btn" data-original-title="Preview Workflow" data-form-type="workflow"><i class="fa fa-search"></i> Preview</button>
                                            <a href="/user_view/formbuilder?formID=<?php echo $_GET['form_id']; ?>&view_type=edit" class="tip cursor" data-original-title="Related Form" data-placement="top" id="" data-form-id="1" style=""><button class="btn-basicBtn fl-command-btn padding_5 cursor"><i class="fa fa-list-alt"></i> Form</button></a>

                                    </div>
                            </div>
                            <div class="fl-form-controls-wrapper">
                                    <div class="fl-widget-head">
                                            <span class="widget-title">Form Controls</span>
                                            <span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-plus"></i></span>
                                    </div>
                                    <div class="fl-form-controls-content fl-for-scroll">
                                            <button class="btn-basicBtn padding_5 cursor start_node tip fl-command-btn" data-original-title="Add Start Node" data-object-type="startNode" data-drop="workspace"><i class="fa fa-play-circle-o"></i> Start Node</button>
                     <button class="btn-basicBtn padding_5 cursor end_node tip fl-command-btn" data-original-title="Add End Node" data-object-type="endNode" data-drop="workspace"><i class="fa fa-stop"></i> End Node</button>
                    <button class="btn-basicBtn padding_5 cursor process_node tip fl-command-btn" data-original-title="Add Process Node" data-object-type="processNode" data-drop="workspace"><i class="fa fa-user"></i> Process Node</button>

                                            <button class="btn-basicBtn padding_5 cursor  conditional_node tip fl-command-btn" data-original-title="Add Conditional Node" data-object-type="conditionalNode" data-drop="workspace"><i class="fa fa-question-circle"></i> Conditional</button>
        
        
                </div>
                            </div>
                    </div>
            </div> --><!-- /end of fl-form-properties -->
            <div class="clearfix"></div>
        </div>
    </div>	
    </div>

<?php } else {
    $this->setInclude('error');
} ?>