
<link rel="stylesheet" href="/css/jquery-ui.css" />

<!-- <script type="text/javascript" src="/js/functions/groups.js"></script> -->
<!-- <script type="text/javascript" src="/js/functions/maersk/maersk.js"></script> -->
<input type="text" class="display" id="maersk_custom_button" value="<?php echo htmlentities(json_encode(unserialize(maersk_custom_button))); ?>">
<input type="text" class="display" id="config_external_link" value="<?php echo ALLOW_EXTERNAL_LINKS; ?>">
<input type="text" class="display" id="config_default_actions" value="<?php echo ALLOW_DEFAULT_ACTIONS; ?>">
<input type="text" class="display" id="app_config_deletion" value="<?php echo ENABLE_DELETION; ?>">
<input type="text" class="display" id="enable_doc_lock" value="<?php echo DOCLOCK_ACTIVE; ?>">
<input type="text" class="display" id="app_config_formbuilder_form_events" value="<?php echo ENABLE_FORMBUILDER_FORM_EVENTS; ?>">
<?php
$conn = getCurrentDatabaseConnection();
$redis_cache = getRedisConnection();
$db = new Database();
$auth = Auth::getAuth('current_user');
$fs = new functions();
$guest = new Guest_Account();
$search = new Search();

$form_id = $_GET["formID"];
$request_id = $_GET["requestID"];

$form_data = getFormWorkspaceData($conn, $form_id);
$tblname = $form_data["form_table_name"];
// Request Seen Logs
$request = new Request();
if ($_GET['view_type'] == "request" && $_GET['formID'] != "0" && isset($_GET['requestID']) && isset($_GET['trackNo'])) {
    $request->request_seen($_GET, $auth);
    $request_details = getRequestDetails($conn, $form_id, $request_id, $auth, $auth["id"], $tblname);
    $conn->disConnect();
} else if ($_GET['view_type'] == "update" && $_GET['formID'] != "0" && isset($_GET['requestID']) && isset($_GET['trackNo'])) {
    $request->request_seen($_GET, $auth);
    $request_details = getRequestDetails($conn, $form_id, $request_id, $auth, $auth["id"], $tblname);
    $conn->disConnect();
}

// For Data Decryption

$encrypted_selected_flds = $request->encrypt_decrypt_request_details($form_data['form_json']);
// var_dump($encrypted_selected_flds);
$form_data_decrypted = $request->validate_fields_in_encryption_decryption($request_details, "decrypt", $encrypted_selected_flds);

$new_data = array();

array_push($new_data, $form_data_decrypted);

// End of data decryption

if (ALLOW_GUEST == "1") {

    $date = $fs->currentDateTime();
    $url = $fs->encode_decode_url($fs->curPageURL("module_parameter"), "decode");
    $query_str = parse_url($url, PHP_URL_QUERY);
    parse_str($query_str, $query_params);


    if (isset($query_params) && isset($query_params['authentication']) && isset($query_params['type']) && isset($query_params['log_type'])) {
        if ($query_params['authentication'] == "login" && $query_params['type'] == "guest" && $query_params['log_type'] == "user") {
            // Check Instance
            $guest_list = $db->query("SELECT * FROM tb_guest WHERE guest_type = {$db->escape('guest')} AND guest_formID = {$db->escape($query_params['formID'])} AND guest_user_id = {$db->escape($auth['id'])}", "numrows");
            if ($guest_list == "0") {
                // Send Email Confirmation
                // EMAIL();
                //echo $email->notify_user("regCompany","Formalistics",$userID,"company");


                $json_encode = json_encode(array("data_action" => "guest",
                    "guest_email" => $auth['email'],
                    "guest_url" => $url));

                $insert = array("guest_user_id" => $auth['id'],
                    "guest_json" => $json_encode,
                    "guest_type" => "guest",
                    "guest_date" => $date,
                    "guest_added_by" => $auth['id'],
                    "guest_formID" => $query_params['formID'],
                    "guest_requestID" => $query_params['requestID'],
                    "guest_trackNo" => "",
                    "guest_is_active" => "1");
                $db->insert("tb_guest", $insert);
                // Audit Logs
                $insert_audit_rec = array("user_id" => $query['id'],
                    "audit_action" => "1",
                    "table_name" => "tbcompany",
                    "record_id" => $query['id'],
                    "date" => $date,
                    "ip" => $_SERVER["REMOTE_ADDR"],
                    "is_active" => 1);
                $audit_log = $db->insert("tbaudit_logs", $insert_audit_rec);
            }
        }
    }
}


// Get Other Info
$other_user_info = new Other_User_Info($db, $auth['id']);
$userCompany = new userQueries();
//$company = $userCompany->getCompany($auth['company_id']);
$upload = new upload();
//$personDoc = new Person($db, $auth['id']);
//$userDepartmentName = $personDoc->department->name;
//$formDoc = new Form($db, $_GET['formID']);
//data source static

$form_json = json_decode($form_data["form_json"], true);

$form_variables = $form_json["form_json"]["form_variables"];
// kath needed this
$panel_design_type = $form_json["form_json"]['form_action_panel']['panel_design_type'];
$panel_menu_position = $form_json["form_json"]['form_action_panel']['panel_menu_position'];


foreach ($form_variables as $var) {
    if ($var["var_compute_type"] == "static") {
        $formulaDoc = new Formula($var["var_formula"]);
        $formulaDoc->addFormSourceData(array("RequestID" => $request_id));
        $_SESSION["DataSource_" . $var["var_name"]] = $formulaDoc->evaluate();
    }
}

$application_id = $_COOKIE['application'];


// $YEAH_FORMULA = new Formula("@Department[Requestor] + @TrackNo + @DEPARTMENTFIELD");
// print_r($YEAH_FORMULA->setSourceForm("DYNAMIC_TABLE_TESTING","*",array("TESTING3DIGIT"=>"JC000") ) );
// print_r($YEAH_FORMULA->getProccessedFormula());
// $YEAH_FORMULA = new Formula("@Lookup('DYNAMIC_TABLE_TESTING' , 'TrackNo')");
// print_r($YEAH_FORMULA->getProccessedFormula());
// $YEAH_FORMULA = new Formula("@Concat('DYNAMIC_TABLE_TESTING' , 'TrackNo','biscuites')");
// print_r($YEAH_FORMULA->getProccessedFormula());
// print_r(eval($YEAH_FORMULA->getProccessedFormula()));
$displayPreviewStyle = "";
$print_form_id = "0";
if ($_GET['view_type'] == "preview") {
    $formWidth = $_GET['formWidth'];
    $formHeight = $_GET['formHeight'];
    $form_container = "style='margin: 0px auto;width:" . $formWidth . "px;'";
    $form_size = "style=' background-color: #fff;height:" . $formHeight . "px;'";
    $displayPreviewStyle = "display:none !important;";
    if ($_GET['type'] == "flowchart" || $_GET['type'] == "orgchart") {

        //include css for nodes
        //created by aaron tolentino
        ?>
        <link rel="stylesheet" href="/js/functions/create_flowchart/node.css" />
        <link rel="stylesheet" href="/js/functions/create_flowchart/adminnodes/stylesheets/base.css" />
        <link rel="stylesheet" href="/js/functions/create_flowchart/adminnodes/stylesheets/ie.css" />
        <link rel="stylesheet" href="/js/functions/create_flowchart/adminnodes/stylesheets/print.css" />
        <link rel="stylesheet" href="/js/functions/create_flowchart/adminnodes/stylesheets/screen.css" />

        <?php
    }
} elseif ($_GET['view_type'] == "request" || $_GET['view_type'] == "report") {
    // Get Workspace Information
    $getID = $_GET['formID'];
    $requestID = $_GET['requestID'];

    $form = $form_data;

    $form_json = json_decode($form['form_json'], true);

    if ($redis_cache) {
        $cache_related_info = json_decode($redis_cache->get("related_info"), true);
    }

    if ($cache_related_info[$form_id]) {
        $getModules = $cache_related_info[$form_id];
    } else {
        $query_condition = functions::setRelatedInfoConditions($form_json['form_json']['external_link']);
        $getModules = $search->getModules($query_condition);

        if ($redis_cache) {
            if (!$cache_related_info) {
                $cache_related_info = array();
            }
            $cache_related_info[$form_id] = $getModules;
            $redis_cache->set("related_info", json_encode($cache_related_info));
        }
    }

    $form_container = "style='margin: 0px auto;width:" . $form_json['WorkspaceWidth'] . "px;'";
    $form_size = "style=' background-color: #fff;height:" . $form_json['WorkspaceHeight'] . "px;'";

    $fieldEnabled = $form['fieldEnabled'];
    $fieldRequired = $form['fieldRequired'];
    $fieldHiddenValues = $form['fieldHiddenValue'];
    $print_form_id = $form["generate_id"];
//    $getGeneratePrint = $db->query("SELECT * FROM tb_generate WHERE form_id={$db->escape($getID)}", "row");
//    if ($getGeneratePrint) {
//        $print_form_id = $getGeneratePrint['id'];
//    }
} elseif ($_GET['view_type'] == "update") {
    // Get Workspace Information
    $getID = $_GET['ID'];
    $requestID = $_GET['requestID'];

    $str = "SELECT WS.*, WFO.workflow_id, WFO.buttonStatus,WFO.fieldEnabled, WFO.fieldRequired, WFO.fieldHiddenValue FROM tb_generate WS 
                           LEFT JOIN tbworkflow WF
                            ON WS.form_id = WF.form_id 
                           LEFT JOIN tbworkflow_objects WFO
                            ON WFO.workflow_id = WF.id 
                            WHERE WS.id={$db->escape($getID)} AND WFO.type_rel = '1'  AND WF.Is_Active = '1' AND WF.is_delete = 0";
    $form = $db->query($str, "row");


    $form_json = json_decode($form['form_json'], true);
    $json_form = $form_json['form_json'];
    $form_container = "style='margin: 0px auto;width:" . $form_json['WorkspaceWidth'] . "px;'";
    $form_size = "style=' background-color: #fff;height:" . $form_json['WorkspaceHeight'] . "px;'";
    $query_condition = functions::setRelatedInfoConditions($form_json['form_json']['external_link']);
    $getModules = $search->getModules($query_condition);
    $fieldEnabled = $form['fieldEnabled'];
    $fieldRequired = $form['fieldRequired'];
    $fieldHiddenValues = $form['fieldHiddenValue'];
}

echo "<input class='isDisplayNone' type='text' id='print-form-id' value='" . $print_form_id . "'>";
$request_view_datas = createRequestView($_GET);

// Get form name
$form_name = $form['form_table_name'];
$enable_deletion = $form['enable_deletion'];

//$request_details = $db->query("SELECT * FROM " . $form_name . " WHERE ID={$db->escape($_GET['requestID'])}", "row");
//$requestor_details = $db->query("SELECT * FROM tbuser WHERE id={$db->escape($request_details['Requestor'])}", "row");
//$get_processor_details = $db->query("SELECT * FROM `tbuser` WHERE id IN (" . $request_view_datas["auth_id"] . ") AND is_active={$db->escape(1)}", "row");

if ($redis_cache) {
    $cache_previous_record = json_decode($redis_cache->get("request_previous_" . $form_id . "::" . $request_id), true);
    $cache_next_record = json_decode($redis_cache->get("request_next_" . $form_id . "::" . $request_id), true);
}

if ($cache_previous_record) {
    $prev_form_id = $cache_previous_record;
} else {
    $prev_form_id = $db->query("SELECT id FROM `tb_workspace` WHERE id < $getID ORDER BY id DESC LIMIT 1", "row");

    if ($redis_cache) {
        $redis_cache->set("request_previous_" . $form_id . "::" . $request_id, json_encode($prev_form_id));
    }
}


if ($cache_next_record) {
    $next_form_id = $cache_next_record;
} else {
    $next_form_id = $db->query("SELECT id FROM `tb_workspace` WHERE id > $getID ORDER BY id ASC LIMIT 1", "row");
    if ($redis_cache) {
        $redis_cache->set("request_next_" . $form_id . "::" . $request_id, json_encode($next_form_id));
    }
}




$form_link = $form_json['form_json']['external_link'];
$query_condition = functions::setRelatedInfoConditions($form_json['form_json']['external_link']);
//echo "form id: " . $getID . "previous: ". $prev_form_id['id'] . ", next: " . $next_form_id['id'];
?>
<?php
if ($_GET['view_type'] == "preview") {

    if ($_GET['type'] == "orgchart") {
        echo "<h1 class='fl-workspace-preview-title'>Organization Chart Preview</h1>";
    } elseif ($_GET['type'] == "flowchart") {
        echo "<h1 class='fl-workspace-preview-title'>Workflow Preview</h1>";
    } else {
        echo "<h1 class='fl-workspace-preview-title'>Workspace Preview</h1>";
    }
}

//if (ALLOW_PROCESSOR_ATTACHMENT != "1") {
//    if ($request_details['Requestor'] == $auth['id'] && $_GET['requestID'] != "0") {
//        $display = "";
//    } elseif ($request_details['Requestor'] != $auth['id'] && $_GET['requestID'] == "0") {
//        $display = "";
//    } else {
//        $display = "display";
//    }
//} else {
//    $display = "";
//}
///* ========== Get Attachment files ========== */
//$path = "images/attachment";
//
//if (isset($_GET['trackNo'])) {
//    $trackNo = $_GET['trackNo'];
//} else {
//    $trackNo = $request_details['TrackNo'];
//}
//$id_encrypt = md5(md5($trackNo));
//$dir = $path . "/" . $id_encrypt;
///* ========== Get all files from the directory ========== */
//$getAttachment = $upload->getAllfiles_fromDirectory($dir);
///* ========== List of files ========== */
//foreach ($getAttachment as $files) {
//    $get_extension = explode(".", $files);
//    $extension = $get_extension[count($get_extension) - 1];
//    /* ========== Determine if files is an image or not ========== */
//    $formats = array("jpg", "png", "JPG", "PNG", "GIF", "gif");
//    if (!in_array($extension, $formats)) {
//        echo '<div>';
//        echo '<form class="pull-left" method="POST" >';
//        echo '<div>';
//        echo '<input type="submit" class="cursor tip" data-original-title="Download Attachment"/><i class="fa fa-download"></i> ';
//        echo '<i class="' . $display . ' fa fa-trash-o cursor tip removeFiles" data-original-title="Remove Attachment" data-file="' . $files . '" data-location="' . $dir . '/' . $files . '"></i>';
//        echo '</div>';
//        echo '<a class="download_attachment">';
//        echo '<div data-name="' . $files . '" class="AFiles_only avatar AFiles tip" data-original-title="' . $files . '" title="' . $files . '"><i class="fa fa-file"></i></div>';
//        echo '</a>';
//        //echo '<input type="submit"/>';
//        echo '<input type="hidden" value="' . $files . '" name="attachment_filename"/>';
//        echo '<input type="hidden" value="' . $dir . '/' . $files . '" name="attachment_location"/>';
//
//        echo '</form>';
//        echo '</div>';
//    } else {
//        echo '<div style="float:left;background-color:#fff;border:1px solid #D5D5D5;border-radius:5px;padding:5px;margin-left:5px;min-height:40px;">';
//        echo '<form class="pull-left" method="POST">';
//        echo '<div style="text-align: center;">';
//        echo '<input type="submit" style="opacity: 0;position: absolute;width: 10px;" class="cursor tip" data-original-title="Download Attachment"/><i class="fa fa-download"></i> ';
//        echo '<i class="fa fa-trash-o cursor tip removeFiles" data-original-title="Remove Attachment" data-file="' . $files . '" data-location="' . $dir . '/' . $files . '"></i>';
//        echo '</div>';
//        echo '<a class="download_attachment">';
//        echo '<img data-name="' . $files . '" src="/' . $dir . '/' . $files . '" width="25" height="25" class="AFiles imagetoPost avatar userPhoto personalPhoto userAvatar" data-original-title="' . $files . '" title="' . $files . '">';
//        echo '</a>';
//        //echo '<input type="submit"/>';
//        echo '<input type="hidden" value="' . $files . '" name="attachment_filename"/>';
//        echo '<input type="hidden" value="' . $dir . '/' . $files . '" name="attachment_location"/>';
//        echo '</form>';
//        echo '</div>';
//    }
//    
//  
//}
//
//
$workspace_control = "";
if (WORKSPACE_CONTROL == 'default' || WORKSPACE_CONTROL == 'default-light' || WORKSPACE_CONTROL == 'default-dark') {
    $workspace_control = "default";
    if (WORKSPACE_CONTROL == 'default-light') {
        $workspace_control_var = "default-theme-light";
    } else if (WORKSPACE_CONTROL == 'default-dark') {
        $workspace_control_var = "default-theme-dark";
    }
} else {
    $workspace_control = WORKSPACE_CONTROL;
}
include 'layout/controlstemp[' . $workspace_control . '].php';

// kath needed this
$loaded_form_content_margin_bottom = "";

if ($panel_menu_position == 1) {
    $loaded_form_content_margin_bottom = "47px";
} else {
    $loaded_form_content_margin_bottom = "17px";
}
?>

<div class="fl-body-content-wrapper preview_content">

    <form id="frmrequest" method="POST" action="/ajax/request" data-type="" style="display:inline-block;position:relative;width:100%;height:100%;">
        <div class="display">
            <!-- INPUT FIELD STANDARDS -->
            <input type="text" name="FormAuthEmail" id="FormAuthEmail" value="<?php echo $auth['email']; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="FormAuthID" id="FormAuthID" value="<?php echo $auth['id']; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="FormID" id="FormID" value="<?php echo $_GET['formID']; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="FormName" id="FormName" value="<?php echo $form_data["form_name"]; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="FormJson" id="FormJson" value="<?php echo htmlentities($form_data["form_json"]); ?>" data-type="longtext" class="getFields" />
            <div id="FormJsonDiv" attr-test="true">
<?php echo htmlentities($form_data["form_json"]); ?>
            </div>
                <?php
                functions::currentDateTime();
                $timezone = "Asia/Manila";
                if (function_exists('date_default_timezone_set'))
                    date_default_timezone_set($timezone);
                ?>
            <?php
            $date_object = array(
                'year' => date('Y'),
                'month' => date('m'),
                'day' => date('d'),
                'hours' => date('H'),
                'minutes' => date('i'),
                'seconds' => date('s')
            );
            ?>
            <input type="text" name="currentDateTime" id="currentDateTime" value="<?php echo date("F d, Y H:i:s"); ?>" data-js-time-format="<?php echo date("D M d Y H:i:s \G\M\TO"); ?>" data-js-object-time="<?php echo htmlentities(json_encode($date_object, JSON_PRETTY_PRINT)); ?>" data-type="longtext" class="getFields" />

            <input type="text" name="WorkflowId" id="WorkflowId" value="<?php echo $request_view_datas["workflow_id"]; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="ID" id="ID" value="<?php echo $_GET['requestID']; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="TrackNo" id="TrackNo" value="<?php echo $trackNo; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="Requestor" requestor-name="<?php echo $request_view_datas["auth_display_name"]; /* $request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"]; */ ?>" value="<?php echo $request_view_datas["auth_id"]; ?>" id="Requestor" data-type="longtext" class="getFields" />
            <input type="text" name="CurrentUser" current-user-name="<?php echo $request_view_datas["auth_display_name"]; /* $request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"]; */ ?>" value="<?php echo $request_view_datas["auth_id"]; ?>" id="CurrentUser" data-type="longtext" class="getFields" />
            <input type="text" name="Status" id="Status" value="<?php echo $request_details[0]['Status']; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="request_by" id="request_by" value="<?php echo $request_details[0]['Requestor_Name']; ?>" data-type="longtext" class="getFields" />
            <input type="text" name="processor_by" id="processor_by" value="<?php echo $request_details[0]['Processor_Name']; ?>" data-type="longtext" class="getFields" />

            <!-- Other Info -->
            <input type="text" name="other_info_user_location" id="other_info_user_location" value="<?php echo $other_user_info->location; ?>" data-type="longtext" class="getFields" />

            Processor
            <input type="text" name="Processor" value="<?php echo $request_view_datas["auth_id"]; ?>" processor-name="<?php echo $request_view_datas["auth_display_name"]; /* $request_view_datas["auth_first_name"]." ".$request_view_datas["auth_last_name"]; */ ?>" id="Processor" data-type="longtext" class="getFields" />
            <input type="text" name="ProcessorType" value="<?php echo $request_view_datas["auth_id"]; ?>" processor-name="<?php echo $request_view_datas["auth_first_name"] . " " . $request_view_datas["auth_last_name"]; ?>" id="ProcessorType" data-type="longtext" class="getFields" />
            <input type="text" name="ProcessorID" value="<?php echo $request_view_datas["auth_id"]; ?>" processor-name="<?php echo $request_view_datas["auth_first_name"] . " " . $request_view_datas["auth_last_name"]; ?>" id="ProcessorID" data-type="longtext" class="getFields" />
            Dashboard page
            <input type="text" name="DashboardPage" value="<?php echo "/user_view/application?id=" . functions::base_encode_decode("encrypt", $form_data["id"]); ?>" id="DashboardPage" />
            <input type="text" name="LastAction" id="LastAction" value='<?php echo $request_view_datas["buttonStatus"]; ?>' data-type="longtext" class="getFields" />
            <input type="text" name="DateCreated" id="DateCreated" data-type="longtext" class="getFields" />
            <input type="text" name="DateUpdated" id="DateUpdated" data-type="longtext" class="getFields" />
            <input type="text" name="CreatedBy" value="<?php echo $request_view_datas["auth_id"]; ?>" id="CreatedBy" data-type="longtext" class="getFields" />
            <input type="text" name="UpdatedBy" value="<?php echo $request_view_datas["auth_id"]; ?>" id="UpdatedBy" data-type="longtext" class="getFields" />
            <input type="text" name="Unread" id="Unread" data-type="longtext" class="getFields" />
            <input type="text" name="Node_ID" id="Node_ID" data-type="longtext" class="getFields" />
            <input type="text" name="status-embed" id="status-embed" data-type="longtext" class="getFields" />
            <input type="text" name="prop-emebed" id="prop-emebed" data-type="longtext" class="getFields" />
            <input type="text" name="Workflow_ID" id="Workflow_ID" data-type="longtext" class="getFields" />
            <input type="text" name="Mode" id="Mode" value="formApproval" data-type="longtext" class="getFields" />
            <input type="text" name="imported" id="imported" data-type="longtext" class="getFields" />
            <input type="text" name="computedFields" id="computedFields" />
            <input type="text" name="fieldEnabled" id="fieldEnabled" value=' <?php echo $request_view_datas["fieldEnabled"]; ?> ' data-type="longtext" class="getFields" />
            <input type="text" name="fieldRequired" id="fieldRequired" value=' <?php echo $request_view_datas["fieldRequired"]; ?> ' data-type="longtext" class="getFields" />
            <input type="text" name="KeywordsField" id="KeywordsField" data-type="longtext" class="" />
            <input type="text" name="Repeater_Data" value="<?php echo $request_view_datas["Repeater_Data"]; ?>" id="Repeater_Data" data-type="longtext" class="" />
            <input type="text" name="Department_Name" value="<?php echo $request_view_datas["userDepartmentName"]; ?>" id="Department_Name" data-type="longtext" class="" />
            <input type="text" name="Editor" value="<?php echo $request_view_datas["Editor"]; ?>" id="Editor" data-type="longtext" class="" />
            <input type="text" name="AdditionalEditors" value="" id="AdditionalEditors" data-type="longtext" class="" />
            <input type="text" name="AdditionalReaders" value="" id="AdditionalReaders" data-type="longtext" class="" />
            <input type="text" name="RequireComment" value="" id="RequireComment" data-type="longtext" class="" />
            <input type="text" name="enable_deletion_forma" value="<?php echo $enable_deletion; ?>" id="enable_deletion_forma" data-type="longtext" class="" />
            <input type="text" name="delete_access_forma" value="" id="delete_access_forma" data-type="longtext" class="" />
            <input type="text" name="deletion-type" value="" id="deletion-type" data-type="longtext" class="<?php echo $form['deletion_type']; ?>" />


            Save and Cancel Formulas
            <input type="text" name="SaveFormula" value="" id="SaveFormula" data-type="longtext" class="" />
            <input type="text" name="CancelFormula" value="" id="CancelFormula" data-type="longtext" class="" />

            <!-- ========== GET FIELD ENABLED, FIELD REQUIRED AND FIELD HIDDEN VALUES ========== -->
            <div class="fieldEnabled"><?php echo $request_view_datas["fieldEnabled"]; ?></div>
            <div class="fieldRequired"><?php echo $request_view_datas["fieldRequired"]; ?></div>
            <div class="fieldHiddenValues"><?php echo $request_view_datas["fieldHiddenValues"]; ?></div>

            <div class="fieldEnabled_default"><?php echo $request_view_datas["fieldEnabled"]; ?></div>
            <div class="fieldRequired_default"><?php echo $request_view_datas["fieldRequired"]; ?></div>
            <div class="fieldHiddenValues_default"><?php echo $request_view_datas["fieldHiddenValues"]; ?></div>
            <input type="text" class="preview-nodes" value="<?php
            if (isset($_GET['type']) && $_GET['type'] == "flowchart" || $_GET['type'] == "orgchart") {
                echo "true";
            } else {
                echo "false";
            }
            ?>">
            <!-- ========== Files Json ========== -->
            <input type="text" name="attachment_files" id="view_attachment_files" />

            <!-- ========== Get post save formevent formula script -->
            <input type="text" name="forma_postsave_formula" id="forma_postsave_formula" />
        </div>
        <!--      Annotation        -->
<?php
if (isset($_GET['annoID'])) {
    $db_annotation = $db->query("SELECT * FROM tb_annotation WHERE Anno_UniqueID={$db->escape($_GET['annoID'])}", "row");

    $loc = upload::getAllfiles_fromDirectory($db_annotation['Anno_location']);
    $img = $loc[count($loc) - 1];
    $url_img = "/" . $db_annotation['Anno_location'] . '/' . $img;
    echo '<input type="hidden" id="current_annotation" value="' . $url_img . '" >';
} else {
    $annotation = $db->query("SELECT * FROM tb_annotation WHERE Anno_FormID={$db->escape($_GET['formID'])} AND Anno_RequestID={$db->escape($_GET['requestID'])} AND Anno_TrackNo={$db->escape($_GET['trackNo'])} AND Anno_is_active={$db->escape('1')}", "row");
    $annotation_count = $db->query("SELECT * FROM tb_annotation WHERE Anno_FormID={$db->escape($_GET['formID'])} AND Anno_RequestID={$db->escape($_GET['requestID'])} AND Anno_TrackNo={$db->escape($_GET['trackNo'])} AND Anno_is_active={$db->escape('1')}", "numrows");

    $loc = upload::getAllfiles_fromDirectory($annotation['Anno_location']);
    $img = $loc[count($loc) - 1];
    $url_img = "/" . $annotation['Anno_location'] . '/' . $img;
    echo '<input type="hidden" id="current_annotation" value="' . $url_img . '" >';
}
?>

        <div class="loaded_form_content" style="margin:0px auto;position:relative;width:<?php echo ( ($form_json['WorkspaceWidth'] ) ? $form_json['WorkspaceWidth'] : $request_view_datas["form_size"]["width"]); ?>px;height:<?php echo ( ($form_json['WorkspaceHeight']) ? $form_json['WorkspaceHeight'] : $request_view_datas["form_size"]["height"]); ?>px;<?php echo "margin-bottom:" . $loaded_form_content_margin_bottom ?>;background-color:#fff;border: 1px solid #ddd;"> <!--  kath needed this -->

<?php if (isset($_GET['embed_type']) && $_GET['embed_type'] == "viewEmbedOnly") { ?>
                <!-- // remove - FS#7439 -->
                <!-- <div style="opacity: -0.5;  z-index: 500;background-color: #fff;width: 100%;height: 100%;position: absolute;"></div> -->
<?php } ?>


<?php
if (isset($_GET['annoID'])) {
    // if ($_GET['annoID'] != "") {
    ?>

                                                                                                                                                                                        <!--div class="annotation-bg" style="background-image: url('<?php echo "/" . $db_annotation['Anno_location'] . '/' . $img; ?>');"></div-->
<?php } ?>

            <div class="frm-json-request-details">
<?php
//         if ($_GET['view_type'] == "update") {
//             $form_id = $_GET["formID"];
//             $request_id = $_GET["requestID"];
//             $form_data = $db->query("SELECT * FROM tb_workspace WHERE id={$form_id}", "row");
//             $tblname = $form_data["form_table_name"];
//             $requestDetails = $db->query("SELECT FORM.*, REQUESTOR.display_name as Requestor_Name, REQUESTOR.display_name as Requestor_Fullname ,  
// PROCESSOR.display_name as Processor_Name FROM " . $tblname . " FORM 
// LEFT JOIN tbuser REQUESTOR
// ON REQUESTOR.id = FORM.Requestor
// LEFT JOIN tbuser PROCESSOR
// ON PROCESSOR.id = FORM.Processor
// WHERE FORM.id = {$db->escape($requestID)}");
//             echo htmlentities(json_encode($requestDetails));
//         } else {
echo htmlentities(json_encode($new_data));
// echo "<br>---------------------------------------------------------"."<br>";
// echo htmlentities(json_encode($new_data));
// }
?>
            </div>

            <script>

                //});
            </script>
<?php
// ob_start();
echobig($request_view_datas["form_content"]);
// ob_flush();
?>
            <script>

            </script>
        </div>
    </form> 
</div>
<ul class="defaultActionButton isDisplayNone">
<?php
echo functions::getDefaultActionButtons($form_json['form_json'], $requestID, $getID, "1", 'Notes');

// $s = json_encode($form_json['form_json'],true);
//  $filterArray = array_filter($s['default-action-button'], function($item){
//     return $item['action'] == 'View';
//  });
//print_r($s);
// if (count($filterArray) > 0) {
//        echo "Meron";
//    }else {
//        echo "waley";
//    }
//echo json_encode($form_json,JSON_PRETTY_PRINT);      
//print_r(array_filter($form_json));
?>

</ul>

<link rel="Stylesheet" type="text/css" href="/js/library/annotation/wColorPicker.min.css" />
<script type="text/javascript" src="/js/library/annotation/wColorPicker.min.js"></script>

<!-- wPaint -->
<link rel="Stylesheet" type="text/css" href="/js/library/annotation/wPaint.min.css" />
<script type="text/javascript" src="/js/library/annotation/wPaint.min.js"></script>
<script type="text/javascript" src="/js/library/annotation/main/wPaint.menu.main.min.js"></script>
<script type="text/javascript" src="/js/library/annotation/text/wPaint.menu.text.min.js"></script>
<script type="text/javascript" src="/js/library/annotation/shapes/wPaint.menu.main.shapes.min.js"></script>
<script type="text/javascript" src="/js/library/annotation/file/wPaint.menu.main.file.min.js"></script>

<?php
# CUSTOM JAVASCRIPT
include_once('/modules/user_view/view/custom_script_js_api_executer.phtml');
?>