        	<div class="section clearing"> <!--  style="position:absolute;  left: 0px; bottom: 40px;" -->
        		<div class="column div_1_of_1">
        			<h1 style="  color: #222; font-size: 15px; "><p>You are not allowed to visit this page.</p> <p>Please contact Site Administrator.</p><a href="/portal" style="font-size: 14px; padding: 5px; position: relative; top: -5px; color: #fff;" class="fl-buttonEffect not-allowed-page-btn"><i class="fa fa-home"></i> <span>Home</span></a></h1>
        		</div>
        	</div>
        </div> 
     </div>
  </div>
</div>
</div>