<link rel="stylesheet" type="text/css" href="/css/activation.css" />
<?php

$fs = new functions();
$db = new Database();
if(isset($_GET) && isset($_GET['id']) && isset($_GET['type']) && isset($_GET['load_type'])){
    $decrypt_id = $fs->base_encode_decode("decrypt",$_GET['id']);
    $person = new Person($db,$decrypt_id);
    if($_GET['type'] == "guest_account"){
        if($_GET['load_type'] == "1"){
                $url = GUEST_MAIN_PAGE_1;
           }else{
                $url = GUEST_MAIN_PAGE;
           }
        if($person->email_activate == "0"){
           
?>
        <div id="header-wrapper">
            <div id="logo-wrapper">

            </div>
        </div>
        <div class="container">
          <div style="padding:5px;">
            <div id="add-password" class="effect6" style="">
              <h3>Choose Password</h3>
               <form method="post" id="guest_new_password" style="padding:5px;">
                <div class="section clearirg">
                    <label>Password</label>
                    <div class="column div_1_of_1">
                      <input type="password" name="new_password" id="new_password" value="" placeholder=" Type your new password...">
                    </div>
                </div>
                  <div class="section clearing">
                     <label>Re-type Password</label>
                    <div class="column div_1_of_1">
                    <input type="password" name="retype_password" id="retype_password" value="" placeholder="Re-type your new password...">
                    
                    <input type="hidden" name="user_id" id="user_id" value="<?php echo $decrypt_id; ?>">
                    <?php
                    $query_guest = $db->query("SELECT * FROM tb_guest WHERE guest_type={$db->escape('guest')} AND guest_user_id={$db->escape($decrypt_id)} ORDER BY guest_id DESC","row");
                    ?>
                    <?php if(ALLOW_REQUEST_FORM_GUEST != "1"){ ?>
                    <input type="hidden" name="redirection" id="redirection" value="<?php echo $url; ?>">
                    <?php }else{ ?>
                    <input type="hidden" name="redirection" id="redirection" value="<?php echo $url . "user_view/workspace?view_type=request&formID=" . $query_guest['guest_formID'] . "&requestID=0"; ?>">
                    <?php } ?>
                     <p class="submit"><input type="button" name="guest_password" id="guest_password" value="Activate"></p>
                    
                    </div>
                    
                  </div>
              </form>
            </div>
         </div>
         </div>
         <div id="footer">© 2014 Formalistics</div>
<?php
        }else{
            
?>
        <div class="container_1" style="margin:0px auto;width:960px;">
            <div style="width: 50%;margin: 0px auto;margin-top: 50px;border: 1px solid #ddd; width: 100%; min-height: 100px;border-radius:5px;padding: 15px; background-color: #fff;">
                <?php
                $query_guest = $db->query("SELECT * FROM tb_guest WHERE guest_type={$db->escape('guest')} AND guest_user_id={$db->escape($decrypt_id)} ORDER BY guest_id DESC","row");
                ?>
                    <div style="font-size: 15px;text-align: center;font-weight:bold;">
                       We could not find the validation request you are attempting to verify. This is likely because you have already validated your account, or an administrator has validated your account for you. 
                       <br />
                       <?php if(ALLOW_REQUEST_FORM_GUEST != "1"){ ?>
                       Please try to <a href="<?php echo $url; ?>">login</a> with your registration details now.
                       <?php }else{ ?>
                       Please try to <a href="<?php echo $url . "user_view/workspace?view_type=request&formID=" . $query_guest['guest_formID'] . "&requestID=0"; ?>">login</a> with your registration details now.
                        <?php } ?>
                    </div>
               
            </div>
        </div>
<?php
        }
    }else{
        echo $this->setInclude("error");
    }
}else{
    echo $this->setInclude("error");
}

?>


