<div class="container_1" style="margin:0px auto;width:960px;color:#000;">
    <div style="width: 50%;margin: 0px auto;margin-top: 50px;border: 1px solid #ddd; width: 100%; min-height: 100px;border-radius:5px;padding: 15px; background-color: #fff;">
        
            <div style="font-size: 15px;text-align: center;font-weight:bold;">
               We could not find the validation request you are attempting to verify. This is likely because you have already validated your account, or an administrator has validated your account for you. 
               <br /><br />
               Please try to <a href="/login">login</a> with your registration details now.
            </div>
       
    </div>
</div>