<div class="container_1" style="margin:0px auto;width:960px;color:#000;">
    <div style="width: 50%;margin: 0px auto;margin-top: 10px;border: 1px solid #ddd; width: 100%; min-height: 100px;border-radius:5px;padding: 15px; background-color: #fff;">
        
            <div style="font-size: 15px;text-align: center;font-weight:bold;">
               Your email account was successfully verified, you can now use your account to login into our site.
               <br /><br />
               Please <a href="/login">Click Here</a> to login.
            </div>
       
    </div>
</div>