<link rel="stylesheet" type="text/css" href="/css/ad_style.css" />
<?php
//error_reporting(E_ALL);
$fs = new functions();
$db = new Database();
if(isset($_GET) && isset($_GET['email']) && isset($_GET['cred']) && isset($_GET['type'])){
    $ldapMan = LDAPManager::getInstance();
            $ldapMan->setHost(AD_IP_ADDRESS);
            $pw = $fs->base_encode_decode('decrypt',$_GET['cred']);
            $results = $ldapMan->login($_GET['email'], $pw);
    if($_GET['type'] == "ad_user_reg"){
        if($results['results'] == "Login Success"){
            // AD
	    $ldapMan = LDAPManager::getInstance();
	    $ldapMan->setHost(AD_IP_ADDRESS);
	    $results = $ldapMan->login($_GET['email'], $pw);
	    $email = explode("@",$_GET['email']);
	    
            //  build distinguished name
            $splitted_cn = split(".", $email[0]);
            $splitted_dc = split(".", $email[1]);
            
            $distinguished_name = "";
            
            foreach ($splitted_cn as $cn) {
                $distinguished_name .= "CN=" . $cn . ",";
            }
       
             foreach ($splitted_dc as $dc) {
                $distinguished_name .= "DC=" . $dc . ",";
            }
            
            $distinguished_name = substr($distinguished_name, 0, strlen($distinguished_name) - 1);
          
	    $ldap_connection = $ldapMan->getActiveConnection();
	    $ldap_base_dn = DC;
          //  $search = split(".",$email[0]);
//print_r($search);
	    $search_filter = "(&(objectCategory=person)(samaccountname=".$email[0]."))";
		//$search_filter = "(&(objectClass=user))";
		//$search_filter = "(&(objectCategory=person)(samaccountname=Guest))";
//$search_filter = "(&(objectCategory=person)(samaccountname=" . array(count=>1, ".$email.") . "))"; 
	    $result = ldap_search($ldap_connection, $ldap_base_dn, $search_filter);
	    //ldap_error();
		//var_dump($result);
		$entries = ldap_get_entries($ldap_connection, $result);
	     //var_dump($entries);
		//$name =  $entries[0]['cn'][0];
		//var_dump($entries);
                $name = $entries[0]["name"][0];
//var_dump($entries[0]);
//echo $name;
?>
        
        <div id="header-wrapper">
            <div id="logo-wrapper">
            </div>
        </div>
        <div class="container">
           <!--  <div class="login">
              <h1>Please verify your email address below to proceed  with the creation of account.</h1>
              <form method="post" action="/ajax/regUser" id="ad_registration">
               
                <p>
                  <label>Email</label>
                  <input type="text" disabled="disabled" value="<?php echo $_GET['email']; ?>" placeholder=" Type your email...">
                  <input type="hidden" name="email" id="email" value="<?php echo $_GET['email']; ?>" placeholder=" Type your email...">
                <input type="hidden" name="cred" id="cred" value="<?php echo $_GET['cred']; ?>">
                <input type="hidden" name="name" id="name" value="<?php echo $name; ?>">
                <input type="hidden" name="action" id="action" value="ad_registration">
               
                </p>
                
                  <p class="submit">    
                    <input type="button" name="ad_reg" id="ad_reg" value="Proceed">
                    <a href="/login"><input type="button" value="Cancel"></a>
                  </p>
              </form>
            </div> -->


            <div style="padding:5px;">
            <div id="active_d_wrapper" class="effect6" style="">
            <h3>Please verify your email address below to proceed  with the creation of account.</h3>
            <form method="post" id="guest_new_password" style="padding:5px;">
            <div class="section clearirg">
            <label>Email</label>
            <div class="column div_1_of_1">
             <input type="text" disabled="disabled" value="<?php echo $_GET['email']; ?>" placeholder=" Type your email...">
                    <input type="hidden" name="email" id="email" value="<?php echo $_GET['email']; ?>" placeholder=" Type your email...">
                  <input type="hidden" name="cred" id="cred" value="<?php echo $_GET['cred']; ?>">
                  <input type="hidden" name="name" id="name" value="<?php echo $name; ?>">
                  <input type="hidden" name="action" id="action" value="ad_registration">
            </div>
            </div>
            <div class="section clearing">
              <div class="column div_1_of_1">
                <p class="submit">
                   <a href="/login"><input type="button" id="ad_cancel" value="Cancel"></a>    
                    <input type="button" name="ad_reg" id="ad_reg" value="Proceed" style="margin-right:10px;">
                    
                  </p>
              </div>
            </div>
            </form>
            </div>
          </div>


         </div>
<?php
        }else{
                echo $this->setInclude("error");
        }
    }else{
        echo $this->setInclude("error");
    }
}else{
    echo $this->setInclude("error");
}

?>

