<?php
$display = "";
$db = new Database();
$Leftbar = new Leftbar();
$auth = Auth::getAuth('current_user');
$user_id = $auth['id'];
$company_id = $auth['company_id'];
$params = Layout::getParams();
$notifications = new notifications();
$fs = new functions();
$userCompany = new userQueries();
$redis_cache = getRedisConnection();
// Allowing navigation


$search = new Search();
if (!empty($params)) {
    $allowed_params = unserialize(NOT_ALLOWED_LEFTBAR);

    if (in_array($params[1], $allowed_params)) {
        $display = "display";
    } else {
        $display = "";
    }
} else {
    $display = "";
}
$data_load = "getLeftBar";
// $navigation = new Navigation();
// $sideBarNavigation = $navigation->setMenuNavigation();
// $activeMenu = $navigation->activeMenu;
// if($activeMenu==0){
// 	$sideBarNavigation = $navigation->setOldMenuModules();
// }
// if(ERP_MODULES_VISIBILITY=="1"){
// 	$data_load = "getERPLeftBar";
// }

if ($redis_cache) {

    $cachedFormat = "$user_id";

    // $memcache->delete("user_nav");
    $cache_user_nav = json_decode($redis_cache->get("user_nav"), true);

    $cached_query_result = $cache_user_nav['' . $cachedFormat . ''];

    if ($cached_query_result) {
        // echo "from cache";

        $navui = $cached_query_result;
    } else {
        // echo "from db";

        $navui = $fs->getDashboardNavView();

        $cache_user_nav['' . $cachedFormat . ''] = $navui;
        $redis_cache->set("user_nav", json_encode($cache_user_nav));
    }
} else {
    $navui = $fs->getDashboardNavView();
}


$navuitype = "iconAndLabel";
$navuidisplay_a = "block";
$navuidisplay_b = "none";

if (count($navui) > 0) {
    $navuitype = $navui[0]['navuitype'];
    $navuidisplay_a = "display:" . $navui[0]['navuidisplay_a'];
    $navuidisplay_b = "display:" . $navui[0]['navuidisplay_b'];
}
// echo $navuidisplay_b;
if ($display == "display") {
    $navuidisplay_a = "";
    $navuidisplay_b = "";
}
?>

<?php include "layout/main-nav-svg.phtml"; ?>
<input type="text" class="isDisplayNone" id="navuitype" value="<?= $navuitype; ?>" />
<div class="fl-user-navigation-wrapper fl-infinite-nav-wrapper hideShowMenu  <?php echo $display; ?>" show="false" style="<?php echo $navuidisplay_a; ?>">

    <?php
    echo $Leftbar->leftbar_navigation($auth, 'icon_label');
    ?>

</div>

<div class="fl-user-navigation-wrapper-ui2 fl-infinite-nav-wrapper <?php echo $display; ?>" style="<?= $navuidisplay_b; ?>">

    <?php
    echo $Leftbar->leftbar_navigation($auth, 'icon_only');
    ?>


</div>	
