<ul class="fl-infinite-nav-sub">
    <?php if(APP_CONFIGURATION_SETUP == "0"){ ?>    
    <li>
        <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-app-config"></use>
        </svg>
        <a href="/user_view/app_configuration">App Configuration</a></li>
                        <?php } ?>
    <?php if(ENABLE_DELEGATION == "1"){ ?>  
        <li>
            <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-delegation"></use>
            </svg>
            <a href="/user_view/delegate">Delegation</a></li>
    <?php } ?>
    <?php if($mod['administer']['external_database'] == "1"){ ?>
        <li>
            <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 90 90">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-database"></use>
            </svg>
            <a href="/user_view/external_database">External Database</a>
    <?php } ?>
    <?php if($mod['administer']['form_category'] == "1"){ ?>
        <li>
            <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-form-category"></use>
            </svg>
            <a href="/user_view/form_category">Form Category</a>
    <?php } ?>
    <?php if($mod['administer']['group_settings'] == "1"){ ?>
        <li>
            <svg class="icon-svg-main-nav-sub-nav svg-icon-group-settings" viewBox="0 0 100.264 60.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-group-settings"></use>
            </svg>
            <a href="/user_view/group_settings">Group Settings</a></li>
    <?php } ?>
    <?php if($mod['administer']['link_maintenance'] == "1"){ ?>
        <li>
            <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-link-maintenance"></use>
            </svg>
            <a href="/user_view/link_maintenance">Link Maintenance</a></li>
    <?php } ?>
    <?php
    // if(ERP_MODULES_VISIBILITY=="1"){
        ?> <li>
        <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-navigation-settings"></use>
            </svg>
        <a href="/user_view/nav_settings">Navigation Settings</a></li> <?php
    // }
    ?>
    <?php if($mod['administer']['position_settings'] == "1"){ ?>
        <li>
            <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-position-settings"></use>
            </svg>
            <a href="/user_view/position_settings">Position Settings</a></li>
    <?php } ?>
    <?php if($mod['administer']['rule_settings'] == "1"){ ?>
    <?php
        if(ENABLE_RULES == 0){
        echo '<li>
        <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-rule-settings"></use>
            </svg>
        <a href="/user_view/rule_settings">Rule Settings</a></li>';
        }
    ?>
    <?php } ?>
     <?php if($mod['administer']['suggestion_box_list'] == "1"){ ?>
    <li>
        <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-suggestions"></use>
            </svg>
        <a href="/user_view/suggestions" class="">Suggestions / Comments</a></li>
    <?php } ?>
    <?php if($mod['administer']['user_settings'] == "1"){ ?>
    <li>
        <svg class="icon-svg-main-nav-sub-nav" viewBox="0 0 100.264 100.597">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-user-settings"></use>
            </svg>
        <a href="/user_view/user_settings">User Settings</a></li>
    <?php } ?>
    </ul>