<?php
$form_json = json_decode($forms['form_json']);
$include_calendar = $form_json->{'form_json'}->include_calendar;
$deletion_type = $forms['deletion_type'];;
$calendar_view = $form_json->{'form_json'}->calendar_view;
$default_view = ($calendar_view->default_view!=""?$calendar_view->default_view:0);
$headerInfo = $form_json->{'form_json'}->{'collected_data_header_info'}->{'listedchoice'};
$fields_headerObjType_allowReorder = $form_json->{'form_json'}->{'allowReorder'};

//background
$viewHighlight_background = $form_json->{'form_json'}->{'viewHighlight_background'};
$allow_viewHighlight_background = $viewHighlight_background->allow_highlights;
//font
$viewHighlight_font = $form_json->{'form_json'}->{'viewHighlight_font'};
$allow_viewHighlight_font = $viewHighlight_font->allow_highlights_font;

$displayColumnBorder = $form_json->{'form_json'}->{'allowColumnBorder'}; //if 1 display border
$allowColumnBorder = "1";//$form_json->{'form_json'}->{'allowColumnBorder'}; //if 1 display border
$fieldDefaultSort = $form_json->{'form_json'}->{'fieldDefaultSort'};
$fieldDefaultSortType = $form_json->{'form_json'}->{'fieldDefaultSortType'};
$fields_headerObjType = $form_json->{'form_json'}->{'headerInfoType'};
$activeFields = $forms['active_fields'];
// $formPrivacy_authors = $search->getFormPrivacyUsers($forms['form_authors']);
$formPrivacy_authors = $search->getModulesByAuthor(" AND tbw.id = $form_id");
$btn = "";
if(isset($form_json->{'form_json'}->{'workspace_buttonName'})){
    $btn = ucwords($form_json->{'form_json'}->{'workspace_buttonName'});
}else{
    $btn = ucwords("Create Request");
}
$fields_headerObj = $form_json->{'form_json'}->{'collected_data_header_info'}->{'listedchoice'};
$form_json = json_decode($forms['form_json'], true);
$saved_details_panel = $form_json['form_json']['saved_details_panel'];
$saved_details_panel_view = $form_json['form_json']['default_detail_view'];
$isJunctionFields = $db->query("SELECT * FROM tbfields where form_id = $form_id","numrows");
if($isJunctionFields>0){
    $fields_headerObj_array = array();
    $fields_headerObj = json_decode(json_encode($fields_headerObj),true);
    foreach ($fields_headerObj as $key => $value) {
        $field_name = str_replace("[]", "", $value['field_name']);
        $getFieldsData = $db->query("SELECT * FROM tbfields where form_id = $form_id AND field_name = '". $field_name ."'","row");
        if($getFieldsData['id']>0){
            $getFieldsData['field_label'] = $getFieldsData['data_field_label'];
            if($value['field_width'] != ""){
                $getFieldsData['field_width'] = $value['field_width']; 
            }
            array_push($fields_headerObj_array, $getFieldsData);
        }else{
            array_push($fields_headerObj_array, $value);
        }
    }
    $headerInfo = $fields_headerObj_array;
}
$server = explode('?', $_SERVER['REQUEST_URI'], 2);

?>
<div class="fl-table-wrapper toggleParent fl-reveal-this-wrapper-btn" fl-data="dashboard" fl-data-type="request" fl-data-object-id="<?php echo $form_id; ?>" fl-data-application-id="<?php echo $application_id; ?>" form_id="<?php echo $form_id; ?>">
    <?php 
            if($forms["form_alias"] != ""){
                $form_display =$forms["form_alias"];
            }
            else{
                $form_display = $forms["form_name"];   
            }
     ?>
    <h3 class="fl-dashboard-item-title holdup!" title="<?php echo $form_display; ?>"><?php echo $form_display; ?></h3>    
    <div class="fl-main-app-view" style="position:relative">
        <div class="fl-option-toolbar">
                    <?php
                    $target = "";
                    if ($server[0] == '/user_view/home') {
                        ?>
                        <div class="fl-toolbar-left-wrapper">
                            <ul class="fl-standard-btn">
                                <?php
                                    if(count($formPrivacy_authors)==1 || $auth['user_level_id'] == "4"){
                                        echo '<li class="tour_button_create_request fl-buttonEffect"><a class="primary-btn" target="_blank" href="/user_view/workspace?view_type=request&formID='. $form_id .'&requestID=0">'.$btn.'</a></li> ';
                                        if($auth['user_level_id'] != "4"){
                                            $import = '<li class="fl-buttonEffect"><a class="primary-btn" link-type ="import" link-form-id="'. $form_id .'" link-form-active-fields="' . $forms["active_fields"] .'">Import</a></li>';
                                            if($display_import==1){
                                                echo $import;
                                            }
                                        }
                                    }
                                    echo '<li class="tour_button_refresh_view fl-buttonEffect" style="margin-left:3px"><a class="primary-btn">Refresh View</a></li> ';
                                ?>
                                <select class="fl-input-select  request_buttons" id="request_buttons_<?php echo $form_id; ?>">
                                <option value="0">Button Selection</option>
                                </select>
                            </ul>
                        </div>
                        <?php
                    }else if($server[0] == '/user_view/application'){
                        ?>
                        <div class="fl-toolbar-left-wrapper">
                            <ul class="fl-standard-btn">
                                <?php
                                if($auth['user_level_id'] != "4"){
                                    if(count($formPrivacy_authors)==1){
                                        echo '<li class="tour_button_create_request fl-buttonEffect"><a class="primary-btn" href="/user_view/workspace?view_type=request&formID='. $form_id .'&requestID=0">' . $btn . '</a></li> ';
                                        if($auth['user_level_id'] != "4"){
                                            $import = '<li class="fl-buttonEffect"><a class="primary-btn" link-type ="import" link-form-id="'. $form_id .'" link-form-active-fields="' . $forms["active_fields"] .'">Import</a></li>';
                                            if($display_import==1){
                                                echo $import;
                                            }
                                        }
                                        
                                    }
                                }else{
                                    echo '<li class="tour_button_create_request fl-buttonEffect" ><a class="primary-btn" href="/user_view/workspace?view_type=request&formID='. $form_id .'&requestID=0">' . $btn . '</a></li> ';
                                }
                                echo '<li class="tour_button_refresh_view fl-buttonEffect" style="margin-left:3px"><a class="primary-btn">Refresh View</a></li> ';

                                    if ($auth['user_level_id'] != "3" || $auth['user_level_id'] != "4") { 
                                        
                                        // Get Generate Print Save from the database tb_generate
                                        $getGeneratePrint = $db->query("SELECT * FROM tb_generate WHERE form_id={$db->escape($form_id)}", "row");
                                        $getGeneratePrintNumrows = $db->query("SELECT * FROM tb_generate WHERE form_id={$db->escape($form_id)}", "numrows");
                                        if ($getGeneratePrintNumrows == 0) {
                                            //if ($auth['user_level_id'] == "1" || $auth['user_level_id'] == "2" || $form_json_customized_print) {
                                                     if(count($formPrivacy_print_authors)==1){
                                                          echo ' <li class="fl-buttonEffect"><a href="/user_view/generate?view_type=edit&formID=' . $form_id . '" class="primary-btn">Customize Print</a></li>';
                                                     }
                                        } else {
                                            //if ($auth['user_level_id'] == "1" || $auth['user_level_id'] == "2" || $form_json_customized_print) {
                                                     if(count($formPrivacy_print_authors)==1){
                                                echo ' <li class="fl-buttonEffect"><a href="/user_view/generate?view_type=update&formID=' . $getGeneratePrint['id'] . '&printID=' . $getGeneratePrint['form_id'] . '" class="primary-btn">Update Print</a></li>';
                                            }
                                        }

                                        if ($form_id == 234) {//aalisn din nten to jewel tolentino
                                            if ($auth['user_level_id'] == "1" || $auth['user_level_id'] == "2") {
                                                echo ' <li><a href="#" target-click="generate_payslip" class="primary-btn">Generate Payslip</a></li>';
                                            }
                                        }
                                    }
                                ?>
                                
                                <select class="fl-input-select  request_buttons" id="request_buttons_<?php echo $form_id; ?>">
                                    <option value="0">Button Selection</option>
                                </select>
                            </ul>
                        </div>
                        <?php
                    }
                    ?>
                    <div class="fl-toolbar-right-wrapper">               
                       
                        <?php include "layout/option_toolbar_buttons.php"; ?>
                           
                    </div>
                <div class="clearfix"></div>
        </div><!-- end of option toolbar -->    
        <div class="fl-toggleUpDownWrapper">
        <?php
            if($include_calendar=="1"){
                ?>
                    <div id="fl-application-calendar" class="isDisplayNone fl-application-calendar"></div><!-- end of application calendar view -->
                <?php
            }
        ?>
        <!-- <div class="clearfix"></div> -->
        <div class="form-informtion display">
            <input type="text" class="display table-name" value="<?php echo $forms['form_table_name']; ?>">
            <input type="text" class="display form-name" value="<?php echo $forms['form_name']; ?>">
            <input type="text" class="display deletion-type" id="deletion-type" value="<?php echo $deletion_type; ?>">
            <div class="activeFields"><?php echo $activeFields ?></div>
            <div class="form-header "><?php echo json_encode($headerInfo); ?></div>
            <div class="form-header-allowReorder"><?php echo $fields_headerObjType_allowReorder; ?></div>
            <div id="allow-background-highlight"><?php echo $allow_viewHighlight_background; ?></div>
            <div id="allow-background-font"><?php echo $allow_viewHighlight_font; ?></div>
            <div class="form-header-fieldDefaultSort"><?php echo $fieldDefaultSort; ?></div>
            <div class="form-header-fieldDefaultSortType"><?php echo $fieldDefaultSortType; ?></div>
            <div class="customColumnSettings "><?php echo json_encode($headerInfo); ?></div>
            <input type="text" value="<?php echo $form_id; ?>" id="form_id" class="form_id">
            <?php
                $strSql = "SELECT DISTINCT COLUMN_NAME FROM information_schema.columns where table_name = '" . $forms['form_table_name'] . "' AND (DATA_TYPE = 'date' OR DATA_TYPE = 'datetime')";
                $getdateFields = $db->query($strSql, "array");
                $dateFields = array();
                foreach ($getdateFields as $value) {
                    if (in_array($value['COLUMN_NAME'], $active_fields)) {
                        // echo $value['COLUMN_NAME'];
                                                  $getFieldsLabel = $fs->getFields("WHERE form_id = ".$form_id." AND field_name='". $value['COLUMN_NAME'] ."'");
                                                 if(count($getFieldsLabel)>0){
                                                          $label = $fs->removeSpecialChars($getFieldsLabel[0]->label); //preg_replace('/[^A-Za-z0-9\. -]/', '', $getFieldsLabel[0]->label);
                                                          //array_push($dateFields, $label);
                                                          $dateFields[] = array("label"=>$label,"field"=>$value['COLUMN_NAME']);
                                                 }else{
                                                          $dateFields[] = array("label"=>$value['COLUMN_NAME'],"field"=>$value['COLUMN_NAME']);
                                                 }
                    }
                }
            ?>
    
        <select class="search-request-field_date display">
            <!-- <option value="DateCreated" default='true'>DateCreated[Default]</option> -->
        <?php
        foreach ($dateFields as $value) {
            echo "<option value='" . $value['field'] . "' default='false'>" . $value['label'] . "</option>"; 
        }
        ?>
        
        </select>
                </div>
                <!-- fl table search original position -->
                <!-- Data table for request -->
                <?php
                $getCustomView = $db->query("SELECT * FROM tbcustomview WHERE user_id = $user_id AND form_id = $form_id ", "array");
        			 if($fields_headerObjType_allowReorder=="0"){
        				  $getCustomView = array();
        			 }
                if (count($getCustomView) > 0) {
                    // $customView = json_decode($getCustomView[0]['json'], true);
                    $customView = getValidHeaderFields($headerInfo,$getCustomView,$fields_headerObjType);
                } else {

                    // for default view
                    $customView = array(array("field_label" => "Tracking Number", "field_name" => "TrackNo"), array("field_label" => "Requestor", "field_name" => "requestorName"), array("field_label" => "Status", "field_name" => "Status"), array("field_label" => "Date Created", "field_name" => "DateCreated"));
                    // push to array in specific location
                    $otherFieldsStartPos = 2;
                    $fields_headerObj = $headerInfo;
                    $fields_headerObj = json_decode(json_encode($fields_headerObj));


                    foreach ($fields_headerObj as $fields_header) {
                        array_insert($customView, array("field_label" => "" . $fields_header->{'field_label'} . "", "field_name" => "" . $fields_header->{'field_name'} . ""), $otherFieldsStartPos);
                        $otherFieldsStartPos++;
                    }
                    //Updated by AARON TOLENTINO
                    // - For having a specific and default header information


                    if($fields_headerObjType=="1"){

                        $customView = array();
                        foreach ($fields_headerObj as $fields_header) {
                            array_push($customView, array("field_label" => "" . $fields_header->{'field_label'} . "", "field_name" => "" . $fields_header->{'field_name'} . "", "field_width" => "" . $fields_header->{'field_width'} . ""));
                        }
                    }else if($fields_headerObjType=="0"){
                        // FOR DEFAULT COLUMN
                        $customView = array(array("field_label" => "Tracking Number", "field_name" => "TrackNo"), array("field_label" => "Requestor", "field_name" => "requestorName"), array("field_label" => "Status", "field_name" => "Status"), array("field_label" => "Date Created", "field_name" => "DateCreated"));
                    }
                    $customView = json_decode(json_encode($customView), true);
                    // print_r($customView);
                }
                ?>
                <!-- OLD CHECKBOX FOR HOME <input type='checkbox' class='checkAllAction' /> -->
                <div class="fl-wrapper-to-move">
                <div class="fl-table-search-wrapper">
                    <TABLE class="fl-search-cont" BORDER="5" WIDTH="100%" CELLPADDING="4" CELLSPACING="0" border="2">
                        <TR ALIGN="CENTER">
                            <TD colspan="5" class="fl-header-tbl-wrapper">
                                <div class="fl-toolbar-left-wrapper">
                                    <div class="fl-search-wrapper">
                                        <!-- <form> -->
                                        <input type="text"  placeholder="Search Requests" class="searchRequestUsersValue">
                                        <input type="button" value="" class="search icon fl-btn-right searchRequestUsersButton">
                                        <!-- <input type="button" value="Save Filter" class="display filterAction" id="saveFC" style="margin-left: 5px;">
                                        <input type="button" value="Cancel" class="display filterAction" id="cancelFC"> -->
                                        </div>
                                        <select class="fl-input-select search-request-field searchRequestUsersField isDisplayNone">
                                            <!-- <option value="0">All</option> -->
                                            <!-- <option value="Requestor" default='true'>Requestor[Default]</option>
                                            <option value="Status" default='true'>Status[Default]</option>
                                            <option value="TrackNo" default='true'>Tracking Number[Default]</option> -->
                                            <!-- <option value="Processor">Processor</option> -->
                                            
                                            <?php
                                            $getFieldsLabel = $fs->getFields("WHERE form_id = ".$form_id." AND field_type NOT IN(". $search->searchFieldNotIncluded() .") ORDER BY data_field_label ASC");
                                            if(count($getFieldsLabel)>0){
                                                foreach ($getFieldsLabel as $value){
                                                    $label = $fs->removeSpecialChars($value->label); //preg_replace('/[^A-Za-z0-9\. -]/', '', $getFieldsLabel[0]->label);
                                                    echo "<option default='false' value='" . $value->name . "' field_input_type='". $value->input_type ."' data-type='". $value->type ."'>" . $label . "</option>";
                                                }
                                            }else{
                                                foreach ($active_fields as $value) {
                                                    echo "<option default='false' value='" . $value . "'>" . $value . "</option>";
                                                }
                                            }
                                            ?>
                                        </select>
                                        <button class="tip btn-basicBtn padding_5 fl-basicsecondary-btn cursor fa fa-gear advanceFilterDialog" data-original-title="Advanced Filter"></button>
                                        <!-- <button class="tip btn-basicBtn padding_5 fl-basicsecondary-btn cursor fa fa-gear colSettings" style="margin-left:4px; height: 31px;width: 30px;cursor:pointer" data-original-title="Column Settings"></button> -->
                                        <div class="fl-for-saving-fitler">
                                            <ul class="forSearch">
                                                <li class="display fl-buttonEffect filterAction fl-basicprimary-btn saveFC" id="saveFC">Save Filter</li>
                                                <li class="display filterAction fl-buttonEffect fl-basicprimary-btn cancelFC" id="cancelFC">Cancel</li>
                                                <div class="clearfix"></div>
                                            </ul>
                                        <!-- </form>   -->
                                    </div>
                                </div>
                                <div class="fl-toolbar-right-wrapper">
                                    <div class=""><!-- fl-save-sort -->
                                        <select class="fl-input-select searchRequestLimitPerPage" id="" style="float:left;margin-right:4px">
                                            <option value="10">Show Entries</option>
                                            <option>10</option>
                                            <option>20</option>
                                            <option>50</option>
                                            <option>100</option>
                                        </select>
                                        <select class="fl-input-select filterRequestsUser loadRF">
                                            <option value="0" search_value="" search_field = "0">Filtered Request</option>
                                            <?php
                                            $strSql = "SELECT * FROM tbfilteredCategory WHERE user_id = '" . $user_id . "' && form_id = '" . $form_id . "'";
                                            $getSaveFilter = $db->query($strSql, "array");
                                            foreach ($getSaveFilter as $value) {
                                                echo '<option value="' . $value['id'] . '" '. "multi_search='". $value['multi_search'] ."'" .''. "multi_search='". $value['multi_search'] ."'" .' search_value="' . $value['search_value'] . '" search_field = "' . $value['search_field'] . '" date_field="' . $value['date_field'] . '" date_from="' . $value['date_from'] . '" date_to="' . $value['date_to'] . '" limit="' . $value['limit'] . '">' . $value['title'] . '</option>';
                                            }
                                            ?>
                                        </select>
                                        <button class="tip btn-basicBtn padding_5 fl-basicsecondary-btn cursor requestFilterSettings fa fa-trash-o" data-original-title="Remove filter"></button>
                                    </div>
                                </div> 
                            </TD>
                        </TR>
                    </TABLE>
                </div>
                <div class="fl-datatable-wrapper fl-ui-application-page"> <!--overflow:auto; overflow-y:hidden; -->
                    <table class="display_data dataTable recordsDatatable <?= $displayColumnBorder; ?>"  id="loadFormRecords<?php echo $form_id; ?>" style="">
                        <thead class="fl-header-tbl-wrapper fl-module-tbl">
                            <tr>
                                <?php $form_name = str_replace(" ", "_",$forms['form_name']);
                                echo "<th app-table-th='action'>" . "<div class='fl-table-ellip' style=''><input type='checkbox' data-type-form-name='" . $form_name . "' name='checkboxG4' id='checkboxG<?= $form_id; ?>' class='css-checkbox appCheckAll checkAllAction' /><label for='checkboxG<?= $form_id; ?>' class='css-label'></label>
                                    </div></th>";
                                $width = "";
                                foreach ($customView as $value) {
                                    if ($value['field_name'] != "") {
                                        if ($value['width'] != "") {
                                            $width = "width:" . $value['width'] . ";";
                                        }
                                        if($value['field_width'] != ""){
                                            $width = "width:" . $value['field_width'] . "px;";
                                        }
        								$label = $fs->removeSpecialChars($value['field_label']); //preg_replace('/[^A-Za-z0-9\. -]/', '', $value['field_label']) 
                                        echo "<th style='" . $width ."' field_name='" . $value['field_name'] . "'>" . "<div class='fl-table-ellip'><div class='sortable-image fl-module-tbl-arrow'></div> " . $label . "</th>";
                                    }
                                }
                                ?>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div> 
                <div class="dataTable_widget"></div>
                </div>
               <?php include 'layout/modules_other_details.php';?>
            </div>    
        <div class="clearfix"></div>
        </div>
</div>
<!-- <br/>
<br/> -->

<!-- end of table-->