<?php
echo $this->header();
?>

<div class="fl-content" >
    <div class="fl-main-content-wrapper">                        
        <?php
        echo $this->setInclude("captcha-code");	
        ?>
    </div>
    <div class="clearfix"></div>
</div> 

<?php
echo $this->footer();
?>
    
