<!DOCTYPE html>
<!--<script type="text/javascript" src="/js/functions/chat.js"></script>        
<link rel="stylesheet" type="text/css" href="/css/chat.css">-->

<?php
$auth = Auth::getAuth('current_user');

$userCompany = new userQueries();
$onlineUserList = $userCompany->getOnlineUsersForChat($auth['company_id'], $auth['id']);
?>

<div class="fl-chat-online-users display">
    <div class="fl-chatbox-head fl-online-users-head">
        <div class="fl-chatbox-head-contents" style="position:absolute; top:3px">Chat</div>
    </div>
    <div class="fl-chat-online-users-content-container" style="display: none;">

        <div class="fl-chat-online-users-content-search isDisplayNone" style="position:absolute;">
            <ul>

            </ul>
        </div>

        <div class="fl-chat-online-users-content isDisplayNone">
            <ul >
                <!--Build UI for each online users-->
                <?php foreach ($onlineUserList as $key => $onlineUser): ?>
                    <li>
                        <a class="fl-chat-online-user" 
                           data-id="<?php echo $onlineUser['id'] ?>"
                           data-display-name="<?php echo $onlineUser['displayName'] ?>">
                            <img width="32" height="32"  src="<?php echo $onlineUser['imageURL'] ?>" />                
                            <div class="fl-online-chat-name"><?php echo $onlineUser['displayName'] ?></div>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>

        <div class="fl-search-online-container"><input type="text" class="form-text fl-search-online" placeholder="Search..."></div>
    </div>
</div>

<div class="fl-chatbox-collection-container">
    <div class="other-chatbox" style="height:20px;width:20px;border:1px solid #000;display:none;position: fixed;bottom: 0px;"></div>
</div>

<div id="fl-chat-ui-templates" style="display: none;">
    <!--online user-->
    <li>
        <a class="fl-chat-online-user" 
           data-id=""
           data-display-name="">
            <img width="32" height="32" src="" />
            <div class="fl-online-chat-name"></div>
        </a>
    </li>

    <!--chatbox-->
    <div id="" class="fl-chatbox" data-id="">
        <div class="fl-chatbox-head">

            <div class="fl-chatbox-head-contents pull-left">
                <div class="fl-online-chat-name fl-table-ellip" style="width: 67%; margin-left: 20px; position: absolute; top: 9px;
left: 18px;">
                    [chatbox title]
                </div>
                <img class="fl-online-chat-user-image" width="28" height="28" src=""/>
                <strong class="fl-new-chat-message-counter counter">                    
                    0
                </strong>                
            </div> 
            <div class="fl-chatbox-options">
                <ul>
                    <li><a href="#"><i class="fa fa-cogs"></i></a></li>
                    <li><a class="fl-chatbox-close-button" href="#"><i class="fa fa-times"></i></a></li>
                </ul>


            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="fl-chatbox-content">
            <ul class="fl-chatbox-messages-container scrollbarP messagesOne" style="height: auto !important;">
            </ul>
        </div>
        <div class="fl-chatbox-input">
            <textarea class="fl-chatbox-input-textarea fl-remove-margin-bottom left" placeholder="Type your message..."></textarea>
            <span id="fl-chatbox-button-attach-file" type="button" class="btn btn-basicBtn"><i class="fa fa-paperclip"></i></span>
        </div>
    </div>

    <!--chat message by other users-->
    <li class="by_user" data-by="" style="margin: 4px;"> 
        <a href="#" title="">
            <img data-placement="bottom" 
                 data-original-title="" 
                 src="" 
                 class="avatar userAvatar" height="32" width="32"
                 onerror="this.src='<?= BROKEN_IMAGE; ?>'"
                 style="margin: 0px; border-radius:32px;">
        </a>
        <div class="messageArea" style="margin-left:45px;">
            <!--<span class="aro"></span>-->
            <div class="infoRow fl-remove-margin-bottom">
                <!--<span class="time timeago" title="">about 19 hours ago</span>-->
            </div>
            <label class="updateMsg messageText">test message</label>
            <br>
        </div>
        <div class="fl-line-break"></div>
    </li>

    <!--chat message from current user-->
    <li class="by_me" style="margin: 4px;">
        <a href="#" title="">
            <img data-placement="bottom" 
                 data-original-title="" 
                 src="" 
                 class="avatar userAvatar" height="32" width="32"
                 onerror="this.src=<?=  BROKEN_IMAGE; ?>"
                 style="margin: 0px; border-radius:32px;">
        </a>
        <div class="messageArea" style="margin-right: 28px; margin-left: 0px!important; text-align:right;">
            <!--<span class="aro"></span>-->
            <div class="infoRow fl-remove-margin-bottom">
                <!--<span class="time timeago" title="">about 19 hours ago</span>-->
            </div>
            <label class="updateMsg messageText" style=""></label>
            <br>
        </div>
        <div class="fl-line-break"></div>
    </li>

    <!--Attach File Dialog-->
    <div class="fl-dialog-attach-files-for-chat">
        <h3>Attach Files To New Message</h3>
        <div class="hr"></div>

        <div style="padding: 2px;">            

            <textarea id="fl-textarea-message-on-attach"
                      placeholder="Write a new message..."
                      style="margin-top:4px; width:100%; max-width: 100%; min-width: 100%;" 
                      data-get-file="imagePost" 
                      data-location="messageUpload" 
                      data-file="imagePreviewUpload"></textarea>

            <form id="postFile" class="fl-chat-post-file" method="post" enctype="multipart/form-data" action='/ajax/uploadFile' 
>
                <div id="uniform-fileInput" class="uploader">
                    <input id="uploadForm"
                           class="postFile isOpacityO"
                           type="file" 
                           data-action-id="2" 
                           value="upload"
                           name="postFile"  
                           size="24" 
                           data-get-file="imagePost" 
                           data-show="imagePreviewUpload" 
                           data-form="postFile" 
                           data-location="previewImagePostUpload"
                           data-action-type="postFile">
                    <span id="uploadFilename" class="filename">No file selected</span>
                    <span class="action">Choose File</span>
                    <input type="hidden" value="messageFileUpload" name="uploadType">
                    <input type="hidden" value="messageUpload" name="uploadFolder">
                </div>
            </form>
            <div class="spinner display postFileLoad">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
            </div>
            <div class="imagePreviewUpload display fl-chat-preview-upload"> 
                <div class="previewImagePostUpload fl-preview-image-post-upload">

                </div>
            </div>

        </div>

        <div style="width: 100%; margin-top:5px; margin-bottom: 12px; min-height: 60px; float:right;">           
            <!--<input id="popup_cancel" type="button" class="btn btn-basicBtn" style="float: right;" value="Cancel">-->
            <input id="fl-button-send-chat-attachments" type="button" 
                   class="btn btn-basicBtn fl-buttonEffect" value="Send">

            <div style="display: none;">
                <!--Sir sam's javascripts assigns the files to this button.-->
                <!--This should be kept for reference-->
                <input type="button" class="btn-blueBtn pull-right newMsg" dataTitle="title" dataMessage="msgBox"  dataTagID="listRecipient1" value="SEND"  data-get-file="imagePost_1" data-location="messageUpload" data-file="imagePreviewUpload_1" style="float:left; margin-top:8px;">
            </div>
        </div>
    </div>

    <li class="fl-loading-list-item">
        <div class="fl-chat-loading spinner load_m">
            <div class="fl-loading-bar bar1"></div>
            <div class="fl-loading-bar bar2"></div>
            <div class="fl-loading-bar bar3"></div>
            <div class="fl-loading-bar bar4"></div>
            <div class="fl-loading-bar bar5"></div>
            <div class="fl-loading-bar bar6"></div>
            <div class="fl-loading-bar bar7"></div>
            <div class="fl-loading-bar bar8"></div>
            <div class="fl-loading-bar bar9"></div>
            <div class="fl-loading-bar bar10"></div>
        </div>
    </li>
</div>

<!-- reserve chat box -->

<div class="reserve-chat-box">

</div>


<!-- reserve chat box template -->

<div class="reserve-chat-box-list">

</div>