<?php
$fs= new functions();


?>
    <div id="banner-wrapper" style="margin-top: -100px;">
        <div id="registration-fullheight-wrapper">
          <div id="registration-wrapper">
            <div id="registration-content-wrapper">
              <h2 class="scrollReg">Register Company Information</h2>
              <div id="sign-up-form-wrapper">
                <h3 id="target-sign-up">Administrator Information</h3>
                <form action="/ajax/regCompany" method="post" enctype="multipart/form-data" class="companyRegistration">
                  <p><label>Company Name<span class="required-field">*</span></label></p>
                  <input type="text" name="companyName" id="company_name" tabindex="1">
                  <div id="inputs-left">
                    <!--<p><label>Company Code<span class="required-field">*</span></label></p>
                    <input type="text" name="companyCode">-->
                    <div style="margin-top: 20px;"></div>
                    <p><label>Email<span class="required-field">*</span></label></p>
                    <input type="text" name="companyEmail" tabindex="2">
                    <p><label>First name<span class="required-field">*</span></label></p>
                    <input type="text" name="companyFname" tabindex="4">
                    <!--<p><label>Position<span class="required-field">*</span></label></p>
                    <input type="text" name="companyPosition">-->
                    <span class="required-field">All fields are required</span>
                  </div>

                  <div id="inputs-right">
                    <!--<p><label>Company Contact Number<span class="required-field">*</span></label></p>
                    <input type="text" name="companyCNumber">-->
                    <div style="text-align: right;margin-top: 20px;"></div>
                    <p><label>Account Name<span class="required-field">*</span></label></p>
                    <input type="text" name="companyDisplayName" tabindex="3">
                    <p><label>Last name<span class="required-field">*</span></label></p>
                    <input type="text" name="companyLname" tabindex="5">
                    <!--<p><label>Password<span class="required-field">*</span></label></p>
                    <input type="password" name="companyPassword" style="border:none!important;">-->
                    <input type="submit" id="regUser" value="Register">
                  </div>    
                </form>
              </div><!-- -- end of sign up form wrapper -->
            </div>
          </div><!-- end of registration wrapper-->
        </div>
      </div>
