<?php
  $db = new Database();
  $auth = Auth::getAuth('current_user');
  $userCompany = new userQueries();
  $getEvent = $db->query("SELECT *,p.id as postID  FROM tbpost p
                                LEFT JOIN tbuser u on p.postedBy=u.id
                                WHERE p.is_active={$db->escape(1)}
                                AND p.post_type={$db->escape(2)}
                                AND u.company_id={$db->escape($auth['company_id'])}
                                ORDER BY p.id DESC LIMIT 20","array");
  $countEvent = $db->query("SELECT *,p.id as postID  FROM tbpost p
                                LEFT JOIN tbuser u on p.postedBy=u.id
                                WHERE p.is_active={$db->escape(1)}
                                AND p.post_type={$db->escape(2)}
                                AND u.company_id={$db->escape($auth['company_id'])}
                                ORDER BY p.id DESC LIMIT 20","numrows");        
?>
<div class="mainContent_widget">
    <div>
        <div class="widget">
            <div class="head">
                <div class="title_head">
                  <i class="icon-file"></i> Company Events 
                </div>
                <div class="num">
                  <a href="#" class="redNum"><?php echo $userCompany->counterLimmit($countEvent); ?></a>
                </div>
            </div>
            
            <div id="company-announcement-container"  class=" Cac_fl-company-announcement-container ps-container">
              <div class="content-dialog Cac_fl-content-dialog">
               
                <?php
                foreach($getEvent as $event){
                  $link = functions::curPageURL('port') . "/post?view_type=view_post&postID=" . functions::base_encode_decode("encrypt",$event['postID']);
                  echo '<a href="' . $link . '" class="cursor dataTip" data-original-title="Show link">';
                  
                ?>
                  <div class="even-container cursor Cac_fl-even-container">
                    <div class="pull-left iswH20perc">
                      <div class="padding_5">
                        <?php
                          echo userQueries::avatarPic("tbuser",$event['postedBy'],"30","30","small","avatar");
                        ?>
                      </div>
                    </div>
                    
                    <div class="pull-left iswH80perc">
                      <div class="padding_5">
                        <div class="Cac_fl-post-event">
                          <?php
                          $post_event = $event['post'];
                          echo substr(str_replace("&lt;br&gt;","\n",$post_event), 0, 40);
                          //echo htmlspecialchars_decode(functions::truncate($event['post'], 40));
                          ?>
                        </div>
                      </div>
                      <div class="pull-right Cac_fl-posted">
                        Posted <label class="timeago" title="<?php echo $event['date_posted']; ?>">about <?php echo $event['date_posted']; ?></label>
                      </div>
                    </div>
                    
                    
                  </div>
                  <div class="hr"></div>
                <?php
                  echo '</a>';
                }
                ?>
              </div>
            </div>
       </div>
    </div>
 </div>