
<div class="headerContentBar">
    
    <div class="pull-left length6">
        <?php
        $auth = Auth::getAuth('current_user');
        $mod = unserialize(ENABLE_COMPANY_MOD);
        // For Admin Only
        //if($auth['user_level_id']=="1"){
        ?>
            <ul class="round-buttons">
                <?php if($mod['administer']['user_settings'] != "0"){ ?>
                <li><div class="depth"><a href="/settings?type=add_user" title="" class="tip" data-placement="bottom" data-original-title="Users"><i class="icon-user"></i></a></div></li>
                <?php } ?>
                <?php if($mod['organizational_charts']['create_organizational_chart'] == "1"){ ?>
                <li><div class="depth"><a href="/organizational_chart" title="" class="tip" data-placement="bottom" data-original-title="Create Organizational Chart"><i class="icon-sitemap"></i></a></div></li>
                <?php } ?>
                <?php if($mod['forms']['create_forms'] == "1"){ ?>
                <li><div class="depth"><a href="/formbuilder?formID=0" title="" class="tip" data-placement="bottom" data-original-title="Create Forms"><i class="icon-reorder"></i></a></div></li>
                <?php } ?>
                <?php if($mod['workflows']['create_workflow'] == "1"){ ?>
                <li><div class="depth"><a href="/workflow" title="" class="tip" data-placement="bottom" data-original-title="Create Workflow"><i class="icon-retweet"></i></a></div></li>
                <?php } ?>
                <?php if($mod['reports']['create_reports'] == "1"){ ?>
                <li><div class="depth"><a href="/report" title="" class="tip" data-placement="bottom" data-original-title="Create Reports"><i class="icon-bar-chart"></i></a></div></li>
                <?php } ?>
                <!--<li><div class="depth"><a href="" title="" class="tip" data-original-title="Layout settings"><i class="icon-cogs"></i></a></div></li>-->
            </ul>
        <?php
        //}
        ?>
    </div>
    <!-- Search -->
    <div class="pull-right length3 ">
        <!--<input type="text" class="input-search search-global" disabled="disabled" placeholder="Search"/>-->
    </div> 
</div>
<!-- Content Bar Header -->
<?php echo functions::landing_page($auth); ?>
