<?php
if (Auth::hasAuth('current_user')) {
    echo '<div class="container"> ';
    //$this->view->current_user = Auth::getAuth('current_user');
    $auth = Auth::getAuth('current_user');
    $db = new Database();
    $userCompany = new userQueries();
    $company = $userCompany->getCompany($auth['company_id']);

    // LEFT BAR
    if(functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "formbuilder"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "organizational_chart"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workflow"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "report"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "generate"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workspace"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "cache"){
        $display = "display";
    }
            echo '<div class="' .$display.' leftBar">';

            echo $this->setInclude("leftBar");

            echo '</div>';
    


    // CONTENT
    echo '<div class="';
    //if (strpos(functions::curPageURL("module"), "formbuilder") !== false
    //        || strpos(functions::curPageURL("module"), "organizational_chart") !== false
    //        || strpos(functions::curPageURL("module"), "workflow") !== false
    //        || strpos(functions::curPageURL("module"), "generate") !== false) {
    //    
    //    echo "contentBar_workspace";
    //} elseif (strpos(functions::curPageURL("module"), "workspace") !== false) {
    //    
    //} else {
    //    echo "contentBar";
    //}
        if(functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "formbuilder"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "organizational_chart"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workflow"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "report"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "generate"){
            echo "contentBar_workspace";
        }else if(functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workspace"){
            
        }else{
            echo "contentBar";
        }
    
    
    echo '">';
    if($auth['user_level_id']=="3"){
    // Set Default Landing Page
        // Main Content
        echo '<div class="' . $display . '" style="float: right;border: 1px solid #d5d5d5;padding: 5px;border-right: none;">';
            
                $db = new Database();
                $current_page = 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
                
                $getPage = $db->query("SELECT * FROM page_settings WHERE userID={$db->escape($auth['id'])} AND is_active={$db->escape(1)}","row");
                
                if($current_page==$getPage['page']){
                    $checked = "checked=checked";
                }
                $popover = 'rel="popover" data-placement="bottom" data-content="Allow you to set the default landing page once you logged in." data-original-title="New Update!"';
    
    
        echo '<input type="checkbox"  ' . $checked . ' class="setting_landing_page cursor updates_settings" style="float: left; margin-top: 3px; margin-right: 5px;"> Make as default landing page?';
    
    
        echo '</div>';
    }
            echo $this->content();

    echo '</div>';
    
    

    // Page to activate new register company on the formalistics
} elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "activate_account") {
    $db = new Database();
    $session = new Auth();
    // Activation ID for the new User
    $var = $_GET['id'];
    $userID = $_GET['id']; //$this->getMethod_replace($var,"-","+");
    $check_user_activated = $db->query("SELECT * FROM tbuser WHERE id={$db->escape($userID)}", "row");
    $set = array("email_activate" => 1,
        "is_active" => 1);
    $condition = array("id" => $userID);

    // Update TB USER
    $db->update("tbuser", $set, $condition);

    // Get User
    $user = $db->query("SELECT * FROM tbuser WHERE id={$db->escape($userID)}", "row");
    $user_password = functions::encrypt_decrypt("decrypt", $user['password']);
    if ($check_user_activated['email_activate'] == "0") {
        // Redirect to the home page when done for the registration
        $login = $session->login($user['email'], $user_password, 'email', 'password', 'tbuser');

        // Include Email Confirmation
        echo $this->setInclude("activation_code");

        // Jquery Redirect to the setting page
        echo '<script>';
        echo 'setTimeout(function(){';
        echo 'window.location.replace("/settings");';
        echo '},3000);';
        echo '</script>';
    } else {
        // Include Email Confirmation
        echo $this->setInclude("activated_code");

        // Jquery Redirect to the setting page
        echo '<script>';
        echo 'setTimeout(function(){';
        echo 'window.location.replace("/");';
        echo '},3000);';
        echo '</script>';
    }
//} //elseif(strpos(functions::curPageURL("module"), "login") !== false){
    //echo $this->setInclude("login");
} elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "reset_password") {
    echo $this->setInclude("reset_password");
} elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "login") {
    echo $this->setInclude("login");
}else {
    //Login Page Content
    echo $this->setInclude("login");
}

?>