        <!--  <a class="scrollup">Scroll</a> -->
       <div class="clearfix"></div> 
        <?php
		$fs = new functions();
        	if(!Auth::hasAuth('current_user')){
			if($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) != "activation"){
        ?>
        <div id="fl-ui-login-footer-wrapper">  <!-- custom-login-footer -->
			<p><?php  echo date("Y")?> Formalistics</p>
		</div>    
	<?php
			}
            }
function listFolderFiles($dir){
    $ffs = scandir($dir);
    $i = 0;
    $list = array();

    foreach ( $ffs as $ff ){
        if ( $ff != '.' && $ff != '..' ){
            //if ( strlen($ff)>=5 ) {
                //if ( substr($ff, -4) == '.php' ) {
                    // $list[] = $ff;
                    //echo dirname($ff) . $ff . "<br/>";
        	$ext = explode(".", $ff);
        	$get_ext = $ext[count($ext)-1];

        		if($get_ext == "js"){
        			echo '<script type="text/javascript" src="/'.$dir.'/'.$ff.''.'"></script>';
        			echo PHP_EOL;
                    // echo $dir.'/'.$ff.'';
                }elseif($get_ext == "css"){
        			echo '<link rel="Stylesheet" type="text/css" href="/'.$dir.'/'.$ff.''.'" />';
        			echo PHP_EOL;
                    // echo $dir.'/'.$ff.'';
                }
                //}    
            //}       
            if( is_dir($dir.'/'.$ff) ) 
                    listFolderFiles($dir.'/'.$ff);
        }
    }
    return $list;
}
// echo "1";
?>
<script type="text/javascript" src="/js/functions/global.js"></script> 

	<?php

		// Load Library
			echo functions::loadJSCSS_Script(LIBRARY_JAVASCRIPT_PER_MODULE,"library");

        // Load Javascript
			echo functions::loadJSCSS_Script(JAVASCRIPT_PER_MODULE,"functions");
	?>        
    </body>

    <!-- Bootstrap Functions -->
	<script type="text/javascript" src="/js/library/bootstrap/bootstrap.js"></script> 
	

	
    <!-- modernizr Functions -->
	<!--script type="text/javascript" src="/js/functions/geolocation.js"></script>
	<script type="text/javascript" src="/js/library/wizard/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/library/ruler/jquery.ruler.js"></script>
	<script type="text/javascript" src="/js/functions/tour/tour.js"></script-->
	<script type="text/javascript">
		$(document).ready(function(){
			// T#our
				//$("#tourcontrols").draggable();   
		});
	</script>
	<!-- wColorPicker -->
	<!---link rel="Stylesheet" type="text/css" href="/js/library/annotation/wColorPicker.min.css" />
	<script type="text/javascript" src="/js/library/annotation/wColorPicker.min.js"></script-->

	<!-- wPaint -->
	<!--link rel="Stylesheet" type="text/css" href="/js/library/annotation/wPaint.min.css" />
	<script type="text/javascript" src="/js/library/annotation/wPaint.min.js"></script>
	<script type="text/javascript" src="/js/library/annotation/main/wPaint.menu.main.min.js"></script>
	<script type="text/javascript" src="/js/library/annotation/text/wPaint.menu.text.min.js"></script>
	<script type="text/javascript" src="/js/library/annotation/shapes/wPaint.menu.main.shapes.min.js"></script>
	<script type="text/javascript" src="/js/library/annotation/file/wPaint.menu.main.file.min.js"></script-->
</html> 