
<div id="header-wrapper">
    <div id="header-content-wrapper">
        <div id="logo-wrapper"></div>
        <div id="login-wrapper">
            <?php
                        if(isset($_GET['redirect_url'])){
                            $url = functions::encode_decode_url($_GET['redirect_url'],"encode");
                            $action = "/login?redirect_url=" . $url;
                        }elseif($_GET['type']=="go"){
                            $path = functions::curPageURL("");
                            $get_module_param = explode("?",$path);
                            $action = '/login?' . $get_module_param[1] . '?' . $get_module_param[2] . '&login_attempt=1';
                        }else{
                           $action = "/login";
                        }
                        if($_GET['login_attempt']=="1" && $_GET['login_type']=="ad"){
                        ?>
                            <script>
                                 showNotification({
                                     message: "Your account is not registered. Please contact your system administrator.",
                                     type: "error",
                                     autoClose: true,
                                     duration: 5
                                 });
                            </script>
                        <?php
                        }
                        if($_GET['login_attempt']=="1" && $_GET['account']=="1"){
                        ?>
                            <script>
                                 showNotification({
                                     message: "You provided an invalid username or password. Please sign in again.",
                                     type: "error",
                                     autoClose: true,
                                     duration: 3
                                 });
                            </script>
                        <?php
                        }
                        if($_GET['login_attempt']=="1" && $_GET['account']=="0"){
                        ?>
                            <script>
                                showNotification({
                                    message: "Your account is currently inactive. Please contact your System Administrator to request for an activation.",
                                    type: "error",
                                    autoClose: true,
                                    duration: 3
                                });
                            </script>
                        <?php
                        }
                    ?>
            <form action="<?php echo $action; ?>" method="POST" id="login-form">
              
            </form>
        </div>
    </div>
</div><!-- end of header-wrapper -->

