<?php /*if(functions::curPageURL("?")!="http://".$_SERVER['HTTP_HOST']."/login"){*/ ?>
<?php
$fs = new functions();
$url = $fs->encode_decode_url($fs->curPageURL("module_parameter"),"decode");

// AUto logged


$parse_first_array = parse_url($url);
// var_dump($parse_first_array);
$parse_second_array = $parse_first_array['query'];

parse_str($parse_second_array,$query_params);

if($query_params['autologged'] == "yes"){
  $session = new Auth();
  $db = new Database();
  $company_id = $query_params['company_id'];

  $login_company = $db->query("SELECT * FROM tbuser WHERE company_id={$db->escape($company_id)} AND id={$db->escape(GUEST_ID)}","row");
  
  $email = $login_company['email'];
  $password = $login_company['password'];
//   var_dump($login_company);
// return false;
  $session->auto_login($email,$password,"email","password","tbuser");

  $new_url = '/user_view/workspace?view_type=request&formID='.$query_params['formID'].'&requestID='.$query_params['requestID'].'&authentication='.$query_params['authentication'].'&type='.$query_params['type'].'&log_type='.$query_params['log_type'].'&autologged='.$query_params['autologged'].'&company_id='.$query_params['company_id'].'';
  
  // echo '<meta http-equiv="refresh" content="1">';

   header('Location: '. $new_url);
  
}

?>
<div id="registration-fullheight-wrapper">
 <div id="registration-wrapper">
  	<i class="fa fa-users" style="color: #1f1f1f;position: absolute;font-size: 170px ;left: 70px; top:155px;"></i>
  <div id="registration-wrapper">
    <div id="registration-content-wrapper">
      <div id="sign-up-form-wrapper" class="effect6" style="height: 232px;">
        <h3 id="target-sign-up">Sign up</h3>
        <div class="fl-sign-up-wrapper-content">
        <form action="/ajax/regGuest" method="POST" enctype="multipart/form-data" class="guestRegistration">
          <!--<p><label>Company Name<span class="required-field">*</span></label></p>-->
          <!--<input type="text" name="companyName" id="company_name">-->
          <div id="inputs-left">
            <!--<p><label>Company Code<span class="required-field">*</span></label></p>-->
            <!--<input type="text" name="companyCode">-->
            <p><label>Email<span class="required-field">*</span></label></p>
            <input type="text" name="companyEmail">
            <p><label>First name<span class="required-field">*</span></label></p>
            <input type="text" name="companyFname">
	     <input type="hidden" name="url" value="<?php echo $url; ?>">
	     
            <!--<p><label>Position<span class="required-field">*</span></label></p>-->
            <!--<input type="text" name="companyPosition">-->
            <span class="required-field">All fields are required</span>
          </div>

          <div id="inputs-right">
            <!--<p><label>Company Contact Number<span class="required-field">*</span></label></p>-->
            <!--<input type="text" name="companyCNumber">-->
            <!--<p><label>Display Name<span class="required-field">*</span></label></p>-->
            <input type="hidden" name="companyDisplayName">
            <p><label>Last name<span class="required-field">*</span></label></p>
            <input type="text" name="companyLname">
            <!--<p><label>Password<span class="required-field">*</span></label></p>-->
            <!--<input type="password" name="companyPassword">-->
            <input type="submit" id="regUser" value="Register">
          </div>    
        </form>
        </div>
      </div><!-- -- end of sign up form wrapper -->
    </div>
  </div><!-- end of registration wrapper-->
</div>
<div id="sigin-fullheight-wrapper">
  	<i class="fa fa-lock" style="color: #1f1f1f; position: absolute; font-size: 170px; right: 158px; top: 140px;"></i>
    <div id="registration-content-wrapper">
      <div id="sign-up-form-wrapper" class="effect6 sign-in-form-wrapper">
       <?php
                if(isset($_GET['redirect_url'])){
                    $url = functions::encode_decode_url($_GET['redirect_url'],"encode");
                    $action = "/login?redirect_url=" . $url;
                }elseif($_GET['type']=="go"){
                    $path = functions::curPageURL("");
                    $get_module_param = explode("?",$path);
                    $action = '/login?' . $get_module_param[1] . '?' . $get_module_param[2] . '&login_attempt=1';
                }else{
                   $action = "/login";
                }
		if($_GET['login_attempt']=="1" && $_GET['account']=="1"){
                ?>
                    <script>
                         showNotification({
                             message: "You provided an invalid username or password. Please sign in again.",
                             type: "error",
                             autoClose: true,
                             duration: 3
                         });
                    </script>
                <?php
                }
                if($_GET['login_attempt']=="1" && $_GET['account']=="0"){
                ?>
                    <script>
                        showNotification({
                            message: "Your account is currently inactive. Please contact your System Administrator to request for an activation.",
                            type: "error",
                            autoClose: true,
                            duration: 3
                        });
                    </script>
                <?php
                }
               
            ?>
        <h3 id="target-sign-up">Sign in</h3>
        <div class="fl-sign-up-wrapper-content">
	 
        <form action="<?php echo $action; ?>" method="POST" id="login-form">
         
          <div id="inputs-left">
            <p><label>Email<span class="required-field">*</span></label></p>
            <input type="text" name="username">
   
          </div>

          <div id="inputs-right">
           <p><label>Password<span class="required-field">*</span></label></p>
            <input type="password" name="password">
            <input type="submit" id="regUser" value="Sign in">
	     <span id="forgot-pw"><a class="forgot_password" href="#">Forgot Password?</a></span>
                    <?php if(ALLOW_COMPANY_REGISTRATION == "1"){ ?>
                    <span id="forgot-pw"><a class="" href="/company_registration">Register new company?</a></span>
                    <?php } ?>
          </div>    
        </form>
        </div>
      </div><!-- -- end of sign up form wrapper -->
    </div>
  </div><!-- end of registration wrapper-->
</div>
</div>
<?php /*}*/ ?>