
<div id="fl-ui-login-header-wrapper" > <!-- custom-login-header-wrapper -->
    <div id="fl-ui-login-header-inner"> <!-- custom-login-header-content-wrapper -->
        <div class="section clearing">
            <?php
                Auth::destroyAuth('captcha_code_proceed');
                if(GO_LITE == 0){
                    $logo = "login-logo";//c_logo
                }else{
                    $logo = "login-logo";
                }
            ?>

            <div class="column div_1_of_2 <?php echo $logo; ?>">
                <?php if(HAS_THEME == "0"){ ?>
                <div class="">
                    <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg version="1.1" id="logo_formalistics" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                             y="0px" width="300px" height="70" viewBox="0 0 795 94" style="enable-background:new 0 0 795 94;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:url(#SVGID_1_);}
                            .st1{fill:url(#SVGID_2_);}
                            .st2{fill:#FC6B08;}
                            .st3{fill:url(#SVGID_3_);}
                        </style>
                        <g>
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="555.4633" y1="44.0748" x2="555.8431" y2="-1.2142">
                                <stop  offset="0.2183" style="stop-color:#89898A"/>
                                <stop  offset="0.2441" style="stop-color:#939394"/>
                                <stop  offset="0.3176" style="stop-color:#A8A9AA"/>
                                <stop  offset="0.4033" style="stop-color:#B9BBBC"/>
                                <stop  offset="0.5075" style="stop-color:#C5C7C8"/>
                                <stop  offset="0.6495" style="stop-color:#CCCECF"/>
                                <stop  offset="1" style="stop-color:#CED0D1"/>
                            </linearGradient>
                            <path class="st0" d="M652,38.6v-18c0-7.8,6.3-14.1,14.1-14.1h50.6v12.6h-50.6c-0.8,0-1.5,0.7-1.5,1.5v18.6
                                C660.4,39,656.2,38.8,652,38.6z M792.5,48v-8.7l-8,8C787.2,47.5,789.8,47.7,792.5,48z M777.9,46.7l7.4-7.4H742V20.6
                                c0-0.8,0.7-1.5,1.5-1.5H790V6.5h-60.6V43C745.7,44.1,761.9,45.4,777.9,46.7z M639.3,38V6.5h-12.6v31.1
                                C630.9,37.7,635.1,37.9,639.3,38z M406.5,33.5v-27h-12.6v27C398,33.5,402.3,33.5,406.5,33.5z M331.3,33.9V19.1H367
                                c0.8,0,1.5,0.7,1.5,1.5v13c4.2,0,8.4,0,12.6-0.1v-13c0-7.8-6.3-14.1-14.1-14.1h-38l-10.4,10.4v17.2C322.8,34,327,34,331.3,33.9z
                                 M467.6,33.7V6.5H455v27.2C459.2,33.7,463.4,33.7,467.6,33.7z M578.7,35.8c4.2,0.1,8.4,0.3,12.6,0.4V19.1H614V6.5h-57.9v12.6h22.6
                                V35.8z M492.9,34V20.6c0-0.8,0.7-1.5,1.5-1.5h46.5V6.5h-60.6v27.4C484.5,33.9,488.7,34,492.9,34z"/>
                            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="556.6335" y1="35.8474" x2="555.3577" y2="63.9132">
                                <stop  offset="0.397" style="stop-color:#5A5A5B"/>
                                <stop  offset="0.4448" style="stop-color:#646465"/>
                                <stop  offset="0.5493" style="stop-color:#737475"/>
                                <stop  offset="0.6664" style="stop-color:#7C7D7F"/>
                                <stop  offset="0.8213" style="stop-color:#7F8082"/>
                            </linearGradient>
                            <path class="st1" d="M467.6,33.7v51H455V33.6C459.2,33.7,463.4,33.7,467.6,33.7z M530.7,70.7c0,0.8-0.7,1.5-1.5,1.5h-43.9v12.6h58
                                V39.3l-12.6,12.6V70.7z M406.5,33.5c-4.2,0-8.4,0-12.6,0v51.3h48.5V72.1h-35.8V33.5z M318.6,34.1v50.7h12.6V33.9
                                C327,34,322.8,34,318.6,34.1z M368.5,33.6v5.7h-31v12.6h31v32.8h12.6V33.5C376.9,33.6,372.7,33.6,368.5,33.6z M536.1,39.3h-43.2V34
                                c-4.2-0.1-8.4-0.1-12.6-0.2v18.1h43.3L536.1,39.3z M784.5,47.3l-4.7,4.7v18.7c0,0.8-0.7,1.5-1.5,1.5h-43.9v12.6h58V48
                                C789.8,47.7,787.2,47.5,784.5,47.3z M578.7,35.8v48.9h12.6V36.2C587.1,36.1,582.9,36,578.7,35.8z M777.9,46.7
                                c-16-1.3-32.1-2.6-48.5-3.7v8.9h43.3L777.9,46.7z M664.6,39.2c-4.2-0.2-8.4-0.4-12.6-0.6v46.2h62.5V72.1h-49.9V39.2z M626.7,37.5
                                v47.3h12.6V38C635.1,37.9,630.9,37.7,626.7,37.5z"/>
                            <path class="st2" d="M129.6,20.4l-23.3,2.5V1l0,0L129.6,20.4z M230.1,35.8V19.1h23.8c0.8,0,1.5,0.7,1.5,1.5v14.7
                                c4.2-0.1,8.4-0.2,12.6-0.3V20.6c0-0.5,0-1-0.1-1.5h23.9c0.8,0,1.5,0.7,1.5,1.5v13.9c4.2-0.1,8.4-0.1,12.6-0.2V20.6
                                c0-7.8-6.3-14.1-14.1-14.1h-16.9l-8.3,8.2c-2.2-4.8-7.1-8.2-12.8-8.2h-36.4v29.7C221.7,36.1,225.9,36,230.1,35.8z M154.9,38.1v-19
                                h35.8c0.8,0,1.5,0.7,1.5,1.5v16.3c4.2-0.1,8.4-0.3,12.6-0.4v-16c0-7.8-6.3-14.1-14.1-14.1h-48.4v32.1
                                C146.4,38.4,150.6,38.3,154.9,38.1z M46.7,42.6v-3.3H15.1V19.1h40.5V6.5H2.5v38.4C16.1,44.1,30.8,43.4,46.7,42.6z M129.6,39V28.4
                                l-31.7,2.5V2.5L68.3,8.1v33.6C87.5,40.7,108,39.9,129.6,39z"/>
                            <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="154.2201" y1="33.729" x2="154.2201" y2="73.434">
                                <stop  offset="0.2495" style="stop-color:#FD9853"/>
                                <stop  offset="0.3522" style="stop-color:#FD8A3C"/>
                                <stop  offset="0.4848" style="stop-color:#FC7C25"/>
                                <stop  offset="0.6281" style="stop-color:#FC7315"/>
                                <stop  offset="0.7883" style="stop-color:#FC6D0B"/>
                                <stop  offset="1" style="stop-color:#FC6B08"/>
                            </linearGradient>
                            <path class="st3" d="M196.3,59.5l4.7,25.3h-12.7l-4.7-25.3H196.3z M142.3,38.6v46.2h12.6V38.1C150.6,38.3,146.4,38.4,142.3,38.6z
                                 M68.3,41.6v41.6l61.2,9.8V39C108,39.9,87.5,40.7,68.3,41.6z M2.5,44.9v39.9h12.6V51.9h31.5v-9.3C30.8,43.4,16.1,44.1,2.5,44.9z
                                 M255.4,35.2v49.5H268V35C263.8,35.1,259.6,35.2,255.4,35.2z M293.3,34.5v50.3h12.6V34.3C301.7,34.4,297.5,34.4,293.3,34.5z
                                 M192.2,36.9v2.4h-30.9v12.6h43.6V36.5C200.6,36.7,196.3,36.8,192.2,36.9z M217.5,36.2v48.6h12.6V35.8
                                C225.9,36,221.7,36.1,217.5,36.2z"/>
                        </g>
                    </svg>
                </div>
                <?php } ?>
            </div>
            <div class="column div_1_of_2">
               <div id="fl-ui-login-contents"> <!-- custom-login-login-wrapper -->
                    <?php
                        if($_GET['login_attempt']=="1" && $_GET['login_type']=="ad"){
                        ?>
                            <script>
                                 showNotification({
                                     message: "Your account is not registered. Please contact your system administrator.",
                                     type: "error",
                                     autoClose: true,
                                     duration: 5
                                 });
                            </script>
                        <?php
                        }
                        if($_GET['login_attempt']=="1" && $_GET['account']=="1"){
                        ?>
                            <script>
                                 showNotification({
                                     message: "You provided an invalid username or password. Please sign in again.",
                                     type: "error",
                                     autoClose: true,
                                     duration: 3
                                 });
                            </script>
                        <?php
                        }
                        if($_GET['login_attempt']=="1" && $_GET['account']=="0"){
                        ?>
                            <script>
                                showNotification({
                                    message: "Your account is currently inactive. Please contact your System Administrator to request for an activation.",
                                    type: "error",
                                    autoClose: true,
                                    duration: 3
                                });
                            </script>
                        <?php
                        }
                    ?>
                    <form action="<?php echo $action; ?>" method="POST" id="login-form">
                        <div class="section clearing fl-ui-login-input-wrapper">
                            <div class="column div_1_of_2">
                                <p><label>Email</label></p>
                                <input type="text" name="username" class="form-text" tabindex="1">
                                <?php if(ALLOW_COMPANY_REGISTRATION == "1"){ ?>
                                    <p><a class=" fl-header-font-color" href="/company_registration">Register new company?</a></p>
                                <?php } ?>
                            </div>
                            <div class="column div_1_of_2">
                                 <p fl-header-font-color><label>Password</label></p>
                                <input type="password" name="password" style="border:none!important;" class="form-text" tabindex="2">
                                <input type="submit" id="fl-btn-submit-login" class="submit" value="Login">
                                <?php
                                    if(ENABLE_FORGOT_PASSWORD_URL == "1"){

                                        if(FORGOT_PASSWORD_URL == "#"){
                                            echo '<p><a class="forgot_password fl-header-font-color"  href="#">Forgot Password?</a></p>';
                                        }else{
                                            echo '<p><a class=" fl-header-font-color"  href="'.FORGOT_PASSWORD_URL.'" target="_blank">Forgot Password?</a></p>';
                                        }
                                        
                                    }else{
                                        echo '<p><a class="forgot_password fl-header-font-color"  href="#">Forgot Password?</a></p>';
                                    }
                                ?>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="fl-ui-logo-wrapper"></div> <!-- custom-login-logo-wrapper -->
        
    </div>
</div><!-- end of header-wrapper -->

