<div id="fl-ui-login-header-wrapper">
	<div id="fl-ui-login-header-inner">
		<div class="section clearing">
			<div class="column div_1_of_2 login-logo">
			</div>
			<div class="column div_1_of_2">
				<div class="fl-ui-login-contents">
					<?php
                        if(isset($_GET['redirect_url'])){
                            $url = functions::encode_decode_url($_GET['redirect_url'],"encode");
                            $action = "/login?redirect_url=" . $url;
                        }elseif($_GET['type']=="go"){
                            $path = functions::curPageURL("");
                            $get_module_param = explode("?",$path);
                            $action = '/login?' . $get_module_param[1] . '?' . $get_module_param[2] . '&login_attempt=1';
                        }else{
                           header('Location: /login'); 
                        }
                        if($_GET['login_attempt']=="1" && $_GET['login_type']=="ad"){
                        ?>
                            <script>
                                 showNotification({
                                     message: "Your account is not registered. Please contact your system administrator.",
                                     type: "error",
                                     autoClose: true,
                                     duration: 5
                                 });
                            </script>
                        <?php
                        }
                        if($_GET['login_attempt']=="1" && $_GET['account']=="1"){
                        ?>
                            <script>
                                 showNotification({
                                     message: "You provided an invalid username or password. Please sign in again.",
                                     type: "error",
                                     autoClose: true,
                                     duration: 3
                                 });
                            </script>
                        <?php
                        }
                        if($_GET['login_attempt']=="1" && $_GET['account']=="0"){
                        ?>
                            <script>
                                showNotification({
                                    message: "Your account is currently inactive. Please contact your System Administrator to request for an activation.",
                                    type: "error",
                                    autoClose: true,
                                    duration: 3
                                });
                            </script>
                        <?php
                        }
                    ?>
					<form action="<?php echo $action; ?>" method="POST" id="login-form">
	                    <div class="section clearing fl-ui-login-input-wrapper">
	                        <div class="column div_1_of_2">
	                        <p class="fl-header-font-color"><label>Email</label></p>
	                        <input type="text" name="username" class="form-text" tabindex="1" disabled>
	                        	<?php if(ALLOW_COMPANY_REGISTRATION == "1"){ ?>
	                            	<p><a class="fl-header-font-color" href="/company_registration" data-original-title="" title="">	Register new company?</a></p>
	                            <?php }?>
	                        </div>
	                        <div class="column div_1_of_2">
	                             <p class="fl-header-font-color"><label>Password</label></p>
	                            <input type="password" name="password" style="border:none!important;" class="form-text" tabindex="2" disabled>
	                            <input id="fl-btn-submit-login" type="submit" class="submit" value="Login">
	                            <p><a class="forgot_password fl-header-font-color" href="#" data-original-title="" title="">Forgot Password?</a></p>
	                        </div>
	                    </div>
	                </form>
				</div>
			</div>
		</div>
	</div>
</div><!-- end of header -->