<?php
if(Auth::hasAuth('current_user')){
    $topNav = $this->setInclude("topNav_2",null,null,null);
    $container_class = "";
    $topNav_class = "topNav";
}else{
    $topNav = $this->setInclude("customtopnav",null,null,null);
    $container_class = "main-wrapper";
    $topNav_class = "";
}
echo '<div id="' . $container_class . '">';
echo '<div id="' . $topNav_class . '">';
    // Header Top Page Content
        echo $topNav;
        
    // Form Properties 
        if(functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "formbuilder"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "organizational_chart"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workflow"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "report"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "generate"){
            
            echo $this->setInclude("workflow_settings");
        }
    
echo '</div>';
