<div id="fl-vertical-login" class="fl-ui-login-banner" style="  height: <?php echo BODY_WALLPAPER_HEIGHT ."px;"?>">
</div>

<div id="fl-horizontal-login" style="display:none;">
	<div class="section clearing">
		<div class="column div_1_of_5">
			<div id="fl-horizontal-login-form-wrapper" style="background-color:#f90f23;">
	
				<div class="fl-horizontal-login-first-logo-wrapper" style="height:120px; background-color:#fff; text-align: center;">
					LOGO HERE
				</div>
				<div style="background-color: #fff; text-align: center;background-color: #ccc;padding:5px;"><h1>Welcome to</h1></div>
				<div class="fl-horizontal-login-first-logo-wrapper" style="height:120px; background-color:#fff; text-align: center;">
					LOGO HERE
				</div>
				<div style="background-color: #fff; text-align: center;background-color: #ccc;padding:5px;"><h1>Login Page</h1></div>
				<form action="/login" method="POST" id="login-form">
                    <div class="section clearing fl-ui-login-input-wrapper">
                        <div class="column div_1_of_1">
                            <p><label>Email</label></p>
                            <input type="text" name="username" class="form-text" tabindex="1">
                        </div>
                        <div class="column div_1_of_1">
                             <p fl-header-font-color=""><label>Password</label></p>
                            <input type="password" name="password" style="border:none!important; width:100%;" class="form-text" tabindex="2"><br/><br/>
                            <input type="submit" id="fl-btn-submit-login" class="submit" value="Login" style="width: 100%;">
                            <p><a class="forgot_password fl-header-font-color" href="#" data-original-title="" title="">Forgot Password?</a></p>                                
                        </div>
                    </div>
                </form>
			</div>
		</div>
		<div class="column div_4_of_5" style="padding:0px;margin:0px;">
			<div  class="fl-ui-login-banner" style="height: <?php echo BODY_WALLPAPER_HEIGHT ."px;"?>"></div>
		</div>
	</div>
</div>
