<?php
echo $this->header();

// Main Container 
$auth = Auth::getAuth('current_user');
$fs = new functions();
$user_level_id = $auth['user_level_id'];

// echo COMPANY_LOGIN;

    if(MAINTENANCE == "1"){
        echo $this->setInclude("maintenance");
    }else{
        if ($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "browser") {
                echo $this->setInclude("browser");
                return false;
        }   
        if ($auth['user_level_id'] == "4" && ALLOW_USER_ADMIN == "1" || $auth['user_level_id'] == "2" && ALLOW_USER_ADMIN == "1" || $auth['user_level_id'] == "3" && ALLOW_USER_ADMIN == "1") {
?>
        <!-- Content Wrapper -->
        <div class="fl-maincontainer">
            <?php
                $uri = new Layout();
                $params = $uri->getParams();
                if ($params[1] != "tour") {
                    $allowed_params = unserialize(NOT_ALLOWED_LEFTBAR);
                    if (!NOT_ALLOWED_LEFTBAR) {
                        echo "meron not allowed_params";
                    }
                    if(!in_array($params[1], $allowed_params)){
                        if (ALLOW_ADMIN_LEFTBAR == "1" && $auth['user_level_id'] == "2") {
                            echo $this->setLayout("admin_leftbar");
                        }else if (ALLOW_ADMIN_LEFTBAR == "1" && $auth['user_level_id'] == "4") {
                            echo $this->setLayout("admin_leftbar");
                        } else {
                            echo $this->setLayout("user_leftbar");
                        }
                    }
                } else {
                    echo $this->setLayout("user_tour");
                }
            ?>
            <div class="fl-content" >
                <div class="fl-main-content-wrapper">                        
                    <?php
                    echo $this->content();
                    
                    if (CHAT_ACTIVE == 1) {
                        $not_allowed_chat = unserialize(NOT_ALLOWED_CHAT);
                        if (!in_array($params[1], $not_allowed_chat)) {
                            echo $this->setLayout('chat');
                        }
                    }
                    ?>
                </div>
                <div class="clearfix"></div>
            </div> 
      <!--   </div> -->
    <?php
        }   else if ($auth['user_level_id'] == "0") {    
                echo $this->setInclude("guest_search");
        }   else if ($auth['user_level_id'] == "4") {
                echo $this->content();
                //echo $this->setInclude("guest_account");
        }   else if ($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "activate_account") {        
                echo $this->content();
        }   else if ($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "company_registration") {
                echo $this->setInclude("company_registration");
        }   else if ($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "activation") { 
                echo $this->setInclude("activation");
        }   else if ($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "ad_registration") {
                echo $this->setInclude("ad_registration");
        }   else if ($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "reset_password") {
                echo $this->setInclude("reset_password");
        }   else {
                //Login Page Content
                $fs = new functions();
                    // If Guest Is Allowed
                    if(ALLOW_GUEST == "1"){
                        $url = $fs->encode_decode_url($fs->curPageURL("module_parameter"),"decode");
                        
                        $query_str = parse_url($url, PHP_URL_QUERY);
                        parse_str($query_str, $query_params);
                        
                        if(isset($query_params) && isset($query_params['authentication']) && isset($query_params['type']) && isset($query_params['log_type'])){
                            if($query_params['authentication'] == "login" && $query_params['type'] == "guest" && $query_params['log_type'] == "user" ){
                                $display = 'SignUp';
                            }else{
                                $display = 'Login';
                            }
                        }else{
                            $display = 'Login';
                        }
                        
                            if($display == "Login"){
    
                                // if(COMPANY_STYLES == null ||  COMPANY_STYLES == ""){
                                //     echo $this->setInclude("customlogin_resdefault"); 
                                // }else {
                                //      echo $this->setInclude("customlogin_" . COMPANY_STYLES);
                                // }

                                if (HAS_THEME == 0) {
                                    echo $this->setinclude('customlogin_resdefault');
                                }else {
                                    echo $this->setInclude("customlogin");
                                }

                                
                            }else{
                                echo $this->setInclude("custom-login-signup");
                            }
                    }else{
                        //  if(COMPANY_STYLES == null ||  COMPANY_STYLES == ""){
                        //     echo $this->setInclude("customlogin_resdefault");
                        // }else {
                        //      echo $this->setInclude("customlogin_" . COMPANY_STYLES);
                        // }

                        if (HAS_THEME == 0) {
                            echo $this->setInclude("customlogin_resdefault");
                        }else {
                             echo $this->setInclude("customlogin");
                        }
                
                    }
        }
                // if(COMPANY_STYLES == null ||  COMPANY_STYLES == ""){
                //      echo $this->setInclude("customfooter_resdefault");
                    
                // }else{
                //    echo $this->footer('customfooter_' . COMPANY_STYLES);
                // }

                if (HAS_THEME == 0) {
                    echo $this->setInclude('customfooter_resdefault');
                }else {
                    echo $this->footer('customfooter');
                }
                
    }
?>
    
