<div style="margin: 0 auto; width: 960px;">
  <br/>
  <h1>Search</h1>
  <label class="pull-right" style="margin-top: -32px; display: none;" id="search_loading"><img src="/images/loader/loading.gif"></label>
  <br/>
  <div class="content_wrapper">
     <div class="mainContent">
        <div style="float: left;width:100%;">
              <div class="headInfo">
                 <div class="input-append">
                  <input type="button" value="" id="search_btn" class="search icon fl-btn-right" style="width:36px;position: absolute; right:4px; top:8px; z-index:1; border-radius:0px; display:block;cursor:pointer">
                    <input type="text" name="text" placeholder="Claim Search.." id="claim_search_field" class="" style="font-size:12px; height: 33px;margin-top: 2px; width: 48%;margin-right: 10px;padding: 5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing: border-box;">
                    <input type="text" name="text" placeholder="Policy Search.." id="policy_search_field" class="" style="font-size:12px; height: 33px;margin-top: 2px; width: 50%;padding: 5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing: border-box;">  
                 </div>                                           
                 <div class="arrow_down"></div>
              </div>                                                   
        </div>
        <div style="float: left;width:100%;">
            <ul id="none_search" style="display: none;">
              <div class="fl-no-record-found" style="margin-top:20px;"><h1><i class="fa fa-files-o"></i> No Record Found</h1></div>  
            </ul>
            <ul id="search_api_display" style="margin-top: 20px;">
              <li style="display: none;float: left;width:100%;padding:10px;border:1px solid #ddd;margin-top: 10px;margin-top: 10;margin-top: 1;min-height: 100px;background-color: #fff;border-radius:5px;" >
                <div style="float:left;width:100%;margin-bottom:5px;"><b>Native Claim File</b></div>
                <div class="hr"></div>
                <div style="float: left;width: 35%">
                  <div class="fields_below">
                    <div class="label_below obj_label">
                      <label id=""><b>Nature Of Claim:</b></label>
                    </div>
                    <div class="input_position_below">
                      1
                    </div>
                  </div>
                </div>
                <div style="float: left;width: 35%">
                  <div class="fields_below">
                    <div class="label_below obj_label">
                      <label id=""><b>Claimants Name:</b></label>
                    </div>
                    <div class="input_position_below">
                      1
                    </div>
                  </div>
                  <div class="fields_below">
                    <div class="label_below obj_label">
                      <label id=""><b>Mobile No:</b></label>
                    </div>
                    <div class="input_position_below">
                      1
                    </div>
                  </div>
                </div>
                <div style="float: left;width: 30%">
                  <div class="fields_below">
                    <div class="label_below obj_label">
                      <label id=""><b>Claimant Email Address:</b></label>
                    </div>
                    <div class="input_position_below">
                      1
                    </div>
                  </div>
                  
                  <div class="fields_below">
                    <div class="label_below obj_label">
                      <label id=""><b>Claimant Status:</b></label>
                    </div>
                    <div class="input_position_below">
                      1
                    </div>
                  </div>
                  
                </div>
              </li>
            </ul>
        </div>
     </div>
  </div>
</div>