<?php
$db = new Database();
$auth = Auth::getAuth('current_user');
$userCompany = new userQueries();
$company = $userCompany->getCompany($auth['company_id']);
$notifications = new notifications();
$companyUserImg = $userCompany->avatarPic("companyUser", $auth['id'], "80", "80", "small", "userProfile");
?>
<div style="margin: 0 auto; width: 1024px;">
  <div class="fl-content-wrapper-guest" style="width:100% !important;top: 50px !important;">
    <div class="fl-left-guest-wrapper">
            <div class="fl-profile-wrapper">
                    <div class="fl-picture-wrapper">
                            <div class="fl-pic-line"></div>
                            <div class="fl-picture">
                              <?php echo $companyUserImg ?>
                            </div>
                    </div>
                    <div class="fl-guest-name">
                            <a>
                            <?php echo $auth['first_name'] . " " . $auth['last_name']; ?>
                            </a>
                            <span>( Guest )</span>
                    </div>
                    <div class="fl-guest-from">
                            <a>
                              Guest from: <?php echo $company['name']; ?>
                            </a>
                    </div>
            </div>
            <div class="fl-copyright"><span>Copyright @ <?php echo date("Y"); ?> All rights reserved. Formalistics Version <?php echo SOFTWARE_VERSION; ?></span></div>
    </div> <!-- end fl left guest wrapper -->
    <div class="fl-right-guest-wrapper">
            <div class="fl-nav">
                    <div class="guest-fl-search-wrapper">
                            <input type="button" class="icon search">
                            <input type="text" placeholder="Search Request">
                    </div>
                    <ul id="guest-tabs">
                            <li id="guest-tab1" attr="active"><i class="fa fa-file-text"></i> Requests View</li>
                            <li id="guest-tab2"><i class="fa fa-user"></i> User Profile</li>
                            <div class="clearfix"></div>
                    </ul>
            </div><!-- end of nav -->
            
            <div class="fl-guest-tabs-wrapper">
                    <div class="guest-tab-container guest-tab-scroll" id="guest-tab1d">
                            <?php
                            $company_id = $auth['company_id'];
                              $getcategory = $db->query("SELECT * FROM tbform_category WHERE company_id = $company_id", "array");
                              array_push($getcategory,array("id"=>"0","category_name","Others"));
                              //print_r($getcategory);
                              foreach ($getcategory as $value) {
                              $category_name = $value['category_name'];
                              $category_id = $value['id'];
                              if($category_id == 0){
                                  $category_name = "Others";
                              }
                              
                                  //if(!in_array($value['id'],$array_categoryID)){
                                  //continue;
                                  //}
                                  //if($value['users']!=""){
                                  //    //search if user in form category
                                  //    if($search->getFormPrivacyUsers($value['users'])==false){
                                  //      continue;
                                  //    }   
                                  //}
                                  echo $category_name;
                                  //echo "<br>--------";
                                  foreach ($forms_array as $forms) {
                                    $json =  json_decode($forms['form_json'],true);
                                    $formID = $forms['id'];
                                    $formName = $forms['form_name'];
                                    // $forms = $json['form_json'];
                                    $categoryID = $json['categoryName'];
                                    $form_json = json_decode($json['form_json']);
                                    // segregate forms per form category
                                    if($categoryID==$category_id){
                                      echo $formName;
                                      //echo "<br>--------";
                                    }
                                 }
                              }
                            ?>
                            <div class="fl-guestreqview-wrapper">
                                    <div class="fl-headerInfo-a">
                                            <div class="fl-headerInfo-a-left">
                                                    <div class="fl-headerInfo-a-img-wrapper">
                                                            <img src="images/Angel-Locsin.jpg" width="36" height="36">
                                                    </div>
                                                    <div class="fl-headerInfo-a-name-wrapper">
                                                            <div class="fl-headerInfo-details-a">
                                                                    <span><span class="fl-theme-color-text">Requestor:</span> Angel Locsin</span><br/>
                                                                    <span><span class="fl-theme-color-text">Date Created:</span> 2014-06-23 10:53:34</span>
                                                            </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                            </div>
                                            <div class="fl-headerInfo-a-right">
                                                    <ul>
                                                            <li><a href="#" class="fl-btn"><i class="fa fa-file-text"> </i> View form</a></li>
                                                            <li><a href="#" class="fl-btn"><i class="fa fa-comment"></i> Comment</a></li>					
                                                            <div class="clearfix"></div>
                                                    </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                    </div><!-- end of headerInfo a -->
                                    <div class="fl-headerInfo-b">
                                            <h2>Type of form: Leave request form</h2>
                                    </div>
                                    <div class="fl-headerInfo-c">
                                            <h2><strong class="fl-theme-color-text">Type of Leave:</strong> Vacation leave</h2>
                                    </div>
                                    <div class="fl-headerInfo-d">
                                            <h2 class="fl-theme-color-text">Reason for leave:</h2>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form but the majority have suffered...</p>
                                    </div>
                                    <div class="fl-headerInfo-e">
                                            <h2><strong class="fl-theme-color-text">Status:</strong> Submitted</h2>
                                    </div>
                            </div><!-- end of guest req view wrapper -->				
                    </div><!-- tab 1c -->
                    <div class="guest-tab-container" style="height:100%; padding:10px;" id="guest-tab2d">
                            <div class="fl-userprofile-wrapper">
                                    <div class="fl-userpro-header">
                                            <div class="fl-left-guest-wrapper-inner">
                                                    <h2>Account Details</h2>
                                            </div>
                                            <div class="fl-right-wrapper-btn">
                                                    <ul>
                                                            <li><a href="#" class="fl-btn fl-btn-white fl-edit-acct"><i class="fa fa-pencil"> </i> Edit</a></li>
                                                            <li><a data-action-type="personal_info" class="save_personalInfo fl-btn fl-btn-white fl-save-acct" data-id="<?php echo $auth['id'];?>" id="save_personalInfo"> Save</a></li>
                                                            <li><a href="#" class="fl-btn fl-btn-white fl-acct-cancel"> Cancel</a></li>					
                                                            <div class="clearfix"></div>
                                                    </ul>
                                                    <!-- <a href="#" class="fl-btn-white fl-edit-acct"><i class="fa fa-pencil"> </i> Edit</a> -->
                                            </div>
                                            <div class="clearfix"></div>
                                    </div>
                                    <div class="fl-acct-details-wrap">
                                            <div class="fl-left-guest-wrapper-inner">
                                                    <div class="fl-large-profile">
                                                            <?php echo $userCompany->avatarPic("companyUser", $auth['id'], "150", "150", "large", "userProfile"); ?>
                                                            <form action="/ajax/upload" method="POST" class="uploadingProfilePic" id="personal_photo" enctype="multipart/form-data" style="margin-top:10px;">
                                            <div class="pull-left">
                                               <div id="uniform-fileInput" class="guest-uploader">
                                                  <input type="file" data-action-id="2" value="upload" name="userProfilePic" id="uploadForm" data-action-type="userPhoto" size="24" style="opacity: 0;" class="upfile">
                                                     <input type="hidden" value="companyUser" name="userType" />
                                                     <span id="uploadFilename_2" class="filename">No file selected</span>
                                                     <span class="action">Choose File</span>
                                               </div>
                                            </div>
                                    </form>
                                    
                                                    </div>
                                                    <!-- <center style="margin-top:40px">
                                    <div class="spinner loaderUploadProfile display">
                                             <div class="bar1"></div>
                                             <div class="bar2"></div>
                                             <div class="bar3"></div>
                                             <div class="bar4"></div>
                                             <div class="bar5"></div>
                                             <div class="bar6"></div>
                                             <div class="bar7"></div>
                                             <div class="bar8"></div>
                                             <div class="bar9"></div>
                                             <div class="bar10"></div>
                                    </div>
                                    </center> -->
                                            </div>
                                            <div class="fl-right-wrapper-btn" style="width:77%;">
                                                    <form class="personal_info" method="POST">
                                                      
                                                            <div class="fl-guest-fields">
                                                              <span>First Name</span>:
                                                              <div class="fl-input-guest_position">					
                                                                <label class="fl-guest-label " id="uInfo_firstName<?php echo $auth['id'];?>"><?php echo $auth['first_name'];?></label> 
                                                                <input type="text" id="" name="firstName" class="fl-guest-field" value="<?php echo $auth['first_name'];?>">
                                                              </div>
                                                            </div>
                                                      
                                                            <div class="fl-guest-fields">
                                                                    <span>Middle Name</span>:
                                                                    <div class="fl-input-guest_position">					
                                                                  <label class="fl-guest-label" id=""><?php echo $auth['middle_name'];?></label> 
                                                                 <input type="text" id="" name="middleName" class="fl-guest-field" value="<?php echo $auth['middle_name'];?>">
                                                                    </div>
                                                            </div>
                                                      
                                                            <div class="fl-guest-fields">
                                                                    <span>Last Name</span>:
                                                                    <div class="fl-input-guest_position">					
                                                                 <label class="fl-guest-label" id=""><?php echo $auth['last_name'];?></label> 
                                                                  <input type="text" id="" name="lastName" class="fl-guest-field" value="<?php echo $auth['last_name'];?>">
                                                                    </div>
                                                            </div>
                                                      
                                                            <div class="fl-guest-fields">
                                                                    <span>Contact Number</span>:
                                                                    <div class="fl-input-guest_position">					
                                                                 <label class="fl-guest-label" id=""><?php echo $auth['contact_number'];?></label> 
                                                                  <input type="text" id="" name="contactNumber" class="fl-guest-field" value="<?php echo $auth['contact_number'];?>">
                                                                    </div>
                                                            </div>
                                                      
                                                            <div class="fl-guest-fields">
                                                                    <span>Date Registered</span>:
                                                                    <div class="fl-input-guest_position">					
                                                                    <label class="fl-guest-label" id=""><?php echo $auth['date_registered'];?></label>
                                                                    </div>
                                                            </div>
                                                      
                                                    </form>
                                            </div>
                                            <div class="clearfix"></div>	
                                    </div><!-- enf of acct details wrap -- >
                            </div><!-- end of user profile wrapper -->
                            <div class="clearfix"></div>
                    </div><!-- tab 2c -->
            </div>
    </div><!-- end fl right guest wrapper -->
    <div class="clearfix"></div>
</div>
</div>