<?php
$auth = Auth::getAuth('current_user');
$userCompany = new userQueries();
$company = $userCompany->getCompany($auth['company_id']);
$notifications = new notifications();
$companyUserImg = $userCompany->avatarPic("companyUser", $auth['id'], "36", "36", "small", "userProfile");
?>
<div class="fl-user-guest-header-wrapper">
        <div class="fl-user-header-max-width">
                <div class="fl-user-company-avatar-wrapper">
                        <div class="fl-user-avatar-company-wrapper">
                                <a href="#"><?php echo $userCompany->avatarPic("companyAdmin", $auth['company_id'], "36", "36", "Original", "companyPic"); ?></a>
                        </div>
                        <span class="fl-user-companyname"><?php echo $company['name']; ?></span>
                </div>
                <div class="fl-user-onlineuser-avatar-wrapper">
                        <span class="fl-user-name">
                                <i class="fa fa-power-off"></i> <a href="/user/logout">Logout</a>
                        </span>
                </div>
        </div>
</div>