<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<!-- Load -->
<script type='text/javascript' src='/js/library/load/load.js'></script>
<html <?php if(IsPublicFormaPage()) echo 'public-forma-page="true"'; ?> xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" <?php echo ($_GET['print_form'] == 'true')?'print-form="true" print-form-id="'.$_GET['formID'].'"':''; ?> >
    <head>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><?php echo  Config::get_page_alias(); ?></title>
	
		<!-- <link rel="stylesheet" type="text/css" href="/js/functions/form_builder/ide/css/stylesheets/ide.css">
		<link rel="stylesheet" type="text/css" href="/js/functions/form_builder/ide/css/fonts/font.css">
		<link rel="stylesheet" type="text/css" href="/js/functions/form_builder/ide/css/fonts/font-awesome.min.css" /> -->
		<style>
			[public-forma-page="true"] [id="fl-workspace-controls"],
			[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"],
			[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"] + .fl-worspace-headerv2,
			[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"] + .fl-worspace-headerv2 + .fl-form-name-wrapper,
			[public-forma-page="true"] [id="online_count"],
			[public-forma-page="true"] .fl-action-close,
			[public-forma-page="true"] .fl-user-header-wrapper
			{
				display: none !important;
			}
			[public-forma-page="true"] .fl-workspace-control-container{
				top: 0px !important;
			}
			[public-forma-page="true"] .setOBJ[data-object-id][id]{
				top:0px !important;
				left:0px !important;
				position:relative !important;
				width:100% !important;
			}
			[public-forma-page="true"] .loaded_form_content{
				height: auto !important;
			}
		</style>
		<!-- <link rel="stylesheet" type="text/css" href="/js/functions/form_builder/public_forma_settings/public_forma_page.css" /> -->

		<link rel="shortcut icon" href="/images/logo/formalistics.ico" />
		
        <meta name="description" content="<?php echo PAGE_DESC;?>" />
        <meta name="keywords" content="<?php echo PAGE_KEYWORD;?>" />
        <meta name="author" content="<?php echo PAGE_AUTHOR;?>" />
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		
		<meta name="disable-extension-feature" content="read-dom" /> <!-- Disabled Browser Extension -->
		<!-- Expiration Date to ensure that the browser will show the file that’s fresh from the server, rather than from the cache -->
		<meta http-equiv="expires" content="Fri, 18 Jul 2015 1:00:00 GMT" /> 
		<link href="/css/font.css" rel="stylesheet" type="text/css">

		<!-- <link rel="stylesheet" href="/css/faq.css" /> -->
		<!-- Javascript -->
		<!-- Jquery Library -->
			<script type="text/javascript" src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>
			<script type="text/javascript" src="/js/library/jqueryLib/jquery-migrate.js"></script>

			<script type="text/javascript" src="/js/library/jqueryLib/mobile.js"></script>

			<script type="text/javascript" src="/js/library/jqueryLib/jquery-ui.js"></script>
			<script src="/js/library/form/jquery.form.js"></script>

			<script src="../../../js/functions/name_selection/name_selection.js"></script>
			<script src="../../../js/library/template.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/user_css/stylesheets/chat.css" />
			<script>
				function getUrlVars(varName) {
					var vars = {};
					var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
						vars[key] = value;
					});
					if(varName){
						return vars[varName];
					}else return vars;
				}
				if(getUrlVars("public_forma_page") == "1"){
					var SystemLog = console;
					console.log = function(){};
					console.error = function(){};
					console.time = function(){};
					console.timeEnd = function(){};
				}
				function ValidValue(a,b){
					return a !== undefined && a !== null && a !== "" && $.type(a) !== "undefined" && $.type(a) !== "null";
				}
				ArrayClean = function(given_array, deleteValue) {
					for (var i = 0; i < given_array.length; i++) {
						if (given_array[i] == deleteValue) {         
							given_array.splice(i, 1);
							i--;
						}
					}
					return given_array;
				};
				$(function() {
				    $.xhrPool = [];
				    $.pauseAllXHR = false;
				    $.xhrpAbortAll = function() {
				    	var ajax_collection = $.xhrPool;
				        console.log("executing ajax abort all");
				        $(ajax_collection).each(function(i, jqXHR) {   //  cycle through list of recorded connection
				            jqXHR.abort();  //  aborts connection
				            // $.xhrPool.splice(i, 1); //  removes from list by index
				            delete $.xhrPool[i];
				        });
				        $.xhrPool = $.xhrPool.filter(ValidValue);
				        console.log("ajax abort all success!");
				    }
				    $.xhrpPauseAll = function() {
				    	var ajax_collection = $.xhrPool;
				    	console.log("PAUSE ALL START", this)
				    	$.pauseAllXHR = true;
				    	var temp_paused_ajax = [];
				        console.log("executing ajax pause all");
				        $(ajax_collection).each(function(i, jqXHR) {   //  cycle through list of recorded connection
				            jqXHR.abort();  //  aborts connection to pause
				            // $.xhrPool.splice(i, 1); //  removes from list by index
				            jqXHR.temporaryPause = true;
				            temp_paused_ajax.push(jqXHR);
				        });
				        $.xhrPool = temp_paused_ajax;
				        console.log("ajax pause all success!",$.xhrPool, this);
				    }
				    $.xhrpContinueAll = function() {
				    	var ajax_collection = $.xhrPool;
				    	$.pauseAllXHR = false;
				        console.log("executing ajax resend all");
				        $(ajax_collection).each(function(i, jqXHR) {   //  cycle through list of recorded connection
				            $.ajax(jqXHR._z_$_ajax_data_settings);
				            // $.xhrPool.splice(i, 1); // remove it because it is sended and creates a new pool objec xhr for new send connection -> beforeSend
				        	// delete $.xhrPool[i];
				        });
				        $.xhrPool = [];
				        console.log("ajax pause resend success!");
				    }
				    $.ajaxSetup({
				        beforeSend: function(jqXHR, jqXHR_settings) {
				        	jqXHR._z_$_ajax_data_settings = jqXHR_settings;
				        	if(jqXHR_settings["url"] == "/ajax/ping_network"){
				        		//bypass the rule of pause xhr
				        	}else if($.pauseAllXHR == false){
			        			$.xhrPool.push(jqXHR);
				        	}else{
				        		jqXHR.abort();
				        		$.xhrPool.push(jqXHR);
				        	}
			        	}, //  annd connection to list
				        complete: function(jqXHR) {
				        	if(jqXHR.temporaryPause){
				        		
				        	}else{
				        		var i = $.xhrPool.indexOf(jqXHR);   //  get index for current connection completed
				        		if (i > -1) $.xhrPool.splice(i, 1); //  removes from list by index
				        	}
				        },
				        error: function(jqXHR) {
							// console.log("FAILING",jqXHR["_z_$_ajax_data_settings"]["url"], jqXHR["_z_$_ajax_data_settings"] , $.pauseAllXHR, jqXHR);
                            if( ( jqXHR["_z_$_ajax_data_settings"]["url"] == "/ajax/ping_network" && jqXHR['statusText'] == "error" ) ){
                            	if(LongPollCheckNetwork.delayed_status == ""){
                            		ui.block();
                            		showNotification({
                            		    message: "Network connection lost. Please stand by...",
                            		    type: "error",
                            		    autoClose: true,
                            		    duration: 5
                            		});
                            		setTimeout(function(){
                            			ui.unblock();
                            		},5000);
                            	}
                            	if($.pauseAllXHR == false){
                        			$.xhrpPauseAll();
                        		}
                        		LongPollCheckNetwork.delayed_status = "failed";
                            }
                            if(LongPollCheckNetwork.delayed_status == "failed"){
                            	ui.unblock();
                            }
					  	}
				    });


				});
				if(window.opener){ //FS#7646
					/*
						if you are in a popup not in a new blank page
						"link that target blank page"
						there is an opener key so i nulled it from the click of the request list
						whenever the row is clicked as new blank page
						file: request_list.js 12:12PM Nov 17, 2016
					*/
					function checkThisHeaderChildWindow(){
						setTimeout(function(){
							if($('.fl-user-header-wrapper:visible').length >= 1){
								$('.fl-user-header-wrapper').hide();
								delete window.checkThisHeaderChildWindow;
							}else{
								checkThisHeaderChildWindow();
							}
						},0);
					}
					function checkParentWindowIfExist(){
						setTimeout(function(){
							if(window.opener == null){
								window.onbeforeunload = null;
								window.close();
							}else{
								checkParentWindowIfExist();
							}
						},0);
					}
					checkParentWindowIfExist();
					checkThisHeaderChildWindow();
				}
				$(document).ready(function(){ 
					//FLAW: when the form has two embedded view and desame form source
					//SOLUTION you can compare window object ... :D
					if(window.opener && !window.fromParent){//FS#7646
						window.opener.$('[data-embed-href-link="'+window.location.pathname+window.location.search+'"]').filter(function(a,b){
							return window.opener.$(b).parent().children('.embed-view-container').data('embedDialog') == window;
						}).trigger('click');
					}
				});
			</script>
			<script type="text/javascript" src="/js/functions/ping_network.js"></script>
		<!-- USER VIEW Javascript -->

		<?php
			$Header_MainController_Include = new Header_MainController_Include();

			echo $Header_MainController_Include->guest_css(); // For Guest

			$include = $Header_MainController_Include->main_controller(); // Include CSS, Javascript
			$json_include = json_decode($include,true);

			echo $json_include['main_controller'] . PHP_EOL;
			echo $json_include['include_css'] . PHP_EOL;
			echo $json_include['guest_structure'] . PHP_EOL;
		?>

		<!-- <link rel="stylesheet" type="text/css" href="/css/user_css/stylesheets/style.css" /> -->
		<link rel="stylesheet" type="text/css" href="/css/user_css/stylesheets/structure.css" /> 
		<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font.css" />
		<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/global_css.css" />
		<!-- CSS customlogincss -->
		<?php

			if (COMPANY_STYLES != NULL || COMPANY_STYLES != "") {
				
				echo '<link rel="stylesheet" type="text/css" href="/css/customlogin_'.COMPANY_STYLES.'.css" />';
			
			}
		?>
		<?php 
			
			if (HAS_THEME == 1) {
			
				include_once "layout/login_preview_default_css.phtml";
			}
		?>
		<!-- CSS ScrollBar -->
		<link href="/css/scrollbar/perfect-scrollbar.css" rel="stylesheet">
		<!-- CSS Notification -->
		<link rel="stylesheet" type="text/css" href="/css/notification/jquery_notification.css" />
		<!-- CSS Tooltip / Popover -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css" />
		<!-- Table / Popover -->
		<link rel="stylesheet" type="text/css" href="/css/table/table.css" />
		<!-- Spectrum Color Picker -->
		<link rel="stylesheet" type="text/css" href="/css/colorPicker/spectrum.css" />

		<link rel="stylesheet" type="text/css" href="/css/datepicker/jquery-ui-1.7.2.custom.css" />

		<link rel="stylesheet" type="text/css" href="/js/functions/form_builder/formbuilder.css" />
	     
		<style>
		    .switcher { position: fixed; left: 0; top: 100px; background-color: #000; width: 24px; height: 96px; }
		    .switcher ul li { width: 12px; height: 12px; margin: 0 6px 6px 6px; border: none; padding: 0; }
		    .switcher ul li:first-child { margin-top: 4px; }
		    .switcher ul li.last { margin-bottom: 0; }
		    
		    .colorSwitch a { position: fixed; left: 0; top: 210px; background: url(../images/switcher/bgColor.png); width: 24px; height: 78px; cursor: pointer; }
		    .colorSwitch a:hover { background-position: -24px 0; }
		    
		    .layoutSwitch a { position: fixed; left: 0; top: 300px; background: url(../images/switcher/liquid.png); width: 24px; height: 60px; cursor: pointer; }
		    .layoutSwitch a:hover { background-position: -24px 0; }
		    
		/* Preview Ribbon */     
		    .ribbon-wrapper-green {
		      width: 85px;
		      height: 88px;
		      overflow: hidden;
		      position: absolute;
		      top: -5px;
		      right: -3px;
		      z-index: 1000;
		    }
		     
		    .ribbon-green {
		      font: bold 15px Sans-Serif;
		      color: #333;
		      text-align: center;
		      text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
		      -webkit-transform: rotate(45deg);
		      -moz-transform:    rotate(45deg);
		      -ms-transform:     rotate(45deg);
		      -o-transform:      rotate(45deg);
		      position: relative;
		      padding: 7px 0;
		      left: -5px;
		      top: 15px;
		      width: 120px;
		      background-color: #BFDC7A;
		      background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
		      background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
		      background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
		      background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
		      background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
		      color: #6a6340;
		      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		      -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
		      box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
		    }
		     
		    .ribbon-green:before, .ribbon-green:after {
		      content: "";
		      border-top:   3px solid #6e8900;   
		      border-left:  3px solid transparent;
		      border-right: 3px solid transparent;
		      position:absolute;
		      bottom: -3px;
		    }
		     
		    .ribbon-green:before {
		      left: 0;
		    }
		    .ribbon-green:after {
		      right: 0;
		    }
		</style>
		<script>
		    $(document).ready(function() {
				// Jquery IDLE
				//var pathname = window.location.pathname;
				//if (pathname != "/") {
				//	$(document).sessionTimeout();
				//}
			
				// Change CSS Design
				$("body").on("click",".designCssStyle",function(){
				    var style_css = $(this).attr("data-style");
				    $(".designCSS").attr("href",style_css);
				});

					//.fl-workspace-button-wrapper-relatedforms, #fl-ui-app-wrapper, #fl-ui-app-wrapper, .fl-ui-announcement-posted-column,
	            $('#fl-ui-app-wrapper, #logs-container, .fl-ui-announcement-graph-content-wrapper, .fl-links-option-category, .fl-request-widget-wrapper, .fl-generic-control-innner, .tab_objects, .generate_objects, .fl-file-resource-wrapper, .fl-file-images-wrapper, .guest-tab-scroll, .fl-inmail-notifications-content-wrapper, .fl-inmail-notifications-compose-content-wrapper, .fl-drop-flyout-scroll, .fl-widget-wrapper, .fl-widget-wrapper-scroll, .fl-left-wrapper-content, .fl-starred-scrollhere, .fl-notification-wrapper-scroll, .fl-form-controls-content, .fl-form-actions-content, .fl-form-setting-content, .fl-form-objects-content, .fl-form-htmlvalue-content, .appendObjectsHere, .slideContainerScroll').perfectScrollbar({
	                  wheelSpeed: 1,
	                  wheelPropagation: false, 	
	                  maxScrollbarLength:100,
	                  minScrollbarLength:50
	                  //suppressScrollX: true
	             });
		    	
		    	// Validation for the layout (login / home page)
			    var path = window.location.pathname;
			    var user_auth = $("#user_auth").val();
			    var USERAUTH = getCookie('USERAUTH');
			    var user_authentication = document.getElementById('user_authentication').value;
		    });
		</script>
		<script type="text/javascript" src="/js/functions/lot_management_system.js"></script>
    </head>
    <body id="fl-body-orig">
		<?php
				$mod = unserialize(ENABLE_COMPANY_MOD);
		?>
		<input type="hidden" id="go_lite" value="<?php echo GO_LITE; ?>"/>
		<input type="hidden" id="cookie_url" value="<?php echo COOKIE_URL; ?>"/>
		<input type="hidden" id="autologged" value="<?php echo AUTO_LOGGED; ?>"/>
		<input type="hidden" id="AD" value="<?php echo ALLOW_ACTIVE_DIRECTORY; ?>"/>
		<input type="hidden" id="guest_allow_ws" value="<?php echo ALLOW_GUEST; ?>"/>
		<input type="hidden" id="user_url_view" value="<?php echo USER_VIEW; ?>"/>
		<input type="hidden" id="guest_name" value="<?php echo GUEST_NAME; ?>"/>
		<input type="hidden" id="gi" value="<?php echo $mod['gs3_insights']['gi-report-designer'] . "-" . $mod['gs3_insights']['gi-report-designer-list']; ?>"/>
		<input type="hidden" id="guest_user_url_view" value="<?php echo GUEST_MAIN_PAGE; ?>"/>
		<input type="hidden" id="guest_user_url_view" value="<?php echo GUEST_MAIN_PAGE_1; ?>"/>
		<input type="hidden" id="main_page" value="<?php echo MAIN_PAGE; ?>"/>
		<input type="hidden" id="user_auth" value="<?php echo Auth::hasAuth('current_user'); ?>"/>
		<input type="hidden" id="user_authentication" name="user_authentication" value="<?php echo Auth::hasAuth('current_user'); ?>"/>
		<input type="text" class="display" id="config_external_link" value="<?php echo ALLOW_EXTERNAL_LINKS; ?>">
		<input type="text" class="display" id="config_default_actions" value="<?php echo ALLOW_DEFAULT_ACTIONS; ?>">
		<input type="text" class="display" id="formCtrl" value="<?php echo WORKSPACE_CONTROL; ?>">
		<input type="text" class="display" id="message_app_config" value="<?php echo $mod['others']['message']; ?>">
		<input type="text" class="display" id="noti_app_config" value="<?php echo $mod['others']['notification']; ?>">
		<!-- Insert your content here -->

		<?php
		    echo $Header_MainController_Include->header_include(); // For Header Panel
		    include "layout/main-app-icons.phtml";
		?>
