<div class="section clearing">
	<div class="column div_1_of_2">
		<div class="fl-widget-head fl-small-widgetv2">
            <div class="widget-icon-wrapper">
                <span class="icon custom-widget"></span><span class="widget-title">Pinned Request<a href="#"><strong class="counter fl-counter-dashboard display"></strong></a></span>
            </div>
        </div>
        <div class="fl-widget-wrapper-scroll fl-scroll-overflow">
            <div class="fl-request-widget">
                <div class="fl-request-widget-header">
                    <span>Form Name: Developer Profile</span>
                </div>
                <ul class="fl-request-widget-data">
                    <li>Developer Name : John Doe</li>
                    <li>Contact : 0927987398</li>
                    <li>Address : #6 H Pinagbuhatan pasig city</li>
                    <li>Languages : Java, C#, PHP</li>
                    <li>Shift : Day Shift</li>
                    <li>Position : Junior Developer</li>
                </ul>
            </div>
        </div>
	</div>
	<div class="column div_1_of_2">2</div>
</div>