<?php
$auth = Auth::getAuth('current_user');
$db = new Database();
$fs = new functions();
$search = new Search();
$company_id = $auth['company_id'];
$Request = new Request();
$userCompany = new userQueries();
// Allowing navigation
$company = $userCompany->getCompany($auth['company_id']);

$person = new Person($db, $auth['id']);

//Counter
//count orgchart
$getOrgchart = count($search->getOrgchart(""));
//count forms
$countForm = $search->getForms("");
$getForms = count(json_decode(setAdminViewer($countForm),true));
//count workflow
$getWorkflow = $search->getWorkflows("");
$getWorkflow = count(json_decode(setAdminViewer($getWorkflow),true));

$reportCount = count(functions::getReports("WHERE company_id={$db->escape($auth['company_id'])}"));
?>

<span class="companyUserMenu">
    <div class="pull-left">

        <center> <b>
                <?php
                //$company['name']
                $companyName = $company['name'];
                if (strlen($companyName) < 40) {
                    //$abbreviated_word = $fs->initials($companyName);
                    echo $companyName;
                    //echo mb_strlen($abbreviated_word);
                } else {
                    echo $fs->truncate($companyName, "28");
                }
                ?></b>
        </center>

    </div>
    <div class="pull-right">

    </div>
</span>
<span class="companyUserLogo">
    <a href="/">
        <?php echo $userCompany->avatarPic("companyAdmin", $auth['company_id'], "100%", "100", "Original", "companyPic"); ?>
    </a>
</span>
<span class="companyUserMenu" style="cursor:default;">
    <div class="pull-left">

        <label style="cursor:default;">+ COMPANY USERS</label>
    </div>
    <div class="pull-right">
        <label class="red countCompanyUser">
            <?php echo $userCompany->counterLimmit($userCompany->countCompanyUsers($company['id'])); ?>
        </label>
    </div>
</span>
<span class="companyUserMenu viewnewRequest" style="cursor:default;border: 1px solid #d5d5d5;">
    <div class="pull-left">
        <label style="cursor:default;">+ NUMBER OF REQUESTS</label>
    </div>
    <div class="pull-right">
        <label class="red requestcounter">
            <?php echo $userCompany->counterLimmit($Request->forMyApproval($auth['company_id'], $auth['id'])); ?>
        </label>
    </div>
</span>
<span class="pull-left length12">
    <div class="divider"><span></span></div>
</span>
<?php
$forms_array = $db->query("SELECT ws.form_name as form_name, ws.id as id  FROM tb_workspace ws LEFT JOIN tbworkflow wf on ws.id = wf.form_id WHERE wf.is_active = 1 AND ws.is_delete = 0 AND company_id = {$db->escape($company_id)} AND wf.is_delete = 0", "array");
?>

<!-- User Dashboard Navigation-->
<ul class="navigation">
    <li class="active"><a title=""><i class="icon-dashboard"></i>Dashboard</a></li>
    <li>
        <a href="/" title="" class="expand subClosed"><i class="icon-home"></i>Home</a>
    </li>
    <li>
        <a href="/app" title="" class="cursor expand subClosed"><i class="icon-tasks"></i>Applications
            <strong><?php echo $userCompany->counterLimmit(count($forms_array)); ?></strong>
        </a>
    </li>
    <?php
    if (count($forms_array)) {
        ?>
                                                                                        <!--<li><a title="" class="cursor expand subClosed"><i class="icon-tasks"></i>Applications</a>-->
        <!--<ul style="display: none;">-->
        <?php
        foreach ($forms_array as $forms) {
            ?>
                                                                                                    <!--<li><a href="/application?id=<?php echo $forms['id']; ?>" class="cursor apps" id="<?php echo "form-" . $forms['id']; ?>"><?php echo $forms['form_name']; ?></a></li>-->
            <?php
        }
        ?>
        <!--</ul>-->
        <!--</li>-->
        <?php
    }
    if ($auth['user_level_id'] == "2") {
        ?>
        <li>
            <a title="" class="cursor expand subClosed"><i class="icon-sitemap"></i>Organizational Charts
                <strong><?php echo $userCompany->counterLimmit($getOrgchart); ?></strong>
            </a>
            <ul style="display: none;">
                <li><a href="/organizational_chart" title="">Create OrgChart</a></li>

                <li><a href="/orgchart_list" title="">List of OrgChart<strong><?php echo $userCompany->counterLimmit($getOrgchart); ?></strong></a></li>
            </ul>
        </li>
        <li>
            <a title="" class="cursor expand subClosed"><i class="icon-reorder"></i>Forms
                <strong><?php echo $userCompany->counterLimmit($getForms); ?></strong>
            </a>
            <ul style="display: none;">
                <li><a href="/formbuilder?formID=0" title="">Create Form</a></li>
                <li><a href="/forms" title="">List of Form<strong><?php echo $userCompany->counterLimmit($getForms); ?></strong></a></li>
            </ul>
        </li>

                                                                                        <!-- <li><a title="" class="cursor expand subClosed"><i class="icon-tasks"></i>Forms</a>
                                                                                            <ul style="display: none;">
                                                                                                <li><a href="/formbuilder" title="">Create Form</a></li>
                                                                                                <li><a class="create_request" title="">Create Request</a></li>
                                                                                                <li><a href="/request" title="">List of Request <strong><?php echo $userCompany->counterLimmit("0"); ?></strong></a></li>
                                                                                                <li><a href="/forms" title="">List of Forms <strong><?php echo $userCompany->counterLimmit("0"); ?></strong></a></li>
                                                                                                <li><a href="/" title="">Your Request <strong><?php echo $userCompany->counterLimmit("0"); ?></strong></a></li>
                                                                                            </ul>
                                                                                        </li> -->
        <li>
            <a title="" class="cursor expand subClosed"><i class="icon-retweet"></i>Workflows
                <strong><?php echo $userCompany->counterLimmit($getWorkflow); ?></strong>
            </a>
            <ul style="display: none;">
                <li><a href="/workflow" title="">Create Workflow</a></li>
                <li><a href="/flowchart_list" title="">List of Workflows <strong><?php echo $userCompany->counterLimmit($getWorkflow); ?></strong></a></li>
            </ul>
        <li>
            <a href="/print_form_list" title="" class="expand subClosed"><i class="icon-bar-chart"></i>Print Report</a>
        </li>
    </li>
    <!-- <li>
        <a title="" class="cursor expand subClosed"><i class="icon-bar-chart"></i>Reports</a>
        <ul style="display: none;">
            <li><a href="/reports" title="">Create Reports</a></li>
            <li><a href="/" title="">List of Reports <strong><?php echo $userCompany->counterLimmit("0"); ?></strong></a></li>
        </ul>
    </li> -->
    <?php
} else {
    $getActiveOrgchart = $db->query("SELECT * FROM tborgchart tbo WHERE tbo.status = 1 AND company_id = {$auth['company_id']} AND is_delete = 0", "row");
    ?>

    <li>
        <a href="/organizational_chart?view_type=edit&id=<?php echo $getActiveOrgchart['id']; ?>" title="" class="cursor expand subClosed"><i class="icon-sitemap"></i>Organizational Chart
        </a>
    </li>
    <?php
}
?>

<li>
    <a title="" class="cursor expand subClosed">
        <i class="icon-bar-chart"></i>Reports<strong><?php echo $userCompany->counterLimmit($reportCount); ?></strong>
    </a>
    <ul style="display: none;">

        <?php
        if ($auth['user_level_id'] == "2") {
            ?>
            <li><a href="/report" title="">Create Report</a></li>
            <?php
        }
        ?>
        <li>
            <a href="/rep_list" title="">List of Reports <strong><?php echo $userCompany->counterLimmit($reportCount); ?></strong></a>
        </li>
    </ul>
</li>

<?php
//keywords
if ($auth['user_level_id'] == "2") {
    ?>
    <li>
        <a title="" class="cursor expand subClosed">
            <i class="icon-key"></i></i>Keywords<strong><?php echo $userCompany->counterLimmit($reportCount); ?></strong>
        </a>
        <ul style="display: none;">
            <li><a href="#" class="createkeyword" title="">Create Keyword</a></li>
            <li>
                <a href="/keyword_list" title="">List of Keywords <strong><?php echo $userCompany->counterLimmit($reportCount); ?></strong></a>
            </li>
        </ul>
    </li>
    <?php
}
?>
<!-- <li>
    <a href="/group" title="" class="expand subClosed"><i class="icon-group"></i>Create Group<strong><?php echo $userCompany->counterLimmit("20"); ?></strong></a>
</li> -->
<?php
$getGroups = $db->query("SELECT * FROM tbgroups WHERE user_id = " . $auth['id'] . " AND is_active=1", "array");
?>
<li>
    <a href="/groups" title="" class="cursor expand subClosed"><i class="icon-tasks"></i>Groups
        <strong class="groupCount"><?php echo $userCompany->counterLimmit(count($getGroups)); ?></strong>
    </a>
</li>
<?php
if ($auth['user_level_id'] == "2") {
    ?>
    <li>
        <a title="" class="expand subClosed cursor"><i class="icon-wrench"></i>Administer</a>
        <ul style="display: none;">
            <li><a href="/suggestions" title="">Suggestions/Comments</a></li>
            <li><a href="/settings" title="">Settings</a></li>
            <li><a href="/form_category" title="">Form Category</a></li>
        </ul>
    </li>
    <?php
}
?>
</ul>

<!-- User Dashboard Navigation-->
<!--<ul class="navigation">
    <li class="active"><a href="/home" title=""><i class="icon-puzzle-piece"></i>Games</a></li>
    <li>
        <a href="#" title="" class="expand subClosed"><i class="icon-user"></i>Animos Lost Juan</a>
    </li>
    <li>
        <a href="#" title="" class="expand subClosed"><i class="icon-money"></i>Employee For Sale</a>
    </li>
</ul>-->

<span class="pull-left length12">
    <div class="divider"><span></span></div>
</span>

<!--Users Online-->
<ul class="navigation">
    <?php
    $usersOnline = $userCompany->onlineUser($auth['company_id'], $auth['id']);
    ?>
    <li class="active"><a href="/home" title=""><i class="icon-user"></i>Online Users <strong class="countUOnline">
                <?php echo $usersOnline[0]['countUserOnline']; ?></strong></a>
    </li>
    <li>
        <div id="online-users-container" class="online onlineUsers" view-type="2013-design">
            <?php
            if ($usersOnline[0]['countUserOnline'] == "0") {
                echo "<b>No Users Online.</b>";
            } else {
                echo $usersOnline[0]['images'];
            }
            ?>
        </div>
    </li>
</ul>

<!-- Suggestion Box -->
<ul class="navigation">
    <li>
        <a title="" class="cursor expand subClosed suggestionBox">
            <i class="icon-comment"></i>Suggestion Box</strong>
        </a>
    </li>
</ul>

<div style="float: left;margin-top: 30px;font-size: 10px;width: 100%;border-top:1px solid #ddd;text-align: center;">
    Copyright @ <?php echo date("Y"); ?> All rights reserved. 
    <br />
    <b>Version  <?php echo SOFTWARE_VERSION; ?></b>
</div>

<div id="current-user-info" 
     data-socket-active="<?php echo SOCKET_ACTIVE ?>" 
     data-socket-server="<?php echo SOCKET_SERVER; ?>"
     style="display: none;">
    <!--General Info of Users-->
    <div id="current-user-id"><?php echo $auth['id'] ?></div>       
    <div id="current-user-company-id"><?php echo $auth['company_id'] ?></div>       
    <div id="current-user-display-name"><?php echo $auth['display_name'] ?></div>
    <div id="current-user-first-name"><?php echo $auth['first_name'] ?></div>
    <div id="current-user-last-name"><?php echo $auth['last_name'] ?></div>
    <div id="current-user-profile-link"><?php echo $current_page = 'http://' . $_SERVER['HTTP_HOST'] . '/' . $auth['last_name'] . "_" . $auth['first_name']; ?></div>    
    <div id="current-user-profile-image"><?php echo $person->image; ?></div>

    <!--Socket Info-->
    <div id="current-selected-message"></div>
</div>

<div id="tester-div"></div>

<!--<script src="/js/functions/sockets/common_functions.js"></script>
<script src="/js/functions/sockets/online_users.js"></script>
<script src="/js/functions/sockets/notification.js"></script>
<script src="/js/functions/sockets/initializer.js"></script>-->