<?php /*if(functions::curPageURL("?")!="http://".$_SERVER['HTTP_HOST']."/login"){*/ ?>
    
    <div id="banner-wrapper">
      <div id="bg-radial"></div> 
        
          <div id="banner-content-wrapper">
            <div id="banner-content-right">
              <h1 id="logo-banner-wrapper"></h1><Br/>
              <h4>Simple FORMS..into <span class="theme-color-orange">FORM</span>alistics</h4>
              <p><span class="theme-color-orange">&#8226;</span> Business Automations and Process Mapping and Monitoring<br/>
                <span class="theme-color-orange">&#8226;</span> Full Blown Software Application in less than 5 days<Br/>
                <span class="theme-color-orange">&#8226;</span> Access (submit and approve) from anywhere with or without Internet &nbsp;&nbsp;Connection using your
                favorite Web Browser
              </p>
            </div>
               <div id="forms-wrapper"><div class="fl-create-forms-icon icon"></div> <span>FORMS</span></div>
                <div id="workflows-wrapper"><div class="fl-workflow-icon icon"></div> <span>WORKFLOWS</span></div>
                <div id="request-wrapper"><div class="reports icon"></div> <span>REPORTS</span></div>
            <div id="laptop-wrapper">
            </div>
          </div>    
        </div>
        <div id="gs3display"></div>
        <div id="registration-fullheight-wrapper" style="display:none;">
          <div id="registration-wrapper">
            <div id="registration-content-wrapper">
              <h2 class="scrollReg"><a href="#target-sign-up">Register Company Information</a></h2>
              <div id="sign-up-form-wrapper">
                <h3 id="target-sign-up">Administrator Information</h3>
                <form action="/ajax/regCompany" method="post" enctype="multipart/form-data" class="companyRegistration">
                  <p><label>Company Name<span class="required-field">*</span></label></p>
                  <input type="text" name="companyName" id="company_name">
                  <div id="inputs-left">
                    <p><label>Company Code<span class="required-field">*</span></label></p>
                    <input type="text" name="companyCode">
                    <div style="margin-top: 20px;"></div>
                    <p><label>Email<span class="required-field">*</span></label></p>
                    <input type="text" name="companyEmail">
                    <p><label>First name<span class="required-field">*</span></label></p>
                    <input type="text" name="companyFname">
                    <p><label>Position<span class="required-field">*</span></label></p>
                    <input type="text" name="companyPosition">
                    <span class="required-field">All fields are required</span>
                  </div>

                  <div id="inputs-right">
                    <p><label>Company Contact Number<span class="required-field">*</span></label></p>
                    <input type="text" name="companyCNumber">
                    <div style="text-align: right;margin-top: 20px;"></div>
                    <p><label>Display Name<span class="required-field">*</span></label></p>
                    <input type="text" name="companyDisplayName">
                    <p><label>Last name<span class="required-field">*</span></label></p>
                    <input type="text" name="companyLname">
                    <p><label>Password<span class="required-field">*</span></label></p>
                    <input type="password" name="companyPassword" style="border:none!important;">
                    <input type="submit" id="regUser" value="Register">
                  </div>    
                </form>
              </div><!-- -- end of sign up form wrapper -->
            </div>
          </div><!-- end of registration wrapper-->
        </div>
      </div>
<?php /*}*/ ?>