<div id="fl-ui-login-header-wrapper">

	<div id="fl-ui-login-header-inner">
		<div class="section clearing">
			<div class="column div_1_of_2 login-logo">
			</div>
			<div class="column div_1_of_2">
				<div class="fl-ui-login-contents">
					<form action="/login" method="POST" id="login-form">
	                    <div class="section clearing fl-ui-login-input-wrapper">
	                        <div class="column div_1_of_2">
	                        <p class="fl-header-font-color"><label>Email</label></p>
	                        <input type="text" name="username" class="form-text" tabindex="1" disabled>
	                            <p><a class="fl-header-font-color" href="#" data-original-title="" title="">Register new company?</a></p> <!-- /company_registration -->
	                        </div>
	                        <div class="column div_1_of_2">
	                             <p class="fl-header-font-color"><label>Password</label></p>
	                            <input type="password" name="password" style="border:none!important;" class="form-text" tabindex="2" disabled>
	                            <input id="fl-btn-submit-login" type="submit" class="submit" value="Login">
	                            <p><a class="fl-header-font-color" href="#" data-original-title="" title="">Forgot Password?</a></p> <!-- forgot_password  -->
	                        </div>
	                    </div>
	                </form>
				</div>
			</div>
		</div>
	</div>
</div><!-- end of header -->

<div class="main-wrapper">
	<div class="fl-ui-login-banner" style="position:relative;height:<?php echo  BODY_WALLPAPER_HEIGHT . "px;" ?>">
		<?php
			$imagePrev = '<img id="prevImg" src="" style="position:absolute;top:0px;left:0px;width:100%;">';
            echo $imagePrev; 
		 ?>
	</div>
</div><!-- end of mainwrapper -->

<div class="clearfix"></div> 
<div id="fl-ui-login-footer-wrapper">  <!-- custom-login-footer -->
	<p class="fl-copyright"><?php echo date('Y') . " Formalistics" ;?></p>
</div>
