<?php
$fs = new functions();
// Guest
if(ALLOW_GUEST == "1"){
    $url = $fs->encode_decode_url($fs->curPageURL("module_parameter"),"decode");
    
    $query_str = parse_url($url, PHP_URL_QUERY);
    parse_str($query_str, $query_params);
    
    if(isset($query_params) && isset($query_params['authentication']) && isset($query_params['type']) && isset($query_params['log_type'])){
        if($query_params['authentication'] == "login" && $query_params['type'] == "guest" && $query_params['log_type'] == "user" ){
            $display = 'SignUp';
        }else{
            $display = 'Login';
        }
    }else{
        $display = 'Login';
    }
}

if(Auth::hasAuth('current_user')){
    $topNav = $this->setInclude("customtopnav_resdefault",null,null,null);
    $container_class = "";
    if(ALLOW_GUEST == "1"){
        if($display == "Login"){
            $topNav_class = "topNav";
        }else{
            $topNav_class = "custom-login-signup-topnav";
        }
    }else{
        $topNav_class = "topNav";
    }
    
    
}else{
    if(ALLOW_GUEST == "1"){
        if($display == "Login"){
            $topNav = $this->setInclude("customtopnav_resdefault",null,null,null);
        }else{
            $topNav = $this->setInclude("custom-login-signup-topnav",null,null,null);
        }
    }else{
        $topNav = $this->setInclude("customtopnav_resdefault",null,null,null);
    }
    //$topNav = $this->setInclude("topNav",null,null,null);
    //$topNav = $this->setInclude("custom-login-signup-topnav",null,null,null);
    $container_class = "main-wrapper";
    $topNav_class = "";
}
//$fs = new functions();
//$url = $fs->encode_decode_url($fs->curPageURL("module_parameter"),"decode");
//
//$query_str = parse_url($url, PHP_URL_QUERY);
//parse_str($query_str, $query_params);
//print_r($query_params);
echo '<div id="' . $container_class . '">';
echo '<div id="' . $topNav_class . '">';
    // Header Top Page Content
        echo $topNav;
        
    // Form Properties 
        if(functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "formbuilder"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "organizational_chart"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workflow"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "report"
           || functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "generate"){
            
            echo $this->setInclude("workflow_settings");
        }
    
echo '</div>';

?>