
<svg style="display:none;  width:30px; height:30px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>

    	<g id="svg-icon-dashboard">
    		<path class="svg-icon-dashboard-st0" d="M89.1,44.8c-0.6,0.6-1.4,1-2.3,1c-0.8,0-1.6-0.3-2.2-0.9L47.4,7.5c-2.1-1.6-4.3-0.9-5-0.2l-37,37.5
			c-1.2,1.3-3.3,1.3-4.5,0c-1.2-1.3-1.2-3.3,0-4.6l13.7-14V3.3c0-1.8,1.4-3.2,3.2-3.2H30c1.7,0,3.2,1.4,3.2,3.2v4.1l4.6-4.7
			c2.9-3.1,8.8-4,13.6-0.3c0.1,0.1,0.2,0.2,0.3,0.2l37.3,37.5C90.3,41.5,90.3,43.5,89.1,44.8z M78.7,46.6v2.1v1.7v34.4
			c0,2.4-1.8,5.2-4.1,5.2H15.4c-2.3,0-4.9-2.8-4.9-5.2V46.5l31.5-31.7c1.5-1.5,4-1.5,5.5,0L78.7,46.6z M38.2,29.4c0,1.3,1,2.3,2.3,2.3
			H50c1.3,0,2.3-1,2.3-2.3c0-1.3-1-2.3-2.3-2.3h-9.4C39.3,27.1,38.2,28.2,38.2,29.4z M29.2,38.4c0,1.3,1,2.3,2.3,2.3h26.4
			c1.3,0,2.3-1,2.3-2.3s-1-2.3-2.3-2.3H31.5C30.2,36.1,29.2,37.1,29.2,38.4z M39.9,59.4c0-2-1.6-3.7-3.6-3.7H20.3
			c-2,0-3.6,1.7-3.6,3.7v12.2c0,2,1.6,3.7,3.6,3.7h15.9c2,0,3.6-1.7,3.6-3.7V59.4z M72.3,52.9c0-2-1.6-3.7-3.6-3.7h-14
			c-2,0-3.6,1.7-3.6,3.7v31.6h21.3V52.9z M67.4,68.3c-1.2,0-2.2,1-2.2,2.3c0,1.3,1,2.3,2.2,2.3s2.2-1,2.2-2.3
			C69.6,69.3,68.6,68.3,67.4,68.3z"/>
    	</g>

    	<g id="svg-icon-modules">

    		<path class="svg-icon-modules-st0" d="M90,45c0,24.9-20.1,45-45,45S0,69.9,0,45S20.1,0,45,0S90,20.1,90,45z M45,16.8c-15.6,0-28.2,12.6-28.2,28.2
			S29.4,73.2,45,73.2S73.2,60.6,73.2,45S60.6,16.8,45,16.8z M36.1,41.8c0,0,0-0.1,0.1-0.1c0.5-1.2,1.2-2.4,2.2-3.3
			c1-1,2.1-1.7,3.4-2.2c0.1,0,0.1,0,0.1-0.1c4.3-1.6,8-3.4,11-5c-6-3.3-13.7-2.4-18.8,2.7c-5.1,5.1-6,12.8-2.7,18.8
			C32.8,49.6,34.5,46,36.1,41.8z M53.9,48.1c0,0.1,0,0.1-0.1,0.1c-0.5,1.3-1.2,2.4-2.2,3.5c-0.7,0.7-1.6,1.3-2.4,1.8
			c-0.2,0.2-0.5,0.3-0.9,0.4c-4.3,1.6-7.9,3.4-10.9,4.9c2.6,1.4,5.5,2.1,8.4,2c3.8-0.2,7.5-1.7,10.4-4.6c5.2-5.2,6-13,2.6-19
			C57.3,40.1,55.5,43.7,53.9,48.1z M38.3,51.7c-1.2-1.2-2-2.7-2.4-4.3c-2.6,6-5.2,10.6-7.2,13.8c3.1-2,7.7-4.6,13.6-7.1
			C40.8,53.6,39.4,52.8,38.3,51.7z M47.6,35.9c1.5,0.4,2.9,1.2,4,2.4c1.2,1.2,2,2.6,2.4,4.1c2.8-6,5.5-10.7,7.6-14.1
			C58.3,30.4,53.6,33.1,47.6,35.9z M40.4,49.7c1.4,1.4,3.3,2.1,5.1,2c1.6-0.1,3.2-0.7,4.4-2c2.6-2.6,2.6-6.9,0-9.5
			c-2.6-2.6-6.9-2.6-9.5,0S37.8,47.1,40.4,49.7z M45.5,27v-8.1c0-0.3-0.2-0.5-0.5-0.5s-0.5,0.2-0.5,0.5V27c0,0.3,0.2,0.5,0.5,0.5
			S45.5,27.3,45.5,27z M45.4,71.3v-8.1c0-0.3-0.2-0.5-0.5-0.5s-0.5,0.2-0.5,0.5v8.1c0,0.3,0.2,0.5,0.5,0.5S45.4,71.6,45.4,71.3z
			 M71.6,45.1c0-0.3-0.2-0.5-0.5-0.5h-8.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h8.1C71.4,45.6,71.6,45.4,71.6,45.1z M27.3,45.1
			c0-0.3-0.2-0.5-0.5-0.5h-8.1c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5h8.1C27.1,45.6,27.3,45.4,27.3,45.1z M45,1.7
			c-1.4,0-2.6,1.2-2.6,2.6v0.1v7.5l2.6,1.9l2.6-1.9V4.4V4.3C47.6,2.8,46.4,1.7,45,1.7z M45,88.3c1.4,0,2.6-1.2,2.6-2.6v-0.1V78
			L45,76.1L42.4,78v7.5v0.1C42.4,87.1,43.6,88.3,45,88.3z M88.3,45c0-1.4-1.2-2.6-2.6-2.6h-0.1h-7.5L76.2,45l1.9,2.6h7.5h0.1
			C87.1,47.6,88.3,46.4,88.3,45z M1.7,45c0,1.4,1.2,2.6,2.6,2.6h0.1h7.5l1.9-2.6l-1.9-2.6l-7.5,0H4.3C2.9,42.4,1.7,43.5,1.7,45z
			 M75.6,14.3c-1-1-2.7-1-3.7,0l-0.1,0.1l-5.3,5.3l0.5,3.2l3.2,0.5l5.3-5.3l0.1-0.1C76.6,17,76.6,15.4,75.6,14.3z M14.4,75.6
			c1,1,2.7,1,3.7,0l0.1-0.1l5.3-5.3L23,67l-3.2-0.5l-5.3,5.3l-0.1,0.1C13.4,72.9,13.4,74.6,14.4,75.6z M75.6,75.6c1-1,1-2.7,0-3.7
			l-0.1-0.1l-5.3-5.3L67,67l-0.5,3.2l5.3,5.3l0.1,0.1C72.9,76.6,74.6,76.6,75.6,75.6z M14.4,14.3c-1,1-1,2.7,0,3.7l0.1,0.1l5.3,5.3
			l3.2-0.5l0.5-3.2l-5.3-5.3l-0.1-0.1C17,13.3,15.4,13.3,14.4,14.3z"/>

    	</g>	

    	<g id="svg-icon-org-chart">

    		<path class="st0" d="M54.3,9.2c0,5.1-4.1,9.2-9.1,9.2c-5,0-9.1-4.1-9.1-9.2S40.1,0,45.2,0C50.2,0,54.3,4.1,54.3,9.2z M55.5,18h-1.7
			c-0.4,0.4-0.8,0.7-1.2,1l-4.4,13.4L46,23.1l0.9-1.5L46,20h-1.7l-0.9,1.5l0.9,1.5l-2.2,9.3L37.7,19c-0.4-0.3-0.8-0.7-1.2-1h-1.7
			c-4,0-7.3,3.3-7.3,7.4v14.5h35.2V25.3C62.8,21.3,59.5,18,55.5,18z M37.9,66.2c0-4,3.2-7.2,7.1-7.2c3.9,0,7.1,3.2,7.1,7.2
			c0,4-3.2,7.2-7.1,7.2C41.1,73.4,37.9,70.1,37.9,66.2z M13.7,73.4c3.9,0,7.1-3.2,7.1-7.2c0-4-3.2-7.2-7.1-7.2c-3.9,0-7.1,3.2-7.1,7.2
			C6.6,70.1,9.8,73.4,13.7,73.4z M76.3,73.4c3.9,0,7.1-3.2,7.1-7.2c0-4-3.2-7.2-7.1-7.2c-3.9,0-7.1,3.2-7.1,7.2
			C69.2,70.1,72.4,73.4,76.3,73.4z M84.3,73H83c-0.3,0.3-0.6,0.6-0.9,0.8l-3.4,10.4L77,77l0.7-1.2L77,74.6h-1.4l-0.7,1.2l0.7,1.2
			l-1.7,7.3l-3.4-10.4c-0.3-0.3-0.6-0.5-0.9-0.8h-1.3c-3.1,0-5.7,2.6-5.7,5.7v7.6h-3.8v-7.6c0-3.2-2.5-5.7-5.7-5.7h-1.3
			c-0.3,0.3-0.6,0.6-0.9,0.8l-3.4,10.4L45.7,77l0.7-1.2l-0.7-1.2h-1.4l-0.7,1.2l0.7,1.2l-1.7,7.3l-3.4-10.4c-0.3-0.2-0.6-0.5-0.9-0.8
			h-1.3c-3.1,0-5.7,2.6-5.7,5.7v7.6h-3.8v-7.6c0-3.2-2.5-5.7-5.7-5.7h-1.3c-0.3,0.3-0.6,0.6-0.9,0.8l-3.4,10.4L14.4,77l0.7-1.2
			l-0.7-1.2H13l-0.7,1.2L13,77l-1.7,7.3L7.9,73.8C7.6,73.5,7.3,73.3,7,73H5.7C2.5,73,0,75.5,0,78.7V90h25.2h2.3h3.8h2.5h19.6h5.3h3.8
			v0H90V78.7C90,75.5,87.5,73,84.3,73z M13.6,55.7c0.7,0,1.3,0.1,1.9,0.2c0.2-5.1,4.3-9.1,9.4-9.1h18.2v9.1c0.6-0.1,1.3-0.2,1.9-0.2
			c0.6,0,1.1,0.1,1.7,0.1v-9.1h18.4c5.1,0,9.2,4.1,9.4,9.1c0.6-0.1,1.3-0.2,1.9-0.2c0.6,0,1.1,0.1,1.7,0.1c-0.2-7-5.9-12.7-13-12.7
			H24.9c-7,0-12.8,5.7-13,12.7C12.4,55.7,13,55.7,13.6,55.7z"/>

    	</g>

    	<g id="svg-icon-forms">

    		<path class="st0" d="M45,45"/>
			<g >
				<path class="svg-icon-forms-st0" d="M81.9,9.2H69.6V8.9C69.6,4,66,0,60.9,0H19.4L0,20.7v57c0,4.9,3.8,9.2,8.8,9.2h16.8c1.8,1.9,4.4,3.1,7.1,3.1
					h49.2c4.5,0,8.1-3.5,8.1-7.8V17.3C90,13,86.4,9.2,81.9,9.2z M20.7,6.6v14c0,0.6-0.4,1-1,1H7.2L20.7,6.6z M23.6,73.6H12.9v-9.2h10.7
					V73.6z M23.6,60.3H12.9v-9.2h10.7V60.3z M23.6,47H12.9v-9.2h10.7V47z M23.6,30.1L23.6,30.1l0,2.6H10.8c-1.3,0-2.3,1.4-2.3,2.6v13.4
					c0,0,0,0,0,0c0,0,0,0,0,0v13.4c0,0,0,0,0,0c0,0,0,0,0,0v13.4c0,0,0,0,0,0c0,1.2,1,2.2,2.3,2.2h12.7v3.1H8.8c-1.9,0-3.5-1.2-3.5-3
					V26.7h15.3c2.8,0,5-2.2,5-5V5.2l0-0.1h35.2c1.9,0,3.4,2,3.4,3.8v0.3H45.6l0,0v15.9c0,2.8-2.2,5-5,5H23.6z M83.6,64.3V79
					c0,1.2-1.4,1.8-2.7,1.8h-48c-1.3,0-1.8-0.6-1.8-1.8c0,0,0,0,0,0V64.3c0,0,0,0,0,0c0,0,0,0,0,0V49.6v0v0V34.9c0-0.7,0.2-1.4,0.8-1.8
					c0.2-0.2,0.3-0.3,0.6-0.3c0.1,0,0.3,0,0.5,0h48c1.3,0,2.7,1,2.7,2.2c0,0,0,0,0,0v14.7c0,0,0,0,0,0v0V64.3L83.6,64.3L83.6,64.3z"/>
				<rect x="35.4" y="66.5" class="st0" width="43.9" height="10.2"/>
				<rect x="35.4" y="52.2" class="st0" width="43.9" height="10.2"/>
				<rect x="35.4" y="36.8" class="st0" width="43.9" height="10.2"/>
				<path class="st0" d="M39.5,25c0.6,0,1-0.4,1-1V14L28.9,25H39.5z"/>
			</g>

    	</g>

    	<g id="svg-icon-workflow">

    		<g>
				<path class="svg-icon-workflow-st0" d="M80.6,69.7 M14.1,69.7 M25.1,62.5c0-2.9-2.3-5.2-5.1-5.2H5.1c-2.8,0-5.1,2.3-5.1,5.2v14.9
					c0,2.9,2.3,5.2,5.1,5.2H20c2.8,0,5.1-2.3,5.1-5.2V62.5z M90,62.5c0-2.9-2.3-5.2-5.1-5.2H70c-2.8,0-5.1,2.3-5.1,5.2v14.9
					c0,2.9,2.3,5.2,5.1,5.2h14.9c2.8,0,5.1-2.3,5.1-5.2V62.5z M57.4,62.5c0-2.9-2.3-5.2-5.1-5.2H37.4c-2.8,0-5.1,2.3-5.1,5.2v14.9
					c0,2.9,2.3,5.2,5.1,5.2h14.9c2.8,0,5.1-2.3,5.1-5.2V62.5z M62,14.6c0-3.9-3.1-7.1-7-7.1H34.7c-3.8,0-7,3.2-7,7.1v20.3
					c0,3.9,3.1,7.1,7,7.1H55c3.8,0,7-3.2,7-7.1V14.6z M47.3,53.9v-9h-4.5v9H47.3z M75.3,41.3v12.7h4.5V41.3c0-7.7-6.1-13.9-13.7-13.9
					H65v4.6h1.1C71.2,31.9,75.3,36.1,75.3,41.3z M14.4,53.9V41.3c0-5.2,4.1-9.3,9.2-9.3h1.1v-4.6h-1.1c-7.6,0-13.7,6.2-13.7,13.9v12.7
					H14.4z"/>
			</g>

    	</g>

    	<g id="svg-icon-gs3-insights">
			<g>
				<path class="st0" d="M13.9,32.8c-0.1-2.4-0.2-4.7-0.1-7.1H1.7C0.6,29.2,0,33,0,36.9c0,2.6,0.3,5.1,0.8,7.5h0h14.7
					C14.7,40.6,14.2,36.7,13.9,32.8z"/>
				<path class="st0" d="M32.7,0.2c-2.8,0.3-5.5,0.9-8.1,1.9c-2.4,5.3-4.1,11.4-4.8,18.1h12.9V0.2z"/>
				<path class="st0" d="M34.4,63c-2.2-4.2-2.8-8.8-1.9-13.1h-9.9c0.6,1.9,1.3,3.8,2,5.6c0.6,1.4-0.1,3-1.5,3.6
					c-0.4,0.1-0.7,0.2-1.1,0.2c-1.1,0-2.1-0.6-2.5-1.7c-1-2.5-1.9-5-2.7-7.7H2.4c5.3,13.9,18.7,23.9,34.5,23.9c3,0,6-0.4,8.8-1.1
					C40.9,71.1,36.8,67.7,34.4,63z"/>
				<path class="st0" d="M17.3,5.6C11.7,9.1,7,14.2,4,20.2h10.2C14.7,15,15.8,10.1,17.3,5.6z"/>
				<path class="st0" d="M60.3,41.1c3.7,7.8,0.6,17.3-7.2,21.3c-3.9,2-8.5,2.4-12.6,1c2.8,3.4,7,5.4,11.6,5.4c2.4,0,4.8-0.6,7-1.7
					c7.4-3.9,10.2-13,6.3-20.4C64.2,44.4,62.4,42.4,60.3,41.1z"/>
				<path class="st0" d="M61.6,9.6L61.6,9.6c1.8,7.1,2.6,15,2.2,23.2c-0.1,1.5-1.3,2.6-2.7,2.6c-0.1,0-0.1,0-0.2,0
					c-1.5-0.1-2.7-1.4-2.6-2.9c0.6-10.3-1-20.2-4.2-28.2C49.3,1.7,43.9,0.2,38.2,0v20.2h13.2c1.5,0,2.7,1.2,2.7,2.8
					c0,1.5-1.2,2.8-2.7,2.8H38.2v12.1c0,1.5-1.2,2.8-2.7,2.8s-2.7-1.2-2.7-2.8V25.7H19.4c-0.1,2.2-0.1,4.5,0.1,6.8
					c0.2,4.1,0.8,8.1,1.7,12h13.3c1.8-3.5,4.7-6.5,8.4-8.4c2.9-1.5,6.1-2.3,9.3-2.3c7.5,0,14.2,4.1,17.7,10.7c0.8,1.6,1.4,3.2,1.8,4.8
					c1.4-3.9,2.1-8,2.1-12.4C73.7,26.1,69,16.3,61.6,9.6z"/>
				<path class="st0" d="M45.6,61.3c2.2,0,4.2-0.5,6.1-1.5c6.5-3.4,9-11.5,5.6-18c-0.5-1-1.2-2-2-2.8c-1.1-0.2-2.2-0.4-3.3-0.4
					c-2.4,0-4.8,0.6-7,1.7c-6.7,3.5-9.6,11.5-7.2,18.4C40.1,60.4,42.8,61.3,45.6,61.3z M46.3,42c1.6-0.9,3.4-1.4,5.2-1.6
					c1.4-0.1,2.7,0.9,2.8,2.3c0.1,1.4-0.9,2.7-2.3,2.8c-1.2,0.1-2.3,0.5-3.3,1c-3.3,1.8-5.2,5.3-4.8,9.1c0.2,1.4-0.9,2.7-2.3,2.8
					c-0.1,0-0.2,0-0.3,0c-1.3,0-2.4-1-2.5-2.3C38.1,50.3,41.1,44.7,46.3,42z"/>
			</g>
			<path class="st0" d="M89,81.8c1.3,1.2,1.3,3.2,0.1,4.5L86.6,89c-1.2,1.3-3.2,1.3-4.5,0.1L64.6,72.2c-1.3-1.2-1.3-3.2-0.1-4.5L67,65
				c1.2-1.3,3.2-1.3,4.5-0.1L89,81.8z"/>
		</g>

		<g id="svg-icon-portal">
			<path class="st0" d="M53.5,0L53.5,0l0,25.3h27.1L53.5,0z M71.4,75.5V43.9l9.1-11.6v50.4h0v0.2L71.4,75.5z M18.6,14.4v62.8l-9.1,6.6
			V6.3L18.6,14.4z M75.3,90H16.2l6.2-9.1h46.2L75.3,90z M45.9,9.1H19.3l-5-9.1h31.5V9.1z M59.5,41.8H49.5v-9.5L59.5,41.8z M69,71.5V76
			c0,0.9-0.7,1.5-1.6,1.5H59c-0.9,0-1.6-0.7-1.6-1.5v-4.5c0-0.9,0.7-1.5,1.6-1.5h0.7l-2.2-3H34.1l-3,4c0.2,0.5,0.3,1.1,0.3,1.7
			c0,2.9-2.3,5.2-5.2,5.2S21,75.6,21,72.7c0-2.9,2.3-5.2,5.2-5.2c0.8,0,1.5,0.2,2.1,0.5l3.9-2.9V33.2L27,27.7c-4-0.5-7.1-2.6-7.1-5.1
			c0-2.9,4-5.2,8.9-5.2c4.9,0,8.9,2.3,8.9,5.2c0,2.2-2.3,4-5.6,4.8l2.4,4.8h11.6v4.4h-9.7v25.8h18.5V44.9h4.5V65l6.2,5h1.7
			C68.3,70,69,70.7,69,71.5z"/>
		</g>

		<g id="svg-icon-report">
			<path class="st0" d="M86,6.5l-2.4,6.8c-0.3,1-1.3,1.6-2.2,1.6c-0.3,0-0.5,0-0.8-0.1c-1.2-0.4-1.9-1.8-1.5-3l0.6-1.6L37.5,32.5
				c-0.3,0.2-0.7,0.3-1.1,0.3c-0.5,0-1.1-0.2-1.5-0.5l-10-8.1H14.7c-1.3,0-2.4-1.1-2.4-2.4c0-1.3,1.1-2.4,2.4-2.4h11.1
				c0.5,0,1.1,0.2,1.5,0.5l9.4,7.6L78.4,5.5l-2.4-1c-1.2-0.5-1.8-1.9-1.3-3.1c0.5-1.2,1.9-1.8,3.1-1.3l6.8,2.8c0,0,0.1,0,0.1,0
				c0.3,0.1,0.5,0.2,0.7,0.4c0,0,0.1,0.1,0.1,0.1c0,0,0,0.1,0.1,0.1c0.4,0.4,0.7,1,0.8,1.6C86.4,5.6,86.2,6.1,86,6.5z M90,87.6
				c0-1.3-1.1-2.4-2.4-2.4H4.7V33.2c0-1.3-1.1-2.4-2.4-2.4S0,31.9,0,33.2v54.5C0,88.9,1.3,90,2.6,90h85C88.9,90,90,88.9,90,87.6z
				 M64.4,80.5V36c0-2.6-1.9-4.7-4.5-4.7h-2.8c-2.6,0-5,2.1-5,4.7v44.6H64.4z M84.3,80.5V24.6c0-2.6-1.9-4.7-4.5-4.7H77
				c-2.6,0-5,2.1-5,4.7v55.9H84.3z M44.5,80.5V49.2c0-2.6-1.9-4.7-4.5-4.7h-2.8c-2.6,0-5,2.1-5,4.7v31.3H44.5z M24.6,80.5V39.1
				c0-2.6-1.9-4.7-4.5-4.7h-2.8c-2.6,0-5,2.1-5,4.7v41.4H24.6z"/>
		</g>

		<g id="svg-icon-print-form">
			<path class="st0" d="M81.3,23V6.9c0-3.8-3.2-6.9-7.2-6.9H15.1c-4,0-7.2,3.1-7.2,6.9V23v0.2c-4.6,1.1-7.9,5-7.9,9.7v1.1v12.4v3.5
			c0,0.4,0,0.8,0.1,1.1l0,0c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0c0.3,2,1.2,3.8,2.5,5.3c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.4,0.4
			c0,0,0,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.4,0.3c0.1,0.1,0.2,0.1,0.2,0.2c0,0,0,0,0.1,0c0.1,0.1,0.2,0.2,0.3,0.2
			c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.3,0.2c0,0,0,0,0,0c0,0,0,0,0.1,0c0.1,0.1,0.2,0.1,0.4,0.2c0.1,0.1,0.2,0.1,0.3,0.2
			c0.1,0,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1,0.1c0,0,0.1,0,0.1,0.1c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.2,0.1,0.2,0.1
			c0.1,0,0.1,0,0.2,0.1c0.3,0.1,0.5,0.2,0.8,0.2c0,0,0,0,0,0v0.2v0v23.5c0,1.9,0.8,3.6,2.1,4.9c0.2,0.2,0.3,0.3,0.5,0.4
			c0.5,0.4,1.1,0.8,1.8,1c0.9,0.3,1.8,0.5,2.8,0.5h58.9c0.2,0,0.5,0,0.7,0c1-0.1,1.9-0.4,2.7-0.8c0.2-0.1,0.4-0.2,0.6-0.3
			c0.4-0.2,0.7-0.5,1.1-0.8c0.5-0.5,0.9-1,1.2-1.6c0.6-1,0.9-2.1,0.9-3.3l0,0V59.7c0.3-0.1,0.6-0.1,0.9-0.2c0.1,0,0.1,0,0.2,0
			c0,0,0,0,0,0c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.3-0.1,0.4-0.1c0,0,0,0,0.1,0c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.3-0.1
			c0.1,0,0.1,0,0.2-0.1c0,0,0,0,0.1,0c0.2-0.1,0.5-0.2,0.7-0.4c0,0,0,0,0,0c0.3-0.2,0.6-0.4,0.9-0.6c0,0,0.1-0.1,0.1-0.1
			c0.3-0.2,0.5-0.4,0.8-0.6c0,0,0.1,0,0.1-0.1c0.3-0.3,0.6-0.5,0.8-0.8c0,0,0,0,0,0c0.1-0.1,0.2-0.3,0.3-0.4c0.1-0.1,0.2-0.2,0.3-0.3
			h0c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0.3-0.5,0.6-0.9,0.8-1.4l0,0l0,0c0.2-0.5,0.4-0.9,0.5-1.4c0-0.1,0.2-0.7,0.2-0.8
			c0,0,0,0,0,0c0,0,0,0,0,0c0-0.2,0.1-0.8,0.1-0.9c0,0,0,0,0,0c0,0,0,0,0,0c0-0.3,0-0.6,0-0.9V34v-1.1C90,27.9,86.2,23.8,81.3,23z
			 M11.9,6.9c0-1.7,1.5-3.1,3.2-3.1h58.9c1.8,0,3.2,1.4,3.2,3.1v16h0c-0.3,2.3-2.2,4.5-4.7,4.5h-56c-2.5,0-4.4-2.2-4.7-4.5h0V6.9z
			 M77.3,59.8L77.3,59.8v23.3c0,0.2,0,0.4-0.1,0.6c-0.1,0.4-0.3,0.8-0.5,1.1c-0.6,0.8-1.6,1.4-2.7,1.4H15.1c-1.1,0-2.1-0.5-2.7-1.4
			c-0.2-0.3-0.4-0.7-0.5-1.1c0-0.2-0.1-0.4-0.1-0.6V59.8l0,0v-0.2v0v-5.3v-1.8v-4.8v-5.2c0-1.7,1.5-3.1,3.2-3.1h18h11.7h29.3
			c1.8,0,3.2,1.4,3.2,3.1v11.8v5.3v0V59.8z M85.5,49.8c0,1.1-0.9,2-2.1,2c-1.2,0-2.1-0.9-2.1-2s0.9-2,2.1-2
			C84.6,47.8,85.5,48.7,85.5,49.8z M72.2,82.8H17.3c-1.1,0-2-1-2-2c0-1,0.9-2,2-2h54.9c1.1,0,2,1,2,2C74.2,81.8,73.3,82.8,72.2,82.8z
			 M72.2,70.6H17.3c-1.1,0-2-1-2-2s0.9-2,2-2h54.9c1.1,0,2,1,2,2S73.3,70.6,72.2,70.6z M72.2,58.4H17.3c-1.1,0-2-1-2-2s0.9-2,2-2h54.9
			c1.1,0,2,1,2,2S73.3,58.4,72.2,58.4z M72.2,46.2H17.3c-1.1,0-2-1-2-2c0-1,0.9-2,2-2h54.9c1.1,0,2,1,2,2
			C74.2,45.2,73.3,46.2,72.2,46.2z"/>
		</g>

		<g id="svg-icon-my-request">
			<path class="st0" d="M89.5,40.4v44.3c0,2.9-2.1,5.3-5.1,5.3H52c-3,0-5.7-2.4-5.7-5.3V49.1l0,0h11.8c1.4,0,2.5-1.1,2.5-2.4V35.1h23.9
			C87.4,35.1,89.5,37.5,89.5,40.4z M55.6,84.6l6.5-6.7c0.6-0.6,0.6-1.6-0.1-2.2c-0.6-0.6-1.6-0.6-2.2,0.1l-5.5,5.7l-2.1-1.7
			c-0.7-0.5-1.6-0.4-2.2,0.2c-0.5,0.7-0.4,1.6,0.2,2.1l3.2,2.6c0.3,0.2,0.6,0.3,1,0.3C54.9,85.1,55.3,85,55.6,84.6z M86.1,83.6
			c0-0.8-0.7-1.6-1.5-1.6H61.7c-0.9,0-1.5,0.7-1.5,1.6c0,0.8,0.7,1.6,1.5,1.6h22.8C85.4,85.2,86.1,84.5,86.1,83.6z M55.6,72l6.5-6.7
			c0.6-0.6,0.6-1.6-0.1-2.2c-0.6-0.6-1.6-0.6-2.2,0.1l-5.5,5.7l-2.1-1.7c-0.7-0.5-1.6-0.4-2.2,0.2c-0.5,0.7-0.4,1.6,0.2,2.1l3.2,2.6
			c0.3,0.2,0.6,0.3,1,0.3C54.9,72.4,55.3,72.3,55.6,72z M86.1,71c0-0.8-0.7-1.6-1.5-1.6H61.7c-0.9,0-1.5,0.7-1.5,1.6
			c0,0.8,0.7,1.6,1.5,1.6h22.8C85.4,72.5,86.1,71.8,86.1,71z M55.6,59.3l6.5-6.7c0.6-0.6,0.6-1.6-0.1-2.2c-0.6-0.6-1.6-0.6-2.2,0.1
			l-5.5,5.7l-2.1-1.7c-0.7-0.5-1.6-0.4-2.2,0.2c-0.5,0.7-0.4,1.6,0.2,2.1l3.2,2.6c0.3,0.2,0.6,0.3,1,0.3
			C54.9,59.8,55.3,59.6,55.6,59.3z M86.1,58.3c0-0.8-0.7-1.6-1.5-1.6H61.7c-0.9,0-1.5,0.7-1.5,1.6s0.7,1.6,1.5,1.6h22.8
			C85.4,59.9,86.1,59.1,86.1,58.3z M29.8,30.4c8.4,0,15.2-6.8,15.2-15.2C45,6.8,38.2,0,29.8,0c-8.4,0-15.2,6.8-15.2,15.2
			C14.6,23.6,21.4,30.4,29.8,30.4z M43.1,80.2H0.5V65.6v-7.9v-16c0-6.7,5.4-12.1,12.1-12.1h2.8c0.6,0.6,1.3,1.2,1.9,1.7l7.4,22
			L28.4,38l-1.4-2.5l1.4-2.5h2.9l1.4,2.5L31.3,38l3.7,15.3l7.4-22c0.7-0.5,1.3-1.1,1.9-1.7H47c3.8,0,7.1,1.7,9.4,4.4L43.1,47.2V80.2z
			 M49.5,45.9h5.4c1.4,0,2.5-1.1,2.5-2.4v-5.3L49.5,45.9z"/>
		</g>

		<g id="svg-icon-trash-bin">
			<path class="st0" d="M82.6,19h-4.2c0-0.1,0-0.1,0-0.2v-3.9c0-7.5-5.8-13.7-13.3-14.3l-3.4,2.1c-1.3,0.8-2.6,1.6-3.8,2.5h8.3
				c3.6,0,6.5,2.9,6.5,6.4v1.7c0,3.6-2.9,6.4-6.5,6.4H23.8c-3.6,0-6.5-2.9-6.5-6.4v-1.7c0-3.6,2.9-6.4,6.5-6.4h8.6
				c-1.4-0.9-2.7-1.8-3.9-2.5L25,0.6c-7.5,0.6-13.4,6.8-13.4,14.3v3.9c0,0.1,0,0.1,0,0.2H7.4C6.1,19,5,20,5,21.4v2.3
				c0,1.3,1.1,2.4,2.4,2.4h75.2c1.3,0,2.4-1.1,2.4-2.4v-2.3C85,20,83.9,19,82.6,19z"/>
			<path class="st0" d="M59.5,0H30.5c3.7,2.4,10.7,7.4,11.8,11.1h-8.5l11,6.4l11.3-6.4h-8.5C48.7,7.4,55.8,2.4,59.5,0z"/>
			<path class="st0" d="M8.6,29.1l7.7,56.1c0.5,2.6,3,4.8,5.6,4.8h33.2h13.5c2.7,0,5.2-2.1,5.6-4.8l7.2-56.1H8.6z M64.3,62.9
				c0,0,1.4,2.4-0.8,2.4h-6.7l-2.9-5.1l6.5-3.9L64.3,62.9z M47.5,39.3c0,0,3-0.2,4.6,2.8l3.1,5.8l3.1-1.7l-2.9,9.9l-9.8-3l2.8-1.5
				L42,39.4L47.5,39.3z M25.2,70c0,0-1.7-2.5,0-5.5l3.2-5.7l-3.1-1.7l9.9-2.8l2.7,9.9l-2.8-1.6l-6.8,12.1L25.2,70z M41.4,76.3h-7.6
				c0,0-2.7,0-1.6-1.9l3.3-5.8h6V76.3z M40.3,53.6l-6.5-3.9l4-6.5c0,0,1.4-2.3,2.5-0.4l3.2,5.9L40.3,53.6z M63,73.4
				c0,0-1.4,2.7-4.7,2.7h-6.6v3.6l-7.3-7.2l7.3-7.2v3.2h13.9L63,73.4z"/>
		</g>

		<g id="svg-icon-suggestion">
			<path class="st0" d="M40,2l-8.9,20.4h27.3L67.3,2H40z M41.2,15.9l-1.4,3.3c-0.3,0.7-0.9,1.1-1.6,1.1c-0.2,0-0.4,0-0.7-0.1
			c-0.9-0.4-1.3-1.4-0.9-2.3l1.4-3.3c0.4-0.9,1.4-1.3,2.3-0.9C41.1,14,41.5,15,41.2,15.9z M41.5,12.2c-0.2,0-0.5-0.1-0.7-0.2
			c-0.9-0.4-1.2-1.4-0.8-2.3l1.5-3.4c0.4-0.9,1.4-1.2,2.3-0.8c0.9,0.4,1.2,1.4,0.8,2.3l-1.5,3.4C42.8,11.8,42.2,12.2,41.5,12.2z
			 M45.8,20.3c-0.2,0-0.5,0-0.7-0.1c-0.9-0.4-1.3-1.4-0.9-2.3l5.1-11.2c0.4-0.9,1.4-1.3,2.3-0.9c0.9,0.4,1.3,1.4,0.9,2.3l-5.1,11.2
			C47.1,19.9,46.4,20.3,45.8,20.3z M54.9,19.2c-0.3,0.7-0.9,1-1.6,1c-0.2,0-0.5,0-0.7-0.1c-0.9-0.4-1.3-1.4-0.9-2.3l5.1-11.2
			c0.4-0.9,1.4-1.3,2.3-0.9C60,6.1,60.4,7.1,60,8L54.9,19.2z"/>
		<path class="st0" d="M83.6,19.3c-1.3-3-4.7-5.2-7.3-5.2h-10l-3.8,9h1.2c1,0,1.7,0.8,1.7,1.7v0.1c0,1-0.8,1.7-1.7,1.7H25
			c-1,0-1.7-0.8-1.7-1.7v-0.1c0-1,0.8-1.7,1.7-1.7h1.6l3.8-9H12c-2.6,0-5.3,2.2-6.5,5.2L0,33.8V53v4.2v19.2v1.2v2.5
			C0,84.5,3.9,88,8.3,88h74.4h0c4.3,0,7.4-3.5,7.4-7.8V57.2V33.8L83.6,19.3z M83.7,33.9v3.6c-7,3.2-15.2,6.9-24,10.9
			C41.2,56.8,21,65.9,6.3,72.8v-39H83.7z M77.6,82.5H13.1c-2.9,0-5.6-1.9-6.5-4.5c18.2-8.5,66.2-30.2,77.1-35.2V76
			C83.7,79.6,81.2,82.5,77.6,82.5z"/>
		</g>

		<g id="svg-icon-administrator">
			<path class="st0" d="M15.2,67c-4.1,0-7.4,3.3-7.4,7.4s3.3,7.4,7.4,7.4s7.4-3.3,7.4-7.4S19.2,67,15.2,67z M15.2,78
				c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6s3.6,1.6,3.6,3.6C18.7,76.4,17.1,78,15.2,78z"/>
			<path class="st0" d="M84,34l6-2c-0.1-1.1-0.2-2.1-0.4-3.2c-0.2-1.1-0.4-2.3-0.7-3.4l-6.2,0.5C82.4,25,82,24,81.6,23l4.8-4.2
				c-0.5-0.9-1-1.9-1.5-2.8c-0.6-1-1.2-1.9-1.9-2.8l-5.6,2.9c-0.7-0.8-1.4-1.6-2.2-2.3L78.1,8c-0.8-0.7-1.6-1.3-2.4-1.9
				c-0.9-0.7-1.9-1.3-2.8-1.8l-4.1,4.9c-0.9-0.5-1.8-0.9-2.8-1.2l0.6-6.5c-1-0.3-2-0.6-3-0.8c-1.1-0.2-2.2-0.4-3.3-0.6l-2,6.1
				c-1-0.1-2.1-0.1-3.1,0L53.3,0c-1,0.1-2,0.2-3.1,0.4C49.1,0.6,48,0.9,47,1.2l0.4,6.4c-0.9,0.3-1.9,0.7-2.8,1.2l-4-4.9
				c-0.9,0.5-1.8,1-2.7,1.6c-0.9,0.6-1.9,1.3-2.7,2l2.7,5.8c-0.8,0.7-1.6,1.5-2.3,2.3l-5.5-2.9c-0.7,0.8-1.3,1.7-1.9,2.6
				c-0.6,1-1.2,1.9-1.8,2.9l4.7,4.2c-0.5,0.9-0.9,1.9-1.2,2.9l-6.2-0.5c-0.3,1-0.6,2-0.8,3.1c-0.2,1.1-0.4,2.3-0.6,3.4l5.9,2
				C28,34.2,28,35.3,28,36.4l-6,2c0.1,1.1,0.2,2.1,0.4,3.2c0.2,1.1,0.4,2.3,0.7,3.4l2.2-0.2L4.6,64.1l0,0l0,0
				c-5.7,5.5-6.1,14.7-0.8,20.6l0.4,0.5c2.7,3,6.5,4.8,10.5,4.8c3.6,0,7.1-1.4,9.7-3.9l21.4-19.9l-0.2,2.7c1,0.3,2,0.6,3,0.8
				c1.1,0.2,2.2,0.4,3.3,0.6l2-6.1c1,0.1,2.1,0.1,3.1,0l1.9,6.2c1-0.1,2-0.2,3.1-0.4c1.1-0.2,2.2-0.5,3.2-0.8l-0.4-6.4
				c0.9-0.3,1.9-0.7,2.8-1.2l4,5c0.9-0.5,1.8-1,2.7-1.6c0.9-0.6,1.9-1.3,2.7-2l-2.7-5.8c0.8-0.7,1.6-1.5,2.3-2.3l5.5,2.9
				c0.7-0.8,1.3-1.7,1.9-2.6c0.6-1,1.2-1.9,1.8-2.9L81,48.1c0.5-0.9,0.9-1.9,1.2-2.9l6.2,0.5c0.3-1,0.6-2,0.8-3.1
				c0.2-1.1,0.4-2.3,0.6-3.4l-5.9-2C84,36.2,84.1,35.1,84,34z M61.5,30.4l1.6,7.2l-5.2,5L51,40.4l-1.6-7.2l5.2-5L61.5,30.4z M71.5,53
				c-4.4,4.2-10,6.3-15.6,6.3c-2.4,0-4.9-0.4-7.2-1.2l-27,25.1c-2,1.9-4.6,2.9-7.1,2.9C11.8,86.2,9,85,7,82.7l-0.4-0.5
				C2.7,77.8,2.9,71,7.2,66.9l26.6-24.7c-2.4-8.4-0.2-17.9,6.5-24.2c3.8-3.6,8.5-5.7,13.2-6.2l6.4,7.2L45.7,32.5L48,43.3l10.2,3.2
				l14.2-13.6l6.2,6.9C77.7,44.7,75.3,49.4,71.5,53z"/>
		</g>		

	</defs>
</svg>