<div class="mainContent_widget">
    <div>
        <div class="widget">
            <div class="head">
               <div class="title_head">
                    <!--<label style="color:#3790B3">-->
                    <i class="icon-reorder"></i> My Request
               </div>
               <div class="num">
                  <a href="#" class="redNum" id="my_request_count">0</a>
                </div>
            </div>
            <div id="my-request-container" style="position: relative; margin: 0px auto; padding: 0px; width: 100%; height: 300px;overflow: hidden;" class="ps-container">

            <div class="content-dialog sub-container-mr" style="width: 95%;height: auto;">
              <center><img src="/images/loader/loader.gif" class="load-app-myrequest" style="display: inline;margin-top:50%;"></center>
            </div>
            </div>
       </div>
    </div>
 </div>