<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<!-- Load -->
<script type='text/javascript' src='/js/library/load/load.js'></script>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Portal</title> 	 	
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<?php
        // TODO: check dependencies on guest structure
        echo '<link rel="stylesheet" href="/css/gueststructure.css" />';
        $this->setInclude("user_css",null,null,null);
        $main_controller = '<script type="text/javascript" src="/js/functions/user_view/maincontroller.js"></script>';	
	?>
	<!-- Javascript -->
	<!-- Jquery Library -->
	<script type="text/javascript" src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>
	<script type="text/javascript" src="/js/library/jqueryLib/jquery-migrate.js"></script>
	<script type="text/javascript" src="/js/library/jqueryLib/mobile.js"></script>
	<script type="text/javascript" src="/js/library/jqueryLib/jquery-ui.js"></script>	
	
	
	<!-- USER VIEW Javascript -->
	<?php echo $main_controller; ?>
	<!-- Jquery Alert -->
	<script type="text/javascript" src="/js/library/modal/jquery.alert.js"></script>
	<!-- Jquery Notification -->
	<script type="text/javascript" src="/js/library/notification/jquery_notification_v.1.js"></script>
	<!-- Jquery Time To Go -->
	<script type="text/javascript" src="/js/library/timeTogo/jquery.timeago.js"></script>
        
        <!--TODO: determine dependencies on jquery.form.js and functions.js, name_selection is dependent on this-->
	<!-- Jquery Form -->
	<script type="text/javascript" src="/js/library/form/jquery.form.js"></script>
	<!-- Jquery Functions -->
	<script type="text/javascript" src="/js/functions/functions.js"></script>
	
	<!-- Jquery ScrollBar -->
	<script src="/js/library/scrollbar/jquery.mousewheel.js"></script>
	<script src="/js/library/scrollbar/perfect-scrollbar.js"></script>
	
	<!-- Jquery Spectrum Color Picker -->
	<script src="/js/library/colorPicker/spectrum.js"></script>
	
	<!-- Bootstrap Functions -->
	<script type="text/javascript" src="/js/library/bootstrap/bootstrap.js"></script> 
	
	<!-- modernizr Functions -->
	<script type="text/javascript" src="/js/library/modernizr/modernizr.js"></script>
	<script type="text/javascript" src="/js/library/modernizr/modernizr.custom.js"></script>
        
        <!--TODO: determine dependencies on myCarousel, name_selection is dependent on this-->
	<!-- JCarousel Functions -->
	<script type="text/javascript" src="/js/library/carousel/myCarousel.js"></script>
	
	<!-- Colorbox -->
	<link href="/js/library/colorbox/colorbox.css" rel="stylesheet">
	<script type="text/javascript" src="/js/library/colorbox/jquery.colorbox-min.js"></script>
	
        <!-- CSS -->
	<!-- CSS ScrollBar -->
	<link href="/css/scrollbar/perfect-scrollbar.css" rel="stylesheet">
	<!-- CSS Notification -->
	<link rel="stylesheet" type="text/css" href="/css/notification/jquery_notification.css" />
	<!-- CSS Tooltip / Popover -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css" />
	<!-- Table / Popover -->
	<link rel="stylesheet" type="text/css" href="/css/table/table.css" />
	<!-- Spectrum Color Picker -->
	<link rel="stylesheet" type="text/css" href="/css/colorPicker/spectrum.css" />

	<link rel="stylesheet" type="text/css" href="/css/datepicker/jquery-ui-1.7.2.custom.css" />

	<!-- CSS customlogincss -->
	<!--<link rel="stylesheet" type="text/css" href="/css/customlogin_<?php echo COMPANY_STYLES; ?>.css" />-->
		
        <!--Chat-->
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
        <!-- CSS Fullcalendar -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/fullcalendar/fullcalendar.css" /> -->
	<link rel="stylesheet" type="text/css" href="/css/fullcalendar/updated/fullcalendar.min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/fullcalendar/updated/fullcalendar.print.css" /> -->

	<link rel="stylesheet" type="text/css" href="/css/ruler/ruler.css" />	

        <!--TODO: determine dependencies on formbuilderExtension, name_selection is dependent on this-->
        <script type="text/javascript" src="/js/functions/form_builder/formbuilderExtension.js"></script>
     
	<style>
	    .switcher { position: fixed; left: 0; top: 100px; background-color: #000; width: 24px; height: 96px; }
	    .switcher ul li { width: 12px; height: 12px; margin: 0 6px 6px 6px; border: none; padding: 0; }
	    .switcher ul li:first-child { margin-top: 4px; }
	    .switcher ul li.last { margin-bottom: 0; }
	    
	    .colorSwitch a { position: fixed; left: 0; top: 210px; background: url(../images/switcher/bgColor.png); width: 24px; height: 78px; cursor: pointer; }
	    .colorSwitch a:hover { background-position: -24px 0; }
	    
	    .layoutSwitch a { position: fixed; left: 0; top: 300px; background: url(../images/switcher/liquid.png); width: 24px; height: 60px; cursor: pointer; }
	    .layoutSwitch a:hover { background-position: -24px 0; }
	    
	/* Preview Ribbon */     
	    .ribbon-wrapper-green {
	      width: 85px;
	      height: 88px;
	      overflow: hidden;
	      position: absolute;
	      top: -5px;
	      right: -3px;
	      z-index: 1000;
	    }
	     
	    .ribbon-green {
	      font: bold 15px Sans-Serif;
	      color: #333;
	      text-align: center;
	      text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	      -webkit-transform: rotate(45deg);
	      -moz-transform:    rotate(45deg);
	      -ms-transform:     rotate(45deg);
	      -o-transform:      rotate(45deg);
	      position: relative;
	      padding: 7px 0;
	      left: -5px;
	      top: 15px;
	      width: 120px;
	      background-color: #BFDC7A;
	      background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
	      background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
	      background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
	      background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
	      background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
	      color: #6a6340;
	      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	      -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	      box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	    }
	     
	    .ribbon-green:before, .ribbon-green:after {
	      content: "";
	      border-top:   3px solid #6e8900;   
	      border-left:  3px solid transparent;
	      border-right: 3px solid transparent;
	      position:absolute;
	      bottom: -3px;
	    }
	     
	    .ribbon-green:before {
	      left: 0;
	    }
	    .ribbon-green:after {
	      right: 0;
	    }
	</style>
	<script>
	    $(document).ready(function() {
			// Jquery IDLE
			//var pathname = window.location.pathname;
			//if (pathname != "/") {
			//	$(document).sessionTimeout();
			//}
				
			
			
			jQuery('.mycarousel').jcarousel();
		
			// Change CSS Design
			$("body").on("click",".designCssStyle",function(){
			    var style_css = $(this).attr("data-style");
			    $(".designCSS").attr("href",style_css);
			});
	    });
	</script>
	<script type="text/javascript">



        $(document).ready(function(){
        		//.fl-workspace-button-wrapper-relatedforms, #fl-ui-app-wrapper,
             $('#fl-ui-app-wrapper, .fl-ui-announcement-posted-column, .fl-links-option-category, .fl-request-widget-wrapper, .fl-generic-control-innner, .tab_objects, .generate_objects, .fl-file-resource-wrapper, .fl-file-images-wrapper, .guest-tab-scroll, .fl-inmail-notifications-content-wrapper, .fl-inmail-notifications-compose-content-wrapper, .fl-drop-flyout-scroll, .fl-widget-wrapper, .fl-widget-wrapper-scroll, .fl-left-wrapper-content, .fl-starred-scrollhere, .fl-notification-wrapper-scroll, .fl-form-controls-content, .fl-form-actions-content, .fl-form-setting-content, .fl-form-objects-content, .fl-form-htmlvalue-content').perfectScrollbar({
                  wheelSpeed: 20,
                  wheelPropagation: false,
                  //suppressScrollX: true
             });

           $('.fl-set-ruler').ruler({
                vRuleSize: 18,
                hRuleSize: 18,
                showCrosshair : false,
                showMousePos: false
            });  

	    // Validation for the layout (login / home page)
	    var path = window.location.pathname;
	    var user_auth = $("#user_auth").val();
	    var USERAUTH = getCookie('USERAUTH');
	    var user_authentication = document.getElementById('user_authentication').value;
       

        });
     </script>
    </head>
    <body>
	<input type="hidden" id="cookie_url" value="<?php echo COOKIE_URL; ?>"/>
	<input type="hidden" id="AD" value="<?php echo ALLOW_ACTIVE_DIRECTORY; ?>"/>
	<input type="hidden" id="guest_allow_ws" value="<?php echo ALLOW_GUEST; ?>"/>
	<input type="hidden" id="user_url_view" value="<?php echo USER_VIEW; ?>"/>
	
	<input type="hidden" id="guest_user_url_view" value="<?php echo GUEST_MAIN_PAGE; ?>"/>
	<input type="hidden" id="guest_user_url_view" value="<?php echo GUEST_MAIN_PAGE_1; ?>"/>
	<input type="hidden" id="main_page" value="<?php echo MAIN_PAGE; ?>"/>
	<input type="hidden" id="user_auth" value="<?php echo Auth::hasAuth('current_user'); ?>"/>
	<input type="hidden" id="user_authentication" name="user_authentication" value="<?php echo Auth::hasAuth('current_user'); ?>"/>
	<input type="text" class="display" id="config_external_link" value="<?php echo ALLOW_EXTERNAL_LINKS; ?>">
	<input type="text" class="display" id="config_default_actions" value="<?php echo ALLOW_DEFAULT_ACTIONS; ?>"
	<!-- Insert your content here -->
	<?php // $this->setInclude("user_header",null,null,null);