<div class="mainContent_widget">
    <div>
        <div class="widget">
            <div class="head">
               <div class="title_head">
                    <i class="icon-star"></i> Starred
               </div>
               <div class="num">
                  <a href="#" class="redNum" id="starred_count">0</a>
                </div>
            </div>
            
            <div id="starred-container" style="position: relative; margin: 0px auto; padding: 0px; width: 100%; height: 300px;overflow: hidden;" class="ps-container">
                <div class="content-dialog sub-container-starred" style="width: 95%;height: auto;">
                    <center><img src="/images/loader/loader.gif" class="load-app-starred" style="display: inline;margin-top:50%;"></center>
                </div>
            </div>
       </div>
    </div>
 </div>
<!--  <div class="supTicket nobg">
    <div class="issueType">
       <span class="issueInfo">Type</span>
       <span class="issueNum">Title</span>
    </div>
    
    <div class="issueSummary">
       <a href="#" title="" class="pull-left" data-original-title="">
          <img src="/images/avatar/small.png" class="avatar" width="30" height="30" alt="">
       </a> 
       <div class="ticketInfo">
          <ul>
             <li><a href="" title="" data-original-title="">Name</a></li>
             <!-- <li class="even"><strong class="">[ If Where the request ]</strong></li> 
             <li>Other Special Text</strong></li>
             <li class="even" style="font-size: 10px;text-align: left;color: #888888;text-align:left">2013-09-25 13:54:04</li>
          </ul>
       </div>
    </div> 
 </div>
<div class="hr"></div> -->