
<div class="fixed">
    <div class="wrapper">
        <div class="welcome">
            <?php
            // Validate if user is already login
                if(Auth::hasAuth('current_user')){
                    $auth = Auth::getAuth('current_user');
                    $userCompany = new userQueries();
                    $company = $userCompany->getCompany($auth['company_id']);
                    echo    '<a href="/" title="'.$auth['last_name'].", ".$auth['first_name'].'">';
                    echo        $userCompany->avatarPic("companyUser",$auth['id'],"20","20","small","userProfile").'</a><span>'.$auth['last_name'].", ".$auth['first_name']."! &nbsp;&nbsp;&nbsp;(<u>".$auth['display_name'].'</u>)';
                    echo        '&nbsp;&nbsp; @ &nbsp;&nbsp;'.$company['name'].'</span>';
                }else{
                    echo 	'<a href="/">
                                <img src="/images/logo/header.png" class="logo"/>
                            </a>';
                }
            ?>
        </div>
        <div class="userNav">
            <?php
            // Validate if page is on the login
                if(Auth::hasAuth('current_user')){
                    $notifications = new notifications();
                    //show_notification
                    echo    '<ul>
                                <li><a href="/" title=""><span>Home</span></a></li>
                                
                                <li><a href="/notifications" class="" title=""><img src="/images/icons/topHeader/settings.png" class="icon" alt=""><span>Notification</span>
                                <strong class="numberTop notiCount">'.$notifications->countNotification().'</strong>
                                </a></li>
                                <li><a href="/' . $auth['last_name']."_".$auth['first_name'] . '" title=""><img src="/images/icons/topHeader/profile.png" class="icon" alt=""><span>Profile</span></a></li>
                                <li class="menuDropdown" data-action="task"><a href="/task" title=""><img src="/images/icons/topHeader/tasks.png" class="icon" alt=""><span>Tasks</span></a>
                                    <ul class="menu_body menu_task" style="">
                                        <li><a title="" class="cNewTask">Add new task</a></li>
                                        <li><a href="/task" title="" class="">Task List</a></li>
                                    </ul>
                                </li>
                                <li class="menuDropdown" data-action="msg">
                                    <a href="/message" title=""><img src="/images/icons/topHeader/messages.png" class="icon" alt=""><span>Messages</span><strong class="numberTop msgCount">'.$userCompany->countMsg($auth['id']).'</strong></a>
                                    <ul class="menu_body menu_msg" style="">
                                        <li><a title="" class="sAdd cNewMsg">New message</a></li>
                                        <li><a href="/message" title="" class="sInbox">inbox</a></li>
                                    </ul>
                                </li>
                                <li class="menuDropdown" data-action="account">
                                    <img src="/images/icons/topHeader/settings.png" class="icon" alt=""><span>Account Settings</span>
                                    <ul class="menu_body account_msg" style="">
                                        <li><a href="/account">Edit Account</a></li>
                                        <li><a href="/Privacy" title="">Privacy Settings</a></li>
                                    </ul>
                                </li>
                                <li><a href="/user/logout" title=""><img src="/images/icons/topHeader/logout.png" class="icon" alt=""><span>Logout</span></a></li>
                            </ul>';
                }else{
                    if(functions::curPageURL("?")!="http://".$_SERVER['HTTP_HOST']."/login" && functions::curPageURL("?")!="http://".$_SERVER['HTTP_HOST']."/reset_password"){
                       
                            if(isset($_GET['redirect_url'])){
                               $url = Functions::encode_decode_url($_GET['redirect_url'],"encode");
                               $action = "/login?redirect_url=" . $url;
                            }else{
                               $action = "/login";
                            }
                        echo '
                            <div class="loginWrapper">
                                <form action="' . $action . '" method="POST" id="login-form">
                                    <div style="float:left;width:100%;">
                                    
                                        <div style="float: left;width:45%;margin-top: -10px;">
                                            <div class="fields_below">
                                                <div class="label_below">Email: </div>
                                                <div class="input_position_below">
                                                    <input type="text" name="username" class="login-flds" id="form_email" autocomplete="off">
                                                </div>
                                                <h4><a class="cursor forgot_password" data-original-title="" title="" style="color:#fff;text-decoration:underline;">Forgot Password?</a></h4>
                                            </div>
                                        </div>
                                        <div style="float: left;width:45%;margin-top: -10px;">
                                            <div class="fields_below">
                                                <div class="label_below">Password: </div>
                                                <div class="input_position_below">
                                                    <input type="password" name="password" class="login-flds" autocomplete="off" id="form_password">
                                                </div>
                                                <input type="hidden" name="coords" class="userCoords">
                                            </div>
                                        </div>
                                        <div style="float: left;width:10%;margin-top:5px;">
                                            <div class="fields_below">
                                                <div class="label_below"></div>
                                                <div class="input_position_below">
                                                    <input type="submit" class="btn-blueBtn" value="login"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                               
                                       
                                </form>
                            </div>';
                    }
                }
                //Email : <input type="text" name="username" class="input-login" id="form_email" autocomplete="off">
                                    //Password : <input type="password" name="password" class="input-login" autocomplete="off" id="form_password">
            ?>
        </div>
    </div>
</div>