<?php
$display = "";
$db = new Database();
$auth = Auth::getAuth('current_user');
$params = Layout::getParams();
$notifications = new notifications();
$userCompany = new userQueries();
    if(!empty($params)){
        $allowed_params = unserialize(NOT_ALLOWED_LEFTBAR);
	
        if(in_array($params[1], $allowed_params)){
        	$display = "display";
        }else{
        	$display = "";
        }
    }else{
    	$display = "";
    }
$countEvent = $db->query("SELECT *,p.id as postID  FROM tbpost p
                                LEFT JOIN tbuser u on p.postedBy=u.id
                                WHERE p.is_active={$db->escape(1)}
                                AND p.post_type={$db->escape(2)}
                                AND u.company_id={$db->escape($auth['company_id'])}
                                ORDER BY p.id DESC LIMIT 20","numrows");    
?>


<?php include "layout/main-nav-svg.phtml"; ?>
<div class="fl-user-navigation-wrapper fl-infinite-nav-wrapper hideShowMenu <?php echo $display; ?> " show="false">

	<ul id="fl-infinite-nav" class="">
		<li class="tour_guide_help" data-name="DashBoard">
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-dashboard"></use>
		    </svg>	<a>Dashboard</a>
		</li>
		<li class="isDisplayNone"> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-navigation"></use>
		    </svg>	<a>Navigation</a><!-- Need information here-->
		</li>
		<li class="tour_guide_help" data-name="Organizational_Chart"> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-org-chart"></use>
		    </svg>	<a>Organizational Chart</a>
		</li>
		<li class="tour_guide_help isDisplayNone" data-name=""> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-forms"></use><!-- Need information here-->
		    </svg>	<a>Form</a>
		</li>
		<li class="tour_guide_help isDisplayNone" data-name=""> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-workflow"></use><!-- Need information here-->
		    </svg>	<a>Workflow</a>
		</li>
		<li class="tour_guide_help isDisplayNone" data-name=""> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-gs3-insights"></use><!-- Need information here-->
		    </svg>	<a>Gs3 Insights</a>
		</li>
		<li class="tour_guide_help" data-name="Announcements"> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-announcement"></use><!-- Need information here-->
		    </svg>	<a>Announcements</a>
		</li>
		<li class="tour_guide_help" data-name="Reports"> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-report"></use><!-- Need information here-->
		    </svg>	<a>Reports</a>
		</li>
		<li class="tour_guide_help isDisplayNone" data-name=""> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-print-form"></use><!-- Need information here-->
		    </svg>	<a>Print Form</a>
		</li>
		<li class="tour_guide_help" data-name="My_Requests"> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-my-request"></use><!-- Need information here-->
		    </svg>	<a>My Requests</a>
		</li>
		<li class="tour_guide_help isDisplayNone" data-name=""> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-suggestion"></use><!-- Need information here-->
		    </svg>	<a>Suggestions</a>
		</li>
		<li class="tour_guide_help isDisplayNone" data-name=""> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-trash-bin"></use><!-- Need information here-->
		    </svg>	<a>Trash Bin</a>
		</li>
		<li class="tour_guide_help" data-name="" style="display:none !important;"> 
		    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
		        <use xlink:href="#svg-icon-administrator"></use><!-- Need information here-->
		    </svg>	<a>Administrator</a>
		</li>			

	</ul>
</div>		
<div class="fl-user-navigation-wrapper-ui2 fl-infinite-nav-wrapper">
	<ul id="fl-infinite-nav" class="">
		
		<li class="tour_guide_help" data-name="DashBoard">
		    <a title="Dashboard" data-placement="right">
		    	 <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
		        	<use xlink:href="#svg-icon-dashboard"></use>
		    	</svg>
			</a>
		</li>
	
		
		<li class="isDisplayNone">
		    <a  title="Navigation" data-placement="right">
		    	<svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
		        	<use xlink:href="#svg-icon-navigation"></use>
		    	</svg>
			</a>	
		</li>
		<li class="tour_guide_help" data-name="Organizational_Chart">
			<a title="Organizational Chart" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-org-chart"></use>
			    </svg>
			</a>
		</li>
			
		<li class="isDisplayNone">
			<a title="Form" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-forms"></use>
			    </svg>
		   	<a/>
		</li>
			
		<li class="isDisplayNone">
			<a title="Workflow" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-workflow"></use>
			    </svg>
		    <a/>
		</li>
			
    	<li class="isDisplayNone">
    		<a title="Gs3 Insights" data-placement="right">
	    		<svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-gs3-insights"></use>
			    </svg>
		   	</a>
    	</li>
		    
		<li class="tour_guide_help" data-name="Announcements">
			<a title="Announcement" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-announcement"></use>
			    </svg>
			</a>
		</li>
		
		<li class="tour_guide_help" data-name="Reports">
			<a title="Report" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-report"></use>
			    </svg>
		    </a>
		</li>

		    	
		<li class="isDisplayNone">
		    <a title="Print Form" data-placement="right">
		    	<svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
		        	<use xlink:href="#svg-icon-print-form"></use>
		    	</svg>	
			</a>
		</li>
		
		
		<li class="tour_guide_help" data-name="My_Requests">
			<a title="My Request" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-my-request"></use>
			    </svg>
			</a>

		</li>
		
		<li class="isDisplayNone">
			<a title="Suggestion" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-suggestion"></use>
			    </svg>
			</a>
		</li>
			
		<li class="isDisplayNone">
			<a title="Trash Bin" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-trash-bin"></use>
			    </svg>
			</a>

		</li>
		
		<li class="isDisplayNone">
			<a title="Administrator" data-placement="right">
			    <svg class="icon-svg" viewBox="0 0 100.264 100.597" style="margin-left:18px;">
			        <use xlink:href="#svg-icon-administrator"></use>
			    </svg>
			</a>
		</li>
	</ul>
</div>	