<?php
$db = new Database();
$fn = new functions();
$auth = Auth::getAuth('current_user');
$redis_cache = getRedisConnection();
$user_id = $auth['id'];
?>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<?php
$themeStyle = array("light_color" => "#7f8c8d", "dark_color" => "#667273");


//if(isset($_COOKIE['application'])){

$application = $_COOKIE['application'];

if ($redis_cache) {

    $cachedFormat = "$user_id";

    $cache_theme = json_decode($redis_cache->get("user_theme"), true);

    $cached_query_result = $cache_theme ['' . $cachedFormat . ''];

    if ($cached_query_result) {
        // echo "from cache";

        $theme = $cached_query_result;
    } else {
        // echo "from db";

        $theme = $fn->getDashboardTheme($application);

        $cache_theme ['' . $cachedFormat . ''] = $theme;
        $redis_cache->set("user_theme", json_encode($cache_theme));
    }
} else {
    $theme = $fn->getDashboardTheme($application);
}


//print_r(Layout::getParams($_SERVER["REQUEST_URI"]));
$uri = Layout::getParams($_SERVER["REQUEST_URI"]);
if (count($theme) != 0 && $uri[1] != "application_portal") {
    $original_theme = $theme[0]['theme'];

    //print_r($theme);
    if ($original_theme == "style_pink") {
        $themeStyle = array("light_color" => "#E13688", "dark_color" => "#c61e6f");
    } else if ($original_theme == "style_yellow") {
        $themeStyle = array("light_color" => "#F0DE1E", "dark_color" => "#cdbd0e");
    } else if ($original_theme == "style_purple") {
        $themeStyle = array("light_color" => "#DA36C1", "dark_color" => "#bf1ec6");
    } else if ($original_theme == "style_blue") {
        $themeStyle = array("light_color" => "#33B5E5", "dark_color" => "#1a9bcb");
    } else if ($original_theme == "style_green") {
        $themeStyle = array("light_color" => "#04C204", "dark_color" => "#03a903");
    } else if ($original_theme == "style_orange") {
        $themeStyle = array("light_color" => "#ff8a00", "dark_color" => "#e67c00");
    } else if ($original_theme == "style_light_yellow") {
        $themeStyle = array("light_color" => "#ffda4c", "dark_color" => "#ffca00");
    } else if ($original_theme == "style_default") {
        $themeStyle = array("light_color" => "#7f8c8d", "dark_color" => "#667273");
    } else if ($original_theme == "style_red") {
        $themeStyle = array("light_color" => "#FF4444", "dark_color" => "#CC0000");
    } else if ($original_theme == "style") {
        $themeStyle = array("light_color" => "#7f8c8d", "dark_color" => "#667273");
    } else {
        $themeStyle = json_decode($theme[0]['theme'], true);

        if (count(json_decode($theme[0] ['theme'], true)) == 0) {
            $themeStyle = array("light_color" => DEFAULT_THEME_COLOR_LIGHT, "dark_color" => DEFAULT_THEME_COLOR_DARK);
        }
    }
}

echo '<input id="theme-color"  value="' . $themeStyle ['dark_color'] . '" style="display:none;">';

echo '<div class="customClass">';
include("layout/app_theme_color.phtml");
echo '</div>';
?>




