<?php
$auth           = Auth::getAuth('current_user');
$userCompany    = new userQueries();
$company        = $userCompany->getCompany($auth['company_id']);
$notifications  = new notifications();
$companyUserImg = $userCompany->avatarPic("companyUser", $auth['id'], "36", "36", "small", "userProfile");
$search         = new Search();
$orgchart       = $search->getActiveOrgchart();

$mod          = unserialize(ENABLE_COMPANY_MOD);

?>

<script src="/js/functions/sockets/common_functions.js"></script>
<script src="/js/functions/sockets/online_users.js"></script>
<script src="/js/functions/sockets/notification.js"></script>
<script src="/js/functions/sockets/reports.js"></script>
<script src="/js/functions/sockets/messaging.js"></script>
<script src="/js/functions/sockets/chat.js"></script>
<script src="/js/functions/sockets/initializer.js"></script>

<div id="current-user-info" data-socket-active="<?php echo SOCKET_ACTIVE ?>" data-socket-server="<?php echo SOCKET_SERVER ?>" style="display: none;">
    <!--General Info of Users-->

    <div id="current-user-id"><?php echo $auth['id'] ?></div>       
    <div id="current-user-company-id"><?php echo $auth['company_id'] ?></div>       
    <div id="current-user-display-name"><?php echo $auth['display_name'] ?></div>
    <div id="current-user-first-name"><?php echo $auth['first_name'] ?></div>
    <div id="current-user-last-name"><?php echo $auth['last_name'] ?></div>
    <div id="current-user-user-level"><?php echo $auth['user_level_id'] ?></div>
    <div id="current-user-profile-link"><?php echo $current_page = 'http://' . $_SERVER['HTTP_HOST'] . '/user_view/' . $auth['last_name'] . "_" . $auth['first_name']; ?></div>    
    <div id="current-user-profile-image"><?php echo $companyUserImg ?></div>
    <div id="current-user-msg_restriction" ><?php echo $auth['chat_property'] ?></div>
    <!--Socket Info-->
    <div id="current-selected-message"></div>
</div>
<!-- MY_REQUEST_CUSTOM_VIEW -->
<div id="enable_ide" class="display"><?php echo ENABLE_IDE; ?></div>
<div id="slideLayersMenu" class="display"><?php echo SLIDEMENU; ?></div>
<div id="forma_chat_config" class="display"><?php echo FORMACHAT; ?></div>
<div id="enable_inline_add_embed" class="display"><?php echo ENABLE_INLINE_ADD_EMBED; ?></div>
<div id="enable_context_menu" class="display"><?php echo ENABLE_CONTEXT_MENU; ?></div>
<div style="display: none;" id="my_request_custom_view"><?php echo MY_REQUEST_CUSTOM_VIEW; ?></div>
<div id="field_themes_config" class="display"><?php echo FIELD_THEMES; ?></div>
<div style="display: none;" id="enable_staging"><?php echo ENABLE_STAGING; ?></div>

<div id="allow_default_actions" class="isDisplayNone"><?php echo ALLOW_DEFAULT_ACTIONS; ?></div>
<div id="enable_config_deletion" class="isDisplayNone"><?php echo ENABLE_DELETION; ?></div>
<div id="broken_image" class="display"><?php echo BROKEN_IMAGE; ?></div>
<div id="broken_image_post" class="display"><?php echo BROKEN_IMAGE_POST; ?></div>

<?php  include "layout/main-app-icons.phtml"; ?>
<div class="fl-main-container">
    <div class="fl-user-header-wrapper">
        <?php if(!Auth::hasAuth('Guest_AUTO_LOGGED') && Auth::getAuth('Guest_AUTO_LOGGED') != 1){ ?>
        <div class="fl-user-company-avatar-wrapper">
            <div id="fl-showmenu" class="fl-showMenuIcon">
                <div class="fl-toggle-menu"></div>
                <div class="fl-toggle-menu"></div>
                <div class="fl-toggle-menu"></div>
                <!-- <i class="fa fa-caret-square-o-right"></i>  Menu -->
            </div>
            <div class="fl-user-avatar-company-wrapper"><a href="/portal" style="padding:0px;"><?php echo $userCompany->avatarPic("companyAdmin", $auth['company_id'], "36", "36", "Original", "companyPic",""); ?></a></div>
            <span class="fl-user-companyname"><a href="/portal"><?php echo $company['name']; ?></a></span>
        </div>
        <div class="fl-user-onlineuser-avatar-wrapper">
            <?php
            $user_info    = json_decode($auth['json_tbl'], true);

            //if($user_info['display_name'] == "Account name"){
            $name = $auth['display_name'];
            //}else{
            //    $name = $auth['first_name'] . " " . $auth['last_name'];
            //}
            ?>
            <span class="fl-user-name"><a href="<?php echo USER_VIEW; ?>account-settings" class="userProfileName"><?php echo $name; ?></a></span>
            <div class="fl-user-avatar-wrapper"><?php echo $companyUserImg ?></div>
            <div class="fl-header-option">
                <ul>
                    <?php if ($mod['others']['edit_account'] == "1") { ?>

                        <li><a href="/user_view/account-settings">
                                <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-edit-account"></use>
                                </svg>
                                &nbsp;&nbsp;Edit Account</a></li>

                    <?php } ?>
                    <?php if ($auth['user_level_id'] != "4") { ?>
                        <?php if ($mod['others']['privacy_settings'] == "1") { ?>
                            <li><a href="/user_view/privacy-settings"><i class="fa fa-cog"></i> &nbsp;&nbsp;Privacy Settings</a></li>
                        <?php } ?>
                        <?php
                        if (count($orgchart) != 0) {
                            ?>
                            <?php if ($mod['others']['user_org_chart'] == "1") { ?>
                                <li><a href="/user_view/organizational-chart">
                                        <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-org-chart"></use>
                                        </svg>
                                        &nbsp;&nbsp;Organizational Chart</a></li>
                            <?php } ?>
                            <?php
                        }
                    }
                    ?>
                    <?php if ($mod['suggestion_box'] == "1") { ?>
                    <li><a class="suggest subClosed suggestionBox"> 
                            <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-suggestions"></use>
                            </svg> 
                            &nbsp;&nbsp;Suggestions?</a>
                    </li>
                    <?php } ?>
                    <?php
                    $params = Layout::getParams();
                    if (ALLOW_HELP == "1") {
                        if ($params[1] != "tour") {
                            ?>
                            <?php if ($mod['others']['take_tour'] == "1") { ?>
                                <li><a href="<?php echo USER_VIEW; ?>tour">
                                        <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-take-tour"></use>
                                        </svg>  
                                        &nbsp;&nbsp;Take a Tour</a></li>
                            <?php } ?>
                            <?php
                        } else {
                            ?>
                            <?php if ($mod['others']['need_guide'] == "1") { ?>
                                <li><a href="/"><i class="fa fa-book"></i> &nbsp;&nbsp;End Tour?</a></li>
                            <?php } ?>
                            <?php
                        }
                        ?>
                        <?php if ($mod['others']['need_guide'] == "1") { ?>
                            <li><a class="needGuide"> 
                                    <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-need-guide"></use>
                                    </svg> 
                                    &nbsp;&nbsp;Need Guide?</a>
                            </li>
                        <?php } ?>
                    <?php } ?>
                    <?php if ($mod['others']['app_theme'] == "1") { ?>
                    <li id="AppThemePicker" class="isCursorPointer"> 
                        <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-choose-color"></use>
                        </svg> 
                        &nbsp;&nbsp;App Theme
                        <div class="AppThemePickerInnerWrapper isDisplayNone"> <!--  -->
                            <input type='text' id="fullColors"/>
                        </div>
                    </li>
                    <?php } ?>
                    
                    <li class="fl-toggle-nav-view "><!-- isDisplayNone -->
                        <a href="#"> 
                            <svg class="icon-svg user-dropdown-menu-svg svg-icon-change-nav-view"  viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-change-nav-view"></use>
                            </svg>
                            &nbsp;&nbsp;Navigation View </a>
                        <ul class="fl-nav-view-sub isDisplayNone"><!--  -->
                            <li id="iconAndLabel" navui="iconAndLabel">Icon with Label</li>
                            <li id="iconOnly" navui="iconOnly">Icons Only</li>
                        </ul>
                    </li>
                    <!-- CHOOSE FONTS -->
                    <!-- <li class="fl-font-toggle"><i class="fa fa-font colorfff"></i> &nbsp;&nbsp;Choose Font
                        <ul class="fl-change-font fl-font-submenu isDisplayNone">
                            <li data-font="arial"><a href="#">Arial</a></li>
                            <li data-font="Open sans"><a href="#">Open Sans</a></li>
                            <li id="fl-Tahoma" data-font="Tahoma"><a href="#">Tahoma</a></li>
                            <li id="fl-Tahoma" data-font="Monotype Corsiva"><a href="#">Monotype Corsiva</a></li>
                            <li id="fl-Tahoma" data-font="AR CHRISTY"><a href="#">Ar Christy</a></li>
                            <li id="fl-Tahoma" data-font="sans-serif"><a href="#">San serif</a></li>
                            <li id="fl-Tahoma" data-font="serif"><a href="#">Serif</a></li>
                            
                        </ul>
                    </li> -->
                    <li><a href="<?php echo MAIN_PAGE . 'user/logout'; ?>">  
                            <svg class="icon-svg user-dropdown-menu-svg" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-logout"></use>
                            </svg>
                            &nbsp;&nbsp;Logout</a>
                    </li>
                </ul>   
            </div>
        </div>
        <div class="fl-top-nav-options">

            <ul>
                <?php if ($mod['others']['notification'] == "1") { ?>
                                            <!--<li show-fl-flyout="false"><a href="/user_view/messages"><i class="fa fa-envelope-o"></i></a><strong class="counter"><?php //echo $userCompany->countMsg($auth['id']);      ?></strong></li>-->
                    <li class="tip fl-drop-item-noti" data-original-title="Notifications" data-placement="bottom" show-fl-flyout="false">
                        <?php
                        $notiCount = $notifications->countNotification();
                        if ($notiCount > 0) {
                            ?>
                            <strong class="counter noti-counter" id="noti-counter"><?php echo $notiCount; ?></strong>
                            <?php
                        }
                        ?> 
                        <a href="#">
                            <svg class="icon-svg fl-top-nav-svg" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-notifications"></use>
                            </svg>

                        </a><i class="fa fa-caret-up" style="display:none;"></i>

                    </li>
                <?php } ?>
                <?php if ($mod['others']['message-app'] == "1") { ?>
                    <?php
                    $message_dao   = new MessagingDAO();
                    $message_count = $message_dao->getUnreadMessageCount($auth["id"]);
                    ?>
                    <?php if(GO_LITE == 0){ ?>
                        <li class="tip fl-drop-item-msg" data-original-title="Available in Full Version" data-placement="bottom">
                       
                        <a>
                            <svg class="icon-svg fl-top-nav-svg svg-icon-message" viewBox="0 0 90 60">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-message"></use>
                            </svg>

                        </a></li>
                    <?php }else{ 
                        ?>
                        <li class="tip fl-drop-item-msg" data-original-title="Messages" data-placement="bottom">
                        <!--Set up for Restriction for Messaging and Chat -->
                        <?php if($auth['chat_property'] != 1){ ?>
                                <strong class="counter fl-message-counter <?= ($message_count > 0 ? "" : "display") ?>" id="fl-message-counter"><?= $message_count ?></strong>
                                <a href="/user_view/message-app" target="_blank" rel="noopener noreferrer">
                            <?php }else{ ?>
                                <a href="#" target="_blank">
                            <?php } ?>
                                <svg class="icon-svg fl-top-nav-svg svg-icon-message" viewBox="0 0 90 60">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-message"></use>
                                </svg>

                            </a>
                        </li>
                    <?php } ?>
                    
                <?php } ?>
<!-- <li class="tip fl-drop-item-msg" data-original-title="Mail" data-placement="bottom" show-fl-flyout="false"><a href="#"><i class="fa fa-envelope-o"></i></a><strong class="counter"><?php echo $userCompany->countMsg($auth['id']); ?></strong></li> -->
                <?php if ($mod['others']['faq'] == "1") { ?>
                    <li class="tip" data-original-title="Frequently asked questions" data-placement="bottom"><a href="/user_view/faq" rel="noopener noreferrer" target="_blank">
                            <svg class="icon-svg fl-top-nav-svg svg-icon-faq" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-faq"></use>
                            </svg>
                        </a></li>
                <?php } ?>
                <?php if ($mod['others']['group'] == "1") { ?>
                    <?php if(GO_LITE == 0){ ?>
                    <li class="tip" data-original-title="Available in Full Version" data-placement="bottom"><a>
                            <svg class="icon-svg fl-top-nav-svg svg-icon-groups" viewBox="0 0 90 50">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-groups"></use>
                            </svg>
                        </a></li>
                    <?php }else{ ?>
                    <li class="tip" data-original-title="Groups" data-placement="bottom"><a href="/user_view/groups" target="_blank" rel="noopener noreferrer">
                            <svg class="icon-svg fl-top-nav-svg svg-icon-groups" viewBox="0 0 90 50">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-groups"></use>
                            </svg>
                        </a></li>
                    <?php } ?>
                <?php } ?>
                <?php if ($mod['others']['starred'] == "1") { ?>
                    <li class="tip" data-original-title="Starred items" data-placement="bottom"><a href="/user_view/starred" target="_blank" rel="noopener noreferrer">
                            <svg class="icon-svg fl-top-nav-svg" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-starred"></use>
                            </svg>
                        </a></li>
                <?php } ?>

                <?php if ($mod['others']['link'] == "1") { ?>
                    <?php if(GO_LITE == 0){ ?>
                    <li class="tip" data-original-title="Available in Full Version" data-placement="bottom" show-fl-flyout="false"><a>
                            <svg class="icon-svg fl-top-nav-svg svg-icon-link" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-link"></use>
                            </svg>

                        </a><i class="fa fa-caret-up" style="display:none;"></i></li>
                    <?php }else{ ?>
                    <li class="tip fl-drop-item-link-list" data-original-title="Link" data-placement="bottom" show-fl-flyout="false"><a href="#">
                            <svg class="icon-svg fl-top-nav-svg svg-icon-link" viewBox="0 0 90 90">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-link"></use>
                            </svg>

                        </a><i class="fa fa-caret-up" style="display:none;"></i></li> 
                    <?php } ?>
                <?php } ?>
<!-- <li class="tip" data-original-title="Generated Reports" data-placement="bottom"><a href="/ajax/generate_report_tile"><i class="fa fa-line-chart"></i></a></li> -->
            </ul>

            <div id="fl-notification-dropflyout" class="fl-dropflyout">
                <!-- <i class="fa fa-caret-up"></i> -->
                <strong class="fl-dropflyout-head"><a><i class="fa fa-bell-o"></i> Notifications</a></strong>
                <div class="fl-drop-flyout-scroll">
                    <div class="noti-fly">

                    </div>
                    <!-- <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong>Announcement</strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <strong class="fl-dropflyout-name">John Doe</strong>
                        <strong class="fl-dropflyout-content">Mention you in a post.</strong>
                    </div> -->
                </div>
                <strong class="fl-dropflyout-foot"><a href="/user_view/notifications">See All</a></strong>
            </div>  <!-- end of notification dropflyout-->

            <div id="fl-messages-dropflyout" class="fl-dropflyout">
                <!-- <i class="fa fa-caret-up"></i> -->
                <strong class="fl-dropflyout-head"><a href="/user_view/in-mail#tab3">Create New Message</a></strong>
                <div class="fl-drop-flyout-scroll">
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong><?php //echo $auth['first_name'] . " " . $auth['last_name'];       ?></strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <div class="fl-dropflyout-content-wrapper">
                            <div class="fl-dropflyout-img"><?php echo $companyUserImg ?></div>
                            <div class="fl-dropfyout-img-content">Before you can use Sass, you need to set it up on your project </div>
                        </div>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong><?php //echo $auth['first_name'] . " " . $auth['last_name'];       ?></strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <div class="fl-dropflyout-content-wrapper">
                            <div class="fl-dropflyout-img"><?php //echo $companyUserImg       ?></div>
                            <div class="fl-dropfyout-img-content">Before you can use Sass, you need to set it up on your project </div>
                        </div>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong><?php //echo $auth['first_name'] . " " . $auth['last_name'];       ?></strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <div class="fl-dropflyout-content-wrapper">
                            <div class="fl-dropflyout-img"><?php //echo $companyUserImg       ?></div>
                            <div class="fl-dropfyout-img-content">Before you can use Sass, you need to set it up on your project </div>
                        </div>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong><?php //echo $auth['first_name'] . " " . $auth['last_name'];       ?></strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <div class="fl-dropflyout-content-wrapper">
                            <div class="fl-dropflyout-img"><?php echo $companyUserImg ?></div>
                            <div class="fl-dropfyout-img-content">Before you can use Sass, you need to set it up on your project </div>
                        </div>
                    </div>
                    <div class="fl-dropflyout-wrapper">
                        <div class="fl-flyouheader">
                            <strong><?php //echo $auth['first_name'] . " " . $auth['last_name'];       ?></strong>
                            <strong class="fl-floatRight">3hrs ago</strong>
                            <div class="clearfix"></div>
                        </div>
                        <div class="fl-dropflyout-content-wrapper">
                            <div class="fl-dropflyout-img"><?php //echo $companyUserImg       ?></div>
                            <div class="fl-dropfyout-img-content">Before you can use Sass, you need to set it up on your project </div>
                        </div>
                    </div>
                </div>
                <strong class="fl-dropflyout-foot"><a href="/user_view/in-mail">See All</a></strong>
            </div> <!-- end of notification dropflyout -->
            <div id="fl-linklist-dropflyout" class="fl-dropflyout">
                <!-- <i class="fa fa-caret-up"></i> -->
                <strong class="fl-dropflyout-head"><a><i class="fa fa fa-link"></i> Link List</a></strong>
                <div class="fl-drop-flyout-scroll link-fly-drop">

                </div>

            </div><!-- end of linklist dropflyout  -->
        </div>      
        <?php } ?>
    </div>
    <div class="fl-user-wrapper">