<?php
$display = "";
$db = new Database();
$auth = Auth::getAuth('current_user');
$params = Layout::getParams();
$notifications = new notifications();
$userCompany = new userQueries();
$fs = new Functions();
    if(!empty($params)){
        $allowed_params = unserialize(NOT_ALLOWED_LEFTBAR);
	
        if(in_array($params[1], $allowed_params)){
        	$display = "display";
        }else{
        	$display = "";
        }
    }else{
    	$display = "";
    }
$countEvent = $db->query("SELECT *,p.id as postID  FROM tbpost p
                                LEFT JOIN tbuser u on p.postedBy=u.id
                                WHERE p.is_active={$db->escape(1)}
                                AND p.post_type={$db->escape(2)}
                                AND u.company_id={$db->escape($auth['company_id'])}
                                ORDER BY p.id DESC LIMIT 20","numrows");    


$navui = $fs->getDashboardNavView();

$navuitype = "iconAndLabel";
$navuidisplay_a = "block";
$navuidisplay_b = "none";

if(count($navui)>0){
	$navuitype = $navui[0]['navuitype'];
	$navuidisplay_a = "display:".$navui[0]['navuidisplay_a'];
	$navuidisplay_b = "display:".$navui[0]['navuidisplay_b'];
}
// echo $navuidisplay_b;
if($display=="display"){
	$navuidisplay_a = "";
	$navuidisplay_b = "";
}

?>


<?php include "layout/main-nav-svg.phtml"; ?>
<input type="text" class="isDisplayNone" id="navuitype" value="<?= $navuitype; ?>" />
<div class="fl-user-navigation-wrapper fl-infinite-nav-wrapper hideShowMenu <?php echo $display; ?> " show="false" style="<?php echo $navuidisplay_a;?>">

	<ul id="fl-infinite-nav" class="">
		<li class="tour_guide_help" data-name="App_configuration" style="background-color:#8D8D8D;"> 
		    <a style="color:#ffffff;"> MAIN NAVIGATION</a>
		</li>
		<li class="tour_guide_help" data-name="DashBoard">
		    <a><i class="fa fa-home" id="targs" style="font-size:20px; margin-right:5px;"></i> Dashboard</a>
		</li>
		<li class="tour_guide_help" data-name="Navigation"> 
		    <a href="#"><i class="fa fa-files-o" style="font-size:18px; margin-right:5px;"></i> Navigation</a><!-- Need information here-->
		</li>
		<li class="tour_guide_help" data-name="Organizational_Chart"> 
		    <a><i class="fa fa-sitemap" style="font-size:18px; margin-right:5px;"></i> Organizational Chart</a>
		</li>
		<li class="tour_guide_help " data-name="Form"> 	   
		    <a><i class="fa fa-list-alt" style="font-size:18px; margin-right:5px;"></i> Form</a>
		</li>
		<li class="tour_guide_help " data-name="Workflow"> 
		    <a><i class="fa fa-retweet" style="font-size:18px; margin-right:5px;"></i> Workflow</a>
		</li>
		<li class="tour_guide_help" data-name="Gs3_Insights"> 
		   <a><i class="fa fa-pie-chart" style="font-size:18px; margin-right:5px;"></i> Gs3 Insights</a>
		</li>
		<li class="tour_guide_help" data-name="Announcements"> 
		    <a><i class="fa fa-bullhorn" style="font-size:18px; margin-right:5px;"></i> Announcements</a>
		</li>
		<li class="tour_guide_help" data-name="Reports"> 
		    <a><i class="fa fa-line-chart" style="font-size:18px; margin-right:5px;"></i> Reports</a>
		</li>
		<li class="tour_guide_help" data-name="Print_Form"> 
		    <a><i class="fa fa-print" style="font-size:18px; margin-right:5px;"></i> Print Form</a>
		</li>
		<li class="tour_guide_help" data-name="My_Requests"> 
		    <a><i class="fa fa-file-text-o" style="font-size:18px; margin-right:5px;"></i> My Requests</a>
		</li>
		<li class="tour_guide_help " data-name="Suggestion_Box"> 
		    <a><i class="fa fa-archive" style="font-size:18px; margin-right:5px;"></i> Suggestion Box</a>
		</li>
		<li class="tour_guide_help" data-name="Trash_Bin"> 
		   <a><i class="fa fa-trash-o" style="font-size:18px; margin-right:5px;"></i> Trash Bin</a>
		</li>
		<li class="tour_guide_help" data-name="App_Configuration"> 
		    <a><i class="fa fa-wrench" style="font-size:18px; margin-right:5px;"></i> App Configuration</a>
		</li>
		<li class="tour_guide_help" data-name="App_configuration" style="background-color:#8D8D8D;"> 
		    <a style="color:#ffffff;"> HEADER NAVIGATION</a>
		</li>
		<li class="tour_guide_help" data-name="Starred">
			 <a><i class="fa fa-star-o" style="font-size:18px; margin-right:5px;"></i> Starred</a>
		</li>
		<li class="tour_guide_help" data-name="Groups">
			 <a><i class="fa fa-users" style="font-size:18px; margin-right:5px;"></i> Groups</a>
		</li>
		<li class="tour_guide_help" data-name="Frequently_Asked_Questions">
			 <a><i class="fa fa-question-circle" style="font-size:18px; margin-right:5px;"></i> Frequently Asked Questions</a>
		</li>
		<li class="tour_guide_help" data-name="Messages">
			 <a><i class="fa fa-envelope-o" style="font-size:18px; margin-right:5px;"></i> Message</a>
		</li>
		<li class="tour_guide_help" data-name="Notifications">
			 <a><i class="fa fa-bell-o" style="font-size:18px; margin-right:5px;"></i> Notifications</a>
		</li>			

	</ul>
</div>		
<div class="fl-user-navigation-wrapper-ui2 fl-infinite-nav-wrapper" style="<?php echo $navuidisplay_b;?>">
	<ul id="fl-infinite-nav" class="">
		
		<li class="tour_guide_help" data-name="DashBoard">
		    <a custom-data-tooltip="Dashboard" data-placement="right" class="fl-admin-leftbar3-style">
		   		<i class="fa fa-home" id="targs"></i>
			</a>
		</li>
	
		
		<li class="tour_guide_help" data-name="Navigation">
		    <a href="#" custom-data-tooltip="Navigation" data-placement="right" class="fl-admin-leftbar3-style">
		    	<i class="fa fa-files-o"></i>
			</a>	
		</li>
		<li class="tour_guide_help" data-name="Organizational_Chart">
			<a custom-data-tooltip="Organizational Charts" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-sitemap"></i>
			</a>
		</li>
			
		<li class="tour_guide_help" data-name="Form">
			<a custom-data-tooltip="Forms" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-list-alt"></i>
		    </a>
		</li>
			
		<li class="tour_guide_help" data-name="Workflow">
			<a custom-data-tooltip="Workflows" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-retweet"></i>
			</a>
		</li>
			
    	<li class="tour_guide_help" data-name="Gs3_Insights">
    		<a custom-data-tooltip="GS3 Insights" data-placement="right" class="fl-admin-leftbar3-style">
	    		<i class="fa fa-pie-chart"></i>
			</a>
    	</li>
		    
		<li class="tour_guide_help" data-name="Announcements">
			<a>
				<a custom-data-tooltip="Announcements" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-bullhorn"></i>
			</a>
		</li>
		
		<li class="tour_guide_help" data-name="Reports">
			<a custom-data-tooltip="Reports" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-line-chart"></i>
			</a>
		</li>

		    	
		<li class="tour_guide_help" data-name="Print_Form">
	    	<a custom-data-tooltip="Print Form" data-placement="right" class="fl-admin-leftbar3-style">
		    	<i class="fa fa-print"></i>	
			</a>
			
		</li>
		
		
		<li class="tour_guide_help" data-name="My_Requests">
			<a  custom-data-tooltip="My Requests" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-file-text-o"></i>
			</a>

		</li>
		
		<li class="tour_guide_help" data-name="Suggestion_Box">
			<a custom-data-tooltip="Suggestion Box" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-archive"></i>
			</a>
		</li>
			
		<li class="tour_guide_help" data-name="Trash_Bin">
			<a  custom-data-tooltip="Trash Bin" data-placement="right" class="fl-admin-leftbar3-style">
			    <i class="fa fa-trash-o"></i>
			</a>

		</li>
		
		<li class="tour_guide_help" data-name="App_Configuration">
			<a custom-data-tooltip="Administer" data-placement="right"  class="fl-admin-leftbar3-style">
			    <i class="fa fa-wrench"></i>
			</a>
		</li>

		<li class="tour_guide_help" data-name="Starred">
			<a  custom-data-tooltip="Starred" data-placement="right"  class="fl-admin-leftbar3-style">
			    <i class="fa fa-star-o"></i>
			</a>
		</li>
		<li class="tour_guide_help" data-name="Groups">
			<a custom-data-tooltip="Groups" data-placement="right"  class="fl-admin-leftbar3-style">
			    <i class="fa fa-users"></i>
			</a>
		</li>
		<li class="tour_guide_help" data-name="Frequently_Asked_Questions">
			<a  custom-data-tooltip="Frequently Asked Questions" data-placement="right"  class="fl-admin-leftbar3-style">
			    <i class="fa fa-question-circle"></i>
			</a>
		</li>
		<li class="tour_guide_help" data-name="Messages">
			<a custom-data-tooltip="Messages" data-placement="right"  class="fl-admin-leftbar3-style">
			    <i class="fa fa-envelope-o"></i>
			</a>
		</li>
		<li class="tour_guide_help" data-name="Notifications">
			<a custom-data-tooltip="Notifications" data-placement="right"  class="fl-admin-leftbar3-style">
			    <i class="fa fa-bell-o"></i>
			</a>
		</li>
	</ul>
</div>	