<?php
$auth = Auth::getAuth('current_user');
//if($auth['user_level_id']==2){
?>
    <div class="form_properties_container">
        <div class="form_properties">
            <!-- Workspace Settings -->
            <!-- Actions -->      
            <div class="form_settings">
                <div class="form_menu">
                    <div class="pull-left">
                        <b>Form Settings</b>
                    </div>
                    <div class="pull-right" style="text-align: right;">
                        <i class="icon-minus" style="text-align: right;"></i>
                    </div>
                </div>

                <div style="height: 190px;">
                    <div class="fields_below">
                        <div class="label_below" style="font-size: 10px;">Custom Form Size: </div>
                        <div class="input_position_below">
                            <input type="text" name="" class="form-text form_set_size form_size_width" style="width: 49%;" placeholder="Width" value="1030">
                            <input type="text" name="" class="form-text form_set_size form_size_height" style="width: 49%;" placeholder="Height" value="600">
                        </div>
                    </div>
                    <div class="fields_below">
                        <div class="label_below" style="font-size: 10px;">Form Size: </div>
                        <div class="input_position_below">
                            <select class="form-select form_size">
                                <option value="8.5x11">Letter(8.5in x 11in)</option> 
                                <option value="8.5x14">Legal(8.5in x 14in)</option> 
                                <option value="7.25x10.5">Executive(7.25in x 10.5in)</option> 
                                <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
                                <option value="33.11x46.61">A0(33.11in x 46.61in)</option> 
                                <option value="23.39x33.11">A1(23.39in x 33.11in)</option> 
                                <option value="16.53x23.39">A2(16.53in x 23.39in)</option> 
                                <option value="11.69x16.53">A3(11.69in x 16.53in)</option> 
                                <option value="8.27x11.69">A4(8.27in x 11.69in)</option> 
                            </select>
                        </div>
                    </div>
                    <div class="fields_below">
                        <div class="label_below" style="font-size: 10px;">Show ruler: </div>
                        <div class="input_position_below">
                            <label>Yes: <input type="radio" class="f-show-ruler" value="yes" name="show-form-ruler-select"/></label>
                            <label>No: <input type="radio" class="f-show-ruler" checked="checked" value="no" name="show-form-ruler-select"/></label>
                            <!-- <select class="form-select show-ruler">
                                <option value="yes">Yes</option> 
                                <option value="no">No</option>
                            </select> -->
                        </div> 
                    </div>
                    <?php
                    if (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workflow") {
                        

                        $db = new Database();
                        $form_id = $_GET['form_id'];
                        $getForms = $db->query("SELECT id,form_name FROM tb_workspace WHERE company_id={$db->escape($auth['company_id'])} AND is_active =1 AND is_delete = 0 ","array");
                        $getForm_properties = $db->query("SELECT * FROM tb_workspace WHERE id={$db->escape($form_id)} AND ws.is_delete = 0 ", "row");


                        $active_fields = functions::getFormFields($form_id);
                        $form_columns = array();
                        foreach ($active_fields as $value) {
                            array_push($form_columns, $value);
                        }

                        //form properties and others
                        echo '<input type="text" class="class form_buttons display" value="' . $getForm_properties['form_buttons'] . '">';
                        echo '<input type="text" class="class form_fields display" value=' . json_encode($form_columns) . ' />';
                        echo '<div class="company_forms display">' . htmlspecialchars(json_encode($getForms)) . ' </div>';
                    }
                    ?>
                </div>
            </div>
            <?php
            if (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "organizational_chart") {
                ?>
                <!-- Actions -->      
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Actions</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor save_workspace tip" data-original-title="Save Organizational Chart" data-workspace="Organizational Chart" data-form-type="organizational_chart" style="width: 49%;"><i class="icon-save"></i> Save</button>
                                    <!-- <button class="btn-basicBtn padding_5 cursor tip" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button> -->
                                    <button class="btn-basicBtn padding_5 cursor clear_all_nodes tip" data-original-title="Clear Workspace" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <!-- <button class="btn-basicBtn padding_5 cursor" style="width: 49%;font-size: 11px;"><i class="icon-file"></i> New Form</button> -->
                                    <button class="btn-basicBtn padding_5 cursor preview_form tip" data-original-title="Preview Organizational Chart" data-form-type="organizational_chart" style="width: 49%;font-size: 11px;"><i class="icon-search"></i> Preview</button>

                                </div>
                                <div style="margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Controls</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>
                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor orgchart_node tip" data-original-title="Add Node" data-object-type="processNode" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                        <i class="icon-font"></i> Department
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            } elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "formbuilder") {
                $db = new Database();
                ?>
                <!-- Actions -->      
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Actions</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor save_workspace tip" data-original-title="Save Form" data-workspace="Formbuilder" data-form-type="formbuilder" style="width: 49%;"><i class="icon-save"></i> Save</button>
                                    <button class="btn-basicBtn padding_5 cursor clear_all_formbuilder_workspace tip" data-original-title="Clear Workspace" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor preview_form tip" data-original-title="Preview Form" data-form-type="formbuilder" style="width: 49%;font-size: 11px;"><i class="icon-search"></i> Preview</button>
                                    <button class="btn-basicBtn padding_5 cursor mobility-setup tip" data-original-title="Mobility" data-form-type="" style="width: 49%;font-size: 11px;"><i class="icon-laptop"></i> Mobility</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor form-authors tip" data-original-title="Set Authors" data-form-type="" style="width: 49%;font-size: 11px;"><i class="icon-pencil"></i> Authors</button>
                                    <button class="btn-basicBtn padding_5 cursor form-readers tip" data-original-title="Set Viewers" data-form-type="" style="width: 49%;font-size: 11px;"><i class="icon-book"></i> Viewers</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor form-admin tip" data-original-title="Form Admin" data-form-type="" style="width: 49%;font-size: 11px;"><i class="icon-pencil"></i> Form Admin</button>
                                    <button class="btn-basicBtn padding_5 cursor form-header-info tip" data-original-title="Set Header Info." data-form-type="" style="width: 49%;font-size: 11px;"><i class="icon-pencil"></i> Header Info.</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor form-customized tip" data-original-title="Set Customized Author" data-form-type="" style="width: 49%;font-size: 11px;"><i class="icon-pencil"></i> Customize Print</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <?php
                                    $getWorkflow = $db->query("SELECT * FROM tbworkflow WHERE form_id = {$db->escape($_GET['formID'])} AND is_active=1 AND is_delete = 0","array");
                                    if(count($getWorkflow)==1){
                                        $wfPath = "workflow?view_type=edit&form_id=". $_GET['formID'] ."&id=". $getWorkflow[0]['id'] ."";
                                        ?>
                                            <a href="<?php echo $wfPath; ?>" class="tip cursor" data-original-title="Active Workflow" data-placement="top" id="" data-form-id="1" style=""><button class="btn-basicBtn padding_5 cursor" style="width: 49%;font-size: 11px;"><i class="icon-retweet"></i> Workflow</button></a>
                                        <?php
                                    }
                                    ?>
                                </div>
                                <div style="margin-top: 5px;">
                                    <!-- <button class="btn-basicBtn padding_5 cursor save_workspace" data-workspace="Formbuilder" data-form-type="formbuilder" style="width: 49%;font-size: 11px;"><i class="icon-save"></i> Save</button> -->

                                </div>
                                <div style="margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Controls</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="position: relative; margin: 0px auto; padding: 0px; width: 100%; height: 150px;overflow: hidden;" class="formbuilder_objects">
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Label"  data-object-type="labelOnly" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-font"></i> Label Only
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Tab" data-object-type="tabPanel" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-text-width"></i> Tab Panel
                                        </button>
                                    </div>
        
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="TextBox"  data-object-type="textbox" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-font"></i> TextBox
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="TextArea" data-object-type="textarea" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-text-width"></i> Text Area
                                        </button>
                                    </div>
                                    <!--<div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects" data-object-type="fullAddress" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-pencil"></i> Full Address
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects" data-object-type="fullname" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-font"></i> Fullname
                                        </button>
                                    </div>-->
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Checkbox" data-object-type="checkbox" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-check"></i> CheckBox
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Radio Button" data-object-type="radioButton" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-ok-sign"></i> Radio Button
                                        </button>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Dropdown" data-object-type="dropdown" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-collapse"></i> Dropdown
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Select Many" data-object-type="selectMany" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-align-justify"></i> Select Many
                                        </button>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Date Time" data-object-type="dateTime" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-time"></i> Date Time
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Date Picker" data-object-type="datepicker" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-calendar"></i> Date Picker
                                        </button>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Table"
                                                data-object-type="table" data-drop="workspace" 
                                                style="width: 49%;font-size: 11px;">
                                            <i class="icon-table"></i> Table
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Line" data-object-type="line" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-ellipsis-horizontal"></i> Add Line
                                        </button>
                                        <!-- <button class="btn-basicBtn padding_5 cursor getObjects" data-object-type="website" data-drop="workspace" style="width: 49%;font-size: 11px;background-color:rgb(200,200,200) !important;background:none;cursor:auto" disabled="disabled">
                                            <i class="icon-globe"></i> Website
                                        </button> -->
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Button" data-object-type="button" data-drop="formbuilder_page_btn" style="width: 49%;font-size: 11px;">
                                            <i class="icon-plus"></i> Button
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Names" data-object-type="listNames" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-list-alt"></i> Names
                                        </button>
                                    </div>
                                     <div style="margin-top: 5px;">
                                         <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Computed" data-object-type="computed" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                             <i class="icon-folder-open"></i> Computed
                                         </button>
                                         <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Image" data-object-type="image" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <form id="getformImage" method="post" enctype="multipart/form-data" action="/ajax/formUpload">
                                                <input type="file" data-action-id="2" value="upload" name="image" id="formImage" size="24" data-action-type="postImageForm" style="opacity: 0;position: absolute;" class="">
                                                <i class="icon-picture"></i> Image
                                            </form>
                                         </button>
                                     </div>
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Embed View" data-object-type="embedView" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-time"></i> Embed View
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Pick List" data-object-type="pickList" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-calendar"></i> Pick List
                                        </button>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Request Image" data-object-type="requestImage" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-picture"></i> Request Image
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Bar Code Scanner" data-object-type="barCodeScanner" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-picture"></i> Bar Code 
                                        </button><!-- comment for update-->
                                    </div>
									<div style="margin-top: 5px;">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Time" data-object-type="time" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-time"></i> Time
                                        </button>
                                    </div>
									
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            } elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "workflow") {
                ?>
                <!-- Actions -->      
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Actions</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor save_workspace tip" data-original-title="Save Workflow" data-workspace="Workflow Chart" data-form-type="workflow" style="width: 49%;"><i class="icon-save"></i> Save</button>
                                    <button class="btn-basicBtn padding_5 cursor tip clear_all_nodes" data-original-title="Clear Workspace" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <!-- <button class="btn-basicBtn padding_5 cursor" style="width: 49%;font-size: 11px;"><i class="icon-file"></i> New Form</button> -->
                                    <button class="btn-basicBtn padding_5 cursor preview_form tip" data-original-title="Preview Workflow" data-form-type="workflow" style="width: 49%;font-size: 11px;"><i class="icon-search"></i> Preview</button>
                                    <a href="/formbuilder?formID=<?php echo $_GET['form_id']; ?>&view_type=edit" class="tip cursor" data-original-title="Related Form" data-placement="top" id="" data-form-id="1" style=""><button class="btn-basicBtn padding_5 cursor" style="width: 49%;font-size: 11px;"><i class="icon-reorder"></i> Form</button></a>
                                </div>
                                <div style="margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Controls</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>
                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor start_node tip" data-original-title="Add Start Node" data-object-type="startNode" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                        <i class="icon-font"></i> Start Node
                                    </button>
                                    <button class="btn-basicBtn padding_5 cursor end_node tip" data-original-title="Add End Node" data-object-type="endNode" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                        <i class="icon-font"></i> End Node
                                    </button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor process_node tip" data-original-title="Add Process Node" data-object-type="processNode" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                        <i class="icon-font"></i> Process Node
                                    </button>
                                    <button class="btn-basicBtn padding_5 cursor  conditional_node tip" data-original-title="Add Conditional Node" data-object-type="conditionalNode" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                        <i class="icon-font"></i> Conditional
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            } elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "report") {
                $form_id = $_GET['form_id'];
                $form_columns = functions::getFormFields($form_id);
                ?>
                <!-- Actions -->      
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Actions</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor save_workspace tip" data-original-title="Save Report" data-workspace="Report" data-form-type="report" style="width: 49%;"><i class="fa fa-save"></i> Save</button>
                                    <button class="btn-basicBtn padding_5 cursor tip" data-original-title="Clear Workspace" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <!-- <button class="btn-basicBtn padding_5 cursor" style="width: 49%;font-size: 11px;"><i class="icon-file"></i> New Form</button> -->
                                    <button class="btn-basicBtn padding_5 cursor preview_form tip" data-original-title="Preview Report" data-form-type="workflow" style="width: 49%;font-size: 11px;"><i class="icon-search"></i> Preview</button>
                                </div>
                                <div style="margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            }elseif (functions::get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) == "generate") {
                ?>
                <!-- Actions -->      
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Actions</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <button class="btn-basicBtn padding_5 cursor save_workspace" data-workspace="Customize Report" data-form-type="generate" style="width: 49%;"><i class="icon-save"></i> Save</button>
                                    <button class="btn-basicBtn padding_5 cursor clear_all_formbuilder_workspace" style="width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>
                                </div>
                                <div style="margin-top: 5px;">
                                    <!--<a target="_blank" href="/workspace?view_type=preview&formID=<?php echo $_GET['formID']; ?>&requestID=<?php echo $_GET['requestID']; ?>&trackNo=<?php echo $_GET['trackNo']; ?>">-->
                                        <button class="btn-basicBtn padding_5 cursor preview_form" data-form-type="generate" style="width: 49%;font-size: 11px;"><i class="icon-search"></i> Preview</button>
                                    <!--</a>-->
                                </div>
                                <div style="margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <!-- Remove Object Menu -->
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Objects</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;">
                                    <div style="position: relative; margin: 0px auto; padding: 0px; width: 100%; height: 100px;overflow: hidden;" class="generate_objects">
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Label Only"  data-object-type="labelOnly" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-font"></i> Label Only
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Add Line" data-object-type="line" data-drop="workspace" style="width: 49%;font-size: 11px;">
                                            <i class="icon-ellipsis-horizontal"></i> Add Line
                                        </button>
                                        <button class="btn-basicBtn padding_5 cursor getObjects tip" data-original-title="Image" data-object-type="image" data-drop="workspace" style="margin-top: 5px;width: 49%;font-size: 11px;">
                                            <form id="getformImage" method="post" enctype="multipart/form-data" action="/ajax/formUpload">
                                                <input type="file" data-action-id="2" value="upload" name="image" id="formImage" size="24" data-action-type="postImageForm" style="opacity: 0;position: absolute;" class="">
                                                <i class="icon-picture"></i> Image
                                            </form>
                                         </button>
                                    </div>
                                    <!--<button class="btn-basicBtn padding_5 cursor clear_all_formbuilder_workspace" style="margin-top: 5px;width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab HTML VALUE -->
                <div class="form_settings">
                    <div class="form_menu">
                        <div class="pull-left">
                            <b>Tab HTML Value</b>
                        </div>
                        <div class="pull-right" style="text-align: right;">
                            <i class="icon-minus" style="text-align: right;"></i>
                        </div>
                    </div>

                    <div>
                        <div class="fields_below">
                            <div class="label_below"></div>
                            <div class="input_position_below">
                                <div style="margin-top: 5px;" class="">
                                    <div style="position: relative; margin: 0px auto; padding: 0px; width: 100%; height: 100px;overflow: hidden;" class="tab_objects">
                                    <!--<button class="btn-basicBtn padding_5 cursor clear_all_formbuilder_workspace" style="margin-top: 5px;width: 49%;font-size: 11px;"><i class="icon-remove"></i> Clear All</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            }
            ?>   
        </div>

        <div class="form_setups form_settings_open form_properties_actions" style="">
            <div>
                <i class="icon-cogs "></i>
            </div>
        </div>
    </div>
<?php
//}
?>