   <?php
   //userQueries::userLevel("1");
      $auth = Auth::getAuth('current_user');
      $userCompany = new userQueries();
   ?>
<script type="text/javascript" src="/js/functions/groups.js"></script>
<div class="content_wrapper">
   <div class="padding_5">
      <div class="body_header_container">
         <div class="head">
            <div class="title_head">
               <i class="icon-reorder"></i> Tasks
            </div>
         </div>
      </div>
      <div class="pull-left" style="width:35%">
         <div class="widget" style="height: 500px;background-color: #fff;">
            <div class="head">
               <div class="title_head">
                  List of Task
               </div>
            </div>
            <!-- Show list of msg on inbox -->
            <div class="task-container" style="position: relative; margin: 0px auto; padding: 0px; width: 100%; height: 460px;overflow: hidden;">
               <div class="task_list">
                  <div style="margin-left:30%;margin-top:20%">
                     <img src="/images/loader/loader.gif"/>
                  </div>
               </div>
            </div>
          </div>
      </div>
      <div class="pull-right" style="width: 64%;">
         <div class="widget" style="min-height: 500px;background-color: #fff;">
            <div class="head">
               <div class="title_head" id="uc-group">
                  
               </div>
            </div>
            <div class="msg_container padding_5 task_container">
              
            </div>
            
      </div>   
   </div>
</div>
