html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.droidsans_bold {
  font-family: "droid_sansbold";
}

.droidsans_reg, #menu ul li {
  font-family: "droid_sansregular";
}

.opensans_reg {
  font-family: "open_sansregular";
}

.opensans_light {
  font-family: "open_sanslight";
}

html, body {
  height: 100%;
}

#wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#ide {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
}

.autocomplete {
  list-style-type: none;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding: 0;
  overflow: scroll;
  background-color: white;
}

#selected {
  background-color: #00CC8B;
  font-family: monospace;
}

#menu {
  border-bottom: 1px solid #14202C;
  margin-bottom: 20px;
}
#menu ul li {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 11.5px;
  cursor: pointer;
  display: inline-block;
  padding: 7px;
  color: #fff;
  border-right: 1px solid #34495e;
  position: relative;
}
#menu ul li:hover {
  background-color: #95a5a6 !important;
}
#menu ul li i.fa {
  margin-right: 3px;
}
#menu ul li ul {
  position: absolute;
  top: 26px;
  left: 0px;
  box-shadow: 3px 1px 7px #222;
}
#menu ul li ul li {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: none;
  border-right: none;
  border-bottom: 1px solid #848A8B;
  width: 120px;
  background-color: #95a5a6 !important;
}
#menu ul li:hover ul li {
  display: block;
}

#menu ul li:hover ul li:hover {
  background-color: #458586 !important;
}

#menu ul li:hover ul li.disabled {
  background-color: #AAAAAA !important;
  cursor: not-allowed;
}

#menu ul li:active ul li {
  display: none;
}

.num_line {
  border-bottom: dotted 1px #615D5D;
}

#numbering div {
  color: #3D3939;
}
