
/*
 *   MAIN APPLICATION FONT
*/

@font-face {
    font-family: 'formaregular';
    src: url('../fonts/formalistics_reg/forma-regular-webfont.eot');
    src: url('../fonts/formalistics_reg/forma-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formalistics_reg/forma-regular-webfont.woff2') format('woff2'),
         url('../fonts/formalistics_reg/forma-regular-webfont.woff') format('woff'),
         url('../fonts/formalistics_reg/forma-regular-webfont.ttf') format('truetype'),
         url('../fonts/formalistics_reg/forma-regular-webfont.svg#formaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'formabold';
    src: url('../fonts/formalistics_bold/forma-bold-webfont.eot');
    src: url('../fonts/formalistics_bold/forma-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/formalistics_bold/forma-bold-webfont.woff2') format('woff2'),
         url('../fonts/formalistics_bold/forma-bold-webfont.woff') format('woff'),
         url('../fonts/formalistics_bold/forma-bold-webfont.ttf') format('truetype'),
         url('../fonts/formalistics_bold/forma-bold-webfont.svg#formabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=3.0.1');
  src: url('fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* open_sans */
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans_light/opensans-light-webfont.eot');
    src: url('../fonts/opensans_light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_light/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans_light/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans_light/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_bold';
    src: url('../fonts/opensans_bold/opensans-regular-webfont.eot');
    src: url('../fonts/opensans_bold/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bold/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans_bold/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_bold/opensans-regular-webfont.svg#open_sanslight_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* open_sans */


/* droid_sans */
@font-face {
    font-family: 'droid_sansregular_bold';
    src: url('../fonts/droidsans_bold/DroidSans-Bold-webfont.eot');
    src: url('../fonts/droidsans_bold/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans_bold/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/droidsans_bold/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/droidsans_bold/DroidSans-Bold-webfont.svg#droid_sansregular_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/droidsans_reg/DroidSans-webfont.eot');
    src: url('../fonts/droidsans_reg/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans_reg/DroidSans-webfont.woff') format('woff'),
         url('../fonts/droidsans_reg/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans_reg/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* droid_sans */

/*
 *   END OF MAIN APPLICATION FONT
*/

@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype'),
         url('../fonts/digital-7-webfont.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
 *   ADDITIONAL FONT
*/


/* PROTESTANT FONT */

@font-face {
    font-family: 'protestant_regular';
    src: url('../fonts/protestant_reg/protest-webfont.eot');
    src: url('../fonts/protestant_reg/protest-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/protestant_reg/protest-webfont.woff2') format('woff2'),
         url('../fonts/protestant_reg/protest-webfont.woff') format('woff'),
         url('../fonts/protestant_reg/protest-webfont.ttf') format('truetype'),
         url('../fonts/protestant_reg/protest-webfont.svg#protestant_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* END PROTESTANT FONT */


/* dustimo */

@font-face {
    font-family: 'dustismo_regular';
    src: url('../fonts/dustimo/dustismo_sans-webfont.eot');
    src: url('../fonts/dustimo/dustismo_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustimo/dustismo_sans-webfont.woff2') format('woff2'),
         url('../fonts/dustimo/dustismo_sans-webfont.woff') format('woff'),
         url('../fonts/dustimo/dustismo_sans-webfont.ttf') format('truetype'),
         url('../fonts/dustimo/dustismo_sans-webfont.svg#dustismoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dustismo_regular_bold';
    src: url('../fonts/dustimo/dustismo_bold-webfont.eot');
    src: url('../fonts/dustimo/dustismo_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustimo/dustismo_bold-webfont.woff2') format('woff2'),
         url('../fonts/dustimo/dustismo_bold-webfont.woff') format('woff'),
         url('../fonts/dustimo/dustismo_bold-webfont.ttf') format('truetype'),
         url('../fonts/dustimo/dustismo_bold-webfont.svg#dustismo_regular_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dustismo_romanregular';
    src: url('../fonts/dustimo/dustismo_roman-webfont.eot');
    src: url('../fonts/dustimo/dustismo_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustimo/dustismo_roman-webfont.woff2') format('woff2'),
         url('../fonts/dustimo/dustismo_roman-webfont.woff') format('woff'),
         url('../fonts/dustimo/dustismo_roman-webfont.ttf') format('truetype'),
         url('../fonts/dustimo/dustismo_roman-webfont.svg#dustismo_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dustismo_italic';
    src: url('../fonts/dustimo/dustismo_italic-webfont.eot');
    src: url('../fonts/dustimo/dustismo_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustimo/dustismo_italic-webfont.woff2') format('woff2'),
         url('../fonts/dustimo/dustismo_italic-webfont.woff') format('woff'),
         url('../fonts/dustimo/dustismo_italic-webfont.ttf') format('truetype'),
         url('../fonts/dustimo/dustismo_italic-webfont.svg#dustismo_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dustismobold_italic';
    src: url('../fonts/dustimo/dustismo_bold_italic-webfont.eot');
    src: url('../fonts/dustimo/dustismo_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustimo/dustismo_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/dustimo/dustismo_bold_italic-webfont.woff') format('woff'),
         url('../fonts/dustimo/dustismo_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/dustimo/dustismo_bold_italic-webfont.svg#dustismobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* dustimo */

/*PERSPECTIVE SANS*/
@font-face {
    font-family: 'perspective_sans_blackitalic';
    src: url('../fonts/perspective/persabki-webfont.eot');
    src: url('../fonts/perspective/persabki-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/perspective/persabki-webfont.woff2') format('woff2'),
         url('../fonts/perspective/persabki-webfont.woff') format('woff'),
         url('../fonts/perspective/persabki-webfont.ttf') format('truetype'),
         url('../fonts/perspective/persabki-webfont.svg#perspective_sans_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'perspective_sansbold_italic';
    src: url('../fonts/perspective/persanbi-webfont.eot');
    src: url('../fonts/perspective/persanbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/perspective/persanbi-webfont.woff2') format('woff2'),
         url('../fonts/perspective/persanbi-webfont.woff') format('woff'),
         url('../fonts/perspective/persanbi-webfont.ttf') format('truetype'),
         url('../fonts/perspective/persanbi-webfont.svg#perspective_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'perspective_sansregular';
    src: url('../fonts/perspective/persans-webfont.eot');
    src: url('../fonts/perspective/persans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/perspective/persans-webfont.woff2') format('woff2'),
         url('../fonts/perspective/persans-webfont.woff') format('woff'),
         url('../fonts/perspective/persans-webfont.ttf') format('truetype'),
         url('../fonts/perspective/persans-webfont.svg#perspective_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'perspective_sansregular_bold';
    src: url('../fonts/perspective/persansb-webfont.eot');
    src: url('../fonts/perspective/persansb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/perspective/persansb-webfont.woff2') format('woff2'),
         url('../fonts/perspective/persansb-webfont.woff') format('woff'),
         url('../fonts/perspective/persansb-webfont.ttf') format('truetype'),
         url('../fonts/perspective/persansb-webfont.svg#perspective_sansregular_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'perspective_sansitalic';
    src: url('../fonts/perspective/persansi-webfont.eot');
    src: url('../fonts/perspective/persansi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/perspective/persansi-webfont.woff2') format('woff2'),
         url('../fonts/perspective/persansi-webfont.woff') format('woff'),
         url('../fonts/perspective/persansi-webfont.ttf') format('truetype'),
         url('../fonts/perspective/persansi-webfont.svg#perspective_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*PERSPECTIVE SANS*/


/* SANSUMI FONT */
    
@font-face {
    font-family: 'sansumiregular';
    src: url('../fonts/sansumi/sansumi-bold-webfont.eot');
    src: url('../fonts/sansumi/sansumi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi/sansumi-bold-webfont.woff2') format('woff2'),
         url('../fonts/sansumi/sansumi-bold-webfont.woff') format('woff'),
         url('../fonts/sansumi/sansumi-bold-webfont.ttf') format('truetype'),
         url('../fonts/sansumi/sansumi-bold-webfont.svg#sansumiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sansumiregular_bold';
    src: url('../fonts/sansumi/sansumi-bold-webfont.eot');
    src: url('../fonts/sansumi/sansumi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi/sansumi-bold-webfont.woff2') format('woff2'),
         url('../fonts/sansumi/sansumi-bold-webfont.woff') format('woff'),
         url('../fonts/sansumi/sansumi-bold-webfont.ttf') format('truetype'),
         url('../fonts/sansumi/sansumi-bold-webfont.svg#sansumiregular_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sansumi_demibold';
    src: url('../fonts/sansumi/sansumi-demibold-webfont.eot');
    src: url('../fonts/sansumi/sansumi-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi/sansumi-demibold-webfont.woff2') format('woff2'),
         url('../fonts/sansumi/sansumi-demibold-webfont.woff') format('woff'),
         url('../fonts/sansumi/sansumi-demibold-webfont.ttf') format('truetype'),
         url('../fonts/sansumi/sansumi-demibold-webfont.svg#sansumi_demibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'sansumi_ultralightregular';
    src: url('../fonts/sansumi/sansumi-ultralight-webfont.eot');
    src: url('../fonts/sansumi/sansumi-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansumi/sansumi-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/sansumi/sansumi-ultralight-webfont.woff') format('woff'),
         url('../fonts/sansumi/sansumi-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/sansumi/sansumi-ultralight-webfont.svg#sansumi_ultralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}    
    

/* END OF SANSUMI FONT */


/* TRADITION FONT */

@font-face {
    font-family: 'traditionsans_xlightregular';
    src: url('../fonts/tradition/traditionsansxlight-webfont.eot');
    src: url('../fonts/tradition/traditionsansxlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradition/traditionsansxlight-webfont.woff2') format('woff2'),
         url('../fonts/tradition/traditionsansxlight-webfont.woff') format('woff'),
         url('../fonts/tradition/traditionsansxlight-webfont.ttf') format('truetype'),
         url('../fonts/tradition/traditionsansxlight-webfont.svg#traditionsans_xlightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* END OF TRADITION FONT */

/* VERA FONT */

@font-face {
    font-family: 'vera_humana_95regular';
    src: url('../fonts/vera/verah___-webfont.eot');
    src: url('../fonts/vera/verah___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vera/verah___-webfont.woff2') format('woff2'),
         url('../fonts/vera/verah___-webfont.woff') format('woff'),
         url('../fonts/vera/verah___-webfont.ttf') format('truetype'),
         url('../fonts/vera/verah___-webfont.svg#vera_humana_95regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vera_humana_95regular_bold';
    src: url('../fonts/vera/verahb__-webfont.eot');
    src: url('../fonts/vera/verahb__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vera/verahb__-webfont.woff2') format('woff2'),
         url('../fonts/vera/verahb__-webfont.woff') format('woff'),
         url('../fonts/vera/verahb__-webfont.ttf') format('truetype'),
         url('../fonts/vera/verahb__-webfont.svg#vera_humana_95regular_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vera_humana_95bolditalic';
    src: url('../fonts/vera/verahbi_-webfont.eot');
    src: url('../fonts/vera/verahbi_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vera/verahbi_-webfont.woff2') format('woff2'),
         url('../fonts/vera/verahbi_-webfont.woff') format('woff'),
         url('../fonts/vera/verahbi_-webfont.ttf') format('truetype'),
         url('../fonts/vera/verahbi_-webfont.svg#vera_humana_95bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vera_humana_95italic';
    src: url('../fonts/vera/verahi__-webfont.eot');
    src: url('../fonts/vera/verahi__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vera/verahi__-webfont.woff2') format('woff2'),
         url('../fonts/vera/verahi__-webfont.woff') format('woff'),
         url('../fonts/vera/verahi__-webfont.ttf') format('truetype'),
         url('../fonts/vera/verahi__-webfont.svg#vera_humana_95italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
    

/* END OF VERA FONT */

/* WEEZE FONT */

@font-face {
    font-family: 'weezerfontregular';
    src: url('../fonts/weeze/weezerfont-webfont.eot');
    src: url('../fonts/weeze/weezerfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weeze/weezerfont-webfont.woff2') format('woff2'),
         url('../fonts/weeze/weezerfont-webfont.woff') format('woff'),
         url('../fonts/weeze/weezerfont-webfont.ttf') format('truetype'),
         url('../fonts/weeze/weezerfont-webfont.svg#weezerfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* END OF WEEZE FONT */


/* WEBLY SLEEK FONT */
    
 @font-face {
    font-family: 'weblysleeklight';
    src: url('../fonts/weblysleek/weblysleekuil.eot');
    src: url('../fonts/weblysleek/weblysleekuil.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weblysleek/weblysleekuil.woff2') format('woff2'),
         url('../fonts/weblysleek/weblysleekuil.woff') format('woff'),
         url('../fonts/weblysleek/weblysleekuil.ttf') format('truetype'),
         url('../fonts/weblysleek/weblysleekuil.svg#weblysleeklight') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
    font-family:"weblysleeklight_bold";
    src:url("../fonts/weblysleek/weblysleekuisb.eot?") format("eot"),
        url("../fonts/weblysleek/weblysleekuisb.woff") format("woff"),
        url("../fonts/weblysleek/weblysleekuisb.ttf") format("truetype"),
        url("../fonts/weblysleek/weblysleekuisb.svg#weblysleeklight_bold") format("svg");
        font-weight:normal;
        font-style:normal;
    }   

/* END WEBLY SLEEK FONT */


/*
 *   END OF ADDITIONAL FONT
*/




