
.sidePannel{
    
}
.outer-node{
    padding: 2px 5px 5px 5px;
    border: 2px dotted;
    border-color: transparent;
    position:absolute;
    border-radius: 5px;
    z-index: 3
}
.node-process{
    width: 100% !important;
    height: auto;
    background-color: #205EFF;
    padding: 3px;
    /*border: 2px solid #0d42cc;*/
    border-radius: 5px;
}
.node-title{
    /*min-height: 20px;*/
    min-width: 130px;
    text-align: center;
    color: #FFF;
    /*font-family: tahoma;*/
    font-size: 12px;
    /* font-weight: bold; */
}
.node-body-process{
    height: 50px;
    width: 100% !important;
    background-color: #fff;
    border-radius:0px 0px 5px 5px;
}
.node-start{
    height: auto;
    width: auto;
    border-radius: 100%;
    background-color: #205EFF;
    padding: 5px;
}
.node-process-drag{
    width: 100%;height: 50%;position: absolute;border-top: dotted 2px #a6a6a6;bottom: 0;
}
.node-start-drag{
    width: 100%;height: 50%;border-radius:0px 0px 100% 100%;border-top: dotted 2px #a6a6a6
}
.node-start-dragging{
    width: 20px;height: 20px;background-color: #000;border-radius:100%;
}
.node-body-start{
    height: 80px;
    width: 90px;border-radius:100%;background-color: white;
}
.node-start-title{
    width: 100%;
    height: 30%;
    display: table;
    margin-bottom: 20px;
}
.node-start-title-label{
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    color: #000;
    /*font-family: tahoma;*/
    /*font-size: 0.9px;*/
    font-weight: bold;
}
.node-action-content{
    text-align: right;
    cursor: move;
}
.node-action-content i{
    margin-right: 5px;
    cursor: pointer;
}
.outer-node .ui-icon-gripsmall-diagonal-se{
    background-image: none;
}
.lines{
    position:absolute;height:3px;width:3px;background-color:#205EFF;cursor: pointer;
}
.arrow{
    background-color:transparent;width: 0;height: 0;left: 10px;
}
.arrow-down{
    border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #424242;display:block;
}
.arrow-up{
    border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #424242;display:block;
}
.arrow-right{
    border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 8px solid #424242;display:block;
}
.arrow-left{
    border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: 8px solid #424242;display:block;
}
.bg-black{
    background-color: black !important;
}
.trigger-container-fields{
    width:100%;
}
.dragAlso{
    border-color: rgb(20, 240, 11) !important;
}

.node-hover .node-drag-holder {
    border : dotted 2px #cccccc !important;
}