<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en">
<link href="/css/bootstrap/bootstrap3.min.css" rel="stylesheet">
<link href="/css/collaboration/collaboration.css" rel="stylesheet">
<link href="/css/collaboration/collaboration-scheduler.css" rel="stylesheet">

<link href="/css/collaboration/angularjs-color-picker.min.css" rel="stylesheet">
<link href="/css/collaboration/angularjs-color-picker-bootstrap.css" rel="stylesheet">

<link rel="stylesheet" href="/css/dashboard/ng-tags-input.min.css" />
<link rel="stylesheet" href="/css/dashboard/ng-tags-input.bootstrap.min.css" />
<link rel="stylesheet" href="/css/scrollbar/perfect-scrollbar.min.css" />
<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font-awesome.min.css" />

<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>  
<script src="/js/library/jqueryLib/jquery-ui.js"></script>

<script src="/js/library/bootstrap/bootstrap.js"></script> 
<script src="/js/library/dashboard/angular.min.js"></script> 
<script src="/js/library/bootstrap/ui-bootstrap-tpls-1.3.1.min.js"></script> 

<!-- <script src="http://127.0.0.1:3031/socket.io/socket.io.js"></script> -->
<!-- <script src="/js/library/collaboration/socket.js"></script> -->
<script src="/js/library/collaboration/socket.io.js"></script>
<script src="/js/functions/chat-collab/socketAPI.js"></script>
<script src="/js/functions/chat-collab/socket_notify.js"></script>
<script src="/js/functions/chat-collab/socket_trigger.js"></script>


<script src="/js/library/scrollbar/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/library/collaboration/angular-ui-router.js"></script>  
<script src="/js/library/collaboration/angular-dragdrop.min.js"></script>  
<script src="/js/library/dashboard/ng-tags-input.min.js"></script>

<script src="/js/library/collaboration/tinycolor-min.js"></script>
<script src="/js/library/collaboration/angularjs-color-picker.min.js"></script>
<script src="/js/functions/collaboration/collaboration.js"></script>  
<script src="/js/functions/collaboration/collab-scheduler.js"></script>  
<script src="/js/functions/collaboration/collab-models.js"></script>
<!-- <input type=text id='socket_server' value="<?php echo SOCKET_SERVER;?>"> -->
<head>
  <link rel="icon" href="http://zurb.com/jobs/images/designer/icon-collaborate.png">
  <title>Collaboration</title>
</head>
<body ng-app="collaboration" ng-controller="collaborationController">



<ui-view>
 
</ui-view>

  
<script type="text/ng-template" id="my-custom-template">
      <div class="feed-name-selection">
          <div class="left-panel pull-left">
            <img class="img-circle" ng-src="{{data.image}}" />
          </div>
          <div class="right-panel media-body">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
           <!--  <span>({{data.id}})</span> -->
            <!-- <span>{{data.text}}</span> -->
          </div>
      </div>
        </script>


</body></html>