<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en">
<link href="/css/bootstrap/bootstrap3.min.css" rel="stylesheet">
<link href="/css/collaboration/collaboration.css" rel="stylesheet">
<link href="/css/collaboration/collaboration-scheduler.css" rel="stylesheet">
<link rel="stylesheet" href="/css/dashboard/ng-tags-input.min.css" />
<link rel="stylesheet" href="/css/dashboard/ng-tags-input.bootstrap.min.css" />

<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>  
<script src="/js/library/jqueryLib/jquery-ui.js"></script>
<script src="/js/library/dashboard/angular.min.js"></script>  

<script src="/js/library/collaboration/angular-ui-router.js"></script>  
<script src="/js/library/dashboard/ng-tags-input.min.js"></script>
<script src="/js/library/collaboration/angular-dragdrop.min.js"></script>  

<script src="/js/functions/collaboration/collaboration.js"></script>  

<script src="/js/functions/collaboration/collab-models.js"></script>
<script src="/js/functions/collaboration/collab-scheduler.js"></script>  

<body ng-app="collaboration" ng-controller="collaborationController" class="new-collab">


  <div class="new-form">

    <div class="page-header">
      <!-- <small>Subtext for header</small> -->
      <h1>{{title}}</h1>
    </div>

       <div class="form-group">
        <label >Name</label> <span style="color:red" ng-show="collabName.trim()==''">*</span>
        <input type="text" class="form-control" id="name" ng-model="collabName" placeholder="Collaboration Name">

      </div>

    <div class="form-group">
      <label >Collaborate with : </label><span style="color:red" ng-show="collaborators.length==0"> *</span>
      <tags-input ng-model="collaborators" placeholder="Add a collaborator" add-from-autocomplete-only="true" key-property="id" replace-spaces-with-dashes=false visibility-type="{{postVisibilityType}}" class="feed-readers">
        <auto-complete source="loadNames($query)"
         min-length="0"
         load-on-focus="true"
         load-on-empty="false"
         max-results-to-show="5"
         debounce-delay="200"
         template="my-custom-template">
        </auto-complete>
      </tags-input>
    </div>
<!--     {{collaboratos}}
 -->
    <div class="form-group">
      <button class="btn btn-primary pull-right" ng-click="saveCollaboration()">Create</button>
      &nbsp
    </div>


  
</div>


  



</body></html>

<script type="text/ng-template" id="my-custom-template">
      <div class="feed-name-selection">
          <div class="left-panel pull-left">
            <img class="img-circle" ng-src="{{data.image}}" />
          </div>
          <div class="right-panel media-body">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
           <!--  <span>({{data.id}})</span> -->
            <!-- <span>{{data.text}}</span> -->
          </div>
      </div>
</script>