/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*@font-face {
    font-family: "Open Sans";
    src: url("/css/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
     font-weight: 100;
    src: url("/css/fonts/OpenSans-Light.ttf") format("opentype");
   
}

@font-face {
    font-family: "Open Sans";
    src: url("/css/fonts/OpenSans-Semibold.ttf");
    font-weight: bold;
}


@font-face {
    font-family: "Open Sans";
    src: url("/css/fonts/OpenSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("/css/fonts/OpenSans-Italic.ttf");
    font-style: italic;
}*/

@font-face {
    font-family: "Helvetica Neue";
    src: url("/css/fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("/css/fonts/Helvetica.otf");
}

body {
  padding-top: 70px;
  background-color: #F0F0F0;
      bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    /*font-family: "Open Sans";*/
}

.navbar-brand{
  font-size: 14px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.sidebar {
    position: absolute;
    /*height: 100%;*/
    color: #fff;
    top: -25px;
    bottom: 0;
    width: 100px;
    left: -100px;
    z-index: 1000;
    display: block;
    padding: 20px;
    /*padding-top:0px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;  Scrollable contents if viewport is shorter than content. */
    background-color: #3d3c3c ;/*#f5f5f5*/
    /*border-right: 1px solid #eee;*/
    transition:0.5s left ease;
  }
@media (min-width: 768px) {
  .navigation-toggle{
    display:block!important;
  }
  .sidebar-show{
    left:0;
    transition:0.5s left ease;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}


.nav-sidebar > li {
  border-bottom: 1px solid #474646;
  background-color: #3d3c3c;
    list-style: none;
}
.nav-sidebar > li > a {
 display: block;
    padding: 15px;
    color: #e1e1e1;
    text-align: center;
    font-size: 12px;
}

.nav-sidebar > li > a > i.fa{
      display: block;
    font-size: 19px;
}
.nav-sidebar > li > a > span{
     display: block;
    margin-top: 5px;
}
.nav-sidebar > li:hover > a > span,
.nav-sidebar > li:hover > a > i{
  color:#fff;
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.fl-infinite-nav-sub{
  display: none;

  list-style-type: none;
}
.fl-infinite-nav-sub{
  background-color: #484747;  
  border-left: 1px solid #3d3c3c;
  padding: 0px;
}

.fl-infinite-nav-sub > li{
  cursor: pointer;
  padding: 12px 15px 12px 15px;

}

.fl-infinite-nav-sub > li > a{
  color:#b3b3b3;
  text-decoration: none;
      display: block;
}

.fl-infinite-nav-sub > li:hover > a{
  color:#fff;
}

.fl-infinite-nav-sub > li > strong{
  /*display: none;*/
  float:right;
  color:#3d3c3c;

  position: absolute;
    right: 10px;
    top: 15px;
}

.nav-sidebar li:hover {
    position: relative;
    z-index: 2000;
    background-color: #424141;
}

.nav-sidebar li:hover > ul.fl-infinite-nav-sub{
    display: block;
    position: absolute;
    width: 220px;
    top: 0px;
    left: 100%;
    z-index: 1000;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.navbar-inverse {
  /*#2d7cff;*/
    background-color:transparent;
    color:white;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
  color:white;
}

.grid-stack-item-content {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(136, 136, 197, 0.05);
}

.navigation-toggle {
/*    position: fixed;
    top: 70px;
    left: 20px;
    border-top-left-radius: 5px;
    width: 80px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    transform: rotate(90deg);
    transform-origin: left top 0;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background-color: #555;
    cursor: pointer;*/

         top: 35px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #3d3c3c;
    cursor: pointer;
    right: -30px;
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
    border-radius: 0px 3px 3px 0px;
}


.dashboard-config{
    position: fixed;
    top: 125px;
    min-height: 400px;
    right: -280px;
    z-index: 99999999;
    background-color: #3d3c3c;
    color: #fff;
    /*padding: 20px;*/
    width: 280px;
    border-radius: 3px 0 0 3px;
    transition:0.5s right ease;
}


.dashboard-config.dashboard-config-show{
  right: 0px;
  transition:0.5s right ease;
}

.dashboard-config h3{
  font-weight: 300;
  margin-top: 0;
}

.dashboard-config-toggle {
    top: 13px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #3d3c3c;
    cursor: pointer;
    left: -30px;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 3px 0 0 3px;

}

.dashboard-config .config-title{
  background-color: #333;
/*  margin: -20px;*/
  padding: 20px;
}

.dashboard-config .config-containter {
    position: absolute;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #484747;
}
.grid-stack{
  margin-bottom: 20px;
}

.grid-stack-item-content:hover > a.remove-widget{
  display: block;
}

.grid-stack-item-content > a.remove-widget{
  display: none;
}


.grid-stack-item-content > .ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 44px;
}

.grid-stack-item-content > .ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.grid-stack-item-content > .ibox-content {
    clear: both;
}
.grid-stack-item-content > .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 15px 15px 15px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    top: 44px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    overflow-y: hidden;
}


.grid-stack-item-content .row {
  margin-right: 0px;
  margin-left: 0px;
}

.layout-controls {
    font-size: smaller;
    /* float: right; */
    position: absolute;
    top: -20px;
    right: 0px;
}

.layout-controls span{  
      cursor: pointer;
    font-size: smaller;
    margin: 2px;
    padding: 0px 3px;
}

.container-mod {
  position: relative;     
padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}
/*@media (min-width: 1300px){
  .container {
      width: 1300px;
  }
}*/



.ibox-title .pull-right .btn{
  margin-left: 5px;
}
.ibox-title .pull-left .btn{
  margin-right: 5px;
}

.ibox-title .btn{
  padding: 0px;
  border:0px;
  margin-top: -8px;
/*  transition: display 0.1s ease;*/
margin-right: 2px;
    margin-left: 2px;
}

.ibox-title .btn:active{
   /*box-shadow: none;*/
   /*background: #F0F0F0;*/
   padding:0px 6px;
   margin-left: -4px;
 margin-right: -4px;
     
}



/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter:not(.feed-element), .repeated-item.ng-move {
  -webkit-transition:0.4s linear all;
  -moz-transition:0.4s linear all;
  -o-transition:0.4s linear all;
  transition:0.4s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}


/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: #484747;
  color:#337ab7;
}

.config-containter .list-group-item {
    background-color: #484747;
    border: 1px solid #3D3C3C;
}

.config-containter  a.list-group-item, .config-containter  button.list-group-item {
    color: #FFF;
}

.config-containter a.list-group-item:focus, .config-containter a.list-group-item:hover, .config-containter button.list-group-item:focus,  .config-containter button.list-group-item:hover {
    color: #FFF;
    background-color: #3D3C3C;
}

.config-containter a.list-group-item:focus, .config-containter a.list-group-item:hover, .config-containter button.list-group-item:focus, .config-containter button.list-group-item:hover {
    color: #FFF;
    background-color: #3D3C3C;
}

.config-containter span.conf-item-control {
       padding: 10px 5px 5px 17px;
    margin-right: 10px;
    border-right: 1px solid #3D3C3C;
    /*border-bottom: 1px solid #484747;*/
    width: 44px;
    position: absolute;
    color: #E7EAEC;
    top: 0px;
    background-color: #3d3c3c;
    bottom: 0px;
    left: 0px;
}

.config-containter .list-group-item label{
     font-weight: normal;
    margin-bottom: 0px;
    margin-left: 45px;
}

.navbar-inverse .navbar-nav>li>a.user-image{
  padding: 5px 10px 5px 0px;  
}

.navbar-inverse .navbar-nav>li>a.user-image img.img-circle{
  width: 39px;
  height: 39px;
}

.header-drop-down-menu{
  border:0px;
  padding: 1px;

}

.popover.bottom.header-drop-down-menu{
  margin-top: 2px;
  border-radius:5px;
  width: 300px;
  padding: 0px;
}

.popover.bottom.header-drop-down-menu>.arrow{
  border-bottom-color: white;
}

.header-drop-down-menu .popover-content{
  padding: 0px;

}

.header-drop-down-menu .title{

      font-size: 13px;
    color: #8a8a8a;
    text-align: center;
    padding: 3px 0 7px;
    border-bottom: 1px solid #ebebeb;
}

.header-drop-down-menu .list{
 max-height: 300px;
 position: relative;

   /*border-bottom: 1px solid rgba(239,98,98,.1)*/
}

.header-drop-down-menu .list a:hover{
 background-color : #f5f5f5;
 text-decoration : none;

   /*border-bottom: 1px solid rgba(239,98,98,.1)*/
}

.header-drop-down-menu .footer{
     font-size: 13px;
    color: #8a8a8a;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    display: block;
    outline: 0;
    text-decoration: inherit;
}
.header-drop-down-menu .footer:hover{
    background-color: #f5f5f5;
}

.header-drop-down-menu ul{
  padding: 0px;
  text-decoration: none;
}

.header-drop-down-menu ul>li.list-item a{
  padding: 15px;
    display: block;
    overflow: hidden;
}

.header-drop-down-menu ul>li.list-item{
 border-bottom: 1px solid #ebebeb;
}

.modal-body > div.list{
  height: 250px;
  margin-top:5px;
  overflow-y: auto;
}