
.icon-svg.icon-svg-announcement {

    height: 25px;
    width: 30px;

}


.icon-svg.icon-svg-announcement.svg-icon-seeall-comment, .icon-svg.icon-svg-announcement.svg-icon-like-post, .icon-svg.icon-svg-announcement.svg-icon-dislike-post {

    height: 25px;
    width: 20px;

}

.icon-svg.icon-svg-announcement.svg-icon-mood-happy-gray, .icon-svg.icon-svg-announcement.svg-icon-mood-happy, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired, .icon-svg.icon-svg-announcement.svg-icon-mood-sad, .icon-svg.icon-svg-announcement.svg-icon-mood-angry, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care, .icon-svg.icon-svg-announcement.svg-icon-mood-mood-nav {
    position:absolute;
    left:4px;
    float:none;
    height: 25px;
    width: 15px;
}

.icon-svg.icon-svg-announcement.svg-icon-mood-happy, .icon-svg.icon-svg-announcement.svg-icon-mood-happy-gray, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired, .icon-svg.icon-svg-announcement.svg-icon-mood-sad, .icon-svg.icon-svg-announcement.svg-icon-mood-angry, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care, .icon-svg.icon-svg-announcement.svg-icon-mood-mood-nav, .icon-svg.icon-svg-announcement.svg-icon-mood-default, .icon-svg.icon-svg-announcement.svg-icon-mood-happy-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-sad-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-angry-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care-v2 {
    /*position:absolute;*/
    /*left:4px;*/
    float:none;
    /*height: 25px;
    width: 15px;*/
}

.icon-svg.svg-icon-fbuilder, .icon-svg.fl-selectable-form-svg {
    float:none;
    margin:0px;
    height: inherit; 
    width: inherit;
    box-shadow: 1px 1px 1px #514A4A;
    border-radius: 5px;
}


.svg-icon-fbuilder-wrapper {
    .custom_icon_wrapper {
        padding:3px;
    }
}

.fl-selected-box-border {
    border-radius:3px;
}


.icon-svg-announcement.svg-icon-bullhorn-portal, .icon-svg-announcement.svg-icon-survey-graph-portal {
    height: 24px;
    background-color: rgb(110, 110, 110);
    margin-left: 0px;
    padding:5px;
    border-top-left-radius: 3px;

}

.icon-svg-announcement.svg-icon-survey-graph-portal {
    height: 27px;
    padding:3px;
}


.icon-svg-announcement.svg-icon-bullhorn-portal-small {
    height: 13px;
    padding: 1px;
    width: 21px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #6e6e6e;
    margin-left:0px;
    margin-right:4px;

}
  


.icon-svg-announcement.svg-icon-survey-portal, .icon-svg-announcement.svg-icon-survey-portal-dark {
    margin-right:0px;
    height: 14px ;
  width: 17px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #6e6e6e;
  margin-left: 0px;
  margin-right: 4px;
}

.icon-svg.icon-svg-announcement-header-action {
    width:auto;
    margin-right:0px;
}

.svg-icon-user-user-election-st0, .svg-icon-dept-user-selection-st0, .svg-icon-position-user-selection-st0, .svg-icon-group-user-selection-st0{
    fill:#929496;
}


.svg-icon-caret-down-header-action-st0, .svg-icon-caret-up-header-action-st0 {
    fill:#8D8E90;
}

.svg-icon-caret-down-header-action-st1, .svg-icon-caret-up-header-action-st1{
    fill:#FFFFFF;
}

.svg-icon-edit-post-header-action-st0{
    fill:#FFFFFF;
} 


.icon-svg-announcement-header-action {
    height: 17px !important;
}

.ng-scope.as-sortable-item {
    margin: 7px;
}

.svg-icon-user-user-election-st0, .svg-icon-dept-user-selection-st0, .svg-icon-position-user-selection-st0, .svg-icon-group-user-selection-st0{
    fill:#929496;
}

.svg-icon-bullhorn-portal-st0, .svg-icon-starred-st0 {fill:#F1F1F2;}


.svg-icon-survey-portal-st0{fill:rgba(255, 215, 0, 0.99);}  //#8D8E90
.svg-icon-survey-portal-st1{fill:#6e6e6e;}  //F1F1F1

.svg-icon-survey-portal-dark-st0 { fill:#ffffff}
.svg-icon-survey-portal-dark-st1{fill:#6e6e6e;}  //F1F1F1

/* .svg-icon-custom-post-portal-st0{fill:#8D8E90;}
.svg-icon-company-post-portal-st0{fill:#8D8E90;} */

.svg-icon-survey-graph-portal-st0{fill:#F1F1F1;}


.svg-icon-seeall-comment-st0{fill:#8D8E90;}
.svg-icon-seeall-comment-st1{fill:#F1F1F2;}

.svg-icon-like-post-st0{fill:#8D8E90;}
.svg-icon-dislike-post-st0{fill:#8D8E90;}

.svg-icon-fbuilder-01-st0{fill:#B8996E;}
.svg-icon-fbuilder-01-st1{fill:#F1F1F2;}
.svg-icon-fbuilder-01-st2{opacity:0.2;fill:#272525;}


.svg-icon-fbuilder-02-st0{fill:#D682CA;}
.svg-icon-fbuilder-02-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-02-st2{fill:#700090;}

.svg-icon-fbuilder-03-st0{fill:#9B25B0;}
.svg-icon-fbuilder-03-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-03-st2{fill:#DCBD6E;}

.svg-icon-fbuilder-04-st0{fill:#B92DA5;}
.svg-icon-fbuilder-04-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-04-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-05-st0{fill:#6CBE94;}
.svg-icon-fbuilder-05-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-05-st2{fill:#333B8C;}

.svg-icon-fbuilder-06-st0{fill:#9FC54D;}
.svg-icon-fbuilder-06-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-06-st2{fill:#333B8C;}

.svg-icon-fbuilder-07-st0{fill:#7FBF4F;}
.svg-icon-fbuilder-07-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-07-st2{fill:#333B8C;}

.svg-icon-fbuilder-08-st0{fill:#B1FE3C;}
.svg-icon-fbuilder-08-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-08-st2{fill:#333B8C;}

.svg-icon-fbuilder-09-st0{fill:#B9DF8F;}
.svg-icon-fbuilder-09-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-09-st2{fill:#333B8C;}

.svg-icon-fbuilder-10-st0{fill:#90FFFF;}
.svg-icon-fbuilder-10-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-10-st2{fill:#02007D;}

.svg-icon-fbuilder-11-st0{fill:#00ACEC;}
.svg-icon-fbuilder-11-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-11-st2{fill:#333B8C;}

.svg-icon-fbuilder-12-st0{fill:#333B8C;}
.svg-icon-fbuilder-12-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-12-st2{fill:#B8996E;}

.svg-icon-fbuilder-13-st0{fill:#7394E9;}
.svg-icon-fbuilder-13-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-13-st2{fill:#2B3CB6;}

.svg-icon-fbuilder-14-st0{fill:#487FFB;}
.svg-icon-fbuilder-14-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-14-st2{fill:#FFFFFF;}
.svg-icon-fbuilder-14-st3{fill:#272525;}

.svg-icon-fbuilder-15-st0{fill:#5D78D2;}
.svg-icon-fbuilder-15-st1{opacity:0.5;fill:#2E3698;}
.svg-icon-fbuilder-15-st2{fill:#C2FFCB;}
.svg-icon-fbuilder-15-st3{fill:#272525;}

.svg-icon-fbuilder-16-st0{fill:#3253B6;}
.svg-icon-fbuilder-16-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-16-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-17-st0{fill:#FFF22D;}
.svg-icon-fbuilder-17-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-17-st2{fill:#D35B30;}

.svg-icon-fbuilder-18-st0{fill:#DA9A29;}
.svg-icon-fbuilder-18-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-18-st2{fill:#FEFACE;}

.svg-icon-fbuilder-19-st0{fill:#8F2E2E;}
.svg-icon-fbuilder-19-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-19-st2{fill:#F5EC4A;}

.svg-icon-fbuilder-20-st0{fill:#DB2906;}
.svg-icon-fbuilder-20-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-20-st2{fill:#F5EC4A;}
.svg-icon-fbuilder-20-st3{fill:#F1F1F2;}

.svg-icon-fbuilder-21-st0{fill:#C52F50;}
.svg-icon-fbuilder-21-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-21-st2{fill:#F5EC4A;}

.svg-icon-fbuilder-22-st0{fill:#C64439;}
.svg-icon-fbuilder-22-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-22-st2{fill:#FFFFFF;}
.svg-icon-fbuilder-22-st3{fill:#272525;}

.svg-icon-fbuilder-23-st0{fill:#570014;}
.svg-icon-fbuilder-23-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-23-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-24-st0{fill:#80001E;}
.svg-icon-fbuilder-24-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-24-st2{fill:#F5EC4A;}
.svg-icon-fbuilder-24-st3{fill:#8F2E2E;}

.svg-icon-fbuilder-25-st0{fill:#A9233C;}
.svg-icon-fbuilder-25-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-25-st2{fill:#F5EC4A;}

.svg-icon-fbuilder-26-st0{fill:#B1FE3C;}
.svg-icon-fbuilder-26-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-26-st2{fill:#055E00;}

.svg-icon-fbuilder-27-st0{fill:#DAC8E8;}
.svg-icon-fbuilder-27-st1{opacity:0.25;fill:#3E295E;}
.svg-icon-fbuilder-27-st2{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-27-st3{fill:#580EA0;}

.svg-icon-fbuilder-28-st0{fill:#580EA0;}
.svg-icon-fbuilder-28-st1{opacity:0.3;fill:#272525;}
.svg-icon-fbuilder-28-st2{fill:#DAC8E8;}

.svg-icon-fbuilder-29-st0{fill:#EAA627;}
.svg-icon-fbuilder-29-st1{fill:#3C2E1F;}
.svg-icon-fbuilder-29-st2{opacity:0.2;fill:#272525;}

.svg-icon-fbuilder-30-st0{fill:#90D4EC;}
.svg-icon-fbuilder-30-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-30-st2{fill:#2A2760;}

.svg-icon-fbuilder-31-st0{fill:#2F59C1;}
.svg-icon-fbuilder-31-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-31-st2{fill:#BCCEEE;}

.svg-icon-fbuilder-32-st0{fill:#DF5D16;}
.svg-icon-fbuilder-32-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-32-st2{fill:#46266F;}
.svg-icon-fbuilder-32-st3{fill:#D5652C;}
.svg-icon-fbuilder-32-st4{fill:#FFFFFF;}

.svg-icon-fbuilder-33-st0{fill:#67A82D;}
.svg-icon-fbuilder-33-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-33-st2{fill:#BDFFAC;}
.svg-icon-fbuilder-33-st3{fill:#272525;}

.svg-icon-fbuilder-34-st0{fill:#CB0C00;}
.svg-icon-fbuilder-34-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-34-st2{fill:#FFDDCA;}

.svg-icon-fbuilder-35-st0{fill:#580EA0;}
.svg-icon-fbuilder-35-st1{opacity:0.2;fill:#E3D4ED;}
.svg-icon-fbuilder-35-st2{fill:#E3D4ED;}

.svg-icon-fbuilder-36-st0{fill:#7F1B3C;}
.svg-icon-fbuilder-36-st1{opacity:0.4;fill:#272525;}
.svg-icon-fbuilder-36-st2{fill:#FFDCE9;}

.svg-icon-fbuilder-37-st0{fill:#C72C82;}
.svg-icon-fbuilder-37-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-37-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-38-st0{fill:#DA3B73;}
.svg-icon-fbuilder-38-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-38-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-39-st0{fill:#DA3B73;}
.svg-icon-fbuilder-39-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-39-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-40-st0{fill:#D470AB;}
.svg-icon-fbuilder-40-st1{opacity:0.15;fill:#272525;}
.svg-icon-fbuilder-40-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-41-st0{fill:#B00051;}
.svg-icon-fbuilder-41-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-41-st2{fill:#ECCACD;}

.svg-icon-fbuilder-42-st0{fill:#B00051;}
.svg-icon-fbuilder-42-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-42-st2{fill:#ECCACD;}

.svg-icon-fbuilder-43-st0{fill:#C3FA55;}
.svg-icon-fbuilder-43-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-43-st2{fill:#333B8C;}

.svg-icon-fbuilder-44-st0{fill:#580E9D;}
.svg-icon-fbuilder-44-st1{opacity:0.4;fill:#281655;}
.svg-icon-fbuilder-44-st2{fill:#E8AE4A;}

.svg-icon-fbuilder-45-st0{fill:#FF8247;}
.svg-icon-fbuilder-45-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-45-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-46-st0{fill:#80D443;}
.svg-icon-fbuilder-46-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-46-st2{fill:#33348E;}

.svg-icon-fbuilder-47-st0{fill:#1A1A1A;}
.svg-icon-fbuilder-47-st1{fill:#627C2D;}
.svg-icon-fbuilder-47-st2{opacity:0.3;fill:#272525;}
.svg-icon-fbuilder-47-st3{fill:#BDEC8F;}

.svg-icon-fbuilder-48-st0{fill:#580EA1;}
.svg-icon-fbuilder-48-st1{opacity:0.4;fill:#281655;}
.svg-icon-fbuilder-48-st2{fill:#F4D732;}

.svg-icon-fbuilder-49-st0{fill:#E8B6B5;}
.svg-icon-fbuilder-49-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-49-st2{fill:#71180F;}

.svg-icon-fbuilder-50-st0{fill:#8E8F90;}
.svg-icon-fbuilder-50-st1{fill:#CD8162;}
.svg-icon-fbuilder-50-st2{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-50-st3{fill:#FFFFFF;}

.svg-icon-fbuilder-51-st0{fill:#5700C7;}
.svg-icon-fbuilder-51-st1{opacity:0.4;fill:#000035;}
.svg-icon-fbuilder-51-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-52-st0{fill:#DAC8E8;}
.svg-icon-fbuilder-52-st1{opacity:0.25;fill:#3E295E;}
.svg-icon-fbuilder-52-st2{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-52-st3{fill:#580EA0;}

.svg-icon-fbuilder-53-st0{fill:#5B36FA;}
.svg-icon-fbuilder-53-st1{opacity:0.5;fill:#000035;}
.svg-icon-fbuilder-53-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-54-st0{fill:#A3E3F7;}
.svg-icon-fbuilder-54-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-54-st2{fill:#2E3698;}

.svg-icon-fbuilder-55-st0{fill:#4DD1F2;}
.svg-icon-fbuilder-55-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-55-st2{fill:#2E3698;}

.svg-icon-fbuilder-56-st0{fill:#C76114;}
.svg-icon-fbuilder-56-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-56-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-57-st0{fill:#2B45A9;}
.svg-icon-fbuilder-57-st1{opacity:0.6;fill:#1C284F;}
.svg-icon-fbuilder-57-st2{fill:#D9E6ED;}

.svg-icon-fbuilder-58-st0{fill:#FFD548;}
.svg-icon-fbuilder-58-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-58-st2{fill:#3C2E1F;}

.svg-icon-fbuilder-59-st0{fill:#EFBE2C;}
.svg-icon-fbuilder-59-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-59-st2{fill:#434244;}

.svg-icon-fbuilder-60-st0{fill:#FFFF3C;}
.svg-icon-fbuilder-60-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-60-st2{fill:#3C2E1F;}

.svg-icon-fbuilder-61-st0{fill:#8600C1;}
.svg-icon-fbuilder-61-st1{opacity:0.25;fill:#000035;}
.svg-icon-fbuilder-61-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-62-st0{fill:#E08E29;}
.svg-icon-fbuilder-62-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-62-st2{fill:#272525;}
.svg-icon-fbuilder-62-st3{fill:#A6A8AA;}

.svg-icon-fbuilder-63-st0{fill:#6E007C;}
.svg-icon-fbuilder-63-st1{opacity:0.25;fill:#000035;}
.svg-icon-fbuilder-63-st2{fill:#F3EAB1;}
.svg-icon-fbuilder-63-st3{fill:#A6A8AA;}

.svg-icon-fbuilder-64-st0{fill:#E08E29;}
.svg-icon-fbuilder-64-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-64-st2{fill:#FBF4D8;}

.svg-icon-fbuilder-65-st0{fill:#5D78D2;}
.svg-icon-fbuilder-65-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-65-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-66-st0{fill:#A0522D;}
.svg-icon-fbuilder-66-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-66-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-67-st0{fill:#429DE8;}
.svg-icon-fbuilder-67-st1{opacity:0.25;fill:#272525;}
.svg-icon-fbuilder-67-st2{fill:#D5F2F9;}

.svg-icon-fbuilder-68-st0{fill:#F1E8D0;}
.svg-icon-fbuilder-68-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-68-st2{fill:#45727E;}

.svg-icon-fbuilder-69-st0{fill:#F4D8B9;}
.svg-icon-fbuilder-69-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-69-st2{fill:#384174;}

.svg-icon-fbuilder-70-st0{fill:#3B7CD8;}
.svg-icon-fbuilder-70-st1{opacity:0.6;fill:#1C284F;}
.svg-icon-fbuilder-70-st2{fill:#D5F2F9;}

.svg-icon-fbuilder-71-st0{fill:#00FFFF;}
.svg-icon-fbuilder-71-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-71-st2{fill:#333B8C;}

.svg-icon-fbuilder-72-st0{fill:#FFC2AE;}
.svg-icon-fbuilder-72-st1{opacity:0.3;fill:#272525;}
.svg-icon-fbuilder-72-st2{fill:#6A223C;}

.svg-icon-fbuilder-73-st0{fill:#8B4513;}
.svg-icon-fbuilder-73-st1{opacity:0.3;fill:#272525;}
.svg-icon-fbuilder-73-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-74-st0{fill:#8A360F;}
.svg-icon-fbuilder-74-st1{opacity:0.3;}
.svg-icon-fbuilder-74-st2{fill:#272525;}
.svg-icon-fbuilder-74-st3{fill:#FFFFFF;}

.svg-icon-fbuilder-75-st0{fill:#FFD8A6;}
.svg-icon-fbuilder-75-st1{opacity:0.3;fill:#272525;}
.svg-icon-fbuilder-75-st2{fill:#792935;}

.svg-icon-fbuilder-76-st0{fill:#DF5DFB;}
.svg-icon-fbuilder-76-st1{fill:#8E8F90;}
.svg-icon-fbuilder-76-st2{opacity:0.3;fill:#272525;}
.svg-icon-fbuilder-76-st3{fill:#FFFFFF;}

.svg-icon-fbuilder-77-st0{fill:#CA61CF;}
.svg-icon-fbuilder-77-st1{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-77-st2{fill:#FFFFFF;}

.svg-icon-fbuilder-78-st0{fill:#EAA627;}
.svg-icon-fbuilder-78-st1{fill:#EDB92B;}
.svg-icon-fbuilder-78-st2{opacity:0.2;fill:#272525;}
.svg-icon-fbuilder-78-st3{fill:#5C0015;}

.svg-icon-fbuilder-79-st0{fill:#8925EA;}
.svg-icon-fbuilder-79-st1{opacity:0.25;fill:#000035;}
.svg-icon-fbuilder-79-st2{fill:#FFFFFF;}

.svg-icon-mood-happy-st0{fill:#F5C343;}
.svg-icon-mood-happy-st1{fill:#FFFFFF;}

.svg-icon-mood-happy-v2-st0{fill:#E8AE4A;}
.svg-icon-mood-happy-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-happy-gray-st0{fill:#cccccc;}
.svg-icon-mood-happy-gray-st1{fill:#FFFFFF;}

.svg-icon-mood-inspired-st0{fill:#8EB840;}
.svg-icon-mood-inspired-st1{fill:#FFFFFF;}

.svg-icon-mood-sad-st0{fill:#083C6B;}
.svg-icon-mood-sad-st1{fill:#FFFFFF;}

.svg-icon-mood-angry-st0{fill:#CC2229;}
.svg-icon-mood-angry-st1{fill:#FFFFFF;}

.svg-icon-mood-annoyed-st0{fill:#D35F2D;}
.svg-icon-mood-annoyed-st1{fill:#FFFFFF;}

.svg-icon-mood-dont-care-st0{fill:#434343;}
.svg-icon-mood-dont-care-st1{fill:#FFFFFF;}
.svg-icon-mood-dont-care-st2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.svg-icon-mood-mood-nav-st0{fill:#F5C343;}
.svg-icon-mood-mood-nav-st1{fill:#D35F2D;}
.svg-icon-mood-mood-nav-st2{fill:#CC2229;}
.svg-icon-mood-mood-nav-st3{fill:#76BECA;}
.svg-icon-mood-mood-nav-st4{fill:#FFFFFF;}

.svg-icon-mood-default-st0{fill:#8D8E90;}
.svg-icon-mood-default-st1{fill:#FFFFFF;}


.svg-icon-mood-happy-v2-st0{fill:#E8AE4A;}
.svg-icon-mood-happy-v2-st1{fill:#FFFFFF;}


.svg-icon-mood-inspired-v2-st0{fill:#59A052;}
.svg-icon-mood-inspired-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-sad-v2-st0{fill:#4675B8;}
.svg-icon-mood-sad-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-angry-v2-st0{fill:#D60002;}
.svg-icon-mood-angry-v2-st1{fill:#FFFFFF;}

.svg-icon-mood-annoyed-v2-st0{fill:#D5652C;}
.svg-icon-mood-annoyed-v2-st1{fill:#FFFFFF;}
/*
.icon-svg.icon-svg-announcement.svg-icon-mood-happy, .icon-svg.icon-svg-announcement.svg-icon-mood-happy-gray, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired, .icon-svg.icon-svg-announcement.svg-icon-mood-sad, .icon-svg.icon-svg-announcement.svg-icon-mood-angry, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care, .icon-svg.icon-svg-announcement.svg-icon-mood-mood-nav, .icon-svg.icon-svg-announcement.svg-icon-mood-default, .icon-svg.icon-svg-announcement.svg-icon-mood-happy-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-inspired-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-sad-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-angry-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-annoyed-v2, .icon-svg.icon-svg-announcement.svg-icon-mood-dont-care-v2 {
    width: 32px;
    height: 32px;
}
*/
.icon-svg.icon-svg-announcement.svg-mood-icon-select{
    width: 32px;
    height: 32px;
}


svg.icon-svg.icon-svg-announcement.btn-mood-icon {
       height: 14px;
    width: 14px;
    float: left;
    margin-right: -4px;
    border-radius: 50%;
    border: 1px white solid;
}