
.widget-gantt-chart.main{
	overflow :hidden;
}

.widget-gantt-chart.gantt-body{
	height : 100%;
}

.widget-gantt-chart.job-list{
    position: absolute;
    right : 0px;
    top : 0px;
    background-color : #ddd;
    z-index : 999;
    height : 100%;
    width : 33.33%;
    min-width: 300px;

}

.widget-gantt-chart.job-list .list-items{
    position : static;
    height : 100%;
    padding : 10px;

}

.widget-gantt-chart.job-list .list-items .item{
    height : 10%;
    padding : 10px;
    display: block;
    cursor : pointer;

}

.widget-gantt-chart.job-list .search{
    padding : 10px;
}


.widget-gantt-chart.job-list.ng-enter, 
.widget-gantt-chart.job-list.ng-leave
{ 
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
   
} 

.widget-gantt-chart.job-list.ng-enter {
    -ms-transform: translateX(100%); /* IE 9 */
   	-webkit-transform: translateX(100%); /* Safari */
    transform: translateX(100%);
}
.widget-gantt-chart.job-list.ng-enter.widget-gantt-chart.job-list.ng-enter-active {
    -ms-transform: translateX(0%); /* IE 9 */
   	-webkit-transform: translateX(0%); /* Safari */
    transform: translateX(0%);
}

.widget-gantt-chart.job-list.ng-leave {
    -ms-transform: translateX(0%); /* IE 9 */
   	-webkit-transform: translateX(0%); /* Safari */
    transform: translateX(0%);
}
.widget-gantt-chart.job-list.ng-leave.widget-gantt-chart.job-list.ng-leave-active{
    -ms-transform: translateX(100%); /* IE 9 */
   	-webkit-transform: translateX(100%); /* Safari */
    transform: translateX(100%);
}
