.strarred-image img{
    width: 32px;
}
.strarred-image{
    margin-right: 10px;
}
.starred-item{
    padding: 10px 10px 0px 10px;
    cursor: pointer;
    border-bottom: 1px solid #e7eaec;
}

.starred-item:hover {
    background-color: #f5f5f5;
}

widget-starred div.ibox-content.container-fluid{
    padding: 0px;
}

.search-panel input.search-text{
    width: 100%;
    border: none;
    padding: 5px 5px 5px 10px;
    background-color: #F9F9F9;
    border-bottom: #E7EAEC 1px solid;
}

.unstarred{
    color:#FFC200;
}

input.search-text:focus {
    outline: none;
    box-shadow: inset 0 3px 8px rgba(150, 150, 150, 0.19),0 0 8px rgba(206, 207, 208, 0.16);
    transition:ease 0.5s box-shadow;
}
input.search-text{
    transition:ease 0.5s box-shadow;
}
.starred-list {
/*    right: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 28px;*/
    /*overflow: hidden;*/
}