.dataTables_wrapper .row {
    margin-top: 0px;
}

.dataTables_wrapper{
	padding: 0px;
}

.widget-view-tbl-ellipse{
	width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
        cursor: pointer;
}


widget-view .table, widget-view .table tr td {
    max-width: 100%;
    table-layout: fixed;
}
.table{
	border-right: 0px;
	border-left: 0px;
}
widget-view .table tr td:last-child, widget-view .table tr th:last-child {
	border-right: 0px;
}
widget-view .table tr td:first-child, widget-view .table tr th:first-child {
	border-left: 0px;
}



.table.dataTable tbody td {
    padding: 8px 8px 0px;
}

.dataTables_wrapper input.form-control[type="search"]{
	margin-left: 10px;
}

.dataTables_wrapper .col-xs-6{
	padding: 0px;
}

.dataTables_filter{
	margin-right: 0px;
}

.dataTables_scroll {
    margin-bottom: 10px;

    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-top: 0px;
}

.dataTables_scroll .table.dataTable{
	margin: 0px;
}

a.table-item-action {
    margin-left: 8px;
}
a.table-item-action.starred_button{
	color: #FFC200;
	cursor: pointer;
}

.datatable-form-actions .view-form-action {
    margin-bottom: 5px;
    display: inline-block;
}

.datatable-form-actions select.view-form-action {
	width: auto;
}

.row.datatable-form-actions .btn{
	font-size: 12px;
    padding: 6px 8px 5px;
}

.row.datatable-form-actions .form-control{
	font-size: 12px;
    padding: 5px 8px 3px;
    height: 28px;
    
}

table.dataTable, table.dataTable.no-footer{
	margin: 0;
}

.container-fluid.ibox-content.ng-hide-add-active{
	transition: all 1.1s ease;
	opacity: 0;
}

.ibox-content.widget-view-import.wvi-show{
    right: 0px;
    transition:0.5s right ease;
}
.ibox-content.widget-view-import{
    right: -100%;
    max-width: 400px;
    left:auto;
    width: 100%;
    background-color: #ddd;
    border-left: 1px solid #E7EAEC;
    transition:0.5s right ease;
}


.wvi-dropzone {
    border: 2px dashed #0087F7;
    max-height: 200px;
    height: 100%;
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
    /* vertical-align: -webkit-baseline-middle; */
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    z-index: auto;
}

.pagination>li>a, .pagination>li>span{
    padding: 3px 8px;
}