

.feed-content {
    clear: both;
}
.feed-content {
    background-color: #ffffff;
    color: inherit;
    /*padding: 15px 20px 0px 20px;*/

    /*For index removed
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    */  
}
.feed-post-options{
  padding: 0px;
  border: 0px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
  font-size: 12px;
}

.feed-post-options.popover.bottom{
    margin-top:0px;
}

.feed-post-options .popover-content{
  padding: 0px;
}

.feed-post-options .popover-content .list-group{
  margin-bottom: 0px;
}

.feed-post-options .popover-content .list-group .list-group-item{
  padding: 5px 15px;
}

.feed-post-options .popover-content .list-group .list-group-item:last-child{
  border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.feed-post-options .popover-content .list-group .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.feed-post-options .arrow{
  display: none;
}

.feed-element:first-child {
    margin-top: 0;
}
.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
    padding: 15px 15px 0px 15px;
    font-size: 12px;
}
.feed-element, .media-body {
    overflow: hidden;
}

.feed-element .btn-post-option {
    color:#e7eaec;
    font-size: 10px;
}

.feed-element, .feed-element .media {
    margin-top: 0px;
}


.feed-element img.img-circle 
{
	width: 38px;
    height: 38px;
}

.feed-element > .pull-left {
    margin-right: 10px;
}

.feed-element:first-child {
    margin-top: 0;
}
.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element {
    padding-bottom: 15px;
}

.feed-element, .media-body {
    overflow: hidden;
     display: block;
    width: auto;
}

.feed-element, .media-head {
    overflow: hidden;
     display: block;
    width: auto;
}
.sidebard-panel .feed-element, .media-body, .media-head, .sidebard-panel p {
    font-size: 12px;
}



svg.icon-svg-main-nav, svg.icon-svg, svg.icon-svg-main-nav-icon-only, svg.icon-svg-main-nav-sub-nav {
    fill: #6E6E6E;
}

/*.grid-stack-item-content > #widget-feed-container{
     left: -100%;
    right: 100%;
    transition:0.7s ease all;
}*/

.grid-stack-item-content > .ibox-content.widget-feed-container-viewer{
     left: 100%;
     right: -100%;
     padding: 0px;
     transition:0.7s ease all;

}


#widget-feed-container{
    padding: 0px;
}

#widget-feed-container .feed-comment-body{
    display: none;
}

widget-feeds[view-type="Comments"] #widget-feed-container-comment-viewer{
   left: 0;
   right:0;
   transition:0.4s ease all;
   

}
widget-feeds[view-type="Moods"] #widget-feed-container-mood-viewer{
   left: 0;
   right:0;
   transition:0.4s ease all;

}

/*widget-feeds[view-type="Feeds"] #widget-feed-container{
    left: 0;
   right:0;
   transition:0.4s ease all;
}
*/
/*.media-body > .well {
    background-color:white;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05); 
    box-shadow: inset 0 0px 0px rgba(0,0,0,.05); 
    margin-bottom: 0px;
        padding: 19px 0px 19px 0px;
}

.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}*/

.feed-element .post-content{
        min-height: 20px;
    /* padding: 19px; */
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;

}

ul.survey_responses {
    list-style: none;
        padding-left: 0px;
        margin-bottom: 20px;

}
.progress{
    margin-bottom: 10px;    
    height:5px;
}


.feed-readers{
  border-bottom: 1px solid #E7EAEC;
  /*padding: 5px 10px 5px;*/
  margin: -14px -15px 15px -15px;
  transition:ease margin-top 0.5s;
  min-height: 29px;
}

tags-input.feed-readers .tags{
  border:0;
  /*height: 33px;*/
      box-shadow: none;
    padding: 2px 2px;
}
tags-input.feed-readers .tags.focused{
  border:0;
  box-shadow: none;
  outline: none;
  /*height: auto;*/

}
tags-input.feed-readers .tags .tag-item{
    color: white;
    background: #5BC0DE;
    border: 1px solid #46B8DA;
    border-radius: 4px;
    font-size: 12px;
        height: 22px;
    line-height: 20px;
}
tags-input .tags .input{
  height: 22px;
}
tags-input.feed-readers .tags .tag-item .remove-button{
  color:rgb(77, 164, 189);
}
.feed-readers[visibility-type="2"]{
  margin-top:-48px;
  height: 28px;
  /*transition:ease margin-top 0.5s;*/
}

.feed-body{
  width: 100%;
  height: 275px;
  overflow: hidden;
   border-top: 1px solid #E7EAEC;
  border-bottom: 1px solid #E7EAEC;
  /*margin-bottom: 5px; */
  position: absolute;
      padding: 14px 15px 0px;
      /*margin-left: -15px;*/
      /*margin-top: -15px;*/

}
.feed-body-text {
    width: 100%;
    min-height: 110px;
    border: 0px;
    padding: 0px;
    /* margin-top: -3px; */
 
/*    margin-top: -3px;*/
}

.feed-body-images{
        margin-bottom: 10px;
    /*border-top: 1px #E7EAEC solid;*/
    margin-left: -15px;
    margin-right: -15px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  color: #777;
  display: block; /* For Firefox */
}

.feed-body-text:focus {
    /*border: 0px;*/
    outline: none;
}

/*.widget-feeds-main-container[data-feed-creating=true]{
 
}*/



.widget-feeds-main-container[data-feed-creating=true] {
  -webkit-transition:top 0.5s ease;
  -moz-transition:top 0.5s ease;
  -o-transition:top 0.5s ease;
  transition: top 0.5s ease;
  top:350px;


}
.widget-feeds-main-container[data-feed-creating=false] {
  -webkit-transition:top 0.5s ease;
  -moz-transition:top 0.5s ease;
  -o-transition:top 0.5s ease;
  transition:top 0.5s ease;

}

.creating-feed-remove{
  top:44px;
}

/*.create-feed{
  padding: 0px
}*/

.section > select{
  display: inline-block;
    width: auto;
    height: auto;
    padding: 0px;
    font-size: 11px;
      border: 0px;

          -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.section > select:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widget-feed-post-type{
  border:0px;
}

/*.widget-feed-post-type{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0px;
    font-size: 11px;
      border: 0px;

          -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}*/
    
    
.widget-feed-tools {
        min-height: 24px;
    width: 100%;
    position: absolute;
    top: 325px;
    padding-left:14px;
    padding-right:14px;
    /*margin-left: -15px;*/
    /* background: #D0D0D0; */
    

}

.feed-header-user-info .author-image{
  width: 38px;
    height: 38px;
}

select.widget-feed-post-type{
  color: #777;
}
select.widget-feed-post-visibility-type{
  border: 1px solid #ccc;
  margin-top: 4px;
  border-radius: 3px;
  color: #777;
}

/*.widget-feed-post-type:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/




.feed-survey-responses{
    padding: 0px;
    border-top: 1px solid #E7EAEC;
    
}
.feed-survey-responses input.input-survey-option{
    
     z-index: 0;
}

.feed-survey-responses li {
    width: 100%;
    margin-top: -1px;
}

.feed-image-item-container {
   /* box-shadow: 1px 2px 2px #9D9D9D; */
    overflow: hidden;
    height: 120px;
    width: 120px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px #E7EAEC solid;
}
.feed-image-item-container:hover i{
    font-size: 55px;
    color: white;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    /* right: auto; */
    z-index: 1;
    /* left: auto; */
    position: relative;
    top: 32px;
    left: 36px;
    opacity:0.6;
    /* right: 0; */
}

.feed-image-item-container:hover i:hover{
  opacity:0.9;
}

.feed-image-item-container img{
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    position: absolute;
    margin: auto;
    /*height: 150px;*/
}

.feed-image-item-container:hover img{
    /*transform: scale(1.05, 1.05);*/
    -webkit-filter: blur(8px);
    transition:ease 0.4s -webkit-filter;
}

.feed-image-item-container.portrait img {
    width: 120px;
}

.feed-image-item-container.landscape img {
    height: 120px;
}

.post-images {
    /*    margin-left: -20px;
    margin-right: -20px;*/
}

.post-images > img {
    width: 100%
}

.feed-content p > img {
    width: 100%
}


.feed-details{
    width: 100%;
    min-height: 25px;
    border-bottom: 1px solid #E7EAEC;
    margin-bottom: 5px;
    padding-right: 5px;
}

.feed-details .feed-comment-details{
    cursor: pointer;
}

.feed-details .feed-moods-details{
    cursor: pointer;
}

.feed-details .feed-moods-details-count{
    margin-left: 5px;
}
.feed-details .feed-moods-details-icons{
    opacity: 0.8;
}
widget-feeds[view-type="Comments"] .feed-details .feed-comment-details{
    display: none;
}

.feed-tools {
    min-height: 22px;
    overflow: hidden;
}
.feed-comment-body {
    min-height: 50px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #F6F7F8;
    border-top: 1px solid #e7eaec;
  
}

.feed-comment-body p{
    margin:0;
}

.feed-element .post-body{
    margin-bottom: 5px;
}

.feed-comment-body img.feed-author-image {
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-right: 10px;
}

.feed-comment-body .feed-comment-create{
    padding: 10px 15px;
}

.feed-comment-body .feed-comment-create .feed-comment-create-text {
    resize: none;
    border-radius: 0px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    min-height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.feed-comment-item {
    padding: 10px 15px 0px 15px;
}

.feed-post-additional-tools{
    overflow: hidden;
    position: relative;
    
}

.feed-comment-load-more {
    padding: 10px 15px 0px 15px;
    /*cursor: pointer;*/
    /* text-decoration: blink; */
}

.btn-remove-comment{
    display: none;
}

.feed-comment-item:hover .btn-remove-comment{
    display: block;
    padding: 0px;
};


a.fl-action-mood {
    display:none;
}

.widget-mood .arrow{
    display: none;
}

.widget-mood{
        border: 1px solid rgb(231, 234, 236);
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.widget-mood .popover-content{
    padding: 3px 2px 0px 5px;
}

.user-moods-item {
    padding: 10px 15px 5px 15px;
    border-bottom: 1px solid #E7EAEC;
    min-height: 55px;
}

.user-moods-item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.widget-feed-moods{
    cursor: pointer;
    display: inline-block;
    width: 35px;
     height: 35px;
         text-align: center;
    vertical-align: text-top;
}

.widget-feed-moods .media-body{

}


.widget-feed-moods:hover svg{
    margin-top: -10px;
    margin-left: -2px;
    zoom:1.4;
    -webkit-transition:0.1s ease margin;
  -moz-transition:0.1s ease margin;
  -o-transition:0.1s ease margin;
  transition:0.1s ease margin;
}


.survey_responses .checkbox, .survey_responses .radio {

    margin-top: 3px;
    margin-bottom: 3px;
}


.feed-name-selection img{
  width: 28px;
  height: 28px;
}
.feed-name-selection > .pull-left{
  margin-right: 10px;
}
.feed-name-selection > .media-body>strong{
line-height: 28px;
}
.feed-readers .autocomplete{
  border:0px;
}

.post-image-view > div > img{
  top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    position: absolute;
    margin: auto;
}
.post-image-view{
  /*height: 270px;*/
}

.post-image-view > div{
/*  width: 150px;
    height: 100px;*/
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
        border: 1px #E7EAEC solid;
}

.post-image-view > div > a{
  display: block;
  height: 100%;
}
.post-image-view.post-image-1 > div{
  width: 100%;
  height: 270px;
  display: inline-block;
   margin-top: 5px;
}

.post-image-view.post-image-2 > div{
 width: 100%;
 height: 120px;
  display: inline-block;
  margin-top: 5px;
}


.post-image-view.post-image-3 > div{
  width: 45%;
height: 120px;
  display: inline-block;
  margin: 5px;
}

.post-image-view.post-image-3 > div:first-child{
  width: 95%;
 height: 120px;
   display: inline-block;
  margin: 5px;
}
.post-image-view.post-image-4 > div{
  width: 45%;
  height: 120px;
  display: inline-block;
  margin: 5px;
}


.post-image-view.post-image-more > div{
  width: 45%;
  height: 120px;
  display: inline-block;
  margin: 5px;
}