.widget-apps-main-container-div
{
	position:absolute;
}

.widget-apps-heading-container
{
	
}

.widget-apps-heading-title
{

	float:left;
}
.widget-apps-heading-actions
{
	
	float:right;
}

.widget-apps-icon-container
{
	width: 80%;
    position: relative;
    margin-right: auto;
    display: table;
    margin-left: auto;
}

.widget-apps-icon
{
	width:100%;
}

.widget-app-name{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-style: italic;
}

.widget-app-name:focus{
    outline: 0px;
    
}

.widget-apps-label
{
	width: inherit;
    overflow: hidden;
    
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    font-size : 12px;
    text-align : center;
    height: 1.6em;
   
}

.widget-apps-action-container
{
	/*display:none;*/
	/*margin-top: 4px; */
	position: absolute;
	top:-9px;
	right:-10px;

}

.widget-apps-action-set{
    display: none;
}



.widget-apps-action-container a.widget-apps-action
{
        cursor: pointer!important;
    float: left;
    color: #ffffff;
     padding: 5px; 
    display: inline-block;
    border-radius: 15px;
    font-size: xx-small;
    opacity: 0.9;
    width: 22px;
    height: 22px;
    align-content: center;
    /* vertical-align: super; */
    text-align: center;
       box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.19);
}

.widget-apps-action-container a.widget-app-action-create
{
    background-color: #5cb85c;
}

.widget-apps-action-container a.widget-app-action-view
{
    background-color: #428bca;
}

.widget-apps-action-container a.widget-app-action-add
{
    background-color: #d9534f;
}

.widget-apps-action-container a.widget-app-action-remove
{
    background-color: #5cb85c ;
}



.widget-apps-action-container a {
    color: #ffffff;
}

.widget-apps-action-set[ng-switch-when="true"]{
        /*display:block;*/
        display:block;
      /*  opacity: 1;
        background-image: url(../../../images/svg-bgs/transbg.png);
        padding: 2px;
        border-radius: 3px;*/
}

.widget-apps-icon-container:hover .widget-apps-action-container .widget-apps-action-set{
        /*display:block;*/
        display:block;
      /*  opacity: 1;
        background-image: url(../../../images/svg-bgs/transbg.png);
        padding: 2px;
        border-radius: 3px;*/
        
}

.ui-app-shortcut {
    width: 76px;
}
