
//$asset_path: "http://guest_acct/";

//EXTENDS

.colorfff { color: #ffffff !important; }

.fl-theme-color-text {  color:#33b5e5; }
.fl-theme-color-bg { background-color:#33b5e5; }
.fl-theme-color-border-left { border-style:solid; border-left-color:#33b5e5; border-left-width:6px; }

.fL { float:left; }

.fR { float:right; }

.fN { float:none; }

.taC { text-align:center; }

.taL { text-align:left; }

.taR { text-align:right; }

.Ht100perc { height:100%; }

.wH100perc { width:100%; }

.boxSizingBB { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.borderR3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.borderR2 { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.textTruncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.marginAuto { margin: 0 auto; }

.darkAlink { color:#151515; } 

.lightAlink { color:#ffffff; }

.cursorP { cursor:pointer; }

.fontWeightB {font-weight:bold;}


.fl-button-press {
	-webkit-box-shadow: #575757 0px 2px 1px;
	box-shadow: #575757 0px 2px 1px;
	-moz-box-shadow: #575757 0px 2px 1px;
}

.fl-button-press-hover {
	-webkit-transform: translate(1px, 2px);
	-ms-transform: translate(1px, 2px);
	transform: translate(1px, 2px);
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
}

.trans-duration2 { 
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}


.trans-duration3{
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.trans-duration5{
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}


.trans-timing {
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}


//MIXINS
@mixin bp($point) {
	
	@if $point == landscape1024 {
		@media only screen and (max-width:1024px) { @content; }
	}
	@elseif $point == portrait768 {
		@media only screen and (max-width:768px) { @content; }
	}
	@elseif $point == landscape568{
		@media only screen and (max-width:568px) { @content; }
	}
	@elseif $point == portrait320{
		@media (max-width:320px) { @content; }
	}	
}

@mixin pos-abs($top: auto, $right: auto, $bottom: auto, $left: auto){

	top:$top;
	right:$right;
	bottom:$bottom;
	left:$left;
	position:absolute;
}

@mixin pos-rel($top: auto, $right: auto, $bottom: auto, $left: auto){
	top:$top;
	right:$right;
	bottom:$bottom;
	left:$left;
	position:relative;
}

@mixin pos-fix($top: auto, $right: auto, $bottom: auto, $left: auto){
	top:$top;
	right:$right;
	bottom:$bottom;
	left:$left;
	position:fixed;
}

@mixin margin($top: auto, $right: auto, $bottom: auto, $left:auto){
	margin-top:$top !important;
	margin-right:$right;
	margin-bottom:$bottom;
	margin-left:$left !important;
}

@mixin padding($top: auto, $right:auto, $bottom:auto, $left:auto) {
	padding-top: $top;
	padding-right:$right;
	padding-bottom:$bottom;
	padding-left:$left;
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// @mixin paddingsControls($padControl) {

// 	@if $padControl == fl-headerInfo-a {

// 		padding:5px;

// 	}@else if $padControl == fl-headerInfo-b {
// 		padding:20px;
// 	} 

// }