@import "compass/css3";
//utilities scss
$primaryFontSize:12px;
$secondaryFontSize:11px;
$font-size:14px;
$h-size:25px; 
$line-height:23px;
$mainNavbg:#e0e0e0;
$naminNavHoverbg: #8D8D8D;
$theme-sign-color:#e13636;
$sidebar-color:#f4f4f4;
$primary_font_family:droid_sansregular;
$formalistic_reg: formaregular;


// *** FLOATS *** //
$floatClasses: fL, fR, fN;
$floatValue: left, right, none;
$i:1;

@each $float in $floatClasses {

    %#{$float}{
        float: nth($floatValue, $i)
    }
    $i: $i + 1;
}


// *** TEXT ALIGN *** //
$textAlignClasses: taC, taL, taR;
$textAlignValue: center, left, right;
$i:1;
@each  $textAlignment in $textAlignClasses {

    %#{$textAlignment}{
        text-align: nth($textAlignValue, $i)
    }
    $i: $i + 1;
}

// *** WIDTH *** // 
@for $i from 10 through 100 {
    %width_perc#{$i}{
        width:$i * 1%;
    }
}
// *** HEIGHT *** //
%height_perc100 {
    height:100%;
}


// *** FONT FAMILY *** //
$fontFamilys : (

droid_sansregular:droid_sansregular,
droid_sansbold:droid_sansregular_bold,

open_sansregular:open_sanslight_bold,
open_sanslight:open_sanslight,

protestant_regular:protestant_regular,

dustismo_regular:dustismo_regular,
dustismo_bold:dustismo_regular_bold,

dustismo_romanregular:dustismo_romanregular,
dustismo_italic:dustismo_italic,
dustismobold_italic:dustismobold_italic,


perspective_sansregular:perspective_sansregular,
perspective_sansbold:perspective_sansregular_bold,

perspective_sans_blackitalic:perspective_sans_blackitalic,
perspective_sansbold_italic:perspective_sansbold_italic,
perspective_sansitalic:perspective_sansitalic,

sansumiregular:sansumiregular,
sansumi_bold:sansumiregular_bold,
sansumi_demibold:sansumi_demibold,
sansumi_ultralightregular:sansumi_ultralightregular,

traditionsans_xlightregular:traditionsans_xlightregular,

vera_humana_95regular:vera_humana_95regular,
vera_humana_95bold:vera_humana_95regular_bold,

vera_humana_95bolditalic:vera_humana_95bolditalic,
vera_humana_95italic:vera_humana_95italic,

weezerfontregular:weezerfontregular,

weblysleeklight:weblysleeklight,
weblysleeklight_bold:weblysleeklight_bold,

);

//each directives for fonts
@each $fontFamily, $font in $fontFamilys {
    %font_#{$fontFamily} {
        font-family:$font; //important
    }
}

// *** FONT STYLE *** //
$fontStyleClasses:  normal, italic, oblique, initial, inherit;
$fontStyleValue: normal, italic, oblique, initial, inherit;
$i:1;
@each $fontStyle in $fontStyleClasses {
    %font_style_#{$fontStyle} {
        font-style: nth($fontStyleValue, $i)
    }

    $i: $i + 1;
}

// *** FONT WEIGHT *** //
$fontWeightClasses:  normal, bold, bolder, lighter, number, initial, inherit;
$fontWeightValue: normal, bold, bolder, lighter, number, initial, inherit;
$i:1;
@each $fontWeight in $fontWeightClasses {
    %font_weight_#{$fontWeight} {
        font-weight: nth($fontWeightValue, $i)
    }

    $i: $i + 1;
}


//  end of fonts

//margin 0 auto
.marginAuto {
    margin: 0 auto;
}

// *** OPACITY *** //
@for $i from 0 through 1 {

    %opacity#{$i} {
        opacity:$i;
    }

}

// *** DISPLAY *** //
$displayClassess: inline, block, inline_block, flex, inline_flex, inline_table, list_item, run_in, table, table_caption, table_column_group, table_header_group, table_footer_group, table_row_group, table_cell, table_column, table_row, none, initial, inherit;
$displayValue: inline, block, inline-block, flex, inline-flex, inline-table, list-item, run-in, table, table-caption, table-column-group, table-header-group, table-footer-group, table-row-group, table-cell, table-column, table-row, none, initial, inherit;
$i:1;

@each $displayClass in $displayClassess {
    %display_#{$displayClass}
    {
        display: nth($displayValue, $i)
    }
    $i: $i + 1;
}


//button types 
.fl-positive-btn {
    background-color:#2ecc71 !important;
}

.fl-negative-btn {
    background-color:#c0392b !important;
}

.fl-default-btn {
    background-color:#abbac3 !important;
}


.avatar-wrapper {
    height:40px;
    padding:5px;
}

.avatar-profile-properties {
    font-size:$primaryFontSize;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    float:left;
}

.input-text {
    width: 190px;
    height: 18px;
    padding: 3px;	
}

.input-select {
    height: 32px;
    border: 1px solid #d6d6d6;
}

.input-submit {
    width: 85px;
    border: none;
    color: #fff;
    height: 31px;
}

.input-button {
    width: 85px;
    border: none;
    color: #fff;
    height: 31px;
}

.input-type-file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width:auto !important;
    opacity: 0;
    cursor:pointer;
    filter: alpha(opacity=0);
    opacity:0px;
    z-index: 999999;
}

.bold-text {
    font-weight:bold;
}
// *** TEXT COLOR *** //
.colorfff {
    color: #ffffff; // !important remove becaus conflicting with infinite navigation
}
// *** BACKGROUND COLOR *** //
.bgcolorfff {
    background-color:#ffffff !important;
}

// *** CURSORS *** //
$cursorClassess:alias, all_scroll, auto, cell, context_menu, col_resize, copy, crosshair, default, e_resize, ew_resize, grab, grabbing, help, move, n_resize, ne_resize, nesw_resize, ns_resize, nw_resize, nwse_resize, no_drop, none, not_allowed, pointer, progress, row_resize, s_resize, se_resize, sw_resize, text, URL, vertical_text, w_resize, wait, zoom_in, zoom_out, initial, inherit;
$cursorValue:alias, all-scroll, auto, cell, context-menu, col-resize, copy, crosshair, default, e-resize, ew-resize, grab, grabbing, help, move, n-resize, ne-resize, nesw-resize, ns-resize, nw-resize, nwse-resize, no-drop, none, not-allowed, pointer, progress, row-resize, s-resize, se-resize, sw-resize, text, URL, vertical-text, w-resize, wait, zoom-in, zoom-out, initial, inherit;
$i:1;

@each $cursor in $cursorClassess {
    %cursor_#{$cursor} {
        cursor: nth($cursorValue, $i) 
    }
    $i: $i + 1;
}
// *** SECONDARY BUTTON *** //
.fl-secondary-btn {
    border:1px solid #d6d6d6!important;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
}
// *** BUTTON PRESS / HOVER *** //
.fl-button-press {
    -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

.fl-button-press-hover {
    -webkit-transform: translate(1px, 2px);
    -ms-transform: translate(1px, 2px);
    transform: translate(1px, 2px);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
}


// *** TRANSIZTION DURATION *** //
@for $i from 1 through 5 {

    %trans_duration#{$i} {

        -webkit-transition-duration: $i * .1+s;
        -moz-transition-duration: $i * .1+s;
        -o-transition-duration:	$i * .1+s;
        transition-duration: $i * .1+s;

    }
}
// *** TRANSIZTION TIMING *** //
$transitionTimingClassess: ease, linear, ease_in, ease_out, ease_in_out, initial, inherit;
$transitionTimingValue: ease, linear, ease-in, ease-out, ease-in-out, initial, inherit;
$i:1;

@each $transitionTiming in $transitionTimingClassess {

    %transition_timing_#{$transitionTiming} {
        -webkit-transition-timing-function: nth($transitionTimingValue, $i);
        -moz-transition-timing-function: nth($transitionTimingValue, $i);
        -o-transition-timing-function: nth($transitionTimingValue, $i);
        transition-timing-function: nth($transitionTimingValue, $i);
    }

    $i: $i + 1;

}

// *** BOX SIZING *** //
$boxSizingClasses: border_box, content_box, initial, inherit;
$boxSizingVal: border-box, content-box, initial, inherit;
$i:1;
@each $boxSizingClass in $boxSizingClasses {
    %box_sizing_#{$boxSizingClass}
    {
        box-sizing: nth($boxSizingVal, $i)
    }
    $i: $i + 1;
} 


// *** BORDER RADIUS *** //
@for $i from 1 through 5 {

    %border_radius#{$i} {
        -webkit-border-radius: $i+px;
        -moz-border-radius: $i+px;
        -ms-border-radius: $i+px;
        -o-border-radius: $i+px;
        border-radius: $i+px;
    }

}
// *** ROTATE SCALE *** //
.rotateScale {
    -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
    -moz-transform: rotate(-30deg) scale(1.2, 1.2);
    -o-transform: rotate(-30deg) scale(1.2, 1.2);
    transform: rotate(-30deg) scale(1.2, 1.2);
}

// *** BORDER NONE *** //
.borderNone {
    border:none !important;
}
.borderTopNone {
    border-top:none !important;
}
.borderLeftNone {
    border-left:none !important;
}
.borderBottomNone {
    border-bottom:none !important;
}
.borderRightNone {
    border-right:none !important;
}

// *** ELLIPSIS *** //
.textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.elip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// *** CLEARFLOAT *** //
.clearfloat {
    content: "";
    clear:both;
    display:table;
}
// *** BREAKPOINT *** //
@mixin bp($point) {

    @if $point == landscape1024 {
        @media screen and (max-width:1024px), screen and (max-device-width:1024px) { @content; }
    }	
    @elseif $point == portrait768 {
        @media screen and (max-width:768px), screen and (max-device-width:768px) { @content; }
    }
    @elseif $point == landscape568{
        @media screen and (max-width:568px), screen and (max-device-width:568px) { @content; }
    }
    @elseif $point == portrait480{
        @media screen and (max-width:480px), screen and (max-device-width:480px) { @content; }
    }
    @elseif $point == portrait320{
        @media screen and (max-width:320px), screen and (max-device-width:320px) { @content; }
    }	
}

// *** POSITION ABSOLUTE *** //
@mixin pos-abs($top: auto, $right: auto, $bottom: auto, $left: auto){

    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
    position:absolute;
}
// *** POSITION RELATIVE *** //
@mixin pos-rel($top: auto, $right: auto, $bottom: auto, $left: auto){
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
    position:relative;
}
// *** POSITION FIXED *** //
@mixin pos-fix($top: auto, $right: auto, $bottom: auto, $left: auto){
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
    position:fixed;
}
// *** MARGIN *** //
@mixin margin($top: auto, $right: auto, $bottom: auto, $left:auto){
    margin-top:$top !important;
    margin-right:$right;
    margin-bottom:$bottom;
    margin-left:$left !important;
}
// *** PADDING *** //
@mixin padding($top: auto, $right:auto, $bottom:auto, $left:auto) {
    padding-top: $top;
    padding-right:$right;
    padding-bottom:$bottom;
    padding-left:$left;
}

// *** VENDOR PREFIXER *** //
@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

// *** LOADER *** //
.fl-Miniloader {
    color:#555555;
    -webkit-animation: Miniloader .7s infinite linear;
    -moz-animation: Miniloader .7s infinite linear;
    animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    };
}
@-moz-keyframes Miniloader {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    };
}


.fl-RevealLoader {

    -webkit-animation: RevealLoader .7s ease-out;
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes RevealLoader {

    0% {
        right:0px;

    }

    100% {
        right:-75px;

    }

}

$badgeClasses: silver, SpringGreen, Gold, DarkRed, SteelBlue, Black;
$badgeVal: #C0C0C0, #2ecc71, #FFD700, #8B0000, #4682B4, #000000;
$i:1;

@each $badgeClass in $badgeClasses {
    .fl_badge_#{$badgeClass}
    {   
        @include padding(3px, 5px, 3px, 3px);
        @extend %box_sizing_border_box;
        @extend .colorfff;
        @extend %border_radius3;
        font-size:$secondaryFontSize;
        text-shadow: 1px 1px 1px #BEBCBC;
        background-color: nth($badgeVal, $i)
    }
    $i: $i + 1;
} 



// *** BADGE *** //
// @each $badge in $default, $success, $warning, $important, $information, $inverse {
//     .fl_badge_#{$badge} {
//         @include padding(3px, 5px, 3px, 3px);
//         @extend %box_sizing_border_box;
//         @extend .colorfff;
//         @extend %border_radius3;
//         font-size:$secondaryFontSize;
//         text-shadow: 1px 1px 1px #BEBCBC;
//         background-color: rgba($badge, 1);
//     }
// }



// *************   SCSS CLASSES  *************//

.opensanslight {
    @extend %font_open_sanslight;
}

.opensansregular {
    @extend %font_open_sansregular;
}

.droidsansregular {
    @extend %font_droid_sansregular;
}

.droidsansbold, .font_droid_sansbold {
    @extend %font_droid_sansbold;
}

.protestantregular {
    @extend %font_protestant_regular;
}

.dustismoregular {
    @extend %font_dustismo_regular;
}

.dustismoromanregular {
    @extend %font_dustismo_romanregular;
}

.dustismoitalic {
    @extend %font_dustismo_italic;
}

.dustismobolditalic {
    @extend %font_dustismobold_italic;
}

.dustismobold {
    @extend %font_dustismo_bold;
}

.perspectivesansblackitalic {
    @extend %font_perspective_sans_blackitalic;
}

.perspectivesansbolditalic {
    @extend %font_perspective_sansbold_italic;
}

.perspectivesansregular {
    @extend %font_perspective_sansregular;
}

.perspectivesansbold {
    @extend %font_perspective_sansbold;
}

.perspective_sansitalic {
    @extend %font_perspective_sansitalic;
}

.sansumiregular {
    @extend %font_sansumiregular;
}

.sansumibold {
    @extend %font_sansumi_bold;
}

.sansumisemibold {
    @extend %font_sansumi_demibold;
}

.sansumiultralightregular {
    @extend %font_sansumi_ultralightregular;
}

.traditionsansxlightregular {
    @extend %font_traditionsans_xlightregular;
}

.verahumana95regular {
    @extend %font_vera_humana_95regular;
}

.verahumana95bold {
    @extend %font_vera_humana_95bold;
}

.verahumana95bolditalic {
    @extend %font_vera_humana_95bolditalic;
}

.verahumana95italic {
    @extend %font_vera_humana_95italic;
}

.weezerfontregular {
    @extend %font_weezerfontregular;
}

.weblysleelight {
    @extend %font_weblysleeklight;
}

// end  of Font class name

.font-bold { @extend %font_weight_bold; @extend %cursor_pointer; }

.fl-form-prop-cont-wid { width:49%; }
.fl-floatLeft { @extend %fL; }
.fl-floatRight { @extend %fR; }
.isFloatNone { @extend %fN; }
.isDisplayNone { @extend %display_none; }
.isDisplayBlock {@extend %display_block; }
.isDisplayTable { @extend %display_table; }
.isDisplayTableRow { @extend %display_table_row; }
.isDisplayTableCell { @extend %display_table_cell; }
.isDisplayInlineBlock {@extend %display_inline_block;}
.isOpacity1 { @extend %opacity1 }
.isOpacity0 { @extend %opacity0 }
.trans_duration3 {@extend %trans_duration3;}
.isTextAlignCenter {@extend %taC;}
.isTextAlignRight {@extend %taR;}
.isTextAlignLeft {@extend %taL;}
.isCursorPointer {@extend %cursor_pointer;}
.isCursorNotAllowed {@extend %cursor_not_allowed;}
.isFontWeightBold { @extend %font_weight_bold;}



