@import "guestbase";

/* @font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_bold/opensans-regular-webfont.eot');
    src: url('../fonts/opensans_bold/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bold/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans_bold/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_bold/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

body {
	font-family:'HelveticaNeue_Medium', arial, helvetica;
	background-color:#FAF8F8;
}

.clearfix {
	clear:both;
}

a, span { text-decoration:none; font-size:13px; }

.fl-btn { 
	@extend .fl-theme-color-bg; 
	@extend .colorfff;
}

.fl-btn-white {
	color:#151515;
	background-color: #ffffff;
	@extend .boxSizingBB;
	@extend .borderR3;
	@include padding(5px, 5px, 5px, 5px);
	@extend .fl-button-press;
	@extend .trans-duration2;
	@extend .trans-timing;

	&:hover {
		
	}
}

.fl-right-wrapper a:hover  {
	@extend .fl-button-press-hover;
}

.fl-left-wrapper {
	@extend .fL;
}

.fl-right-wrapper {
	@extend .fR;
}

.fl-right-wrapper-none {
	float:none;
}

p { font-size:12px; }

.fl-theme-color-text { @extend .fl-theme-color-text; } 

.fl-user-header-wrapper {
	@extend .wH100perc;
	@includ pos-fix(auto, auto, auto, auto);
	background-color:#33b5e5;
	height:50px;

	.fl-user-header-max-width {
		@extend .marginAuto;
		max-width:1024px;
	}
}

.fl-user-company-avatar-wrapper {
	@extend .fL;
}

.fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper {
	@extend .Ht100perc;
	@extend .boxSizingBB;
	padding: 5px;
}

.fl-user-onlineuser-avatar-wrapper {
	@extend .fR;
}

.fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper {
	@extend .boxSizingBB;
	@extend .borderR3;
	@extend .fL;
	width: 40px;
	height: 40px;
	padding: 2px;
	background-color:#0099cc;

	a img {
		@extend .borderR2;
	}
}

.fl-user-companyname, span.fl-user-name {
	@extend .fL;
	@extend .colorfff;
	@include padding(0px, 10px, 0px, 10px);
	font-size: 13px;
	line-height: 38px;
	font-family:"HelveticaNeue_Medium";
}

.fl-user-name {
	i.fa  {
		@extend .colorfff;
	}
}

.fl-user-header-wrapper a {
	@extend .colorfff;
}

.fl-content {
	@extend .marginAuto;
	max-width:1024px;

	.fl-left-guest-wrapper {
		@extend .fL;
		@extend .Ht100perc;
		width:26%;
	}

	.fl-right-guest-wrapper {
		@extend .fR;
		@extend .Ht100perc;
		width:74%;
	}
}

.fl-left-guest-wrapper, .fl-right-guest-wrapper  {
	@extend .boxSizingBB;
	@include padding(10px, 5px, 10px, 5px);
}

.fl-profile-wrapper {
	@extend .borderR3;
	@extend .Ht100perc;
	@include box-shadow(#cdced1 0px 3px 1px);
	background-color:#ffffff;
	border: 1px solid #cdced1;
}

.fl-picture-wrapper {
	@extend .wH100perc;
	@extend .boxSizingBB;
	@include padding(11px);
	@include pos-rel(auto, auto, auto, auto);
	height:102px;

	.fl-pic-line {
		@extend .wH100perc;
		@include pos-abs(50px, auto, auto, auto);
		height:3px;
		background-color:#cdced1;
	}
}

.fl-picture {
	@extend .marginAuto;
	@include vendor-prefix('border-radius', '100%');
	@include box-shadow(#cdced1 0px 4px 1px);
	@include pos-rel(auto, auto, auto, auto);
	height:80px;
	width:80px;
	background-color:#cdced1;

	img {
		@include vendor-prefix('border-radius', '100%');
	}
}

.fl-guest-name, .fl-guest-from {
	@extend .boxSizingBB;
	@include padding(10px, 0px, 10px, 10px);
	border-top: 1px solid #cdced1;

	a {
		@extend .darkAlink;
	}
}

.fl-copyright {
	@extend .taC;
	@extend .boxSizingBB;
	@include padding(10px, 10px, 10px, 10px);

	span {
		font-size:10px;
	}
	
}



.fl-nav {
	@include pos-rel(1px, auto, auto, auto);
	z-index:1;	
	ul {

		li {
			@extend .boxSizingBB;
			@extend .fL;
			@extend .cursorP;
			@include padding(10px, 10px, 10px, 10px);
			border-top: 1px solid #cdced1;
			border-left: 1px solid #cdced1;
			@include border-top-left-radius(3px);
			@include border-top-right-radius(3px);
			font-size:13px;
			background-color:#f6f6f6;
		}

		li.inactive {
			background-color:#f8f8f8;
		}
	
	}

}



.fl-guest-tabs-wrapper {
	@extend .wH100perc;
	@include box-shadow(#cdced1 0px 4px 1px);
	@include border-bottom-right-radius(3px);
	@include border-top-right-radius(3px);
	@include border-bottom-left-radius(3px);
	border: 1px solid #cdced1;
	background-color:#f6f6f6;
}

#tab1c {
	@extend .boxSizingBB;
	@include padding(10px, 10px, 10px, 10px);
	position:relative;
	overflow:hidden;
	height:457px;
}


// .icon {
// 	background:image-url('icons.png');
// 	background-repeat: no-repeat;
// }

.search-icon {
	background-position: 2px -1px;
}

.fl-search-wrapper {
	@include pos-abs(-3px, 0px, auto, auto);

	input[type="text"] {
		@extend .boxSizingBB;
		border: 1px solid #33b5e5 !important;
		padding:5px;
		width:210px;
	}
	input[type="button"] {
		@extend .cursorP;
		@include pos-abs(3px, 1px, auto, auto);
		background-color:#33b5e5;
		height: 26px;
		border: none;
		width: 30px;
	}
}

input:focus {
	outline:none;
}

@-moz-document url-prefix() {
	input[type="button"].search-icon {
		@include pos-abs(1px, 1px, auto, auto);
	}
}



.fl-guestreqview-wrapper,.fl-acct-details-wrap {
	@extend .wH100perc;
	@extend .fl-theme-color-border-left;
	@extend	.boxSizingBB;
	@include box-shadow(#cdced1 0px 2px 1px);
	@include margin(auto, auto, 10px, auto);
	height:auto;
	background-color:#ffffff;
	@include vendor-prefix('border-radius', '3px');
}

.fl-headerInfo-a-left {
	@extend .fL;
	width:50%;
}

.fl-headerInfo-a-name-wrapper {
	line-height:19px;
}

.fl-headerInfo-a-right {
	@extend .fR;
	@include padding(9px, auto, auto, auto);
	ul {
		li { 
			@extend .fL;
			margin-right:4px;
			a {
				@extend .boxSizingBB;
				@extend .borderR3;
				@include padding(5px, 5px, 5px, 5px);
				@extend .fl-button-press;
				@extend .trans-duration2;
				@extend .trans-timing;
				display:inline-block;

				 i.fa {
				 	@extend .colorfff;
				 }

				 &:hover {
				 	@extend .fl-button-press-hover;
				 }
			}
			
			&:nth-child(2) {
				margin-right:0px;
			}
		}

	}
}

.fl-right-wrapper {
	@extend .fR;

	ul {
		li { 
			@extend .fL;
			margin-right:4px;
			a {
				@extend .boxSizingBB;
				@extend .borderR3;
				@include padding(5px, 5px, 5px, 5px);
				@extend .fl-button-press;
				@extend .trans-duration2;
				@extend .trans-timing;
				display:inline-block;
				background-color: #ffffff;
				color: #151515 !important;
				 i.fa {
				 	color: #151515;
				 }

				 &:hover {
				 	@extend .fl-button-press-hover;
				 }
			}
			
			&:nth-child(2) {
				display:none;
			}
			&:nth-child(3) {
				margin-right:0px;
				display:none;
			}
		}

	}
}




.fl-headerInfo-a{
	@extend .boxSizingBB;
	@include padding(5px, 5px, 5px, 5px);
}

.fl-headerInfo-b{
	@extend .boxSizingBB;
	@extend .fl-theme-color-bg;
	@include padding(10px, 10px, 10px, 5px);
	h2 {
		@extend .colorfff;
	}
}

 .fl-headerInfo-c {
 	@extend .boxSizingBB;
 	border-bottom:1px solid #cdced1;
	@include padding(10px, 10px, 10px, 5px);
	h2 {
	
	}
 }

 .fl-headerInfo-d {

 	@extend .boxSizingBB;
	@include padding(10px, 10px, 10px, 5px);
	border-bottom:1px solid #cdced1;
	h2 {
	
	}

	p {
		@extend .textTruncate;
		line-height:18px;	
	}
 }

 .fl-headerInfo-e {
 	@extend .boxSizingBB;
	@include padding(10px, 10px, 10px, 5px);
 	h2 {

 	}

 }

.fl-headerInfo-details-a {
	@extend .textTruncate;
	@include margin(auto, auto, auto, 12%);
	
	span {
		font-weight:bold;
	}
}

#tab2c {
	@extend .boxSizingBB;
	@include padding(10px, 10px, 10px, 10px);
}

.fl-userpro-header {
	@extend .fl-theme-color-bg;
	@extend .boxSizingBB;
	@extend .colorfff;
	@extend .borderR3;
	@include padding(13px, 15px, 15px, 15px);
	@include border-bottom-right-radius(0px);
	@include pos-rel(auto, auto, auto, auto);
	z-index:1;
}

.fl-acct-details-wrap {
	@extend .boxSizingBB;
	@include padding(10px, 10px, 10px, 10px);
	@include pos-rel(-3px, auto, auto, auto);
}

.fl-large-profile {
	@extend .borderR3;
	@include box-shadow(#cdced1 0px 3px 1px);

	img {
		@extend .borderR3;
	}
}

div.uploader input {
	@extend .cursorP;
	@include pos-abs(auto, auto, auto, 0px);
	width: 266px;
	opacity: 0;
	height: 30px;
}

div.uploader {
	width: 138px;
	position: relative;
	overflow: hidden;
	border: 1px solid #d6d6d6;
	background: #FFF;
	padding: 2px 2px 2px 8px;
}

div.uploader span.filename {
	@extend .fL;
	@extend .textTruncate;
	color: #777;
	max-width: 200px;
	font-size: 11px;
	line-height: 22px;
	display: block;
	cursor: default;
}


div.uploader span.action {
@extend .fR;
@extend .fontWeightB;
@extend .cursorP;
width: 22px;
//background:image-url('addFiles.png') no-repeat 0 0;
height: 22px;
font-size: 11px;
text-indent: -9999px;
display: inline;
overflow: hidden;
}

//LOADING SPINNER
.spinner {
	@extend .taC;	
  	width: 100px;
  	height: 40px;
 	font-size: 10px;
	margin: 10px 0px;
}

.spinner > div {
  @extend .fL;
  @extend .fl-theme-color-bg;
  margin-left:3px;
  height: 100%;
  width: 6px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .bar2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

.spinner .bar3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }

.spinner .bar4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }

.spinner .bar5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }

.spinner .bar6 { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }

.spinner .bar7 { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }

.spinner .bar8 { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }

.spinner .bar9 { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }

.spinner .bar10 { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20%{ -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20%   { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.fl-fields {
	border-bottom: 1px solid #d6d6d6;
	position:relative;
	height: 39px;
	line-height: 30px;
	padding-top:10px;
}

.fl-fields:first-child {
	padding-top:0!important;
}

.fl-input_position {
	width: 78%;
	@extend .fR;

	label {
		font-size:13px;
	}

	input[type="text"] {
		width:99%;
		@extend .borderR3;
		@extend .boxSizingBB;
		border: 1px solid #33b5e5 !important;
		padding:3px;

	}
}

.fl-guest-field {
	display:none;
}