
@import "base";

/*******  FOR THEMES ********/

.fl-user-header-wrapper, .fl-user-navigation-wrapper ul ul li a:hover, .large-avatar-wrapper, ul.fl-module-icon li, .fl-starred, #tabs li a.inactive, .ui-widget-header, .spinner > div, input-submit, input[type="submit"], input[type="button"], .fl-head-title-wrapper, .fl-toolbar-left-wrapper ul li, .fl-basicprimary-btn, .paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active, span.button, .fl-default-page-wrapper, .fl-command-btn, .ps-container .ps-scrollbar-y, .horizontal, .vertical, /*.fl-chatbox-head,*/ .postPrivacyChoice-choices:hover, .display_box:hover, .mentionActive, .fl-post-attribution, .fl-back-to-inbox a, .fl-inmail-notifications-compose-opt-wrapper, .fl-inmail-notifications-opt-wrapper, .request-time, .fl-nav-down-icon, #fl-scrollTotop a, .fl-add-btn, .fl-flyouheader, .fl-user-conversation-unread-count, .fl-timer-icon, #fl-action-option li:hover, .fl-workspace-control-wrapper > .generate_objects button.showObjectFields, .fl-workspace-control-wrapper > .tab_objects button.getTabValue, .obj_actions, .fl-addRemoveItem, .workspace_option_bar > ul.fl-action-menu li a:hover, .workspace_option_bar > ul.fl-action-menu li ul.horizontal-sub-menu 
   {
	background-color:$theme-layout!important;
}

.fl-closeDialog, .fl-user-avatar-company-wrapper, .fl-user-avatar-wrapper, /*.grid figcaption,*/ a.message-img, .fl-head-menu li, .ui-datepicker-next-hover, .grid figcaption a, #fl-showmenu, .fl-module-icon > li:hover, .fl-mod-title, .button:hover, .button:active, .fl-admindashboard-icons-wrapper ul li:hover .fl-admin-icon-name, #tabs li a, /*.fl-chatbox-options ul li a,*/ .fl-top-nav-options ul li, /*.fl-widget-head, .fl-option-toolbar,*/ .fl-dropflyout-img, .embed_newRequest, #fl-form-basic-options ul li, .fl-toolbar-icon-wrap:hover, .ui-menu-item:hover
 {
	background-color: darken($theme-layout, 5%) !important;
}


.fl-search-wrapper input, .fl-text, /*.fl-mentionContainer,*/ .fl-company-events-wrapper textarea, .fl-input-replyMsg, #fl-send-msg-form form input, .fl-input_position input[type="text"], input[type="password"], .input-append input, .fl-widget-my-requests-content-wrapper, .fl-widget-starred-content-wrapper, .fl-widget-cpnyevnts-content-wrapper {
	border: 1px solid $theme-layout!important;
}

.fl-announcment-wrapper textarea, .fl-text, /*.fl-mentionContainer,*/ .fl-company-events-wrapper textarea, .fl-input-replyMsg  {
	border-left: 4px solid $theme-layout;
}

.theme-font-color, .fl-bold-text, h1 {
	/*color:$theme-layout;*/
	  color:#6e6e6e;
} 

.fl-head-menu li  {
	border-right:1px solid $theme-layout;
}

#tabs li a {
	border-right:1px solid darken($theme-layout, 5%)!important;
}


.fl-user-conversation-unread-count, .fl-toolbar-icon-wrap {
	border: 1px solid darken($theme-layout, 5%);
}

#fl-action-option li, .workspace_option_bar ul.horizontal-menu li > ul.horizontal-sub-menu li {
	border-bottom: 1px solid darken($theme-layout, 5%);
	border-left: 1px solid darken($theme-layout, 5%);
	border-right: 1px solid darken($theme-layout, 5%);
}

.workspace_option_bar ul.horizontal-menu li > ul.horizontal-sub-menu li:first-child {
    border-top: 1px solid darken($theme-layout, 10%);
}


#fl-action-option {
	background-color:$top-options-color;
}




#tabs li a, .fl-tab-wrapper {	
	 @include bp(portrait320){
    	background-color:darken($theme-layout, 5%);
    }
}

.fl-tab-wrapper {
	@include bp(portrait320){
		background-color:$theme-layout;	
	}
}

.ui-datepicker-next-hover, .paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active {
	border-color:darken($theme-layout, 5%)!important;
}

.paging_full_numbers a.paginate_active, .paging_full_numbers a.paginate_button:active {
	box-shadow: 0 1px 2px darken($theme-layout, 5%) inset, 0 1px 0 #FFF !important;
	-webkit-box-shadow: 0 1px 2px darken($theme-layout, 5%) inset, 0 1px 0 #FFF !important ;
	-moz-box-shadow: 0 1px 2px darken($theme-layout, 5%) inset, 0 1px 0 #fff !important;
}

.post .text, .reply .text {
	border: 1px solid $theme-layout!important;
	border-left: 4px solid $theme-layout!important;
}


a, .fl-header-option li:nth-child(2) a, .fl-header-option li:nth-child(2) a > i {
	/*color:$avatar-color;*/
}

.faq .item .title, ul.list li a, .fl-toolbar-icon-wrap i.fa {
	color:darken($theme-layout, 5%);
}

.fl-toolbar-left-wrapper ul li{
	//border-bottom: 2px solid $avatar-color;
}

.grid figcaption a {
	border: 1px solid $border-primary;
}

// .fl-table-wrapper table tr:hover{
// 	border-left: 5px solid $theme-layout;
// }

.display_data  tr:hover {
	border-left: 5px solid $theme-layout;
}

div.DTCR_pointer {
	width: 1px;
	background-color:$theme-layout!important;
	z-index: 201;
}

.fl-admindashboard-icons-wrapper ul li:hover i, .fl-list-of-app-record-wrapper table tbody tr:hover i, /*ul.fl-breadcrums li a:hover,*/ .fl-breadcrums-active, .breadcrumbs, .table_data tr td center div:hover, .loadMsgList li div i:hover, .group-container div div span i:hover, .fl-filter-list tr td i:hover, .faq > .item > .title > .fa, span.fl-delete i.fa:hover, .fl-timer-start:hover i.fa {
	color:$theme-layout !important;
}


ul.ui-autocomplete li a.ui-state-focus 
   {
	background:$theme-layout!important;
}

.fl-footDialog {
	//background:$footDialog-color;

}

.fl-yes-btn {
	background-color:#2ecc71 !important;
}

.fl-createViewreq {
	background-color:#78C8F0;
}

// a.fl-type-creation {
// 	border: 2px solid $avatar-color!important;
// }

.component-primary-focus {
	outline:1px solid $theme-layout!important;
}

.setObject:hover{
outline:  1px dotted $theme-layout!important;
}



/*******  FOR THEMES ********/   