@import "utilities";

.fl-closeDialog {
	@extend %box_sizing_border_box;
	@extend %trans_duration2;  
	@extend %transition_timing_ease_in;
	@extend %taC;
	@extend %cursor_pointer;
	@include pos-abs(-18px, -20px, auto, auto);
	//background: rgba(0, 0, 0, 0.3)!important;
	border: 3px solid rgba(0, 0, 0, 0.3);
	z-index: 1;
	border-radius:100%;
	width:31px;
	height:31px;
	padding-top:4px;
	&:hover {
		background:#2C3A42!important;
	}

	& i.fa {
		@extend .colorfff;
		font-size: 16px;
	}

	
}

.fl-dialogHeader {
	@extend .colorfff;
	line-height: 30px;
	padding:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;

	div {
		h3 {
			line-height:22px;
			i.fa {
				@extend .colorfff;
			}

		}

		span {
			margin-left: 5px;
		}
	}

	h3 {
		i.fa {
			@extend .colorfff;
		}
	    .svg.icon-svg {
	    	margin-top: 3px;
		    float: left;
		    margin-right: 5px;
		    margin-left: 4px;
		    fill:#ffffff;
	    }
	}
}

.content-dialog {
	@extend %box_sizing_border_box;
	padding:15px 15px 15px 15px;
	height:auto;
	//margin-bottom:100px;
}

.fl-footDialog {
	@extend %width_perc100;
	@extend %box_sizing_border_box;
	height: 53px;
	padding: 10px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;

}


.fl-footDialog, .fl-dialogHeader {	
	background-color:#34495e;
}
input[type="button"].fl-default-btn {
		@extend .fl-default-btn;
}

input[type="button"].fl-positive-btn {
		@extend .fl-positive-btn;
}


input[type="submit"].fl-positive-btn {
		@extend .fl-positive-btn;
}


input[type="button"].fl-negative-btn {
		@extend .fl-negative-btn;
}

#popup_panel {
	
	input[type="button"].fl-postive-btn {
		@extend .fl-positive-btn;
	}

	input[type="button"].fl-negative-btn {
		@extend .fl-negative-btn
	}	

}

.fl-footDialog {
	input[type="button"].fl-positive-btn {
		@extend .fl-positive-btn;
	}

	input[type="button"].fl-default-btn {
		@extend .fl-default-btn;
	}
}