<?php

$post = $this->partial_view_data;
//  if this post's author is the current user or the current user is an admin
if (
        $this->current_user["id"] == $post["author_id"] ||
        $this->current_user["user_level_id"] == 1 ||
        $this->current_user["user_level_id"] == 2):
    ?>
    <div class="fl-ui-announcement-header-action">
        <ul class="fl-ui-announcement-header-action-main">
            <li class="mainHeaderAction" header-action="false" title="Actions">
                <svg id="svg-icon-group-user-selection" class="icon-svg icon-svg-announcement icon-svg-announcement-header-action" viewBox="0 0 90.264 90.597">
                <use xlink:href="#svg-icon-caret-down-header-action"></use>
                </svg> 
                <ul class="fl-ui-announcement-header-action-sub">
                    <li id="fl-li-action-edit-post-<?= $post["id"] ?>" class="fl-li-action-edit-post" data-id="<?= $post["id"] ?>" title="Edit">
                        <svg class="icon-svg icon-svg-announcement icon-svg-announcement-header-action" viewBox="0 0 100.264 100.597">
                        <use xlink:href="#svg-icon-edit-post-header-action"></use>
                        </svg> 
                    </li>
                    <li  title="Delete" id="fl-li-action-delete-post-<?= $post["id"] ?>" class="fl-li-action-delete-post" data-id="<?= $post["id"] ?>">
                        <svg class="icon-svg icon-svg-announcement icon-svg-announcement-header-action" viewBox="0 0 100.264 100.597">
                        <use xlink:href="#svg-icon-delete-header-action"></use>
                        </svg> 
                    </li>

                </ul>
            </li>
        </ul>
    </div>
<?php endif; ?>
<div class="clearfix"></div>