
<?php
$post = $this->partial_view_data;

$selectable_responses = $post["survey_selectable_responses"];
$input_type           = $post["enable_multiple_responses"] == 1 ? "checkbox" : "radio";
$my_responses         = $post["survey_my_responses"];
?>

<ul class="fl-ui-announcement-posted-type-survey">                        
    <?php foreach ($selectable_responses AS $selectable_response): ?>
        <?php $selectable_response_selected = array_search($selectable_response["id"], $my_responses) || $selectable_response["id"] == $my_responses[0] ?>
        <li class="fl-ui-announcement-posted-field-wrapper">
            <label class="isCursorPointer">
                <input 
                    type="<?= $input_type ?>" 
                    class="css-checkbox survey-selectable-response" 
                    <?= $selectable_response_selected ? "checked" : "" ?> 
                    <?= $my_responses ? "disabled" : "" ?>
                    id="response_<?= $selectable_response["id"] ?>" 
                    name="post_<?= $post["id"] ?>" 
                    value="<?= $selectable_response["id"] ?>">
                <label for="response_<?= $selectable_response["id"] ?>" class="css-label"></label>
                <span><?= $selectable_response["text"] ?></span>
            </label>
        </li>

    <?php endforeach; ?>
    <?php if ($my_responses) : ?> 
        <input type="submit" value="Edit" class="fR btn-survey edit-response">
    <?php else: ?> 
        <input type="submit" value="Submit" class="fR btn-survey submit-response">
    <?php endif; ?>
    <div class="clearfix"></div>
</ul>