
<ul>
    <?php foreach ($this->followers AS $follower): ?>
        <li>
            <div class="fl-ui-selectable-name-wrapper">
                <div class="fl-selectable-name fl-ui-selectable-name" data-type="USER" data-id="<?= $follower["follower"] ?>">

                    <div class="fl-ui-selectable-name-avatar-wrapper">
                        <img data-placement="bottom" data-original-title="<?= $follower["follower_display_name"] ?>" src="<?= $follower["image_url"] ?>" class="avatar pull-left userAvatar" onerror="this.src=<?= BROKEN_IMAGE; ?>"
                    </div>
                     
                </div>
                <div class="fl-ui-selectable-name-data-wrapper"><span><?= $follower["follower_display_name"] ?></span></div> 
            </div>

        </li>
    <?php endforeach; ?>
</ul>

