@import "base";
@import "rp-response/responsive";

// tab and worlspace v2

.fl-controlsv2-main-warpper {
    @extend %box_sizing_border_box;
    @include pos-fix(50px, auto, auto, 0px);
    @include padding(10px, 10px, 0px, 10px);
    z-index:99999;
    width:100%;
    background-color: #F5F7FA;
}

.fl-controlsv2-wrapper { 

}

#fl-workspace-controls {
    @extend .droidsansregular;
    border: 1px solid #cdced1;
    background-color: #fcfcfc;
    border-bottom: 2px solid #cdced1;
    height:110px;
    .tab-wrapper {
        position:relative; // for bluebar
        @extend %box_sizing_border_box;
        height:100%;
        //@include padding(5px, 5px, 5px, 5px);

        .section, .fl-controls-controlBasic,  .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlFieldAccess, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlTools, .fl-controls-controlDept, .fl-controls-genProperties, .fl-workspace-control-wrapper, .fl-annotation-tools {
            button  {
                border:none !important;
                background:transparent;
                font-size:12px;
                @extend %trans_duration3;
                //@extend .droid_sansregular;

                i.fl-fa-background {
                    // background-color: #33b5e5;
                    // padding: 3px;
                    // border-radius: 3px;
                    // color: #fff;
                    // box-sizing: border-box;
                }


                // &:hover i.fa {
                // 	color:#33b5e5;
                // } 
            }	
            .column {
                //height:85px;
                p {
                    font-size:11px;
                    @include margin(4px, 0px, 4px, 0px);
                }
                p:first-child{
                    margin-top:0px !important; 
                }
                label {
                    font-size:11px;
                }

            }
        }

        .fl-fb-wrapper {

            float:none;
            display:inline-block;
            white-space:normal;

            .fl-input-fields_a {
                width: 123px;
            }

            .fl-input-fields_a.fl-input-fields_a-safariB {
                width:119px;
            }

            .fl-input-fields_b {
                width: 98px;
            }

            .fl-input-fields_c {
                width: 105px;
            }

            .fl-input-fields_d {
                width: 140px;
            }

            .fl-input-fields_d.fl-input-fields_d-safariB {
                width:130px;
            }

            .fl-input-fields_e {
                position: relative; 
                left: 452px;
                top: -68px;
                // width: 105px;
            }

            .alignments-graphics_a {
                width:73px;
            }

            .alignments-graphics_b {
                width:130px;
            }

            .fl-scan-and-identity_a {
                width:162px;
            }

            .controlAccess_a {
                width: 124px;
            }

            .controlAccess_b {
                width: 136px;
            }

            .controlsAccess_c {
                position: relative;
                left: 250px;
                top: -31px;
            }

            .controlTools_a {
                width:155px;
            }

            .controlTools_b {
                width:118px;
            }

            .controlTools_c {
                width:122px;
            }

            

        }

        .fl-tab-bluebar {
            height: 22px;
            background-color: rgb(207, 219, 226);
            position: absolute;
            width: 100%;
            border-bottom: 1px solid #BAC3C8;
        }

    }
    
}

#fl-workspace-tab-controls, #fl-workspace-tab-properties, #fl-workspace-tab-layout, /*#fl-workspace-tab-controls-generate-object,*/ #fl-workspace-tab-reqestview  {
    overflow:hidden;
    white-space:nowrap;

    .left-arrow-wrapper, .right-arrow-wrapper {
        top:23px;
        height:77%;
    }

}

#fl-workspace-tab-reqestview {
    .left-arrow-wrapper, .right-arrow-wrapper {
        top:23px;
        height:66%;
    }
}



.fl-workspace-control-default, .fl-workspace-control-classic {
    @include pos-rel(auto, auto, auto, auto);
}

.fl-controlsv2-main-warpper-default.default-theme-dark {
    #fl-form-basic-options {
        background-color:#4a4a4a;
        border-top: 1px solid #3B3B3C;
        border-left: 1px solid #3B3B3C;
        border-right: 1px solid #3B3B3C;
    
    }

}

.fl-workspace-control-default.default-theme-dark { 
     
    background-color:#4a4a4a !important;
    border: 1px solid #3B3B3C !important;
    // height: 110px !important;

    button.hover-enabled {
        span {
            @include pos-rel(2px, auto, auto, 3px);
            color:#A7A7A7; 

            &:hover {
                color:#ffffff !important;
            }
        }
    }

    button {
        span {
            @include pos-rel(2px, auto, auto, 3px);
            color:#A7A7A7; 

            &:hover {
                color:#ffffff !important;
            }
        }
    }

    .tab-wrapper {
        
        .fl-tab-bluebar {
            top: 1px;    
            background-color:#4a4a4a !important;
            border-bottom: 1px solid #3B3B3C !important;
        }

        .fl-workspace-control-content-wrapper {
            
            label {
                color:#A4A7A7;
                font-size:12px;
            }
            .fl-fb-wrapper {
                .fl-form-contr-hd {
                    background-color:#4a4a4a;
                    border-bottom: 1px solid #3B3B3C;
                    span {    
                        color: #A4A7A7;
                        font-family: droid_sansregular_bold;
                    }
                }
            }

            .fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-controlRuler, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents, .fl-controls-controlformControlPanel   {
                border-right: 1px solid #3B3B3C;
                height:110px;
            }

            button {
                
                margin-bottom: 4px;
            }

        }

        #fl-workspace-tab-controls {

            .fl-controls-controlBasic {
                .fl-input-fields_e {
                    left: 463px;
                    top: -93px;
                }
            }

            .fl-controls-controlUserInterface {
                .alignments-graphics_a {
                    width:107px;
                }

                .alignments-graphics_c {
                    width:116px;
                }
                    
                @-moz-document url-prefix(){
                    
                    .alignments-graphics_c {
                        width:133px;
                    }
                       
                }

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
                    .alignments-graphics_c {
                        width:122px;
                    }
                }

            }

            .fl-controls-controlScanAndIdentities {
                border:none;
            }
        }

        #fl-workspace-tab-properties {
            .fl-controls-controlAccess {
                .controlsAccess_c {
                    top:-40px;
                }
            }

            .fl-controls-controlTools {
                width: 457px;
                
                .controlTools_a {
                    width:165px;
                }
    
                @-moz-document url-prefix(){

                    .controlTools_a {
                        width:170px;
                    }
                }

                .controlTools_b  {
                    width: 136px;
                }
                .controlTools_c  {
                    width: 150px;
                }
                
            }

            @-moz-document url-prefix(){
                .fl-controls-controlTools {
                    width:470px;
                }
            }

            .fl-controls-genProperties {
                width:450px;
                .section {
                    margin-top:10px;
                }

                label {
                    color: #A7A7A7;
                    font-size: 12px;
                }

                .fl-textfield-type-opt .sp-replacer, span.spanbutton {
                    border: 1px solid #3B3B3C !important;
                }

                .fl-textfield-type-opt .full-spectrum {
                    background:transparent !important;
                }
            }

            .fl-controls-controlformEvents {
                
            }
        }

        #fl-workspace-tab-layout {
            .fl-controls-controlformEvents, .fl-controls-controlformDesign {
                border:none;
            }

        }

        #fl-workspace-tab-dept {
            .fl-controls-controlDept {
                width: 100%;
                height: 110px;
            }
        }

        #fl-workspace-tab-pagelayout {
            .fl-controls-controlRuler {
                border-right:none;
            }
        }

        #fl-workspace-tab-controls-workflow-size {
            .fl-controls-controlRuler {
                border-right:none;
            }
        }

        #fl-workspace-tab-controls-report-controls {
            .fl-controls-control-reportAccess {
                border-right:none;
            }
        }

        #fl-workspace-tab-controls-generate-object {
            .fl-controls-controlGenerateaddedObjects {
                .appendObjectsHere {
                  
                }
            }
        }

        #fl-workspace-tab-controls-controlHtmlValues {
            .fl-controls-controlHtmlValues {
                width:100%;
            }
        }

        #fl-workspace-tab-controls-generate-size{
            .fl-controls-controlRuler {
                border-right:none;
            }
        }

        #fl-workspace-tab-reqestview {
            .fl-workspace-control-wrapper {
                height:65px;
            }

            .fl-annotation-tools {
                border-right:none;
            }
        }
    }

    .left-arrow-wrapper {
        left:-1px;
    }

    .right-arrow-wrapper {
        right: -1px;
    }
}

.fl-controlsv2-main-warpper-default.default-theme-light {
    #fl-form-basic-options {
        background-color:#E0E0E0;
        border-top: 1px solid #ADABAB;
        border-left: 1px solid #ADABAB;
        border-right: 1px solid #ADABAB;
    }

}

.fl-workspace-control-default.default-theme-light {
     
    background-color:#e0e0e0 !important;
    border: 1px solid #ADABAB !important;
    // height: 110px !important;

   button {
        span {
            @include pos-rel(2px, auto, auto, 3px);
            color:#4C4949; 

            &:hover {
                color:#222222 !important;
            }
        }
    }

    .tab-wrapper {
        
        .fl-tab-bluebar {
            top: 1px;    
            background-color:#e0e0e0 !important;
            border-bottom: 1px solid #ADABAB !important;
        }

        .fl-workspace-control-content-wrapper {
            
            label {
                color:#222222;
                font-size:12px;
            }
            .fl-fb-wrapper {
                .fl-form-contr-hd {
                    background-color:#e0e0e0;
                    border-bottom: 1px solid #ADABAB;
                    span {    
                        color: #6B6969;
                        font-family: droid_sansregular_bold;
                    }
                }
            }

            .fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-controlRuler, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents, .fl-controls-controlformControlPanel   {
                border-right: 1px solid #ADABAB;
                height:110px;
            }

            button {
                
                margin-bottom: 4px;
            }

        }

        #fl-workspace-tab-controls {

            .fl-controls-controlBasic {
                .fl-input-fields_e {
                    left: 463px;
                    top: -93px;
                }
            }

            .fl-controls-controlUserInterface {
                .alignments-graphics_a {
                    width:100px;
                }

                @-moz-document url-prefix(){
                    .alignments-graphics_a {
                    width:107px;
                }
                }

                .alignments-graphics_c {
                    width:116px;
                }

                 @-moz-document url-prefix(){
                    
                    .alignments-graphics_c {
                        width:133px;
                    }
                       
                }
            }

            .fl-controls-controlScanAndIdentities {
                border:none;
            }
        }

        #fl-workspace-tab-properties {

            .fl-controls-controlAccess {
                .controlsAccess_c {
                    top:-40px;
                }
            }

            .fl-controls-controlTools {
                width: 457px;
                .controlTools_a {
                    width:165px;
                }
    
                 @-moz-document url-prefix(){

                    .controlTools_a {
                        width:170px;
                    }
                }

                .controlTools_b  {
                    width: 136px;
                }
                .controlTools_c  {
                    width: 150px;
                }
                
            }

             @-moz-document url-prefix(){
                .fl-controls-controlTools {
                    width:470px;
                }
            }

            .fl-controls-genProperties {
                width:450px;
                .section {
                    margin-top:10px;
                }

                label {
                    color: #6B6969;
                    font-size: 12px;
                }

                .fl-textfield-type-opt .sp-replacer, span.spanbutton {
                    border: 1px solid #ADABAB !important;
                }

                .fl-textfield-type-opt .full-spectrum {
                    background:transparent !important;
                }
            }

            .fl-controls-controlformEvents {
                
            }
        }

        #fl-workspace-tab-layout {
            .fl-controls-controlformEvents, .fl-controls-controlformDesign {
                border:none;
            }
        }

        #fl-workspace-tab-dept {
            .fl-controls-controlDept {
                width: 100%;
                height: 110px;
            }
        }

        #fl-workspace-tab-pagelayout {
            .fl-controls-controlRuler {
                border-right:none;
            }
        }

        #fl-workspace-tab-controls-workflow-size {
            .fl-controls-controlRuler {
                border-right:none;
            }
        }

        #fl-workspace-tab-controls-report-controls {
            .fl-controls-control-reportAccess {
                border-right:none;
            }
        }

        #fl-workspace-tab-controls-generate-object {
            .fl-controls-controlGenerateaddedObjects {
                .appendObjectsHere {
                  
                }
            }
        }

        #fl-workspace-tab-controls-controlHtmlValues {
            .fl-controls-controlHtmlValues {
                width:100%;
            }
        }

        #fl-workspace-tab-controls-generate-size{
            .fl-controls-controlRuler {
                border-right:none;
            }
        }

        #fl-workspace-tab-reqestview {
            .fl-workspace-control-wrapper {
                height:65px;
            }

            .fl-annotation-tools {
                border-right:none;
            }
        }
    }

    .left-arrow-wrapper {
        left:-1px;
    }

    .right-arrow-wrapper {
        right: -1px;
    }
}



.fl-workspace-control-classic {
     

    .tab-wrapper {
        
        .fl-tab-bluebar {
           
        }

        .fl-workspace-control-content-wrapper {
            
        }

        #fl-workspace-tab-reqestview {
            .fl-workspace-control-wrapper {
                height:65px;
            }

            .fl-annotation-tools {
                border-right:none;
            }
        }

    }

}


.fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-controlRuler, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents, .fl-controls-controlformControlPanel   {
    @extend %fL;
    height: 100px;
    //display:inline-block;
    border-right: 1px solid #BAC3C8;
    position:relative //for bluebar
}

.fl-controls-controlBasic {	
   /*  min-width: 447px; */ //367px;  

}

//if no specific width.
.fl-workspace-control-wrapper {

    .fl-workspace-button-wrapper {
        @include padding(0px, 5px, 0px, 5px);
        @extend %box_sizing_border_box;
        height:68px;
    }

}

.tab_objects, .generate_objects, .appendObjectsHere {
    @include padding(0px, 5px, 0px, 5px);
    @extend %box_sizing_border_box;
    height:68px;

    button.getTabValue, button.getContainerValue {
        //@extend .colorfff;
        @include margin(0px, 5px, 5px, 0px);
        background-color:#CFDBE2 !important;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        max-width: 100px;
    }

    button.showObjectFields,  button.getContainerValue {
        //@extend .colorfff;
        @include margin(0px, 5px, 5px, 0px);
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        background-color:#CFDBE2 !important;
        max-width: 100px;
    }

}

.fl-controls-controlUserInterface {
    min-width: 360px; //width:164px;
    
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-width: 363px;
     }

    .fl-formImage {
        @include padding(3px, 0px, 1px, 5px);
        @extend %box_sizing_border_box;
        @extend %fL;
        @extend %cursor_pointer;		
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 63px;
        font-size:12px;     
    }

    .fl-workspace-control-image-ctrl2 {
        padding-top:0px;
        color:#A7A79E;
        margin-bottom:5px;
        span {
            @include pos-rel(2px, auto, auto, 3px);
        }
    }

    #formImage {
        @extend .input-type-file;
    }

    .section {
        .column {
           .btn-wrapper-form-ctrl {
            display:inline-block;
           }
        }
    }

}

.fl-controls-controlFiles {
    width: 172px; //width:246px;
}

.fl-controls-controlContainer {
    width:182px;
}


.fl-controls-report-basic {
    width:300px;
}

.fl-controls-controlAccess {
   /*  min-width: 384px; */
}

.fl-controls-controlTools {
    width:399px;
}

.fl-controls-genProperties {
    width:450px;
}

.fl-annotation-actions {
      width: 530px;
}


.fl-controls-genProperties {
    
    .fl-textfield-type-opt {
        label {
            @extend %fL;
            @include padding(0px, 3px, 3px, 3px);
            select {
                margin-right:0px;
                width:auto;
            }
        }

        .sp-replacer {
            @extend %border_radius3;
            vertical-align:top;
            border: 1px solid #D5D5D5 !important;
            margin-left:2px;
            .sp-preview {
                height: 9px;

            }

            .sp-dd {
                line-height:0px;
                height:auto;
            }
        }
    }
}


.fl-controls-controlPagelayout {
    width:277px;

    label {
        font-size:11px;
        padding-left:5px;
    }

    select {
        width: 74.5%;
        margin: 0px;
    }

    select.fl-orgchart-size {
        width: 68%;
    }

    select.fl-workflow-size {
        width:67%;
    }

}

.fl-controls-controlRuler {
    width: 171px;

    p, label {
        padding-left:5px;
        font-size:11px;
    }
}

.fl-controls-controlformDesign {

    label {
        padding-left:5px;
        font-size:11px;
    }

}

.fl-controls-controlformEvents {

}

.fl-controls-controlGenerateBasic {

    button[data-object-type="image"] {
        position:relative;
    }
    
    #formImage {
        @extend .input-type-file;
    }
}


.fl-controls-controlFieldAccess {
    width: 145px;
}

.fl-controls-controlScanAndIdentities, .fl-annotation-tools {
    border:none;
}


.fl-tab-wrapper-headFull {

    .fl-controls-controlBasic { //.fl-controls-controlRuler, 
        width:100%;
        border:none;
        @extend %fN;
    }

    .fl-controls-controlRuler {
        border:none;
    }
}


.fl-controls-control-reportAccess, .fl-controls-controlformEvents   { 
    border:none;
}


.fl-form-contr-hd {
    background-color: #cfdbe2;
    border-bottom: 1px solid #BAC3C8;
    //margin-bottom: 7px;
    color: rgb(119, 138, 150);
    @extend %box_sizing_border_box;
    @include padding(5px, 5px, 5px, 5px);
}

.contentBar_workspace.fl-workspace2-wrapper {
    //width:99.8%;
    width:auto;
    border: 1px solid #cdced1 !important;
    border-bottom: 2px solid #cdced1;
    .fl-option-toolbar {
        background-color: #f6f6f6 !important;
    }
}

#fl-tabs-formcontrolsv2 {
    @extend %fL;
    @include pos-rel(1px, auto, auto, auto);
    li {
        @extend %fL;
        @extend %cursor_pointer;
        @extend %box_sizing_border_box;
        @include padding(10px, 10px, 10px, 10px);
        @include border-top-right-radius(3px);
        @include border-top-left-radius(3px);
        margin-right:4px;
        border-top: 1px solid #cdced1;
        border-left: 1px solid #cdced1;
        font-size: 13px;
        background-color: #cfdbe2;
    }
}

.workspace.workspacev2 {
    //width:99.85% !important;
    //height:604px !important;
    border:none !important;
}

.fl-workspace.fl-workspacev2 {
    @extend %width_perc100;
    background-color: #f6f6f6;
    .fl-drop-workspace {
        @extend %width_perc100;

        .leftPointerRuler-container {
            border:none;
            z-index:9;
            height:0px;
        }

        .topPointerRuler-container {
            border:none;
            z-index:9;
        }
    }
}

.fl-worspace-headerv2 {
    @extend %fL;
}

.fl-input-form-settings {
    height:20px !important;
}

select.fl-input-form-settings, input[type="text"].fl-input-form-settings {
    padding:0px !important;
}

.border-right {
    border-right:1px solid #ddd;
}

.border-bottom {
    border-bottom:1px solid #ddd;
}

.border-top {
    border-top:1px solid #ddd;
}

.fl-workspace-fullscreen {
    @extend %cursor_pointer;
}

#fl-form-basic-options {
    @extend %box_sizing_border_box;
    @extend %fL;
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
    @include pos-rel(1px, auto, auto, auto);
    height: 33px;
    background-color: #3A4B55;
    padding: 5px;


    ul {

        li {
            @extend %cursor_pointer;
            @include margin(0px, 5px, 0px, 0px);
            display:inline-block;
            padding:0px;
            height:23px;
            width:30px;
            text-align:center;

            a{

                i.fa {
                    padding:4px;
                    color:#ffffff !important;
                }
            }
        }
        li:last-child{
            margin-right:0px;
        }
    }
}

@-moz-document url-prefix(){

    #fl-workspace-controls  {
        height:110px;
        .tab-wrapper { 

            .fl-fb-wrapper {

                .fl-input-fields_a {
                    width: 120px;
                }

                .fl-input-fields_b {
                    width: 97px;
                }

                .fl-input-fields_c {
                    width: 105px;
                }

                .fl-input-fields_d {
                    width: 133px;
                }

                .fl-input-fields_e {

                    left: 451px;
                    top: -72px;

                }

                .fl-scan-and-identity_a {
                    width:97px;
                }

                .controlAccess_b {
                    width:129px;
                }

                .controlsAccess_c {
                   // / width:115px;
                }

                .controlTools_a {
                    width:158px;
                }

                .controlTools_b {
                    width:123px;
                }

                .controlTools_c {
                    width:124px;  
                }
                
                



            }
        }

        .fl-controls-controlBasic { 
            min-width: 463px;
        }

         .fl-controls-controlUserInterface {
            width:390px;

        }

        .fl-controls-controlFiles {
            width:156px;
        }
        .fl-controls-controlAccess {
            /* min-width:255px; */
        }

        .fl-controls-controlTools {
            width:411px;
        }
        
    }


    .fl-controls-controlContainer {
        width:192px;
    }

   .fl-controls-report-basic {
        width:318px;
    }

    #fl-form-basic-options, .fl-form-name-wrapper {
        @include pos-rel(2px, auto, auto, auto);
    }
    
    #fl-workspace-tab-controls, #fl-workspace-tab-properties, #fl-workspace-tab-layout, /*#fl-workspace-tab-controls-generate-object,*/ #fl-workspace-tab-reqestview  {
    
    overflow:hidden;
    white-space:nowrap; 

    .left-arrow-wrapper, .right-arrow-wrapper {
            top:23px;
            height:77%;
        }
    }

    #fl-workspace-tab-reqestview {
        .left-arrow-wrapper, .right-arrow-wrapper {
            top:23px;
            height:66%;
        }
    }

    .fl-workspace-control-default, .fl-workspace-control-classic {
        @include pos-rel(auto, auto, auto, auto);
    }

    .fl-workspace-control-default {
         
        background-color:#4a4a4a !important;
        border: 1px solid #3B3B3C !important;
        //height: 114px !important;
        
        .tab-wrapper {
            
            .fl-tab-bluebar {
                top: 0px;    
                background-color:#4a4a4a !important;
                border-bottom: 1px solid #3B3B3C !important;
            }

            .fl-workspace-control-content-wrapper {
                label {
                    color:#A4A7A7;
                    font-size:12px;
                }
                .fl-fb-wrapper {
                    .fl-form-contr-hd {
                        background-color:#4a4a4a;
                        border-bottom: 1px solid #3B3B3C;
                        span {    
                            color: #A4A7A7;
                            font-family: droid_sansregular_bold;
                        }
                    }
                }

                .fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-controlRuler, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents   {
                    border-right: 1px solid #3B3B3C;
                    height:114px;
                }

                button {
                    margin-bottom: 4px;
                }

            }

            #fl-workspace-tab-controls {

                .fl-controls-controlBasic {
                   
                    .fl-input-fields_a {
                        width: 128px;
                    }

                    .fl-input-fields_b {
                        width:100px;
                    }

                    .fl-input-fields_c {
                        width:111px;
                    }

                    .fl-input-fields_d {
                        width:145px;
                    }

                    .fl-input-fields_e {
                        left: 475px;
                        top: -93px;
                    }

                }
    
                .fl-controls-controlUserInterface {
                    .alignments-graphics_a {
                        width:105px;
                    }

                    .alignments-graphics_b {
                        width:135px;
                    }

                    .alignments-graphics_c {
                        width:116px;
                    }

                    .fl-workspace-control-image-ctrl2 {
                        left:4px;
                        padding-top:0px;
                        color:#A7A79E;
                        margin-bottom:5px;
                        span {
                            @include pos-rel(2px, auto, auto, 3px);
                        }
                    }
    
                    @-moz-document url-prefix(){ 

                        .fl-workspace-control-image-ctrl2 {
                            left:2px;
                            width:71px;
                            padding-top:0px;
                            color:#A7A79E;
                            margin-bottom:5px;
                            span {
                                @include pos-rel(2px, auto, auto, 3px);
                            }
                        }

                    }

                }

                .fl-controls-controlFiles {
                    width:169px;
                }

                .fl-controls-controlScanAndIdentities {
                    border-right:none;
                    .fl-scan-and-identity_a {
                       width: 145px; 
                    }
                    
                }

            }

            #fl-workspace-tab-properties {
                
                .fl-controls-controlAccess {
                    
                    .controlAccess_a {
                        width:128px;
                    }
                    .controlAccess_b {
                        width:144px;
                    }
                    

                    .controlsAccess_c {
                        top:-40px;
                        left:263px;
                    }
                }

                .fl-controls-controlTools {

                    .controlTools_a {
                        width:169px;
                    }
                    .controlTools_b  {
                        width: 126px;
                    }
                    .controlTools_c  {
                        width: 150px;
                    }
                    
                }

                .fl-controls-genProperties {
                    width:450px;
                    .section {
                        margin-top:10px;
                    }

                    label {
                        color: #A7A7A7;
                        font-size: 12px;
                    }

                    .fl-textfield-type-opt .sp-replacer, span.spanbutton {
                        border: 1px solid #3B3B3C !important;
                    }

                    .fl-textfield-type-opt .full-spectrum {
                        background:transparent !important;
                    }
                }

                .fl-controls-controlformEvents {
                    
                }
            }

            #fl-workspace-tab-layout {
                .fl-controls-controlformEvents {
                    border:none;
                }
            }

        }

    }


}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

     #fl-workspace-controls  {
        height:110px;
        .tab-wrapper { 

            .fl-fb-wrapper {

                .fl-input-fields_a {
                    width: 120px;
                }

                .fl-input-fields_b {
                    width: 97px;
                }

                .fl-input-fields_c {
                    width: 105px;
                }

                .fl-input-fields_d {
                    width: 133px;
                }

                .fl-input-fields_e {

                    left: 451px;
                    top: -72px;

                }

                .fl-scan-and-identity_a {
                    width:97px;
                }

                .controlAccess_b {
                    width:129px;
                }

                .controlsAccess_c {
                   // / width:115px;
                }

                .controlTools_a {
                    width:158px;
                }

                .controlTools_b {
                    width:123px;
                }

                .controlTools_c {
                    width:124px;  
                }

            }
        }

        .fl-controls-controlBasic { 
            min-width: 463px;
        }

         .fl-controls-controlUserInterface {
            width:390px;

        }

        .fl-controls-controlFiles {
            width:156px;
        }
        .fl-controls-controlAccess {
            /* min-width:255px; */
        }

        .fl-controls-controlTools {
            width:411px;
        }
        

    } 

    .fl-controls-controlContainer {
        width:192px;
    }

   .fl-controls-report-basic {
        width:318px;
    }

    #fl-form-basic-options, .fl-form-name-wrapper {
        @include pos-rel(2px, auto, auto, auto);
    }
    
    #fl-workspace-tab-controls, #fl-workspace-tab-properties, #fl-workspace-tab-layout, /*#fl-workspace-tab-controls-generate-object,*/ #fl-workspace-tab-reqestview  {
    
    overflow:hidden;
    white-space:nowrap; 

    .left-arrow-wrapper, .right-arrow-wrapper {
            top:23px;
            height:77%;
        }
    }

    #fl-workspace-tab-reqestview {
        .left-arrow-wrapper, .right-arrow-wrapper {
            top:23px;
            height:66%;
        }
    }

    .fl-workspace-control-default, .fl-workspace-control-classic {
        @include pos-rel(auto, auto, auto, auto);
    }

    .fl-workspace-control-default {
         
        background-color:#4a4a4a !important;
        border: 1px solid #3B3B3C !important;
        //height: 114px !important;
        
        .tab-wrapper {
            
            .fl-tab-bluebar {
                top: 0px;    
                background-color:#4a4a4a !important;
                border-bottom: 1px solid #3B3B3C !important;
            }

            .fl-workspace-control-content-wrapper {
                label {
                    color:#A4A7A7;
                    font-size:12px;
                }
                .fl-fb-wrapper {
                    .fl-form-contr-hd {
                        background-color:#4a4a4a;
                        border-bottom: 1px solid #3B3B3C;
                        span {    
                            color: #A4A7A7;
                            font-family: droid_sansregular_bold;
                        }
                    }
                }

                .fl-controls-controlBasic, .fl-controls-controlUserInterface, .fl-controls-controlFiles, .fl-controls-controlContainer, .fl-controls-controlAccess, .fl-controls-report-basic, .fl-controls-controlPagelayout, .fl-controls-controlRuler, .fl-controls-controlTools, .fl-controls-controlFieldAccess, .fl-controls-controlScanAndIdentities, .fl-controls-genProperties, .fl-controls-controlformDesign, .fl-controls-controlRuler, .fl-controls-control-reportAccess, .fl-controls-controlGenerateBasic, .fl-annotation-actions, .fl-annotation-tools, .fl-controls-controlformEvents   {
                    border-right: 1px solid #3B3B3C;
                    height:114px;
                }

                button {
                    margin-bottom: 4px;
                }

            }

            #fl-workspace-tab-controls {

                .fl-controls-controlBasic {
                   
                    .fl-input-fields_a {
                        width: 128px;
                    }

                    .fl-input-fields_b {
                        width:100px;
                    }

                    .fl-input-fields_c {
                        width:111px;
                    }

                    .fl-input-fields_d {
                        width:145px;
                    }

                    .fl-input-fields_e {
                        left: 475px;
                        top: -93px;
                    }

                }
    
                .fl-controls-controlUserInterface {
                    .alignments-graphics_a {
                        width:105px;
                    }

                    .alignments-graphics_b {
                        width:135px;
                    }

                    .alignments-graphics_c {
                        width:122px;
                    }

                    .fl-workspace-control-image-ctrl2 {
                        left:4px;
                        padding-top:0px;
                        color:#A7A79E;
                        margin-bottom:5px;
                        span {
                            @include pos-rel(2px, auto, auto, 3px);
                        }
                    }
    
                    @-moz-document url-prefix(){ 

                        .fl-workspace-control-image-ctrl2 {
                            left:2px;
                            width:71px;
                            padding-top:0px;
                            color:#A7A79E;
                            margin-bottom:5px;
                            span {
                                @include pos-rel(2px, auto, auto, 3px);
                            }
                        }

                    }

                }

                .fl-controls-controlFiles {
                    width:169px;
                }

                .fl-controls-controlScanAndIdentities {
                    border-right:none;
                    .fl-scan-and-identity_a {
                       width: 145px; 
                    }
                    
                }

            }

            #fl-workspace-tab-properties {
                
                .fl-controls-controlAccess {
                    
                    .controlAccess_a {
                        width:128px;
                    }
                    .controlAccess_b {
                        width:144px;
                    }
                    

                    .controlsAccess_c {
                        top:-40px;
                        left:263px;
                    }
                }

                .fl-controls-controlTools {

                    .controlTools_a {
                        width:169px;
                    }
                    .controlTools_b  {
                        width: 126px;
                    }
                    .controlTools_c  {
                        width: 150px;
                    }
                    
                }

                .fl-controls-genProperties {
                    width:450px;
                    .section {
                        margin-top:10px;
                    }

                    label {
                        color: #A7A7A7;
                        font-size: 12px;
                    }

                    .fl-textfield-type-opt .sp-replacer, span.spanbutton {
                        border: 1px solid #3B3B3C !important;
                    }

                    .fl-textfield-type-opt .full-spectrum {
                        background:transparent !important;
                    }
                }

                .fl-controls-controlformEvents {
                    
                }
            }

            #fl-workspace-tab-layout {
                .fl-controls-controlformEvents {
                    border:none;
                }
            }

        }

    }

}


.default-theme-dark-fl-workspace-control-default-active {
    border-top: 1px solid #3B3B3C !important;
    border-right: 1px solid #3B3B3C !important;
    border-left: 1px solid #3B3B3C !important;
    color:#ffffff;
    background-color: #4a4a4a !important;

    i.fa {
        color:#ffffff !important;
    }

}

.default-theme-dark-fl-workspace-control-default-inactive {
    background-color: rgb(123, 121, 121) !important;
    color:#ffffff;
    border:none !important;
}

.default-theme-light-fl-workspace-control-default-active {
    border-top: 1px solid #ADABAB !important;
    border-right: 1px solid #ADABAB !important;
    border-left: 1px solid #ADABAB !important;
    color:#222222;
    background-color: #e0e0e0 !important;

    i.fa {
        color:#222222 !important;
    }

}

.default-theme-light-fl-workspace-control-default-inactive {
    background-color: rgb(123, 121, 121) !important;
    color:#ffffff;
    border:none !important;
}

.fl-workspace-control-classic-active { 
    border-top: 1px solid #cdced1;
    border-right: 1px solid #cdced1;
    border-left: 1px solid #cdced1;
    color:#4E4E4E;
    background-color:#cfdbe2 !important;

}

.fl-workspace-control-classic-inactive { 

    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #CDCED1 !important;
    color: #ffffff;

}