
<!--    <div class="container">
      <div style="float: left;width:55%;padding: 10px;border-right: 1px solid #ddd;">
          <h3>Ready to say goodbye to content chaos?</h3>
          <div class="hr"></div>
          <div style="float: left;width: 100%;">
              <div id="slideshow">
                  <div>
                      <img src="/images/themes/slide/3.jpg" width="100%" height="300"/>
                      <div class="slideCaption"></div>
                  </div>
                  <div>
                      <img src="/images/themes/slide/1.png" width="100%" height="300"/>
                      <div class="slideCaption"></div>
                  </div>
                  <div>
                      <img src="/images/themes/slide/2.png" width="100%" height="300"/>
                      <div class="slideCaption"></div>
                  </div>
              </div>
          </div>
          <div class="hr"></div>
          <div style="float: left;width: 100%;">
              <div style="float: left;width: 30%;margin-left: 2%;">
                  <div id="slideshow_thumb">
                      <div>
                          <img src="/images/themes/slide/formbanner.jpg" width="100%"/>
                      </div>
                  </div>
              </div>
              <div style="float: left;width:30%;margin-left: 2%;">
                  <div id="slideshow_thumb">
                      <div>
                          <img src="/images/themes/slide/formbanner.jpg" width="100%"/>
                      </div>
                  </div>
              </div>
              <div style="float: left;width:30%;margin-left: 2%;">
                  <div id="slideshow_thumb">
                      <div>
                          <img src="/images/themes/slide/formbanner.jpg" width="100%"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <form action="/ajax/regCompany" class="companyRegistration" method="POST" enctype="multipart/form-data">
          <div style="float: right;width:40%;padding: 10px;">
              <h3>Register Company Information</h3>
              <div class="hr"></div>
                      <div class="fields_below">
                          <div class="label_below">Name: <font color="red">*</font></div>
                          <div class="input_position_below">
                              <input type="text" name="companyName" class="input-registration" placeholder="Company Name"/>
                          </div>
                      </div>
                      <div style="float: left;width:50%;">
                          <div class="fields_below">
                              <div class="label_below">Code: <font color="red">*</font></div>
                              <div class="input_position_below">
                                  <input type="text" name="companyCode" class="input-registration" placeholder="Company Code"/>
                              </div>
                          </div>
                      </div>
                      <div style="float:right;width:45%;margin-right:5px;">
                          <div class="fields_below">
                              <div class="label_below">Contact Number: <font color="red">*</font></div>
                              <div class="input_position_below" style="text-align: right;">
                                  <input type="text" name="companyCNumber" class="input-registration" placeholder="Company Contact Number"/>
                              </div>
                          </div>
                      </div>
                      <!--<div class="fields_below">
                          <div class="label_below">Logo:</div>
                          <div class="input_position_below">
                              <div id="uniform-fileInput" class="uploader"><input type="file" data-action-id="1" value="upload" name="companyLogo" id="uploadForm" size="24" style="opacity: 0;" class="fileInput upfile">
                              <span id="uploadFilename_1" class="filename">No file selected</span>
                              <span class="action">Choose File</span></div>
                          </div>
                      </div>-->
              <!--<div style="float: left;width: 100%;margin-top: 25px;"></div>
                  <div style="text-align: right;">Administrator Information</div>
                  <div class="hr"></div>
                      <div style="float: left;width:50%;">
                          <div class="fields_below">
                              <div class="label_below">Email: <font color="red">*</font></div>
                              <div class="input_position_below">
                                  <input type="text" name="companyEmail" class="input-registration" placeholder="Username / Email"/>
                              </div>
                          </div>
                      </div>
                      <div style="float:right;width:45%;margin-right:5px;">
                          <div class="fields_below">
                              <div class="label_below">Display Name: <font color="red">*</font></div>
                              <div class="input_position_below" style="text-align: right;">
                                  <input type="text" name="companyDisplayName" class="input-registration"  placeholder="Default Display Name"/>
                              </div>
                          </div>
                      </div>
                      <div style="float: left;width:50%;">
                          <div class="fields_below">
                              <div class="label_below">First Name: <font color="red">*</font></div>
                              <div class="input_position_below">
                                  <input type="text" name="companyFname" class="input-registration" placeholder="First Name"/>
                              </div>
                          </div>
                      </div>
                      <div style="float:right;width:45%;margin-right:5px;">
                          <div class="fields_below">
                              <div class="label_below">Last Name: <font color="red">*</font></div>
                              <div class="input_position_below" style="text-align: right;">
                                  <input type="text" name="companyLname" class="input-registration" placeholder="Last Name"/>
                              </div>
                          </div>
                      </div>
                      <div style="float: left;width:50%;">
                          <div class="fields_below">
                              <div class="label_below">Position: <font color="red">*</font></div>
                              <div class="input_position_below">
                                  <input type="text" name="companyPosition" class="input-registration" placeholder="Company Position"/>
                              </div>
                          </div>
                      </div>
                      <div style="float:right;width:45%;margin-right:5px;">
                          <div class="fields_below">
                              <div class="label_below">Password: <font color="red">*</font></div>
                              <div class="input_position_below" style="text-align: right;">
                                  <input type="password" name="companyPassword" class="input-registration" placeholder="Password"/>
                              </div>
                          </div>
                      </div>-->
                      <!--<div style="float:left;width:45%;">
                          <div class="fields_below">
                              <div class="label_below">Display Image:</div>
                              <div class="input_position_below">
                                  <div id="uniform-fileInput" class="uploader"><input
                                  type="file" data-action-id="2" value="upload"
                                  name="companyUserPic" id="uploadForm" size="24"
                                  style="opacity: 0;" class="fileInput upfile"><span
                                  id="uploadFilename_2" class="filename">No file
                                  selected</span><span class="action">Choose
                                  File</span></div>
                              </div>
                          </div>
                      </div>-->
                      <!--<div style="float:right;width:45%;margin-right:5px;">
                          <div class="fields_below">
                              <div class="input_position_below" style="margin-top: 30px;text-align: right;">
                                  <input type="submit" class="btn-blueBtn" id="regUser" value="Register">
                              </div>
                          </div>
                      </div>
                      <div class="fields_below">
                          <div class="label_below"><font color="red">Note: </font></div>
                          <div class="input_position_below" style="margin-left:20px;">
                              (<font color="red">*</font>) <em> Are all mandatory fields.</em>
                          </div>
                      </div>
              <div class="noti"></div>
          </div>
          
      </form>
    </div>-->