table.table_data {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table_data {
    border: solid #ccc 1px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    /* -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;    */     
    font-size:12px;
    /*font-family: "HelveticaNeue_Medium";*/
}

/*.table_data tr:hover {
    background: #f4f4f4;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}*/

.table_data td, .table_data th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    /*text-align: left;*/
    vertical-align: middle;
    font-size:12px;
    /*font-family: "HelveticaNeue_Medium";*/
}

table tr:nth-child(odd) td{
    
   /* background: #FAFAFA;*/
}
table tr:nth-child(even) td{
    /*background: #f3f3f3;*/
}

.table_data th {
    background-color: #FAFAFA;
   /* background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;*/
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-size:12px;
    /*font-family: "HelveticaNeue_Medium";*/
   /* text-align:center;*/
    cursor: pointer;
    padding:5px;
    
}
.table_data td
{
    color:gray;
}
.table_data .actions
{
    text-align: center;
}
.table_data td:first-child, .table_data th:first-child {
    border-left: none;
    
}

.table_data th:first-child {
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.table_data th:last-child {
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.table_data th:only-child{
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.table_data tr:last-child td:first-child {
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.table_data tr:last-child td:last-child {
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.table_data thead tr .headerSortUp {
	background: url(../images/themes/table-records-sorting/asc.gif) no-repeat left;
}
.table_data thead tr .headerSortDown {
	background: url(../images/themes/table-records-sorting/desc.gif) no-repeat left;
}
/*
.table_data thead tr .header: {
	background: url(../images/themes/table-records-sorting/bg.gif) no-repeat left;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}*/
.sorting_disabled {
    padding-left: 6px !important;
}