<div id="fl-thread-data" style="display: none;"
     thread-id="<?= $this->thread_id ?>"
     thread-title="<?= $this->thread_title ?>"
     thread-subscribers="<?= implode(",", $this->thread_subscriber_id_list) ?>"
     thread-other-subscribers="<?= implode(",", $this->thread_other_subscriber_id_list) ?>"
     thread-other-subscriber-names="<?= implode(",", $this->thread_other_subscriber_names) ?>"
     >
</div>

<div class="hehehehe fl-widget-wrapper-scroll fl-scroll-overflow fl-widget-message-create-wrapper" style="  ">
    <div class="fl-widget-msg-content-wrapper" thread-id="<?= $this->thread_id ?>">
        <?php if ($this->thread_id != 0) : ?>
            <?php if ($this->current_user_is_subscribed) : ?>
                <?php 
                if($this->thread_fetch_end_index > (count($this->messages) - 1)){
                    $this->thread_fetch_end_index = count($this->messages) - 1;
                }
                ?>
                <?php for ($i = /*10*/$this->thread_fetch_end_index/*count($this->messages) - 1*/; $i >= /*0*/$this->thread_fetch_start_index; $i --): ?> 
                    <?php
                    $this->renderAsPartialView("/modules/messaging/view/thread_message_view.phtml", array(
                        "message" => $this->messages[$i]
                    ));
                    ?>
                <?php endfor; ?>
            <?php else: ?>
                <h1>You are not allowed to view this thread</h1>
            <?php endif; ?>
        <?php else: ?>
            <div style="text-align:center; margin-top:10px;width:100%">
                <h3><i class="fa fa-comments"></i>
                    No Selected Conversation
                </h3>
            </div>
        <?php endif; ?>
    </div>
</div><!-- MSG CONTENT WRAPPER -->

