

<!-- <link class="user_css" rel="stylesheet" type="text/css" href="/css/user_css/stylesheets/style.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/css/user_css/stylesheets/structure.css" /> 
<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font.css" />
<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font-awesome.css" />
<link rel="stylesheet" href="/css/global_css.css" />
 -->
<?php foreach ($this->threads AS $thread) : ?>

    <?php
    $thread_subscriber_count = count(explode(",", $thread["subscribers"]));
    // if($thread_subscriber_count > 2){
        // echo $thread_subscriber_count;
    ?>

    <li>
        <div id="fl-widget-user-conversation-<?= $thread["thread_id"] ?>" 
             class="fl-widget-user-conversation" 
             thread-id="<?= $thread["thread_id"] ?>" 
             unread-count="<?= $thread["unread_messages"] ?>"
             subscribers="<?= $thread["subscribers"] ?>">
            <div class="fl-avatar">

                <?php if ($thread_subscriber_count > 2): ?>
                    <i class="fa fa-3x fa-group"></i>
                <?php else: ?>
                    <img 
                        src="<?= $thread["image_url"] ?>" 
                        width="36" height="36" 
                        class="userProfile userAvatar"
                        onerror="this.src=<?= BROKEN_IMAGE; ?>"
                        />
                    <?php endif; ?>
            </div>
            <div class="fl-user-conversation-details-wrapper">
                <div class="fl-user-conversation-l-details">
                    <div class="fl-user-conversation-r-details">
                        <label class="fl-user-conversation-time" title="<?= $thread["latest_message_date_posted"] ?>"></label>
                        <div class="fl-user-conversation-action">
                            <i class="fa fa-times fl-delete-thread" thread-id="<?= $thread["thread_id"] ?>" unread-count="<?= $thread["unread_messages"] ?>"></i>
                        </div>
                        <div class="fl-user-conversation-unread-count-wrapper" thread-id="<?= $thread["thread_id"] ?>">
                            <?php if ($thread["unread_messages"] > 0): ?>
                                <div class="fl-user-conversation-unread-count" unread-count="<?= $thread["unread_messages"] ?>">
                                    <?= $thread["unread_messages"] ?> New
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="fl-user-conversation-name"><?= $thread["title"] ?></div>
                    <div class="fl-user-conversation-excerpt"><?= $thread["latest_message"] ?></div>
                </div>
                
            </div>
        </div><!-- END OF USER CONVERSATION -->
    </li>
<?php 
// }
 endforeach; ?>

<?php if ($this->total_thread_count > $this->thread_fetch_start_index + $this->default_thread_fetch_count): ?>
    <li id="fl-btn-load-more-conversation" class="fl-buttonEffect btn-basicBtn" style="text-align:center; margin-top:10px;">
        Load More    
    </li>
<?php endif; ?>