
<?php
$current_user_id = $this->current_user_id;
$message         = $this->partial_view_data["message"];
$attachment_list = array();

if (array_key_exists("attachment_url_list", $message)) {
    $attachment_list = explode(",", $message["attachment_url_list"]);
}

$message_view_class = $current_user_id == $message["author_id"] ?
        "fl-msg-user-you-wrapper" : "fl-msg-user-other-wrapper";
?>

<div class="fl-msg-wraper <?= $message_view_class ?>"
     thread-id="<?= $message["thread_id"] ?>" 
     message-id="<?= $message["id"] ?>"
     message-author-id="<?= $message["author_id"] ?>"
     >
    <div class="fl-user-avatar-wrapper">
        <img data-placement="bottom" 
             data-original-title="<?= $message["author_display_name"] ?>" 
             src="<?= $message["author_image_url"] ?>" 
             width="36" height="36" 
             class="userProfile userAvatar"
             onerror="this.src=<?=  BROKEN_IMAGE; ?>"/>
    </div>
    <div class="fl-msg-user-details">
        <div class="name droidsansbold"><?= $message["author_display_name"] ?></div>
        <label class="date timeago" title="<?= $message["date_posted"] ?>"><?= $message["date_posted"] ?></label>
    </div>    
    <div class="fl-user-msg" title="<?= $message["date_posted"] ?>">
        <?=
            preg_replace_callback('/(\\s|^|(https?:[\\\\\\/]{2})?)[a-z0-9\\-]+(?=\\.|\\\\|\\/)((\\.|\\\\|\\/)([a-z0-9\\-_]|%\\d{2})+)+(:\\d+)?((\\/[a-z0-9\\-_]+)?|\\/(?!\\/))+(\\.[a-z]+)?(\\?[^\\s]*)?(?=\\s|$)/i', function($val){
                $temp = $val[0]?:"";
                if(strpos($temp, 'http') == 0 && gettype(strpos($temp, 'http')) != 'boolean'){
                    return '<a href="'.trim($temp).'" target="blank">'.$temp.'</a>';
                }else{
                    return '<a href="http://'.trim($temp).'" target="blank">'.$temp.'</a>';
                }
            }, $message["message"] );
        ?>
        <br/>
        <div class="section clearing">
        <?php for ($i = 0; $i < count($attachment_list); $i ++): ?>
            <?php

            $attachment = $attachment_list[$i];

            if (!$attachment) {
                //  Do not render empty attachments
                break;
            }
            
            //foreach ($attachment_list AS $attachment):
            $splitted_attachment_path = explode("/", $attachment);
            $attachment_name          = $splitted_attachment_path[count($splitted_attachment_path) - 1];
            $attachment_extension     = explode(".", $attachment_name)[1];

            $image_extensions = unserialize(IMG_EXTENSION);

            $imageCount = count($attachment_list);
            $image_index = 0;
            $file_is_image = in_array($attachment_extension, $image_extensions);

            ?>            

            <?php if ($file_is_image): ?>
                
                <?php if ($image_index % 4 == 0 && $image_index !== 0): ?>
                    <!-- Generate new row -->
                    </div>
                    <div class="section clearing">
                <?php endif;?>

                <?php $image_index ++; ?>

                <div class="column div_1_of_4">
                    <div class="fl-file-image">
                        <img class="fl-file-preview-image imageView openImageView" src="/<?= $attachment ?>" height="300px;" width="300" alt="<?= $attachment_name ?>" href="/<?= $attachment ?>">
                     </div>   
                </div>
                
            <?php else: ?>
                <div class="column div_1_of_1">
                    <div class="fl-file">
                        <a href="/<?= $attachment ?>"><?= $attachment_name ?></a>
                    </div>  
                </div>
            <?php endif; ?>


        <?php endfor; ?>
    </div>
    </div>
</div>
