
<div id="fl-thread-data" style="display: none;"
     thread-id="<?= $this->thread_id ?>"
     thread-title="<?= $this->thread_title ?>"
     thread-subscribers="<?= implode(",", $this->thread_subscriber_id_list) ?>"
     thread-other-subscribers="<?= implode(",", $this->thread_other_subscriber_id_list) ?>"
     thread-other-subscriber-names="<?= implode(",", $this->thread_other_subscriber_names) ?>"
     >
</div>

<div class="fl-widget-wrapper-scroll fl-scroll-overflow fl-widget-message-create-wrapper">
    <div class="fl-widget-msg-content-wrapper" thread-id="<?= $this->thread_id ?>">
        <?php if ($this->thread_id != 0) : ?>
            <?php if ($this->current_user_is_subscribed) : ?>
                <?php for ($i = count($this->messages) - 1; $i >= 0; $i --): ?>
                    <?php
                    $this->renderAsPartialView("/modules/messaging/view/thread_message_view.phtml", array(
                        "message" => $this->messages[$i]
                    ));
                    ?>
                <?php endfor; ?>
            <?php else: ?>
                <h1>You are not allowed to view this thread</h1>
            <?php endif; ?>
        <?php else: ?>
            <div style="text-align:center; margin-top:10px;">
                <h3><i class="fa fa-comments"></i>
                    No Conversation Selected
                </h3>
            </div>
        <?php endif; ?>
    </div>
</div><!-- MSG CONTENT WRAPPER -->