<div class="column div_2_of_3 fl-mb-attention">
    <div class="fl-widget-head fl-small-widgetv2">
        <h1 id="fl-mb-head-title-attn" class="isDisplayNone"><i class="fa fa-exclamation fa-i-style"></i> Attention!!!</h1>
        <h1 id="fl-mb-head-title-announcement" ><i class="fa fa-comments-o fa-i-style"></i> Announcement:</h1>
    </div>
    <div id="fl-mb-attention-wrapper" class="fl-mb-attention-wrapper isDisplayNone">
        <div class="section clearing">
            <div class="column div_1_of_1 fl-mb-attention-to">
                <label>To:</label> <input type="text" class="form-text" id="fl-mb-to" />
            </div>
        </div>
        <div class="section clearing">
            <div class="column div_1_of_1 fl-mb-attention-fr">
                <label>From:</label> <input type="text" class="form-text" id="fl-mb-fr" />
            </div>
        </div>
        <div class="section clearing">
            <div class="column div_1_of_1 fl-mb-attention-call">
                <h1 id="fl-appointment-notification-message"></h1>
            </div>
        </div>
    </div>
    <div id="fl-mb-announcement-call" class="fl-mb-announcement-call">
        <div class="section clearing">
            <div class="column div_1_of_1 ">
                <?php
                $this->renderAsPartialView("/modules/maersk/controller/announcement_panel.php");
                ?> 
            </div>
        </div>
    </div>
</div>
