
<link rel="stylesheet" type="text/css" href="/css/user_css/stylesheets/structure.css" /> 
<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font.css" />
<link rel="stylesheet" type="text/css" href="/css/user_css/fonts/font-awesome.min.css" />

<?php $auth         = Auth::getAuth('current_user'); ?>

<div id = "current-user-info" data-socket-active = "<?php echo SOCKET_ACTIVE ?>" data-socket-server = "<?php echo SOCKET_SERVER ?>" style = "display: none;">
    <!--General Info of Users-->
    <div id = "current-user-id"><?php echo $auth['id'] ?></div>       
    <div id="current-user-company-id"><?php echo $auth['company_id'] ?></div>       
    <div id="current-user-display-name"><?php echo $auth['display_name'] ?></div>
    <div id="current-user-first-name"><?php echo $auth['first_name'] ?></div>
    <div id="current-user-last-name"><?php echo $auth['last_name'] ?></div>
    <div id="current-user-profile-link"><?php echo $current_page = 'http://' . $_SERVER['HTTP_HOST'] . '/user_view/' . $auth['last_name'] . "_" . $auth['first_name']; ?></div>    
    <div id="current-user-profile-image"><?php echo $companyUserImg ?></div>

    <!--Socket Info-->
    <div id="current-selected-message"></div>
</div>

<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>

<script src="/js/functions/sockets/common_functions.js"></script>
<script src="/js/functions/sockets/online_users.js"></script>
<script src="/js/functions/sockets/notification.js"></script>
<script src="/js/functions/sockets/reports.js"></script>
<script src="/js/functions/sockets/chat.js"></script>
<script src="/js/functions/sockets/initializer.js"></script>

<script src="/js/functions/message_app/custom_logger.js"></script>
<script src="/js/functions/extensions/maersk_custom_events_receiver.js" ></script>
<script src="/js/functions/extensions/maersk_notification_speaker.js" ></script>


<?= $this->partial_view_data["announcement"] ?>
<div class="section clearing fl-message-board-banner">
    <div class="column div_1_of_2">
       
    </div>
    <div class="column div_1_of_2">
         <h2>Maersk Filipinas Crewing, Inc.<br/>Automated Appointment Logging System</h2>
    </div
   
</div>
<div class="section clearing fl-mb-header">
     <div class="column div_1_of_2">
        <h1><i class="fa fa-bullhorn fa-i-style"></i> Message Board</h1>  
    </div>
    <div class="column div_1_of_2 fl-mb-date">
        <h1 id="fl-mb-date"></h1>
    </div>
</div>

<div class="fl-content" style="width:100%;">
    <div class="section clearing">
        <?php
            $this->renderAsPartialView("/modules/maersk/controller/appointment_notification_panel.php");
        ?> 
         
         <?php
            $this->renderAsPartialView("/modules/maersk/controller/now_serving_panel.php");
        ?>   
    </div>
</div>