<div class="column div_1_of_3 fl-now-serving-panel"> 
    <div class="fl-widget-head fl-small-widgetv2"><h1><i class=" fa fa-info fa-i-style"></i> Now Serving:</h1> </div>
    <div class="section clearing">
        <div class="column div_1_of_1 fl-now-serving-table-wrapper">
            <table id="fl-now-serving-table" style="width:100%;">
                <thead id="fl-now-serving-table-header">
                    <tr>
                        <td style="width:50%;">MAERSK Personnel</td>
                        <td style="width:50%;">Attending To</td>        
                    </tr>
                </thead>
            </table> 
        </div>
    </div>
</div>
