<admin-toolbar title="Admin Tool ({{main.pref.COMPANY_INFO.name}})">
	<md-button class="md-raised" ng-click="main.save()">     
      Save
    </md-button>
</admin-toolbar>
<section layout="row" >
	    <md-content flex  style="top:65px">
	    	<md-subheader class="md-no-sticky">Select forms that will be visible to company page.</md-subheader>	
		<!-- 	 <md-list >
				
			  	<md-subheader class="md-no-sticky">Select forms that will be visible to company page.</md-subheader>
			  
			  <md-list-item ng-repeat="topping in main.toppings">
			    <p> {{ topping.formName }} </p>
			    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
			    <md-divider></md-divider>
			  </md-list-item>

			  <md-divider></md-divider>

			</md-list>
 -->
			
			 <table ng-table="main.customConfigParams" class="table   table-striped" show-filter="true">
			    <tr ng-repeat="user in $data">
			    	 <td title="''"  width="10%">
			           <md-checkbox class="md-secondary" aria-label="{{user.formId}}" ng-model="user.selected"></md-checkbox>
			       </td>
			        <td title="'ID'" filter="{ formId: 'number'}" width="20%" sortable="'formId'">
			            {{user.formId}}</td>
			        <td title="'Name'" filter="{ formName: 'text'}" sortable="'formName'">
	
			            {{user.formName}}
			       
			            
			        </td>

			    </tr>
			</table>
			

		    <div flex></div>
		</md-content>
</section>

