
<style>
    .fl-online-user-avatar-wrapper {
        margin:5px;
    }

</style>
<div id="fl-ui-announcement-online-users-content" class="hellow fl-widget-wrapper-scroll fl-scroll-overflow ps-container ps-active-y" data-online-user-count="<?= count($onlineUsers) ?>" > <!-- style="margin: 4px;" -->
    <!--<div nline-users-reminder">
            Filter: 
            <input id="fl-filter-online-users"/>        
        </div>-->
	<?php if ($currentUser): ?>
		<ul id="fl-ul-online-users">
			<?php foreach ($onlineUsers AS $user): ?>
				
				<?php
				$table      = "tbuser";
				$id_encrypt = md5(md5($user["id"]));
				$size       = "small";

				$userImage     = '/images/formalistics/' . $table . '/' . $id_encrypt . '/' . $size . '_' . $id_encrypt . '.' . $user["extension"];

				// if(!$user["thread_id"]){
				// 	$user["thread_id"] = 0;
				// }
				// $newMessageURL = "/user_view/message-app?recp=" . $user["id"] . "&recpname=" . $user["display_name"];
				// $viewThreadURL = "/user_view/message-app?threadId=" . $user["thread_id"];

				// $linkStyle = "";
				// if ($user["unread_messages"] > 0) {
				// 	$linkStyle = "color: red;";
				// }

				$user = array_map('utf8_encode', $user);
				?>

				<li class="user-online" data-keyword="<?= $user["display_name"] ?>" data-user-id="<?= $user["id"] ?>" data-thread-id="<?= $user["thread_id"] ?>" data-unread-count="<?= $user["unread_messages"] ?>">
					<div>
						<img src="<?= $userImage ?>" alt="" style="vertical-align: middle; width: 28px; height: 28px;">
						<span><?= $user["display_name"] ?></span>
					</div>
				</li>
			<?php endforeach; ?>
		</ul>
	<?php else: ?>
		<h5>Your login has expired, <a href="/login">click here</a> to login again</h5>
	<?php endif; ?>
</div>