
<script id="fl-portal-tab-template" type="text/x-handlebars-template">
<li id="{{id}}" class="fl-portal-tab" data-closable="{{is_closable}}" data-tab-target-id="{{target}}">
    {{title}}
    {{#if is_closable}}
    <span class="fl-portal-tab-action-close"><i class="fa fa-times"></i></span>
    {{/if}}
</li>
</script>

<script id="fl-portal-form-creation-template" type="text/x-handlebars-template">
<div 
    class="fl-table-wrapper toggleParent fl-home-object" 
    fl-data="dashboard" 
    fl-data-application-id="{{id}}" 
    fl-data-type="request_form" >
    <div class="fl-widget-head">
        <div class="widget-icon-wrapper">
            <span class="modules icon"></span>
            <span class="widget-title">{{name}}</span>
            <div class="fl-toolbar-right-wrapper">
                <?php $this->renderAsPartialView("/layout/option_toolbar_buttons.php") ?>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="fl-report-wrapper-content" fl-data-form-id="{{id}}" fl-data-request-id="0">
        <div align="center" style="width:100%;height: 100%; min-height:510px;">
            <iframe 
                id="request_form_{{id}}" class="fl-iframe-portal"
                style="width:100%;height: 100%; min-height:500px; overflow-x:hidden;" 
                src="{{create_request_link}}">
            <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
    </div>
</div>
</script>

<script id="fl-portal-loading-form-creation-template" type="text/x-handlebars-template">
<div id="ui-portal-loading">
    <div class="ui-portal-loading-innner-wrapper">
        <div class="ui-portal-loading-innner">
            <div class="ui-app-portal-display">        
                <i class="fa fa-refresh fa-spin fa-3x"></i>
            </div>
        </div>
    </div>
</div>
</script>