

		<ul data-auth-id='<?= $currentUser['id']; ?>' data-auth-name='<?= $currentUser['display_name'];?>' id="fl-ul-online-users" class="online-list-single" data-online-user-count="<?= count($onlineUsers) ?>">
			<?php foreach ($onlineUsers AS $user): ?>
				
				<?php
				$table      = "tbuser";
				$id_encrypt = md5(md5($user["id"]));
				$size       = "small";

				$userImage     = '/images/formalistics/' . $table . '/' . $id_encrypt . '/' . $size . '_' . $id_encrypt . '.' . $user["extension"];


				// $user = array_map('utf8_encode', $user);
				?>

				<li class="user-online online" data-keyword="<?= $user["display_name"] ?>" data-user-id="<?= $user["id"] ?>" thread-id="<?= $user["thread_id"] ?>" data-unread-count="<?= $user["unread_messages"] ?>" chat-type="solo" > 

					<div>
                    <?php if($user["unread_messages"] > 0){ ?>
                        <div class="chat-notifs">
                            <div class="chat-notification-count"><?= $user["unread_messages"] ?></div>
                        </div>
                    <?php }?>
						<img src="<?= $userImage ?>" alt="" onerror="this.src=<?=  BROKEN_IMAGE; ?>;" style="vertical-align: middle; width: 28px; height: 28px;">
						<span style="display: inline-block;width: 120px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align:middle;height:15px;"><?= $user["display_name"] ?></span>

					</div>
				</li>
			<?php endforeach; ?>
			<li style="height:24px;" hidden id="nomatch"><div style="padding-top: 7px"><center><span style="">No Match Found!</span></center>
			</div>
			</li>
		</ul>