
<?php
$functions = new functions();
?>

<style type="text/css">

    .icon-svg.fl-selectable-form-svg, .fl-selectable-form-actions {
        /* float: top;*/
        width: 100%; 
        height: 100%;
    }

    .fl-selectable-form-name {
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 14px;
    }

    .fl-selectable-form {
        /* position: relative;
         float: left;*/
        width: 100%; 
        height: 100%;
        position:relative;
        display:table;

    }

    .fl-selectable-form:hover {
        /* padding: 5px;*/
        box-sizing: border-box;
    }

    .fl-selectable-form-actions-inner {
        height: 100%;
        display: table;
        text-align: center;
        /*display: none;*/
        opacity: 0;
    }    

    .fl-selectable-form:hover .fl-selectable-form-actions-inner{
        /*display:block;*/
        opacity: 1;
        background-image: url(../../../images/svg-bgs/transbg.png);
        padding: 2px;
        border-radius: 3px;

    }

    .fl-selectable-form-actions-inner .fl-selectable-form-actions-menu {
        display: table-cell;
        vertical-align: middle;
    }

    .fl-selectable-form-actions-menu a {
        color: #ffffff;
        padding: 2px;
        display: inline-block;
        border-radius: 3px;
    }


    .fl-selectable-form .fl-selectable-form-actions-inner {
        /*display: none;
        opacity: 0;*/
    }

    /* .fl-selectable-form .fl-selectable-form-actions-inner {
         display:block;
     }*/



    .fl-selectable-form-actions {
        position: absolute;
        top: 0px;
        left: 0px;
        /*background-color: #F4735A;
        opacity: 0.2; 
        padding: 5px;*/
        box-sizing: border-box;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

</style>

<div class="fl-option-toolbar">
    <div class="fl-toolbar-left-wrapper">
        <span class="droidsansbold">Select an app </span>
    </div>
    <div class="fl-toolbar-right-wrapper">

        <div class="fl-search-wrapper">
            <input type="text" placeholder="Search Application" id="appSearch"> 
            <input type="button" value="" class="search icon fl-search-icon-list" id="btnappSearch">
        </div>
    </div>    
</div>

<?php
$form_counter = 0;
?>    

<div class="fl-filtered-selectable-forms-container section clearing">
    <ul id="fl-ui-app-content"></ul>
</div>

<div id="fl-ui-app-wrapper" class="fl-form-selection fl-all-selectable-forms-container">
    <ul id="fl-ui-app-content">
        <?php foreach ($this->modules AS $category_forms): ?>
            <?php foreach ($category_forms AS $form): ?> 
                <li data-icon-key="<?= str_replace("#", "", $form["portal_icon"]) ?>">
                    <div class="fl-selectable-form" data-form-name="<?= $form["form_name"] ?>">

                        <svg  class="icon-svg fl-selectable-form-svg" viewBox="-1 -1 91.264 90.597">                
                        <?php if ($form["portal_icon"]): ?>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?= $form["portal_icon"] ?>"></use>
                        <?php else: ?>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-fbuilder-01"></use>
                        <?php endif; ?>
                        </svg>
                        <div class="fl-selectable-form-actions">
                            <div class="fl-selectable-form-actions-inner">
                                <div class="fl-selectable-form-actions-menu">
                                    <!--<a class="fl-selectable-form-action" data-action="create" data-form-id="<?= $form["form_id"] ?>" target="blank" href="/user_view/workspace?view_type=request&formID=<?= $form["form_id"] ?>&requestID=0"> Create New </a>-->
                                    <a 
                                        class="fl-selectable-form-action" 
                                        data-action="create" 
                                        data-form-id="<?= $form["form_id"] ?>"
                                        data-form-name="<?= $form["form_name"] ?>"> Create New </a>
                                    <a class="fl-selectable-form-action" target="blank" href="/user_view/application?id=<?= $functions->base_encode_decode("encrypt", $form["form_id"]) ?>"> View Requests </a>
                                </div>
                            </div>                
                            <div class="fl-selectable-form-name"><?= $form["form_name"] ?></div>
                        </div>                                
                    </div>
                </li>
            <?php endforeach; ?>
        <?php endforeach; ?>
        <div class="clearfix"></div> 
    </ul>
</div>

<script type="text/javascript" src="../../../js/functions/portal/portal_form_selection.js"></script>
<script type="text/javascript" src="../../../js/functions/portal/portal_form_selection_ui.js"></script>
