
<!--Dependent on:
    /portal/portal_form_selection.js
    /portal/portal_form_selection_ui.js-->

<?php
$functions    = new functions();
?>

<style type="text/css">

    .icon-svg.fl-selectable-form-svg, .fl-selectable-form-actions {
        /* float: top;*/
        width: 75px; 
        height: 75px;
    }

    .fl-selectable-form-name {
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 14px;
        margin-top: 5px;
        color: #6E6E6E;
        font-size: 11px;
    }

    .fl-selectable-form {
        /* position: relative;
         float: left;*/
        width: 100%; 
        height: 100%;
        position:relative;
        display:table;
        /*-webkit-transition-timing-function: ease-in;
        -webkit-transition-duration: 0.3s;*/
    }

    .fl-selectable-form:hover {
        /* padding: 5px;*/
        box-sizing: border-box;
    }

    .fl-selectable-form-actions-inner {
        height: 100%;
        display: table;
        text-align: center;
        /*display: none;*/
        opacity: 0;
        /* -webkit-transition-timing-function: ease-in;
         -webkit-transition-duration: 0.3s;*/
    }    

    .fl-selectable-form:hover .fl-selectable-form-actions-inner{
        /*display:block;*/
        opacity: 1;
        background-image: url(../../../images/svg-bgs/transbg.png);
        padding: 2px;
        border-radius: 3px;

    }

    .fl-selectable-form-actions-inner .fl-selectable-form-actions-menu {
        display: table-cell;
        vertical-align: middle;
    }

    .fl-selectable-form-actions-menu a {
        color: #ffffff;
        padding: 2px;
        display: inline-block;
        border-radius: 3px;
        font-size:11px;
    }


    .fl-selectable-form .fl-selectable-form-actions-inner {
        /*display: none;
        opacity: 0;*/
    }

    /* .fl-selectable-form .fl-selectable-form-actions-inner {
         display:block;
     }*/



    .fl-selectable-form-actions {
        position: absolute;
        top: 0px;
        left: 0px;
        /*background-color: #F4735A;
        opacity: 0.2; 
        padding: 5px;*/
        box-sizing: border-box;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

</style>

<div class="fl-option-toolbar">
    <div class="fl-toolbar-left-wrapper">
        <span class="droidsansbold">Select an app </span>
    </div>
    <div class="fl-toolbar-right-wrapper">

        <div class="fl-search-wrapper">
            <input type="text" placeholder="Search Application" id="appSearch"> 
            <input type="button" value="" class="search icon fl-search-icon-list" id="btnappSearch">
        </div>
    </div>    
</div>

<?php
$form_counter = 0;
?>    

<div class="fl-filtered-selectable-forms-container section clearing">
    <ul class="fl-ui-app-content"></ul>
</div>

<div id="fl-ui-app-wrapper" class="fl-form-selection fl-all-selectable-forms-container fl-scroll-overflow">
    <ul class="fl-ui-app-content">
        <?php foreach ($this->modules AS $category_forms): ?>
            <?php foreach ($category_forms AS $form): ?>
                <?php $form_counter ++ ?>
                <li data-icon-key="<?= str_replace("#", "", $form["portal_icon"]) ?>">
                    <div class="fl-selectable-form" data-form-name="<?= $form["form_name"] ?>">

                        <svg  class="icon-svg fl-selectable-form-svg" viewBox="-1 -1 91.264 90.597">                
                        <?php if ($form["portal_icon"]): ?>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?= $form["portal_icon"] ?>"></use>
                        <?php else: ?>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-fbuilder-01"></use>
                        <?php endif; ?>
                        </svg>
                        <div class="fl-selectable-form-actions">
                            <div class="fl-selectable-form-actions-inner">
                                <div class="fl-selectable-form-actions-menu">
                                    <!--<a class="fl-selectable-form-action" data-action="create" data-form-id="<?= $form["form_id"] ?>" target="blank" href="/user_view/workspace?view_type=request&formID=<?= $form["form_id"] ?>&requestID=0"> Create New </a>-->
                                    <a 
                                        class="fl-selectable-form-action" 
                                        data-action="create" 
                                        data-form-id="<?= $form["form_id"] ?>"
                                        data-form-name="<?= $form["form_name"] ?>"> Create New </a>
                                    <!--<a class="fl-selectable-form-action" target="blank" href="/user_view/application?id=<?= $functions->base_encode_decode("encrypt", $form["form_id"]) ?>"> View Requests </a>-->
                                    <a 
                                        class="fl-selectable-form-action" 
                                        data-action="view" 
                                        data-form-id="<?= $form["form_id"] ?>"
                                        data-form-name="<?= $form["form_name"] ?>"> View Requests </a>
                                        <a href="/user_view/application?id=<?= $functions->base_encode_decode("encrypt", $form["form_id"]) ?>" target="_new">Tabular View</a>
                                </div>
                            </div>                
                            <div class="fl-selectable-form-name tip" data-original-title="<?= $form["form_name"] ?>" data-placement="bottom"><?= $form["form_name"] ?></div>
                        </div>                                
                    </div>
                </li>
            <?php endforeach; ?>
        <?php endforeach; ?>

        <?php if ($form_counter === 0): ?>
            <div style="
                 text-align: center;
                 vertical-align: middle;
                 line-height: 300px; ">
                <span class="ui-announcement-posted-column-header-label droidsansbold">No applications found.</span>
            </div>
        <?php endif; ?>

        <div class="clearfix"></div> 
    </ul>
</div>
