
<ul id="forma_groups">
<?php 
// echo json_encode($threads);

foreach ($this->threads AS $thread) : ?>

    <?php
    $thread_subscriber_count = count(explode(",", $thread["subscribers"]));
    $groupName = '';
    if($thread["thread_name"]){
        $groupName = $thread["thread_name"];
    }else{
        $groupName = "Group ".$thread["thread_id"];
    }
    if($thread_subscriber_count > 2){
        // echo $thread_subscriber_count;
    ?>
        <li id="fl-widget-user-conversation-<?= $thread["thread_id"] ?>" 
             class="fl-widget-user-conversation user-online" 
             thread-id="<?= $thread["thread_id"] ?>" 
             unread-count="<?= $thread["unread_messages"] ?>"
             subscribers="<?= $thread["subscribers"] ?>"
             other-subs="<?=$thread["other-subs"] ?>"
             tname="<?= $thread["thread_name"] ?>"
             chat-type="group"
             data-keyword="<?= $groupName ?>">
            <div class="fl-avatar">


                    <i class="fa fa-2x fa-group"></i>
               
            </div>
            <div class="fl-user-conversation-details-wrapper">
                <div class="fl-user-conversation-l-details">
                    <div class="fl-user-conversation-r-details">
                        <div class="fl-user-conversation-excerpt"><?=$groupName ?></div>
                        </div>
                    </div>
                    <?php if($thread["unread_messages"] > 0){ ?>
                        <div class="chat-notif">
                            <div class="chat-notification-count"><?= $thread["unread_messages"] ?></div>
                        </div>
                    <?php }?>
                    <div class="fl-user-conversation-name"><?= $thread["title"] ?></div>
                    <div class="fl-user-conversation-time" title="<?= $thread["latest_message_date_posted"] ?>" style="{<?= $thread["latest_message_date_posted"] ?> > 0?display:none,''}"></div>
                    
            </div>
        </li><!-- END OF USER CONVERSATION -->

<?php 
} 
endforeach; ?>
            <li style="height:24px;padding-bottom:7px" hidden id="nomatchg"><div style="padding-top: 7px"><center><span style="">No Match Found!</span></center>
            </div>
            </li>
</ul>
