
<?php
$icon_counter = 0;
?> 

<h3> Choose app icon</h3> <!-- <i class="fa fa-th"></i> -->

<div class="hr"></div>
<div class="content-dialog">
    <div class="section clearing">
        <?php foreach ($this->available_icons AS $icon): ?>
            <div class="column div_1_of_8 svg-icon-fbuilder-wrapper">
                <div class="custom_icon_wrapper <?= $icon["id"]?>"  id="<?= $icon["id"]?>">
                    <svg class="icon-svg svg-icon-fbuilder tip" viewBox="<?= $icon["view_box"] ?>">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="<?= $icon["href"] ?>"></use>
                    </svg>
                </div>
            </div>
            <?php $icon_counter++ ?>
            <?php if ($icon_counter % 8 == 0 && $icon_counter >= 8): ?>
            </div>
            <div class="section clearing">
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
<input id="fl-save-form-icon" type="button" class="btn-blueBtn fl-positive-btn" value="OK">
<input type="button" class="btn-basicBtn" id="popup_cancel" value="Close">