
<!-- summer note -->
<link rel="stylesheet" type="text/css" href="/css/summernote/summernote.css" />
<!--<link rel="stylesheet" type="text/css" href="/css/summernote/summernote-bs2.css" />-->
<link rel="stylesheet" type="text/css" href="/css/summernote/summernote-bs3.css" />

<?php include_once "layout/main-ui-announcement-svg.phtml"; ?>
<?php include_once "common_templates.phtml"; ?>

<div id="fl-portal-container" class="section clearing">
    <div class="column div_1_of_2 fl-ui-announcement-posted-column-wrapper">
        <?php
            $Auth = Auth::getAuth('current_user');
            $json_tbl = json_decode($Auth['json_tbl'],true);
            // var_dump($json_tbl['dashboard_property']);
        ?>
        <?php if($json_tbl['post_property'] == "1"){ ?>
        <div class="fl-ui-announment-editor-wrapper">
            <div class="fl-ui-announcement"></div>
            <div class="ui-announcements-bottom-wrapper">
                <div class="fL  ui-announcement-post-visibility">
                    <SELECT id="fl-select-post-visibility-type">
                        <!--<option value="1">Public</option>-->
                        <option value="2">Company</option>
                        <option value="3">Custom</option>
                    </SELECT>
                </div>

                <div class="fL ui-announcement-post-type">
                    <SELECT id="fl-select-post-type">
                        <option value="1">Announcement</option>
                        <option value="2">Survey</option>
                    </SELECT>
                </div>
                <div class="fR fl-ui-announcement-post-action">
                    <input id="fl-btn-clear" type="button" class="" value="Clear" />
                    <input id="fl-btn-post" type="button" class="" value="Post" />
                </div>
            </div>
        </div>
        <?php } ?>
        <div class="ui-announcements-survey-wrapper">
            <div class="ui-survey-options">
                <div class="ui-sur-opt" style="display: inline;">
                    <label>
                        <input type="checkbox" class="survey-option-multiple-res css-checkbox" id="survey-option-multiple-res">
                        <label for="survey-option-multiple-res" class="css-label"></label>
                        <span>Allow multiple response</span>
                    </label>
                </div>
                <div class="ui-sur-opt" style="display: inline;">
                    <label>
                        <input type="checkbox" class="survey-option-publish css-checkbox" id="survey-option-publish">
                        <label for="survey-option-publish" class="css-label"></label>
                        <span>Publish result</span>
                    </label>
                </div>     
            </div>
            <div class="ui-survey-response-list">
            </div>
        </div>
        <?php
        $this->renderAsPartialView("/modules/name_selection/view/widget.phtml", array(
            "widget_id" => "fl-reader-selector",
        //    "names_input_id" => "fl-readers-input",
            "names_input_id" => "listRecipient1",
            "label" => "Readers :"
        ));
        error_reporting(0);
        ?>    
        <div class="fl-ui-announcement-posted-column-header">
            <!-- <div class="fl-posted-item-hidden"></div> -->
            <svg class="icon-svg icon-svg-announcement svg-icon-bullhorn-portal" viewBox="0 0 100.264 100.597">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-bullhorn-portal"></use>
            </svg>   
            <span class="ui-announcement-posted-column-header-label droidsansbold">All Posts</span>
            <div class="fR ui-announcement-filter-posted-view">
                <select id="fl-select-post-filter-type">
                    <option value="0">All Posts</option>
                    <option value="1">News and Discussions</option>                    
                    <option value="2">Survey</option>                    
                    <!--<option value="-1">Old Announcements</option>-->                    
                </select>
            </div>
        </div>
        <div id="fl-post-list-loading-container" style="display: none;">
            <div id="ui-loading-wrapper">
                <i class="fa fa-refresh fa-spin"></i>
                <div class="ui-loading-text droidsansbold">
                    Loading posts...
                </div>
            </div>
        </div>
        <div class="fl-scroll-overflow fl-ui-announcement-posted-column">            
            <ul id="fl-post-list">
                <?php
                // $this->renderAsPartialView("/modules/portal/controller/post_list.php", array(
                //     "filter_post_type" => 0, //  all posts
                //     "from_index" => 0,
                //     "fetch_count" => 20
                // ));
                ?>
            </ul>
            <div class="fl-loading-more-posts isDisplayNone">
                <i class="fa fa-refresh fa-spin"></i>
                <span class="ui-loading-text droidsansbold">
                    Loading posts...
                </span>
            </div>
        </div>

    </div>
    <div class="column div_1_of_2 fl-ui-announcement-writer-column-wrapper">
        <div class="fl-ui-announcment-navs-wrapper">
            <ul>
                <li id="fl-action-show-composer" class="fl-portal-tab" data-tab-target-id="composer">Survey Graph</li>
                <li id="fl-action-show-apps" class="fl-portal-tab" data-tab-target-id="form-selection">Apps</li>
                <li id="fl-action-show-online-users" class="fl-portal-tab" data-tab-target-id="online-users" style="display: block;">
                    <div class="section clearing">
                        Online (<span class="fl-online-user-count">0</span>)
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="fl-ui-announcment-post-wrapper" class="fl-portal-section" data-section-id="composer">
            <?php
            $this->renderAsPartialView("/modules/portal/controller/message_board_editor_view.php", null);
            ?>
            <?php
            $this->renderAsPartialView("/modules/portal/view/message_board_survey_graph.php", null);
            ?>
        </div>
        <div id="fl-ui-announcement-apps-wrapper" class="fl-portal-section" data-section-id="form-selection">
            <?php
            $this->renderAsPartialView("/modules/portal/controller/form_selection_view.php", null);
            ?>
        </div>
        <div id="fl-ui-announcement-online-users-wrapper" class="fl-portal-section fl-ui-announcement-online-users-wrapper" data-section-id="online-users">
            <?php
            $this->renderAsPartialView("/modules/portal/controller/online_users.php", null);
            ?>
        </div>

        <div class="fl-portal-section" data-section-id="form-request-creation">

        </div>
    </div>

    <script id="fl-user-moods" type="text/template">
        <?php
        $this->renderAsPartialView("/modules/portal/view/user_moods.phtml", null);
        ?>
    </script>

</div>

<script type="text/javascript" src="/js/library/summernote/summernote_bootstrap.min.js"></script> 
<!-- <script type="text/javascript" src="/js/library/summernote/summernote.min.js"></script> -->
<script type="text/javascript" src="/js/library/summernote/summernote.js"></script>

<script type="text/javascript" src="../../../js/library/gi/jquery.ui.position.js"></script>
<script type="text/javascript" src="../../../js/library/gi/jquery.contextMenu.js"></script>

<?php if (LAUNCH_MODE === "PRODUCTION"): ?>
    <script type="text/javascript" src="../../../js/functions/portal/portal.min.js"></script>
<?php else: ?>
    <script type="text/javascript" src="../../../js/functions/portal/main.js"></script>
    <script type="text/javascript" src="../../../js/functions/portal/portal_post_list.js"></script>
    <script type="text/javascript" src="../../../js/functions/portal/portal_request_list.js"></script>
    <script type="text/javascript" src="../../../js/functions/portal/post_comments.js"></script>
    <script type="text/javascript" src="../../../js/functions/portal/portal_survey_list.js"></script>

    <script type="text/javascript" src="../../../js/functions/portal/portal_editor.js"></script>
    <script type="text/javascript" src="/js/functions/portal/announcement_posted_ui.js"></script>
<?php endif; ?>

<script type="text/javascript" src="../../../js/library/jqueryLib/jquery.linq.min.js"></script>
<script src="../../../js/library/math/big.min.js"></script>
<script src="../../../js/library/math/numeral.min.js"></script>
<script src="../../../js/library/jquery-te/jquery-te-1.4.0.min.js"></script>
<script type="text/javascript" src="../../../js/library/templating/handlebars-v3.0.3.js"></script>

<script src="../../../js/functions/name_selection/name_selection.js"></script>
<script src="../../../js/functions/portal/portal_moods.js"></script>
<script src="../../../js/functions/portal/portal_online_users.js"></script>

<script type="text/javascript" src="../../../js/functions/portal/portal_form_selection.js"></script>
<script type="text/javascript" src="../../../js/functions/portal/portal_form_selection_ui.js"></script>

<script type="text/javascript" src="../../../js/functions/portal/workarounds.js"></script>

<script type="text/javascript" src="../../../js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="../../../js/library/gi/giAreaGraph.js"></script>
<script type="text/javascript" src="../../../js/library/gi/giColumnGraph.js"></script>
<script type="text/javascript" src="../../../js/library/gi/giLineGraph.js"></script>
<script type="text/javascript" src="../../../js/library/gi/giPieChart.js"></script>
<script type="text/javascript" src="../../../js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="../../../js/library/lazyload/jquery.lazyload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".fl-ui-announcement-posted-column img").lazyload({
         effect : "fadeIn",
         container: $(".fl-ui-announcement-posted-column"),
         broken_image : $("#broken_image_post").text()
     });

    $(".fl-ui-announcement-posted-column img").lazyload({
         effect : "fadeIn",
         broken_image : $("#broken_image_post").text()
     });
})
</script>