
<?php
$application_name  = "Formalistics Portal";
$organization_name = "Global Strategic Solutions & Services";

$author_name = "gs3 Development Team";
?>

<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">

        <!--Remove comment to allow responsiveness-->
        <!--<meta name="viewport" content="width=device-width">-->        

        <script type="text/javascript" src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>        

        <link rel="stylesheet" type="text/css" href="/css/portalbootstrap/bootstrap.min.css" >        
        <script type="text/javascript" src="/js/library/bootstrap/bootstrap.js"></script> 

        <style>
            body {
                background: white;
                /*background-image: url("/public/img/lccm.png");*/
                background-size: cover;    
            }

            .global-container {
                margin: auto;
                height: 100%;
                width: 90%;
            }

            .panel-container {
                margin: auto;
                width: 900px;
                height: 550px;
            }

            .title-panel {
                float: left;
                width: 500px;
                margin-top: 180px;
                font-weight: bold;
            }

            .side-panel {
                float: left;
                margin-top: 160px;
                min-width: 300px;
                border-radius: 5px;
                background: #eaeaea;

                padding: 12px;
            }

            .cu-headline {
                /*    border-bottom: 2px solid #4585B9;*/
                color: #4585B9;
                display: inline-block;
                margin: 0px 0px -2px;
            }

        </style>

        <script type="text/javascript" src="/js/functions/portal/login.js"></script>

    </head>
    <body>
        <div class="global-container">

            <div class="panel-container">
                <div class="title-panel">
                    <h2 class="cu-headline">
                        <?= $application_name ?>
                    </h2>
                    <h4>
                        <?= $organization_name ?>
                    </h4>
                </div>

                <div class="side-panel"> 
                    <div>
                        <h3>
                            Login
                        </h3>
                        <br>

                        <form id="form-login" action="/authenticate" method="POST" data-redirect-url="<?= APP_LANDING_PAGE ?>">                            
                            <div id="email-form-group" class="form-group">
                                <label class="control-label" for="email" style="display:none;">e-mail</label>
                                <input id="email" class="form-control" type="text" name="email" placeholder="Email"/>                                
                            </div>
                            <div id="email-form-group" class="form-group">
                                <label class="control-label" for="password" style="display:none;"></label>
                                <input id="password" class="form-control" type="password" name="password" placeholder="Password"/>                                
                            </div>
                            <button id="btn-login" type="submit" class="btn btn-success" style="width: 100%;">
                                <i class="fa fa-lock"></i> Login
                            </button>
                        </form>
                    </div>
                </div>                               
            </div>

            <hr>
            <footer style="float: right;">
                &copy; <?= $author_name ?>
            </footer>
        </div>
    </body>
</html>
