
<!--Dependent on: 
    summernote
    /portal/portal_editor.js
    name_selection/name_selection.js-->

<div class="fl-ui-announment-editor-wrapper isDisplayNone">
    <div class="fl-ui-announcement"></div>
    <div class="ui-announcements-bottom-wrapper">
        <div class="fL  ui-announcement-post-visibility">
            <SELECT id="fl-select-post-visibility-type">
                <!--<option value="1">Public</option>-->
                <option value="2">Company</option>
                <option value="3">Custom</option>
            </SELECT>
        </div>

        <div class="fL ui-announcement-post-type">
            <SELECT id="fl-select-post-type">
                <option value="1">Announcement</option>
                <option value="2">Survey</option>
            </SELECT>
        </div>
        <div class="fR fl-ui-announcement-post-action">
            <input id="fl-btn-clear" type="button" class="" value="Clear" />
            <input id="fl-btn-post" type="button" class="" value="Post" />
        </div>
    </div>
</div>      
<!-- <div class="ui-announcements-survey-wrapper">
    <div class="ui-survey-options">
        <div class="ui-sur-opt" style="display: inline;">
            <label>
                <input type="checkbox" class="survey-option-multiple-res css-checkbox" id="survey-option-multiple-res">
                <label for="survey-option-multiple-res" class="css-label"></label>
                <span>Allow multiple response</span>
            </label>
        </div>
        <div class="ui-sur-opt" style="display: inline;">
            <label>
                <input type="checkbox" class="survey-option-publish css-checkbox" id="survey-option-publish">
                <label for="survey-option-publish" class="css-label"></label>
                <span>Publish result</span>
            </label>
        </div>     
    </div>
    <div class="ui-survey-response-list">
    </div>
</div> -->

<!-- fl-reader selector old place -->
