
<style>
    .fl-online-user-avatar-wrapper {
        margin:5px;
    }
</style>
<div id="fl-ui-announcement-online-users-content" class="fl-scroll-overflow" data-online-user-count="<?= count($onlineUsers) ?>"> <!-- style="margin: 4px;" -->
    <div id="online-users-message isDisplayNone"></div>
    <div class="fl-ui-announcement-online-users-reminder">
        <?php if (count($onlineUsers) == 0): ?>            
            No online user(s).
        <?php else: ?>
            Can't see who sent you a message? <a href="/user_view/message-app" target="_blank">View All Messages Here</a>
        <?php endif; ?>
    </div>
    <!--<div class="fl-ui-announcement-online-users-reminder">
            Filter: 
            <input id="fl-filter-online-users"/>        
        </div>-->
    <?php if ($currentUser): ?>

        <ul id="fl-ul-filtered-online-users" class="isDisplayNone"></ul>
        <ul id="fl-ul-online-users">
            <?php foreach ($onlineUsers AS $user): ?>

                <?php
                $table      = "tbuser";
                $id_encrypt = md5(md5($user["id"]));
                $size       = "small";
                $userCompany    = new userQueries();
                $companyUserImg = $userCompany->avatarPic("companyUser", $user['id'], "36", "36", "small", "userProfile onlineUser userAvatar");
                // $userImage     = '/images/formalistics/' . $table . '/' . $id_encrypt . '/' . $size . '_' . $id_encrypt . '.' . $user["extension"];

                $newMessageURL = "/user_view/message-app?recp=" . $user["id"] . "&recpname=" . $user["display_name"];
                $viewThreadURL = "/user_view/message-app?threadId=" . $user["thread_id"];

                $linkStyle = "";
                if ($user["unread_messages"] > 0) {
                    $linkStyle = "color: red;";
                }

                // $user = array_map('utf8_encode', $user);
                ?>

                <li class="fl-li-online-user section clearing" data-keyword="<?= $user["display_name"] ?>">
                    <div class="fl-msg-wraper fl-msg-user-you-wrapper">
                        <div class="fl-online-user-avatar-wrapper fl-avatar pull-left" style="cursor: default;">
                            <!-- <img src="<?= $userImage ?>" alt="" width="36" height="36" class="userProfile onlineUser userAvatar"> -->
                            <?= $companyUserImg; ?>
                        </div>
                        <div class="fl-msg-user-details">
                            <div class="name user-online-name droidsansbold">
                                <?= $user["display_name"] ?>
                            </div>
                            <div class="user-online-actions">
                                <?php if ($user["thread_id"] && $user["unread_messages"] > 0): ?>
                                    <a class="fl-link-view-messages" href="<?= $viewThreadURL ?>" target="_message" style="<?= $linkStyle ?>">
                                        <?php if ($user["unread_messages"] > 1): ?>
                                            <?= $user["unread_messages"] ?> new messages
                                        <?php else: ?>
                                            <?= $user["unread_messages"] ?> new message
                                        <?php endif; ?>                                    
                                    </a>
                                    |
                                <?php endif; ?>
                                <a href="<?= $newMessageURL ?>" target="message">
                                    Send a new message
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php else: ?>
        <h5>Your login has expired, <a href="/login">click here</a> to login again</h5>
    <?php endif; ?>
</div>