
<?php
$new_fetch_index     = $this->current_fetched_index + $this->current_fetch_count;
$comments_left_count = $this->post_comment_count - $new_fetch_index;

if ($comments_left_count > 1) {
    $see_more_comments_text = "Load {$comments_left_count} more comments";
} else {
    $see_more_comments_text = "Load {$comments_left_count} more comment";
}

$moods = [
    "Happy",
    "Inspired",
    "Sad",
    "Angry",
    "Annoyed",
    "Don't Care"
];

$mood_icons = [
    'svg-icon-mood-happy-v2', //svg-icon-mood-happy
    'svg-icon-mood-inspired-v2', //svg-icon-mood-inspired
    'svg-icon-mood-sad-v2', //svg-icon-mood-sad
    'svg-icon-mood-angry-v2', //svg-icon-mood-angry
    'svg-icon-mood-annoyed-v2', //svg-icon-mood-annoyed
    'svg-icon-mood-dont-care-v2' //svg-icon-mood-dont-care
];
?>


<?php if (!property_exists($this, "post_comments")): ?>
    <div>
        <?= $this->error_message ?>
    </div>
<?php else: ?>    
    <?php foreach ($this->post_comments AS $comment): ?>

        <?php
        $current_mood_icon = "svg-icon-mood-default"; //svg-icon-mood-happy-gray
        //  Get the user's current mood
        if ($comment['user_mood'] && trim($comment['user_mood']) != '') {
            for ($i = 0; $i < count($moods); $i ++) {
                if ($comment['user_mood'] == $moods[$i]) {
                    $current_mood_icon = $mood_icons[$i];
                    break;
                }
            }
        }
        ?>

        <div class="fl-ui-comment-posted-wrapper" data-id="<?= $comment["id"] ?>">
            <div class="fl-ui-announcement-avatar-wrapper">
                <div class="fl-ui-announcement-avatar-inner">
                    <img style="width: 100%; height: 100%;" src="<?= $comment["author_image_url"] ?>" onerror="this.src=<?= BROKEN_IMAGE ?>"/>
                </div>
            </div><!-- end of avatar -->
            <div class="fl-ui-comment-posted-body-wrapper">
                <div class="fl-ui-comment-posted-names-wrapper">
                    By <span class="droidsansbold"><?= $comment["author_display_name"] ?></span>
                    <span><?= $comment["date_posted"] ?></span>
                    <?php
                    //  if this comment's author is the current user or the current user is an admin
                    if ($this->current_user["id"] == $comment["author_id"] ||
                            $this->current_user["user_level_id"] == 1 ||
                            $this->current_user["user_level_id"] == 2):
                        ?>
                        <div class="fl-ui-comment-posted-action">                        
                            <i class="fa fa-times fl-delete-post-comment" data-comment-id="<?= $comment["id"] ?>" title="Delete"></i>                        
                        </div>
                    <?php endif; ?>
                </div>
                <div class="fl-post-text-contents">
                    <?= $comment["text_content"] ?>
                </div>
                <div class="fl-action-display-comments-wrapper">                   
                    <ul class="fl-action-mood-wrapper fl-action-mood-reply-comment-wrapper">
                        <li class="fl-action-mood-inner">
                            <svg class="comment-current-user-mood-icon icon-svg icon-svg-announcement <?= $current_mood_icon ?> tip" 
                                 viewBox="0 0 100.264 100.597" 
                                 data-post-id="<?= $this->post_id ?>"
                                 data-comment-id="<?= $comment['id'] ?>"
                                 >
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $current_mood_icon ?>"></use>
                            </svg>
                            <a class="comment-current-user-mood" 
                               data-post-id="<?= $this->post_id ?>"
                               data-comment-id="<?= $comment['id'] ?>">                                   
                                   <?php if ($comment['user_mood'] == "Don't Care"): ?>
                                    You don't care about this
                                <?php elseif ($comment['user_mood'] && trim($comment['user_mood']) != ""): ?>
                                    <b>You feel <?= strtolower($comment['user_mood']) ?> about this.</b>
                                <?php else: ?>
                                    How do you feel about this?
                                <?php endif; ?>
                            </a> | 
                            <i class="loading-mood fa fa-refresh fa-spin" style="display:none;" data-comment-id="<?= $comment['id'] ?>"></i>
                            <ul class="fl-action-mood-options-wrapper" data-post-id="<?= $this->post_id ?>" data-comment-id="<?= $comment['id'] ?>">
                                <?php for ($i = 0; $i < count($moods); $i ++): ?>
                                    <?php
                                    $mood      = $moods[$i];
                                    $mood_icon = $mood_icons[$i];
                                    ?>
                                    <?php if ($comment['user_mood'] == $mood): ?>
                                        <li class="fl-action-comment-mood fl-action-your-mood" data-mood="<?= $mood ?>" data-mood-icon="<?= $mood_icon ?>">
                                            <svg class="icon-svg icon-svg-announcement <?= $mood_icon ?> tip" viewBox="0 0 100.264 100.597">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $mood_icon ?>"></use>
                                            </svg>
                                            <a class="fl-action-comment-mood" data-post-id="<?= $this->post_id ?>" data-comment-id="<?= $comment['id'] ?>" data-post-icon="<?= $mood_icon ?>" ><?= $mood ?></a>
                                            <!--<span>3 other people feel sad about this</span>-->
                                        </li>
                                    <?php else: ?>
                                        <li data-mood="<?= $mood ?>" data-mood-icon="<?= $mood_icon ?>">
                                            <svg class="icon-svg icon-svg-announcement <?= $mood_icon ?> tip" viewBox="0 0 100.264 100.597">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $mood_icon ?>"></use>
                                            </svg>
                                            <a class="fl-action-comment-mood" data-post-id="<?= $this->post_id ?>" data-comment-id="<?= $comment['id'] ?>" data-post-icon="<?= $mood_icon ?>" ><?= $mood ?></a>
                                            <!--<span>3 other people feel sad about this</span>-->
                                        </li>
                                    <?php endif; ?>
                                <?php endfor; ?>                                       
                            </ul>
                        </li>
                        <li class="fl-others-mood-inner fl-action-mood-inner" data-post-id="<?= $this->post_id ?>" data-comment-id="<?= $comment['id'] ?>">
                            <a>See other's mood.</a>
                            <ul class="fl-others-mood-wrapper fl-action-mood-options-wrapper">

                                <?php $total_moods = 0; ?>

                                <?php for ($i = 0; $i < count($moods); $i ++): ?>
                                    <?php
                                    $mood      = $moods[$i];
                                    $mood_icon = $mood_icons[$i];

                                    $user_count_column = str_replace("'", "", strtolower($mood)) . "_users_count";
                                    $user_count_column = str_replace(" ", "_", strtolower($user_count_column));
                                    $total_moods       = $total_moods + $comment[$user_count_column];
                                    ?>
                                    <?php if ($comment[$user_count_column] > 0): ?>
                                        <li class="fl-action-mood fl-action-your-mood">
                                            <svg class="icon-svg icon-svg-announcement <?= $mood_icon ?> tip" viewBox="0 0 100.264 100.597">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $mood_icon ?>"></use>
                                            </svg>

                                            <?php if ($mood == "Don't Care"): ?>
                                                <?php if ($comment[$user_count_column] > 1): ?>
                                                    <a><?= $comment[$user_count_column] ?> other people don't care about this.</a>
                                                <?php else: ?>
                                                    <a><?= $comment[$user_count_column] ?> other person doesn't care about this.</a>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($comment[$user_count_column] > 1): ?>
                                                    <a><?= $comment[$user_count_column] ?> other people feel <?= $mood ?> about this.</a>
                                                <?php else: ?>
                                                    <a><?= $comment[$user_count_column] ?> other person feels <?= $mood ?> about this.</a>
                                                <?php endif; ?>
                                            <?php endif; ?>                            
                                        </li>
                                    <?php endif; ?>
                                <?php endfor; ?>

                                <?php if ($total_moods == 0): ?>
                                    <li>No responses from other users yet</li>
                                <?php endif; ?>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <?php endforeach; ?>    
<?php endif; ?>

<?php if ($comments_left_count > 0): ?>
    <div class="fl-action-display-comments-wrapper" data-post-id="<?= $this->post_id ?>" data-current-fetch-index="<?= $new_fetch_index ?>">
        <a             
            class="fl-action-display-comments" 
            data-current-fetch-index="<?= $new_fetch_index ?>"        
            data-post-id="<?= $this->post_id ?>">
                <?= $see_more_comments_text ?>
        </a>
    </div>
<?php endif; ?>
