
<?php
$new_fetch_index  = $this->current_fetch_index + $this->fetch_count;
$posts_left_count = $this->total_post_count - $new_fetch_index;

$see_more_posts_text = "Load {$posts_left_count} more posts";
?>

<div class="isDisplayNone" 
     data-load-time="<?= $this->time_elapsed_secs ?>"
     data-post-count="<?= $this->total_post_count ?>">
</div>

<?php if (count($this->posts) == 0): ?>

    <div style="
         text-align: center;
         vertical-align: middle;
         line-height: 300px; ">
        <span class="ui-announcement-posted-column-header-label droidsansbold">No records to show</span>
    </div>

<?php endif; ?>

<?php foreach ($this->posts AS $post): ?>
    <li>
        <?php
        $this->renderAsPartialView("/modules/portal/view/post.phtml", array(
            "post"         => $post,
            "current_user" => $this->current_user
        ));
        ?>            
    </li>    
<?php endforeach; ?>

<?php if ($posts_left_count > 0): ?>
    <div id="fl-action-display-more-posts-wrapper">
        <a             
            id="fl-action-display-more-posts" 
            data-current-fetch-index="<?= $new_fetch_index ?>">
            <i class="fa fa-arrow-circle-down"></i> <?= $see_more_posts_text ?>
        </a>
    </div>    
<?php endif; ?>