
<?php
include_once APPLICATION_PATH . "/library/portal/PortalPost.php";

$post         = $this->partial_view_data["post"];
$current_user = $this->partial_view_data["current_user"];

$post_contents  = "";
$post_type_text = "";

$post_type_badge_tip   = "";
$post_type_badge_class = "ui-portal-badge-default"; //fl_badge_silver

if ($post["type"] == PortalPost::TYPE_ANNOUNCEMENT) {
    $post_contents  = $post["announcement"];
    $post_type_text = "Announcement";
} else if ($post["type"] == PortalPost::TYPE_SURVEY) {
    $post_contents   = $post["survey_question"];
    $survey_question = "survey_question";
    $post_type_text  = "Survey";

    $post["survey_my_responses"] = json_decode($post["survey_my_responses"]);
    if ($post["survey_my_responses"] == null) {
        $post_type_badge_tip   = "You haven't answered to this survey";
        $post_type_badge_class = "tip ui-portal-badge-important fl-new-post";  //fl_badge_Gold
    }
} else if ($post["type"] == PortalPost::TYPE_FORM_REQUEST) {
    $post_contents  = $post["preview"];
    $post_type_text = $post["status"];
}

$see_more_comments_text = ($post["comment_count"] > 1) ?
        "View {$post["comment_count"]} Comments" : "View {$post["comment_count"]} Comment";

$moods = [
    "Happy",
    "Inspired",
    "Sad",
    "Angry",
    "Annoyed",
    "Don't Care"
];

$mood_icons = [
    'svg-icon-mood-happy-v2', //svg-icon-mood-happy
    'svg-icon-mood-inspired-v2', //svg-icon-mood-inspired
    'svg-icon-mood-sad-v2', //svg-icon-mood-sad
    'svg-icon-mood-angry-v2', //svg-icon-mood-angry
    'svg-icon-mood-annoyed-v2', // svg-icon-mood-annoyed
    'svg-icon-mood-dont-care-v2' //svg-icon-mood-dont-care
];

$current_mood_icon = "svg-icon-mood-default"; //svg-icon-mood-mood-nav svg-icon-mood-happy-gray

for ($i = 0; $i < count($moods); $i ++) {
    if ($post['user_mood'] == $moods[$i]) {
        $current_mood_icon = $mood_icons[$i];
        break;
    }
}

//var_dump($post["followers"]);
?>

<div id="fl-post-<?= $post["id"] ?>" class="fl-ui-announcement-posted-wrapper"
     data-id="<?= $post["id"] ?>" 
     data-type-id="<?= $post["type"] ?>" 
     data-visibility-type="<?= $post["visibility_type_id"] ?>"      
     data-my-responses='<?= $survey_user_responses ?>'
     data-allow-multiple-responses='<?= $post["enable_multiple_responses"] ?>'     
     data-followers='<?= $post["post_followers"] ?>'
     data-publish-results='<?= $post["publish_results"] ?>'
     >
    <div class="fl-ui-announcement-avatar-wrapper">
        <div class="fl-ui-announcement-avatar-inner">
            <img style="width: 100%; height: 100%;" src="<?= $post["author_image_url"] ?>" onerror="this.src=<?= BROKEN_IMAGE ?>"/>
        </div>
    </div>
    <div class="fl-ui-announcement-posted-content-wrapper">
        <div class="fl-ui-announcement-icon-and-name-wrapper">
            <div class="fl-ui-announcement-icon-and-name-inner">
                <?php if ($post["type"] != PortalPost::TYPE_FORM_REQUEST): ?>
                    <svg  class="icon-svg icon-svg-announcement tip post-visibility-type-icon" 
                          data-id="<?= $post["id"] ?>"
                          data-visibility-type-id="<?= $post["visibility_type_id"] ?>"
                          style="cursor: pointer"
                          data-original-title="<?= $readers ?>" 
                          data-placement="Below"
                          viewBox="0 0 100.264 100.597">
                          <?php if ($post["visibility_type_id"] == 2): ?>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-company-post-portal"></use>
                    <?php elseif ($post["visibility_type_id"] == 3): ?>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-custom-post-portal"></use>
                    <?php endif; ?>
                    </svg>
                <?php endif; ?>
                <div class="fl-ui-announcement-name-wrapper">
                    <div class="fl-table-ellip">by <span class="droidsansbold"><?= $post["author_display_name"] ?></span>
                        <p class="fl-post-date-updated"><?= $post["date_updated"] ?></p></div>
                    <span 
                        class="<?= $post_type_badge_class ?> fl-ui-announcement-badge-wrapper" 
                        data-original-title="<?= $post_type_badge_tip ?>" title="<?= $post_type_badge_tip ?>"
                        data-placement="bottom">

                        <div><?= $post_type_text ?></div>
                        <?php if ($post["survey_my_responses"] == null && $post["type"] == PortalPost::TYPE_SURVEY): ?>
                            <svg class="icon-svg icon-svg-announcement svg-icon-survey-portal" viewBox="0 0 100.264 100.597">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" class="shake shake-slow" xlink:href="#svg-icon-survey-portal"></use>
                            </svg>  
                        <?php elseif ($post["survey_my_responses"] != null && $post["type"] == PortalPost::TYPE_SURVEY): ?>      
                            <svg class="icon-svg icon-svg-announcement svg-icon-survey-portal-dark" viewBox="0 0 100.264 100.597">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-survey-portal-dark"></use>
                            </svg>                 

                        <?php endif; ?>

                        <?php if ($post["type"] == PortalPost::TYPE_ANNOUNCEMENT): ?>
                            <svg class="icon-svg icon-svg-announcement svg-icon-bullhorn-portal-small" viewBox="0 0 100.264 100.597">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-bullhorn-portal"></use>
                            </svg>  
                        <?php endif; ?>

                        <?php if ($post["type"] == PortalPost::TYPE_FORM_REQUEST): ?>

                        <?php endif; ?>

                    </span>

                    <?php if ($post["details_link"]): ?>
                        <div class="fl-table-ellip">
                            <a href="<?= $post["details_link"] ?>" target="_blank"><?= $post["details_link_label"] ?></a>
                        </div>
                    <?php endif; ?>
                </div>
                <?php if (in_array($post["type"], array(PortalPost::TYPE_ANNOUNCEMENT, PortalPost::TYPE_SURVEY))): ?>
                    <?php $this->renderAsPartialView("/modules/portal/view/post_partials/post_actions.phtml", $post); ?>
                <?php endif; ?>
            </div>
            <div class="fl-ui-announcement-posted-body-wrapper <?= $survey_question ?> ">
                <div class="fl-post-text-contents note-editor">
                    <?= mb_convert_encoding($post_contents, "HTML-ENTITIES", "UTF-8") ?>                    
                    <div class="clearfix"></div>
                </div>

                <?php if ($post["type"] == PortalPost::TYPE_SURVEY): ?>
                    <?php $this->renderAsPartialView("/modules/portal/view/post_partials/survey_actions.phtml", $post); ?>
                <?php endif; ?>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <?php if (in_array($post["type"], array(PortalPost::TYPE_ANNOUNCEMENT, PortalPost::TYPE_SURVEY))): ?>
        <?php $this->renderAsPartialView("/modules/portal/controller/write_post_comment.php", $post); ?>        

        <div class="fl-action-display-comments-wrapper" data-post-id="<?= $post["id"] ?>">        
            <ul class="fl-action-mood-wrapper">            
                <li class="fl-action-mood-inner">
                    <svg class="post-current-user-mood-icon icon-svg icon-svg-announcement <?= $current_mood_icon ?> tip" viewBox="0 0 100.264 100.597"  data-post-id="<?= $post['id'] ?>" data-comment-id="0">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $current_mood_icon ?>"></use>
                    </svg>
                    <a class="post-current-user-mood" data-post-id="<?= $post['id'] ?>">
                        <?php if ($post['user_mood'] == "Don't Care"): ?>
                            You don't care about this.
                        <?php elseif ($post['user_mood'] && trim($post['user_mood']) != ""): ?>
                            <b>You feel <?= strtolower($post['user_mood']) ?> about this.</b>
                        <?php else: ?>
                            How do you feel about this?
                        <?php endif; ?>
                    </a> | 
                    <i class="loading-mood fa fa-refresh fa-spin" style="display:none;" data-post-id="<?= $post['id'] ?>"></i>
                    <ul class="fl-action-mood-options-wrapper" data-post-id="<?= $post['id'] ?>" data-comment-id="0">
                        <?php for ($i = 0; $i < count($moods); $i ++): ?>
                            <?php
                            $mood      = $moods[$i];
                            $mood_icon = $mood_icons[$i];
                            ?>
                            <?php if ($post['user_mood'] == $mood): ?>
                                <li class="fl-action-your-mood" data-mood="<?= $mood ?>" data-mood-icon="<?= $mood_icon ?>">
                                    <svg class="icon-svg icon-svg-announcement <?= $mood_icon ?> tip" viewBox="0 0 100.264 100.597">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $mood_icon ?>"></use>
                                    </svg>
                                    <a class="fl-action-mood" data-post-id="<?= $post['id'] ?>" data-post-icon="<?= $mood_icon ?>"><?= $mood ?></a>
                                    <!--<span>3 other people feel sad about this</span>-->
                                </li>
                            <?php else: ?>
                                <li data-mood="<?= $mood ?>" data-mood-icon="<?= $mood_icon ?>">
                                    <svg class="icon-svg icon-svg-announcement <?= $mood_icon ?> tip" viewBox="0 0 100.264 100.597">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $mood_icon ?>"></use>
                                    </svg>
                                    <a class="fl-action-mood" data-post-id="<?= $post['id'] ?>" data-post-icon="<?= $mood_icon ?>" ><?= $mood ?></a>
                                    <!--<span>3 other people feel sad about this</span>-->
                                </li>
                            <?php endif; ?>
                        <?php endfor; ?>
                    </ul>
                </li>
                <li class="fl-others-mood-inner fl-action-mood-inner" data-post-id="<?= $post['id'] ?>" data-comment-id="0">
                    <a class="see-others-mood-text">See other's mood</a> <?php if ($post["comment_count"] > 0): ?> | <?php endif; ?>
                    <ul class="fl-others-mood-wrapper fl-action-mood-options-wrapper">

                        <?php $total_moods = 0; ?>                    

                        <?php for ($i = 0; $i < count($moods); $i ++): ?>
                            <?php
                            $mood      = $moods[$i];
                            $mood_icon = $mood_icons[$i];

                            $user_count_column = str_replace("'", "", strtolower($mood)) . "_users_count";
                            $user_count_column = str_replace(" ", "_", strtolower($user_count_column));
                            $total_moods       = $total_moods + $post[$user_count_column];
                            ?>
                            <?php if ($post[$user_count_column] > 0): ?>
                                <li class="fl-action-mood">
                                    <svg class="icon-svg icon-svg-announcement <?= $mood_icon ?> tip" viewBox="0 0 100.264 100.597">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<?= $mood_icon ?>"></use>
                                    </svg>

                                    <?php if ($mood == "Don't Care"): ?>
                                        <?php if ($post[$user_count_column] > 1): ?>
                                            <a><?= $post[$user_count_column] ?> other people don't care about this.</a>
                                        <?php else: ?>
                                            <a><?= $post[$user_count_column] ?> other person doesn't care about this.</a>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <?php if ($post[$user_count_column] > 1): ?>
                                            <a><?= $post[$user_count_column] ?> other people feel <?= strtolower($mood) ?> about this.</a>
                                        <?php else: ?>
                                            <a><?= $post[$user_count_column] ?> other person feels <?= strtolower($mood) ?> about this.</a>
                                        <?php endif; ?>
                                    <?php endif; ?>                            
                                </li>
                            <?php endif; ?>
                        <?php endfor; ?>

                        <?php if ($total_moods == 0): ?>
                            <li>No responses from other users yet</li>
                        <?php endif; ?>

                    </ul>
                </li>
                <li>
                    <?php if ($post["comment_count"] > 0): ?>
                        <a 
                            class="fl-action-display-comments" 
                            data-current-fetch-index="0"        
                            data-post-id="<?= $post["id"] ?>">
                            <svg class="icon-svg icon-svg-announcement svg-icon-seeall-comment tip" viewBox="0 0 100.264 100.597">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-seeall-comment"></use>
                            </svg>
                            <?= $see_more_comments_text ?>
                        </a>
                        <a 
                            class="fl-action-hide-comments isDisplayNone"                               
                            data-post-id="<?= $post["id"] ?>">
                            <svg class="icon-svg icon-svg-announcement svg-icon-seeall-comment tip" viewBox="0 0 100.264 100.597">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-seeall-comment"></use>
                            </svg>
                            Hide Comments
                        </a>
                    <?php endif; ?>
                    
                </li>
            </ul>

            
        </div> 

        <div class="fl-comments-container isDisplayNone" data-post-id="<?= $post["id"] ?>"></div>

        <div class="clearfix"></div>

    <?php endif; ?>
</div>
