
<?php
$new_fetch_index = $this->current_fetch_index + $this->fetch_count;

$see_more_posts_text = "Load {$posts_left_count} more requests";
?>

<div class="isDisplayNone" 
     data-load-time="<?= $this->time_elapsed_secs ?>"
     data-post-count="<?= $this->total_post_count ?>">
</div>

<?php foreach ($this->requests AS $request): ?>
    <li>
        <?php
        $this->renderAsPartialView("/modules/portal/view/post.phtml", array(
            "post"         => $request,
            "current_user" => $this->current_user
        ));
        ?>
    </li>    
<?php endforeach; ?>

<?php if ($this->requests_left > 0): ?>
    <div id="fl-action-display-more-requests-wrapper" style="margin-top: 6px;">
        <a             
            id="fl-action-display-more-requests" 
            data-current-fetch-index="<?= $new_fetch_index ?>" style="padding: 3px; border-radius: 3px; text-align: center;">
            <i class="fa fa-arrow-circle-down"></i> <?= $see_more_posts_text ?>
        </a>
    </div>    
<?php endif; ?>