

<div class="fl-ui-announcement-posted-wrapper"
     id="fl-request-<?= $request["request_id"] ?>" >

    <div class="fl-ui-announcement-avatar-wrapper">
        <div class="fl-ui-announcement-avatar-inner">
            <img style="width: 100%; height: 100%;" src="<?= $request[1]["user_image"] ?>" onerror="this.src=<?= BROKEN_IMAGE ?>"/>
        </div>
    </div>

</div>
