<?php
include_once API_LIBRARY_PATH . "/API.php";
include_once APPLICATION_PATH . "/library/user/UsersDAO.php";

//error_reporting(E_ALL);
$current_user      = Auth::getAuth('current_user');
$user_display_name = $current_user['display_name'];

$database  = new APIDatabase();
$database->connect();
$users_dao = new UsersDAO($database);

$user_image_url = $users_dao->getUserImageURL($current_user['id']);
$user_company   = $users_dao->getUserCompany($current_user["id"]);

$database->disconnect();
?>

<div class="fl-user-header-wrapper">
    <div class="fl-user-company-avatar-wrapper">
        <div id="fl-showmenu" class="fl-showMenuIcon">
            <div class="fl-toggle-menu"></div>
            <div class="fl-toggle-menu"></div>
            <div class="fl-toggle-menu"></div>
            <!-- <i class="fa fa-caret-square-o-right"></i>  Menu -->
        </div>
        <div class="fl-user-avatar-company-wrapper">
            <a href="/user_view/" style="padding:0px;">
                <img data-placement="bottom" 
                     data-original-title="<?= $user_company["name"] ?>" 
                     src="<?= $user_company["image_url"] ?>" 
                     width="36" height="36" class="userProfile userAvatar" onerror="this.src=<?=  BROKEN_IMAGE; ?>">
            </a>
        </div>
        <span class="fl-user-companyname">
            <a href="<?= APP_LANDING_PAGE; ?>"><?= $user_company["name"] ?></a>
        </span>        
    </div>
    <div class="fl-user-onlineuser-avatar-wrapper">        
        <span class="fl-user-name">
            <a href="<?= USER_VIEW; ?>account-settings" class="userProfileName">
                <?= $user_display_name ?>
            </a>
        </span>
        <div class="fl-user-avatar-wrapper">
            <img data-placement="bottom" 
                 data-original-title="<?= $current_user["display_name"] ?>" 
                 src="<?= $user_image_url ?>" 
                 width="36" height="36" class="companyPic userAvatar" onerror="this.src=<?= BROKEN_IMAGE; ?>">
        </div>
        <div class="fl-header-option">
            <ul>
                <li><a href="/user_view/"><i class="fa fa-home"></i> &nbsp;&nbsp;Formalistics Home</a></li>
                <li><a href="/user_view/account-settings"><i class="fa fa-user"></i> &nbsp;&nbsp;Edit Account</a></li>
                <li id="AppThemePicker" class="isCursorPointer">
                    <i class="fa fa-square colorfff"></i>
                    &nbsp;&nbsp;Choose Color
                    <div class="AppThemePickerInnerWrapper isDisplayNone"> <!--  -->
                        <input type='text' id="fullColors"/>
                    </div>
                </li>   
                <li>
                    <a href="/user/logout">
                        <i class="fa fa-power-off"></i>
                        &nbsp;&nbsp;Logout
                    </a>
                </li>
            </ul>   
        </div>
    </div>
</div>