
<link rel="stylesheet" type="text/css" href="/css/global_css.css" />

<script type="text/javascript" src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="/js/library/jqueryLib/jquery-migrate.js"></script>

<script type="text/javascript" src="/js/library/jqueryLib/mobile.js"></script>

<script type="text/javascript" src="/js/library/jqueryLib/jquery-ui.js"></script>

<script type="text/javascript" src="/js/library/scrollbar/perfect-scrollbar.js"></script>
<script type="text/javascript" src="/js/library/timeTogo/jquery.timeago.js"></script>

<script type="text/javascript" src="/js/functions/browser_utilities.js"></script>