
<?php include(APPLICATION_PATH . "/layout/portal_header.phtml"); ?>

<div class="fl-maincontainer">
    <?php $this->renderAsPartialView("/modules/portal/view/stand_alone_header.phtml", null); ?>
    <div class="fl-content" style="width: 100%; top: 50px;">
        <div class="fl-main-content-wrapper">                     
            <?php $this->renderAsPartialView("/modules/portal/view/index.phtml", null); ?>
        </div>
        <div class="clearfix"></div>
    </div> 
</div>

        <!--<script type="text/javascript" src="../../../js/functions/javascript_file.js"></script>-->
</body>
</html>