
<?php

    $post = $this->partial_view_data["post"];
    $current_user = $this->partial_view_data["current_user"];
?>
<?php //var_dump($post);?>

<div class="fl-request-widget" data-survey-id=<?php echo $post["id"];?> data-chart-type='<?= $post["chart_type"] ?>'>
        <div class="fl-request-widget-header note-editor" style="background: white;">
                <span><?php echo $post["survey_question"];?></span>
            </div>
            <div class="fl-request-widget-data">
               
            </div>
            <div class="survey-post-option-wrapper" style="height:22px">
            	<?php if ($post["author_id"] == $current_user["id"] || $current_user["user_level_id"] == 2 || $current_user["user_level_id"] == 1){ ?> 

                     <label>
                        <select id="survey_chart_type_<?= $post["id"] ?>" class="survey_chart_types" style="padding:0px">
                            <option <?= $post["chart_type"] == 1 ? selected : "" ?> value="1">Bar</option>
                            <option <?= $post["chart_type"] == 2 ? selected : "" ?> value="2">Line</option>
                            <option <?= $post["chart_type"] == 3 ? selected : "" ?> value="3">Column</option>
                            <option <?= $post["chart_type"] == 4 ? selected : "" ?> value="4">Area</option>
                            <option <?= $post["chart_type"] == 5 ? selected : "" ?> value="5">Pie</option>
                        </select>
                    </label>
                    <label class="isCursorPointer">
                        <input type="checkbox" <?= $post["publish_results"] == "1" ? "checked":""; ?> class="css-checkbox survey-publish-publish-survey-option" id="publish_survey_<?= $post["id"] ?>" name="post_<?= $post["id"] ?>" value="<?= $post["id"] ?>">
                        <label for="publish_survey_<?= $post["id"] ?>" class="css-label"></label>	
                        <span>Publish</span>    
                    </label>
                   

                  <?php } ?>
                  <label style="float:right" class=""><span class="survey_total_responses">Total number of responses : </span></label>
            </div>
</div>
