<?php
$post = $this->partial_view_data;
?>

<div class="fl-ui-comment-add-comment-wrapper">
    <i class="fa fa-caret-up"></i>
    <textarea 
        class="fl-ui-comment-add-comment-field" 
        data-post-id="<?= $post["id"] ?>" 
        placeholder="Add comment"></textarea>
    <span class="fl-comment-size-counter-container">
        <span class="fl-comment-size-counter" data-post-id="<?= $post["id"] ?>">200</span> Characters left
    </span>    
    <input 
        type="submit" value="Post" 
        class="fl-btn-post-comment fl-ui-comment-btn"
        disabled="disabled"
        data-post-id="<?= $post["id"] ?>">
    <div class="clearfix"></div>
</div>