<style>
	body{
		background-color: #6eb7be;
		/*background-color: #009688*/
	}
</style>
<pfp-toolbar menu-button="" title="POWERFORMS"></pfp-toolbar>
<section layout="row" flex="grow">
 	<pfp-sidebar></pfp-sidebar>

 	<md-content flex class="main-content home " layout-fill layout-padding layout-align="center center" layout="row" style="background-color:#6eb7be">
 
 	
<div flex-xs flex-gt-xs="40" layout="column" >
      <md-card style="text-align:center" class="md-whiteframe-3dp" >
        <img ng-src="./assets/images/wallpaperBannerF.jpg" class="md-card-image md-image-no-fill" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome to POWERFORMS</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content >
          <p>
            Please enter your company names. 
          </p>
	          <md-input-container  style="margin-bottom:0px" class="md-block">
			    <label style="transform-origin: center top;">Company</label>
			    <input style="text-align:center" name="company" ng-model="main.companyName" />
			</md-input-container>
        </md-card-content>
        <md-card-actions layout="column" layout-align="center">
          <md-button ng-click="main.getCompany(main.companyName)">Submit</md-button>
          <!-- <md-button>Action 2</md-button> -->
        </md-card-actions>
      </md-card>
    </div>
    

 	<!-- 
 	<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding style="position: absolute;top:70px;color:white">
	    <div>

	      <md-input-container>
	        <label>Title</label>
	        <input ng-model="user.title">
	      </md-input-container>

	      <md-input-container>
	        <label>Email</label>
	        <input ng-model="user.email" type="email">
	      </md-input-container>
	      <md-input-container class="md-block" md-no-float>
		          <label>Company</label>
		          <input name="company" ng-model="user.email" />
		</md-input-container>
	    </div>
	  </md-content> -->

 	
	<!-- <h1 class="md-display-2" hide-sm hide-xs style="position: absolute;top:50px;color:white">{{comp.Company.name}}</h1> -->
 	<!-- <h1 class="md-display-2" hide-sm hide-xs style="position: absolute;top:45px;color:white">POWERFORMS</h1> -->
 	<!-- <h1 class="md-display-1" hide-gt-sm  style="position: absolute;top:45px;color:white">POWERFORMS</h1> -->
	<!-- 	<div class="menu-demo-container" layout-align="center center" layout="column">
		 	<h1 class="md-display-2" style="position: absolute;top:-15px;color:white">POWERFORMS</h1>

		   

		</div> -->
 	</md-content>
</section>