 <div class="panel panel-default panel-scheduler">
   <!--  <a ui-sref = "collaboration({id : 4})">teststet</a>
 -->
      <collab-Scheduler class="panel-body">
        
      </collab-Scheduler>

  <!-- {{params}} -->
  </div>