<div  data-drop="!disabled" ng-model='schedule' jqyoui-droppable="{multiple:false, onDrop:'saveSched'}"   class="sched-cell-content {{disabled?'disabled':''}}">
  
  	<div  data-drag="!disabled"  data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo:'body'}" style="background:{{schedule.color}}" ng-model="schedule" class="legend-item" jqyoui-draggable="{animate:false}" title="{{schedule.description}}">
  		<div>{{schedule.title}}</div>
  	</div>
  	<div class="sched-remove" ng-click="removeSched()" ng-show="schedule"><i class="fa fa-close" ></i></div>
</div>
<!-- opacity:{{disabled?.6:1}}; -->
<!-- <div ng-if="disabled" class="sched-cell-content">
	<div style="opacity:{{disabled?.6:1}};background:{{schedule.color}}" class="legend-item">
		{{schedule.title}}
	</div>
</div>
 -->