<!-- table-  -->



<!-- combine-horizontal-scrolls="sched-content" combine-vertical-scrolls="sched-td" -->
<div class="container-fluid scheduler-table" >
  <div class="row-fluid sched-row" style="">
    <div class="scheduler-cell sched-header">Scheduler
      <span class="pull-right sched-user-header-tool" ng-show="collaboration.creator_id==collaboration.current_user.id"><i class="fa fa-plus" title="Add Resource" ng-click="sched.openResource()"></i></span>
    </div>
  </div>
  <div class="row-fluid sched-row" style="">
    <div class="scheduler-cell sched-th sched-resource-name" >
      <span>Resources</span>
      <span ng-show="collaboration.creator_id==collaboration.current_user.id" class="pull-right btn btn-xs sched-add-resource" title="Add resources" ng-click="sched.openResource()"><i class="fa fa-plus"></i></span>
      <!--Sidebar content-->
    </div>
    <div class="scheduler-cell sched-th sched-content">

       <table>
         <thead class="">
          <tr>
            <th colspan={{days.length}} class="sched-th-month-year">
              {{month[currentDate.getMonth()]}} {{currentDate.getFullYear()}} 
            </th>
          </tr>
          <tr>
              <th ng-repeat="day in days"  class="col-day {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}} {{day.toDateString()==today.toDateString()?'col-today':''}}  {{holidays[day.yyyymmdd()]!=undefined?'col-day-holiday':''}}">
               <div class="sched-thead-cell"> <span>{{weekday[day.getDay()]}}</span></div>
            </th>
          <tr>
          <tr>
            <th ng-repeat="day in days"  class="col-day {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}} {{day.toDateString()==today.toDateString()?'col-today':''}} {{day.getMonth()==currentDate.getMonth()?'text-muted':'col-day-not-same-month'}} {{holidays[day.yyyymmdd()]!=undefined?'col-day-holiday':''}}">
              <div class="sched-thead-cell"><span class="">{{day.getDate()}}</span></div>
            </th>
          <tr>
         </thead>
       </table>
      <!--Body content-->
    </div>
  </div>
  <div class="row-fluid sched-row" style="">
    <div class="scheduler-cell sched-td sched-resource-name" >
      <table>
        <tbody>
            <tr ng-repeat="res in resources">
                <td class="col-day {{res.user_id==collaboration.current_user.id?'current-user-row':''}}">{{res.display_name}} 
                 <span class="pull-right sched-current-user-tool" >
                  <span ng-show="res.isEditing">Editing...</span>
                  <span ng-show="res.isSaving">Saving...</span>
                  <i ng-click="sched.removeCollaborator(res.user_id);" ng-show="collaboration.creator_id==collaboration.current_user.id&&res.user_id!=collaboration.current_user.id" title="Remove" class="fa fa-close btn btn-xs"></i>
                  <!-- <i ng-show="res.user_id==collaboration.current_user.id" title="Save" ng-click="sched.saveSchedules(res)" class="fa fa-check"></i> -->
                  <!-- <i class="fa fa-circle sched-online-status online" ></i> -->
                </span>
              </td>
            </tr>
          </tbody>
      </table>
      <!--Sidebar content-->
    </div>
    <div class="scheduler-cell sched-td sched-content">
      <table class=""> 
        <tbody>
          <tr ng-repeat="res in resources">
            <td ng-repeat="day in days" sched-cell class="col-day sched-cell {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}} {{day.toDateString()==today.toDateString()?'col-today':''}} {{holidays[day.yyyymmdd()]!=undefined?'col-day-holiday':''}}" remove-sched="sched.removeSchedule(res, day.yyyymmdd());" disabled="res.user_id!=collaboration.current_user.id" save-sched="sched.saveSchedules(res);" schedule="res.schedules[day.yyyymmdd()]">

              <!-- <div jqyoui-droppable="{multiple:true}"  class="sched-cell-content"></div> -->
            </td>
          </tr>
        </tbody>
      </table>
      
      <!--Body content-->
    </div>
  </div>
</div> 
<!-- {{resources[collaboration.current_user.id]}} -->
<div class="pull-right btn-group" style="margin-right:15px;">
  <button type="button" class="btn btn-primary" ng-click="sched.previousMonth()">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="sched.today()">Today</button>
  <button type="button" class="btn btn-primary" ng-click="sched.nextMonth()">Next</button>
</div> 


<div class="pull-left legend-panel list">
  <div class="ibox-title">
    <div class="pull-left">
      <h5>
        <span>Legends</span>
      </h5> <!-- <div loading></div>TESTTTT -->
    </div>
    <div class="pull-right" ng-show="isCreator">
      <h5>
        <span class="btn btn-xs" ng-click="sched.openLegend()"><i class="fa fa-plus"></i></span>
      </h5> <!-- <div loading></div>TESTTTT -->
    </div>
  </div>
  <div class="ibox-content slideable">
    <ul class="legend-list">
      <li ng-repeat="leg in legends">
        <span data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone', appendTo:'body'}" ng-model="leg" jqyoui-draggable="{index: {{$index}}, animate: false, placeholder: 'keep', deepCopy:true}" class="legend-item" style="background-color:{{leg.color}}">{{leg.title}}
        </span>
        <div class="legend-desc">{{leg.description}}</div> <div ng-show="isCreator" class="pull-right text-muted btn btn-xs" ng-click="sched.removeLegend($index);"><i class="fa fa-close"></i></div>
      </li> 
    </ul>
  </div>
  </div>
<!--   <ul>
    <li ng-repeat='sched in resources["342"]["schedules"]'>
     {{sched.id}} === {{sched.date}} === {{sched.legend_id}}
    </li>
  </ul> -->


<!-- 
<div class="pull-left legend-panel" ng-show="collaboration.creator_id==collaboration.current_user.id">
  <div class="ibox-title">
    <div class="pull-left">
      <h5>
        <span>Add Legend</span>
    </div>
  </div>
  <div class="ibox-content slideable">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Legend" ng-model="schedTitle"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Desciption" ng-model="schedDescription" />
      </div>
      <div class="form-group">
        <color-picker options="colorOptions" ng-model="schedColor"></color-picker>
      </div>
      <input type="button" class="btn btn-primary pull-right" ng-click="sched.addLegend()" value="Add"/>
  </div>
</div> -->


<!-- 
<div class="pull-left legend-panel" ng-show="collaboration.creator_id==collaboration.current_user.id">
  <div class="ibox-title">
    <div class="pull-left">
      <h5>
        <span>Add Resources</span>
        <input type="button" ng-click="sched.open()" value="open">
    </div>
  </div>

  <div class="ibox-content slideable">
     <div class="form-group">
        <tags-input ng-model="collaborators" placeholder="Add a collaborator" add-from-autocomplete-only="true" key-property="id" replace-spaces-with-dashes=false visibility-type="{{postVisibilityType}}" class="feed-readers">
          <auto-complete source="loadNames($query)"
           min-length="0"
           load-on-focus="true"
           load-on-empty="false"
           max-results-to-show="5"
           debounce-delay="200"
           template="my-custom-template">
          </auto-complete>
        </tags-input>
      </div>
      <input type="button" class="btn btn-primary pull-right" ng-click="sched.addLegend()" value="Add"/>
  </div>
</div> -->


<script type="text/ng-template" id="myModalAddResource.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Resource</h3>
    </div>
    <div class="modal-body">
        <tags-input ng-model="collaborators" placeholder="Add a collaborator" add-from-autocomplete-only="true" key-property="id" replace-spaces-with-dashes=false visibility-type="{{postVisibilityType}}" class="feed-readers">
        <auto-complete source="loadNames($query)"
         min-length="0"
         load-on-focus="true"
         load-on-empty="false"
         max-results-to-show="5"
         debounce-delay="200"
         template="my-custom-template">
        </auto-complete>
      </tags-input>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="myModalAddLegend.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Legend</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <!-- <label >Add legend</label> -->
        <input type="text" class="form-control" placeholder="Legend" ng-model="schedTitle"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Desciption" ng-model="schedDescription" />
      </div>
      <div class="form-group">
        <color-picker options="colorOptions" ng-model="schedColor"></color-picker>
      </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Add</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
