<!-- table-  -->





<div class="container-fluid scheduler-table">
  <div class="row-fluid sched-row" style="">
    <div class="scheduler-cell sched-header">Scheduler</div>
  </div>
  <div class="row-fluid sched-row" style="">
    <div class="scheduler-cell sched-th sched-resource-name" >
      Resources
      <!--Sidebar content-->
    </div>
    <div class="scheduler-cell sched-th sched-content">
       <table>
         <thead class="">
            <th ng-repeat="day in days"  class="col-day {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}}">
              <span>{{weekday[day.getDay()]}}</span>
                <br>
              <small class="text-muted">{{day.getDate()}} - {{month[day.getMonth()]}}</small>
            </th>
         </thead>
       </table>
      <!--Body content-->
    </div>
  </div>
  <div class="row-fluid sched-row" style="">
    <div class="scheduler-cell sched-td sched-resource-name" >
      <table>
        <tbody>
            <tr ng-repeat="res in resources">
                <td class="col-day">{{res.name}}</td>
            </tr>
          </tbody>
      </table>
      <!--Sidebar content-->
    </div>
    <div class="scheduler-cell sched-td sched-content">
      <table>
        <tbody>
          <tr ng-repeat="res in resources">
            <td ng-repeat="day in days" sched-cell class="col-day sched-cell {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}}" disabled="res.name!='Mark Rowi Dizon'" schedule="res.schedules[day.getDate() + '' +  day.getMonth() + '' + day.getFullYear()]">
            </td>
          </tr>
        </tbody>
      </table>
      
      <!--Body content-->
    </div>
  </div>
</div>



<table id="myTable" class="table table-fixedheader table-bordered ">
      <thead class="">
        <tr>
          <th class="col-day"><span>&nbsp</span>
            <br>
            <small class="text-muted">&nbsp</small>
          </th>

          <th ng-repeat="day in days"  class="col-day {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}}">
              <span>{{weekday[day.getDay()]}}</span>
              <br>
              <small class="text-muted">{{day.getDate()}} - {{month[day.getMonth()]}}</small>
          </th>
          
        </tr>

      </thead>
      <tbody>
        <tr ng-repeat="res in resources">
          <td class="col-day">{{res.name}}</td>
           <!-- style="width:{{dayWidth + '%'}}" -->
          <td ng-repeat="day in days" sched-cell class="col-day sched-cell {{day.getDay()==0||day.getDay()==6?'col-day-weekend':''}}" disabled="res.name!='Mark Rowi Dizon'" schedule="res.schedules[day.getDate() + '' +  day.getMonth() + '' + day.getFullYear()]">
           
            <!-- {{res.schedules[day.getDate() + '' +  day.getMonth() + '' + day.getFullYear()]}} -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- {{resources}} -->
<div class="pull-right btn-group" style="margin-right:15px;">
  <button type="button" class="btn btn-primary" ng-click="sched.previousWeek()">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="sched.today()">Today</button>
  <button type="button" class="btn btn-primary" ng-click="sched.nextWeek()">Next</button>
</div> 
<div class="pull-left legend-panel">
  <ul class="legend-list">
    <li ng-repeat="leg in legends" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="leg" jqyoui-draggable="{index: {{$index}}, animate: false, placeholder: 'keep'}" class="legend-item" style="background-color:{{leg.color}}">
      {{leg.title}}
    </li>
  </ul>
</div>
