<div class=" sidebar navigation {{isNav?'sidebar-show':''}}"> 
  <div class="navigation-toggle" ng-click="(isNav?isNav=false:isNav=true);navigation()"><i class="fa fa-navicon"></i></div>
  
  <ul class="nav nav-sidebar">
    <li>
      <a href="/modules/dashboard/TestDashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
    </li>
    <li ng-show="config.navigation" class="nav-item-navigation">
      <a href="#"><i class="fa {{(isNavLoaded?'fa-tasks':'fa-circle-o-notch fa-spin')}}"></i><span>Navigation</span></a>
    </li>

    <?php if($CompanyMod["my-requests"]==1){?>
      <li>
        <a href="/user_view/my-requests"><i class="fa fa-file-text"></i><span>My Requests</span></a>
      </li>
    <?php } ?>
    
    <?php if($CompanyMod["my-requests"]==1){?>
      <li ng-if="configProp.gs3_insights.properties.visibility!=true && configProp.gs3_insights.properties.user == current_user.level">
        <a href="#"><i class="fa fa-line-chart"></i> <span>Insights</span></a>
        <ul class="fl-infinite-nav-sub">
          <li ng-show="config.organizational_charts.create_organizational_chart"><a href="/user_view/organizational_chart">Create Organizational Chart</a></li>
          <li ng-show="config.organizational_charts.list_organizational_chart"><a href="/user_view/organizational_chart_list">Organizational Chart List</a></li>
        </ul>
      </li>
    <?php } ?>
    
    <li ng-show="config.print_form">
      <a href="/user_view/print_form_list"><i class="fa fa-print"></i> <span>Print Form</span></a>
    </li>

    <!-- Administrative tools -->
    <li ng-if="configProp.organizational_charts.properties.visibility!=true && configProp.organizational_charts.properties.user == current_user.level">
      <a href="#"><i class="fa fa-group"></i> <span>Organizational Charts</span></a>
      <ul class="fl-infinite-nav-sub">
        <li ng-show="config.organizational_charts.create_organizational_chart"><a href="/user_view/organizational_chart">Create Organizational Chart</a></li>
        <li ng-show="config.organizational_charts.list_organizational_chart"><a href="/user_view/organizational_chart_list">Organizational Chart List</a></li>
      </ul>
    </li>
    <li ng-if="configProp.forms.properties.visibility!=true && configProp.forms.properties.user == current_user.level">
      <a href="#"><i class="fa fa-files-o"></i> <span>Forms</span></a>
      <ul class="fl-infinite-nav-sub">
        <li ng-show="config.forms.create_forms"><a href="/user_view/formbuilder?formID=0" class="">Create Form</a></li>
        <li ng-show="config.forms.list_forms"><a href="/user_view/form_list" class="">Form List</a></li>
      </ul>
    </li>
    <li ng-if="configProp.workflows.properties.visibility!=true && configProp.workflows.properties.user == current_user.level">
      <a href="#"><i class="fa fa-print"></i><span>Workflows</span></a>
      <ul class="fl-infinite-nav-sub">
        <li ng-show="config.workflows.create_workflow"><a href="/user_view/workflow" class="">Create Workflow</a></li>
        <li ng-show="config.workflows.list_workflow"><a href="/user_view/workflow_list" class="">Workflow List</a></li>
      </ul>
    </li>
    <li ng-if="configProp.reports.properties.visibility!=true && configProp.reports.properties.user == current_user.level">
      <a href="#"><i class="fa fa-file-text"></i> <span>Reports</span></a>
      <ul class="fl-infinite-nav-sub">
        <li ng-show="config.reports.create_reports"><a href="/user_view/report" class="">Create Report</a></li>
        <li ng-show="config.reports.list_reports"><a href="/user_view/report_list" class="">Report List</a></li>
      </ul>
    </li>
    <li ng-if="configProp.administer.properties.visibility!=true && configProp.administer.properties.user == current_user.level">
      <a href="#"><i class="fa fa-gears"></i> <span>Administer</span></a>
      <ul class="fl-infinite-nav-sub">
        <li ng-show="config.administer.app_configuration==1"><a href="/user_view/app_configuration" class="">Application Configuration</a></li>
        <li ng-show="config.administer.form_category==1"><a href="/user_view/form_category" class="">Form Category</a></li>
        <li ng-show="config.administer.group_settings==1"><a href="/user_view/group_settings" class="">Group Settings</a></li>
        <li ng-show="config.administer.nav_settings==1"><a href="/user_view/nav_settings" class="">Navigation Settings</a></li>
        <li ng-show="config.administer.position_settings==1"><a href="/user_view/position_settings" class="">Position Settings</a></li>
        <li ng-show="config.administer.rule_settings==1"><a href="/user_view/rule_settings" class="">Rule Settings</a></li>
        <li ng-show="config.administer.suggestion_box_list==1"><a href="/user_view/suggestions" class="">Suggestion List Box</a></li>
        <li ng-show="config.administer.user_settings==1"><a href="/user_view/user_settings" class="">User Settings</a></li>
        <li ng-show="config.administer.delegation==1"><a href="/user_view/delegate" class="">Delegation</a></li>
        <li ng-show="config.administer.external_database==1"><a href="/user_view/external_database" class="">External Database</a></li>
        <li ng-show="config.administer.link_maintenance==1"><a href="/user_view/link_maintenance" class="">Link Maintenance</a></li>
        <li ng-show="config.administer.system_logs==1"><a href="/user_view/user_settings" class="">System Logs</a></li>
      </ul>
    </li>
    <li ng-show="config.suggestion_box">
      <a href="#"><i class="fa fa-dropbox"></i> <span>Suggestion Box</span></a>
    </li>
    <li ng-if='config.trash_bin!=0'>
      <a href="#"><i class="fa fa-trash-o"></i> <span>Trash Bin</span></a>
    </li>
  </ul>
</div>