
  <div class="new-form">

    <div class="page-header">
      <!-- <small>Subtext for header</small> -->
      <h1>{{title}}</h1>
    </div>

       <div class="form-group">
        <label >Name</label> <span style="color:red" ng-show="collabName.trim()==''">*</span>
        <input type="text" class="form-control" id="name" ng-model="collabName" placeholder="Collaboration Name">

      </div>

    <div class="form-group">
      <label >Collaborate with : </label><span style="color:red" ng-show="collaborators.length==0"> *</span>
      <tags-input ng-model="collaborators" placeholder="Add a collaborator" add-from-autocomplete-only="true" key-property="id" replace-spaces-with-dashes=false visibility-type="{{postVisibilityType}}" class="feed-readers">
        <auto-complete source="loadNames($query)"
         min-length="0"
         load-on-focus="true"
         load-on-empty="false"
         max-results-to-show="5"
         debounce-delay="200"
         template="my-custom-template">
        </auto-complete>
      </tags-input>
    </div>
<!--     {{collaboratos}}
 -->
    <div class="form-group">
      <button class="btn btn-primary pull-right" ng-click="saveCollaboration()">Create</button>
      &nbsp
    </div>


  
</div>
