

<form action="javascript:notify('Wizard','Form #wizard submited');" method="POST" class="wizard">
   
<fieldset title="Step 1">                            
    <legend>Fields</legend>
       <div class="row-form">
          <table>
             <tr>
                <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>
                <td style="vertical-align: baseline;">
                   <p class="tour_title">Choosing your application</p>
                   <p class="tour_content">This is the application portal section here you can choose your desired application. </p>
                   <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>
                </td>
             </tr>
          </table>
       </div>                                           
 </fieldset>

 <fieldset title="Step 2">
    <legend>Fields</legend>
       <div class="row-form">
          <table>
             <tr>
                <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>
                <td style="vertical-align: baseline;">
                   <p class="tour_title">Choosing your application</p>
                   <p class="tour_content">This is the application portal section here you can choose your desired application. </p>
                   <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>
                </td>
             </tr>
          </table>
       </div>                             
 </fieldset>

 <fieldset title="Step 3">
    <legend>Fields</legend>
       <div class="row-form">
          <table>
             <tr>
                <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>
                <td style="vertical-align: baseline;">
                   <p class="tour_title">Choosing your application</p>
                   <p class="tour_content">This is the application portal section here you can choose your desired application. </p>
                   <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>
                </td>
             </tr>
          </table>
       </div>                             
 </fieldset>

 <fieldset title="Step 4">
    <legend>Fields</legend>
       <div class="row-form">
          <table>
             <tr>
                <td><img src="<?php echo DIR_EXTERNAL_IMG; ?>tour/accountsettings/1.jpg" width="600px" height="400px"/></td>
                <td style="vertical-align: baseline;">
                   <p class="tour_title">Choosing your application</p>
                   <p class="tour_content">This is the application portal section here you can choose your desired application. </p>
                   <ul><li><p class="tour_content"><font color="red">*</font> Note you need to select an app to proceed. <br><br> Please select one.</p><p></p></li></ul>
                </td>
             </tr>
          </table>
       </div>                             
 </fieldset>
</form>   

