<md-toolbar style="position:fixed" md-theme="default" layout="row"  class="md-hue-2">
  <div class="md-toolbar-tools ">
    <md-button class="md-icon-button"  ng-click="menuButton()" aria-label="Settings" ng-disabled="false">
      <!-- <md-icon md-svg-icon="assets/images/icons/menu.svg"></md-icon> -->
      <md-icon md-font-icon="fa-bars" class="fa fa-lg"></md-icon>
    </md-button>
    <span flex hide-gt-xs  hide-gt-sm ></span>
    <h1>
      {{title}}
    </h1>
    <span flex></span>
    <ng-transclude></ng-transclude>

    <md-menu  hide-gt-xs  hide-gt-sm ng-if="buttons">
      <md-button ng-disabled="disabled" aria-label="menu" class="md-icon-button" ng-click="tb.openMenu($mdOpenMenu, $event)">
        <md-icon md-font-icon="fa-ellipsis-v" class="fa fa-lg"></md-icon>
      </md-button>

      <md-menu-content width="3" >
        <md-menu-item  ng-repeat="btn in buttons">
          <md-button ng-click="formAction({index:btn.buttonIndex})">
            <!-- <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon> -->
            {{btn.caption}}
          </md-button>
        </md-menu-item>
       
      </md-menu-content>
    </md-menu>
    <md-button ng-disabled="disabled" hide-sm hide-xs ng-repeat="btn in buttons" class="md-raised" ng-click="formAction({index:btn.buttonIndex})">     {{btn.caption}}
    </md-button>
  </div>
</md-toolbar>


