@import "utilities";


.fl-workspace-control-container {
    @include pos-fix(50px, auto, auto, 0px);
    width:100%;
    z-index:100000;
    background-color: #F5F7FA;

    .fl-controlsv2-main-warpper {
        position:static;
    }

}

.workspace_option_bar {
    @extend %width_perc100;
    @include pos-rel(auto, auto, auto, auto);
    z-index: 999999;
    height: 27px !important;
    padding:0px !important;
    ul.fl-action-menu {
        li {
            border-right: 1px solid #CFDBE2;
            a {
                @extend %trans_duration3;
                @include padding(7px, 7px, 7px, 7px);
                &:hover {
                    @extend .colorfff;
                }
            }

            ul.horizontal-sub-menu {
                @include pos-abs(27px, auto, auto, 0px);
                z-index:9999999;
                li {
                    a {
                        @extend .colorfff;
                        width:145px;
                    }

                }
            }
        }
    }

    .fl-toolbar-right-wrapper {
        height: 27px;
        @extend %display_table;

        .fl-form-workspace-details {
            @extend %display_table_cell;
            // @extend %font_weight_bold;
            vertical-align: middle;
            //padding-top:6px;
        }
    }

}

.workspace_option_tab {
    //@include pos-rel(auto, auto, auto, auto);
    margin: 0 auto;
    #fl-workspace-controls {
        height: 65px;
        .tab-wrapper {
            .fl-workspace-control-wrapper {

                position:relative;

                .fl-form-contr-hd {
                    margin-bottom: 3px;
                }
                ul {
                    li {
                        list-style: none;
                        // margin-top:3px; affected default action pls fix
                        @extend %fL;
                        
                        a {
                            color:#222;
                            @include padding(0px, 3px, 0px, 3px);
                            @extend %trans_duration3;
                        }
                    }

                    li.ext-links {
                       @extend %fN;
                       //@include padding(5px, 0px, 5px, 0px); 
                    }
                    // li.ext-links:nth-child(odd) {
                    //     background-color:#F5F5F5;
                    // }
                }

                .fl-workspace-button-wrapper {
                    height:25px;
                    button:hover {
                        color:#778a96;
                    }
                }

                .fl-workspace-button-wrapper-relatedforms {
                    height:65px; 
                    overflow: hidden;
                    // position: relative;
                    white-space:nowrap;
                    // overflow-x:scroll;

                    #fl-links-option-inner {

                        width:auto;
                        display:inline-block;

                        .fl-links-option-category {
                            width:300px;
                            height:65px; 
                            overflow: hidden;
                            position: relative;
                            border-right: 1px solid #BAC3C8;
                            display: inline-block;
                            margin-left:-3px;
                            //@extend %fL;
                            // @include padding(5px, 5px, 5px, 5px);
                            @extend %box_sizing_border_box;

                            ul {
                                li {

                                    @extend %trans_duration3;

                                    a {
                                        @extend .elip;
                                        @include padding(2px, 3px, 2px, 3px);
                                        display:block;
                                    }
                                    
                                }

                                li:nth-child(odd) {
                                    background-color:#F5F5F5;
                                }

                                li:nth-child(even) {
                                    background-color:#ffffff;
                                }

                                li:hover {
                                    background-color:rgb(208, 208, 208);
                                }
 
                            }
                            .ps-scrollbar-y  {
                                z-index: 10000000;
                            }
                              
    
                        }

                        .fl-links-option-category:first-child {
                            margin-left:0px;
                        }

                        .fl-links-option-category.item_first_padding {

                            ul li a {
                                padding-left: 17px;
                            }
                        }

                        .fl-links-option-category.item_last_padding {
                            ul li a{
                                padding-right: 17px;
                            }

                            .ps-scrollbar-y {
                                margin-right:14px;
                            }
                        }

                    }
                }

            }
        }
    }

    .fl-form-name-wrapper{
        @include pos-rel(1px, auto, auto, 0px);
        padding-top: 9px;
        padding-bottom: 8px;
    }

}


.fl-active-link-color {
    color: #fff !important;
    @extend %border_radius3;
}

.fl-uploadfile-workspace {
    background-color:rgb(208, 208, 208);
    width: 98.5%;
    margin:0 auto;
    height: 62px;
}

.picklist-iframe {
    .fl-user-header-wrapper {
        display:none;
    }
}


.view-embed-iframe, .view-picklist-iframe, .add-picklist-iframe {
    .fl-workspace-control-container, .fl-user-wrapper {
        top:0px;
    }

    .fl-user-header-wrapper {
        @extend %display_none;
    }

    .loaded_form_content {
        margin-top:0px !important;
    }

    .fl-user-header-wrapper {
        display:none;
    }

}

.view-embed-iframe .fl-workspace-control-container,  body.ui-portal-body .fl-workspace-control-container {
    top:0px;
}

.view-picklist-iframe {
    .fl-workspace-control-container, .fl-user-wrapper {
        top:0px;
    }

    .fl-user-header-wrapper {
        @extend %display_none;
    }

}

.view-picklist-iframe .fl-workspace-control-container {
    top:0px;
}

