.panel-scheduler{
    background: #f6f6f6;
}

.scheduler-table{
    padding-top:15px;
    color:#404040;
}

.scheduler-table .sched-row{
    background-color: #ffffff;
}

.scheduler-table .scheduler-cell{
    background: #ffffff;
}

.scheduler-table .sched-th{
    height: 65px;
    border-bottom: 2px solid #d0d0d0;
}
.scheduler-table .sched-td{
    height: 300px;
}

.scheduler-table .sched-resource-name{
    float: left;
    width: 200px;
    border-right: 2px solid #d0d0d0;
    margin-right: 10px;
}

.scheduler-table .sched-content{
    border-left: 2px solid #d0d0d0;
}


.scheduler-table .sched-th.sched-resource-name{
    padding: 24px 10px;
}

.scheduler-table .sched-td.sched-content{
    overflow: scroll;

}

.scheduler-table .sched-th.sched-content{
    overflow: hidden;
    overflow-y:scroll;
}



.scheduler-table .sched-th.sched-content .sched-thead-cell {
    width: 34px;
}

.scheduler-table .sched-td.sched-resource-name{
    overflow: hidden;
    overflow-x:scroll;
}

.scheduler-table .sched-td.sched-resource-name > table{
    width: 100%;
}

.scheduler-table .sched-td.sched-resource-name > table > tbody > tr > td{
    padding: 8px 15px;
    /*border-bottom: 1px #d0d0d0 solid;*/
    font-weight: 100;
    font-size: 13px;
    /*color: #7b7b7b;*/
}
.scheduler-table .sched-td.sched-resource-name > table > tbody > tr{
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #e9e9e9;
}
.scheduler-table .sched-td.sched-content > table > tbody > tr{
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #e9e9e9;
}
.scheduler-table .sched-td.sched-content > table > tbody > tr > td{
    /*border-style: solid;*/
    border-width: 0 1px 0;
    border-color: #e9e9e9;
}

.scheduler-table .sched-th.sched-content > table > thead > tr{
    border-style: solid;
    border-width: 1px 0 0;
    border-color: #e9e9e9;
    text-align: center;
}

.scheduler-table .sched-th.sched-content > table > thead > tr > th{
    font-weight: 100;
    text-align: center;
    /*border-style: solid;*/
    border-width: 0 1px 0;
    border-color: #e9e9e9;
}

/*.scheduler-table .sched-td.sched-content > table > tbody > tr > td{
    width: 40px;
    height: 39px;
}
*/
.scheduler-table .sched-td.sched-content .sched-cell-content{
    width: 34px;
    height: 34px;
}

.sched-cell-content .legend-item div{
    width: 100%;
    overflow: hidden;
}
.sched-cell-content:not(.disabled):hover .sched-remove{
    display: block;
}



/*.scheduler-table .sched-th.sched-content .sched-th-month-year{
    text-align: center;
}
*/
.sched-content table>tbody>tr>td:nth-of-type(odd), .sched-content table>thead>tr>th:nth-of-type(odd) {
    /*background: #f8f8f8;*/
}

.col-day-weekend{
   background: #f8f8f8; 
}

.col-day-holiday{
   background: #fde0e0; 
}
.col-today {
    background: #fffac4;
}
.current-user-row {
background: #e9e9e9
}
.scheduler-table .sched-header{
    height: 50px;
    background: #5fa2dd;
    color: #f0f0f0;
    padding: 14px 15px;
    font-size: 16px;
}

.legend-item{
    min-width: 34px;
    height: 34px;
    padding: 10px;
    text-align: center;
    padding-top: 7px;
    text-decoration: none;  
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.legend-list .legend-item{
    display: inline-block;
    width: auto;
    position: relative;
    top: -10px;
    float: left;

}
.legend-list .legend-desc{
    display: inline;
    margin-left: 10px;
}

.legend-item[aria-disabled="true"]{
    cursor:auto;
}
.legend-panel {
    margin: 20px;
    padding: 20px;
    /*border: 1px solid #d0d0d0;*/
     max-height: 200px;
    box-shadow: 0px 2px 7px #c6c6c6;

    box-shadow: 1px 1px 3px rgba(136, 136, 197, 0.05);
    background: white;
    position: relative;
    padding: 0px;
    width: 200px;
    height: 200px;
}
.legend-panel.list{
    width: 300px;
}
.legend-list{
    text-decoration: none;  
    list-style: none;
    padding-left: 0px;
}
.legend-list li{
    margin-bottom: 2px;
    padding: 10px 0px 10px 0px;
}

.sched-user-header-tool{
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
}
.sched-current-user-tool{
    color:#d0d0d0;
}

.sched-current-user-tool > i{
    margin-left: 5px;
}

.sched-online-status.online{
   color:#49ad70; 
}

.sched-online-status.editing{
   color:#fbbf22; 
}

.sched-online-status.offline{
   color:#d0d0d0; 
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 44px;
}
 .ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
 .ibox-content {
    clear: both;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 15px 15px 15px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    top: 44px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    overflow-y: hidden;
}

.sched-remove {
    cursor: pointer!important;
    top: -35px;
    right: -19px;
    color: #d0d0d0;
    padding: 5px;
    position: relative;
    display: none; 
    border-radius: 15px;
    font-size: xx-small;
    opacity: 0.9;
    width: 22px;
    height: 22px;
    align-content: center;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.19);
    background-color: #d9534f;
}

.sched-add-resource{
    color:#d0d0d0;
}