.panel-scheduler{
        border-color: #ddd;
    position: absolute;
    width: 80%;
    min-height: 100%;
    bottom: 0;
    top: 0;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.table-bordered {
    border: 1px solid #ddd;
    border-right: 0px;
    border-left: 0px;
}

.col-day-not-same-month{
    /*background: #fafafa;*/
    color: #b9b9b9;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    border-right: 0px;
    border-bottom: 0px;
    font-weight: 100;
}

.panel-body {
    padding: 0px;
}

.new-form{
    width: 600px;
    margin:auto;
    border-radius: 10px;
    top:10px;
    background-color: #ffffff;
    padding: 20px;
    padding-top:1px;
    margin-top: 30px;
    /*box-shadow: 0px 6px 10px #2d2d2d;*/
    /*background-color: #3d3c3c*/
}

body.new-collab{
    background-color: #3d3c3c; /*#6f5499*/;
}


.feed-name-selection img{
  width: 28px;
  height: 28px;
}
.feed-name-selection > .pull-left{
  margin-right: 10px;
}
.feed-name-selection > .media-body>strong{
line-height: 28px;
}