@import "utilities";

.fl-widget-head-actions {
    @extend %fR;
    margin-right:3px;
	
    ul {
            li {
                    @extend %box_sizing_border_box;
                    @extend %cursor_pointer;
                    @extend %display_inline_block;
                    @include padding(5px, 5px, 5px, 5px);
                    font-size:$primaryFontSize;
                    color:#ffffff;

                    i {
                            color: #ffffff;
                    }
            }
    }
}

.fl-widget-message-create-wrapper {
	height: 420px;
	border: 1px solid #cfdbe2;
	//display:none;
}

.fl-widget-user-conversations-wrapper {
	height: 530px;

	#fl-load-user-conversation {

		li {
			@extend %cursor_pointer;
			@extend %trans_duration3;

			&:hover {
				background-color:#f5f5f5;
			}
		}
	}

	.fl-widget-user-conversation {
		@extend %box_sizing_border_box;
		border-bottom: 1px solid #cfdbe2;
		width: 100%;
		position: relative;
		//height: 50px;
		padding: 5px;
		height:auto;

		.fl-user-avatar-wrapper {
			background:transparent !important;
			@include pos-abs(5px, auto, auto, 5px);

			img {
				border-radius:0px;
			}
		}

		.fl-user-conversation-details-wrapper {
			padding-left: 45px;
			font-size: $primaryFontSize;
			height: 100%;
			line-height: 15px;
			padding-top: 5px;
			
			.fl-user-conversation-l-details {
				@extend %fL;
				width:100%;
				.fl-user-conversation-excerpt {
					@extend .elip;
					width:87%;
					font-size:$secondaryFontSize;
					color:#6e6e6e;
				}

				.fl-user-conversation-name {
					@extend .elip;
					width: 170px;
				}
			}

			.fl-user-conversation-r-details {
				//@include pos-abs(auto, 5px, auto, auto);
				@extend %fR;
				.fl-user-conversation-time {
					@extend %fL;
					color:#cccccc;
					font-size:$secondaryFontSize;
					margin-right:8px;
				}

				.fl-user-conversation-action {
					@extend %fR;
                                        margin-right: 6px;
					//display:none;
				}
			}

		}

		.fl-user-conversation-details-wrapper:after {
			content: ""; 
			display:table; 
			clear:both;
		}
	}
}

.fl-user-conversation-unread-count {
	@include pos-abs(27px, 3px, auto, auto);
	@extend %border_radius3;
	@extend %taC;
	padding: 0px 4px 0px 3px;
	font-size: 10px;
	color: #fff;
	
}

.fl-widget-compose-wrapper {
	z-index: 999999;
	background-color: #f2f2f2;
	border: 1px solid #cfdbe2;
	border-bottom: 3px solid #cfdbe2;
	height: 20%;

	.fl-widget-compose-reply {
			//display:none;
	}

	.fl-widget-compose-reply, .fl-widget-compose-message {
		border: 1px solid #cfdbe2;
		margin: 10px;
		background-color:#ffffff;

		textarea {
			@extend %box_sizing_border_box;
			border:none; 
			resize:none; 
			width: 100%; 
			padding: 5px 5px 15px 5px;
		}

		.fl-widget-compose-attach {

				border-top: 1px solid #cfdbe2;
				border-bottom: 1px solid #cfdbe2;
			
			.fl-file-upload-btn {
				@extend %box_sizing_border_box;
				display:inline-block;
				position: relative;
				overflow: hidden;
				
				input.msg-file-upload {
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					cursor: pointer;
					opacity: 0;
					filter: alpha(opacity=0);
				}	

			}

			#fl-msg-right-nav {
				@extend %fR;
			}

			ul {

				li {
					@extend %fL;
					@extend %trans_duration3;
					//vertical-align:middle;
					border-right: 1px solid #cfdbe2;
					font-size: $primaryFontSize;
					padding: 5px;
					background-color: rgb(242, 242, 227);
					cursor:pointer;
				}

				li.fl-msg-other-btn {
					height:14px;
				}
				
				li:hover {
					background-color: #8D8D8D;
					color:#ffffff;
				}

				li:hover i {
					color:#ffffff;
				}	
			
			}

			ul:after {
				content: "";
			 	display: table;
			  	clear: both;
			}
		}
	}

	.fl-widget-compose-message {
		display:none;

		#fl-widget-compose-type-message-wrapper {
			position:relative;

			#fl-display-user-wrapper {
				@include pos-abs(auto, auto, auto, 0px);
				background-color:#ffffff;
				width:100%;

				#displayUser1 {
					.display_box {
						border-right:none;
						border-left:none;

					}

					.add_listRecipient1:nth-child(odd){
		                  background-color: #F0F0F0;
		            }

		            .add_listRecipient1:nth-child(even){
		                  background-color: #F8F8F8;
		            }
		   
				}
				
			}

			form {
				textarea {
					height: 329px;
				}
			}
		}
		
	 	.fl-widget-compose-names-wrapper {
			@extend %box_sizing_border_box;
	 		padding:5px;
	 		font-size:$secondaryFontSize;
	 		background-color: #fff;
			border-bottom: 1px solid #cfdbe2;	

			#fl-widget-compose-message-to {
				@extend %fL;
				margin: 10px 3px 0px 0px;
			} 

			#listRecipient1 {
				border:none;
			}
		}
	}

	.fl-file-resource-wrapper, .fl-file-images-wrapper  {
		@extend %box_sizing_border_box;
		padding: 5px;
		border-bottom: 1px solid #cfdbe2;
		font-size: $primaryFontSize;
		background-color: #fff;
		display:none;
	}

	.fl-file-resource-wrapper {
		height:30px;

		.fl-file {
			display:inline-block;
			padding: 3px;
			background-color: rgb(207, 219, 226);
			border-radius: 3px;
			color: #222;
			margin-bottom:3px;
			span {
				font-size:10px;
			}
		}
	
	}

	.fl-file-images-wrapper {
		height:87px;
		display:none;
		.fl-file-image {
			@extend %border_radius3;
			width: 75px;
			height: 75px;
			background-color: aquamarine;
			position:relative;
			overflow:hidden;
			display:inline-block;
			margin-bottom:3px;
			.fl-file-delete {
				@extend %cursor_pointer;
				@include pos-abs(auto, 0px, auto, auto);
				//@include border-bottom-left-radius(3px);
				padding: 3px;
				z-index:1;
				background-color: #f5f5f5;
			}

			img {
				@extend %border_radius3;
				width: 75px;
				height: 75px;
			}	
		}
	}
}

.fl-widget-msg-content-wrapper {

	.fl-msg-wraper {
		.section {
			.column {
				.fl-file-image {
					@extend %border_radius3;
					box-shadow: 1px 2px 2px #9D9D9D;
					overflow:hidden; // for cropping image
					height: 130px;
					width: 152px;
					position: relative;
					
					img {
						@extend %border_radius3;
					}

				.fl-file-preview-image {
					@include pos-abs(-100%, -100%, -100%, -100%);
				    margin: auto;
				    height: auto;
				}

				}
			}
		}
	}

	.fl-msg-user-other-wrapper {
		font-size: $primaryFontSize;
		position:relative;
		border-bottom: 1px dotted #CFDBE2;

		.fl-user-avatar-wrapper {
			background:transparent !important;
			@include pos-abs(5px, auto, auto, 5px);
		}

		.fl-msg-user-details {
			@extend %box_sizing_border_box;
			padding:5px 10px 5px 50px;

			.name {
				@extend %fL;
				
			}

			.date {
				@extend %fR;
				color:#cccccc;
				font-size:$secondaryFontSize;
			}
		}

		.fl-msg-user-details:after {
			content: "";
		 	display: table;
		  	clear: both;
		}

		.fl-user-msg {
			@extend %box_sizing_border_box;
			padding: 10px 10px 10px 50px;
			line-height:18px;
			background-color: rgb(242, 249, 253);
			word-break: break-word;
			.fl-file {

				a {
					@include padding(3px, 3px, 3px, 3px);
					@extend %border_radius3;					
					background-color: #FFFFFF;
					box-shadow: 1px 1px 2px #D3D3D3;
				}
			}

		}
		
	}
	

	.fl-msg-user-you-wrapper {
		font-size: $primaryFontSize;
		position:relative;
		border-bottom: 1px dotted #CFDBE2;
		.fl-user-avatar-wrapper {
			@include pos-abs(5px, auto, auto, 5px);
			background:transparent !important;
		}

		.fl-msg-user-details {
			@extend %box_sizing_border_box;
			padding:5px 10px 5px 50px;

			.name {
				@extend %fL;
				
			}

			.date {
				@extend %fR;
				color:#cccccc;
				font-size:$secondaryFontSize;
			}
		}

		.fl-msg-user-details:after {
			content: "";
		 	display: table;
		  	clear: both;
		}

		.fl-user-msg {
			@extend %box_sizing_border_box;
			padding: 10px 10px 10px 50px;
			line-height:18px;
			background-color: rgb(245, 245, 219);
			word-break: break-word;
			.fl-file {

				a {
					@include padding(3px, 3px, 3px, 3px);
					@extend %border_radius3;					
					background-color: #FFFFFF;
					box-shadow: 1px 1px 2px #D3D3D3;
				}
			}
			
		}

	}

}

.fl-image-loading {
	@extend %border_radius3;
	display: table;
	position: absolute;
	//z-index: 999999999;
	height: 75px;
	width: 75px;
	background-color: rgb(195, 195, 195);
	text-align: center;
	opacity:0.8;
	i.fa-rotate-right, span {
		display: table-cell;
		vertical-align: middle;
		font-size: 19px;
	}
	
}


#fl-btn-load-more-conversation {
    width: 70px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 5px;
}