/* line 2, ../../sass/mobility/mobility.scss */
.mobility-overlay {
  background-color: rgba(225, 225, 225, 0.5);
  z-index: 1000000;
  top: 0px;
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 12, ../../sass/mobility/mobility.scss */
.mobility-content-middle {
  height: auto;
  display: table-cell;
  vertical-align: middle;
}

/* line 18, ../../sass/mobility/mobility.scss */
.mobility-content-center {
  height: 537px;
  width: 318px;
  border: 2px solid #FFFFFF;
  padding-top: 25px;
  background-image: url("/css/images/mobililtywrapper.png");
  border-radius: 47px;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(218, 216, 216, 0.97);
  margin: 0px auto;
}

/* line 30, ../../sass/mobility/mobility.scss */
.mobility-close-container {
  cursor: pointer;
  font-size: 23px;
  position: absolute;
  top: -4px;
  left: 297px;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  text-align: center;
}

/* line 45, ../../sass/mobility/mobility.scss */
.mobility-header {
  height: 35px;
}

/* line 50, ../../sass/mobility/mobility.scss */
.mobility-body {
  position: relative;
  top: 20px;
  height: 388px;
  width: 86%;
  background-color: #FFF;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 8px 10px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* line 65, ../../sass/mobility/mobility.scss */
ul#sortable-mobile {
  position: relative;
}

/* line 71, ../../sass/mobility/mobility.scss */
.mobility-footer .fields {
  border: 0px;
  text-align: center;
}

/* line 77, ../../sass/mobility/mobility.scss */
input.mobility-save {
  margin: 0px auto;
  float: none;
  clear: both;
  display: inline-block;
  height: 35px;
  margin-top: 27px;
  text-align: center;
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
