/* line 23, ../../sass/_utilities.scss */
.fl-floatLeft {
  float: left;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatRight, .fl-message-board-banner .div_1_of_2 h2 {
  float: right;
}

/* line 23, ../../sass/_utilities.scss */
.isFloatNone {
  float: none;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignCenter, .fa-i-style {
  text-align: center;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignLeft {
  text-align: left;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignRight, .fl-message-board-banner .div_1_of_2 h2, .fl-mb-date h1 {
  text-align: right;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansregular {
  font-family: droid_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansbold, .font_droid_sansbold {
  font-family: droid_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensansregular {
  font-family: open_sanslight_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensanslight {
  font-family: open_sanslight;
}

/* line 102, ../../sass/_utilities.scss */
.protestantregular {
  font-family: protestant_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoregular {
  font-family: dustismo_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobold {
  font-family: dustismo_regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoromanregular {
  font-family: dustismo_romanregular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoitalic {
  font-family: dustismo_italic;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobolditalic {
  font-family: dustismobold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansregular {
  font-family: perspective_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbold {
  font-family: perspective_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansblackitalic {
  font-family: perspective_sans_blackitalic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbolditalic {
  font-family: perspective_sansbold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspective_sansitalic {
  font-family: perspective_sansitalic;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiregular {
  font-family: sansumiregular;
}

/* line 102, ../../sass/_utilities.scss */
.sansumibold {
  font-family: sansumiregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumisemibold {
  font-family: sansumi_demibold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiultralightregular {
  font-family: sansumi_ultralightregular;
}

/* line 102, ../../sass/_utilities.scss */
.traditionsansxlightregular {
  font-family: traditionsans_xlightregular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95regular {
  font-family: vera_humana_95regular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bold {
  font-family: vera_humana_95regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bolditalic {
  font-family: vera_humana_95bolditalic;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95italic {
  font-family: vera_humana_95italic;
}

/* line 102, ../../sass/_utilities.scss */
.weezerfontregular {
  font-family: weezerfontregular;
}

/* line 102, ../../sass/_utilities.scss */
.weblysleelight {
  font-family: weblysleeklight;
}

/* line 124, ../../sass/_utilities.scss */
.font-bold, .isFontWeightBold, .fl-message-board-banner .div_1_of_2 h2, .fl-now-serving-panel .fl-small-widgetv2 h1, .fl-mb-attention .fl-small-widgetv2 h1, .fl-now-serving-table-wrapper #fl-now-serving-table thead tr td {
  font-weight: bold;
}

/* line 135, ../../sass/_utilities.scss */
.marginAuto {
  margin: 0 auto;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity0 {
  opacity: 0;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity1 {
  opacity: 1;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayBlock {
  display: block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayInlineBlock {
  display: inline-block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTable {
  display: table;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableCell {
  display: table-cell;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableRow {
  display: table-row;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayNone {
  display: none;
}

/* line 163, ../../sass/_utilities.scss */
.fl-positive-btn {
  background-color: #2ecc71 !important;
}

/* line 167, ../../sass/_utilities.scss */
.fl-negative-btn {
  background-color: #c0392b !important;
}

/* line 171, ../../sass/_utilities.scss */
.fl-default-btn {
  background-color: #abbac3 !important;
}

/* line 176, ../../sass/_utilities.scss */
.avatar-wrapper {
  height: 40px;
  padding: 5px;
}

/* line 181, ../../sass/_utilities.scss */
.avatar-profile-properties {
  font-size: 12px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* line 189, ../../sass/_utilities.scss */
.input-text {
  width: 190px;
  height: 18px;
  padding: 3px;
}

/* line 195, ../../sass/_utilities.scss */
.input-select {
  height: 32px;
  border: 1px solid #d6d6d6;
}

/* line 200, ../../sass/_utilities.scss */
.input-submit {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 207, ../../sass/_utilities.scss */
.input-button {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 214, ../../sass/_utilities.scss */
.input-type-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto !important;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0px;
  z-index: 999999;
}

/* line 228, ../../sass/_utilities.scss */
.bold-text {
  font-weight: bold;
}

/* line 232, ../../sass/_utilities.scss */
.colorfff, .fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black {
  color: #ffffff;
}

/* line 236, ../../sass/_utilities.scss */
.bgcolorfff {
  background-color: #ffffff !important;
}

/* line 246, ../../sass/_utilities.scss */
.isCursorNotAllowed {
  cursor: not-allowed;
}

/* line 246, ../../sass/_utilities.scss */
.font-bold, .isCursorPointer {
  cursor: pointer;
}

/* line 252, ../../sass/_utilities.scss */
.fl-secondary-btn {
  border: 1px solid #d6d6d6 !important;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
}

/* line 262, ../../sass/_utilities.scss */
.fl-button-press {
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 267, ../../sass/_utilities.scss */
.fl-button-press-hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 279, ../../sass/_utilities.scss */
.trans_duration3 {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 311, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fa-i-style, .fl-mb-attention-call, .fl-mb-announcement-call, .fl-now-serving-table-wrapper #fl-now-serving-table tr td {
  box-sizing: border-box;
}

/* line 322, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fa-i-style, .fl-mb-attention-to, .fl-mb-attention-fr, .fl-mb-attention-call, .fl-mb-announcement-call, .fl-now-serving-table-wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 332, ../../sass/_utilities.scss */
.rotateScale {
  -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
  -moz-transform: rotate(-30deg) scale(1.2, 1.2);
  -o-transform: rotate(-30deg) scale(1.2, 1.2);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* line 340, ../../sass/_utilities.scss */
.borderNone {
  border: none !important;
}

/* line 343, ../../sass/_utilities.scss */
.borderTopNone {
  border-top: none !important;
}

/* line 346, ../../sass/_utilities.scss */
.borderLeftNone {
  border-left: none !important;
}

/* line 349, ../../sass/_utilities.scss */
.borderBottomNone {
  border-bottom: none !important;
}

/* line 352, ../../sass/_utilities.scss */
.borderRightNone {
  border-right: none !important;
}

/* line 357, ../../sass/_utilities.scss */
.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 363, ../../sass/_utilities.scss */
.elip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../../sass/_utilities.scss */
.clearfloat {
  content: "";
  clear: both;
  display: table;
}

/* line 444, ../../sass/_utilities.scss */
.fl-Miniloader {
  color: #555555;
  -webkit-animation: Miniloader .7s infinite linear;
  -moz-animation: Miniloader .7s infinite linear;
  animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Miniloader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
/* line 469, ../../sass/_utilities.scss */
.fl-RevealLoader {
  -webkit-animation: RevealLoader .7s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes RevealLoader {
  0% {
    right: 0px;
  }
  100% {
    right: -75px;
  }
}
/* line 495, ../../sass/_utilities.scss */
.fl_badge_silver {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #C0C0C0;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SpringGreen {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #2ecc71;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Gold {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #FFD700;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_DarkRed {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #8B0000;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SteelBlue {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #4682B4;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Black {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #000000;
}

/* line 635, ../../sass/_utilities.scss */
.fl-form-prop-cont-wid {
  width: 49%;
}

/* line 3, ../../sass/message_board/message_board.scss */
.fl-message-board-banner {
  height: 60px;
  background-color: #ffffff;
  background-size: cover;
  -webkit-backgroubd-size: cover;
  -moz-webkit-background-size: cover;
  background-image: url("../../../images/icon/Logo_on_the_top_portion.png");
  background-position: 1px;
}
/* line 13, ../../sass/message_board/message_board.scss */
.fl-message-board-banner .div_1_of_2 h2 {
  font-size: 17px;
  color: #3A3A3A;
  line-height: 17px;
  color: #0F3E5E;
}

/* line 26, ../../sass/message_board/message_board.scss */
.fl-mb-header {
  background-color: #3498db;
  color: #ffffff;
  border-bottom: 3px solid #2980b9;
}
/* line 31, ../../sass/message_board/message_board.scss */
.fl-mb-header h1 {
  font-weight: bold;
  font-size: 30px;
}

/* line 37, ../../sass/message_board/message_board.scss */
.fa-i-style {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 43px;
  background-color: #34495e;
}

/* line 47, ../../sass/message_board/message_board.scss */
.fl-mb-date h1 {
  font-size: 17px;
  color: #ffffff;
}

/* line 55, ../../sass/message_board/message_board.scss */
.fl-now-serving-panel, .fl-mb-attention {
  background-color: #3498db;
  color: #ffffff;
  border-bottom: 3px solid #2980b9;
}
/* line 60, ../../sass/message_board/message_board.scss */
.fl-now-serving-panel .fl-small-widgetv2, .fl-mb-attention .fl-small-widgetv2 {
  height: 41px;
}
/* line 63, ../../sass/message_board/message_board.scss */
.fl-now-serving-panel .fl-small-widgetv2 h1, .fl-mb-attention .fl-small-widgetv2 h1 {
  color: #222222;
  font-size: 30px;
}
/* line 68, ../../sass/message_board/message_board.scss */
.fl-now-serving-panel .fl-small-widgetv2 h1 i.fa, .fl-mb-attention .fl-small-widgetv2 h1 i.fa {
  color: #ffffff;
}

/* line 75, ../../sass/message_board/message_board.scss */
.fl-mb-attention-to, .fl-mb-attention-fr {
  background-color: #ffffff;
  color: #222222;
  box-shadow: -1px 1px 4px #222;
}
/* line 81, ../../sass/message_board/message_board.scss */
.fl-mb-attention-to input[type="text"], .fl-mb-attention-fr input[type="text"] {
  width: 95%;
  height: 40px;
  font-size: 25px;
  padding: 5px;
}
/* line 88, ../../sass/message_board/message_board.scss */
.fl-mb-attention-to label, .fl-mb-attention-fr label {
  font-size: 25px;
}

/* line 95, ../../sass/message_board/message_board.scss */
.fl-mb-attention-fr input[type="text"] {
  width: 91.3%;
}

/* line 101, ../../sass/message_board/message_board.scss */
.fl-mb-attention-call, .fl-mb-announcement-call {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-shadow: -1px 1px 4px #222;
  background-color: #ffffff;
  color: #222222;
}
/* line 109, ../../sass/message_board/message_board.scss */
.fl-mb-attention-call h1, .fl-mb-announcement-call h1 {
  font-size: 35px;
  line-height: 32px;
}

/* line 114, ../../sass/message_board/message_board.scss */
.fl-mb-announcement-call {
  margin-top: 4px;
}

/* line 118, ../../sass/message_board/message_board.scss */
.fl-now-serving-table-wrapper {
  box-shadow: -1px 1px 4px #222;
  background-color: #ffffff;
  margin-top: 4px;
}
/* line 125, ../../sass/message_board/message_board.scss */
.fl-now-serving-table-wrapper #fl-now-serving-table thead {
  background-color: #e74c3c;
  font-size: 22px;
}
/* line 130, ../../sass/message_board/message_board.scss */
.fl-now-serving-table-wrapper #fl-now-serving-table thead tr td {
  color: #ffffff;
}
/* line 136, ../../sass/message_board/message_board.scss */
.fl-now-serving-table-wrapper #fl-now-serving-table tr {
  border: 1px solid #222;
}
/* line 138, ../../sass/message_board/message_board.scss */
.fl-now-serving-table-wrapper #fl-now-serving-table tr td {
  font-size: 20px;
  border: 1px solid #222;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
