@import "utilities";


// Classes
.isDisplayNone {
    @extend %display_none;
}

.iswH100perc {
    @extend %width_perc100;
}

.iswH90perc {
    @extend %width_perc90;
}

.iswH80perc {
    @extend %width_perc80;
}

.iswH70perc {
    @extend %width_perc70;
}

.iswH60perc {
    @extend %width_perc60;
}

.iswH50perc {
    @extend %width_perc50;
}

.iswH40perc {
    @extend %width_perc40;
}

.iswH30perc {
    @extend %width_perc30;
}

.iswH20perc {
    @extend %width_perc20;
}


.iswH10perc {
    @extend %width_perc10;
}


// Classes


//Company announcement layout file

.Cac_fl-company-announcement-container {
    position: relative; 
    margin: 0px auto; 
    padding: 0px; 
    width: 100%; 
    height: 200px;
    overflow: hidden;
}

.Cac_fl-content-dialog {
    width: 95%;height: 
        auto;padding: 5px;
}

.Cac_fl-even-container {
    width: 100%;
}

.Cac_fl-post-event {
    word-break: break-word;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    @extend %border_radius3;
    padding: 5px;
}

.Cac_fl-posted {
    font-size: 11px;
    color: #666;
}

//Company announcement layout file


//Small widget
.fl-widget-head.fl-small-widgetv2 {
    background-color:#ffffff !important;
    @include vendor-prefix('border-radius', '0px');
    border: 1px solid #cfdbe2;
    border-top:2px solid #cfdbe2;
    border-bottom:none;
    box-shadow: 0 4px 10px -6px #cfdbe2;
    z-index: 1;
    position: relative;

    .widget-icon-wrapper {
        @extend %fL;
        span.widget-title {
            color: #6e6e6e !important;
        }

        span.fl-msg-name {
            @extend %font_weight_bold;
        }
    }
}

.fl-widget-head.fl-small-widgetv3 {
    padding: 0px;
    height: 34px;
    border-top-left-radius: 3px;
    border-top-right-radius:3px;

    .widgetv3-widget-title {
        position: relative;
        top: 10px;
        left: 4px;
    }
}

.fl-widget-wrapper.fl-small-widgetwrapperv2, .fl-widget-wrapper-scroll {
    height:200px;
    overflow: hidden;
    background-color:#ffffff !important;
    border: 1px solid #cfdbe2;
    border-top:none;
    border-bottom: 1px solid #cfdbe2;
    padding:0px;
    @include vendor-prefix('border-radius', '0px');
}
.fl-widget-wrapper-not-scroll {
    height:auto;
    overflow: hidden;
    background-color:#ffffff !important;
    border: 1px solid #cfdbe2;
    border-top:none;
    border-bottom: 3px solid #cfdbe2;
    padding:0px;
    @include vendor-prefix('border-radius', '0px');
}

.fl-widget-wrapper-not-scroll > .fl-list-of-app-record-wrapper > .fl-table-wrapper > #loadMyRequestTable_wrapper > .dataTables_info {
    padding:12px !important; 
}

.fl-widget-wrapper-not-scroll > .fl-list-of-app-record-wrapper > .fl-table-wrapper > #loadMyRequestTable_wrapper > .dataTables_paginate {
    margin:12px !important;
}


.widget-icon-wrapper .cewv2 {
    @include pos-rel(-9px, auto, auto, -9px);
    background-position: -40px -293px !important;
    width:28px;
}

.widget-icon-wrapper .starredv2{
    @include pos-rel(-9px, auto, auto, -9px);
    background-position: -39px  -257px!important;
    width:32px;
}

.widget-icon-wrapper .messages {
    @include pos-rel(-9px, auto, auto, -9px);
    background-position: -39px -156px;
    width:28px;
}

.fl-widget-cpnyevnts-content-wrapperv2{
    @extend %height_perc100;
    //@extend .bgcolorfff;
    width: auto;
    min-height:40px;
    font-size:12px;
    line-height:15px;
    padding-bottom:5px;
    margin-left: 47px;
    word-break:break-word;
}


.fl-widget-content.fl-widget-contentv2 {
    border-bottom: 1px solid #cfdbe2;
    @include margin(0%, 0%, 0%, 0%);
    @include padding(5px, 5px, 0px, 5px);
    @extend %trans_duration3;
    @extend %transition_timing_ease_in;
    @extend %box_sizing_border_box;
    width:100% !important;

}



.fl-wcheader {
    .fl-wchname {
        margin-bottom:5px;
        font-size:12px;
        font-weight:bold;
    }

    .fl-wchdate {
        @extend %fR;
        color:#33b5e5;
        font-size:11px;
    }
}

.fl-widget-my-requests-content-wrapperv2, .fl-widget-starred-content-wrapperv2{
    @extend %height_perc100;
    //@extend .bgcolorfff;
    width: auto;
    margin-left: 47px;
    font-size:13px;
    line-height:15px;
    padding-bottom:5px;

}
.fl-widget-my-requests-content-wrapperv2 {
    margin-left: 0px;
}

.fl-widget-starred-content-wrapperv2 {

    .fl-wchname {
        margin-bottom:0px;
    }

    .fl-wchdate {
        @extend %fN;
        color:#33b5e5;
        font-size:11px;
    }


}

.fl-widget-starred-content-wrapperv2 {
    i.fa-times {
        margin-right:5px;
    }
}
.fl-widget-cpnyevnts-content-wrapperv2 {
    .fl-wcheader {
        .fl-wchdate {
            .timeago {
                margin-right:6px;
            }
        }	
    }
}


.widget-icon-wrapper .my-requestsv2 {
    @include pos-rel(-9px, auto, auto, -9px);
    background-position: -40px -225px !important;
    width:28px;
}

.widget-icon-wrapper .custom-widget {
    @include pos-rel(-9px, auto, auto, -9px);
    background-position: -80px -552px !important;
    width:28px;
}

.fl-myrequest-container-users {
    .fl-widget-info {
        .fl-widget-contentv2 {
            padding:0px;
        }
    }
}

.fl-widget-content:hover {
    background: rgba(22, 22, 22, 0.5);
}


.fl-widget-content:hover span.fl-request-id > a, .fl-widget-content:hover .starredtype-data{  
    background: rgba(22, 22, 22, 0.5);
    padding:0px 2px 0px 2px;
    @extend %border_radius3;
}

.fl-widget-content:hover a.fl-events-data {
    text-decoration:underline;
}

.fl-widget-content:hover span, .fl-widget-content:hover a {
    @extend .colorfff;
}


.fl-widget-content:hover .fl-avatar > img {
    @extend .rotateScale;
}



.fl-widget-info, .fl-widget-content .fl-avatar > img {
    @extend %trans_duration3;
    @extend %transition_timing_ease_in;
}	

// .fl-widget-info a:hover{
// 	background: rgba(22, 22, 22, 0.5);
// 	@extend .colorfff;
// }

.fl-form-request-header {
    background-color:#cfdbe2;
    padding:5px;
    @extend %box_sizing_border_box;
    span {
        color:#778a96 !important;
    }

}

.fl-form-request-body {
    padding:5px;
    line-height:16px;
}

.div_1_of_2, .div_1_of_1 {
    .fl-widget-wrapper-scroll {
        min-height: 440px;
        //height: 440px;
    }
}

.fl-request-widget {
    height:auto;
    //border-bottom: 1px solid #cfdbe2;
    @include margin(2%, 0%, 0%, 0%);
    @include padding(0px, 5px, 0px, 5px);
    @extend %box_sizing_border_box;
    width:100% !important;

    .fl-request-widget-header {
        @include border-top-left-radius(3px);
        @include border-top-right-radius(3px);
        //@extend .elip;
        padding:5px;
        background-color: #cfdbe2;
        border: 1px solid #D0D1D5;
        
        span {
            color:#222;
        }
    }

    .fl-request-widget-data {
        @include border-bottom-left-radius(3px);
        @include border-bottom-right-radius(3px);
        border: 1px solid;
        border-color: #e9eaed #dfe0e4 #d0d1d5;

        li {
            padding:5px;
            word-break: break-all;
            line-height: 16px;
        }

        li:nth-child(odd) {
            background-color:#F5F5F5;
        }

        li:last-child {
            @include border-bottom-left-radius(3px);
            @include border-bottom-right-radius(3px);
        }
    }
    
    .fl-request-widget:last-child {
        @include padding(auto, auto, 5px, auto);
    }

}

.fl-wrapper-to-move {
    @include pos-rel(auto, auto, auto, auto);
    z-index: 2;

}

.fl-reveal-this-wrapper-btn {
    @include pos-rel(auto, auto, auto, auto);
}

.fl-modules-forms-details {
    @extend %width_perc30;
    @include pos-abs(47px, 0px, auto, auto);
    background-color: #FFF;
    border-bottom: 1px solid #CFDBE2;
    border-right: 1px solid #CFDBE2;
    border-left: 1px solid #CFDBE2;
    z-index: 1;

    .fl-widget-head {
        border:none;
    }
    
    .fl-widget-wrapper-scroll {
        @include padding(0px, 0px, 5px, 0px);
        @extend %box_sizing_border_box;
    }
}

.fl-inner-content {
    @include padding(10px, 10px, 10px, 10px);
    @extend %box_sizing_border_box;

}

.fl-fa-btn {
     @include padding(5px, 5px, 5px, 5px);
     @extend %border_radius3;
     color: rgb(255, 255, 255);
}

.fl-field-style {
    background-color: #EFEFEF;
    margin-bottom: 5px !important;
    border: 1px solid;
    border-color: #e9eaed #dfe0e4 #d0d1d5;
    @extend %border_radius3;
    
    span {
        margin-bottom: 3px;
        @extend %display_inline_block; 
   }

   input[type="text"], textarea {
        padding:7px;
   }
}

#fl-widget-icon-set {
    li {
        float:left;
        margin:5px;
    }
}