/* line 23, ../../sass/_utilities.scss */
.fl-floatLeft, .workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper ul li {
  float: left;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatRight {
  float: right;
}

/* line 23, ../../sass/_utilities.scss */
.isFloatNone, .workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper ul li.ext-links {
  float: none;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignCenter {
  text-align: center;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignLeft {
  text-align: left;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignRight {
  text-align: right;
}

/* line 44, ../../sass/_utilities.scss */
.workspace_option_bar {
  width: 100%;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansregular {
  font-family: droid_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansbold, .font_droid_sansbold {
  font-family: droid_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensansregular {
  font-family: open_sanslight_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensanslight {
  font-family: open_sanslight;
}

/* line 102, ../../sass/_utilities.scss */
.protestantregular {
  font-family: protestant_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoregular {
  font-family: dustismo_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobold {
  font-family: dustismo_regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoromanregular {
  font-family: dustismo_romanregular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoitalic {
  font-family: dustismo_italic;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobolditalic {
  font-family: dustismobold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansregular {
  font-family: perspective_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbold {
  font-family: perspective_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansblackitalic {
  font-family: perspective_sans_blackitalic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbolditalic {
  font-family: perspective_sansbold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspective_sansitalic {
  font-family: perspective_sansitalic;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiregular {
  font-family: sansumiregular;
}

/* line 102, ../../sass/_utilities.scss */
.sansumibold {
  font-family: sansumiregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumisemibold {
  font-family: sansumi_demibold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiultralightregular {
  font-family: sansumi_ultralightregular;
}

/* line 102, ../../sass/_utilities.scss */
.traditionsansxlightregular {
  font-family: traditionsans_xlightregular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95regular {
  font-family: vera_humana_95regular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bold {
  font-family: vera_humana_95regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bolditalic {
  font-family: vera_humana_95bolditalic;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95italic {
  font-family: vera_humana_95italic;
}

/* line 102, ../../sass/_utilities.scss */
.weezerfontregular {
  font-family: weezerfontregular;
}

/* line 102, ../../sass/_utilities.scss */
.weblysleelight {
  font-family: weblysleeklight;
}

/* line 124, ../../sass/_utilities.scss */
.font-bold, .isFontWeightBold {
  font-weight: bold;
}

/* line 135, ../../sass/_utilities.scss */
.marginAuto {
  margin: 0 auto;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity0 {
  opacity: 0;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity1 {
  opacity: 1;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayBlock {
  display: block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayInlineBlock {
  display: inline-block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTable, .workspace_option_bar .fl-toolbar-right-wrapper {
  display: table;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableCell, .workspace_option_bar .fl-toolbar-right-wrapper .fl-form-workspace-details {
  display: table-cell;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableRow {
  display: table-row;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayNone, .view-embed-iframe .fl-user-header-wrapper, .view-picklist-iframe .fl-user-header-wrapper, .add-picklist-iframe .fl-user-header-wrapper {
  display: none;
}

/* line 163, ../../sass/_utilities.scss */
.fl-positive-btn {
  background-color: #2ecc71 !important;
}

/* line 167, ../../sass/_utilities.scss */
.fl-negative-btn {
  background-color: #c0392b !important;
}

/* line 171, ../../sass/_utilities.scss */
.fl-default-btn {
  background-color: #abbac3 !important;
}

/* line 176, ../../sass/_utilities.scss */
.avatar-wrapper {
  height: 40px;
  padding: 5px;
}

/* line 181, ../../sass/_utilities.scss */
.avatar-profile-properties {
  font-size: 12px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* line 189, ../../sass/_utilities.scss */
.input-text {
  width: 190px;
  height: 18px;
  padding: 3px;
}

/* line 195, ../../sass/_utilities.scss */
.input-select {
  height: 32px;
  border: 1px solid #d6d6d6;
}

/* line 200, ../../sass/_utilities.scss */
.input-submit {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 207, ../../sass/_utilities.scss */
.input-button {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 214, ../../sass/_utilities.scss */
.input-type-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto !important;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0px;
  z-index: 999999;
}

/* line 228, ../../sass/_utilities.scss */
.bold-text {
  font-weight: bold;
}

/* line 232, ../../sass/_utilities.scss */
.colorfff, .fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .workspace_option_bar ul.fl-action-menu li a:hover, .workspace_option_bar ul.fl-action-menu li ul.horizontal-sub-menu li a {
  color: #ffffff;
}

/* line 236, ../../sass/_utilities.scss */
.bgcolorfff {
  background-color: #ffffff !important;
}

/* line 246, ../../sass/_utilities.scss */
.isCursorNotAllowed {
  cursor: not-allowed;
}

/* line 246, ../../sass/_utilities.scss */
.font-bold, .isCursorPointer {
  cursor: pointer;
}

/* line 252, ../../sass/_utilities.scss */
.fl-secondary-btn {
  border: 1px solid #d6d6d6 !important;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
}

/* line 262, ../../sass/_utilities.scss */
.fl-button-press {
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 267, ../../sass/_utilities.scss */
.fl-button-press-hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 279, ../../sass/_utilities.scss */
.trans_duration3, .workspace_option_bar ul.fl-action-menu li a, .workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper ul li a, .workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category ul li {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 311, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category {
  box-sizing: border-box;
}

/* line 322, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-active-link-color {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 332, ../../sass/_utilities.scss */
.rotateScale {
  -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
  -moz-transform: rotate(-30deg) scale(1.2, 1.2);
  -o-transform: rotate(-30deg) scale(1.2, 1.2);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* line 340, ../../sass/_utilities.scss */
.borderNone {
  border: none !important;
}

/* line 343, ../../sass/_utilities.scss */
.borderTopNone {
  border-top: none !important;
}

/* line 346, ../../sass/_utilities.scss */
.borderLeftNone {
  border-left: none !important;
}

/* line 349, ../../sass/_utilities.scss */
.borderBottomNone {
  border-bottom: none !important;
}

/* line 352, ../../sass/_utilities.scss */
.borderRightNone {
  border-right: none !important;
}

/* line 357, ../../sass/_utilities.scss */
.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 363, ../../sass/_utilities.scss */
.elip, .workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category ul li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../../sass/_utilities.scss */
.clearfloat {
  content: "";
  clear: both;
  display: table;
}

/* line 444, ../../sass/_utilities.scss */
.fl-Miniloader {
  color: #555555;
  -webkit-animation: Miniloader .7s infinite linear;
  -moz-animation: Miniloader .7s infinite linear;
  animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Miniloader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
/* line 469, ../../sass/_utilities.scss */
.fl-RevealLoader {
  -webkit-animation: RevealLoader .7s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes RevealLoader {
  0% {
    right: 0px;
  }
  100% {
    right: -75px;
  }
}
/* line 495, ../../sass/_utilities.scss */
.fl_badge_silver {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #C0C0C0;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SpringGreen {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #2ecc71;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Gold {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #FFD700;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_DarkRed {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #8B0000;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SteelBlue {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #4682B4;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Black {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #000000;
}

/* line 635, ../../sass/_utilities.scss */
.fl-form-prop-cont-wid {
  width: 49%;
}

/* line 4, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.fl-workspace-control-container {
  top: 50px;
  right: auto;
  bottom: auto;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 100000;
  background-color: #F5F7FA;
}
/* line 10, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.fl-workspace-control-container .fl-controlsv2-main-warpper {
  position: static;
}

/* line 16, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  z-index: 999999;
  height: 27px !important;
  padding: 0px !important;
}
/* line 23, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar ul.fl-action-menu li {
  border-right: 1px solid #CFDBE2;
}
/* line 25, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar ul.fl-action-menu li a {
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}
/* line 33, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar ul.fl-action-menu li ul.horizontal-sub-menu {
  top: 27px;
  right: auto;
  bottom: auto;
  left: 0px;
  position: absolute;
  z-index: 9999999;
}
/* line 37, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar ul.fl-action-menu li ul.horizontal-sub-menu li a {
  width: 145px;
}
/* line 47, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar .fl-toolbar-right-wrapper {
  height: 27px;
}
/* line 51, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_bar .fl-toolbar-right-wrapper .fl-form-workspace-details {
  vertical-align: middle;
}

/* line 61, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab {
  margin: 0 auto;
}
/* line 64, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls {
  height: 65px;
}
/* line 67, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper {
  position: relative;
}
/* line 71, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-form-contr-hd {
  margin-bottom: 3px;
}
/* line 75, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper ul li {
  list-style: none;
}
/* line 80, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper ul li a {
  color: #222;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
}
/* line 96, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper {
  height: 25px;
}
/* line 98, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper button:hover {
  color: #778a96;
}
/* line 103, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms {
  height: 65px;
  overflow: hidden;
  white-space: nowrap;
}
/* line 110, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner {
  width: auto;
  display: inline-block;
}
/* line 115, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category {
  width: 300px;
  height: 65px;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #BAC3C8;
  display: inline-block;
  margin-left: -3px;
}
/* line 132, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category ul li a {
  padding-top: 2px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 3px;
  display: block;
}
/* line 140, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category ul li:nth-child(odd) {
  background-color: #F5F5F5;
}
/* line 144, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category ul li:nth-child(even) {
  background-color: #ffffff;
}
/* line 148, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category ul li:hover {
  background-color: #d0d0d0;
}
/* line 153, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category .ps-scrollbar-y {
  z-index: 10000000;
}
/* line 160, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category:first-child {
  margin-left: 0px;
}
/* line 166, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category.item_first_padding ul li a {
  padding-left: 17px;
}
/* line 172, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category.item_last_padding ul li a {
  padding-right: 17px;
}
/* line 176, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab #fl-workspace-controls .tab-wrapper .fl-workspace-control-wrapper .fl-workspace-button-wrapper-relatedforms #fl-links-option-inner .fl-links-option-category.item_last_padding .ps-scrollbar-y {
  margin-right: 14px;
}
/* line 188, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.workspace_option_tab .fl-form-name-wrapper {
  top: 1px;
  right: auto;
  bottom: auto;
  left: 0px;
  position: relative;
  padding-top: 9px;
  padding-bottom: 8px;
}

/* line 197, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.fl-active-link-color {
  color: #fff !important;
}

/* line 202, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.fl-uploadfile-workspace {
  background-color: #d0d0d0;
  width: 98.5%;
  margin: 0 auto;
  height: 62px;
}

/* line 210, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.picklist-iframe .fl-user-header-wrapper {
  display: none;
}

/* line 217, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.view-embed-iframe .fl-workspace-control-container, .view-embed-iframe .fl-user-wrapper, .view-picklist-iframe .fl-workspace-control-container, .view-picklist-iframe .fl-user-wrapper, .add-picklist-iframe .fl-workspace-control-container, .add-picklist-iframe .fl-user-wrapper {
  top: 0px;
}
/* line 225, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.view-embed-iframe .loaded_form_content, .view-picklist-iframe .loaded_form_content, .add-picklist-iframe .loaded_form_content {
  margin-top: 0px !important;
}
/* line 229, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.view-embed-iframe .fl-user-header-wrapper, .view-picklist-iframe .fl-user-header-wrapper, .add-picklist-iframe .fl-user-header-wrapper {
  display: none;
}

/* line 235, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.view-embed-iframe .fl-workspace-control-container, body.ui-portal-body .fl-workspace-control-container {
  top: 0px;
}

/* line 240, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.view-picklist-iframe .fl-workspace-control-container, .view-picklist-iframe .fl-user-wrapper {
  top: 0px;
}

/* line 250, ../../sass/workspace_option_bar/workspace_option_bar.scss */
.view-picklist-iframe .fl-workspace-control-container {
  top: 0px;
}
