<style>
	body{background-color:#6eb7be;}
</style>
<pfp-toolbar menu-button="app.toggleLeft()" title="{{comp.pref.COMPANY_INFO.name}}"></pfp-toolbar>
<section layout="row" flex="grow">
 	<pfp-sidebar company-id="comp.pref.COMPANY_INFO.id" pf-forms="comp.pref.PFP_INFO.Forms"></pfp-sidebar>

 	<md-content flex class="main-content home" layout-fill layout-align="center center" layout="row" style="background-color:#6eb7be;padding-top:40px">

 	<div flex-xs flex-gt-xs="50" layout="column" >
      <md-card style="text-align:center"  >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{comp.pref.COMPANY_INFO.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="./assets/images/wallpaperBannerF.jpg" class="md-card-image md-image-no-fill" alt="Washed Out">
      <!--   <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{comp.Company.name}}</span>
          </md-card-title-text>
        </md-card-title> -->
        <md-card-content >
          <p>
            Powered by Formalistics &#169; 2016.
          </p>
	       
        </md-card-content>
       
      </md-card>
    </div>
 	</md-content>
</section>