        <!--  <a class="scrollup">Scroll</a> -->
       <div class="clearfix"></div> 
        <?php
		$fs = new functions();
        	if(!Auth::hasAuth('current_user')){
			if($fs->get_module($_SERVER['REQUEST_URI'],$_SERVER['QUERY_STRING']) != "activation"){
        ?>
        <div id="custom-login-footer">
		<span>&copy <?php echo date('Y') ?> eton</span>
	</div>    
	<?php
			}
            }
	?>           
    </body>
    	
    <!-- modernizr Functions -->
	<script type="text/javascript" src="/js/functions/geolocation.js"></script>
	<script type="text/javascript" src="/js/library/wizard/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/functions/tour/tour.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// Tour
				$("#tourcontrols").draggable();
		});
	</script>
</html>