
.fl-user-navigation-wrapper.fl-infinite-nav-wrapper ul ul li {
    border-top:none;
}
.fl-user-navigation-wrapper.fl-infinite-nav-wrapper > ul > li:last-child {
    display:block !important;
}
.fl-user-navigation-wrapper ul li:hover ul.fl-infinite-nav-sub li a, .fl-user-navigation-wrapper-ui2 ul li:hover ul.fl-infinite-nav-sub li a {
    color:#6e6e6e;
}

.fl-user-navigation-wrapper ul ul ul.fl-infinite-nav-sub li a {
    font-size:12px;
}

.fl-user-navigation-wrapper ul li ul.fl-infinite-nav-sub li a, .fl-user-navigation-wrapper-ui2 ul li ul.fl-infinite-nav-sub li a {
    padding: 11px 17px 10px 0px;
}

.fl-user-navigation-wrapper-ui2 ul li ul.fl-infinite-nav-sub li a {
   // padding: 14px 17px 13px 10px;
}

.fl-user-navigation-wrapper-ui2 > ul#fl-infinite-nav > li {
    border-bottom: 1px solid #d3d3d3;
}

#fl-infinite-nav {
    //background:#e0e0e0;
    //width:221px;
}
#fl-infinite-nav, .fl-infinite-nav-sub, #fl-infinite-nav .fl-infinite-nav-sub li {
    margin:0px;
    padding:0px;
}
#fl-infinite-nav li {
    cursor:pointer;
    list-style:none;
    //border-right:1px #d3d3d3 solid; 
    //border-bottom:1px #d3d3d3 solid;
    //border-left:1px #d3d3d3 solid;
    position:relative;
    width:auto;
    font-size:12px;
}
#fl-infinite-nav li:last-child {
   border-bottom:1px #d3d3d3 solid;
}
#fl-infinite-nav li ul.first {
    left:100%;
    top:-1px;
}
li a {
    //color:#000;
    @extend %box_sizing_border_box;
    @extend %trans_duration3;
    text-decoration:none;
    //padding:8px;
}

#fl-infinite-nav .fl-infinite-nav-sub {
 
    -webkit-box-box-shadow: 4px 4px 2px -2px #8D8D8D;
    -moz-box-box-shadow: 4px 4px 2px -2px #8D8D8D;
    box-shadow: 4px 4px 2px -2px #8D8D8D;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

#fl-infinite-nav .fl-infinite-nav-sub li {
    //width:100%;
    // text-indent:10px;
    //margin-right:10px;
    background:#e0e0e0;
    border-top:1px #d3d3d3 solid;
}
#fl-infinite-nav li a {
    display:block;
    width:inherit;
    height:inherit;
}
ul.fl-infinite-nav-sub {
    display:none;
    @extend %trans_duration3;
}


#fl-infinite-nav li:hover > a, #fl-infinite-nav li:hover, .fl-infinite-nav-sub  li:hover > a, .fl-infinite-nav-sub  li:hover {
    @extend .colorfff;
    background:#8D8D8D !important;
}

#fl-infinite-nav li:hover > a.fl-admin-leftbar3-style > i, #fl-infinite-nav li:hover, .fl-infinite-nav-sub  li:hover > a.fl-admin-leftbar3-style > i, .fl-infinite-nav-sub  li:hover {
    @extend .colorfff;
    background:#8D8D8D !important;
}

// .fl-user-navigation-wrapper.fl-infinite-nav-wrapper #fl-infinite-nav li:hover ul.fl-infinite-nav-sub li a {
//     color:#6e6e6e !important;
// }
// .fl-user-navigation-wrapper.fl-infinite-nav-wrapper #fl-infinite-nav li:hover ul.fl-infinite-nav-sub li a:hover, .fl-user-navigation-wrapper.fl-infinite-nav-wrapper #fl-infinite-nav li:hover ul.fl-infinite-nav-sub li:hover {
//     color:#ffffff !important;
// }

#fl-infinite-nav li:hover > .fl-infinite-nav-sub { //not(.pageNavigation)
    @extend %trans_duration3;
    display:block;
    position:absolute;
    width:200px;
    top:-1px;
    left:100%;
    z-index:1000;
}

#fl-infinite-nav li.fl-administer-btn:hover > .fl-infinite-nav-sub {
    //top:-313px;
    //bottom: -1px;
    //top: auto;
}

#fl-infinite-nav li:hover {
    position:relative;
    z-index:2000;
}
#fl-infinite-nav li:hover svg.icon-svg-main-nav, #fl-infinite-nav li:hover svg.icon-svg-main-nav, #fl-infinite-nav li:hover svg.icon-svg-main-nav-icon-only, .fl-infinite-nav-sub li:hover svg.icon-svg-main-nav-sub-nav {
    fill:#ffffff;

}

.fl-user-navigation-wrapper #fl-infinite-nav .getSideBarNavigation ul  li a, .fl-user-navigation-wrapper-ui2 #fl-infinite-nav .getSideBarNavigation ul  li a {
    padding: 13px 17px 13px 10px;
}

#fl-infinite-nav li:hover > a {
      //padding-left: 40px;
}

