/*
*
* RP responsive grid Framework v1
* Copyright 2014 { Roni Pinili }
* 
*/
/* line 7, ../../sass/rp-response/responsive.scss */
.font_family {
  font-family: arial;
}

/* line 11, ../../sass/rp-response/responsive.scss */
.box_ColorGreen {
  background-color: #32ce74 !important;
}

/* line 15, ../../sass/rp-response/responsive.scss */
.box_Reddish {
  background-color: #e74c3c !important;
}

/* line 19, ../../sass/rp-response/responsive.scss */
.box_sizing, .column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../../sass/rp-response/responsive.scss */
.section {
  clear: both;
  padding: 0;
  margin: 0;
}

/* line 31, ../../sass/rp-response/responsive.scss */
.column {
  display: block;
  float: left;
  margin: .5% 0 .5% .5%;
  padding: 5px;
}

@media (max-width: 568px) {
  /* line 40, ../../sass/rp-response/responsive.scss */
  .column {
    margin: .5% 0 .5% 0%;
  }
}
/* line 45, ../../sass/rp-response/responsive.scss */
.clearing:before,
.clearing:after {
  content: "";
  display: table;
}

/* line 51, ../../sass/rp-response/responsive.scss */
.clearing:after {
  clear: both;
}

/* line 55, ../../sass/rp-response/responsive.scss */
.clearing {
  zoom: 1;
  /* For IE 6/7 */
}

/* line 60, ../../sass/rp-response/responsive.scss */
.column:first-child {
  margin-left: 0;
}

/* line 64, ../../sass/rp-response/responsive.scss */
.div_1_of_1 {
  width: 100%;
}

/* == GRID OF 2 == */
/* line 69, ../../sass/rp-response/responsive.scss */
.div_1_of_2 {
  width: 49.75%;
}

@media (max-width: 568px) {
  /* line 73, ../../sass/rp-response/responsive.scss */
  .div_1_of_2 {
    width: 100%;
  }
}
/* == GRID OF 2 == */
/* == GRID OF 3 == */
/* line 80, ../../sass/rp-response/responsive.scss */
.div_1_of_3 {
  width: 33%;
}

@media (max-width: 568px) {
  /* line 84, ../../sass/rp-response/responsive.scss */
  .div_1_of_3 {
    width: 100%;
  }
}
/* line 89, ../../sass/rp-response/responsive.scss */
.div_2_of_3 {
  width: 66.5%;
}

@media (max-width: 568px) {
  /* line 94, ../../sass/rp-response/responsive.scss */
  .div_2_of_3 {
    width: 100%;
  }
}
/* line 100, ../../sass/rp-response/responsive.scss */
.div_3_of_3 {
  width: 100%;
}

/* == GRID OF 3 == */
/* == GRID OF 4 == */
/* line 107, ../../sass/rp-response/responsive.scss */
.div_1_of_4 {
  width: 24.625%;
}

@media (max-width: 1024px) {
  /* line 112, ../../sass/rp-response/responsive.scss */
  .div_1_of_4 {
    width: 100%;
  }
}
/* line 118, ../../sass/rp-response/responsive.scss */
.div_3_of_4 {
  width: 74.87%;
}

@media (max-width: 1024px) {
  /* line 123, ../../sass/rp-response/responsive.scss */
  .div_3_of_4 {
    width: 100%;
  }
}
/* line 128, ../../sass/rp-response/responsive.scss */
.div_4_of_4 {
  width: 100%;
}

/* == GRID OF 4 == */
/* == GRID OF 5 == */
/* line 135, ../../sass/rp-response/responsive.scss */
.div_1_of_5 {
  width: 19.6%;
}

@media (max-width: 568px) {
  /* line 140, ../../sass/rp-response/responsive.scss */
  .div_1_of_5 {
    width: 100%;
  }
}
/* line 146, ../../sass/rp-response/responsive.scss */
.div_4_of_5 {
  width: 79.9%;
}

@media (max-width: 568px) {
  /* line 151, ../../sass/rp-response/responsive.scss */
  .div_4_of_5 {
    width: 100%;
  }
}
/* line 157, ../../sass/rp-response/responsive.scss */
.div_5_of_5 {
  width: 100%;
}

/* == GRID OF 5 == */
/* == GRID OF 6 == */
/* line 164, ../../sass/rp-response/responsive.scss */
.div_1_of_6 {
  width: 16.25%;
}

@media (max-width: 568px) {
  /* line 170, ../../sass/rp-response/responsive.scss */
  .div_1_of_6 {
    width: 100%;
  }

  /* line 173, ../../sass/rp-response/responsive.scss */
  .div_5_of_6 {
    width: 100%;
  }
}
/* line 178, ../../sass/rp-response/responsive.scss */
.div_5_of_6 {
  width: 85.6%;
}

/* line 183, ../../sass/rp-response/responsive.scss */
.div_6_of_6 {
  width: 100%;
}

/* == GRID OF 6 == */
/* == GRID OF 7 == */
/* line 190, ../../sass/rp-response/responsive.scss */
.div_1_of_7 {
  width: 13.85%;
}

@media (max-width: 568px) {
  /* line 197, ../../sass/rp-response/responsive.scss */
  .div_1_of_7 {
    width: 100%;
  }
}
/* line 202, ../../sass/rp-response/responsive.scss */
.div_6_of_7 {
  width: 85.2%;
}

/* line 206, ../../sass/rp-response/responsive.scss */
.div_7_of_7 {
  width: 100%;
}

/* == GRID OF 7 == */
/* == GRID OF 8 == */
/* line 214, ../../sass/rp-response/responsive.scss */
.div_1_of_8 {
  width: 12.056%;
}

@media (max-width: 568px) {
  /* line 221, ../../sass/rp-response/responsive.scss */
  .div_1_of_8 {
    width: 100%;
  }
}
/* line 226, ../../sass/rp-response/responsive.scss */
.div_7_of_8 {
  width: 87.4%;
}

/* line 230, ../../sass/rp-response/responsive.scss */
.div_8_of_8 {
  width: 100%;
}

/* == GRID OF 8 == */
/* == GRID OF 9 == */
/* line 237, ../../sass/rp-response/responsive.scss */
.div_1_of_9 {
  width: 10.6656%;
}

@media (max-width: 568px) {
  /* line 242, ../../sass/rp-response/responsive.scss */
  .div_1_of_9 {
    width: 100%;
  }
}
/* line 248, ../../sass/rp-response/responsive.scss */
.div_8_of_9 {
  width: 88.4%;
}

/* line 252, ../../sass/rp-response/responsive.scss */
.div_9_of_9 {
  width: 100%;
}

/* == GRID OF 9 == */
/* line 258, ../../sass/rp-response/responsive.scss */
.div_1_of_10 {
  width: 9.55%;
}

@media (max-width: 568px) {
  /* line 263, ../../sass/rp-response/responsive.scss */
  .div_1_of_10 {
    width: 100%;
  }
}
/* line 269, ../../sass/rp-response/responsive.scss */
.div_1_of_11 {
  width: 8.635%;
}

@media (max-width: 568px) {
  /* line 274, ../../sass/rp-response/responsive.scss */
  .div_1_of_11 {
    width: 100%;
  }
}
/* line 280, ../../sass/rp-response/responsive.scss */
.div_1_of_12 {
  width: 7.87%;
}

@media (max-width: 568px) {
  /* line 285, ../../sass/rp-response/responsive.scss */
  .div_1_of_12 {
    width: 100%;
  }
}
/* line 291, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_2 {
  width: 49.8%;
}

@media (max-width: 568px) {
  /* line 296, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_2 {
    width: 100%;
  }
}
/* line 301, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_3 {
  width: 33.05%;
}

@media (max-width: 568px) {
  /* line 306, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_3 {
    width: 100%;
  }
}
/* line 312, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_4 {
  width: 24.67%;
}

@media (max-width: 568px) {
  /* line 317, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_4 {
    width: 100%;
  }
}
/* line 323, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_7 {
  width: 13.87%;
}

@media (max-width: 568px) {
  /* line 328, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_7 {
    width: 100%;
  }
}
/* line 334, ../../sass/rp-response/responsive.scss */
noindex:-o-prefocus, .div_1_of_8 {
  width: 12.1%;
}

@media (max-width: 568px) {
  /* line 339, ../../sass/rp-response/responsive.scss */
  noindex:-o-prefocus, .div_1_of_8 {
    width: 100%;
  }
}
