<md-toolbar style="position:fixed" class="md-hue-2">
  <div class="md-toolbar-tools ">
    <!-- <md-button class="md-icon-button"  ng-click="app.toggleLeft()" aria-label="Settings" ng-disabled="false">
      <md-icon md-svg-icon="assets/images/icons/menu.svg"></md-icon>
    </md-button> -->
    <h2>
      <span>{{title}}</span>
    </h2>
    <span flex></span>
    <ng-transclude></ng-transclude>
    
  </div>
</md-toolbar>