<div class="ibox-title">
    <h5 >
      <span ng-show = "ganttChartController.job">{{ganttChartController.job.description}}</span>
      <span ng-show = "!ganttChartController.job">No Job Selected.</span>
    </h5>
    <div  class = "widget-apps-heading-actions">
      <a ng-show = "!ganttChartController.isEditable" class="btn btn-white" ng-click = "ganttChartController.showJobSelector()">Projects</a>
      <a ng-show = "ganttChartController.isEditable" class="btn btn-white" ng-click = "ganttChartController.hideJobSelector()"><strong>Projects</strong></a>
      <a ng-show = "!ganttChartController.isConfigurable" class="btn btn-white" ng-click = "ganttChartController.showConfigurationBox()">Settings</a>
      <a ng-show = "ganttChartController.isConfigurable" class="btn btn-white" ng-click = "ganttChartController.hideConfigurationBox()"><strong>Settings</strong></a>
      <a class="btn btn-white" ng-click="ganttChartController.saveGanttChartPreference()" title="Save">Save</a>
      <a class="btn remove-widget" ng-click="ganttChartController.removeWidget()" title="Remove"><i class="fa fa-close"></i></a>
    </div>       
</div>
<div class="container-fluid widget-apps-main-container ibox-content widget-gantt-chart main">
    <div class = "widget-gantt-chart gantt-body " perfect-scrollBar>
      <div class = "row">

        <div ng-if = "ganttChartController.dataSource" gantt 
              view-scale = "ganttChartController.viewScale"
              allow-side-resizing = "ganttChartController.resizableLabels"
              current-date = "ganttChartController.currentDateLine"
              current-date-value = "ganttChartController.currentDate"
              show-side = "ganttChartController.showLabels"
              data = "ganttChartController.dataSource"
              column-width = "ganttChartController.autoWidth? 30 : undefined" 
              expand-to-fit = "!ganttChartController.autoWidth"
            >
            <gantt-tree enabled = "true"></gantt-tree>
            <gantt-groups enabled = "true"></gantt-groups>
            <gantt-tooltips enabled = "true" content = "ganttChartController.content"></gantt-tooltips>
            <gantt-progress enabled="true"></gantt-progress>
            <gantt-resize-sensor enabled="true"></gantt-resize-sensor>
            <gantt-dependencies enabled="true"
                        read-only="true"
                        js-plumb-defaults="{
                                         Endpoint: ['Dot', {radius: 7}],
                                         Connector: 'Flowchart'
                                         }">
            </gantt-dependencies>
          </div>
      </div>
    </div>
    <div ng-if = "ganttChartController.isEditable" class = "widget-gantt-chart job-list ibox-content">
      <div class = "search">
          <input type = "text" placeHolder = "Search Jobs" ng-model = "searchTerm" class = "form-control input-sm">
      </div>
      <div class = "list-items" perfect-scrollbar>
          <a class= "item" ng-repeat = "job in ganttChartController.jobs | filter:searchTerm track by job.job_no " ng-click = "ganttChartController.selectJob(job)">{{job.job_no}} : {{job.description}} </li>
          </a>
      </div>
    </div>
    <div ng-if = "ganttChartController.isConfigurable" class = "widget-gantt-chart job-list ibox-content" perfect-scrollbar>
      <div class = " row list-items item">
        <span class = "col-md-4">Scales</span>
        <div class="btn-group col-md-8" uib-dropdown>
          <button id="btn-view-scale" type="button" class="btn btn-info view-form-action" uib-dropdown-toggle>
            {{ganttChartController.viewScale}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-view-scale">
            <li role="menuitem" ng-click = "ganttChartController.viewScale = 'day'"><a>day</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = 'week'"><a>week</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = '2 weeks'" ><a>2-week</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = 'month'"><a>month</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = '3 months'"><a>quarter</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = '4 months'"><a>triannum</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = '6 months'"><a>semi-annum</a></li>
            <li role="menuitem" ng-click = "ganttChartController.viewScale = 'year'"><a>year</a></li>
          </ul>
        </div>
      </div>
      <div class = "row list-items item">
        <span class= "col-md-4">Current Date Markers</span>
        <div class="btn-group col-md-8" uib-dropdown>
          <button id="btn-current-date-line" type="button" class="btn btn-info view-form-action" uib-dropdown-toggle>
            {{ganttChartController.currentDateLine}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-current-date-line">
            <li role="menuitem" ng-click = "ganttChartController.currentDateLine = 'line'"><a>line</a></li>
            <li role="menuitem" ng-click = "ganttChartController.currentDateLine = 'column'"><a>column</a></li>
            <li role="menuitem" ng-click = "ganttChartController.currentDateLine = 'none'" ><a>none</a></li>
          </ul>
        </div>
      </div>
      <div class = "row list-items item">
        <span class = "col-md-4">Column Fitting</span>
        <div class="btn-group col-md-8" uib-dropdown>
          <button  type="button" class="btn btn-info view-form-action" uib-dropdown-toggle>
            <span ng-show = "ganttChartController.autoWidth">Fixed Column Width</span>
            <span ng-show = "!ganttChartController.autoWidth">Expand To Fit</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-current-date-line">
            <li role="menuitem" ng-click = "ganttChartController.autoWidth = true"><a>Fixed Column Width</a></li>
            <li role="menuitem" ng-click = "ganttChartController.autoWidth = false"><a>Expand To Fit</a></li>
          </ul>
        </div>
      </div>
      <div class = "row list-items item">
        <span class = "col-md-4">Labels</span>
        <div class="btn-group col-md-8" uib-dropdown>
          <button  type="button" class="btn btn-info view-form-action" uib-dropdown-toggle>
            <span ng-show = "ganttChartController.showLabels">Show</span>
            <span ng-show = "!ganttChartController.showLabels">Hide</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-current-date-line">
            <li role="menuitem" ng-click = "ganttChartController.showLabels = true"><a>Show</a></li>
            <li role="menuitem" ng-click = "ganttChartController.showLabels = false"><a>Hide</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>