<md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Forms</h1> 
      <span flex></span>
    </md-toolbar>

  <md-content layout ng-controller="LeftCtrl" >
  <md-list flex ng-scrollbars  ng-scrollbars-config="slide.config" >
    <md-list-item ng-repeat="itm in pfForms" class="secondary-button-padding" style="{{(!itm.active?'':'pointer-events: none')}}" href="#/company/{{companyId}}/form/{{itm.formId}}">
      <p class="{{(!itm.active?'':'text-muted')}}">{{itm.formName}}</p>
      <!-- <md-divider ng-if="!$last"></md-divider> -->
     
       <md-icon md-font-icon="fa-navicon" class="fa md-secondary" href="#/company/{{companyId}}/view/{{itm.formId}}" ng-click=""></md-icon>
    </md-list-item>
  
  </md-list>

 <!--     <md-input-container class="md-block">
          <label>Track Number</label>
          <input ng-model="user.address">
    </md-input-container> -->

    
 <!--    <md-button ng-click="close()" class="md-primary md-block ">
      Close Sidenav Left
    </md-button> -->
   <!--  <p hide show-gt-md>
      This sidenav is locked open on your device. To go back to the default behavior,
      narrow your display.
    </p> -->
  </md-content>

</md-sidenav>