@import "utilities";

ul.horizontal-menu {
    
    li {
        @extend %trans_duration3;
        //border-right:1px solid #cfdbe2;
        a {
            @extend %display_block;
        }

        @include pos-rel(auto, auto, auto, auto);
        @extend %fL;
        ul.horizontal-sub-menu {

            @include pos-abs(20px, auto, auto, 0px);
            z-index:9999999;
            li {

                @extend %display_none;
                //width:120px;
                //border-bottom:1px solid #667273;
                //border-right: 1px solid #667273;

                a {
                    @extend .elip;
                }

                 strong.fl-nav-down-icon {
                    top: 4px;
                }

                ul.horizontal-sub-menu {

                    @include pos-abs(0px !important, auto !important, auto !important, 100% !important); //-1
                    z-index:9999999;
                    li {

                        @extend %display_none;
                        //width:120px;
                        //border-bottom:1px solid #667273;
                        //border-right: 1px solid #667273;
                        //border-left: 1px solid #667273;

                        a {
                            @extend .elip;
                        }

                        strong.fl-nav-down-icon {
                            top: 4px;
                        }


                    }
                }

                &:hover ul.horizontal-sub-menu li {
                    @extend %display_block;
                }
            }
        }

        &:hover ul.horizontal-sub-menu li {
            @extend %display_block;
        }
    }
}



.workspace_option_bar_menu_buttons_top, .workspace_option_bar_menu_buttons_bottom {
    height:37px !important;
    right:0px;
}

.workspace_option_bar_menu_buttons_bottom {
    position:fixed; 
    bottom:0px;
    
}


ul.horizontal-menu.fl-action-menu.dropdown-menu {
    float:left;
}

ul.horizontal-menu.fl-action-menu.extended-menu {
    width: 100%;
    font-size:0px;
    overflow: hidden;
    white-space: nowrap;
    li {
        float: none;
        display: inline-block;
        white-space: normal;
        font-size:12px;
        margin: 5px 5px 5px 0px;
        border-radius:3px;
    }

    a {
        color:#ffffff;
        border-radius:3px;
    }
}

#parent-ul-menu-request-view {
    position:relative;
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    float:left;

    .right-arrow-wrapper{
        height:100%;
        border-top-left-radius: 0px; 
        border-bottom-left-radius: 0px; 
    }

    .left-arrow-wrapper  {
        height:100%;
        border-top-right-radius: 0px; 
        border-bottom-right-radius: 0px;
    }
} 