[public-forma-page="true"] [id="fl-workspace-controls"],
[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"],
[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"] + .fl-worspace-headerv2,
[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"] + .fl-worspace-headerv2 + .fl-form-name-wrapper,
[public-forma-page="true"] [id="online_count"],
[public-forma-page="true"] .fl-action-close,
[public-forma-page="true"] .fl-user-header-wrapper,
.loaded_form_content .setOBJ.display2
/*,.popup_container_display_table
,[id="popup_overlay"]*/
{
	display: none !important;
}
[public-forma-page="true"] .fl-workspace-control-container{
	top: 0px !important;
}
[public-forma-page="true"] .setOBJ[data-object-id][id]{
	top:0px !important;
	left:0px !important;
	position:relative !important;
	/*width:calc(100% - 10px) !important;*/
	width: 100% !important;
	display:inline-block !important;
}

[public-forma-page="true"] .loaded_form_content{
	height: auto !important;
}
[public-forma-page="true"] .loaded_form_content,
[public-forma-page="true"] .form-accordion > .form-accordion-section-group > .accordion-div-content,
[public-forma-page="true"] .form-tabbable-pane > .ui-tabs-panel
{
	width: calc(100% - 20px) !important;
	min-width: 0px !important;
	/*padding-left:10px;
	padding-right:10px;*/
	padding: 10px !important;
}
[public-forma-page="true"] [id="frmrequest"]
{
	width: 99% !important;
}
[public-forma-page="true"]{
	padding: 0px !important;
}
[public-forma-page="true"] .fl-workspace-control-container{
	display: none !important;
}
[public-forma-page="true"] .setOBJ[data-object-id][id],
[public-forma-page="true"] .setOBJ[data-object-id][id] > .fields_below > .obj_label
{
	margin-bottom:10px;
}
[public-forma-page="true"],
[public-forma-page="true"] body{
	overflow: visible;
}
/*[public-forma-page="true"] [id="fl-tabs-formcontrolsv2"] + .fl-worspace-headerv2 + .fl-form-name-wrapper{
	background-color:rgba(0,0,0,0) !important;
	color:black !important;
}*/
[public-forma-page="true"] .setOBJ[data-type="imageOnly"][data-object-id] > .fields_below + div {
	text-align: center;
}
[public-forma-page="true"] .setOBJ[data-type="imageOnly"][data-object-id] > .fields_below + div > .uiform-image-resizable:nth-child(1) {
	display: inline-block !important;
}

[public-forma-page="true"] .setOBJ[data-object-id][id] .getFields:not([data-type="checkbox"]):not([data-type="radio"]) {  /*:not([data-type="textArea"])*/
	width: 100%;
	display: block;
	padding:0;
	border-width:0;
	border: 1px solid #D5D5D5;
}

[public-forma-page="true"] .setOBJ[data-object-id][id][data-type="textArea"]{
	height:auto !important;
	width: 100%;
}