
<div class="container_1">
    <div style="margin-top: 30px;border: 1px solid #ddd; width: 100%; height: 400px;border-radius:5px;padding: 15px; background-color: #fff;">
        <h2>Formalistics Login</h2>
        <div class="hr"></div>
        <div style="float: left;width: 100%;">
            <?php
            if($_GET['login_attemp']=="1"){
                echo functions::setNotification("wrong","wrong","Invalid Username and Password, Please try again.");
            }
            ?>
        </div>
        <div style="float: left;width: 100%;margin-top: 50px;">
            <div style="width: 50%;margin: 0px auto;">
                <?php
                    if(isset($_GET['redirect_url'])){
                       $url = Functions::encode_decode_url($_GET['redirect_url'],"encode");
                       $action = "/login?redirect_url=" . $url;
                    }else{
                       $action = "/login";
                    }
                ?>
                <form action="<?php echo $action; ?>" method="POST" id="login-form">
                    <div class="fields">
                        <div class="label">Email: </div>
                        <div class="input_position2"><input type="text" name="username" class="input-registration" id="" style="margin-top: 5px;"></div>
                    </div>
                    <div class="fields">
                        <div class="label">Password: </div>
                        <div class="input_position2"><input type="password" name="password" class="input-registration" id="" style="margin-top: 5px;"></div>
                    </div>
                    <div class="fields" style="border-bottom: none;">
                        <div class="label"></div>
                        <div class="input_position2" style="margin-top: 20px;">
                            <input type="checkbox" /> Keep me logged in <br />
                            <input type="submit" class="btn-blueBtn" id="regUser" value="Login" style="margin-top: 10px;">
                            <a href="/">or <b>Sign Up for Formalistics</b></a> <br /> <br />
                            <h4><a href="#">Forgot Password?</a></h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>