/* line 5, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatLeft, .fl-action-display-comments-wrapper a, .fl-action-display-comments-wrapper .fl-action-like-comment-wrapper, .fl-ui-announcment-navs-wrapper ul li {
  float: left;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatRight, #fl-ui-announcement-apps-wrapper .fl-option-toolbar .fl-toolbar-right-wrapper .fl-search-wrapper #appSearch {
  float: right;
}

/* line 23, ../../sass/_utilities.scss */
.isFloatNone {
  float: none;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignCenter {
  text-align: center;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignLeft {
  text-align: left;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignRight {
  text-align: right;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansregular {
  font-family: droid_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansbold, .font_droid_sansbold {
  font-family: droid_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensansregular {
  font-family: open_sanslight_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensanslight {
  font-family: open_sanslight;
}

/* line 102, ../../sass/_utilities.scss */
.protestantregular {
  font-family: protestant_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoregular {
  font-family: dustismo_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobold {
  font-family: dustismo_regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoromanregular {
  font-family: dustismo_romanregular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoitalic {
  font-family: dustismo_italic;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobolditalic {
  font-family: dustismobold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansregular {
  font-family: perspective_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbold {
  font-family: perspective_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansblackitalic {
  font-family: perspective_sans_blackitalic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbolditalic {
  font-family: perspective_sansbold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspective_sansitalic {
  font-family: perspective_sansitalic;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiregular {
  font-family: sansumiregular;
}

/* line 102, ../../sass/_utilities.scss */
.sansumibold {
  font-family: sansumiregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumisemibold {
  font-family: sansumi_demibold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiultralightregular {
  font-family: sansumi_ultralightregular;
}

/* line 102, ../../sass/_utilities.scss */
.traditionsansxlightregular {
  font-family: traditionsans_xlightregular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95regular {
  font-family: vera_humana_95regular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bold {
  font-family: vera_humana_95regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bolditalic {
  font-family: vera_humana_95bolditalic;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95italic {
  font-family: vera_humana_95italic;
}

/* line 102, ../../sass/_utilities.scss */
.weezerfontregular {
  font-family: weezerfontregular;
}

/* line 102, ../../sass/_utilities.scss */
.weblysleelight {
  font-family: weblysleeklight;
}

/* line 124, ../../sass/_utilities.scss */
.font-bold, .isFontWeightBold {
  font-weight: bold;
}

/* line 135, ../../sass/_utilities.scss */
.marginAuto {
  margin: 0 auto;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity0 {
  opacity: 0;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity1 {
  opacity: 1;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayBlock, .fl-ui-announcement-posted-wrapper {
  display: block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayInlineBlock {
  display: inline-block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTable {
  display: table;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableCell {
  display: table-cell;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableRow {
  display: table-row;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayNone {
  display: none;
}

/* line 163, ../../sass/_utilities.scss */
.fl-positive-btn {
  background-color: #2ecc71 !important;
}

/* line 167, ../../sass/_utilities.scss */
.fl-negative-btn {
  background-color: #c0392b !important;
}

/* line 171, ../../sass/_utilities.scss */
.fl-default-btn {
  background-color: #abbac3 !important;
}

/* line 176, ../../sass/_utilities.scss */
.avatar-wrapper {
  height: 40px;
  padding: 5px;
}

/* line 181, ../../sass/_utilities.scss */
.avatar-profile-properties {
  font-size: 12px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* line 189, ../../sass/_utilities.scss */
.input-text {
  width: 190px;
  height: 18px;
  padding: 3px;
}

/* line 195, ../../sass/_utilities.scss */
.input-select {
  height: 32px;
  border: 1px solid #d6d6d6;
}

/* line 200, ../../sass/_utilities.scss */
.input-submit {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 207, ../../sass/_utilities.scss */
.input-button {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 214, ../../sass/_utilities.scss */
.input-type-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto !important;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0px;
  z-index: 999999;
}

/* line 228, ../../sass/_utilities.scss */
.bold-text {
  font-weight: bold;
}

/* line 232, ../../sass/_utilities.scss */
.colorfff, .fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black {
  color: #ffffff;
}

/* line 236, ../../sass/_utilities.scss */
.bgcolorfff {
  background-color: #ffffff !important;
}

/* line 246, ../../sass/_utilities.scss */
.isCursorNotAllowed {
  cursor: not-allowed;
}

/* line 246, ../../sass/_utilities.scss */
.font-bold, .isCursorPointer, #fl-ui-announcement-apps-wrapper .fl-search-icon-list, .fl-ui-announcment-navs-wrapper ul li {
  cursor: pointer;
}

/* line 252, ../../sass/_utilities.scss */
.fl-secondary-btn {
  border: 1px solid #d6d6d6 !important;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
}

/* line 262, ../../sass/_utilities.scss */
.fl-button-press {
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 267, ../../sass/_utilities.scss */
.fl-button-press-hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 279, ../../sass/_utilities.scss */
.trans_duration3, .fl-ui-announcement-post-action input[type="button"]#fl-btn-post, .fl-ui-announcement-post-action input[type="button"]#fl-btn-clear, .fl-ui-announcement-posted-body-wrapper.survey_question ul.fl-ui-announcement-posted-type-survey inputp[type="submit"], .fl-ui-selectable-name, .fl-action-display-comments-wrapper a, .fl-ui-comment-add-comment-wrapper input[type="submit"].fl-ui-comment-btn {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 311, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .ui-announcements-bottom-wrapper {
  box-sizing: border-box;
}

/* line 322, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-ui-announcement-avatar-inner, .fl-ui-announcement-avatar-inner img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 332, ../../sass/_utilities.scss */
.rotateScale {
  -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
  -moz-transform: rotate(-30deg) scale(1.2, 1.2);
  -o-transform: rotate(-30deg) scale(1.2, 1.2);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* line 340, ../../sass/_utilities.scss */
.borderNone {
  border: none !important;
}

/* line 343, ../../sass/_utilities.scss */
.borderTopNone {
  border-top: none !important;
}

/* line 346, ../../sass/_utilities.scss */
.borderLeftNone {
  border-left: none !important;
}

/* line 349, ../../sass/_utilities.scss */
.borderBottomNone {
  border-bottom: none !important;
}

/* line 352, ../../sass/_utilities.scss */
.borderRightNone {
  border-right: none !important;
}

/* line 357, ../../sass/_utilities.scss */
.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 363, ../../sass/_utilities.scss */
.elip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../../sass/_utilities.scss */
.clearfloat {
  content: "";
  clear: both;
  display: table;
}

/* line 444, ../../sass/_utilities.scss */
.fl-Miniloader {
  color: #555555;
  -webkit-animation: Miniloader .7s infinite linear;
  -moz-animation: Miniloader .7s infinite linear;
  animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Miniloader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
/* line 469, ../../sass/_utilities.scss */
.fl-RevealLoader {
  -webkit-animation: RevealLoader .7s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes RevealLoader {
  0% {
    right: 0px;
  }
  100% {
    right: -75px;
  }
}
/* line 495, ../../sass/_utilities.scss */
.fl_badge_silver {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #C0C0C0;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SpringGreen {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #2ecc71;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Gold {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #FFD700;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_DarkRed {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #8B0000;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SteelBlue {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #4682B4;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Black {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #000000;
}

/* line 635, ../../sass/_utilities.scss */
.fl-form-prop-cont-wid {
  width: 49%;
}

/* line 8, ../../sass/ui-announcements/ui-announcements.scss */
.note-editable {
  background-color: #ffffff;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 19, ../../sass/ui-announcements/ui-announcements.scss */
.note-editable ul {
  padding: 10px;
}
/* line 22, ../../sass/ui-announcements/ui-announcements.scss */
.note-editable ul li {
  list-style-type: disc;
}
/* line 30, ../../sass/ui-announcements/ui-announcements.scss */
.note-editable ol li {
  list-style-type: decimal;
  list-style-type: decimal !important;
  list-style-position: inside !important;
}

/* line 41, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announment-editor-wrapper .note-editor {
  border: 1px solid #d3d3d3 !important;
}

/* line 45, ../../sass/ui-announcements/ui-announcements.scss */
.note-editor .note-toolbar {
  border-bottom: 1px solid #d3d3d3 !important;
}

/* line 55, ../../sass/ui-announcements/ui-announcements.scss */
.note-style.btn-group.open .note-fontsize.btn-group.open .btn.dropdown-toggle, .note-color.btn-group.open .btn.dropdown-toggle, .note-para.btn-group.open .btn.dropdown-toggle, .note-height.btn-group.open .btn.dropdown-toggle, .note-table.btn-group.open .btn.dropdown-toggle {
  background-color: #ebebeb !important;
}

/* line 60, ../../sass/ui-announcements/ui-announcements.scss */
.div_1_of_2.fl-ui-announcement-writer-column-wrapper {
  margin-top: 0px;
  width: 40.75%;
}
@media screen and (max-width: 568px), screen and (max-device-width: 568px) {
  /* line 60, ../../sass/ui-announcements/ui-announcements.scss */
  .div_1_of_2.fl-ui-announcement-writer-column-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {
  /* line 60, ../../sass/ui-announcements/ui-announcements.scss */
  .div_1_of_2.fl-ui-announcement-writer-column-wrapper {
    float: none;
    width: 100%;
    margin-left: 0px;
  }
}

/* line 76, ../../sass/ui-announcements/ui-announcements.scss */
.div_1_of_2.fl-ui-announcement-posted-column-wrapper {
  width: 58.75%;
  margin-top: 0px !important;
}
@media screen and (max-width: 568px), screen and (max-device-width: 568px) {
  /* line 76, ../../sass/ui-announcements/ui-announcements.scss */
  .div_1_of_2.fl-ui-announcement-posted-column-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {
  /* line 76, ../../sass/ui-announcements/ui-announcements.scss */
  .div_1_of_2.fl-ui-announcement-posted-column-wrapper {
    float: none;
    width: 100%;
    margin-left: 0px;
  }
}

/* line 91, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcment-post-wrapper {
  position: relative;
}

/* line 95, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcements-bottom-wrapper {
  height: 31px;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  border-top: none;
  -webit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 95, ../../sass/ui-announcements/ui-announcements.scss */
  .ui-announcements-bottom-wrapper {
    height: 23px;
  }
}

/* line 118, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcement-post-visibility select, .ui-announcement-post-type select {
  border-left: none;
  border-right: none;
  border: none;
  height: 100%;
  border-radius: 0px;
  border-right: 1px solid #D3D3D3;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 118, ../../sass/ui-announcements/ui-announcements.scss */
  .ui-announcement-post-visibility select, .ui-announcement-post-type select {
    font-size: 8px;
  }
}

/* line 135, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcement-post-visibility select {
  -webit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 135, ../../sass/ui-announcements/ui-announcements.scss */
  .ui-announcement-post-visibility select {
    font-size: 8px;
  }
}

/* line 148, ../../sass/ui-announcements/ui-announcements.scss */
.note-image-dialog .modal-dialog, .note-link-dialog .modal-dialog {
  padding-top: 80px;
}

/* line 157, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-graph-content-wrapper {
  background-color: #ffffff !important;
  border: 1px solid #cfdbe2;
  border-top: none;
  border-bottom: 1px solid #cfdbe2;
  padding: 0px;
  padding-top: 5px;
}
/* line 166, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-graph-content-wrapper .fl-request-widget {
  margin-top: 0px !important;
}
/* line 170, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-graph-content-wrapper .fl-request-widget-data {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}
/* line 176, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-graph-content-wrapper .survey-post-option-wrapper {
  background-color: #EAEFF6;
  margin-bottom: 5px;
  border: 1px solid #DFE0E4;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 183, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-graph-content-wrapper .survey-post-option-wrapper .survey_total_responses {
  position: relative;
  top: 5px;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 183, ../../sass/ui-announcements/ui-announcements.scss */
  .fl-ui-announcement-graph-content-wrapper .survey-post-option-wrapper .survey_total_responses {
    font-size: 9px;
  }
}

/* line 198, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-post-action input[type="button"]#fl-btn-post {
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid #D3D3D3;
  float: left;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 198, ../../sass/ui-announcements/ui-announcements.scss */
  .fl-ui-announcement-post-action input[type="button"]#fl-btn-post {
    font-size: 8px;
    width: 32px;
    height: 21px;
  }
}
/* line 217, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-post-action input[type="button"]#fl-btn-clear {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 217, ../../sass/ui-announcements/ui-announcements.scss */
  .fl-ui-announcement-post-action input[type="button"]#fl-btn-clear {
    font-size: 8px;
    width: 32px;
    height: 21px;
  }
}

/* line 231, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-wrapper {
  border-bottom: 1px solid #EAEFF6;
  width: 100%;
  padding: 5px 0px 5px 0px;
  box-sizing: border-box;
}

/* line 243, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-avatar-wrapper {
  position: relative;
}

/* line 258, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-avatar-inner {
  width: 32px;
  height: 32px;
  padding: 2px;
  float: left;
  background-color: lightgray;
}

/* line 272, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcements-survey-wrapper {
  background-color: #fff;
  box-shadow: 1px 2px 10px #D3D3D3;
  border: 1px solid #d3d3d3;
  border-top: none;
  -webit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1000;
}
/* line 289, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcements-survey-wrapper .ui-survey-options {
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
}
/* line 297, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcements-survey-wrapper .ui-survey-response-list .ui-survey-response {
  border-bottom: 1px solid #d3d3d3;
  padding: 5px;
}
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  /* line 303, ../../sass/ui-announcements/ui-announcements.scss */
  .ui-announcements-survey-wrapper .ui-survey-response-list .ui-survey-response input[type="text"] {
    width: 87% !important;
  }
}
/* line 312, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcements-survey-wrapper .ui-survey-response-list .ui-survey-response:last-child {
  -webit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 326, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-icon-and-name-inner {
  margin-left: 40px;
  background-color: #fff;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid #EAEFF6;
  border-left: 1px solid #EAEFF6;
  border-right: 1px solid #EAEFF6;
}
/* line 338, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-icon-and-name-inner .fl-ui-announcement-name-wrapper {
  font-size: 10px;
  display: inline-block;
}
/* line 344, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-icon-and-name-inner .fl-ui-announcement-name-wrapper .fl-table-ellip {
  width: auto;
  max-width: 260px;
  float: left;
}
/* line 349, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-icon-and-name-inner .fl-ui-announcement-name-wrapper .fl-table-ellip .fl-post-date-updated {
  margin-top: 5px;
}
/* line 354, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-icon-and-name-inner .fl-ui-announcement-name-wrapper .fl-ui-announcement-badge-wrapper {
  float: left;
  display: inline-block;
  margin-left: 5px;
}

/* line 363, ../../sass/ui-announcements/ui-announcements.scss */
.ui-portal-badge-default.fl-ui-announcement-badge-wrapper, .ui-portal-badge-important.fl-ui-announcement-badge-wrapper {
  border: 1px solid #6E6E6E;
  border-radius: 4px;
  padding: 1px;
  color: #222;
}
/* line 369, ../../sass/ui-announcements/ui-announcements.scss */
.ui-portal-badge-default.fl-ui-announcement-badge-wrapper div, .ui-portal-badge-important.fl-ui-announcement-badge-wrapper div {
  margin-top: 2px;
  height: inherit;
  display: inline-block;
  margin-right: 2px;
}
/* line 377, ../../sass/ui-announcements/ui-announcements.scss */
.ui-portal-badge-default.fl-ui-announcement-badge-wrapper .icon-svg, .ui-portal-badge-important.fl-ui-announcement-badge-wrapper .icon-svg {
  float: left;
}

/* line 383, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper {
  line-height: 14px;
  padding: 6px;
  padding-bottom: 10px;
  font-size: 11px;
  background-color: #ffffff;
  border-left: 1px solid #EAEFF6;
  border-top: 1px solid #eaeff6;
  border-right: 1px solid #eaeff6;
}
/* line 403, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper .fl-post-text-contents ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
}
/* line 407, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper .fl-post-text-contents ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}
/* line 411, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper .fl-post-text-contents ul ul, .fl-ui-announcement-posted-body-wrapper .fl-post-text-contents ol ul {
  list-style-type: circle !important;
  list-style-position: inside !important;
  margin-left: 15px !important;
}
/* line 416, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper .fl-post-text-contents ol ol, .fl-ui-announcement-posted-body-wrapper .fl-post-text-contents ul ol {
  list-style-type: lower-latin !important;
  list-style-position: inside !important;
  margin-left: 15px;
}

/* line 430, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question ul.fl-ui-announcement-posted-type-survey {
  background-color: #eaeff6;
  padding: 1px;
  border-radius: 3px;
  margin-top: 4px;
}
/* line 442, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question .fl-ui-announcement-posted-field-wrapper {
  padding: 4px;
  background-color: white;
  margin-bottom: 1px;
}
/* line 449, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question input[type="submit"] {
  border-radius: 3px;
  height: 26px;
  width: 60px;
  margin: 5px;
}
/* line 458, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question .fl-post-text-contents ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
}
/* line 462, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question .fl-post-text-contents ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}
/* line 466, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question .fl-post-text-contents ul ul, .fl-ui-announcement-posted-body-wrapper.survey_question .fl-post-text-contents ol ul {
  list-style-type: circle !important;
  list-style-position: inside !important;
  margin-left: 15px !important;
}
/* line 471, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-body-wrapper.survey_question .fl-post-text-contents ol ol, .fl-ui-announcement-posted-body-wrapper.survey_question .fl-post-text-contents ul ol {
  list-style-type: lower-latin !important;
  list-style-position: inside !important;
  margin-left: 15px;
}

/* line 481, ../../sass/ui-announcements/ui-announcements.scss */
ul.fl-ui-announcement-posted-type-survey li.fl-ui-announcement-posted-field-wrapper:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 486, ../../sass/ui-announcements/ui-announcements.scss */
ul.fl-ui-announcement-posted-type-survey li.fl-ui-announcement-posted-field-wrapper:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 500, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-header-action {
  display: flex;
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
}
/* line 508, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-header-action ul li svg {
  cursor: pointer;
}

/* line 515, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-header-action-sub {
  display: none;
}

/* line 520, ../../sass/ui-announcements/ui-announcements.scss */
.fl-widget-name-selector {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid #D5D5D5;
  border-top: none;
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 10px #D3D3D3;
}
/* line 534, ../../sass/ui-announcements/ui-announcements.scss */
.fl-widget-name-selector .label-readers {
  float: left;
  margin-top: 9px;
}

/* line 544, ../../sass/ui-announcements/ui-announcements.scss */
.fl-autocomplete-input {
  border: 0 !important;
}

/* line 548, ../../sass/ui-announcements/ui-announcements.scss */
.fl-autocomplete-loading {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  box-sizing: border-box;
}

/* line 557, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name {
  background-color: #F0F0F0;
  border-bottom: 1px solid #d3d3d3;
  height: 34px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

/* line 567, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name:hover {
  background-color: #cfdbe2;
}

/* line 571, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name-avatar-wrapper {
  float: left;
}

/* line 575, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name-avatar-wrapper {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  background-color: #B6BABF;
}
/* line 582, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name-avatar-wrapper svg {
  margin: 4px 0px 0px 3px;
}

/* line 587, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name-avatar-wrapper > img {
  width: 30px;
  height: 30px;
}

/* line 592, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-selectable-name-data-wrapper {
  float: left;
  padding-top: 6px;
  padding-left: 5px;
}

/* line 602, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-column-wrapper {
  position: relative;
}

/* line 610, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-column-header {
  height: 34px;
  width: 100%;
  margin: 5px 0px 5px 0px;
  background-color: #fff;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 621, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-column-header .ui-announcement-posted-column-header-label {
  color: #808080;
  position: relative;
  top: 9px;
  left: 7px;
}
/* line 637, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcement-posted-column-header .icon-svg {
  float: left;
}

/* line 643, ../../sass/ui-announcements/ui-announcements.scss */
.ui-announcement-filter-posted-view select {
  padding: 7px;
  border: none;
  border-left: 1px solid #EAEFF6;
}

/* line 650, ../../sass/ui-announcements/ui-announcements.scss */
.note-editor .note-editable {
  min-height: 40px;
}

/* line 654, ../../sass/ui-announcements/ui-announcements.scss */
.fl-widget-name-selector-result {
  border: 1px solid #D3D3D3;
}

/* line 659, ../../sass/ui-announcements/ui-announcements.scss */
.fl-widget-name-selector-result-inner {
  height: 286px;
}

/* line 665, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper {
  margin-bottom: 8px;
}
/* line 671, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-names-wrapper {
  height: 10px;
  background-color: #fff;
  padding: 4px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 10px;
  position: relative;
}
/* line 679, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-names-wrapper .fl-ui-comment-posted-action {
  background-color: #8d8e90;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  border-top-right-radius: 3px;
  cursor: pointer;
}
/* line 687, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-names-wrapper .fl-ui-comment-posted-action i.fa-times {
  color: #fff;
}
/* line 700, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper {
  background-color: #f2f9fd;
  border: 1px solid #EAEFF6;
  margin-left: 45px;
  border-radius: 3px;
}
/* line 710, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
}
/* line 714, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}
/* line 718, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents ul ul, .fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents ol ul {
  list-style-type: circle !important;
  list-style-position: inside !important;
  margin-left: 15px !important;
}
/* line 723, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents ol ol, .fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents ul ol {
  list-style-type: lower-latin !important;
  list-style-position: inside !important;
  margin-left: 15px;
}

/* line 734, ../../sass/ui-announcements/ui-announcements.scss */
.fl-post-text-contents.note-editor {
  border: none !important;
  word-break: break-word;
  line-height: 1;
}

/* line 744, ../../sass/ui-announcements/ui-announcements.scss */
.fl-post-text-contents ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
}
/* line 748, ../../sass/ui-announcements/ui-announcements.scss */
.fl-post-text-contents ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}
/* line 752, ../../sass/ui-announcements/ui-announcements.scss */
.fl-post-text-contents ul ul, .fl-post-text-contents ol ul {
  list-style-type: circle !important;
  list-style-position: inside !important;
  margin-left: 15px !important;
}
/* line 757, ../../sass/ui-announcements/ui-announcements.scss */
.fl-post-text-contents ol ol, .fl-post-text-contents ul ol {
  list-style-type: lower-latin !important;
  list-style-position: inside !important;
  margin-left: 15px;
}

/* line 764, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-add-comment-wrapper {
  padding: 5px;
  position: relative;
  background-color: #f2f9fd;
  border-bottom: 1px solid #EAEFF6;
  border-left: 1px solid #EAEFF6;
  border-right: 1px solid #EAEFF6;
  border-top: 1px solid #EAEFF6;
}
/* line 776, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-add-comment-wrapper textarea.fl-ui-comment-add-comment-field {
  min-height: 20px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #EAEFF6;
  width: 99%;
  resize: none;
}
/* line 785, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-add-comment-wrapper i.fa-caret-up {
  position: absolute;
  top: -15px;
  color: #EAEFF6;
  font-size: 20px;
}
/* line 792, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-comment-add-comment-wrapper input[type="submit"].fl-ui-comment-btn {
  margin-top: 5px;
  float: right;
  border-radius: 3px;
  height: 28px;
  width: 60px;
  display: none;
}

/* line 802, ../../sass/ui-announcements/ui-announcements.scss */
.fl-comments-container {
  background-color: #fff;
  margin-left: 40px;
  padding: 7px;
  padding-bottom: 0px;
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid #EAEFF6;
}
/* line 812, ../../sass/ui-announcements/ui-announcements.scss */
.fl-comments-container .fl-ui-comment-posted-wrapper .fl-ui-comment-posted-body-wrapper .fl-post-text-contents {
  padding: 3px;
  word-break: break-word;
}
/* line 818, ../../sass/ui-announcements/ui-announcements.scss */
.fl-comments-container .fl-ui-comment-posted-wrapper .fl-action-display-comments-wrapper {
  border: none;
}

/* line 827, ../../sass/ui-announcements/ui-announcements.scss */
.flickerAnimation {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 853, ../../sass/ui-announcements/ui-announcements.scss */
.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

/* line 861, ../../sass/ui-announcements/ui-announcements.scss */
#ui-loading-wrapper {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
/* line 867, ../../sass/ui-announcements/ui-announcements.scss */
#ui-loading-wrapper i.fa-refresh {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 9px;
  font-size: 20px;
  color: #6e6e6e;
}
/* line 876, ../../sass/ui-announcements/ui-announcements.scss */
#ui-loading-wrapper .ui-loading-text {
  color: #6e6e6e;
}

/* line 882, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper {
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: #EAEFF6 1px solid;
  border-top: none;
  background-color: #fff;
}
/* line 894, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper a {
  color: #6E6E6E;
}
/* line 899, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper a .icon-svg {
  float: left;
}
/* line 904, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper .fl-action-like-comment-wrapper {
  margin-left: 5px;
}
/* line 911, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner {
  float: left;
  position: relative;
  padding-left: 21px;
  margin-right: 2px;
}
/* line 916, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner a {
  float: none;
}
/* line 920, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner .icon-svg.icon-svg-announcement {
  position: absolute;
}
/* line 924, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner ul.fl-action-mood-options-wrapper {
  box-shadow: 1px 1px 1px #bbb;
  background-color: #e0e0e0;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 90px;
}
/* line 933, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner ul.fl-action-mood-options-wrapper li {
  float: none;
  border-bottom: 1px solid #D3D3D3;
}
/* line 936, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner ul.fl-action-mood-options-wrapper li a {
  float: none;
  display: block;
  padding-left: 22px;
}
/* line 941, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner ul.fl-action-mood-options-wrapper li a:hover {
  background-color: #8D8D8D;
  color: #ffffff !important;
}
/* line 947, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-action-mood-inner ul.fl-action-mood-options-wrapper li:last-child {
  border-bottom: none;
}
/* line 956, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-others-mood-inner {
  padding-left: 0px;
  positio: relative;
}
/* line 960, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li.fl-others-mood-inner ul.fl-others-mood-wrapper {
  position: absolute;
  width: 228px;
}
/* line 969, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-reply-comment-wrapper {
  margin-left: 5px;
}
/* line 973, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-display-comments-wrapper ul.fl-action-mood-wrapper li:hover > ul.fl-action-mood-options-wrapper {
  display: block;
}

/* line 980, ../../sass/ui-announcements/ui-announcements.scss */
.survey-post-option-wrapper {
  padding: 5px;
}

/* line 984, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-your-mood {
  background-color: #8D8D8D;
}
/* line 986, ../../sass/ui-announcements/ui-announcements.scss */
.fl-action-your-mood a {
  color: #ffffff !important;
}

/* line 999, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-apps-wrapper .fl-option-toolbar {
  border-top: 2px solid #EAEFF6;
  border-left: 1px solid #EAEFF6;
  border-right: 1px solid #EAEFF6;
  border-bottom: 1px solid #EAEFF6;
}
/* line 1008, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-apps-wrapper .fl-option-toolbar .fl-toolbar-left-wrapper span {
  position: relative;
  top: 10px;
}
/* line 1018, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-apps-wrapper .fl-option-toolbar .fl-toolbar-right-wrapper .fl-search-wrapper #appSearch {
  padding-right: 36px;
}
/* line 1027, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-apps-wrapper .fl-search-icon-list {
  position: absolute;
  top: auto;
  right: 0px;
  bottom: auto;
  left: auto;
  width: 36px;
  display: block;
}
/* line 1041, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-apps-wrapper #fl-ui-app-wrapper .fl-ui-app-content li {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px 13px 0px 0px;
  padding-bottom: 16px;
  cursor: move;
}
/* line 1054, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-apps-wrapper .fl-filtered-selectable-forms-container .fl-ui-app-content li {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px 14px 0px 0px;
  padding-bottom: 16px;
}

/* line 1068, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcment-navs-wrapper {
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #E0E0E0;
}
/* line 1079, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcment-navs-wrapper ul {
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 1084, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcment-navs-wrapper ul li {
  padding: 5px;
  color: #6E6E6E;
}
/* line 1089, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcment-navs-wrapper ul li:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #E0E0E0;
}
/* line 1096, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcment-navs-wrapper ul li:hover {
  background-color: #8D8D8D;
  color: #ffffff;
}
/* line 1102, ../../sass/ui-announcements/ui-announcements.scss */
.fl-ui-announcment-navs-wrapper ul li {
  border-right: 1px solid #D3D3D3;
}

/* line 1108, ../../sass/ui-announcements/ui-announcements.scss */
.fl-tab-selected {
  color: #fff !important;
  background-color: #8D8D8D !important;
}

/* line 1116, ../../sass/ui-announcements/ui-announcements.scss */
.ui_portal_loaded_form_content, .ui_portal_fl_user_wrapper {
  top: 0px !important;
}

/* line 1123, ../../sass/ui-announcements/ui-announcements.scss */
.fl-report-wrapper-content.ui_portal_fl_report_wrapper_content {
  padding: 0px;
}

/* line 1127, ../../sass/ui-announcements/ui-announcements.scss */
.fl-widget-head.ui_portal_fl_widget_head {
  margin-bottom: 10px;
}

/* line 1132, ../../sass/ui-announcements/ui-announcements.scss */
.fl-widget-head .icon-svg {
  float: left;
}

/* line 1137, ../../sass/ui-announcements/ui-announcements.scss */
.fl-portal-section {
  position: relative;
}

/* line 1142, ../../sass/ui-announcements/ui-announcements.scss */
#ui-portal-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #6e6e6e;
}
/* line 1149, ../../sass/ui-announcements/ui-announcements.scss */
#ui-portal-loading .ui-portal-loading-innner-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 1154, ../../sass/ui-announcements/ui-announcements.scss */
#ui-portal-loading .ui-portal-loading-innner-wrapper .ui-portal-loading-innner {
  display: table-cell;
  vertical-align: middle;
}
/* line 1158, ../../sass/ui-announcements/ui-announcements.scss */
#ui-portal-loading .ui-portal-loading-innner-wrapper .ui-portal-loading-innner .ui-app-portal-display i.fa-refresh {
  color: #ffffff;
}

/* line 1169, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-online-users-content .fl-ui-announcement-online-users-reminder {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  color: #6e6e6e;
  font-size: 11px;
}
/* line 1178, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-online-users-content ul li {
  background-color: #fff;
  border-bottom: dashed 1px #e0e0e0;
}
/* line 1181, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-online-users-content ul li .user-online-name {
  background-color: #E0E0E0;
  padding: 3px;
  color: #6e6e6e;
}
/* line 1187, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-online-users-content ul li .user-online-actions {
  margin-top: 8px;
}
/* line 1190, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-online-users-content ul li .user-online-actions a {
  color: #6e6e6e;
  font-size: 10px;
}
/* line 1193, ../../sass/ui-announcements/ui-announcements.scss */
#fl-ui-announcement-online-users-content ul li .user-online-actions a:hover {
  border-bottom: 1px solid #6e6e6e;
}

/* line 1204, ../../sass/ui-announcements/ui-announcements.scss */
#online-users-message {
  background-color: rgba(255, 0, 0, 0.81);
  padding: 5px;
  color: #fff;
}

/* line 1211, ../../sass/ui-announcements/ui-announcements.scss */
#fl-action-display-more-posts-wrapper {
  margin-top: 6px;
}
/* line 1213, ../../sass/ui-announcements/ui-announcements.scss */
#fl-action-display-more-posts-wrapper a {
  color: #ffffff;
  padding: 3px;
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  /* line 1225, ../../sass/ui-announcements/ui-announcements.scss */
  .note-editor .note-editable {
    min-height: 33px;
  }
}
