@import "utilities";

.fl-message-board-banner {
	height:60px;
	background-color:#ffffff;
	background-size:cover;
	-webkit-backgroubd-size:cover;
	-moz-webkit-background-size:cover;
	background-image: url('../../../images/icon/Logo_on_the_top_portion.png');
	background-position:1px;

		.div_1_of_2 {
		h2 {
			@extend %fR;
			@extend %taR;
			@extend %font_weight_bold;
			font-size: 17px;
			color:#3A3A3A;
			line-height: 17px;
			color:#0F3E5E;
		}
	}

}

.fl-mb-header {
	background-color:#3498db;
	color:#ffffff;
	border-bottom: 3px solid #2980b9;

	h1 {
		font-weight:bold;
		font-size:30px;
	}
}

.fa-i-style {
	@include padding(5px, 5px, 5px, 5px);
	@extend %box_sizing_border_box;
	@extend %border_radius3;
	@extend %taC;
	width:43px;
	background-color:#34495e;
}

.fl-mb-date {
	h1 {
		@extend %taR;
		font-size:17px;
		color:#ffffff;
	}
}	


.fl-now-serving-panel, .fl-mb-attention {
	background-color:#3498db;
	color:#ffffff;
	border-bottom: 3px solid #2980b9;

	.fl-small-widgetv2 {
		height:41px;

		h1 {
			color:#222222;
			@extend %font_weight_bold;
			font-size:30px;

			i.fa {
				color:#ffffff;
			}
		}
	}
}

.fl-mb-attention-to, .fl-mb-attention-fr {
	background-color:#ffffff;
	color:#222222;
	@extend %border_radius3;
	box-shadow: -1px 1px 4px #222;

	input[type="text"] {
		width: 95%;
		height: 40px;
		font-size: 25px;
		padding: 5px;
	}

	label {
		font-size:25px;
	}
}

.fl-mb-attention-fr  {

	input[type="text"] {
		width: 91.3%;
	}

}

.fl-mb-attention-call, .fl-mb-announcement-call {
	@extend %border_radius3;
	@extend %box_sizing_border_box;
	@include padding(10px, 10px, 10px, 10px);
	box-shadow: -1px 1px 4px #222;
	background-color:#ffffff;
	color:#222222;	
	
	h1 {
		font-size: 35px;
		line-height: 32px;
	}
}
.fl-mb-announcement-call {
	margin-top:4px;
}

.fl-now-serving-table-wrapper {
	@extend %border_radius3;
	box-shadow: -1px 1px 4px #222;
	background-color:#ffffff;
	margin-top:4px;

	#fl-now-serving-table {
		thead {
			background-color:#e74c3c;
			font-size:22px;
			tr {

				td {
					@extend %font_weight_bold;
					color:#ffffff;
				}
			}		
		}
		tr {
			border: 1px solid #222;
			td {
				font-size:20px;
				border: 1px solid #222;
				@include padding(5px, 5px, 5px, 5px);
				@extend %box_sizing_border_box;
			}
		}
	}
}