$primaryFontSize:11.5px;

.droidsans_bold {
	font-family: "droid_sansbold";
}

.droidsans_reg {
	font-family: "droid_sansregular";
}

.opensans_reg {
	font-family: "open_sansregular";
}

.opensans_light {
	font-family: "open_sanslight";
}

