
<?php
$item = $this->partial_view_data;
$type = $item["type"];
//var_dump($item);
?>

<?php include "layout/main-ui-announcement-svg.phtml"; ?>
<div class="fl-ui-selectable-name-wrapper">
    <div class="fl-selectable-name fl-ui-selectable-name" data-type="<?= $item["type"] ?>" data-id="<?= $item["id"] ?>">

        <div class="fl-ui-selectable-name-avatar-wrapper">
            <?php if ($type == "USER"): ?>
                <img data-placement="bottom" data-original-title="<?= $item["result"] ?>" src="<?= $item["image"] ?>" class="avatar pull-left userAvatar" onerror="this.src=<?=  BROKEN_IMAGE; ?>">

            <?php elseif ($type == "GROUP"): ?>
                <div class="fl-ui-selectable-name-avatar-wrapper">
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                    <use xlink:href="#svg-icon-group-user-selection"><title>Group</title></use>
                    </svg>  
                </div>
            <?php elseif ($type == "POSITION"): ?>
                <div class="fl-ui-selectable-name-avatar-wrapper">
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                    <use xlink:href="#svg-icon-position-user-selection"><title>Position</title></use>
                    </svg>  
                </div>
            <?php elseif ($type == "DEPARTMENT"): ?>
                <div class="fl-ui-selectable-name-avatar-wrapper">
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                    <use xlink:href="#svg-icon-dept-user-selection"><title>Department</title></use>
                    </svg>  
                </div>        
            <?php elseif ($type == "PERSONAL_GROUP"): ?>
                <div class="fl-ui-selectable-name-avatar-wrapper">
                    <svg class="icon-svg" viewBox="0 0 100.264 100.597">
                    <use xlink:href="#svg-icon-group-user-selection"><title>Group</title></use>
                    </svg>
                </div>
            <?php endif; ?>
        </div>
        <div class="fl-ui-selectable-name-data-wrapper"><span title="<?= $item["result"] ?>"><?= $item["result"] ?></span></div>  
    </div>
</div>