
<?php
$results = $this->results;

//echo $this->query;
?>

<div class="fl-widget-name-selector-result-inner fl-scroll-overflow">
    <?php if (count($results) > 0): ?>
        <?php foreach ($results AS $result): ?>
            <?php
            $this->renderAsPartialView("/modules/name_selection/view/search_result_item_view.phtml", $result);
            ?>
        <?php endforeach; ?>
    <?php else: ?>
        <div>No match found.</div>
    <?php endif; ?>
</div>