
<!--
Requires : 
<script src="../../../js/functions/name_selection/name_selection.js"></script>
-->

<?php
$widget_id        = $this->partial_view_data["widget_id"];
$namesInputId     = $this->partial_view_data["names_input_id"];
$label            = $this->partial_view_data["label"];
$filterSearchType = array();

if (array_key_exists("filter_search_type", $this->partial_view_data)) {
    $filterSearchType = $this->partial_view_data["filter_search_type"];
}

$filterSearchTypeString = join(",", $filterSearchType);

$widget_properties = "";

if ($widget_id != null) {
    $widget_properties .= 'id="' . $widget_id . '"';
}

if ($filterSearchTypeString != null) {
    $widget_properties .= ' data-filter-search-type="' . $filterSearchTypeString . '"';
}
?>

<div <?= $widget_properties ?> class="fl-widget-name-selector">
    <span class="label-readers"><?= $label ?></span>
    <span class="fl-selected-names-container"></span>    
    <input type="text" id="<?= $namesInputId ?>" class="input-small fl-autocomplete-input" data-tag-id="0">
    <div class="fl-autocomplete-loading"><i class="fa fa-refresh fa-spin"></i></div>

    <div class="fl-widget-name-selector-result"></div>
</div>

<!--<div class="fl-selecatble-name" data-id="">
    <img data-placement="bottom" data-original-title="Cez Diane Crisostomo" src="http://eforms.gs3.com.ph/images/formalistics/tbuser/f93b8bbbac89ea22bac0bf188ba49a61/small_f93b8bbbac89ea22bac0bf188ba49a61.png" width="25" height="25" class="avatar pull-left userAvatar">
    <span>Name of user/department/group here</span>    
</div>-->

<script type="text/html" id="fl-selected-name-template">
    <div class="fl-selected-name recipient listRecipient1">
        <span style="margin-right:5px;"></span>
        <icon class="cursor removeTag_listRecipient1">X</icon>
    </div>
</script>