<pfp-toolbar disabled="main.disableForm"   menu-button="app.toggleLeft()" title="POWERFORMS - FORM" form-action="app.buttonClick(index)" buttons="buttons">	
	
</pfp-toolbar>


<md-toolbar layout-align="center center" ng-show="main.disableForm" class="md-tall md-primary pfp-regPanel md-hue-3" layout-gt-sm="row" layout-padding>
  <!-- <div flex></div> -->

 <md-input-container ng-show="main.doHavePin">

    <label>PIN</label>
    <input ng-model="main.pin">
    <md-button ng-click="main.authenticate()" class="md-primary md-raised">Authorize</md-button>
    <md-button ng-click="main.doHavePin=false" class="md-primary md-ink-ripple">I do not have a pin yet</md-button>
  </md-input-container>
    
  <md-input-container ng-show="!main.doHavePin">
    <label>Email</label>
    <input ng-model="main.email" type="email">
    <md-button ng-click="main.register()" ng-disabled="main.regClicked" class="md-primary md-raised">Register</md-button>
    <md-button ng-click="main.doHavePin=true" class="md-primary md-ink-ripple">I have a pin</md-button>
  </md-input-container>
   <!-- <div flex ng-show="!main.doHavePin">

  </div> -->
  <div flex>
      
  </div>
</md-toolbar>

<section layout="row" flex="grow">
 	<pfp-sidebar company-id="main.pref.COMPANY_INFO.id" pf-forms="main.pref.PFP_INFO.Forms"></pfp-sidebar>
 	
	    <md-content flex layout-padding class="main-content" style="top:65px">
			    <iframe  id="myIframe" layout ng-src="{{main.src}}" style="position: relative;width: 100%;overflow:hidden" width="100%" height="auto" frameborder="0"  iframe-set-dimensions-onload buttons="buttons"/>
		    <div flex></div>
		</md-content>
</section>