/* line 23, ../../sass/_utilities.scss */
.fl-floatLeft, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-l-details, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-r-details .fl-user-conversation-time, .fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul li, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul li, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-names-wrapper #fl-widget-compose-message-to, .fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-msg-user-details .name, .fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-msg-user-details .name {
  float: left;
}

/* line 23, ../../sass/_utilities.scss */
.fl-floatRight, .fl-widget-head-actions, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-r-details, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-r-details .fl-user-conversation-action, .fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach #fl-msg-right-nav, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach #fl-msg-right-nav, .fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-msg-user-details .date, .fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-msg-user-details .date {
  float: right;
}

/* line 23, ../../sass/_utilities.scss */
.isFloatNone {
  float: none;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignCenter, .fl-user-conversation-unread-count {
  text-align: center;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignLeft {
  text-align: left;
}

/* line 36, ../../sass/_utilities.scss */
.isTextAlignRight {
  text-align: right;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansregular {
  font-family: droid_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.droidsansbold, .font_droid_sansbold {
  font-family: droid_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensansregular {
  font-family: open_sanslight_bold;
}

/* line 102, ../../sass/_utilities.scss */
.opensanslight {
  font-family: open_sanslight;
}

/* line 102, ../../sass/_utilities.scss */
.protestantregular {
  font-family: protestant_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoregular {
  font-family: dustismo_regular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobold {
  font-family: dustismo_regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoromanregular {
  font-family: dustismo_romanregular;
}

/* line 102, ../../sass/_utilities.scss */
.dustismoitalic {
  font-family: dustismo_italic;
}

/* line 102, ../../sass/_utilities.scss */
.dustismobolditalic {
  font-family: dustismobold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansregular {
  font-family: perspective_sansregular;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbold {
  font-family: perspective_sansregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansblackitalic {
  font-family: perspective_sans_blackitalic;
}

/* line 102, ../../sass/_utilities.scss */
.perspectivesansbolditalic {
  font-family: perspective_sansbold_italic;
}

/* line 102, ../../sass/_utilities.scss */
.perspective_sansitalic {
  font-family: perspective_sansitalic;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiregular {
  font-family: sansumiregular;
}

/* line 102, ../../sass/_utilities.scss */
.sansumibold {
  font-family: sansumiregular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumisemibold {
  font-family: sansumi_demibold;
}

/* line 102, ../../sass/_utilities.scss */
.sansumiultralightregular {
  font-family: sansumi_ultralightregular;
}

/* line 102, ../../sass/_utilities.scss */
.traditionsansxlightregular {
  font-family: traditionsans_xlightregular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95regular {
  font-family: vera_humana_95regular;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bold {
  font-family: vera_humana_95regular_bold;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95bolditalic {
  font-family: vera_humana_95bolditalic;
}

/* line 102, ../../sass/_utilities.scss */
.verahumana95italic {
  font-family: vera_humana_95italic;
}

/* line 102, ../../sass/_utilities.scss */
.weezerfontregular {
  font-family: weezerfontregular;
}

/* line 102, ../../sass/_utilities.scss */
.weblysleelight {
  font-family: weblysleeklight;
}

/* line 124, ../../sass/_utilities.scss */
.font-bold, .isFontWeightBold {
  font-weight: bold;
}

/* line 135, ../../sass/_utilities.scss */
.marginAuto {
  margin: 0 auto;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity0 {
  opacity: 0;
}

/* line 142, ../../sass/_utilities.scss */
.isOpacity1 {
  opacity: 1;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayBlock {
  display: block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayInlineBlock, .fl-widget-head-actions ul li {
  display: inline-block;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTable {
  display: table;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableCell {
  display: table-cell;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayTableRow {
  display: table-row;
}

/* line 154, ../../sass/_utilities.scss */
.isDisplayNone {
  display: none;
}

/* line 163, ../../sass/_utilities.scss */
.fl-positive-btn {
  background-color: #2ecc71 !important;
}

/* line 167, ../../sass/_utilities.scss */
.fl-negative-btn {
  background-color: #c0392b !important;
}

/* line 171, ../../sass/_utilities.scss */
.fl-default-btn {
  background-color: #abbac3 !important;
}

/* line 176, ../../sass/_utilities.scss */
.avatar-wrapper {
  height: 40px;
  padding: 5px;
}

/* line 181, ../../sass/_utilities.scss */
.avatar-profile-properties {
  font-size: 12px;
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* line 189, ../../sass/_utilities.scss */
.input-text {
  width: 190px;
  height: 18px;
  padding: 3px;
}

/* line 195, ../../sass/_utilities.scss */
.input-select {
  height: 32px;
  border: 1px solid #d6d6d6;
}

/* line 200, ../../sass/_utilities.scss */
.input-submit {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 207, ../../sass/_utilities.scss */
.input-button {
  width: 85px;
  border: none;
  color: #fff;
  height: 31px;
}

/* line 214, ../../sass/_utilities.scss */
.input-type-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto !important;
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0px;
  z-index: 999999;
}

/* line 228, ../../sass/_utilities.scss */
.bold-text {
  font-weight: bold;
}

/* line 232, ../../sass/_utilities.scss */
.colorfff, .fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black {
  color: #ffffff;
}

/* line 236, ../../sass/_utilities.scss */
.bgcolorfff {
  background-color: #ffffff !important;
}

/* line 246, ../../sass/_utilities.scss */
.isCursorNotAllowed {
  cursor: not-allowed;
}

/* line 246, ../../sass/_utilities.scss */
.font-bold, .isCursorPointer, .fl-widget-head-actions ul li, .fl-widget-user-conversations-wrapper #fl-load-user-conversation li, .fl-widget-compose-wrapper .fl-file-images-wrapper .fl-file-image .fl-file-delete {
  cursor: pointer;
}

/* line 252, ../../sass/_utilities.scss */
.fl-secondary-btn {
  border: 1px solid #d6d6d6 !important;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
}

/* line 262, ../../sass/_utilities.scss */
.fl-button-press {
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 267, ../../sass/_utilities.scss */
.fl-button-press-hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 279, ../../sass/_utilities.scss */
.trans_duration3, .fl-widget-user-conversations-wrapper #fl-load-user-conversation li, .fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul li, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul li {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 311, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-widget-head-actions ul li, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation, .fl-widget-compose-wrapper .fl-widget-compose-reply textarea, .fl-widget-compose-wrapper .fl-widget-compose-message textarea, .fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach .fl-file-upload-btn, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach .fl-file-upload-btn, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-names-wrapper, .fl-widget-compose-wrapper .fl-file-resource-wrapper, .fl-widget-compose-wrapper .fl-file-images-wrapper, .fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-msg-user-details, .fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-user-msg, .fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-msg-user-details, .fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-user-msg {
  box-sizing: border-box;
}

/* line 322, ../../sass/_utilities.scss */
.fl_badge_silver, .fl_badge_SpringGreen, .fl_badge_Gold, .fl_badge_DarkRed, .fl_badge_SteelBlue, .fl_badge_Black, .fl-user-conversation-unread-count, .fl-widget-compose-wrapper .fl-file-images-wrapper .fl-file-image, .fl-widget-compose-wrapper .fl-file-images-wrapper .fl-file-image img, .fl-widget-msg-content-wrapper .fl-msg-wraper .section .column .fl-file-image, .fl-widget-msg-content-wrapper .fl-msg-wraper .section .column .fl-file-image img, .fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-user-msg .fl-file a, .fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-user-msg .fl-file a, .fl-image-loading {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 332, ../../sass/_utilities.scss */
.rotateScale {
  -webkit-transform: rotate(-30deg) scale(1.2, 1.2);
  -moz-transform: rotate(-30deg) scale(1.2, 1.2);
  -o-transform: rotate(-30deg) scale(1.2, 1.2);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* line 340, ../../sass/_utilities.scss */
.borderNone {
  border: none !important;
}

/* line 343, ../../sass/_utilities.scss */
.borderTopNone {
  border-top: none !important;
}

/* line 346, ../../sass/_utilities.scss */
.borderLeftNone {
  border-left: none !important;
}

/* line 349, ../../sass/_utilities.scss */
.borderBottomNone {
  border-bottom: none !important;
}

/* line 352, ../../sass/_utilities.scss */
.borderRightNone {
  border-right: none !important;
}

/* line 357, ../../sass/_utilities.scss */
.textTruncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 363, ../../sass/_utilities.scss */
.elip, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-l-details .fl-user-conversation-excerpt, .fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-l-details .fl-user-conversation-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../../sass/_utilities.scss */
.clearfloat {
  content: "";
  clear: both;
  display: table;
}

/* line 444, ../../sass/_utilities.scss */
.fl-Miniloader {
  color: #555555;
  -webkit-animation: Miniloader .7s infinite linear;
  -moz-animation: Miniloader .7s infinite linear;
  animation: Miniloader .7s infinite linear;
}

@-webkit-keyframes Miniloader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes Miniloader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
/* line 469, ../../sass/_utilities.scss */
.fl-RevealLoader {
  -webkit-animation: RevealLoader .7s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes RevealLoader {
  0% {
    right: 0px;
  }
  100% {
    right: -75px;
  }
}
/* line 495, ../../sass/_utilities.scss */
.fl_badge_silver {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #C0C0C0;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SpringGreen {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #2ecc71;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Gold {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #FFD700;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_DarkRed {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #8B0000;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_SteelBlue {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #4682B4;
}

/* line 495, ../../sass/_utilities.scss */
.fl_badge_Black {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #BEBCBC;
  background-color: #000000;
}

/* line 635, ../../sass/_utilities.scss */
.fl-form-prop-cont-wid {
  width: 49%;
}

/* line 3, ../../sass/message/message.scss */
.fl-widget-head-actions {
  margin-right: 3px;
}
/* line 8, ../../sass/message/message.scss */
.fl-widget-head-actions ul li {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 12px;
  color: #ffffff;
}
/* line 16, ../../sass/message/message.scss */
.fl-widget-head-actions ul li i {
  color: #ffffff;
}

/* line 23, ../../sass/message/message.scss */
.fl-widget-message-create-wrapper {
  height: 420px;
  border: 1px solid #cfdbe2;
}

/* line 29, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper {
  height: 530px;
}
/* line 38, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper #fl-load-user-conversation li:hover {
  background-color: #f5f5f5;
}
/* line 44, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation {
  border-bottom: 1px solid #cfdbe2;
  width: 100%;
  position: relative;
  padding: 5px;
  height: auto;
}
/* line 53, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-avatar-wrapper {
  background: transparent !important;
  top: 5px;
  right: auto;
  bottom: auto;
  left: 5px;
  position: absolute;
}
/* line 57, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-avatar-wrapper img {
  border-radius: 0px;
}
/* line 62, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper {
  padding-left: 45px;
  font-size: 12px;
  height: 100%;
  line-height: 15px;
  padding-top: 5px;
}
/* line 69, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-l-details {
  width: 100%;
}
/* line 72, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-l-details .fl-user-conversation-excerpt {
  width: 87%;
  font-size: 11px;
  color: #6e6e6e;
}
/* line 79, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-l-details .fl-user-conversation-name {
  width: 170px;
}
/* line 88, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-r-details .fl-user-conversation-time {
  color: #cccccc;
  font-size: 11px;
  margin-right: 8px;
}
/* line 95, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper .fl-user-conversation-r-details .fl-user-conversation-action {
  margin-right: 6px;
}
/* line 104, ../../sass/message/message.scss */
.fl-widget-user-conversations-wrapper .fl-widget-user-conversation .fl-user-conversation-details-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 112, ../../sass/message/message.scss */
.fl-user-conversation-unread-count {
  top: 27px;
  right: 3px;
  bottom: auto;
  left: auto;
  position: absolute;
  padding: 0px 4px 0px 3px;
  font-size: 10px;
  color: #fff;
}

/* line 122, ../../sass/message/message.scss */
.fl-widget-compose-wrapper {
  z-index: 999999;
  background-color: #f2f2f2;
  border: 1px solid #cfdbe2;
  border-bottom: 3px solid #cfdbe2;
  height: 20%;
}
/* line 133, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply, .fl-widget-compose-wrapper .fl-widget-compose-message {
  border: 1px solid #cfdbe2;
  margin: 10px;
  background-color: #ffffff;
}
/* line 138, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply textarea, .fl-widget-compose-wrapper .fl-widget-compose-message textarea {
  border: none;
  resize: none;
  width: 100%;
  padding: 5px 5px 15px 5px;
}
/* line 146, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach {
  border-top: 1px solid #cfdbe2;
  border-bottom: 1px solid #cfdbe2;
}
/* line 151, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach .fl-file-upload-btn, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach .fl-file-upload-btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
/* line 157, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach .fl-file-upload-btn input.msg-file-upload, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach .fl-file-upload-btn input.msg-file-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 176, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul li, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul li {
  border-right: 1px solid #cfdbe2;
  font-size: 12px;
  padding: 5px;
  background-color: #f2f2e3;
  cursor: pointer;
}
/* line 187, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul li.fl-msg-other-btn, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul li.fl-msg-other-btn {
  height: 14px;
}
/* line 191, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul li:hover, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul li:hover {
  background-color: #8D8D8D;
  color: #ffffff;
}
/* line 196, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul li:hover i, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul li:hover i {
  color: #ffffff;
}
/* line 202, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-reply .fl-widget-compose-attach ul:after, .fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-attach ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 210, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message {
  display: none;
}
/* line 213, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message #fl-widget-compose-type-message-wrapper {
  position: relative;
}
/* line 216, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message #fl-widget-compose-type-message-wrapper #fl-display-user-wrapper {
  top: auto;
  right: auto;
  bottom: auto;
  left: 0px;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}
/* line 222, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message #fl-widget-compose-type-message-wrapper #fl-display-user-wrapper #displayUser1 .display_box {
  border-right: none;
  border-left: none;
}
/* line 228, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message #fl-widget-compose-type-message-wrapper #fl-display-user-wrapper #displayUser1 .add_listRecipient1:nth-child(odd) {
  background-color: #F0F0F0;
}
/* line 232, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message #fl-widget-compose-type-message-wrapper #fl-display-user-wrapper #displayUser1 .add_listRecipient1:nth-child(even) {
  background-color: #F8F8F8;
}
/* line 241, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message #fl-widget-compose-type-message-wrapper form textarea {
  height: 329px;
}
/* line 247, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-names-wrapper {
  padding: 5px;
  font-size: 11px;
  background-color: #fff;
  border-bottom: 1px solid #cfdbe2;
}
/* line 254, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-names-wrapper #fl-widget-compose-message-to {
  margin: 10px 3px 0px 0px;
}
/* line 259, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-widget-compose-message .fl-widget-compose-names-wrapper #listRecipient1 {
  border: none;
}
/* line 265, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-resource-wrapper, .fl-widget-compose-wrapper .fl-file-images-wrapper {
  padding: 5px;
  border-bottom: 1px solid #cfdbe2;
  font-size: 12px;
  background-color: #fff;
  display: none;
}
/* line 274, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-resource-wrapper {
  height: 30px;
}
/* line 277, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-resource-wrapper .fl-file {
  display: inline-block;
  padding: 3px;
  background-color: #cfdbe2;
  border-radius: 3px;
  color: #222;
  margin-bottom: 3px;
}
/* line 284, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-resource-wrapper .fl-file span {
  font-size: 10px;
}
/* line 291, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-images-wrapper {
  height: 87px;
  display: none;
}
/* line 294, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-images-wrapper .fl-file-image {
  width: 75px;
  height: 75px;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 3px;
}
/* line 303, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-images-wrapper .fl-file-image .fl-file-delete {
  top: auto;
  right: 0px;
  bottom: auto;
  left: auto;
  position: absolute;
  padding: 3px;
  z-index: 1;
  background-color: #f5f5f5;
}
/* line 312, ../../sass/message/message.scss */
.fl-widget-compose-wrapper .fl-file-images-wrapper .fl-file-image img {
  width: 75px;
  height: 75px;
}

/* line 326, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-wraper .section .column .fl-file-image {
  box-shadow: 1px 2px 2px #9D9D9D;
  overflow: hidden;
  height: 130px;
  width: 152px;
  position: relative;
}
/* line 338, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-wraper .section .column .fl-file-image .fl-file-preview-image {
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  position: absolute;
  margin: auto;
  height: auto;
}
/* line 349, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper {
  font-size: 12px;
  position: relative;
  border-bottom: 1px dotted #CFDBE2;
}
/* line 354, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-user-avatar-wrapper {
  background: transparent !important;
  top: 5px;
  right: auto;
  bottom: auto;
  left: 5px;
  position: absolute;
}
/* line 359, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-msg-user-details {
  padding: 5px 10px 5px 50px;
}
/* line 368, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-msg-user-details .date {
  color: #cccccc;
  font-size: 11px;
}
/* line 375, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-msg-user-details:after {
  content: "";
  display: table;
  clear: both;
}
/* line 381, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-user-msg {
  padding: 10px 10px 10px 50px;
  line-height: 18px;
  background-color: #f2f9fd;
  word-break: break-word;
}
/* line 389, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-other-wrapper .fl-user-msg .fl-file a {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #D3D3D3;
}
/* line 402, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper {
  font-size: 12px;
  position: relative;
  border-bottom: 1px dotted #CFDBE2;
}
/* line 406, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-user-avatar-wrapper {
  top: 5px;
  right: auto;
  bottom: auto;
  left: 5px;
  position: absolute;
  background: transparent !important;
}
/* line 411, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-msg-user-details {
  padding: 5px 10px 5px 50px;
}
/* line 420, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-msg-user-details .date {
  color: #cccccc;
  font-size: 11px;
}
/* line 427, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-msg-user-details:after {
  content: "";
  display: table;
  clear: both;
}
/* line 433, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-user-msg {
  padding: 10px 10px 10px 50px;
  line-height: 18px;
  background-color: #f5f5db;
  word-break: break-word;
}
/* line 441, ../../sass/message/message.scss */
.fl-widget-msg-content-wrapper .fl-msg-user-you-wrapper .fl-user-msg .fl-file a {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #D3D3D3;
}

/* line 455, ../../sass/message/message.scss */
.fl-image-loading {
  display: table;
  position: absolute;
  height: 75px;
  width: 75px;
  background-color: #c3c3c3;
  text-align: center;
  opacity: 0.8;
}
/* line 465, ../../sass/message/message.scss */
.fl-image-loading i.fa-rotate-right, .fl-image-loading span {
  display: table-cell;
  vertical-align: middle;
  font-size: 19px;
}

/* line 474, ../../sass/message/message.scss */
#fl-btn-load-more-conversation {
  width: 70px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 5px;
}
