
.chatwindow{
		position: fixed;
		right: 30px;
		bottom: 0%;
		z-index: 10000;
		/* border:1px solid; */
	}


	.fl-tab-display, .fl-input-text, .show-online-user-list-btn, .hide-online-user-list-btn, .more-btn, .more-users-list, .x-btn, .show-thread-btn, .hide-thread-btn, .file-upload-btn{
		width: 230px;
		height: 30px;
		background-color: #fff;
		outline: none;
		border: none;
	}
	
	.more-btn{
		height: 20px;
		width: 40px;
		cursor: pointer;
	 
	    font-size: 11px;
	    float: right;
	}

	.more-users-list{
		height: 20px;
		line-height: 20px;
		text-align: left;
		width: 100px;
		
	    font-size: 11px;
	    padding: 2px;
	    background-color: #fff;
	}

	.li-more-users-list{
		cursor: pointer;
		width: 100px;
	}

	.show-online-user-list-btn, .hide-online-user-list-btn, .show-thread-btn, .hide-thread-btn, .x-btn{
		color: #fff;
		text-align: left;
	    cursor: pointer;
	    
	    font-size: 11px;
	    width: 200px;
	}

	.show-online-user-list-btn, .show-thread-btn{
		color: #000;
		background-color:  #fff !important;

	}

	.show-online-user-list-btn, .hide-online-user-list-btn{
		width: 230px;	
	}	

	.uploaded-files{
		background-color: #fff;
	}

	.x-btn, .file-upload-btn{
		width: 30px;
		cursor: pointer;
		bottom: 0%;
		float: right;
		text-align: center;
		height: 30px;
	}
	.x-btn-show{
		color: #000;
		background-color: #fff;
	}
	.x-btn-show:hover{
		background-color: #cacaca;
	}
	.file-upload-btn:hover{
		background-color: #cacaca;
	}
	.hidden{
		display: none;
	}

	.fl-tab-display{
		height: 320px;
	}

	#txt-search-user, input.fl-input-text{
		width: 200px;
		outline: none !important;
		border: none !important;
	}
  .chat_tabs .fl-file-image{
        width: 75px;
        height: 75px;
  }
	.fl-file-images-wrapper .fl-file-image img{
		width: 75px;
		height: 75px;
		border-radius: 3px;
    object-fit: contain; 
    width: 100%; 
    height: 100%; 
	}
	.online-user{
    	height: 28px;
    	padding: 3px;
    }
    #fl-ui-announcement-online-users-content ul li:hover{
    	cursor: pointer;
    	color: #fff;
    }
    .hellow{
    	height: 250px!important;
    }






/*Forma Chat  */
  .forma-online-list{
  	width: 190px;
  	height: 320px;
  	background-color: white;
  	position: fixed;
    z-index: 11;
  	right: 20px;
  	/* border-left: 1px solid;
    border-right: 1px solid; */
  	bottom: 1px;
  	overflow: hidden;
    box-shadow: 1px 1px 10px #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
  }
  #chat_header{
  	height: 30px;
  	display: table;
    width: 100%;
  }
  
   #chat_header > .chattext {
    display: table-cell;
    vertical-align: middle;
   }


  #online_count{
  	position: fixed;
  	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  	height: 30px;
  	width: 190px;
  	right: 20px;
  	bottom: 1px;
    display: table;
    z-index: 11;
  }

  #online_count > .chattext {
  display: table-cell;
    vertical-align: middle;
  }
    

  .more_dudes{
  	height: 30px;
  	bottom: 1px; 
  	/*border: 1px solid; */
  	width: 50px; 
    z-index: 20;
  	position: fixed; 
  	display: block; 
  	right: 520px;
    text-align: center;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .more_dudes .chattext {
    position: relative;
    top:8px;
    padding-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .more_users{
  	bottom:37px;
  	position:fixed;
  	/*border:1px solid;*/
  }
  #test_window_chat{
  	/*border:1px solid;*/
    /*height:320px; */
    bottom:1px;
  	position:fixed;
    z-index: 11;
  	right:230px;
  }
  .chat_button_show{
	  height:30px;
	  bottom:1px;
    display: table;
    width:inherit;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   }
  
  .chat_button_show  > div {
    display: table-cell;
    vertical-align: middle;
  }

   .chattext{
    	color: #fff;
		  text-align: left;
	    cursor: pointer;
	    /*width: 200px;*/
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: absolute;
      padding-right: 5px;
   }

   .remove_tab {
    /*margin:2px 5px 0px 0px;*/
    cursor:pointer;
    transition: ease 0.3s;
    /*margin-right: 10px;*/
        position: absolute;
    right: 0px;
    /*top: 10px;*/
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 5px;
   }
    .minimize_tab {
    /*margin:2px 5px 0px 0px;*/
    cursor:pointer;
    transition: ease 0.3s;
    /*margin-right: 10px;*/
    position: absolute;
    right: 25px;
    top: 11px;
   }
  i.minimize_tab:hover {
    color: #ffffff !important;
  }

  i.remove_tab:hover {
    color: #ffffff !important;
  }

   .more-users{
   	height:20px;
   }
   .more_users{
   	width: 120px;
   	/*border: 1px solid;*/
   	background-color: #fff;
    box-shadow: 1px 1px 10px #bbb;
    border-radius: 5px;
    overflow: hidden;
   }
  
  #more_users li {
    cursor: pointer;
    padding: 3px;
     display: table;
    width: 100%;
      -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  }

  #more_users li:hover {

     color:#ffffff;
  }
  
  #more_users li div {
      display: table-cell;
    vertical-align: middle;
  }
    

   #online_list{
   	display: inline-table;
   	width: 100%;
    overflow: hidden;
   }

   .send_new_message{
   	
    background-color:#fff;
   	height:15px;
   	position:fixed;
   	bottom:35px;
   	/*border-top:1px solid;*/
    top: 5px;
    right: 5px;
    padding: 3px;
    border-radius: 3px;
    position: absolute;
       -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
   }

   .send_new_message:hover {
      background-color: #ccc;
      color: #fff;
   }

   #online_list #fl-ul-online-users {
   }

   #online_list #fl-ul-online-users li {
    cursor: pointer;
     -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
   }

   #online_list #fl-ul-online-users li:hover {
      background-color: #E0E0E0;
   }
  
  #online_list #fl-ul-online-users li img {
    border-radius: 100%;
    padding: 3px;
  }

/*  #online_list #fl-ul-online-users li:nth-child(odd) {
      background-color: #E0E0E0;
  }*/

.online-group-title {
    color: #fff;
    padding: 5px;
}

  #forma_groups li {
    padding: 5px;
    border-bottom: 1px solid #E0E0E0;
        padding-bottom: 15px;
        cursor: pointer;
        -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  }

  #forma_groups li:hover {
    background-color: #F9F8F8;
  }

  #forma_groups .fl-avatar {
        display: table;
        text-align: center;
        height: 25px;
        width: 25px;
  }

    #forma_groups li div div.fl-avatar  i {
     font-size: 20px;
    display: table-cell;
    vertical-align: middle;;
  }

  .fl-widget-wrapper-scroll{
    border:0!important;
  }
   



   .msg_content{
   	overflow:hidden;
   	position:relative;
   	display:block;
   	height:245px;
   /*	border-left:1px solid;
   	border-right:1px solid;*/
   	width:inherit;
   }
  
  .chat-type-content {
      border:1px solid #D3D3D3;
      border-left: none;
      border-right: none;
  }
  .chat-type-content input {
    width:170px;
     -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  }
  
  .chat-type-content input:focus {
    background: #444;
    color:#fff;
  }

   .chat_tabs{
   	bottom:0px;
   	position:fixed;
   	bottom:1px;
    background-color: #fff;
    box-shadow: 1px 1px 10px #bbb;
    width: 210px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index:999;
    /*height: 320px;*/
   }
   .chat_tabs img{
    /*cursor: default!important;*/
   }
   .chat_tabs .fl-user-avatar-wrapper{
    cursor: default!important;
   }
  
  .chat_container .fl-msg-user-details .name  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 74px;
  }

   #list_container{
    height: 261px;
    overflow: hidden;
    right:20px;
    position: fixed;
    bottom:30px;
    width: 190px;
   }
  #online_search{
    bottom: 1px;
    height: 30px;
    position: fixed;
   /* border-top: 1px solid;
    border-bottom: 1px solid;*/
    width:180px;
  }
  
   #online_search input {
    -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 100%;
   }
       

  #online_search input:focus {
    background: #444;
    color:#fff;
  }

  .chat-notification {
    position: absolute;
    top: -14px;
    width: 25px;
    height: 23px;
    background: red;
    text-align: center;
    border-radius: 100%;
    right: -11px;
    color: #fff;
    display: table;
  }

  .chat-notification-count {
    display: table-cell;
    vertical-align: middle;
  }

.chat_tabs .div_1_of_4{
  width: 100%!important;
}
.chat_tabs .hehehehe{
  width:100%;
  display: inline-table;
  height:auto;
}
.typing_cont{
  height: 12px;
}
.chat_tabs .fl-file-image .fl-file-delete{
/*  position: absolute;
    left: 60px;
    background: #f5f5f5;
    padding: 3px;
*/
    top: auto;
    /*right: 0px;*/
    bottom: auto;
    left: 60px;
    position: absolute;
    padding: 3px;
    z-index: 1;
    background-color: #f5f5f5;
}
.chat_tabs .fl-file-delete:hover{
  /*color:white;*/
  cursor: pointer;
}
.chat_tabs .fl-file-images-wrapper{
  /*display: inline-table!important;*/
}
.chat_tabs .fl-ui-selectable-name{
    overflow: hidden;
    position: relative;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.chat_tabs .fl-ui-selectable-name-data-wrapper{
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    max-width: 200px;
}
.chat_text{
  width: 180px!important;
}
.newName{
  width: 90px;
}
.namechange{
    font-size: larger;
    font-style: italic;
    color: chocolate;
}
.chat-notif{
    position: relative;
    top: -2px;
    width: 19px;
    height: 17px;
    background: red;
    text-align: center;
    border-radius: 100%;
    right: 3px;
    color: #fff;
    display: table;
    float: right;
}
.chat-notifs{
    position: relative;
    top: 7px;
    width: 19px;
    height: 17px;
    background: red;
    text-align: center;
    border-radius: 100%;
    right: 6px;
    color: #fff;
    display: table;
    float: right;
}

.select2-container,.select2-container--default,.select2-container--open{
  /*max-width: 200px!important;*/
}
.select2-search{
/*  height: 30px!important;
  padding: 5px!important;*/
}
.select2-selection__rendered{
  /*padding-top: 5px!important;*/
}
.settings_tab {
  /*margin:2px 5px 0px 0px;*/
  cursor:pointer;
  transition: ease 0.3s;
  /*margin-right: 10px;*/
  position: absolute;
  right: 25px;
  top: 11px;
 }
 .fl-options-data-type .fa{
  padding-top: 2px;
 }


.select2-choices {
  min-height: 150px;  
  max-height: 150px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.select2-container .select2-container--default{
  /*left:0px!important;*/
  /*top:0px!important;*/
  width: 0px;
}

.chat_tabs .select2-selection.select2-selection--multiple{
  max-height: 100px;
  overflow-y:auto;
  height: 100px;
}
.chat_tabs .select2-selection__rendered{
  /*max-height: 150px;*/
}