/* line 6, ../sass/_guestutilities.scss */
.colorfff, .fl-btn, .fl-user-companyname, span.fl-user-name, .fl-user-name i.fa, .fl-user-header-wrapper a, .fl-headerInfo-a-right ul li a i.fa, .fl-headerInfo-b h2, .fl-userpro-header {
  color: #ffffff !important;
}

/* line 8, ../sass/_guestutilities.scss */
.fl-theme-color-text {
  color: #33b5e5;
}

/* line 9, ../sass/_guestutilities.scss */
.fl-theme-color-bg, .fl-btn, .fl-headerInfo-b, .fl-userpro-header, .spinner > div {
  background-color: #33b5e5;
}

/* line 10, ../sass/_guestutilities.scss */
.fl-theme-color-border-left, .fl-guestreqview-wrapper, .fl-acct-details-wrap {
  border-style: solid;
  border-left-color: #33b5e5;
  border-left-width: 6px;
}

/* line 12, ../sass/_guestutilities.scss */
.fL, .fl-left-wrapper, .fl-user-company-avatar-wrapper, .fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper, .fl-user-companyname, span.fl-user-name, .fl-content .fl-left-guest-wrapper, .fl-nav ul li, .fl-headerInfo-a-left, .fl-headerInfo-a-right ul li, .fl-right-wrapper ul li, div.uploader span.filename, .spinner > div {
  float: left;
}

/* line 14, ../sass/_guestutilities.scss */
.fR, .fl-right-wrapper, .fl-user-onlineuser-avatar-wrapper, .fl-content .fl-right-guest-wrapper, .fl-headerInfo-a-right, div.uploader span.action, .fl-input_position {
  float: right;
}

/* line 16, ../sass/_guestutilities.scss */
.fN {
  float: none;
}

/* line 18, ../sass/_guestutilities.scss */
.taC, .fl-copyright, .spinner {
  text-align: center;
}

/* line 20, ../sass/_guestutilities.scss */
.taL {
  text-align: left;
}

/* line 22, ../sass/_guestutilities.scss */
.taR {
  text-align: right;
}

/* line 24, ../sass/_guestutilities.scss */
.Ht100perc, .fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper, .fl-content .fl-left-guest-wrapper, .fl-content .fl-right-guest-wrapper, .fl-profile-wrapper {
  height: 100%;
}

/* line 26, ../sass/_guestutilities.scss */
.wH100perc, .fl-user-header-wrapper, .fl-picture-wrapper, .fl-picture-wrapper .fl-pic-line, .fl-guest-tabs-wrapper, .fl-guestreqview-wrapper, .fl-acct-details-wrap {
  width: 100%;
}

/* line 28, ../sass/_guestutilities.scss */
.boxSizingBB, .fl-btn-white, .fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper, .fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper, .fl-left-guest-wrapper, .fl-right-guest-wrapper, .fl-picture-wrapper, .fl-guest-name, .fl-guest-from, .fl-copyright, .fl-nav ul li, #tab1c, .fl-search-wrapper input[type="text"], .fl-guestreqview-wrapper, .fl-acct-details-wrap, .fl-headerInfo-a-right ul li a, .fl-right-wrapper ul li a, .fl-headerInfo-a, .fl-headerInfo-b, .fl-headerInfo-c, .fl-headerInfo-d, .fl-headerInfo-e, #tab2c, .fl-userpro-header, .fl-input_position input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/_guestutilities.scss */
.borderR3, .fl-btn-white, .fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper, .fl-profile-wrapper, .fl-headerInfo-a-right ul li a, .fl-right-wrapper ul li a, .fl-userpro-header, .fl-large-profile, .fl-large-profile img, .fl-input_position input[type="text"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 31, ../sass/_guestutilities.scss */
.borderR2, .fl-user-avatar-company-wrapper a img, .fl-headerInfo-a-img-wrapper a img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 33, ../sass/_guestutilities.scss */
.textTruncate, .fl-headerInfo-d p, .fl-headerInfo-details-a, div.uploader span.filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 35, ../sass/_guestutilities.scss */
.marginAuto, .fl-user-header-wrapper .fl-user-header-max-width, .fl-content, .fl-picture {
  margin: 0 auto;
}

/* line 37, ../sass/_guestutilities.scss */
.darkAlink, .fl-guest-name a, .fl-guest-from a {
  color: #151515;
}

/* line 39, ../sass/_guestutilities.scss */
.lightAlink {
  color: #ffffff;
}

/* line 41, ../sass/_guestutilities.scss */
.cursorP, .fl-nav ul li, .fl-search-wrapper input[type="button"], div.uploader input, div.uploader span.action {
  cursor: pointer;
}

/* line 43, ../sass/_guestutilities.scss */
.fontWeightB, div.uploader span.action {
  font-weight: bold;
}

/* line 46, ../sass/_guestutilities.scss */
.fl-button-press, .fl-btn-white, .fl-headerInfo-a-right ul li a, .fl-right-wrapper ul li a {
  -webkit-box-shadow: #575757 0px 2px 1px;
  box-shadow: #575757 0px 2px 1px;
  -moz-box-shadow: #575757 0px 2px 1px;
}

/* line 52, ../sass/_guestutilities.scss */
.fl-button-press-hover, .fl-right-wrapper a:hover, .fl-headerInfo-a-right ul li a:hover, .fl-right-wrapper ul li a:hover {
  -webkit-transform: translate(1px, 2px);
  -ms-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

/* line 60, ../sass/_guestutilities.scss */
.trans-duration2, .fl-btn-white, .fl-headerInfo-a-right ul li a, .fl-right-wrapper ul li a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* line 68, ../sass/_guestutilities.scss */
.trans-duration3 {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 75, ../sass/_guestutilities.scss */
.trans-duration5 {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 83, ../sass/_guestutilities.scss */
.trans-timing, .fl-btn-white, .fl-headerInfo-a-right ul li a, .fl-right-wrapper ul li a {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* @font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_bold/opensans-regular-webfont.eot');
    src: url('../fonts/opensans_bold/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_bold/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans_bold/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_bold/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */
/* line 14, ../sass/gueststructure.scss */
body {
  font-family: 'HelveticaNeue_Medium', arial, helvetica;
  background-color: #FAF8F8;
}

/* line 19, ../sass/gueststructure.scss */
.clearfix {
  clear: both;
}

/* line 23, ../sass/gueststructure.scss */
a, span {
  text-decoration: none;
  font-size: 13px;
}

/* line 30, ../sass/gueststructure.scss */
.fl-btn-white {
  color: #151515;
  background-color: #ffffff;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/* line 57, ../sass/gueststructure.scss */
.fl-right-wrapper-none {
  float: none;
}

/* line 61, ../sass/gueststructure.scss */
p {
  font-size: 12px;
}

/* line 65, ../sass/gueststructure.scss */
.fl-user-header-wrapper {
  @includ pos-fix(auto, auto, auto, auto);
  background-color: #33b5e5;
  height: 50px;
}
/* line 71, ../sass/gueststructure.scss */
.fl-user-header-wrapper .fl-user-header-max-width {
  max-width: 1024px;
}

/* line 81, ../sass/gueststructure.scss */
.fl-user-company-avatar-wrapper, .fl-user-onlineuser-avatar-wrapper {
  padding: 5px;
}

/* line 91, ../sass/gueststructure.scss */
.fl-user-avatar-company-wrapper, .fl-headerInfo-a-img-wrapper {
  width: 40px;
  height: 40px;
  padding: 2px;
  background-color: #0099cc;
}

/* line 105, ../sass/gueststructure.scss */
.fl-user-companyname, span.fl-user-name {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 38px;
  font-family: "HelveticaNeue_Medium";
}

/* line 124, ../sass/gueststructure.scss */
.fl-content {
  max-width: 1024px;
}
/* line 128, ../sass/gueststructure.scss */
.fl-content .fl-left-guest-wrapper {
  width: 26%;
}
/* line 134, ../sass/gueststructure.scss */
.fl-content .fl-right-guest-wrapper {
  width: 74%;
}

/* line 141, ../sass/gueststructure.scss */
.fl-left-guest-wrapper, .fl-right-guest-wrapper {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/* line 146, ../sass/gueststructure.scss */
.fl-profile-wrapper {
  -moz-box-shadow: #cdced1 0px 3px 1px;
  -webkit-box-shadow: #cdced1 0px 3px 1px;
  box-shadow: #cdced1 0px 3px 1px;
  background-color: #ffffff;
  border: 1px solid #cdced1;
}

/* line 154, ../sass/gueststructure.scss */
.fl-picture-wrapper {
  padding-top: 11px;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  height: 102px;
}
/* line 161, ../sass/gueststructure.scss */
.fl-picture-wrapper .fl-pic-line {
  top: 50px;
  right: auto;
  bottom: auto;
  left: auto;
  position: absolute;
  height: 3px;
  background-color: #cdced1;
}

/* line 169, ../sass/gueststructure.scss */
.fl-picture {
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: #cdced1 0px 4px 1px;
  -webkit-box-shadow: #cdced1 0px 4px 1px;
  box-shadow: #cdced1 0px 4px 1px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  height: 80px;
  width: 80px;
  background-color: #cdced1;
}
/* line 178, ../sass/gueststructure.scss */
.fl-picture img {
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

/* line 183, ../sass/gueststructure.scss */
.fl-guest-name, .fl-guest-from {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #cdced1;
}

/* line 193, ../sass/gueststructure.scss */
.fl-copyright {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
/* line 198, ../sass/gueststructure.scss */
.fl-copyright span {
  font-size: 10px;
}

/* line 206, ../sass/gueststructure.scss */
.fl-nav {
  top: 1px;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  z-index: 1;
}
/* line 211, ../sass/gueststructure.scss */
.fl-nav ul li {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #cdced1;
  border-left: 1px solid #cdced1;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 13px;
  background-color: #f6f6f6;
}
/* line 224, ../sass/gueststructure.scss */
.fl-nav ul li.inactive {
  background-color: #f8f8f8;
}

/* line 234, ../sass/gueststructure.scss */
.fl-guest-tabs-wrapper {
  -moz-box-shadow: #cdced1 0px 4px 1px;
  -webkit-box-shadow: #cdced1 0px 4px 1px;
  box-shadow: #cdced1 0px 4px 1px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #cdced1;
  background-color: #f6f6f6;
}

/* line 244, ../sass/gueststructure.scss */
#tab1c {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  height: 457px;
}

/* line 258, ../sass/gueststructure.scss */
.search-icon {
  background-position: 2px -1px;
}

/* line 262, ../sass/gueststructure.scss */
.fl-search-wrapper {
  top: -3px;
  right: 0px;
  bottom: auto;
  left: auto;
  position: absolute;
}
/* line 265, ../sass/gueststructure.scss */
.fl-search-wrapper input[type="text"] {
  border: 1px solid #33b5e5 !important;
  padding: 5px;
  width: 210px;
}
/* line 271, ../sass/gueststructure.scss */
.fl-search-wrapper input[type="button"] {
  top: 3px;
  right: 1px;
  bottom: auto;
  left: auto;
  position: absolute;
  background-color: #33b5e5;
  height: 26px;
  border: none;
  width: 30px;
}

/* line 281, ../sass/gueststructure.scss */
input:focus {
  outline: none;
}

@-moz-document url-prefix() {
  /* line 286, ../sass/gueststructure.scss */
  input[type="button"].search-icon {
    top: 1px;
    right: 1px;
    bottom: auto;
    left: auto;
    position: absolute;
  }
}
/* line 293, ../sass/gueststructure.scss */
.fl-guestreqview-wrapper, .fl-acct-details-wrap {
  -moz-box-shadow: #cdced1 0px 2px 1px;
  -webkit-box-shadow: #cdced1 0px 2px 1px;
  box-shadow: #cdced1 0px 2px 1px;
  margin-top: auto !important;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto !important;
  height: auto;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 304, ../sass/gueststructure.scss */
.fl-headerInfo-a-left {
  width: 50%;
}

/* line 309, ../sass/gueststructure.scss */
.fl-headerInfo-a-name-wrapper {
  line-height: 19px;
}

/* line 313, ../sass/gueststructure.scss */
.fl-headerInfo-a-right {
  padding-top: 9px;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: auto;
}
/* line 317, ../sass/gueststructure.scss */
.fl-headerInfo-a-right ul li {
  margin-right: 4px;
}
/* line 320, ../sass/gueststructure.scss */
.fl-headerInfo-a-right ul li a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: inline-block;
}
/* line 338, ../sass/gueststructure.scss */
.fl-headerInfo-a-right ul li:nth-child(2) {
  margin-right: 0px;
}

/* line 350, ../sass/gueststructure.scss */
.fl-right-wrapper ul li {
  margin-right: 4px;
}
/* line 353, ../sass/gueststructure.scss */
.fl-right-wrapper ul li a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: inline-block;
  background-color: #ffffff;
  color: #151515 !important;
}
/* line 363, ../sass/gueststructure.scss */
.fl-right-wrapper ul li a i.fa {
  color: #151515;
}
/* line 372, ../sass/gueststructure.scss */
.fl-right-wrapper ul li:nth-child(2) {
  display: none;
}
/* line 375, ../sass/gueststructure.scss */
.fl-right-wrapper ul li:nth-child(3) {
  margin-right: 0px;
  display: none;
}

/* line 387, ../sass/gueststructure.scss */
.fl-headerInfo-a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/* line 392, ../sass/gueststructure.scss */
.fl-headerInfo-b {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/* line 401, ../sass/gueststructure.scss */
.fl-headerInfo-c {
  border-bottom: 1px solid #cdced1;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/* line 410, ../sass/gueststructure.scss */
.fl-headerInfo-d {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #cdced1;
}
/* line 419, ../sass/gueststructure.scss */
.fl-headerInfo-d p {
  line-height: 18px;
}

/* line 425, ../sass/gueststructure.scss */
.fl-headerInfo-e {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/* line 434, ../sass/gueststructure.scss */
.fl-headerInfo-details-a {
  margin-top: auto !important;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 12% !important;
}
/* line 438, ../sass/gueststructure.scss */
.fl-headerInfo-details-a span {
  font-weight: bold;
}

/* line 443, ../sass/gueststructure.scss */
#tab2c {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* line 448, ../sass/gueststructure.scss */
.fl-userpro-header {
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
  z-index: 1;
}

/* line 459, ../sass/gueststructure.scss */
.fl-acct-details-wrap {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  top: -3px;
  right: auto;
  bottom: auto;
  left: auto;
  position: relative;
}

/* line 465, ../sass/gueststructure.scss */
.fl-large-profile {
  -moz-box-shadow: #cdced1 0px 3px 1px;
  -webkit-box-shadow: #cdced1 0px 3px 1px;
  box-shadow: #cdced1 0px 3px 1px;
}

/* line 474, ../sass/gueststructure.scss */
div.uploader input {
  top: auto;
  right: auto;
  bottom: auto;
  left: 0px;
  position: absolute;
  width: 266px;
  opacity: 0;
  height: 30px;
}

/* line 482, ../sass/gueststructure.scss */
div.uploader {
  width: 138px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  background: #FFF;
  padding: 2px 2px 2px 8px;
}

/* line 491, ../sass/gueststructure.scss */
div.uploader span.filename {
  color: #777;
  max-width: 200px;
  font-size: 11px;
  line-height: 22px;
  display: block;
  cursor: default;
}

/* line 503, ../sass/gueststructure.scss */
div.uploader span.action {
  width: 22px;
  height: 22px;
  font-size: 11px;
  text-indent: -9999px;
  display: inline;
  overflow: hidden;
}

/* line 517, ../sass/gueststructure.scss */
.spinner {
  width: 100px;
  height: 40px;
  font-size: 10px;
  margin: 10px 0px;
}

/* line 525, ../sass/gueststructure.scss */
.spinner > div {
  margin-left: 3px;
  height: 100%;
  width: 6px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

/* line 535, ../sass/gueststructure.scss */
.spinner .bar2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 537, ../sass/gueststructure.scss */
.spinner .bar3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 539, ../sass/gueststructure.scss */
.spinner .bar4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 541, ../sass/gueststructure.scss */
.spinner .bar5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* line 543, ../sass/gueststructure.scss */
.spinner .bar6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

/* line 545, ../sass/gueststructure.scss */
.spinner .bar7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

/* line 547, ../sass/gueststructure.scss */
.spinner .bar8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

/* line 549, ../sass/gueststructure.scss */
.spinner .bar9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

/* line 551, ../sass/gueststructure.scss */
.spinner .bar10 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* line 568, ../sass/gueststructure.scss */
.fl-fields {
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  height: 39px;
  line-height: 30px;
  padding-top: 10px;
}

/* line 576, ../sass/gueststructure.scss */
.fl-fields:first-child {
  padding-top: 0 !important;
}

/* line 580, ../sass/gueststructure.scss */
.fl-input_position {
  width: 78%;
}
/* line 584, ../sass/gueststructure.scss */
.fl-input_position label {
  font-size: 13px;
}
/* line 588, ../sass/gueststructure.scss */
.fl-input_position input[type="text"] {
  width: 99%;
  border: 1px solid #33b5e5 !important;
  padding: 3px;
}

/* line 598, ../sass/gueststructure.scss */
.fl-guest-field {
  display: none;
}
