<html ng-app="myApp">
<head>
	<title>POWERFORMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.min.css">

	<script src="js/config.min.js"></script>

	

	<script src="js/main.min.js"></script>

	
</head>
	<body ng-controller="appController as app">

		<ng-view></ng-view>
		 
		<!-- {{app.title}} -->


	</body>
</html>