<admin-toolbar title="PFP Configuration">
	<md-button class="md-raised" ng-click="">     
      Back
    </md-button>
</admin-toolbar>



<section layout="row" flex="grow">
    <md-content flex layout-padding style="top:65px">
		
    	<md-input-container class="md-block">
          <label>Name</label>
          <input ng-model="user.name">
        </md-input-container>
        
	          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
	            Automatic authentication
	          </md-checkbox>
	    
 		<div layout-gt-sm>
	        <div layout-gt-sm="row">
		        <md-input-container class="md-block" flex-gt-sm>
		          <label>User</label>
		          <input name="email" ng-model="user.email" />
		        </md-input-container>
		         <md-input-container class="md-block" flex-gt-sm>
		          <label>Password</label>
		          <input name="email" ng-model="user.email"  type="password"/>
		        </md-input-container>
	    	</div>
    	</div>
        <div flex></div>
		


		<md-button class="md-raised md-primary" ng-click="">     
	      Save
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="">     
	      Cancel
	    </md-button>
	   
	</md-content>
</section>

