
<?php
   $db = new Database();
   $auth = Auth::getAuth('current_user');
   $userCompany = new userQueries();
   $company = $userCompany->getCompany($auth['company_id']);
	 
	 // Validate if page is not accessible
	 $mod = unserialize(ENABLE_COMPANY_MOD);
	 if($mod['gs3_insights']['gi_data_manager'] == "1"){
?>

	<div id="gi-workspace-tabs">
	  <ul></ul>
	</div>
	

<div class="fl-form-properties-wrapper">
	<div class="fl-widget-head" fl-widget-pos="right">
		<span class="widget-title"><i class="fa fa-cogs"></i></span>
		<div class="fl-form-properties-toggle" style="left: -6px;">
			<i class="fa fa-chevron-right"></i>
		</div>
	</div>
	
	<div  id="gi-dm-toolbox"  class="fl-props-container">
		<div class="fl-form-setting-wrapper">
			<div class="fl-widget-head">
				<span class="widget-title">Data Models</span>
				<span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-minus"></i></span>
			</div>
			<div class="fl-form-controls-content fl-for-scroll ps-container" style="display: block; height: 132px;">
				<div id="gi-model-list-container">
					<ul id='gi-data-models'></ul>
				</div>
				<a id="gi-add-data-model" href="#">Add New...</a>
				<div class="ps-scrollbar-x" style="left: 0px; bottom: 3px; width: 231px; display: none;"></div>
				<div class="ps-scrollbar-y" style="top: 0px; right: 3px; height: 95px;"></div>
			</div>
		</div>
		
		<div class="fl-form-setting-wrapper">
			<div class="fl-widget-head">
				<span class="widget-title">Data Sources</span>
				<span class="fl-min-max-properties" fl-show-opt="true"><i class="fa fa-minus"></i></span>
			</div>
			<div class="fl-form-controls-content fl-for-scroll ps-container" style="display: block; height: 132px;">
				<div id="gi-ds-list-container">
					<ul id='gi-data-sources'></ul>
				</div>
				<div class="ps-scrollbar-x" style="left: 0px; bottom: 3px; width: 231px; display: none;"></div>
				<div class="ps-scrollbar-y" style="top: 0px; right: 3px; height: 95px;"></div>
			</div>
		</div>
	</div>
</div>

<div id="gi-draggable-container" style="background:green; position:absolute; z-index:999999999"></div>

<link href="/css/gi/gi-global.css" rel="stylesheet" />
<link href="/css/gi/gi-data-manager.css" rel="stylesheet" />
<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>
<script src="/js/library/jqueryLib/jquery.gs3.js"></script>
<script src="/js/functions/gi/gi.js"></script>
<script src="/js/functions/gi/gi-data-manager.js"></script>
<script src="/js/functions/gi/gi-dm-data-sources.js"></script>
<script src="/js/functions/gi/gi-dm-data-models.js"></script>

<?php }else{ $this->setInclude('error'); }  ?>