<?php
 $this->setInclude("user_css",null,null,null);
?>
<!-- 
<input type="text" id='report_id' value="<?php echo $_GET['id'];?>" style="display:none">
 -->
<!-- <link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>
<script src="/js/library/math/big.min.js"></script>
<link rel="stylesheet" href="/css/gi/gi-report-designer.css" />
<link rel="stylesheet" href="/css/gi/gi-objects.css" />

<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script>
 -->

<link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/jquery-te/jquery-te-1.4.0.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />
<link rel="stylesheet" href="/css/gi/gi-get.css" />
<link rel="stylesheet" href="/css/gi/gi-objects.css" />
<link rel="stylesheet" href="/css/gi/gi-tab-container.css" />
<link rel="stylesheet" href="/css/gi/wysiwyg/wysiwyg-editor.css"/>
<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>    
<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>  

<script src="/js/library/math/big.min.js"></script>
<script src="/js/library/math/numeral.min.js"></script>
<script src="/js/library/jquery-te/jquery-te-1.4.0.min.js"></script>

<script type="text/javascript" src="/js/library/gi/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/library/gi/jquery.contextMenu.js"></script>



<script type="text/javascript" src="/js/library/gi/giLayoutTable.js"></script>
<script type="text/javascript" src="/js/library/gi/giTabContainer.js"></script>
<script type="text/javascript" src="/js/library/gi/giShapes.js"></script>
<script type="text/javascript" src="/js/library/gi/giPage.js"></script>
<script type="text/javascript" src="/js/library/gi/giPieChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giOtherObjects.js"></script>
<script type="text/javascript" src="/js/library/gi/giTableChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giColumnGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giLineGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giAreaGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giWebPage.js"></script>

<script type="text/javascript" src="/js/library/gi/giExpressionTree.js"></script>   


<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script>


<div class="fl-create-workflow-wrapper" >
	<div class="contentBar_workspace" style="margin-top:34px;">
	    <div class="fl-workspace-wrapper">
			
			<div class="fl-option-toolbar">
				
				<div class="fl-toolbar-left-wrapper" style="float:left;">
					<div class='report_name'>Report Name</div>
					
				</div>
				
				
				<div class="fl-toolbar-right-wrapper" style="float:right;">
					<div class="fl-toobox-hide-show" fl-widget-pos="right">
						<!--<span class='fa fa-navicon'></span>-->
				
				<ul>
					<li class="print_report"><a class="primary-btn" data-original-title="" title="">Print</a></li>
					<li class="gi_request_dashboard_pin"><a class="primary-btn" data-original-title="" title="">Pin</a></li>
					
				</ul>

						<!---->
					</div>
				</div>
				
			</div>		
			
			<?php //include 'layout/form_controls.php' ?>
			
			<div class="fl-workspace">
				
				<div class="fl-workspace-container">
			
					<div class="workspace" data-report-type="viewer style="width:auto;height:auto"">
						<iframe frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'  style="width:100%;height:100%" id="printableReportFrame" name="printableReportFrame" src="/user_view/gi-report?id=<?php echo $_GET['id'];?>&view_type=standalone"></iframe>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-dialog-container"></div>
<!-- </div> -->

<!-- <iframe style="display:none;width:100%;height:100%" id="printableReportFrame" name="printableReportFrame" src="/user_view/gi-report?id=<?php echo $_GET['id'];?>"></iframe> -->

<Script type="text/javascript">
	//prepare for print :P
	

    // giController.getSavedData(<?php echo $_GET['id'];?>,function(result){
	// giReport.load($('.workspace'),result);
	// giReport.paperSize($('.workspace'),result.paper_size);
	// $('.report_name').text(result.name)
 //    });
   $('.fl-content').css('background-color','#ACACAC')
   
   $('.print_report').on('click',function(){
		window.frames["printableReportFrame"].focus();
		window.frames["printableReportFrame"].print();
       
	})

 function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.height + 'px';
   	alert(obj.contentWindow.document.body.height())
  }
   
        //request pin

  //       $('body').on('click', '.gi_request_dashboard_pin', function() {

  //           ui.block();

  //           var content = [];
  //           content.push({
		// object_type: "report",
  //               object_id: $('.report_name').text(),
  //               formId: "2",
  //               reportId:  $('#report_id').val(),
  //               url: String(window.location).replace('gi-report-viewer','gi-report')
  //           });

  //           pin.save({
  //               application_id: "false",
  //               content: JSON.stringify(content)
  //           }, function(result) {
  //               console.log(result);

  //               ui.unblock();
  //               showNotification({
  //                   message: "Content has been pinned.",
  //                   type: "success",
  //                   autoClose: true,
  //                   duration: 3
  //               });

  //           });
  //       });
</script>