

<?php $this->setInclude("user_css",null,null,null);?>
<link rel="stylesheet" href="/css/jquery-ui.css" />
<link rel="stylesheet" href="/css/jquery-te/jquery-te-1.4.0.css" />
<link rel="stylesheet" href="/css/gi/gi-charts.css" />
<link rel="stylesheet" href="/css/gi/jquery.contextMenu.css" />
<link rel="stylesheet" href="/css/gi/gi-get.css" />
<link rel="stylesheet" href="/css/gi/gi-objects.css" />
<link rel="stylesheet" href="/css/gi/gi-tab-container.css" />
<link rel="stylesheet" href="/css/gi/wysiwyg/wysiwyg-editor.css"/>
<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>    
<script src="/js/library/jqueryLib/jquery.linq.min.js"></script>  

<script src="/js/library/math/big.min.js"></script>
<script src="/js/library/math/numeral.min.js"></script>
<script src="/js/library/jquery-te/jquery-te-1.4.0.min.js"></script>

<script type="text/javascript" src="/js/library/gi/jquery.ui.position.js"></script>
<script type="text/javascript" src="/js/library/gi/jquery.contextMenu.js"></script>



<script type="text/javascript" src="/js/library/gi/giLayoutTable.js"></script>
<script type="text/javascript" src="/js/library/gi/giTabContainer.js"></script>
<script type="text/javascript" src="/js/library/gi/giShapes.js"></script>
<script type="text/javascript" src="/js/library/gi/giPage.js"></script>
<script type="text/javascript" src="/js/library/gi/giPieChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giOtherObjects.js"></script>
<script type="text/javascript" src="/js/library/gi/giTableChart.js"></script>
<script type="text/javascript" src="/js/library/gi/giColumnGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giLineGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giAreaGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giBarGraph.js"></script>
<script type="text/javascript" src="/js/library/gi/giWebPage.js"></script>

<script type="text/javascript" src="/js/library/gi/giExpressionTree.js"></script>   


<script type="text/javascript" src="/js/functions/gi/gi-rd-data.js"></script>
<script type="text/javascript" src="/js/functions/gi/gi-report.js"></script>
<style>
  body {background-color:#ffffff!important;
position: relative;
width: auto;
height: auto;
  }
  .fl-content{
    float:none;
    padding:0px;
    width:100%;
    margin-bottom':0px;
    background-color:#ffffff!important;
}
  .fl-user-wrapper{top:0;}
  .fl-user-header-wrapper{display: none!important}
</style>

                  
    <div id="gi-content">
        <div id="content"></div>
    </div>


<Script type="text/javascript">
//$('.fl-user-header-wrapper').remove()
// $('.fl-content').css({
//         float:'none',
//         padding:'0px',
//         width:'100%',
//         'margin-bottom': '0px'
//     });
// $('.fl-user-wrapper').css({
//     top:'0px'
//     })
 // window.print();
  var id = "<?php echo $_GET['id'];?>";
  if(id != ""){
     giController.getSavedData(id,function(result){
        giReport.Load(result, function(){
           
        });
    });
  }
 

</script>