@media print {
	.giNoPrint{
		display: none;
	}
}

#giChartFilterDialog .filterTable{ 
	width: 100%;
	margin: 8px 0;
}

#giChartFilterDialog .filterTable th{ 
	font-weight: bold;
	text-align: center;
}

#giChartFilterDialog .filterTable th, #giChartFilterDialog .filterTable td{ 
	border-width: 1px;
	border-color: #aaa; 
	border-style: solid;
	padding: 4px;
}

#giChartFilterDialog .fieldList, #giChartFilterDialog .comparatorList, #giChartFilterDialog .valueInput, #giChartFilterDialog .logicalList{ 
	border: none;
}

#giChartFilterDialog .fieldList, #giChartFilterDialog .valueInput, #giChartFilterDialog .comparatorList, #giChartFilterDialog .logicalList{
	width: 100%;
}

.giChart .toolBar .button{
	border: none !important;
	background: transparent !important;
	color: #bfbfbf !important;
	padding: 4px !important;
	margin: 0 4px 4px 0;
}

.giChart .toolBar .button:hover{
	border: none !important;
	background: #999 !important;
	color: #fff !important;
	padding: 4px !important;
}

.giChart .toolBar .button.warning{
	background: #;
}

.giChart .hoverShadow{
    border: solid 1px yellow;
}

.giTableChart table, .giRecordsTable table, .giKpiTable table{
	width:100%;
	border-collapse:collapse;
}

.giTableChart th, .giRecordsTable th, .giKpiTable th{
	text-align: center;
}

.giTableChart td, .giTableChart th, .giRecordsTable td, .giRecordsTable th, .giKpiTable td, .giKpiTable th{
	padding: 4px;
}

@media print{
	.giChart{
		-webkit-print-color-adjust: exact;		
	}
}

.giChart *{
	font-size: 11px;
}

.giChart{
	background: #fff;
	_overflow: hidden;
	position: relative;
}

.giChart .navSection, .giChart .legendsSection{
	margin: 2px 4px 4px 4px;
}

.giChart .legendsSection{
	margin: 8px 0 0 0 !important;
	line-height: 12px;
}

.giChart .legendBullet{
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 4px;
}

.giChart .legendLabel{
	margin-right: 4px;
	white-space: nowrap;
}

.giChart .legendWrapper{
	display:inline-block;
	white-space: nowrap;
}

@media print{
	.giChart .navSection{
		display:none;
	}
}

.giChart .navSection .button{
	_border: solid 1px #000;
	display: inline-block;
	background: #EBEBE0; 
	color: #000;
	padding: 2px 4px;
	margin: 2px 4px 2px 2px;
}

.giChart .navSection .button:hover{
	background: #efefef !important;
	color: #999;
	
}

.giChart .navSection .button.right{
	float:right;
}
/*
.giTableChart table{
	background: #fff;
	border-collapse:collapse;
	width: 100%;
	margin: 4px;
}

.giTableChart table tr.even{
	background: #EBEBE0;
}

.giTableChart table th, .giTableChart table td{
	padding: 2px 4px;
}

.giTableChart table th{
	font-weight: bold;
	border-bottom: solid;
	border-width: 2px;
	border-color: #000;
}

.giTableChart table td{
	border-style: none;
	border-width: 1px;
	border-color: #999;
}

.giTableChart table tr:last-child td{
	border-bottom-style: none;
}

.giTableChart table td:last-child{
	border-right-style: none;
}

.giTableChart table td:first-child{
	border-left-style: none;
}*/

/* Pie chart */
.giPieChart .graphWrapper{
	position: relative;
}

.giPieChart .pieSvg{
	position: absolute;
	pointer-events: none;
}

.giPieChart .pieSvg .piePath{
	pointer-events: visible;
}

.giPieChart .pieSvg .piePath title{
	stroke: black;
}

.giPieChart .pieSvg .piePath:hover{
	opacity: 0.8;
	stroke: #fff;
}

/* Column graph */
.giColumnGraph .barGroup:hover .bar{
	opacity: 0.8;
	stroke: #fff;
}

.giColumnGraph .gridValuesSection{
	position:absolute;
	margin-right:4px; 
}

.giColumnGraph .gridValuesSection .gridValue{
	position:absolute;
	display:inline-block;
	text-align:right;
}

.giColumnGraph table.categories{
	position: absolute;
	border-collapse:collapse;
	table-layout:fixed;
	white-space: nowrap;
}

.giColumnGraph table.categories td{
	border-style: solid;
	border-color: #ccc;
	border-left-width: 1px; 
	border-right-width: 1px; 
	text-align: center;
	__overflow: hidden;
	padding: 2px;
}

/* Bar graph */
.giBarGraph .barGroup:hover .bar{
	opacity: 0.8;
	stroke: #fff;
}

.giBarGraph .gridValuesSection{
	position:absolute;
}

.giBarGraph .gridValuesSection td{
	position:relative;
}

.giBarGraph .gridValuesSection .gridValue{
	text-align:right;
	position: absolute;
	display: inline-block;
	
}

.giBarGraph table.categories{
	position: absolute;
	border-collapse:collapse;
	table-layout:fixed;
	white-space: nowrap;
}

.giBarGraph table.categories td{
	text-align: center;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px; 
	overflow-y: hidden;
	padding: 2px;
}

.giBarGraph table.categories tr td:last-child{
	border-right-width: 0; 
}

.giBarGraph table.categories tr td:first-child{
	border-left-width: 0; 
}

/* Line graph */
.giLineGraph .barGroup .bar{
	display:none;
}

.giLineGraph .barGroup:hover .bar{
	opacity: 0.8;
	stroke: #fff;
}

.giLineGraph .gridValuesSection{
	position:absolute;
	margin-right:4px; 
}

.giLineGraph .gridValuesSection .gridValue{
	position:absolute;
	display:inline-block;
	text-align:right;
}

.giLineGraph table.categories{
	position: absolute;
	border-collapse:collapse;
	table-layout:fixed;
	white-space: nowrap;
}

.giLineGraph table.categories td{
	border-style: solid;
	border-color: #ccc;
	border-left-width: 1px; 
	border-right-width: 1px; 
	text-align: center;
	overflow: hidden;
	padding: 2px;
}

/* Area graph */
.giAreaGraph .barGroup .bar{
	display:none;
}

.giAreaGraph .barGroup:hover .bar{
	opacity: 0.8;
	stroke: #fff;
}

.giAreaGraph .gridValuesSection{
	position:absolute;
	margin-right:4px; 
}

.giAreaGraph .gridValuesSection .gridValue{
	position:absolute;
	display:inline-block;
	text-align:right;
}

.giAreaGraph table.categories{
	position: absolute;
	border-collapse:collapse;
	table-layout:fixed;
	white-space: nowrap;
}

.giAreaGraph table.categories td{
	border-style: solid;
	border-color: #ccc;
	border-left-width: 1px; 
	border-right-width: 1px; 
	text-align: center;
	overflow: hidden;
	padding: 2px;
}

.fg-dial {
	font-size: 200%;
	font-weight: bold;
	left: 0;
	position: absolute;
	text-align: center;
	top: 100px;
	width: 100%;
}