.fl-content{
	width:100% !important;
}


#gi-dm-toolbox .fl-form-controls-content{
	height: 220px !important;
}

#gi-data-models .data-model-label{
	
}

#gi-model-list-container .li-item-icon.data-model-icon{
	background: url('/images/fatcow-icons/16/node.png');
}

#gi-ds-list-container{
	height: 32px;
}

#gi-ds-list-container li ul{
	padding-left:8px;
}

#gi-ds-list-container .li-item-icon, #gi-model-list-container .li-item-icon{
	width:16px;
	height:16px;
	display:inline-block;
	position:relative;
	top:2px;
	margin-left:8px;
}

#gi-ds-list-container .li-item-icon.db-icon{
	background: url('/images/fatcow-icons/16/database.png');
}

#gi-ds-list-container .li-item-icon.entity-icon{
	background: url('/images/fatcow-icons/16/table.png');
}

#gi-ds-list-container .li-item-icon.attribute-icon{
	background: url('/images/fatcow-icons/16/bullet_blue.png');
}

#gi-workspace-tabs .ui-tabs-nav li.saved .changes-indicator{
	display:none;
}

#gi-workspace-tabs .ui-tabs-panel .dm-canvas{
	height: 500px !important;
	position: relative;
	overflow: scroll;
}

#gi-workspace-tabs .dm-canvas .dm-entity{
	position: absolute;
	background: #99CCFF; 
	__#E0EBFF;
	border: solid 1px #6699FF;
	padding: 2px;
	height:160px;
	margin: 2px;
	z-index:200;
}

#gi-workspace-tabs .dm-canvas .dm-entity .title-bar{
	cursor:move;
	padding:4px 4px;
	margin-bottom:2px;
}

#gi-workspace-tabs .dm-canvas .dm-entity .label{
	margin-right:20px;
}


#gi-workspace-tabs .dm-canvas .dm-entity .remove{
	cursor:pointer;
	float:right;
}

#gi-workspace-tabs .dm-canvas .dm-entity .attributes-wrapper{
	backround: #6699FF;
	border: solid 1px #6699FF;
	position: absolute;
	bottom:8px;
	right:2px;
	top: 40px;
	left: 2px;
	overflow-y: scroll;
	overflow-x: initial;
}

#gi-workspace-tabs .dm-canvas .dm-entity .attributes{
	background:#fff;
	border-collapse:collapse;
	width:100%;
}

#gi-workspace-tabs .dm-canvas .dm-entity .attributes tr{
	cursor:move;
}

#gi-workspace-tabs .dm-canvas .dm-entity .attributes td{
	border:solid 1px  #99CCFF;
	__#6699FF;
	padding:2px;
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal{
	padding:2px;
	color:#fff;
	position:absolute;
	width:16px;
	height:16px;
	background-position: center center;
	background-repeat: no-repeat;
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal.rel-reference{
	background-image: url('/images/fatcow-icons/16/key.png');
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal.rel-dependent{
	background-image: url('/images/fatcow-icons/16/link.png');
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal[data-side="top"]{
	top:-16px;
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal[data-side="bottom"]{
	bottom:-16px;
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal[data-side="left"]{
	left:-16px;
}

#gi-workspace-tabs .dm-canvas .dm-entity .rel-terminal[data-side="right"]{
	right:-16px;
}

#gi-workspace-tabs .dm-canvas connector-canvas{
	z-index: 100;
}

#gi-workspace-tabs .dm-canvas .terminal-connector{
	stroke:green;
	border:solid 2px black;
}

#gi-workspace-tabs .dm-canvas .terminal-connector:hover{
	stroke:red;
}