/* element styles */
li{
	margin-left:16px;
}

/* fix jQuery UI */
#gi-workspace-tabs.ui-tabs{
	min-height: 500px;
}

#gi-workspace-tabs.ui-tabs .tab-name-editor{
	margin: 8px;
}

#gi-workspace-tabs .changes-indicator{
	float:left !important;
	color:black !important;
	margin-left:2px !important;
}



.ui-tabs-nav .ui-icon-close{
	display:inline-block;
	cursor:pointer;
}

.ui-tabs-nav .ui-tabs-anchor{
	
}	

/* custom */

.gi-ui-gridlines{
	background: url('/images/gi/PlateInch.png');
}

.gi-clearer{
	clear:both;
}

/* mouse */
.gi-ui-ms-pointer{
	cursor: pointer;
}

.gi-ui-ms-move{
	cursor: move;
}