.giExpNode{
	_border:solid 1px blue;
	_background: blue;
	display: inline-block;
	margin: 0 3px 0 3px;
	letter-spacing: 1px;
	cursor: default;
}

.giExpNode.hover{
	background: #CFE5F1;
	_border:solid 1px blue;
	_background: #FF99FF;
}

.giExpNode.literal, .giExpNode.unknown, .giExpNode.operator, .giExpNode.object, .giExpNode.null{
	cursor: text;
}

.giExpIn{
	background: #CFE5F1;
	_border: solid 1px #BADAEB;
	display: inline-block;
	min-width: 1px;
	min-height: 1em;
	letter-spacing: 1px;
	cursor: text;
}

.giInMatchList{
	position:absolute;
	display:inline-block;
	list-style:none;
}

.giInMatchList{
	position:absolute;	
	background:#fff;
	
}

.giInMatchList li{
	text-align:left;
	margin:0 !important;
	padding:2px;
}

.giInMatchList li.active{
	background:#BACED9;
	color:#fff;
}

.giExpNode.unknown, .giExpIn[data-type="unknown"]{
	color:#f00;
	border-bottom-style:dotted;
	border-bottom-color:red;
	border-bottom-width:1px;
}

.giExpNode.string, .giExpIn[data-type="string"]{
	color:#990000;
}

.giExpNode.number, .giExpIn[data-type="number"]{
	color:#0099FF;
}

.giExpNode.operator, .giExpIn[data-type="operator"]{
	color: #000;/*#00CC00;*/
}

.giExpNode.object, .giExpIn[data-type="object"]{
	color: #FF66FF;/*#00CC00;*/
}

.giExpNode.null, .giExpIn[data-type="null"]{
	color: blue;/*#00CC00;*/
	font-weight:bold;
}

.giExp{
	_background: red;
	_border-bottom: solid 1px #ddd;
	_border-left: solid 1px #ddd;
	_border-right: solid 1px #ddd;
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	_margin: 0 4px 0 4px;
	padding: 0 4px 0 4px;
	letter-spacing: 8px;
	cursor: text;
	text-align:center;
	position:relative;
}

.giExp .keyword{
	color:blue;
	font-weight:bold;
}

