@font-face {
    font-family: "Helvetica Neue";
    src: url("/css/fonts/HelveticaNeue.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("/css/fonts/Helvetica.otf");
}
.giObject{
  font-family: "droid sans"
}



/*gi-tab-container */
.gi-tab-container .ui-tabs-nav{
   /* background: -webkit-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%)!important;*/
   background: none!important;
   
}

.gi-tab-container{
    border:none;
}

.gi-tab-container .ui-tabs-panel {
    border-top: 1px solid #cccccc;
}

.gi-tab-container .ui-state-active{
    border: 1px solid #cccccc!important;
    border-bottom: 1px solid white;
}
  
.gi-tab-container .ui-tabs-nav li{
    top:1px;
}


.giText .text-content {
  padding:1em;
  word-wrap: break-word;
}

.giText .text-content[contenteditable="false"] {
  cursor: default;
}

.giText .wysiwyg-container{
  border:none;
  border-radius: none;
  -webkit-border-radius: none;
}

.giText b{
  font-weight: bold;
}

.giText i{
  font-style: italic;
}

.giText sub{
  vertical-align: sub;
  font-size: smaller;
}

.giText sup{
  vertical-align: super;
    font-size: smaller;
}

.giObject:not(.giPage){
  /*float: left;*/
}

.giContainer{
	/*position: relative;
	overflow: hidden!important;*/
}
/*
.giObject{
  cursor: pointer;
}*/

/*.giLineShape {
  pointer-events:none;
}

.giLineShape line{
  pointer-events:initial;
}

*/


/*Text Object*/
/*
.giText {
   color: inherit;
}

.giText div, .giText p {
	margin:0 0 7px
}
.giText a:link, .giText a:link * {
	color:#0066FF !important;
	text-decoration:underline;
}
.giText blockquote {
	margin-top:0;
	margin-bottom:7px
}
.giText img {
    float:left;
	margin:0 10px 5px 0
}
.giText a[jqte-setlink], .giText a[jqte-setlink] * {
	background:#3297FD !important;
	color:#FFF !important
}
.giText h1, .giText h2, .giText h3, .giText h4, .giText h5, .giText h6, .giText pre {
	display:block;
	margin:0 0 3px;
}
.giText h1, .giText h1 * {
	font-size:26px
}
.giText h2, .giText h2 * {
	font-size:24px
}
.giText h3, .giText h3 * {
	font-size:22px
}
.giText h4, .giText h4 * {
	font-size:20px
}
.giText h5, .giText h5 * {
	font-size:18px
}
.giText h6, .giText h6 * {
	font-size:15px
}
.giText pre, .giText pre * {
	font-family:"Courier New", Courier, monospace
}

.giText ol{
	padding-left:30px;
	list-style: decimal;
}

.giText ul{
	padding-left:30px;
	list-style: disc;
}

.giText sup{
      vertical-align: super;
      font-size: smaller;
}

.giText sub{
      vertical-align: sub;
      font-size: smaller;
}
*/
/*Object Icons*/
/*
.ui-obj-icon{
   display:block;
	width:21px;
	height:21px;
   /*background:url(/images/gi/gi_objects_16x16_32x32.png) no-repeat
}
*/
   /*Charts*/

.ui-obj-list-item[data-identifier-name="giBarGraph"] .ui-obj-icon{
   background: url(/images/gi/svg/Bar.svg)  no-repeat;
}

.ui-obj-list-item[data-identifier-name='giAreaGraph'] .ui-obj-icon{
   background: url(/images/gi/svg/Area.svg)  no-repeat;
   
}
.ui-obj-list-item[data-identifier-name='giColumnGraph'] .ui-obj-icon{
   background: url(/images/gi/svg/Column.svg)  no-repeat;
}


.ui-obj-list-item[data-identifier-name="giLineGraph"] .ui-obj-icon{
   background: url(/images/gi/svg/Line.svg)  no-repeat;
}

.ui-obj-list-item[data-identifier-name='giPieChart'] .ui-obj-icon{
  background: url(/images/gi/svg/Pie.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giTableChart'] .ui-obj-icon{
   background: url(/images/gi/svg/Table.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giGaugeChart'] .ui-obj-icon{
   background: url(/images/gi/svg/Gauge.svg)  no-repeat;
}

/*Shapes*/
.ui-obj-list-item[data-identifier-name='giRectangleShape'] .ui-obj-icon{
   background: url(/images/gi/svg/Shape_Rectangle.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giCircleShape'] .ui-obj-icon{
   background: url(/images/gi/svg/Shape_Circle.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giArrowShape'] .ui-obj-icon{
   background: url(/images/gi/svg/Shape_Arrow.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giEllipseShape'] .ui-obj-icon{
   background: url(/images/gi/svg/Shape_Ellipse.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giSquareShape'] .ui-obj-icon{
   background: url(/images/gi/svg/Shape_Square.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giLineShape'] .ui-obj-icon{
   background: url(/images/gi/svg/Shape_Line.svg)  no-repeat;
}

/*Containers*/
.ui-obj-list-item[data-identifier-name='giTabContainer'] .ui-obj-icon{
   background: url(/images/gi/svg/Tab.svg)  no-repeat;
}
.ui-obj-list-item[data-identifier-name='giTableContainer'] .ui-obj-icon{
  background: url(/images/gi/svg/Table_Container.svg)  no-repeat;
}

/*Others*/
.ui-obj-list-item[data-identifier-name='giText'] .ui-obj-icon{
  background: url(/images/gi/svg/Text.svg)  no-repeat;
}

.ui-obj-list-item[data-identifier-name='giImage'] .ui-obj-icon{
  background: url(/images/gi/svg/Image.svg)  no-repeat;
}

div.ui-obj-item .ui-obj-icon{
 background: url(/images/gi/svg/objects.svg)  no-repeat;
  background-size: 32px 32px!important;
  background-position: 13px 5px!important;
}

li.ui-obj-item .ui-obj-icon{
  background: url(/images/gi/svg/objects.svg)  no-repeat;
  background-size: 20px 30px!important;
  background-position: 0px 0px!important;
}

.ui-obj-item[data-gi-identifier-name="giBarGraph"] .ui-obj-icon{
  background: url(/images/gi/svg/Bar.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giLineGraph"] .ui-obj-icon{
  background: url(/images/gi/svg/Line.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giColumnGraph"] .ui-obj-icon{
  background: url(/images/gi/svg/Column.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giAreaGraph"] .ui-obj-icon{
  background: url(/images/gi/svg/Area.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giPieChart"] .ui-obj-icon{
  background: url(/images/gi/svg/Pie.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giTableChart"] .ui-obj-icon{
  background: url(/images/gi/svg/Table.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giGaugeChart"] .ui-obj-icon{
  background: url(/images/gi/svg/Gauge.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giRecordsTable"] .ui-obj-icon{
  background: url(/images/gi/svg/Table.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giTabContainer"] .ui-obj-icon{
  background: url(/images/gi/svg/Tab.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giLayoutTable"] .ui-obj-icon{
  background: url(/images/gi/svg/Table_Container.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giImage"] .ui-obj-icon{
  background: url(/images/gi/svg/Image.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giText"] .ui-obj-icon{
  background: url(/images/gi/svg/Text.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giWebPage"] .ui-obj-icon{
  background: url(/images/gi/svg/Web.svg)  no-repeat;
}

.ui-obj-item[data-gi-identifier-name="giRectangleShape"] .ui-obj-icon{
  background: url(/images/gi/svg/Shape_Rectangle.svg)  no-repeat;
}
.ui-obj-item[data-gi-identifier-name="giEllipseShape"] .ui-obj-icon{
  background: url(/images/gi/svg/Shape_Ellipse.svg)  no-repeat;
}
.ui-obj-item[data-gi-identifier-name="giLineShape"] .ui-obj-icon{
  background: url(/images/gi/svg/Shape_Line.svg)  no-repeat;
}
.ui-obj-item[data-gi-identifier-name="giArrowShape"] .ui-obj-icon{
  background: url(/images/gi/svg/Shape_Arrow.svg)  no-repeat;
}





/*.ui-obj-item .ui-obj-icon{

    background-size: 32px 32px;
   background-position: 10px 0px;
}
*/

.ui-obj-list .not-available{
   opacity: .70;
   cursor: not-allowed!important;
}



