body {
	background-color: #ACACAC;
	cursor: default;
}

b{
	font-weight: bold;
}

i{
	font-style: italic;
}
sup{
	font-size: 0.83em;
        vertical-align: super;
	line-height: 0;

}
sub{
	font-size: 0.83em;
        vertical-align: baseline;

}
.fl-user-wrapper{
	background-color: #ACACAC;
	 min-height: 0;
}

.contentBar_workspace{
	width:100%;
	margin-bottom:0px;
}

.fl-form-properties-wrapper-left {
  left: 0;
  right: auto;
}

/*
.ruler {
    position: absolute;
    top:0; left:0;
    width: 100%; height: 25px;
    background: #eee; color: #000;
    font-family: arial;
    font-size: 12px; line-height: 14px;
    border-bottom: 1px solid;
    overflow: hidden;
    z-index: 9;
}
*/
.fl-workspace-container{
	/*max-height: 85.6%;*/
	position:relative;
	overflow: hidden;
	background-color:#ACACAC;
	padding-left: 0px !important;
	padding-top: 0px !important;
	/*border: 2px solid #4c4c4c;*/
	border-left: 1px;
	border-right: 1px;
	/*padding: 10px;*/

}

.fl-workspace{

	margin:10px auto auto auto;
	position:relative;
	float:none;
	width:100%
}

.ps-container{
	/*margin:0px 0px 0px 0px;*/
	margin-bottom:0px;
	overflow: hidden;
}

.fl-content{
	width:100%;
	background-color:#4c4c4c;
	/*#ACACAC   4c4c4c*/
	margin-bottom:0px;
	padding: 1px;
}

.workspace {
	margin:10px auto 10px auto;
	box-shadow: 0 2px 2px 2px #636363;
	border: solid 1px #7C7B7B;
	overflow: hidden;
	background: white;
}

.no-gridlines{
	background: white!important;
}


.workspace[data-ui-unit="in"]{
	background: url("/images/gi/PlateInch.png")
}

.workspace[data-ui-unit="cm"]{
	background: url("/images/gi/PlateCm2.png")
}

.workspace[data-ui-unit="mm"]{
	background: url("/images/gi/PlateCm2.png")
}

.workspace[data-ui-unit="px"]{
	background: url("/images/gi/PlatePx.png")
}
.fl-option-toolbar{
	border-bottom:1px solid #6e6e6e !important;
	/*box-shadow: 0px 0px 2px 1px #7A7A7A;*/
	border: solid 1px #6e6e6e;
	background-color: #eaeaea;
	
position: fixed;
top: 50px;
height: 45px;
z-index: 1;
left: 0px;
background-color: #fff;
border: none;
z-index: 100000;
}



/*Hover Sidebar Listener*/
/*
.fl-form-listener[fl-widget-pos='left']{
	height: 100%;
	background-color:black;
	float: right;
	right:-13px;
	width: 13px;
	position:absolute;
	z-index:99999;
	opacity:0;
}

.fl-form-listener[fl-widget-pos='right']{
	height: 100%;
	background-color:black;
	float: right;
	left:-13px;
	width: 13px;
	position:absolute;
	z-index:99999;
	opacity:0;
}
*/

.fl-form-properties-wrapper{
	width:240px;
	top:93px;
	background-color:#4c4c4c;
	height:100%;
	/*box-shadow: 0px 2px 2px 1px #7A7A7A;*/
	border: solid 1px #6e6e6e;
	/*border: solid 0px #4c4c4c;*/
	z-index: 30;
}

.fl-form-sub-toolbox-content{
	width: 100%;
	height: 200px;
	/*min-height:200px;*/
	background-color: #eaeaea;
	margin: 0px 0px 10px 0px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	margin:0px 0px 0px 0px;
	margin-bottom:0px;
	overflow: hidden;
	
}

.fl-subtoolbox-wrapper{
	margin: 0px 1px 1px!important;
}

.fl-widget-head{
	margin:1px 1px;
	border:2px solid #d6d6d6;
	cursor:pointer;
}
.fl-props-container{
	margin:0px 0px;
	position:relative;
	overflow: hidden;
	max-height: 85.6%;
}

.gi-scrollable{
	position:relative;
	overflow: hidden;
}

.ps-scrollbar-x {
	opacity: 0.6 !important;
	display: inline !important;
	background-color: #36a9e1 !important;
	z-index: 16;
}
.ps-scrollbar-y {
	z-index: 16;
}

.fl-props-container .fl-widget-head{
	margin:0px;
	border:0px;
	height:15px;
	background-color:#6e6e6e!important;
	color:white;
}

.fl-widget-head:hover{
	opacity:0.6;
	/*background-color:#494949;*/
}

.fl-props-container .fl-widget-head .widget-title{
	font-size:11px;
	top:0px;
	color:white!important;
	left: 10px;
}
.fl-props-container .fl-widget-head .fl-min-max-subtoolbox{
	font-size:11px;
	top:1px;
	float:left;
}



.fl-min-max-subtoolbox i {
	left: 1px;
}


/*Toolbox*/
.rd-header-button{
	padding: 0px 10px 0px 10px;
	cursor: pointer;
	color: black;
	display: inline-block;
}

.rd-header-button[fl-form-prop="false"]{
	color:  #6e6e6e;
}

.rd-header-button[fl-form-prop="true"]{
	color: black;
}

.rd-header-button:hover{
	background-color: #eaeaea; 
}


.rd-header-report-buttons{
	display: inline-block;
	padding-right: 30px;
	border-right: gray solid 1px;

}
.rd-header-report-buttons .rd-header-button{
	color:#36a9e1;
}


.fl-toolbar-left-wrapper{
	top: 0px;
}


.trail{
	position:absolute;
	background-color: #6e6e6e;
	border: 1px solid #4c4c4c;
	z-index:15;
}

.xTrail{
	width:11px;
	height:100%;
	border-top: 0px;
	border-bottom:0px;
}

.yTrail{
	width:100%;
	height:11px;
	border-right: 0px;
	border-left: 0px;
}

/*RULER*/

.ruler{
	position:absolute;
	background-color:white;
	border:0px solid black;
	z-index:10;
}

.yRuler{
	width:100%;
	height:20px;
}

.xRuler{
	width:20px;
	height:100%;
}

/* Make me pretty! 
body {
    font: 12px Ubuntu, Arial, sans-serif;
    margin: 20px;
}

div {
    margin-top: 2em;
}

*/


.ruler {
    background: rgba(255,255,255,1);
    color: #444;
    /*font-family: source code pro, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;*/
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}


.ruler > div {
    background: #444;
}
.hRule {
    /*1in == 96px*/
	font-size: 11px;
	top: 0;
	height: 18px;
	width: 100%;
	border-bottom: 1px solid;
	left:18px;
}
.vRule {
    /*1in == 96px*/
	font-size: 11px;
	top: 18px;
	height: 100%;
	width: 18px;
	border-right: 1px solid;

}
.corner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    z-index: 20;
}

.vMouse {
    display: block;
    position: fixed;
    width: 100%;
    height: 0px;
    
    left: 0;
    background: rgba(0,0,0,0);
    border-bottom: 1px dotted;
    z-index: 11;
}
.hMouse {
    display: block;
    position: fixed;
    height: 100%;
    width: 0px;
    top: 0;

    background: rgba(0,0,0,0);
    border-left: 1px dotted;
    z-index: 11;
}
.mousePosBox {
    height: 16px;
    background: rgba(0,0,0,0.25);
    color: #fff;
    font-family: source code pro;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid rgba(0,0,0,0.5);
    position: fixed;
    left: -50%;
    top: -50%;
    padding: 0 2px;
}


/*Horizontal Ruler*/
.hRulerContainer{
	/*1in == 96px*/
	font-size: 11px;
	top: 0;
	height: 18px;
	width: 100%;
	border-bottom: 1px solid;
	left:18px;
	
}
.hRuleRight{
	/*1in == 96px*/
	font-size: 11px;
	top: 0;
	height: 18px;
	width: 100%;
	border-bottom: 1px solid;
	left:18px;
	float:right;
}

/*Horizontal Ruler*/
.hRule .tickLabel{
	text-indent: 2px;
	position: relative;
	bottom: 0px;
	width: 1px;
	margin-right: 11px;
	padding: 0px;
	height: 100%;
	float: left;

}

.hRule .tickMajor {
	/*8 lines per 1inch*/
	/* 96px/8 = 12px */
	/* 1px width of a line 1px-12px=11px*/

	position: relative;
	bottom: -12px;
	width: 1px;
	margin-right: 11px;
	padding: 0px;
	height: 7px;
	float: left;
}
.hRule .tickMinor {
	/*8 lines per 1inch*/
	/* 96px/8 = 12px */
	/* 1px width of a line 1px-12px=11px*/

	position: relative;
	bottom: -14px;
	width: 1px;
	margin-right: 11px;
	padding: 0px;
	height: 5px;
	float: left;
}



/*Horizontal Ruler*/
.hRuleRight .tickLabel{
	text-indent: 2px;
	position: relative;
	bottom: 0px;
	width: 1px;
	margin-right: 11px;
	padding: 0px;
	height: 100%;
	float: right;

}

.hRuleRight .tickMajor {
	/*8 lines per 1inch*/
	/* 96px/8 = 12px */
	/* 1px width of a line 1px-12px=11px*/

	position: relative;
	bottom: -12px;
	width: 1px;
	margin-right: 11px;
	padding: 0px;
	height: 7px;
	float: right;
}
.hRuleRight .tickMinor {
	/*8 lines per 1inch*/
	/* 96px/8 = 12px */
	/* 1px width of a line 1px-12px=11px*/

	position: relative;
	bottom: -14px;
	width: 1px;
	margin-right: 11px;
	padding: 0px;
	height: 5px;
	float: right;
}




/*Vertical Ruler*/
.vRulerContainer{
	/*1in == 96px*/
	font-size: 11px;
	top: 18px;
	height: 100%;
	width: 18px;
	border-right: 1px solid;
	
	
}

/*Vertical Ruler for Inches*/
.vRule .tickLabel{
	text-indent: -4px;
	position: relative;
	width: 100%;
	margin-bottom: 11px;
	padding: 0px;
	height: 1px;


}

.vRule .tickMajor {
	/*8 lines per 1inch*/
	/* 96px/8 = 12px */
	/* 1px width of a line 1px-12px=11px*/

	position: relative;
	right: -11px;
	width: 7px;
	margin-bottom: 11px;
	padding: 0px;
	height: 1px;

}
.vRule .tickMinor {
	/*8 lines per 1inch*/
	/* 96px/8 = 12px */
	/* 1px width of a line 1px-12px=11px*/

	position: relative;
	right: -13px;
	width: 5px;
	margin-bottom: 11px;
	padding: 0px;
	height: 1px;

}




.vRule .tickLabel span {
	display: block;
	position: absolute;
	top: 3px;
	right: 0px;
	margin-right: 19px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
}

/*Charts*/
.list_controls{
	width: 100%;
	height: 23px;
	border-bottom: #B3B3B3 solid 1px;
	position: relative;
	top: 0px;
}

.list_controls .right_controls{
	float: right;
}
.list_controls .right_controls .control_view{
	padding: 3px 4px 2px 4px;
	cursor: pointer;
	color: #5E5E5E;
	display: inline;
	height: 100%;
	font-size: 14px;
	position: relative;
	float: left;
}

.control_view:hover{
	background-color: #B3B3B3; 
}

.list_controls .right_controls .selected-chart-view{
	background-color: #0096DD;
	color: white;
}

.list_controls .right_controls .selected-chart-view span{
	color: white!important;
};


.charts-content .ui-obj-list{
	height: 100%;
	margin-top: 5px;

}


.ui-obj-list-item{
	display: inline-block;
	position: relative;
}

/*CHART LIST VIEW*/

.ui-obj-list[view-type="list"] .ui-obj-list-item{
	width: 208px;
	border-right: #6D6C6C 10px solid;
	height: 29px;
	cursor: pointer;
	background-color: #D5D5D5;
	margin-top: 1px;

}

.ui-obj-list[view-type="list"] .ui-obj-list-item:hover{
	background-color: #B8B8B8;

}
.ui-obj-list[view-type="list"] .ui-obj-list-item .ui-obj-icon{
	color: whitesmoke;
	position: relative;
	background-color: #6D6C6C;
	display: inline-block;
	width: 13px;
	height: 13px;
	left: 0px;
	float: left;
	padding: 8px;
	text-align: center;
	background-size: 16px 16px;
	background-position: 7px 7px;
	
	

}

.ui-obj-list[view-type="list"] .ui-obj-list-item .ui-obj-title{
	position: relative;
	/*background-color: #D5D5D5;*/
	display: inline-block;
	width: auto;
	height: 20px;
	left: 0px;
	top: 0px;
	float: left;
	padding: 9px 0px 0px 10px;
}


/*CHART GRID VIEW*/


.ui-obj-list[view-type="grid"] .ui-obj-list-item{
	width: 63px;
	/* border-right: #6D6C6C 10px solid; */
	/* margin-right: 0px; */
	height: 63px;
	cursor: pointer;
	background-color: #ECECEC;
	margin-top: 0px;
	padding: 4px;

}

.ui-obj-list[view-type="grid"] .ui-obj-list-item:hover{
	background-color: #B8B8B8;

}
.ui-obj-list[view-type="grid"] .ui-obj-list-item .ui-obj-icon{
	color: whitesmoke;
	position: relative;
	background-color: #6D6C6C;
	display: inline-block;
	left: 0px;
	float: left;
	font-size: 20px;
	padding: 21px;
	width: 21px;
	height: 21px;
	text-align: center;
	background-size: 32px 32px;
	background-position: 16px 16px;
	

}

.ui-obj-list[view-type="grid"] .ui-obj-list-item .ui-obj-title{
	position: relative;
	/*background-color: #D5D5D5;*/
	display: inline-block;
	width: auto;
	height: 20px;
	left: 0px;
	top: 0px;
	float: left;
	padding: 9px 0px 0px 10px;
	display: none;
}

	
/*OBJECT*/

.ui-obj-container{
    position:absolute!important;
	height:100px;
	width:100px;
	cursor: pointer;
	display: inline;
	/*border: 2px solid transparent;*/
	
}

.ui-obj-container:active{
	cursor: move;
}



.ui-obj-container div{
	/*margin: 1;*/
}

.ui-obj-text .inner-container{
	/*padding: 9px;*/
	word-wrap: break-word;
	
}

.ui-obj-text .inner-container div, .ui-obj-text .inner-container p {
	margin: 0 0 7px;
}
/*
.ui-text div, .ui-text p{
	margin: 0 0 7px;
}
*/

.ui-obj-selected{
	/*border-color: #04C204;*/
	outline: #00e4ff solid 1px;
	/*z-index: 1;*/
}


/*OBJECT*/

/* HANDLES */

div.ui-obj-selected > div.ui-resizable-handle {
	display: block!important;
}

.ui-obj-container .ui-resizable-handle {
	background-color: #00e4ff;
	border: 1px solid #00e4ff; 
	/*-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;*/
	width: 5px;
	height: 5px;
	position: absolute;
	font-size: 0.1px;
	display: none;
}




.ui-obj-container .ui-resizable-nw{
    left: -5px;
    top: -5px;
}
.ui-obj-container .ui-resizable-ne{
     top: -5px;
     right: -5px;
}
.ui-obj-container .ui-resizable-sw{
    bottom: -5px;
    left: -5px;
}
.ui-obj-container .ui-resizable-se{
    bottom: -5px;
    right:-5px;
    
}
.ui-obj-container .ui-resizable-n{
     top: -5px;
    left:49%;
}
.ui-obj-container .ui-resizable-s{
     bottom: -5px;
    left: 49%;
}
.ui-obj-container .ui-resizable-w{
     left:-5px;
     top:49%;
}
.ui-obj-container .ui-resizable-e{
     right:-5px;
     top:49%;
}

/* HANDLES */






.query-window-content{
	padding: 0px;
}

.ui-tabs-panel .ui-tabs-partition{
	width: 265px;
	height: 100%;
	padding: 5px;
	position: relative;
}

.ui-tabs-panel{
	overflow: hidden;
}

.ui-data-model-entities{
	background-color: white;
	border: 1px solid #D5D5D5;
	height: 255px;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;

}

.ui-area{
	background-color: white;
	border: 1px solid #D5D5D5;
	height: 60px;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
}

.ui-area .sortable{
	height: 100%;
}

.ui-area-attribute{
	width: 250px;
	padding: 2px;
	margin-bottom: 1px;
	border: 1px solid #D5D5D5;
	background-color: #F5F5F5;
	cursor: pointer;
	padding-right: 5px;
}

.ui-area-attribute:hover{
	background-color: #D5D5D5;
}

/*
.ui-attribute-remove{
	font-size: 10px;
	color: #8B8B8B;
	cursor: pointer;
}
*/

.ui-attribute-title{
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 215px;
	
	
}

.attr-properties{
	/*padding: 10px !important;*/
	padding:5px 10px 5px 15px !important;
}

.popover-title{
	display: none;
}
.popover-content{
	padding: 10px;
}
.ui-attribute-control {
	font-size: 10px;
	color: #8B8B8B;
	cursor: pointer;
	margin-left: 3px;
}

.ui-attribute-control:hover{
	color: black;
}

.ui-area-attr-list{
	margin:2px;
}

.ui-area-label{
	margin-bottom: 3px;
	margin-left: 3px;
}

.ui-dialog-container{
	display: none;
}

.ui-dialog{
	z-index: 100000;

	padding:0px;
	padding-bottom: 2px;
	background-color: #eaeaea !important;

}

.ui-dialog-titlebar{
	border:none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #4c4c4c !important;
	background: #4c4c4c;
	color:whitesmoke;

}

.ui-dialog-content{
	background-color: transparent!important;
	padding: .5em 0em !important;
	padding-top: 0px !important;
	font-size:12px;
	
}


.ui-dialog .ui-dialog-titlebar-close span{
	margin:-8px !important;
}

.ui-dialog .ui-dialog-buttonpane{

}

.ui-dialog-buttonset{
	font-size: 12px;
}
.ui-dialog-buttonset .ui-button{
	margin: 1px !important;

}
.ui-button span{
	padding: 0px !important;
}
.ui-query-window{
	height: 385px!important;
	/*height: 450px!important;*/
}
/* TABS */


.ui-query-window .ui-tabs { 
    background: transparent!important; 
    border: none; 
    height: 330px;
    font-size: 11px !important;


} 


.ui-query-window .ui-tabs .ui-widget-content{
	background-color: transparent!important;
	/*height: 330px;*/
	padding: 10px;
	height: 330px;
}

.ui-query-window .ui-tabs .ui-widget-header { 
    background: transparent!important; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
    height: 27px;
} 
.ui-query-window .ui-tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
    height: 26px!important;
} 
.ui-query-window .ui-tabs .ui-tabs-nav .ui-state-active { 
    background: #6e6e6e url(img/uiTabsArrow.png) no-repeat bottom center!important; 
    border: none; 
    height: 26px!important;
} 
.ui-query-window .ui-tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 

} 
.ui-query-window .ui-tabs .ui-tabs-nav .ui-state-active a { 
    color:whitesmoke!important;

}

div{
	-webkit-touch-callout: none;
-webkit-user-select: none; /* Webkit */
-moz-user-select: none;    /* Firefox */
-ms-user-select: none;     /* IE 10  */

/* Currently not supported in Opera but will be soon */
-o-user-select: none;
user-select: none;  
}


/* DATA MODEL AND ENTITIES */
.ui-data-entities{
	margin: 10px;
	
}
.ui-data-entitie-item{
	
}

.ui-data-entities li{
	margin-bottom: 3px;
}

.ui-toggle{
	margin-right: 3px;
	cursor: pointer;
}

.ui-entitie-icon{
	margin-right: 3px;
	font-size: 15px;
}

.ui-entitie-title{
	cursor:default;
}

.ui-data-attribute-item{
	margin-left: 30px;
	cursor: pointer;
}

.ui-attribute-icon{
	margin-right: 3px;
	font-size: 15px;
}

.ui-sortable-helper{
	list-style: none;
}



/*JQuery Text Editor*/
.jqte{
	margin: 0;
	position: relative;
	overflow: visible;
	z-index: 99999999;
}

.jqte * {
 /*color: inherit; */
 font-family: inherit;


}

.jqte_editor ol{
	padding-left: 30px;
	list-style: decimal;
}

.jqte_editor ul{
	padding-left: 30px;
	list-style: disc;
}

.jqte_editor sup{
      vertical-align: super;
      font-size: smaller;
}

.jqte_editor sub{
      vertical-align: sub;
      font-size: smaller;
}
.jqte_editor{
	resize: none!important;
}

.jqte_editor, .jqte_source{
	font-size: inherit !important;
	padding: 0px;
	background: none;
	min-height: initial!important;
	max-height: initial!important;
	overflow: hidden;
}

.jqte_focused {
border:0px;
border-color: #000000;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

.jqte_toolbar{
	z-index: 99999999;
	
}

.gi-tab-container .ui-tabs-panel{
	padding:0;
}

input.ui-tab-label-edit{
	font-family: inherit;
	font-size: inherit;
}

.context-menu-item {
    float: inherit;
            height: inherit;
            width: inherit;
}
table #gi-object-properties-wrapper{
	width: 100%;
}
#gi-object-properties-wrapper td {
	padding: 1px;
	width: 105px;
	background-color: white;
	border: 1px solid #eaeaea;
	padding-left: 4px;
}
#gi-object-properties-wrapper td input {
	border :none;
	width: 100px;
	/*float:right;*/
}

#gi-object-properties-wrapper .sp-replacer{
	padding: 0px;
	/*float: right;*/
	border:none;
	background:none;
}

#gi-object-properties-wrapper .sp-replacer .sp-dd{
	/*display: none;*/
}

#gi-object-properties-wrapper .sp-replacer .sp-preview{
	width: 87px;
border: none;
margin-right: 5px;
	
}

.category-label{
	padding-top: 5px;
}
