.giTabContainer {
  /*  position: absolute;
    width:370px;
    height:200px;
    --background-color:#DFDFDF;
    z-index:1;
    border:#DFDFDF 1px solid;*/
}
.giTabContainer div.border > table {
    position:relative;
    width:100%;
    height:100%;
}
.giTabContainer div.border > table .ui-tab-header {
    height:20px;
    /*padding: 4px 4px 0px 4px;*/
    padding: 0px;
    background-color:none;
    overflow:hidden;
    /*border-bottom:#d6d6d6 1px solid;*/
}

.giTabContainer div.border > table > tbody > tr > td {
    position: relative;
    vertical-align: top;
}

.giTabContainer div.border > table ul.ui-tab-nav {
    display:block;
    margin:0px;
    list-style: none;
    padding: 0;
    height:100%;
    --border-bottom: #d6d6d6 1px solid;
}
.giTabContainer div.border > table .ui-tab-content {
    background-color:yellow;
    position:relative;
    z-index: 0;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.giTabContainer div.border > table .ui-tab {
    /*background-color:#d6d6d6;*/
    display:inline-block;
    /*padding:3px;*/
    cursor:pointer;
    float:left;
    border: white 1px solid;
    min-width:60px;
    --border-bottom: #d6d6d6 1px solid;
    position:relative;
    border-top-left-radius: 5px;
     border-top-right-radius: 5px;
    /*top: 1px;*/
    margin-right: 1px;
    border-bottom: none;
  /*border-top-right-radius: 5px;*/
    /*padding: 6px;*/
}
.giTabContainer div.border > table .ui-tab:hover {
    /*border: 1px solid #cccccc!important;
    border-bottom: 1px solid white;*/
}
.giTabContainer div.border > table .ui-tab.ui-tab-active {
/*    background-color:white;
    border:#d6d6d6 1px solid;*/
    --border-bottom:0px;
    /*top: 2px;*/
}
.giTabContainer div.border > table .ui-tab-panel {
    background-color:white;
    position:relative;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:0;
    overflow:hidden;
    padding:4px;
    min-height: 50px;
}

.giTabContainer div.border > table .ui-tab-panel.ui-active-tab-panel {
    z-index:1;
}

.giTabContainer div.border > table  .ui-add-tab {
    background-color:#d6d6d6;
    display:inline-block;
    padding:3px;
    cursor:pointer;
    right:0;
    top: 9px;
    /*border: white 1px solid;*/
    position:absolute;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
      font-size: 9px;
    height: 10px;
}

.ui-tab-remove{
    display: inline;
      margin: 4px;
      color:grey;
}


.ui-tab-title{
    display: inline-block;
    margin: 8px;
    min-width: 50px;
}

.ui-tab-title-input{
    border:none;
    margin: 4px;
}