div{
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */
	
	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
	/*border:1px solid black;*/
}

.fl-user-header-wrapper{
	/*z-index: 30000;*/
}

.fl-content{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding:0px;
	position: absolute;
	margin-bottom:0px;
	background-color: #ffffff!important;
	
	
}

.fl-user-wrapper {
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: #ACACAC;
	min-height: 0;
}

.fl-maincontainer{
	position: relative;
}

.fl-main-content-wrapper{
	height: 100%;
}



.contentBar_workspace{
	width:100%;
	margin-bottom:0px;
}
.gi-header-right{
  float: right;
}

.gi-header-left{
  float: left;
}
.gi-header-container{
	  height: 40px;
  padding: 5px;
}

.header-button{

  padding: 13px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.header-button:hover{
	/*opacity: 0.7;*/
	color:#CCCCCC ;
}

#dashboard_config_button:hover ul{
	/*opacity: 1;*/
	display: block;
}

.header-button:hover ul{
	/*opacity: 0.7;*/
	display: block;
}

.header-button ul{
	display: none;
    position: absolute;
    z-index: 1000;
    right: 30px;
    color: white;
    border-top: solid transparent 17px;
}

.header-button li{
    padding: 5px 18px 10px 18px;
    font-size: 12px;
    background: #5B6465;
    text-align: center;
}

.header-button li:hover{
   background: #7f8c8d;
   /*7f8c8d*/
}

.header-button li.last-menu-item{
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



.gi-header-left > span{
	  font-size: 12px;
	  line-height: 38px;
	  padding-left: 10px;
	  padding-right: 10px;
	  float: left;
	  color:white;
	  cursor: pointer;
}


.fl-form-properties-wrapper-left {
  left: 0;
  right: auto;
}

.tb-table{
	display: table;
	width: 100%;
	height: 100%;
}

.tb-row{
    display:table-row;
}


.tb-column{
    display:table-cell;
    position:relative;
}

.bar {
    width:240px;
    min-width:150px;
    
    border-right: solid 1px #bec1c4;
    border-left: solid 1px #bec1c4;
}


.bar-content .bar-panel[data-panel-name="Properties"]{
	height: 70%	;
}
.bar-content .bar-panel[data-panel-name="History"]{
	height: 30%;
}

.ui-property{
	position: relative;
	display: block;
	width: 100%;
	/*padding: 5px*/
}

.ui-property > div{
	display: inline-block;
	padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.ui-property > .ui-property-title{
    width: 39%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
    margin-left: 4px;
}
.ui-property > .ui-property-editor{
	width: 50%;
}

/*.ui-property > .ui-property-editor > input:focus{
	border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
    border-bottom: 1px;
    border-top:1ox;
}*/


.qw-partition{
	    display: inline-block;
    position: relative;
    height: 461px;
    float: left;
}

.qw-partition.qwp-left{
	/*background-color: red;*/
	border-right:1px solid #cfcfcf;
	    width: 251px;
}
.gi-ui-dialog.ui-dialog .qw-partition.qwp-left .panel-head{
	padding: 0px;
}

.qw-partition.qwp-right{
	/*background-color: green;*/
	    width: 748px;

}


.gi-ui-dialog.ui-dialog .qw-partition.qwp-right .panel-head{
	padding: 10px;
}



.ui-property .query-edit-button{
	height: 22px;
  	width: 100%;
}

.ui-property select{
  padding: 4px!important;
  width: 100%;
  border: 1px solid #D5D5D5;
  font-size: 11px;
  -webkit-box-sizing: border-box;
  border-radius: 3px;
  letter-spacing: 2px;
}

.ui-property input[type="text"], 
.ui-property input[type="number"]{
	
  padding: 4px;
  position: relative;
  display: block;
width: 100%;
background-color: white!important;
}
.ui-property input[type="button"]{
  position: relative;
  display: block;
	width: 100%;
}

.ui-property input[type="checkbox"]{
	  width: auto;
	  display: inline;
}

.ui-property input[disabled]{
	background-color: #EDEDED!important;
}


.ui-property-spectrum-container{
	background-color: white;
	border-color:#bec1c4;
}
.ui-property-spectrum{
	  background-color: white;
  border-color: #bec1c4;
  padding: 0px;
  height: 22px;
  width: 100%;
  /* padding: 4px!important; */
  width: 100%;
  width: 100%;
  border: 1px solid #D5D5D5;
  /* padding: 7px; */
  /* font-size: 11px; */
  /* -webkit-box-sizing: border-box; */
  border-radius: 3px;
  /* letter-spacing: 2px; */
}

.ui-property-spectrum .sp-preview {
	width: 100px;
  	height: 18px;
  	border: solid 1px #FFF;
  	  padding: 1px;
}


	
.bar-content .bar-panel{
	display: block;
  	position: relative;
  	height: 100%;
}

.bar > .bar-content{
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	overflow:hidden;
}

.content{
    background-color:whitesmoke;
}


.ui-dialog-container{
	display: none;
}
.bar-content{
	
}
.panel-head{
	padding: 10px;
	border-bottom:  1px solid #bec1c4;
	border-top: 1px solid #bec1c4;
  	margin-top: -1px;
	  box-shadow: 0 2px 5px 0px #d2d5d8;
  background-color: #fff;
}
.panel-content{
	display: inline-block;
	position: absolute;
	overflow: hidden;
	top: 34px;
	bottom: 0;
	left:0;
	right: 0;
}


.panel-content.gi-property-window{
	padding-top: 5px;
	padding-bottom: 5px;
}


.bar-panel[data-panel-name="Properties"] .ui-obj-list{
	display: block;
	margin-top: 5px;
	/*position: relative;*/
}
.ui-obj-list{
	display: inline-block;
	/*position: relative;*/
}

.ui-obj-list > div.ui-obj-item{
	float: left;
	display: block;
	border: 1px #CFCFCF solid;
	/* border-left: 0px; */
  	/* border-top: 0px; */
	margin-right: -1px;
	margin-top: -1px;
	cursor: pointer;
	background-color: white;
}
.ui-obj-list > div.ui-obj-item:hover{
	background-color: #f1f1f1;
}

.ui-obj-list > div.ui-obj-item.notAvailable {
	/*opacity: 0.5;*/
	cursor: not-allowed;
}
.ui-obj-list > div.ui-obj-item.notAvailable:hover{
	/*background-color: white;*/
}
.ui-obj-list > div.ui-obj-item.notAvailable .ui-obj-icon{
	opacity: 0.4;
}

.ui-obj-list li.ui-obj-item{
	border-bottom: 1px solid #cfcfcf;
  	padding: 5px 0px 5px 10px;
}

.ui-obj-list > li.ui-obj-item:hover{
	background-color: #f1f1f1;
	cursor: pointer;
}
.ui-obj-list li.ui-obj-item .ui-obj-shared-date{
	color:#CFCFCF;
	margin-left: 30px;
	margin-top: 3px;
}

li.ui-obj-item .ui-obj-icon{
	margin: 0px;
  height: 30px;
  width: 20px;
  position: absolute
}

li.ui-obj-item .ui-obj-title{
	margin-left: 30px;
	width: 195px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}




div.ui-obj-item .ui-obj-icon{
	margin: 12px;
	height: 55px;
	width: 55px
}

.ui-obj-icon > .ui-obj-title{
	display: block;
	text-align: center;
	position: relative;
	top: 40px;
	color: #717171;
}


.ui-area-header{
	cursor: pointer;
}

.ui-area-header:active{
	background-color: #f1f1f1;
}

.ui-obj-category{
	padding: 5px;
	border-bottom: 1px #CFCFCF solid;
	/*width: 230px;*/
	cursor: pointer;
}

.ui-obj-category:active{
	background-color: #f1f1f1;
}

.ui-obj-history{
	padding: 5px;
	border-bottom: 1px #CFCFCF solid;
	width: 230px;
	cursor: pointer;
}
.gi-action-history.redo-objects{
	background-color: whitesmoke;
}

/*
.ui-obj-history:active{
	background-color: #f1f1f1;
}
*/
.ui-draggable{
	/*border: black 1px dashed;*/
}
.giObject{
	resize:none;
}


.focused{
	/*background-color: whitesmoke;*/
	/*border: 1px solid #00e4ff!important;*/
}

.focused > .hBorderTop{
	position: absolute;
	height: 1px;
	width: 100%;
	background: #00e4ff;
	z-index: 1;
	top: 0;
	cursor: move;
}

.focused > .hBorderBottom{
	position: absolute;
	height: 1px;
	width: 100%;
	background: #00e4ff;
	z-index: 1;
	bottom:0;
	cursor: move;
}
.focused > .vBorderRight{
	position: absolute;
	height: 100%;
	width: 1px;
	background: #00e4ff;
	z-index: 1;
	right: 0;
	cursor: move;
}
.focused > .vBorderLeft{
	position: absolute;
	height: 100%;
	width: 1px;
	background: #00e4ff;
	z-index: 1;
	left: 0;
	cursor: move;
}

.active-container{
	background-color: #F6FBFF!important;
}

.giObject{
	/*border: 1px solid transparent;*/
}


.ui-line-handle{
    height:12px;
    width:12px;
    border-radius: 11px;
    background-color:#1CACBD;
    /* cursor:move; */
    position:absolute;
    z-index:1000;
}

/*Resizable*/

/*div.ui-resizable > div.ui-resizable-handle {*/
/*	display: block!important;*/
/*}*/

.giObject .ui-resizable .ui-resizable-handle {
	background-color: #00e4ff;
	border: 1px solid #00e4ff; 
	width: 5px;
	height: 5px;
	position: absolute;
	font-size: 0.1px;
	/*display: none;*/
}

.giObject .ui-resizable .ui-resizable-nw{
    left: -3px;
    top: -3px;

}
.giObject .ui-resizable .ui-resizable-ne{
     top: -3px;
     right: -4px;

}
.giObject .ui-resizable .ui-resizable-sw{
    bottom: -4px;
    left: -3px;

}
.giObject .ui-resizable .ui-resizable-se{
    bottom: -4px;
    right:-4px;

}


.giObject .ui-resizable .ui-resizable-n{
     top: -5px;
    /*left:49%;*/

    left: 0;
    /*top: 0;*/
    bottom: 0;
    right: 0;
    margin: auto;
}
.giObject .ui-resizable .ui-resizable-s{
     bottom: -5px;
    /*left: 49%;*/

    left: 0;
    top: 0;
    /*bottom: 0;*/
    right: 0;
    margin: auto;
}
.giObject .ui-resizable .ui-resizable-w{
     left:-5px;
     /*top:49%;*/

    /*left: 0;*/
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.giObject .ui-resizable .ui-resizable-e{
     right:-5px;
    /* top:49%;*/

         left: 0;
    top: 0;
    bottom: 0;
    /*right: 0;*/
    margin: auto;
}

.context-menu-item {
    float: inherit;
     height: inherit;
     display: block;
	 width: 85%;
	background-color: #FFF;
	 /* width: 87%;*/
	padding: 6px 3px 0px 26px;
}

  
.context-menu-item.icon{
	background-position: 4px 4px;
}


.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-edit { background-image: url(images/page_white_edit.png); }
.context-menu-item.icon-cut { background-image: url(images/cut.png); }
.context-menu-item.icon-copy { background-image: url(images/page_white_copy.png); }
.context-menu-item.icon-paste { background-image: url(images/page_white_paste.png); }
.context-menu-item.icon-delete { background-image: url(images/page_white_delete.png); }
.context-menu-item.icon-add { background-image: url(images/page_white_add.png); }
.context-menu-item.icon-quit { background-image: url(images/door.png); }
.context-menu-item.icon-sendtoback { background-image: url(../../images/gi/ContextMenu/send-to-back.svg); }
.context-menu-item.icon-bringtofront { background-image: url(../../images/gi/ContextMenu/bring-to-front.svg); }
.context-menu-item.icon-sendbackward { background-image: url(../../images/gi/ContextMenu/send-backwards.svg); }
.context-menu-item.icon-bringforward { background-image: url(../../images/gi/ContextMenu/bring-forward.svg); }
.context-menu-item.icon-Area { 
	background-image: url(../../images/gi/svg/Area.svg); 
	background-size: 17px;
 }
.context-menu-item.icon-Bar { 
	background-image: url(../../images/gi/svg/Bar.svg); 
	background-size: 17px;
 }
.context-menu-item.icon-Column { 
	background-image: url(../../images/gi/svg/Column.svg); 
	background-size: 17px;
 }
.context-menu-item.icon-Table { 
	background-image: url(../../images/gi/svg/Table.svg); 
	background-size: 17px;
 }
.context-menu-item.icon-Pie { 
	background-image: url(../../images/gi/svg/Pie.svg); 
	background-size: 17px;
 }
.context-menu-item.icon-Line { 
	background-image: url(../../images/gi/svg/Line.svg); 
	background-size: 17px;
 }

.context-menu-item.icon{
	background-position: 4px 4px;
}

.resize-helper{
	/*border: 1px #00e4ff dashed;*/
	/*border: 1px solid #00e4ff; */
	background-color: #00e4ff;
	opacity: .2;
}
.available-containers{
	/*border: 1px dashed #00e4ff!important; */
}

.focused-container{
	/*border:dashed 1px black;	*/
}

.giLayoutTable:hover > table > tbody > tr > td{
	border: 1px dashed #00e4ff!important; 
}


.giLayoutTable.focused > table > tbody > tr > td{
	border: 1px dashed #00e4ff!important; 
}


.ui-dialog-titlebar-close{
	/*display: none;*/
	background: white!important;
}

.ui-dialog-titlebar-close span{
	margin-left: -8px;
	margin-top: -8px;
}

.ui-dialog-titlebar{
	/*background-color:  white;*/
	background: white !important
	/*display: none;*/
}

.ui-dialog .ui-dialog-titlebar-close span{
	margin-top: -8px;
	margin-left: -8px;
}
.ui-query-editor{
	border-radius: 0px;
	/*z-index: 1000001;*/
}
.ui-query-editor .ui-dialog-buttonpane{
	padding: 0px;
	border-width: 0px 0 0 0;
	margin: 0 0 0 0;
	font-size: 12px;
}

.ui-query-panel-content{
	position: absolute;
	right: 0;
	left: 0;
}

.ui-query-box{
	border: solid #CFCFCF 1px;
	margin: 5px;
	overflow: auto;
	 margin-top: -1px;
	 overflow-y: scroll;
}

.ui-relation-box{
	border: solid #CFCFCF 1px;
	padding: 5px;
	border-top: 0px;
	border-left: 0px;
}

.ui-areas{
	/*height: 85px;*/
	
}

.ui-area-table{
	width: 100%;
}


th.area-col-head {
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
}

th.area-col-head:nth-child(1){
	border-left:0px;
}

tr.ui-area-item-placeholder td{
	height: 30px;
}

.ui-attribute-item-content {
  width: 100%;
  height: 100%;
}

.ui-area-attribute-item:nth-child(odd){
	background-color: #FBFBFB;
}

.ui-area-attribute-item i{
	    /* padding: 4px; */
    padding: 5px;
}
.ui-area-attribute-item{
  /*opacity: 1!important;*/
  border: 1px solid #CFCFCF;
  background-color: white;
  /* margin-left: 0px */
  height: 20px;
  margin-left: -1px!important;;
  margin-top: -1px;
  /* margin-left: -1px; */
  /* margin-top: -1px; */
  /* border-left: 0px; */
  border-right: 0px;
  /* border-top: 0px; */
    list-style: none;
  /* margin-right: -1px; */
}
.ui-sortable-helper{
	border-right: 1px!important;
}

.ui-sortable-placeholder{
	display: inline-block!important;
	position: relative!important;
	visibility: visible!important;
	/*border:dashed 1px red;*/
}


.ui-attr-tools i:hover{
	color:grey;
}

.ui-attr-tools{  
    cursor: pointer;
    color: #CCCCCC;
    font-size: 11px;
    font-weight: 100;
    width: 10px;
    position: relative;
    display: table-cell;
    /* border-left: 1px solid #cfcfcf; */
}
.ui-area-attr-alias {
  display: table-cell;
  width: 85px;
  border-right: 1px solid #cfcfcf;
}

.ui-area-attr-alias input{
	  width: 100px;
	  background: transparent;
	  border: none;
	  padding: 0px;
	  margin-left: 3px;
	  font-size: 13px!important;
}
.ui-expression-tree {
  display: table-cell;
  /*border: 1px solid #cfcfcf;*/
  border-right: 1px solid #cfcfcf;
  position: relative;
 /* border-bottom: 0px;
  border-top: 0px;*/
  height: 100%;
  /*margin-top: -1px;*/
  width: 513px;
}

.ui-datasource-panel{
	width: 270px;
}

/*.ui-areas[data-area="groupings"] .ui-expression-tree, .ui-areas[data-area="optionalGroupings"] .ui-expression-tree, .ui-areas[data-area="filters"] .ui-expression-tree {
	width: 326px;
}
*/
.ui-area-attribute-item[data-current-area="aggregates"] .ui-expression-tree > .giExp,
.ui-area-attribute-item[data-current-area="groupings"] .ui-expression-tree > .giExp,
.ui-area-attribute-item[data-current-area="optionalGroupings"] .ui-expression-tree > .giExp,
.ui-area-attribute-item[data-current-area="filters"] .ui-expression-tree > .giExp{
	width: 100%;
}
.ui-area-attribute-item[data-current-area="groupings"] .ui-expression-tree,
.ui-area-attribute-item[data-current-area="optionalGroupings"] .ui-expression-tree{
	/*border-right: 0px;*/
	width: 300px;
}



.ui-area-attribute-item .ui-expression-tree > .giExp:first-child{
	vertical-align: bottom;
}
.ui-area-attribute-item[data-current-area="groupings"] .ui-expression-tree > .giExp:first-child,
.ui-area-attribute-item[data-current-area="optionalGroupings"] .ui-expression-tree > .giExp:first-child{
	/*border-right: 0px;*/
	width: 300px;
}

.ui-area-attribute-item[data-current-area="filters"] .ui-expression-tree{
	width: 711px;
	/*border-right: 0px;*/
}

.ui-area-attribute-item[data-current-area="aggregates"] .ui-expression-tree{
	width:602px;
	/*border-right: 0px;*/
}

.ui-area-attribute-item[data-current-area="aggregates"] .ui-expression-tree > .giExp:first-child {
	width:601px;
}

/*.ui-area-attribute-item[data-current-area="fields"] .ui-expression-tree > .giExp,
.ui-area-attribute-item[data-current-area="aggregates"] .ui-expression-tree > .giExp{
		width: 513px;
}*/

.ui-expression-tree > .giExp{
	padding: 0px;
  	overflow: hidden;
  	white-space: nowrap;
}

ul.ui-area-list-attribute {
	width: 100%;
	/*height: 100%;*/
	min-height: 70px;
}
span.ui-area-title {
	margin-left: 10px;
}
.ui-realationship-box{
	height: 100px;
}

.ui-entity-box{
	 /*top:28px;*/
}
.ui-entity-toggle{
	cursor: pointer;
	margin-right: 5px;
}

.ui-datasource-select{
	/*width: 100%;*/
	background: white;
	border: none;
	padding: 9px;
	font-size: 11px!important;
	    width: 88%!important;
    display: inline;
    border-right: 1px solid #BEC1C4!important;
}

ul.ui-entity-list li{
	margin: 5px;
	margin-left: 10px;
}

.ui-entity-name{
	cursor: default;
}

.ui-entity-picklist-dialog{	
	/*overflow: auto;*/
	padding-bottom: 20px;
	height: 100%;
}

.ui-entity-picklist-box{

	overflow: auto;
 /* position: absolute;
  height: 394px;
  width: 280px;*/
}


.ui-entity-item:hover>.ui-entity-button{
	display: inline-block;

}

div.ui-entity-add-button{
	visibility: hidden;
}


.ui-entity-add-button{
	text-align: center;
}

.ui-entity-button{
	margin-left:5px;
	display: none;
	cursor: pointer;
	color:gray;
}

.ui-picklist-item{
    padding: 4px;
    border: 1px solid #cfcfcf;
    border-right: 0px;
    border-left: 0px;
    margin-top: -1px;
    cursor: pointer;
}

.ui-picklist-item:hover{
	background-color: #f1f1f1;
}
	
.ui-picklist-item-tools{
	    right: 5px;
    display: inline-block;
    position: absolute;
}

.ui-picklist-item-tool{

    display: inline-block;
    padding-right: 5px;
    cursor: pointer;
    color: #AFAFAF;
}
.ui-picklist-item-tool:hover{
	color:#2EB3E6;
}

.ui-entity-picklist-search{
	width: 100%;
  /*margin-bottom: 10px;*/
}

.ui-loading{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 5px;
    background: #F5F4F4;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    box-shadow: #B7B7B7 0px 0px 10px;
        z-index: 1;

}

.gi-cut-object{
	opacity:0.3!important;
}

.ui-relationship-table{
	width: 100%;
}

.ui-relationship-table td, table.ui-relationship-table th {
  border: 1px solid #CFCFCF;
  padding-left: 3px;
  width: 148px;
}

.ui-relationship-table th{
	font-style:bold;
	padding: 3px;
	/*background-color: #CFCFCF;*/
	/*background-color: #F1F1F1;*/
	text-align: center;
}

.ui-dialog-title{
	font-size: 14px;
  font-weight: normal;
    padding: 2px;
}
.ui-rel-select-entity, .ui-rel-select-attribute{
	  width: 100%;
  background: transparent;
  border: none;
  padding: 3px;
  font-size: 13px!important;
}


.ui-attribute-item{
	cursor: pointer;
}

.ui-query-editor .ui-dialog-content{
	padding: 5px;
}
.ui-area-table-header{
	margin-left: 5px;
	width: 693px;
	background-color: #F1F1F1;


}
.ui-area-table-header {
 	/*margin-bottom: -5px;*/
 margin-top: 5px;
}	


.ui-area-table-header tr th:nth-child(1) {
	width: 9px;
}

.ui-area-table-header th.header-group, .ui-area-table-header th.header-disp{
	width: 286px;
}

th.column-group-sort-value-width{
	width: 294px;
}

div.column-group-sort-value-width{
	width: 300px;
}

th.column-display-value-width{
	width: 294px;
}

div.column-display-value-width{
	width: 300px;
}


th.column-alias-width{
	width: 103px;
}

div.column-alias-width{
	width:109px;
}

th.column-tools-width{
	width: 30px;
}

div.column-tools-width{
	width:36px;
}
/*.ui-area-table th.header-alias {
	
}
*/
/*.ui-area-table th.header-tools {
	width: 50px;
}
*/

/*326px*/

.ui-area-table-header th {
	border: 1px solid #CFCFCF;
  padding: 1px;
  text-align: center;
}


.context-menu-list{
	min-width: 200px;
  	max-width: 284px;
  	box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.context-menu-submenu:after {
  content: "►";
  color: #505050;
  position: absolute;
  top: 9px;
  right: 6px;
  z-index: 1;
  font-size: 8px;
}

.context-menu-item.icon-none{
	background-position:4px 25px;
}

.ui-dialog-content .db-column{
	height: 100%;
	width: 330px;
	position: relative;
	
}

.ui-dialog-content .db-column:nth-child(2){
border: 1px solid #CFCFCF;
	border-bottom: 0px;
	border-top: 0px;	
}

.ui-dialog-content .db-column div.db-box-list{
    /* margin: 10px; */
    /* border: solid #CFCFCF 1px; */
    height: 430px;
    /* overflow-y: scroll; */
    /* padding: 10px; */
    overflow: hidden;
    position: relative;
    /*height: 428px;*/
}

.ui-dialog-content .db-column div.db-box-list ul{
	margin-left: 10px;
	position: relative;
}

.ui-dialog-content .db-column span:first-of-type{
	margin: 10px;
}


.gi-ui-dialog.ui-dialog{
	border-color:#CFCFCF;
	border-radius: 0px;
	padding: 0px;

	    border: 0px;
    box-shadow: #505050 0px 0px 14px -1px;
}


.gi-ui-dialog.ui-dialog .ui-dialog-titlebar{
	background: #667273 !important 
}

.gi-ui-dialog.ui-dialog .ui-dialog-titlebar-close{
	background: #667273 !important;
	outline:0px!important;
}


.gi-ui-dialog.ui-dialog .ui-dialog-title{
	color:white;
	font-size: 13px;
	font-weight: 100;
	margin-left: -7px;
}

.gi-ui-dialog.ui-dialog .panel-head{
	padding: 7px;
}

/*.gi-ui-dialog.ui-dialog th.panel-head{
	padding: 10px;
}*/

.gi-ui-dialog.ui-dialog .ui-dialog-buttonpane{
	margin: 0px;
	padding: 0px;
}

.panel-head-input{
	width: 100%;
  	border: 0px;
}

#shared-object-name-input{
	margin: 10px 0px 0px 10px
}

.gi-ui-dialog.ui-dialog .label{
	margin-left:10px;
}
.gi-ui-dialog.ui-dialog .ui-dialog-content{
	 /* border: #BEC1C4 1px solid;*/
	  border-top: 0px;
	  padding: 0px;
	  /*BEC1C4*/
}

.gi-ui-dialog.ui-dialog .ui-widget-content{
	/*border:none;*/
}

.gi-ui-dialog.ui-dialog .ui-obj-list{
	width: 100%;
}

.ui-obj-item


/* CSS for the font-name + font-size plugin */
.wysiwyg-plugin-list {
    max-height: 16em;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.wysiwyg-plugin-list a,
.wysiwyg-plugin-list a:link,
.wysiwyg-plugin-list a:visited {
    display: block;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}
.wysiwyg-plugin-list a:hover {
    color: HighlightText;
    background-color: Highlight;
}
/* CSS for the smiley plugin */
.wysiwyg-plugin-smilies {
    padding: 10px;
    text-align: center;
    white-space: normal;
}
.wysiwyg-plugin-smilies img {
    display: -moz-inline-stack; /* inline-block: http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/ */
    display: inline-block;
    *display: inline;
}

#workspace * div{
   /* border:1px solid black;*/
}

#workspace{
	height: 100%;
	width: 100%;
	display:table;
}

#workspace-content{
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
}

#content{
	overflow:auto;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;   
	padding:20px;
	background-color: #f1f1f1;
	
	/*text-align: center;*/
}

#content > .giPage{
	position:relative;
	/*margin-left: auto;
	margin-right: auto;*/
	overflow: hidden;
	border-color: #d2d5d7;
	border-left-style: solid;
	border-right-style: solid;
	color: WindowText;
	background-color: window;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	box-shadow: 0 1px 1px 1px #d2d5d8;
	text-align: left;
	display: block;
	z-index: 1;
}

#gi-content{
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	height: 100%;
}

#gi-actionbar{
	height: 50px;
	background-color: #667273; /* #e1e1e1;*/
}

#query-window{
	padding: 0px;
}

#dashboard-window{

}

#printForm{
	display: none;
	height: 0px;
}


#qw-entity-config .panel-content{
	top:28px;
}

#addDataSourceButtton{
	    display: inline;
    width: 10%;
    background-color: #FBFBFB!important;
    color: black;
    font-weight: bold;
}

#addDataSourceDialog td{
	padding: 5px;
	width: 50px;
}