/*.setOBJ[data-type="text-tagging"] .select2-choices {
	min-height: 150px;
	max-height: 150px;
	overflow-y: auto;
}
.setOBJ[data-type="text-tagging"] ul.select2-results {
	max-height: 200px;
}*/
.setObject[data-type="imageOnly"] .uiform-image-resizable,
.setOBJ[data-type="imageOnly"] .uiform-image-resizable {
	display: block !important;
}

.setOBJ[data-type="text-tagging"] .select2-selection--multiple {
	overflow-y: auto;
}
.generic-dialog-overlay-container{
	display: table;
	position:fixed;
	z-index: 1000000;
	top:0px;
	width:100%;
	height:100%;
}
.generic-dialog-overlay-container > .generic-dialog-middle{
	height: auto;
    display: table-cell;
    vertical-align: middle;
}
.generic-dialog-overlay-container > .generic-dialog-middle > .generic-dialog-center{
	width: 100%;
	height: auto;
	margin: 0px auto;
	text-align: center;
}
.generic-dialog-overlay-container > .generic-dialog-middle > .generic-dialog-center > .generic-dialog-content{
	width: auto;
	height: auto;
	display: inline-block;
	text-align: left;
	max-width: 1000px;
}

.picklist-hide-pagination .dataTables_paginate{
	display: none !important;
}

.embed-edit-mode table thead th{
    cursor: default;
}
.mobility-dialog-content{
    /*background-color: rgba(44, 155, 196,0.3);*/
    background-color: rgba(0, 0, 0, 0.61);
}
.mobility-dialog-content2{
    background-color: rgba(0, 0, 0, 0);
    
}
.mobility-field-dialog-container{
    position:absolute;
    width: 450px;
    height: 500px;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.25);
    /*border: solid 2px rgba(44, 155, 196,1);*/
    border: solid 2px white;
}
.mobility-field-dialog-header{
    width: calc( 100% - 10px);
    height: 30px;
    margin: 5px;
    color: white;
    font-size: 20px;
}
.mobility-field-dialog-body{
    width: calc( 100% - 20px);
    height: calc( 100% - 50px);
    margin: 0px 10px;
    display: inline-block;
    overflow: auto;
}
.mobility-field-element{
    width: calc( 100% - 10px);
    height: 100px;
    margin:5px;
}
.mobility-close-container.is-hovered{
    box-shadow:0px 0px 10px white inset, 0px 0px 10px white;
    background-color: rgb(100,100,100);
}
.mobility-close-container.container-is-active-toggle:not(.is-enabled){
    background-color: red !important;
}
/*.mobility-close-container.container-is-active-toggle.is-hovered:not(.is-enabled){
    background-color: blue !important;
}*/
.mobility-close-container.is-enabled{
    background-color: lime !important;
}
/*.mobility-close-container.is-enabled.is-hovered{
    background-color: orange !important;
}*/



.setOBJ input[type="checkbox"]:focus{
    outline: orange solid 1px !important;
    outline-offset: -1px !important;
}

.formbuilder-ws-active{
    outline: rgb(166, 175, 181) solid 1px;
}

.setOBJ[data-type="time"] button.ui-datepicker-trigger[type="button"],
.setOBJ[data-type="dateTime"] button.ui-datepicker-trigger[type="button"],
.setOBJ[data-type="datepicker"] button.ui-datepicker-trigger[type="button"]
{
	display: none;
}

/*request view focused ele*/

.focused-ele{
	z-index:10 !important;
}

/*calendar view*/
.label-button-div{
 margin: 5px auto;
}
.mobility-overlay .ps-scrollbar-x,
.mobility-overlay .ps-scrollbar-y{
	cursor: pointer !important;
	z-index:3;
}
.qr-code-image{
	/*outline:1px solid #ccc;*/
	height:150px;
	/* width:150px;
	margin:5px auto; */
}
.qr-code-input{
	height:30px;
	font-size:14px
}
/*draggable tip*/
.draggableTooltip{
	position: relative;
	display: inline;
}
.draggableTooltip span.draggable-tip{
	position: absolute;
	min-width:75px;
	color:#FFFFFF;
	
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 6px;
	
	left: -40px;
	font-size: 10px;
}
.draggableTooltip span.draggable-tip:after {
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
 
}
/*resizable ToolTip v2*/


.resizeableTooltip-e {
  position: absolute;
  display: inline;
}
.resizeableTooltip-e span {
  position: absolute;
  min-width:75px;
  color:#FFFFFF;
 
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  bottom: 15px;
  left: -38px;
  font-size: 10px;
}
.resizeableTooltip-e span:after {
  content:"";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
 
}
.resizeableTooltip-s {
  position: absolute;
  display: inline;
}
.resizeableTooltip-s span {
  position: absolute;
  width:75px;
  color: #FFFFFF;
 
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-color: #6D6D6D;
  border-radius: 6px;
  font-size: 10px;
 
  bottom: 0px;
  left: -86px;
}
.resizeableTooltip-s span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}



/*TAB PANEL VALIDATION*/
.container-required{
	border: 1px solid red !important;
}
/*ATTACHMENT STYLE*/
.obj-attachment{
	font-size: 12px;
	font-family: droid_sansregular; 
}
.enable-clickable{
	cursor:pointer;
}
.disable-clickable{
	cursor:not-allowed !important;
}
.setObject{
	transition: box-shadow 0.25s;
}
/*for MODAL*/
.fields{
	/*border-top:1px solid #ddd;*/
}
/*for href*/

.linkedIt{
	text-decoration:underline;
}
/*ACCORDION*/
/*.form-accordion{
	height:100%;
}
.form-accordion-section-group{
	height:calc(100% - 25px);
}*/
.setObject[data-type="accordion"].ui-accordion-content{
    overflow: hidden;
}
.fields_below_accordion{
	height:100%;

}
.input_position_below_accordion{
	height: calc(100% - 13px);
}
.ui-draggable-dragging-some-content.accordion-div-content{
	min-height:35px;
	overflow: visible !important;
    margin:0px;
}
.accordion-div-content{
	min-height:35px;
}

.form-accordion .form-accordion-action-tbl{
	display:table;
	width:100%;
}
.form-accordion .form-accordion-action-row{
	display:table-row;
}
.form-accordion .accordion-header-name{
	display:table-cell;
}
.form-accordion .form-accordion-action-cell:nth-child(2){
	display:table-cell;
	width:37px;
}

/*LANDING PAGE*/
.landing-page-dialog{
	padding-top: 15px;
}
/*DETAIL PANEL*/
input[data-properties-type="details-panel-title"]{
	
	margin-top: 5px;
}
.details-panel-title-td{
	vertical-align: top;
}
.setObject[data-type="details-panel"] .details-panel-container, .setOBJ[data-type="details-panel"] .details-panel-container{
	min-width:300px;
	height:100%;
	width:100%;
	outline:1px solid #ccc;
}
.fl-reveal-wrapper-workspace.fl-reveal-wrapper{
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	height:100%; 
	width:100%; 
	position:relative; 
	overflow:hidden; 
	top:0px;
}
.detP-slave-container{
	/*border:1px solid black;
	padding:5px;*/
}
.linkInputAdder-table{
	
	/*border:1px solid #616165;
	padding:10px;*/
}

.detP-slave-container > div{
	position:relative;
}

.detP-slave-container > div > .detP-add-minus-row{
	position:absolute; 
	top:-17px; 
	right:-10px;
}
.detP-add-row, .detP-table-slave .detP-add-row-inner, .linkInputAdder-add-row{
	cursor:pointer;
}
.detP-minus-row, .detP-table-slave .detP-minus-row-inner, .linkInputAdder-minus-row{
	cursor:pointer;
	display:none;
}

.detP-table-master, .detP-table-slave, .linkInputAdder-table{
	width:100%;
}
.detP-table-master th{
	text-align: center;
}
.detP-table-slave .detP-add-minus-row{
	float:right;
}


/*SMART BARCODE SCANNER*/
.setObject[data-type="smart_barcode_field"] .sbcf-smart-barcode-field-group td:nth-child(1){
}
.setObject[data-type="smart_barcode_field"] .sbcf-smart-barcode-field-group td:nth-child(2){
	width:16px;
}
.setObject[data-type="smart_barcode_field"] .sbcf-smart-barcode-field-group td:nth-child(2) > div{
	position: relative;
	width: 16px;
}
.setObject[data-type="smart_barcode_field"] > .fields_below{
	min-height: 15px;
	height: 100%;
}
.setObject[data-type="smart_barcode_field"] .sbcf-action-icon-master-container{
	position:relative;
}
.setObject[data-type="smart_barcode_field"] .sbcf-action-icon-slave-container{
	width: 16px;
}
.setObject[data-type="smart_barcode_field"] .sbcf-action-icon-slave-container li{
	display:inline-block;
	margin: 0px 2px;
}
.setOBJ[data-type="smart_barcode_field"]{
	display:block;
}
.setOBJ[data-type="smart_barcode_field"] > .fields_below{
	height:100%;
}
.setOBJ[data-type="smart_barcode_field"] > .fields_below .input_position_below{
	height:calc(100% - 20px);
}
.setOBJ[data-type="smart_barcode_field"] > .fields_below .input_position_below > .sbcf-container{
	height:100%;
	overflow-y: auto;
	overflow-x:hidden;
}
.setOBJ[data-type="smart_barcode_field"] > .fields_below .sbcf-action-icon-slave-container .isDisplayNone{
	display:none;
}
/*REQUEST FIELD LOADERS*/
.fl-fieldloader {
    color:#555555;
    -webkit-animation: fieldLoader .5s infinite linear;
    -moz-animation: fieldLoader .5s infinite linear;
    animation: fieldLoader .5s infinite linear;
}
@-webkit-keyframes fieldLoader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
    ;
}
@-moz-keyframes fieldLoader {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
    ;
}
/*END REQUEST FIELD LOADERS*/

.setObject[data-type="createLine"] .getFields[data-type="createLine"]{
	min-width: 1px;
	min-height: 1px;
}
.formbuilder_ws .setObject[data-type="createLine"],.loaded_form_content .setOBJ[data-type="createLine"]{
	width: auto;
	min-width: 1px;
}

/*accordion design*/
.input_position_below > .label-identifier{

	opacity: 0.5;
	cursor: not-allowed;
}
/*.form-accordion{

}*/
.form-accordion > .form-accordion-section-group > .form-accordion-section-header{
	padding:5px; 
	padding-left:30px;
}
.form-accordion > .form-accordion-section-group > .form-accordion-section-header > .form-accordion-action-tbl > .form-accordion-action-row > .form-accordion-action-cell > ul.form-accordion-action-icon > li{
	display:inline-block; 
	padding:1px;
}
/*picklist iframe*/


/*ide*/
.idefoot{
	width: 100%;
	height:50px;
	background: blue;
}
.idehead{
	width: auto;
	height:auto;
	background-color: rgb(44, 62, 80);
	float: right;
}

.idehead > i.fa {
	padding: 5px;
	color: #fff;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;	
	-moz-transition-duration: 0.3s;
	transition-duration:0.3s;
}

.idehead > i.fa:hover {
	background-color: #95a5a6;	
}

.idecontent, .picklistcontent{
	width:200px;
	height:200px;
	background: #FFFFFF;
}
.ideoverlay, .picklistoverlay{
	z-index:100000000;
	position:fixed;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: table;

}
.idemiddler, .picklistmiddler{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*.idepos .idescroll{
	width: 100%;
	height: 100%;
	overflow:auto;
}*/
.idepos, .picklistpos{
    
 	display:inline-block;
 	text-align:left;
    width: auto;
    height: auto;
    z-index: 999999;
    margin:auto auto;
    
}

textarea[data-ide-properties-type].ide-hover:hover {
	background-color: #222 !important;
	opacity: 0.5;
}

/*context-menu*/
.textpos{
	padding-top:2px;
}
/*end*/
.bn-cd{
	 background-color:rgb(0, 153, 204); 
}
span.spanbutton{
	margin-top: 1px;
	display: inline-block;
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	margin-left: 2px;
}

span.spanbutton.bn-cd > label > .fa-bold, span.spanbutton.bn-cd > label > .fa-italic, span.spanbutton.bn-cd > label > .fa-underline {
	color: #ffffff !important;
}

.fl-textfield-type-opt > .column > .spanbutton > label > i.fa {
	padding: 3px;
}

input.textdecor { display:none; }
input.textdecor:checked ~ label { color:white; }
.ui-menu{
/*	width: 80px;
	height:50px;*/
	z-index: 15 !important;
}
.ui-menu kbd {
	padding-left: 1em;
	float: right;
}

.ui-contextmenu{
	border-radius: 0px !important;
}
.ui-contextmenu li{
	min-width: 109px;
}

ul.ui-menu .ui-corner-all{
	background: rgba(0,0,0,0) !important;
	color: rgba(0,0,0,1) !important;
	outline:0px !important;
}
.ui-menu-item{
	padding:5px;
	background-color: rgba(0,0,0,0);
	
}
.ui-menu-item:hover{
	padding:5px;
	/*-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;*/
}


ul.ui-contextmenu {
	box-shadow: 1px 1px 1px #CFDBE2;
	background-color: #FCFCFC !important;
}

ul.ui-contextmenu li {
	border-bottom: 1px dashed #CFDBE2;
}

ul.ui-contextmenu li:hover a {
	color:#ffffff !important;
}

ul.ui-contextmenu li:last-child {
	border-bottom: none;
}
/*context-menu end*/

.setObject[data-type="tab-panel"] .form-tabbable-pane .ui-tabs-panel{
	overflow: visible !important;
}
.setObject[data-type="tab-panel"] .form-tabbable-pane .ui-tabs-panel > .ui-resizable-handle{
	bottom: -10px;
}
.hovereffect:hover {

	background-color: #81D9E3;
}

.embed-view-container td label{
	word-wrap: break-word;
}
.pantanggalborder{
	border:0px !important;
}
/*uncomment this after 4.01 release*/
.readonly-overlay, .disable-clickable, .readonly-cursor-display{
	cursor: not-allowed !important;
}
#fl-form-basic-options ul li.redo-disable,
#fl-form-basic-options ul li.undo-disable,
.cursor-disable{
	cursor: not-allowed;
	background-color: #999 !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#fl-form-basic-options ul li.undo-disable i.fa.fa-rotate-left,
#fl-form-basic-options ul li.redo-disable i.fa.fa-rotate-right {
	cursor: not-allowed;
}



.setObject[data-type="textbox"] .fields_below,
.setObject[data-type="textbox"] .getFields[name]{
	height:100%;
}
.setOBJ[data-type="textbox"] .fields_below,
.setOBJ[data-type="textbox"] .getFields[name]{
	/* height:100%; *//*remove bec of object css*/
}
.loaded_form_content .getFields[disabled], .loaded_form_content .getFields[readonly] {
	/*background: transparent;*//*remove bec of object css*/
	/*background-color: #cccccc !important;*/
	border:none;
	box-shadow: none !important; 
}



input[class*="form-"].form-text {
	-webkit-transition: none;
	transition: none;
}


.formbuilder_page_btn.btn_content .setObject_btn{
	display: inline-block !important;
	vertical-align: top !important;
	margin-top: 0px !important;
	margin-right: 35px;
}
.formbuilder_page_btn.btn_content .setObject_btn .btn-actions{
	position: absolute;
	margin-right: -40px;
	right: 0;
	margin-top: 10px;
	z-index: 10;
}

.formbuilder_page_btn.btn_content .setObject_btn .btn-actions ul li i.fa {
	color:#6E6E6E;
}

.setObject[data-type="noteStyleTextarea"] .content-editable-field{
	word-wrap: break-word;
}
.setObject[data-type="noteStyleTextarea"] .cefb-corner-top-left{
	background-image: url(/images/icon/cornerBorder2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 9px;
	height: 9px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.setObject[data-type="noteStyleTextarea"] .cefb-corner-bottom-right{
	background-image: url(/images/icon/cornerBorder2.png);
	background-repeat: no-repeat;
	background-position: -3px -3px;
	width: 9px;
	height: 9px;
	position: absolute;
	right: -1px;
	bottom: -1px;
	z-index: 1;
}
.form-table .td-relative{
	position: relative;
	/*min-width:100%;*/
	/*min-height:100%;*/
	height:100%;
	/*height:auto !important;*/
	/*height:inherit !important;*/
	width:100%;
	/*width: auto !important;*/
	/*width: inherit !important;*/
}

.setOBJ[data-type="table"]>.fields_below>.input_position_below{
    /*overflow:   auto;*/
}
.setOBJ[data-type="table"]>.fields_below>.input_position_below>.table-wrapper>.form-table{
    /*border: 1px solid black !important;*/
}
/*TAB PANEL DESIGN*/
.setObject[data-type="tab-panel"] li.ui-state-active{
	border: 1px solid #cccccc !important;
	border-bottom-width: 0 !important;
}

@-moz-document url-prefix() {
	.setObject[data-type="tab-panel"] .form-tabbable-pane > .ui-tabs-nav li span.ui-icon.ui-icon-close{
		float:left;
	}
}

.setOBJ[data-type="tab-panel"] .ui-tabs-panel[role="tabpanel"]{
	/*font-size: 13px;*/
	/*font:normal normal normal 15px/15.399999618530273px 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;*/
}
.setOBJ[data-type="tab-panel"] .ui-tabs-panel[role="tabpanel"]{
	/*font-size: 13px;*/
	/*font:normal normal normal 15px/15.399999618530273px 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;*/
}

.ui-tabs-nav > li[tab-name]{
	width: auto !important;
	top:4px !important;
}

/*TAB PANEL SCROLLABLE NAV*/
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"]{
	display:inline-block !important;
}
.setOBJ[data-type="tab-panel"][ui-tabs-nav-scrollable="true"]{
	display:inline-block !important;
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav{
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	margin-left: 19px;
	margin-right: 22px;
	height: 37px;
	background-color:#F6F6F6 !important; 
	/* background: #ffffff !important; Old browsers
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%) !important; FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)) !important; Chrome,Safari4+
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%) !important; Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%) !important; Opera 11.10+
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%) !important; IE10+
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%) !important; W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ) !important; IE6-9
	*/
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav li:not(.ui-tabs-active):not(.ui-state-active){
	border-left: 1px solid #D3D3D3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
	background: rgba(0, 0, 0, 0.07) !important;
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav li.ui-tabs-active{
	outline: 1px solid #f2f2f2 !important;
}

.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ui-tabs-nav li{
	float: none;
	text-align: left;
	display: inline-block;
	bottom: -4px;
}

.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .form-tabbable-pane[has-scroll="true"]  .ui-tabs-nav{
	margin-left: 19px;
	margin-right: 22px;
	overflow-x: hidden;
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor{
	position: absolute;
	width: calc(100% - 8px);
	height: 0;
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor .ul-scroll-anchor-bg{
	/*background-color: #6e6e6e;*/
	display: inline-block;
	height: 41px;
	width: 100%;
	background-color: #f6f6f6;
	/*background: #ffffff !important;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)) !important;
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%) !important;
	background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%) !important;
	background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%) !important;
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ) !important;*/
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor .scroll-achor-left{
	width: 20px;
	height: 41px;
	background-color: rgba(0,0,0,0);
	/*background-color: #6e6e6e;*/
	float: left;
	display: none;
	padding: 13px 6px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor: pointer;

}

.ul-scroll-anchor .scroll-achor-left > i, .ul-scroll-anchor .scroll-achor-right > i {
	font-size: 15px;
	
}/*color: #fff !important;*/

.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .form-tabbable-pane[has-scroll="true"] > .ul-scroll-anchor .scroll-achor-left{
	display:block;
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .ul-scroll-anchor .scroll-achor-right{
	width: 20px;
	height: 41px;
	background-color: rgba(0,0,0,0);
	/*background-color: #6e6e6e;*/
	float: right;
	display: none;
	padding: 13px 5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor: pointer;
}
.setObject[data-type="tab-panel"][ui-tabs-nav-scrollable="true"] .form-tabbable-pane[has-scroll="true"] > .ul-scroll-anchor .scroll-achor-right{
	display: block;
}


/*LABEL ALIGNMENT LEFT*/
.align-left-wrapper{
	position:relative;
	width:100%;
	height: 100%;
}
.align-left-wrapper-table{
	display:table;
	width:100%;
	height:100%;
}

.align-left-wrapper-row{
	display:table-row;
}


.setObject .lbl-aligned-left{
	display: table-cell;
	vertical-align: top;
	width:45px;
	min-width:20px;
}

.setOBJ .lbl-aligned-left{
	display: table-cell;
	vertical-align: top;
	width:45px;
	min-width:20px;
}

.lbl-aligned-left .lbl-aligned-left-wrap{
	height: 100%;
	position: relative;
	width: 100%;
}
.clear-left-align{
	clear: both;
}


.obj_f-aligned-left{
	display: table-cell !important;
}

.obj_f-aligned-left .obj_f-aligned-left-wrap{
	height: 100%;
	position: relative;
	width: 100%;
}



/*NOTES STYLE PLACE HOLDER  [contentEditable=true]:empty:not(:focus):*/
.content-editable-field[contentEditable=true]:empty:not(:focus):before {
	content:attr(placeholder);
	color:rgb(150, 150, 150);
}
.content-editable-field[contentEditable=true]:empty:before {
	content:attr(placeholder);
	color:rgb(200,200,200);
}

/*MENTION POST*/
#popup_message .mentionContainer{ /*EEEDIT HERE*/
	position: relative;
}
#popup_message .mentionContainer .mentionSelectedContainer{ /*EEEDIT HERE*/
	min-height: 35px;
	width: 312px;
}

/*PROPERTIES OF FIELD FUNCTIONALITY*/
#popup_message select{
	margin:0;
}

.design-embed-highlights-prop td{
	vertical-align: top;
}

/* FOR SORTABLE IN MOBILITY*/
.sortable-placeholder{
	background-color: rgba(0,0,255,0.1);
	height: 30px;
	border: 1px solid black;
}
#sortable-mobile.ui-sortable{
	height: calc(100% - 52px);
	width: calc(100% - 20px);
	padding: 10px;
}



/*FOR FOCUSING*/

/*wag po i-comment ito - Carlo Medina*/
/*.component-primary-focus, .active-primary-element-nav {
	box-shadow: 0px 0px 10px blue !important;
	outline:1px solid blue !important;
}
.component-ancillary-focus, .active-secondary-element-nav{
	box-shadow: 0px 0px 10px rgb(23, 23, 26);
	outline:1px solid #222;
}*/
/*FOR RADIO AND TEXTBOX*/
.NM-redborder{
	border:2px solid red !important;
}
.rc-align-vertical{
	display: block;
}
.rc-align-horizontal{
	display: inline-table;
	width: 5px;
}
/*FOR TABLE*/
.ui-icon-edit{
	background-position: -64px -113px;
}
.dynamic-td-droppable-selected{
	background-color: rgba(100,100,100,0.5) !important;
}
.formbuilder_ws .form-table td{
	vertical-align: top;
	border: 1px solid #CCC;
}
#frmrequest .form-table td{
	vertical-align: top;
	border: 1px solid #ddd;
}
/*FOR RESIZABLE*/
.resizing-also-resize{
	background-color: rgba(200,200,255,0.5) !important;
}

.workspace{
	border: 1px solid #ddd;background: url(/images/themes/workspace.png);height: 600px; width:1030px;;
}

.contentBar_workspace{
	float: left;width: auto;border: 1px solid #d5d5d5;margin-left: 1px;background-color: #FAFAFA;margin-bottom: 200px;
}

input[class^="form-"],
input[class*="form-"]{
	/*color: black;*/
	/*background: #FFF;*/
	border: 1px solid #D5D5D5;
	 padding: 7px; 
	font-size: 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.formbuilder_ws .setObject{
		position: absolute;
	z-index: 1;
	min-width:80px;
	/*border: 2px dotted;*/

	/* border-color: transparent; */
	/*padding-right: 4px; remove for custom field css
	padding-left: 4px;*/
	display: inline-table;
	cursor: move;
	}
	.setObject-drag-handle{
	z-index: 3;
	cursor: move;
	}
	.setOBJ:not([data-type="embeded-view"]):not([data-type="smart_barcode_field"]){
		position: absolute;
		z-index: 1;
		min-width:80px;
		border: none;
		border-color: transparent;
		padding: 0px;
		display: inline-table;
	}
	
	/*.setObject:hover{
	outline:  1px dotted #33b5e5;
	}*/
	.setObjects_actions{
		height:20px;
		position: absolute;
		width: auto;
		margin-top: -19px;
		right: -1px;
		z-index: 5;
		top: -1px;
		
		color: #fff;
		
	}

	.obj_actions {
		width: 100%;
		height: 20px;
		padding: 2px;
		box-sizing: border-box;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	/* Object properties design */
	.object_properties_wrapper{
		float: left;
		width: 100%;
		margin-bottom: 5px;
		height: 200px;
		overflow:hidden;
	}
	.obj_label{
	/* min-height:20px;
	min-width:20px; */
	display: block;
	}
	.obj_label label{
	display: block;
	word-wrap:break-word;
	}
	/* Field */
	.form-text{
	min-width:80px;
	width:100%;
	height: 28px; 
	height: 32px;
	}
	.form-field{
	min-width:80px;
	width:40%;
		height: 28px;
	margin-top: 5px;
	margin-right: 20px;
	}
	.form-textarea_save{
	min-width:80px;
	width:100%;
	height: 50px;
	margin-top: 5px;
	background: #FAFAFA;
	border: 1px solid #D5D5D5 !important;
	padding: 7px;
	font-size: 11px;
	/*font-family: "open_sansregular";*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
	.form-textarea{
    /*font-family: "open_sansregular"*/
	min-width: 80px;
	width:100%;
	height: 50px;
	margin-top: 5px;
	margin-right: 20px;
	/*background: #FFF;*/
	border: 1px solid #D5D5D5;
	padding: 7px;
	font-size: 11px;
	/*font-family: "open_sansregular";*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
	.form-selectMany{
	width:100%;
	height: 100px;
	/*margin-top: 5px;*/ /* remove bec of object css */
	margin-right: 20px;
	/*background: #FFF;*/
	border: 1px solid #D5D5D5;
	padding: 7px;
	font-size: 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
	.form-select{
	width:100%;
	/*margin-top: 5px;*/
	/*margin-right: 20px;*/
	/*background: #FFF;*/
	border: 1px solid #D5D5D5;
	padding: 7px;
	font-size: 11px;
	/*font-family: "HelveticaNeue_Medium";*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	}
	.hovering_object{
	z-index: 2 !important;
	}
/* */
	.form_properties_container{
		position: relative;
		border: 1px solid;
	}
	.form_properties{
		position: fixed;
		top:37px;
		/*top: -70px;*/
		right: -211px;
		border-radius:5px 0px 0px 5px;
		border-left: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		border-right: 1px solid #DDD;
		min-height: 500px;
		width: 200px;
		background-color: #FAFAFA;
		z-index: 1000;
	padding: 5px;
	}
	.form_properties_actions{
		position: fixed;
		/*top: 37px;*/
		top:37px;
		right: 0;
		border-radius:5px 0px 0px 5px;
		border: 1px solid #ddd;
		height: 30px;
		min-width: 30px;
		background-color: #FAFAFA;
		border-right: none;
		cursor: pointer;
		z-index: 1000;
	
	}
		.form_properties_actions > div{
			margin-top: 5px;margin-left: 8px;
		}
	
/* Settings Design CSS */
	
	.form_settings{
		float: left;width: 100%;list-style: none;
	}
		.form_settings > div.form_menu:first-child{
			float: left;width: 100%;border: 1px solid #DDD;
		background: #FAFAFA;
		background: -moz-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #EFEFEF));
		background: -webkit-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
		background: -o-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
		background: -ms-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
		background: linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
		text-decoration: none;
		}
			.form_settings > div.form_menu:first-child > div{
				padding: 5px;height: 15px;font-size: 10px;
			}
		.form_settings > div.form_menu{
			float: left;width: 100%;
		}
		
			.form_settings > div.form_menu > div{
				padding: 5px;height: 15px;font-size: 10px;width: 45%;
			}
		 
	.form_settings > div.form_menu:first-child > div:hover{
		color: #000;
		text-decoration: none;
	}		 
	
	.form_settings > div.form_menu > div:hover{
		color: red;
		cursor: pointer;
		text-decoration: underline;
	}
	.properties_width_container{
	/*width:45%;*/
	}
	.ui-resizable-helper { border: 2px dotted #00F; }
	


	.ws-ruler-vertical-column-guide{
	width: 0px;
	/*background-color: rgba(255,100,100,0.7);*/
	border: 1px dotted #ccc;
	height: 100%;
	position: absolute;
	z-index: 500;
	}
	.ws-ruler-horizontal-row-guide{
			height: 0px;
		   /* background-color: rgba(255,100,100,0.7);*/
		   border: 1px dotted #ccc;
			width: 100%;
			position: absolute;
			z-index: 500;
	}


#getformImage input {
	width: 50px !important;
}


/** Embed source form  **/

.fl-tbl-embed-source-form tbody tr td > .properties_width_container {
	margin-right: 10px;
}


.fl-addRemoveItem {
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

.forTblAddRemoveItem {
	margin-top: 30px;
}

.forTblAddRemoveItem textarea {
	margin-top: 0px !important;
}

.fl-tbl-embed-source-form-content {
	/*border: 1px solid #cfdbe2;
	padding: 5px;
	margin-top: 10px;
	border-radius: 3px;*/
}
.fl-tbl-embed-source-form-content table tbody{
	outline: 1px solid rgba(213, 213, 213, 1);
	outline-offset: -2px;
	border: 15px solid rgba(0,0,0,0);
}

.fl-tbl-embed-source-form-content table tbody td{
	vertical-align: bottom;
}
/** end Embed source form  **/

i[enable-mobility-form], i[disable-mobility-form] {
	padding: 5px;
	background-color: #000000;
	cursor: pointer;
	 width: 23px;
  	height: 12px;
  	font-size: 15px;

}

i[enable-mobility-form="true"] {

	text-shadow: 0px 0px 5px green;
	color: rgba(0, 255, 0, 0.8);
}
i[disable-mobility-form="true"] {
	text-shadow: 0px 0px 5px red;
	color: rgb(255, 39, 39);
}
i[enable-mobility-form="false"] {

	/*text-shadow: 0px 0px 5px green;
	color: none;*/
	text-shadow: 0px 0px 5px gray;
	color: gray;
}
i[disable-mobility-form="false"] {
	/*text-shadow: 0px 0px 5px red;
	color: none;*/
	text-shadow: 0px 0px 5px gray;
	color: gray;

}

input[data-action-type="multiple_attachmentForm"], input[data-action-type="attachmentForm"] {
	/*min-width: 170px !important;*/
	/*width: auto !important; */
   	font-size: 12px;
   	width: 100%;
}

.setObject[data-type="attachment_on_request"], .setObject[data-type="attachmentForm"] {
	width: 170px;
}

.embedded-view-columns tbody tr td {
	padding:2px;
}

.ui-state-active.ui-accordion-header-active > .form-accordion-action-tbl > .form-accordion-action-row > .form-accordion-action-cell > ul.form-accordion-action-icon > li  span.fa  {
	color:#ffffff;
}

.ui-accordion-header-active > .form-accordion-action-tbl > .form-accordion-action-row > .form-accordion-action-cell > ul.form-accordion-action-icon > li  span.fa  {
	color:#4E4E4E;
}

.formbuilder-description-tooltip-inner {
	margin-bottom: 10px;
	padding-top: 0px;
}

.formbuilder-description-tooltip-help {
	text-align: center;
	background-color: red;
	color: #ffffff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 3px 0px 3px 0px;

}


.search-formbuilder-desc {
	position: fixed;
    width: 99.8%;
    left: 0px;
    top: 40px;
    border-radius: 0px;
}

.fl-formbuilder-desc-list-wrapper {
	margin-top: 60px;
}
/*slide menu*/
.layersetting{
  padding-top: 3px;
}
.fl-widget-contentv3 {
  border-bottom: 1px solid #cfdbe2;
  margin-top: 0% !important;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0% !important;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 100% !important;
  height: 22px;
}
.fl-widget-starred-content-wrapperv3 {
  width: auto;
  margin-left: 30px;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 5px;
}
.fl-widget-starred-content-wrapperv3 .fl-wchname {
  margin-bottom: 0px;
}
/* line 234, ../sass/widgets/widgets.scss */
.fl-widget-starred-content-wrapperv3 .fl-wchdate {
  color: #33b5e5;
  font-size: 11px;
}

/* line 244, ../sass/widgets/widgets.scss */
.fl-widget-starred-content-wrapperv3 i.fa-times {
  margin-right: 5px;
}
#slide_Menu.closed{
    right:-251px;
}

#slide_Menu{
    position:fixed;
    right:0;
    top:220px;
    width:250px;
    height:385px;
    /*border:1px solid #416888;*/
    border-right:0px;
    background-color:#FFFFFF;
    z-index:20;
}

#slide_Menu a.toggleBtn{
    position:absolute;
    left:0;
    top:0;
    outline:none;
    display:block;
    height:27px;
    width:13px;
    /*border: 1px solid #416888;*/
    /*background-color: #CFDBE2;*/
    /*border-width:1px 1px 1px 1px;*/
    margin:0;
    padding:0 5px 0;
    color:#000;
    text-decoration:none;
    font:12px/25px Verdana, Arial, Helvetica, sans-serif;
    /*background:url(/images/arrow.gif) no-repeat 0px -88px;*/
    z-index:20;
    /*border-left: 1px solid #7693AE;*/
}

#slide_Menu a.toggleBtnHighlight{
    position:absolute;
    left:0;
    top:0;
    outline:none;
    display:block;
    height:27px;
    width:13px;
    /*border:1px solid #416888;*/
    /*background-color: #CFDBE2;*/
    /*border-width:1px 1px 1px 1px;*/
    margin:0;
    padding:0 5px 0;
    color:#000;
    text-decoration:none;
    font:12px/25px Verdana, Arial, Helvetica, sans-serif;
   /* background:url(/images/arrow.gif) no-repeat 0px 0px;*/
    z-index:20;
    /*border-left: 1px solid #7693AE;*/
}       

.layerContainer{

    padding-top: 0px;
    padding:5px;
    z-index:20;
}


.layerSpan{
    width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:11px;
    cursor: default;
}
.ui-state-highlight { 
    height: 1.5em;
    line-height: 1.2em; 
}
.layerhighlight{
	    color: #0201FB	
}

.flist-tab-control-formulas > ul.ui-widget-header {
	background:transparent !important;
	padding: 0px;
}
#obj_defaultValueChoices *{
	font-size: 12px !important;
	line-height:23px !important;
}
.layer_img{
	cursor:move;
}
#popup_container.fl-modal2{
	top: 45px!important;
}
.workspace_bckgrnd{
	z-index: 0 !important;
}