
/*  start of theme 1  */

.theme1:not([data-type="button"]) {
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*background-color: #ffddcc !important;*/
    /*border-color: #FFA07A !important;*/
    /*border-bottom: 1px  solid !important;*/
}
/* theme 3 fields */
.theme1 input[type="text"],.theme1 input[type="radio"],.theme1 input[type="checkbox"],.theme1 select, .theme1 textarea{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-color: #FFA07A !important;
    border-top: 3px solid;
    border-right: 3px solid;
    /*margin: 5px !important;*/
    /*border-bottom: 1px  solid;*/
}
.theme1 i{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    color: #802a00;
}
/* focus */
.theme1 input[type="text"]:focus, .theme1 input[type="radio"]:focus, .theme1 select:focus, .theme1 input[type="checkbox"]:focus, .theme1 textarea:focus{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    outline: none !important;
    border-color: orange !important;
    box-shadow: 0 0 10px orange !important;
}
/* labels */
.theme1 .obj_label label{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*font-family: "Segoe UI" !important;*/
    /*color : #802a00 !important;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
    /*background: linear-gradient(90deg, red , yellow);*/
    padding: 3px;
    padding-left: 0px;
    /*background-color: #ff9966*/
}
/*  end of theme 1  */

/*  start of theme 2  */

.theme2:not([data-type="button"]) {
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*background-color: #ecffb3 !important;*/
}

.theme2 input[type="text"],.theme2 input[type="radio"],.theme2 input[type="checkbox"],.theme2 select,.theme2 textarea{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-color: #CACACA !important;
    border-width: 3px !important;
    
/*    border-top: none !important;
    border-right: none !important;*/
    /*background: linear-gradient(90deg, #E7E7E7, rgba(0,0,0,0));*/
    
}
.theme2 i{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    color: #A2A2A2;
}
/* focus */
.theme2 input[type="text"]:focus, .theme2 input[type="radio"]:focus, .theme2 select:focus, .theme2 input[type="checkbox"]:focus, .theme2 textarea:focus{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    outline: none !important;
    border-color: #CACACA !important;
    box-shadow: 0 0 0px 2px #333333 !important;
}
/* labels */
.theme2 .obj_label label{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*font-family: "Segoe UI" !important;*/
    /*color : #000000 !important;*/
    /*background: linear-gradient(90deg, #ecffb3 , white);*/
    padding: 5px;
    padding-left: 0px;
    /*background-color: #A2A2A2*/
}

/*  end of theme 2  */

/*  start of theme 3  */

.theme3:not([data-type="button"]) {
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;

    /*background-color: rgb(156, 210, 86) !important;*/
}
.theme3 .input_position_below{
  /*  border-width: 5px !important;
    border-color: #CACACA !important;
    border-top: none !important;
    border-radius: 0px !important;*/
}
/* theme 3 fields */
.theme3 input[type="text"],.theme3 input[type="radio"],.theme3 input[type="checkbox"],.theme3 select, .theme3 textarea{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-width: 1px !important;
    border-color: #CACACA !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
}
.theme3 i{
    color: #000000;
}
/* focus */
.theme3 input[type="text"]:focus, .theme3 input[type="radio"]:focus, .theme3 select:focus, .theme3 input[type="checkbox"]:focus, .theme3 textarea:focus{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    outline: none !important;
    border-color: #ace600 !important;
    border-width: 3px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    /*box-shadow: 0 2px 10px #ace600 !important;*/
}
/* labels */
.theme3 .obj_label label{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*font-family: "Segoe UI" !important;*/
    /*color : #FFFFFF !important;*/
    /*background: linear-gradient(90deg, #ecffb3 , #ace600);*/
    padding: 5px;
    padding-left: 0px;
    /*background-color: #77BD1D*/
}
/*  end of theme 3  */

/*  start of theme 4  */

.theme4:not([data-type="button"]) {
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*background-color: #ecffb3 !important;*/
}
/* theme 3 fields */
.theme4 input[type="text"],.theme4 input[type="radio"],.theme4 input[type="checkbox"],.theme4 select, .theme4 textarea{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border-color: #C8C8C8 !important;
    background: linear-gradient(180deg, #E3E3E4, #F3F3F4, white);
}
.theme4 i{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    color: #2693F3;
}
/* focus */
.theme4 input[type="text"]:focus, .theme4 input[type="radio"]:focus, .theme4 select:focus, .theme4 input[type="checkbox"]:focus, .theme4 textarea:focus{

    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    outline: none !important;
    border-color: #2693F3 !important;
    box-shadow: 0 0 10px #2693F3 !important;
}
/* labels */
.theme4 .obj_label label{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    /*font-family: "Segoe UI" !important;*/
    /*color : #77BD1D !important;*/
    /*background: linear-gradient(90deg, #ecffb3 , white);*/
    padding: 5px;
    padding-left: 0px;
    /*background-color: #ecffb3*/
}



/*  end of theme 4  */
