<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en">
<link href="/css/bootstrap/bootstrap3.min.css" rel="stylesheet">
<link href="/css/collaboration/collaboration.css" rel="stylesheet">
<link href="/css/collaboration/collaboration-scheduler.css" rel="stylesheet">


<script src="/js/library/jqueryLib/jquery-1.10.0.min.js"></script>  
<script src="/js/library/jqueryLib/jquery-ui.js"></script>
<script src="/js/library/dashboard/angular.min.js"></script>  
<script src="/js/library/collaboration/angular-ui-router.js"></script>  
<script src="/js/library/collaboration/angular-dragdrop.min.js"></script>  
<script src="/js/library/dashboard/ng-tags-input.min.js"></script>
<script src="/js/functions/collaboration/collaboration.js"></script>  
<script src="/js/functions/collaboration/collab-scheduler.js"></script>  
<script src="/js/functions/collaboration/collab-models.js"></script> 

<head>
<style>
	.fl-user-navigation-wrapper-ui2.fl-infinite-nav-wrapper{
		display: none !important;
	}

	.fl-content{
		background-color: #fff!important;	
		padding: 0px;
		width: 100%;
	}
	body{
		background-color: #fff!important;

	}

	.fl-content {
    background-color: #fff!important;
    padding: 0px;
    /* width: 100%; */
    /* height: 100%; */
    top: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.fl-main-content-wrapper{
	position: initial;
}
</style>
</head>

<body ng-app="collaboration" ng-controller="collaborationController">
  <a ui-sref = "collaboration({id : 4})">teststet</a>

<div class="panel panel-default panel-scheduler">
  <collab-Scheduler class="panel-body">
    
  </collab-Scheduler>
</div>

{{params}}



</body></html>