@import "utilities";

.fl-app-config-main-tab-wrapper {
	h2 {
		font-family:droid_sansregular_bold;
	}

	.fl-tab-wrapper-app-config{
		@extend %fN;
		margin: 0px;
    	padding-bottom: 0px;
	}

	.tab-container-app-config {
		margin:0px;
		padding:0px;
		width:100%;

		.div_1_of_1, .div_1_of_2 {
			padding-top:0px;
			padding-bottom:0px;
			margin-top: 0px;
			margin-bottom:0px;
		}

	
		.fl-header-style {
			.section {
				.fl-list-like-bordered {
					.fl-right {
						width:75%;

						input {
							width:100%;
						}

						.sp-replacer {
							width: 97%;
							.sp-preview {
								width:96%;
							}
						}
					}
				}
			}
		}
	
		#businessAuto {
			margin-left:0px;
		}	
	}
}